                        <!-- product post (services & review) -->
                        <div class="col-12"
                            style="margin-top:20px;">
                            <h3 class="ecommerce-post-title"
                                style="padding-bottom:10px;border-bottom:1px solid #ccc;">
                                Avaliações
                            </h3>
                        </div>

                        <div class="col-12"
                            style="margin-top:20px;">
                            <h3 class="ecommerce-post-title "
                                style="padding-bottom:10px;">
                                <small class="text-right text-primary text-bold" 
                                    style="font-size:19px;">Total</small><br/>
                                {{totalReviews}} Avaliações
                            </h3>

                            <h3 class="ecommerce-post-title"
                                style="padding-bottom:10px;clear:both;border-bottom:1px solid #ccc;">
                                5
                                <span class="fa fa-star text-secondary"
                                    style="font-size:19px"></span>
                                <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar"     aria-valuemin="0" 
                                        style="width: {{(reviewMap.r5/totalReviews)*100}}%">
                                  </div>
                                </div>
                                <span class="" style="color:#666;font-size:15px;">
                                    {{reviewMap.r5}} avaliações
                                </span>
                                <br/>

                                4 
                                <span class="fa fa-star text-secondary"
                                    style="font-size:19px"></span>
                                <div class="progress">
                                  <div class="progress-bar bg-primary" role="progressbar"     aria-valuemin="0" 
                                        style="width: {{(reviewMap.r4/totalReviews)*100}}%">
                                  </div>
                                </div>
                                <span class="" style="color:#666;font-size:15px;">
                                    {{reviewMap.r4}} avaliações
                                </span>
                                <br/>

                                3
                                <span class="fa fa-star text-secondary"
                                    style="font-size:19px"></span>
                                <div class="progress">
                                  <div class="progress-bar bg-primary" role="progressbar"     aria-valuemin="0" 
                                        style="width: {{(reviewMap.r3/totalReviews)*100}}%">
                                  </div>
                                </div>
                                <span class="" style="color:#666;font-size:15px;">
                                    {{reviewMap.r3}} avaliações
                                </span>

                                <br/>
                                2 
                                <span class="fa fa-star text-secondary"
                                    style="font-size:19px"></span>
                                <div class="progress">
                                  <div class="progress-bar bg-primary" role="progressbar"     aria-valuemin="0" 
                                        style="width: {{(reviewMap.r2/totalReviews)*100}}%">
                                  </div>
                                </div>
                                <span class="" style="color:#666;font-size:15px;">
                                    {{reviewMap.r2}} avaliações
                                </span>
                                <br/>

                                1
                                <span class="fa fa-star text-secondary"
                                    style="font-size:19px"></span>
                                <div class="progress">
                                  <div class="progress-bar bg-warning" role="progressbar"     aria-valuemin="0" 
                                        style="width: {{(reviewMap.r1/totalReviews)*100}}%">
                                  </div>
                                </div>
                                <span class="" style="color:#666;font-size:15px;">
                                    {{reviewMap.r1}} avaliações
                                </span>
                            </h3>
                        </div>
