    <div class="row rs-margin ecommerce-top-bar ">
        <!-- search -->
        <div class="col-12" 
          style="padding:0px;background-color: <%= compobj.fields[$PCF.comp_descr] %>">
            <div class="row rs-margin">
                <div class="col-8" style="padding-left:0px;padding-right:0px;">
                    <div class="ecommerce-search">

                      <form class="form-inline" 
                        method="GET" action="ec-search.html">
                        <input class="form-control search-input" 
                            type="search" 
                            name="q"
                            placeholder="Search" 
                            aria-label="Search"
                            style="margin:auto;width:100%"
                        />
                      </form>

                    </div>
                </div>

                <div class="col-4">
                    <table class="table">
                        <tbody>
                          <tr>
                              <td style="border:0px;width:100px;font-size:24px;padding-bottom:0px;padding-right:0px;padding-left:0px;" 
                                class="text-white text-center">
                                <!-- <a href="cart-<%-compobj.id.slice(0,6) %>.html" > -->
                                    <!--<a href="cart-<%-compobj.id.substr(0, 6)%>.html">-->
                                  <a href="javascript:void(0)" 
                                      ng-click="openMyCart('<%= compobj.id %>')"
                                      class="text-white">
                                    <span class="fa fa-shopping-cart"
                                      style="font-size:26px;"></span>
                                      <sup>
                                        <span class="text-bold badge bg-danger text-white" 
                                          style="font-size:16px;"
                                          id="shopping-amount-<%= compobj.id %>">
                                          0
                                        </span>
                                      </sup>
                                </a>
                              </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
