<div class="container ecommerce-item-page"
    ng-controller="x99EcommerceSearch"
    ng-init="initCallbacks('<%=compobj.fields[$PCF.webapp_id]%>')"
    style="background-color:#f4f4f4;padding:15px;margin-top:90px;">

    <h3
      ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')">
        <a href="<%= compobj.ecommerce_conf.componentMainPage %>.html"
            class="btn btn-round bg-secondary text-white text-bold">
            <span class="fa fa-home"></span>
            Home
        </a>
    </h3>

    <h3 style="padding-bottom:5px;margin-top:20px;"
      class="search-title"
      ng-if="category_label"
      ng-bind="category_label">
        <br/>
    </h3>

    <h3 class="text-secondary" style="font-size:19px;">
        <small ng-bind="totalFound + ' produtos encontrados.'"></small>
    </h3>

    <div class="row rs-margin"
        ng-init="searchProducts('<%-compobj.id%>', '<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>','','<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>')"
        style="min-height:500px;display:block;">

        <div class="col-12" style="padding:0px;">
            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;display:none">
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-addcart-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        add to cart
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    id="entity-err-<%-compobj.id%>-x">
                    <a href="#entity-err-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Err
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-12" style="padding:0px;">
            <div class="tab-content" 
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center>
                          <div style="padding-top:32px;"
                            ng-if="REQ_STATUS=='LOADING'"
                            class="ecommerce-items-loader">
                              <h2 class="text-warning">
                                  <span class="fa fa-refresh fa-spin"
                                        style="font-size:45px;"></span>
                                  <br/>
                                  <strong class="text-muted" style="font-size: 20px;">
                                    Aguarde
                                  </strong>
                              </h2>
                          </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >
                  <!--
                  <h3>
                    <%= compobj.ecommerce_conf.prod_template %>
                  </h3>
                  -->
                  <%= compobj.item_html %>
                </div>

                <div class="tab-pane fade "
                    id="entity-addcart-<%-compobj.id%>"
                    style="background-color:#fff;"
                    role="tabpanel">
                    <h2 class="text-primary">
                        Add to Cart
                    </h2>

                    <button class="btn bg-success text-white text-bold"
                        ng-click="addToCartDone('<%-compobj.id%>')">
                        Done
                    </button>
                </div>

                <div class="tab-pane fade"
                    id="entity-err-<%-compobj.id%>"
                    role="tabpanel">

                    <center>
                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NOT_FOUND'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary"
                                style="font-size:68px;">
                                404
                            </h2>
                            <h2 class="text-secondary">
                                <small>Resource not found</small>
                            </h2>
                        </div>

                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NO_CONNECTION'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary">
                                <small>Verify your internet connection</small>
                            </h2>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=""
  ng-controller="x99EcommerceCart"
  ng-init="initCartModals('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$INV.price%>', '<%-$INV.title%>', '<%-$INV.image%>')">
    <!-- image-upload -->
    <div class="modal fade" id="ecommerce-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;background-color:#1f4788;border-radius:0px;border-bottom: 0px;">
                    <h5 style="color:#fff;margin:0px" class="pull-left">
                        Adicionar ao carrinho de compras
                    </h5>

                    <button type="button" class="close pull-right" 
                        data-dismiss="modal" aria-label="Close" 
                        style="padding-top:1px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body"
                    style="padding-top:0px;padding-bottom:20px;">

                    <div class="row rs-margin">
                      <div class="col-12" style="margin-top:15px;">
                        <div class="cart-item">
                            <div class="product">
                              <img ng-src="{{currentItem.image}}"
                                  width="100px;display:inline"
                                  class="pull-left"
                                 alt="{{currentItem.image}}" />
                              <strong class="title">
                                {{currentItem.label}}
                              </strong>
                              <span>
                                <span data-bind="subtotalLabel">
                                    {{currentItem.price|currency:''}}
                                </span>$
                              </span>
                            </div>
                        </div>

                          <h3 class="text-center" style="margin:0px;">
                            x
                          </h3>
                      </div>

                      <div class="col-12">
                          <table class="table" style="margin:0px;">
                            <tbody>
                              <tr>
                                <td style="border-top:0px;border-bottom:0px;">
                                    <input type="text" disabled 
                                      ng-model="currentItem.amount"
                                      class="form-control"
                                      style="font-size:30px;"
                                    />
                                </td>
    
                                <td style="border-top:0px;display:inline;border-bottom:0px;">
                                    <button class="btn btn-secondary btn-round"
                                        style="margin-top:20px;"
                                        ng-click="incrAmount('<%=compobj.id%>', currentItem)">
                                      <span class="fa fa-caret-up text-white"></span>
                                    </button>
                                    <button class="btn btn-secondary btn-round"
                                      ng-disable="myCart.items[currentItem.id].amount<=0"
                                      style="margin-top:20px;"
                                      ng-click="decrAmount('<%=compobj.id%>', currentItem)">
                                      <span class="fa fa-caret-down text-white"></span>
                                    </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <h3 class="text-left" style="margin:0px;">
                            Total<br/>
                            <small ng-if="!currentItem.amount">
                                {{0.00}}
                            </small>
                            <small ng-if="currentItem.amount>=1">
                                {{currentItem.amount*currentItem.price|currency: ''}} $
                            </small>
                          </h3>

                          <button type="button" class="btn bg-primary text-white btn-sm" data-dismiss="modal">
                            OK
                          </button>

                          <button class="btn bg-danger text-white btn-sm"
                            ng-click="removeFromCart('<%=compobj.id%>', currentItem)">
                            Remover
                          </button>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;background-color:#1f4788;border-radius:0px;border-bottom: 0px;">
                    <h5 style="color:#fff;margin:0px" class="pull-left">
                        <span class="fa fa-shopping-cart"></span>
                        Meu carrinho de compras
                    </h5>

                    <button type="button" class="close pull-right" 
                        data-dismiss="modal" aria-label="Close" 
                        style="padding-top:1px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body"
                    style="padding-top:0px;padding-bottom:20px;min-height:380px;">

                    <h3 class="text-right" style="margin:0px;">
                        Total
                        <small>
                            {{total_cart|currency:''}}$
                        </small>
                    </h3>

                    <div role="tabpanel">

                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist"
                        style="display:none">
                        <li role="presentation" class="nav-item">
                            <a href="#cart-home-details" aria-controls="cart-home-details" 
                                role="tab" data-toggle="tab"
                                class="nav-link active">
                                Carrinho
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#preparing-cart-<%=compobj.id%>" 
                                aria-controls="preparing-cart-<%=compobj.id%>" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Prepar o carrinho
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#reserve-now-<%=compobj.id%>" aria-controls="reserve-now" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Reservar
                            </a>
                        </li>
                        <li role="presentation"
                            style="display:none;">
                            <a href="#reserve-success-<%=compobj.id%>" 
                                aria-controls="reserve-success-<%=compobj.id%>" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Reserva com sucesso
                            </a>
                        </li>


                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="cart-home-details">
                            <div class="row rs-margin">
                                <div class="col-12" style="margin-top:15px;">
                                </div>

                                <div class="col-12" style="max-height:300px;overflow:hidden;overflow-y:scroll">
                                    <div class="cart-item"
                                        ng-repeat="item in item_list">
                                        <div class="product" 
                                            >
                                            <img ng-src="{{item.image}}"
                                                width="100px;display:inline"
                                                class="pull-left"
                                                alt="{{item.image}}"
                                            />
                                            <strong class="title">
                                                {{item.label}}
                                            </strong>
                                            <br/>
                                            <span>
                                                <span >
                                                    {{item.price | currency:''}}
                                                </span>$
                                            </span>
                                            <strong>x</strong>
                                            <input class="form-control" 
                                                style="width:160px"
                                                ng-model="item.amount" 
                                            />
                                        </div>
                                    </div>

                                </div>

                               <div class="col-12">
                                  <!--
                                  <button class="btn bg-primary text-white btn-lg text-bold">
                                    <span class="fa fa-credit-card"></span>
                                    Checkout
                                  </button>
                                  -->
                                  <a href="ec-cart.html" class="btn bg-primary text-white btn-lg text-bold btn-block"
                                    ng-if="item_list.length>0"
                                    ng-click="reserveNow('<%=compobj.id%>', '<%=$INV.price%>')"
                                    style="color:#fff">
                                    <span class="fa fa-card"></span>
                                    Checkout
                                  </a>
                              </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="preparing-cart-<%=compobj.id%>">
                            <div ng-if="loading_cart">
                                <span class="fa fa-refresh fa-spin"></span>
                                <h3>Preparando o carinho...</h3>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="reserve-success-<%=compobj.id%>">
                            <span class="fa fa-check"></span>
                            <h3>Reserva efectuada com sucesso</h3>
                        </div>

                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

