<div ng-controller="x99Ecommerce"
  class="">

    <div class="row rs-margin feature-ecommerce">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 feature-delivery">
          <center>
              <div class="feature-item">
                  <span class="fa fa-truck fa-service-logo pull-left"></span>
                  <div class="x99-service-descr pull-left">
                      <h3 class="h3-feature">Delivery</h3>
                      <span class="h3-text"><%= compobj.fields[$PCF.descr_df] %></span>
                  </div>
              </div>
          </center>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center feature-payment">
          <center>
              <div class="feature-item">
                  <span class="fa fa-credit-card fa-service-logo pull-left"
                      style="font-size:58px;"></span>
                  <div class="x99-service-descr pull-left">
                      <h3 class="h3-feature">Pagamento</h3>
                      <span>
                        <%= compobj.fields[$PCF.title_df] %>
                      </span>
                  </div>
              </div>
          </center>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center feature-contact">
          <center>
            <div class="feature-item">
                <span class="fa fa-phone fa-service-logo pull-left">
                </span>
                <div class="x99-service-descr pull-left">
                    <!-- <strong>Contact</strong> -->
                    <h3 class="h3-feature">Contacto</h3>
                    <a href="mailto:<%= compobj.fields[$PCF.email_1] %>"><%= compobj.fields[$PCF.email_1] %></a>
                    <br/>
                    <a href="tel:<%= compobj.fields[$PCF.phone_1] %>"
                        style="color:#333;font-weight:bold;"><%= compobj.fields[$PCF.phone_1] %></a>
                </div>
            </div>
          </center>
        </div>
    </div>
</div>

<div class=" <%-compobj.fields[$PCF.comp_size] %> "
    ng-init="initCallbacks('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$INV.price%>', '<%-$INV.title%>')"
    ng-controller="x99Ecommerce">

  <div class="row rs-margin ecommerce-product-container"
      ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')"
      style="background-color:#f4f4f4;min-height:500px;">

      <div class="col-12" style="padding:0px;">
          <ul class="nav nav-tabs xb-grad" role="tablist"
              style="background-color:#f4f4f4;display:none">
              <li role="presentation" 
                  class="nav-item"
                  style=""
                  id="entity-home-<%-compobj.id%>-x">
                  <a href="#entity-home-<%-compobj.id%>" 
                      role="tab" data-toggle="tab"
                      class="nav-link text-bold active">
                      Home
                  </a>
              </li>

              <li role="presentation" 
                  class="nav-item"
                  style=""
                  id="entity-list-<%-compobj.id%>-x">
                  <a href="#entity-list-<%-compobj.id%>" 
                      role="tab" data-toggle="tab"
                      class="nav-link text-bold">
                      Posts
                  </a>
              </li>
          </ul>
      </div>

      <div class="col-12" id="category-bar-<%=compobj.id%>">


        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <a class="navbar-brand" href="#"
            ng-click="loadProducts('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>','<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>','<%-compobj.ecommerce_conf.item_limit%>')">
            Todos
          </a>
          <button class="navbar-toggler text-danger" type="button" 
                data-toggle="collapse" data-target="#navbarSupportedContent-<%=compobj.id%>" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"
                style="color:#fff"></span>
          </button>


          <div class="collapse navbar-collapse nav-cat-menu" id="navbarSupportedContent-<%=compobj.id%>">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item nav-cat-item"
                ng-repeat="cat in cat_list.list"
                ng-click="loadByCategory('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', {cat_id: cat.id}, cat, '<%-compobj.ecommerce_conf.item_limit%>')">

                <a class="nav-link nav-cat-alink" href="javascript:void()"
                    style="color:#ccc;">
                    <span ng-bind="cat.fields.<%= $OTF.label_df %>"></span>
                    <span class="badge cat-badge-count" ng-bind="cat.fields.cat_count">
                    </span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="col-12"
            style="min-height:580px;"
          id="product-frame-container-<%=compobj.id%>"
          ng-init="loadProducts('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', '<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>', '<%-compobj.ecommerce_conf.item_limit%>')">
          <div class="tab-content"
              ng-init="computeCategory('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', '<%-compobj.fields[$PCF.page_id]%>')"
              id="blogMgr-<%-compobj.id%>">

              <div class="tab-pane fade show active"
                  id="entity-home-<%-compobj.id%>"
                  role="tabpanel">
                  <center>
                      <div style="padding-top:32px;"
                        class="ecommerce-items-loader">
                          <h2 class="text-warning">
                              <span class="fa fa-refresh fa-spin"
                                    style="font-size:45px;"></span>
                              <br/>
                              <strong class="text-muted" style="font-size: 20px;">
                                Aguarde
                              </strong>
                          </h2>
                      </div>
                  </center>
              </div>

              <div class="tab-pane fade"
                  id="entity-list-<%-compobj.id%>"
                  role="tabpanel" >

                  <div class="row ">
                    <div class="col-12 text-center"
                        >
                        <div style="padding-top:32px;"
                            ng-if="loading_items"
                          class="ecommerce-items-loader">
                            <h2 class="text-warning">
                                <span class="fa fa-refresh fa-spin"
                                      style="font-size:45px;"></span>
                                <br/>
                                <strong class="text-muted" style="font-size: 20px;">
                                  Aguarde
                                </strong>
                            </h2>
                        </div>
    
                        <div style="padding-top:32px;"
                          ng-if="!loading_items && loading_err"
                          class="ecommerce-items-error-loading">
                            <h2 class="text-danger">
                                <span class="fa fa-times"
                                      style="font-size:45px;"></span>
                                <br/>
                                <strong style="font-size: 20px;color:#333;">
                                  N&atilde;o foi possivel carregar os items.<br/>
                                  Por favor tente mais tarde
                                </strong>
                            </h2>
                        </div>
                    </div>
                   
                   <div class="col-12 category-filter-display" id="category-filter-display-<%=compobj.id%>">
                        <h3 style="padding-bottom:5px;margin-top:0px;"
                              class="search-title category-title"
                              ng-if="currentCat"
                              ng-bind="currentCat.fields.<%=$OTF.label_df %>">
                            <br/>
                        </h3>
                        <h3 class="text-secondary product-amount" style="font-size:19px;"
                            ng-if="currentCat">
                            <small ng-bind="item_list.totalCount + ' produtos encontrados.'"></small>
                        </h3>
                   </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 cursor-pointer ecommerce-it-container"
                      ng-repeat="item in item_list.list">
                        <div class="card ecommerce-item">

                          <div style="height:220px;background:url('{{item.fields.<%-$INV.image%>}}');background-size:cover;"
                              class="prod-bg-image"
                              ng-click="openProduct(item, '<%-compobj.id%>')">
                            <p ng-repeat="tag in item.category.tags track by $index"
                              class="tag-item-{{$index}} tag-item ">
                              {{tag.label}}
                            </p>
                          </div>

                          <div class="card-body">
                              <h4 class="ecommerce-item-title text-center" 
                                ng-click="openProduct(item, '<%-compobj.id%>')"
                                ng-bind="item.fields.<%-$INV.title%>">
                              </h4>

                              <h4 class="card-title text-danger ecommerc-item-price text-center"
                                ng-click="openProduct(item, '<%-compobj.id%>')">
                                <span class="item-price" ng-bind="item.fields.<%-$INV.price%>|currency:''"></span>
                                <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
                              </h4>

                              <h4 class="card-title ecommerce-item-old-price text-center"
                                ng-click="openProduct(item, '<%-compobj.id%>')">
                                <div ng-if="item.fields.<%-$INV.old_price%>>0">
                                  <span class="item-price" ng-bind="item.fields.<%-$INV.old_price%>|currency:''"></span>
                                  <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
                                </div>
                              </h4>

                              <h4 class="card-title ecommerce-item-review text-center"
                                ng-click="openProduct(item, '<%-compobj.id%>')">
                                <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=1"></span>
                                <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=2"></span>
                                <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=3"></span>
                                <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=4"></span>
                                <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=5"></span>

                                <span ng-if="item.fields.prod_rev_count>0"
                                    ng-bind="item.fields.prod_rev_count"></span>

                                <span class="text-muted"
                                  ng-if="item.fields.prod_rev_count==0 && '<%=compobj.org%>'!='e22c394b31c74063'">
                                  Sem Avaliações
                                </span>
                              </h4>

                              <h4 class="card-title ecommerce-item-tags text-muted text-center"
                                >
                                <span class="fa fa-tag" style="font-size:11px;"
                                  ng-if="item.category.list.length>0"></span>
                                  <small ng-bind="item.category.list[item.category.list.length-1].label">
                                  </small>
                              </h4>

                              <div ng-if="item.fields['<%=$INV.state%>']=='PUBLISHED'">
                                <button class="btn bg-white text-bold btn-block btn-add-cart"
                                  style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                                  ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                                  >
                                  <span class="fa fa-shopping-cart"></span>
                                  ADICIONAR
                                  <span style="color:#333;"
                                    class="item-amount"
                                    id="item-amount-{{item.id}}">
                                  </span>
                                </button>
                              </div>

                              <div ng-if="item.fields['<%=$INV.state%>']=='NOT_AVAILABLE'">
                                <button class="btn text-bold btn-block bg-secondary"
                                  style="margin-top:10px;"
                                  >
                                  N&Atilde;O DISPONIVEL
                                </button>
                              </div>

                              <div ng-if="item.fields['<%=$INV.state%>']=='NO_STOCK'">
                                <button class="btn bg-danger text-bold btn-block btn-danger"
                                  style="margin-top:10px;"
                                  >
                                  FORA DE STOCK
                                </button>
                              </div>

                          </div> 
                        </div>
                    </div>

                    <div class="col-12" style="">
                          <div style="padding-top:32px;"
                            ng-if="loading_more"
                            class="ecommerce-items-loader text-center">
                              <h2 class="text-warning">
                                  <span class="fa fa-refresh fa-spin"
                                        style="font-size:45px;"></span>
                                  <br/>
                                  <strong class="text-muted" style="font-size: 20px;">
                                    Carregando
                                  </strong>
                              </h2>
                          </div>

                        <div>
                            <button class="btn btn-primary btn-block load-more-btn"
                                id="loadmorebtn-<%=compobj.id%>"
                                ng-disabled="loading_more"
                                ng-if="item_list.totalCount>item_list.list.length"
                                ng-click="loadMore('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', '#loadmorebtn-<%=compobj.id%>','<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>')">
                                    Carregar mais
                            </button>
                        </div>
                        
                        <!--
                        <div class="text-center">
                            <h4 class="card-title text-bold" style="margin:0px"
                                id="lmx-<%-compobj.id%>">
                                Total: <span ng-bind="item_list.totalCount"></span>
                                Viewing: <span ng-bind="item_list.list.length"></span>
                            </h4>
                        </div>
                        -->
                    </div>
                  </div>

              </div>

              <div class="tab-pane fade"
                  id="blog-newpost-<%-compobj.id%>"
                  role="tabpanel">

              </div>
          </div>
      </div>
  </div>
</div>

<div class=""
  ng-controller="x99EcommerceCart"
  ng-init="initCartModals('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$INV.price%>', '<%-$INV.title%>', '<%-$INV.image%>')">
    <!-- cart -->
    <div class="modal fade" id="ecommerce-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;background-color:#1f4788;border-radius:0px;border-bottom: 0px;">
                    <h5 style="color:#fff;margin:0px" class="pull-left">
                        Adicionar ao carrinho de compras
                    </h5>

                    <button type="button" class="close pull-right" 
                        data-dismiss="modal" aria-label="Close" 
                        style="padding-top:1px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body"
                    style="padding-top:0px;padding-bottom:20px;">

                    <div class="row rs-margin">
                      <div class="col-12" style="margin-top:15px;">
                        <div class="cart-item">
                            <div class="product">
                              <img ng-src="{{currentItem.image}}"
                                  width="100px;display:inline"
                                  class="pull-left"
                                 alt="{{currentItem.image}}" />
                              <strong class="title">
                                {{currentItem.label}}
                              </strong>
                              <span>
                                <span data-bind="subtotalLabel">
                                    {{currentItem.price|currency:''}}
                                </span>$
                              </span>
                            </div>
                        </div>

                          <h3 class="text-center" style="margin:0px;">
                            x
                          </h3>
                      </div>

                      <div class="col-8">
                          <p style="margin:0px;padding:5px;background-color:#f4f4f4;font-size:24px;"
                            class="form-control">
                            {{currentItem.amount}}
                            <strong class="pull-right">
                              {{currentItem.unit}}
                            </strong>
                          </p>
                      </div>
                      <div class="col-2 text-center">
                          <button class="btn btn-secondary btn-round"
                              ng-click="incrAmount('<%=compobj.id%>', currentItem)">
                            <span class="fa fa-caret-up text-white"></span>
                          </button>
                      </div>
                      <div class="col-2 text-center">
                          <button class="btn btn-secondary btn-round"
                            ng-disable="myCart.items[currentItem.id].amount<=0"
                            ng-click="decrAmount('<%=compobj.id%>', currentItem)">
                            <span class="fa fa-caret-down text-white"></span>
                          </button>
                      </div>

                      <div class="col-12" style="margin-top:5px;padding-bottom:5px;">
                          <div class="btn-group" role="group" aria-label="..."
                            style="overflow:hidden;overflow-x:scroll;max-width:100%;padding-bottom:5px;"
                            ng-if="currentItem.unit=='KG'||currentItem.unit=='LT'">
                            <button type="button" class="btn btn-primary text-bold btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 1)">1.0{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.9)">0.9{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.8)">0.8{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.7)">0.7{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.6)">0.6{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.5)">0.5{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.4)">0.4{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.3)">0.3{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.2)">0.2{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.1)">0.1{{currentItem.unit}}</button>
                          </div>
                      </div>

                      <div class="col-12"
                        style="margin-top:16px;margin-bottom:10px;">
                          <h3 class="text-left" style="margin-bottom:10px;">
                            Total<br/>
                            <small ng-if="!currentItem.amount">
                                0.00
                            </small>
                            <small ng-if="currentItem.amount>0">
                                {{currentItem.amount*currentItem.price|currency: ''}} $
                            </small>
                          </h3>

                          <center>

                            <button type="button" class="shop-btn btn bg-success text-white btn-sm" data-dismiss="modal">
                              OK
                            </button>

                            <button class="shop-btn btn bg-danger text-white btn-sm"
                              ng-click="removeFromCart('<%=compobj.id%>', currentItem)">
                              Remover
                            </button>
                          </center>

                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;background-color:#1f4788;border-radius:0px;border-bottom: 0px;">
                    <h5 style="color:#fff;margin:0px" class="pull-left">
                        <span class="fa fa-shopping-cart"></span>
                        Meu carrinho de compras
                    </h5>

                    <button type="button" class="close pull-right" 
                        data-dismiss="modal" aria-label="Close" 
                        style="padding-top:1px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body"
                    style="padding-top:0px;padding-bottom:20px;min-height:380px;">

                    <h3 class="text-right" style="margin:0px;">
                        Total
                        <small>
                            {{total_cart|currency:''}}$
                        </small>
                    </h3>

                    <div role="tabpanel">

                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist"
                        style="display:none">
                        <li role="presentation" class="nav-item">
                            <a href="#cart-home-details" aria-controls="cart-home-details" 
                                role="tab" data-toggle="tab"
                                class="nav-link active">
                                Carrinho
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#preparing-cart-<%=compobj.id%>" 
                                aria-controls="preparing-cart-<%=compobj.id%>" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Prepar o carrinho
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#reserve-now-<%=compobj.id%>" aria-controls="reserve-now" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Reservar
                            </a>
                        </li>
                        <li role="presentation"
                            style="display:none;">
                            <a href="#reserve-success-<%=compobj.id%>" 
                                aria-controls="reserve-success-<%=compobj.id%>" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Reserva com sucesso
                            </a>
                        </li>


                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="cart-home-details">
                            <div class="row rs-margin">
                                <div class="col-12" style="margin-top:15px;">
                                </div>

                                <div class="col-12" style="max-height:300px;overflow:hidden;overflow-y:scroll">
                                    <div class="cart-item"
                                        ng-repeat="item in item_list">
                                        <div class="product" 
                                            >
                                            <img ng-src="{{item.image}}"
                                                width="100px;display:inline"
                                                class="pull-left"
                                                alt="{{item.image}}"
                                            />
                                            <strong class="title">
                                                {{item.label}}
                                            </strong>
                                            <br/>
                                            <span>
                                                <span >
                                                    {{item.price | currency:''}}
                                                </span>$
                                            </span>
                                            <strong>x</strong>
                                            <input class="form-control" 
                                                style="width:160px"
                                                disabled
                                                ng-model="item.amount" 
                                            />
                                        </div>
                                    </div>

                                </div>

                               <div class="col-12">
                                  <!--
                                  <button class="btn bg-primary text-white btn-lg text-bold">
                                    <span class="fa fa-credit-card"></span>
                                    Checkout
                                  </button>
                                  -->
                                  <button class="btn bg-primary text-white btn-lg text-bold btn-block"
                                    ng-click="goCheckout()"
                                    ng-if="item_list.length>0"
                                    style="color:#fff">
                                    <span class="fa fa-card"></span>
                                    Checkout
                                  </button>
                              </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="preparing-cart-<%=compobj.id%>">
                            <div ng-if="loading_cart">
                                <span class="fa fa-refresh fa-spin"></span>
                                <h3>Preparando o carinho...</h3>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="reserve-success-<%=compobj.id%>">
                            <span class="fa fa-check"></span>
                            <h3>Reserva efectuada com sucesso</h3>
                        </div>

                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
