                    <div class="row rs-margin review-product-item "
                        style="box-shadow:0px 0px 2px rgba(0,0,0,.3);margin-top:50px;background-color:#fff;margin-bottom:15px;padding-bottom:25px;">

                        <div class="col-12">
                            <div id="review-rating-<%-compobj.id%>" class="col-md-12"
                                    style="padding-top:25px;padding-bottom:25px;">
                                <center>
                                    <h2>Avalie este produto</h2>
                                    <span ng-click="setRating(1)"
                                        ng-mousehover="setRating(1)" 
                                        ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating==0,
                                                     'text-warning': reviewObj.rating>=1}"></span>
                                    <span ng-click="setRating(2)"
                                            ng-hover="setRating(2)"
                                            ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=1,
                                                     'text-warning': reviewObj.rating>=2}"></span>
                                    <span ng-click="setRating(3)" 
                                        ng-hover="setRating(4)"
                                        ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=2,
                                                     'text-warning': reviewObj.rating>=3}"></span>
                                    <span ng-click="setRating(4)"
                                          ng-hover="setRating(4)"
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=3,
                                                     'text-warning': reviewObj.rating>=4}"></span>
                                    <span ng-click="setRating(5)"
                                        ng-hover="setRating(5)"
                                        ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=4,
                                                     'text-warning': reviewObj.rating>=5}"></span>
                                    <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                        class="rating-text text-secondary">
                                    </h4>

                                    <button class="btn btn-success text-bold btn-round"
                                        ng-click="beginReview('#review-form-<%-compobj.id%>', '#review-rating-<%-compobj.id%>')">
                                        <span class="fa fa-check"></span>
                                        Continuar
                                    </button>
                                </center>
                            </div>

                            <div id="review-form-<%-compobj.id%>" class="col-md-12 hidden">
                                <div class="col-lg-12 col-md-12 mb-4">
                                    <form name="reviewForm" 
                                        ng-submit="makeReview(reviewForm, '<%-compobj.id%>', '<%-compobj.fields[$PCF.org_id]%>', product_item.id)">

                                        <div class="alert alert-warning text-center" 
                                            ng-if="loading_request">
                                            <i class="fa fa-refresh fa-spin"></i>
                                            Processando
                                        </div>

                                        <div class="alert alert-danger text-center" ng-if="error">
                                            <i class="fa fa-times"></i>
                                            <h4>A sua solicitação não pode ser processada.</h4>
                                            Verifique todos os campos.
                                        </div>

                                        <div class="alert alert-success text-center" ng-if="success">
                                            <i class="fa fa-check" style="font-size:50px;" ></i>
                                            <br/>
                                            <h3>
                                                Muito obrigado pela sua critica.
                                            </h3>
                                        </div>

                                        <div class="row rs-margin"
                                            ng-if="!is_done">
                                            <div class="col-5">
                                                <div class="control-group form-group">
                                                    <div class="controls">
                                                        <label><strong>Nome</strong></label>
                                                        <input type="text" class="form-control" 
                                                            id="r-name-<%-compobj.id%>" 
                                                            required 
                                                            ng-model="reviewObj.user_name"
                                                        />
                                                        <p class="help-block"></p>
                                                    </div>
                                                </div>

                                                <div class="control-group form-group">
                                                    <div class="controls">
                                                        <label><strong>Email</strong></label>
                                                        <input type="email" class="form-control"
                                                            id="r-email-<%-compobj.id%>" 
                                                            required  ng-model="reviewObj.user_email"
                                                        />
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-success btn-block text-bold"
                                                    ng-disabled="loading_request">
                                                    Enviar
                                                </button>
                                            </div>
                                            
                                            <div class="col-7">
                                                <div class="control-group form-group">
                                                    <div class="controls">
                                                        <label><strong>Review</strong></label>
                                                        <textarea rows="8" cols="100" class="form-control" 
                                                            id="r-message-<%-compobj.id%>" 
                                                            required maxlength="200" 
                                                            style="resize:none"
                                                            ng-model="reviewObj.user_msg"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>