<div class="row rs-margin ecommerce-top-bar"
    ng-controller="x99Ecommerce">

    <!-- search -->
    <div class="col-12 bg-primary" style="padding:0px;">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                  <div class="ecommerce-search">
                      <form class="form-inline" 
                        method="GET" action="ec-search.html">
                        <input class="form-control search-input" 
                            type="search" 
                            name="q"
                            placeholder="Search" 
                            aria-label="Search"
                            style="margin:auto;width:100%"
                        />
                      </form>
                  </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <table class="table">
                    <tbody>
                      <tr>
                          <td style="border:0px;width:50px;font-size:24px;padding-bottom:0px;" class="text-white text-center">
                            <span class="text-bold">Meu Carrinho</span>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>