<div class="row <%-compobj.fields[$PCF.comp_size] %> contact-container" style="margin-top:43px;"
    ng-controller="X99RequestSvc">
    <div class="col-lg-8 col-md-8 mb-4"
        ng-init="loadServiceDetails()">

        <div style="padding:15px;margin-top:20px;">
            <h4 style="margin-bottom:25px;"
                class="contact-form-title">
                <%= TR('Preencha o formulário para nos contactar') %>
                <br/>
                <small class="etx-text-danger contact-form-warning" style="font-size:13px">
                    * <%= TR('Campo obrigatório') %>
                </small>
            </h4>
        </div>

        <div class="" style="padding-left:20px;padding-right:20px;margin-top:15px;">
            <div ng-if="serviceObj">
                <etx-service-item object="serviceObj">
                </etx-service-item>
            </div>

            <form name="productForm"
                style="margin-top:15px;"
                class="contact-form-object"
                ng-submit="submit(productForm, '<%=compobj.id%>')">
                <input type="hidden"
                    id="form_user_id_<%=compobj.id%>"
                    value="<%=compobj.fields[$PCF.user_id]%>"
                />
                <input type="hidden"
                    id="form_org_id_<%-compobj.id%>"
                    value="<%=compobj.fields[$PCF.org_id]%>"
                />

                <div class="alert alert-warning text-center" 
                    ng-if="loading_request">
                    <i class="fa fa-refresh fa-spin"></i>
                    <%= TR('Aguarde') %>...
                </div>

                <div class="alert alert-danger text-center" ng-if="error">
                    <i class="fa fa-times"></i>
                    <h4>N&atilde; foi possivel processar o seu pedido.</h4>
                    <%= TR('Verifique todos os campos') %>
                    .
                </div>

                <div class="alert alert-success text-center" ng-if="success">
                    <i class="fa fa-check" style="font-size:50px;" ></i>
                    <br/>
                    <h3>
                        <%= TR('Enviado com sucesso') %>
                    </h3>
                    <%= TR('Obrigado pelo seu interesse') %>                    
                    <br/>
                    <%= TR('Entraremos em contacto.') %>
                </div>

                <div ng-if="!is_done">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>
                                <strong><%= TR('Nome Completo') %> *</strong>
                            </label>
                            <input type="text" class="form-control" 
                                id="name_<%=compobj.id%>" required 
                                data-validation-required-message="Required" 
                                ng-model="reqObj.name"
                            >
                            <p class="help-block"></p>
                        </div>
                        </div>

                        <div class="control-group form-group">
                            <div class="controls">
                                <label><strong><%= TR('Telefone') %> *</strong></label>
                                <input type="number" class="form-control" id="phone_<%=compobj.id%>" required 
                                    data-validation-required-message="Telefone &eacute; obrigat&oacute;rio."
                                    ng-model="reqObj.phone"
                                >
                            </div>
                        </div>

                        <div class="control-group form-group">
                            <div class="controls">
                                <label><strong>Email *</strong></label>
                                <input type="email" class="form-control" id="email_<%=compobj.id%>" required 
                                    data-validation-required-message="Email &eacute; obrigat&oacute;rio"
                                    ng-model="reqObj.email">
                            </div>
                        </div>

                        <div class="control-group form-group">
                            <div class="controls">
                                <label><strong><%= TR('Mensagem') %> *</strong></label>
                                <textarea rows="8" cols="100" class="form-control" 
                                    id="message_<%=compobj.id%>" required 
                                    data-validation-required-message="Mensagem &eacute; obrigat&oacute;rio" 
                                    maxlength="999" 
                                    style="resize:none"
                                    ng-model="reqObj.msg">
                                </textarea>
                            </div>
                        </div>                
                </div>

                <button type="submit" class="btn etx-bg-success btn-lg btn-round text-bold btn-send-form"
                    ng-if="!is_done"
                    ng-disabled="loading_request">
                    <span class="fa fa-send"></span>
                    <%= TR('Enviar') %>
                </button>
            </form>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <div style="margin-top:35px;">

            <div class="image-container"
                ng-if="'<%=compobj.fields[$PCF.image]%>'"
                id="contact-image-container-<%=compobj.id%>">
                <img class="img-fluid rounded" 
                    style="padding-top:15px;" 
                    width="<%-compobj.fields[$PCF.img_w]||'250'%>px" 
                    src="<%=compobj.fields[$PCF.image]%>" 
                />
            </div>

            <!-- <h3>Contacto</h3> -->
            <p style="margin-bottom:2px;" class="business-description">
                <strong><%-compobj.fields[$PCF.comp_descr]%></strong>
                <br/>
                <span class="fa fa-map-marker"></span>
                <%-compobj.fields[$PCF.hq]%>
            </p>

            <div>
                <!-- <a href="tel:<%-compobj.fields[$PCF.phone_1]%>"><%-compobj.fields[$PCF.phone_1]%></a> -->

                <p  ng-if="'<%-compobj.fields[$PCF.phone_1]%>'"
                    style="margin:0px;"
                    class="contact-mobile-list"
                    ng-repeat="phone in '<%-compobj.fields[$PCF.phone_1]%>'.split(',') track by $index">
                    <span class="fa fa-mobile"></span>

                    <a href="tel:{{phone}}"
                        class="etx-contact-link"
                        style="display"
                        ng-bind="phone">
                    </a>
                </p>

                <!-- <br/>
                <span class="fa fa-phone"></span>
                <a href="tel:+2389776803">(+238) 977 68 03</a> -->
                <br/>
                <div ng-repeat="email in '<%-compobj.fields[$PCF.email_1]%>'.split(',')">
                    <abbr>
                        <span class="fa fa-envelope"></span>
                        <strong></strong>
                    </abbr>
                    <a href="#"
                        class="etx-contact-link">
                        <span ng-bind="email"></span>
                    </a>
                </div>

                <div ng-if="compobj.fields[$PCF.fb_link]">
                    <abbr>
                        <span class="fa fa-facebook"></span>
                        <strong></strong>
                    </abbr>
                    <a href="<%-compobj.fields[$PCF.fb_link]%>"
                        class="etx-contact-link"
                        target="__blank">
                        facebook
                    </a>
                    <br/>
                </div>

                <div ng-if="compobj.fields[$PCF.tw_link]">
                    <abbr>
                        <span class="fa fa-twitter"></span>
                        <strong></strong>
                    </abbr>
                    <a href="<%-compobj.fields[$PCF.tw_link]%>"
                        class="etx-contact-link"
                        target="__blank">
                        twitter
                    </a>
                </div>

                <div ng-if="compobj.fields[$PCF.insta_link]">
                    <abbr>
                        <span class="fa fa-instagram"></span>
                        <strong></strong>
                    </abbr>
                    <a href="<%-compobj.fields[$PCF.insta_link]%>"
                        class="etx-contact-link"
                        target="__blank">
                        instagram
                    </a>        
                    <br/>
                </div>

                <div ng-if="compobj.fields[$PCF.youtube_link]">
                    <abbr>
                        <span class="fa fa-youtube"></span>
                        <strong></strong>
                    </abbr>
                    <a href="<%-compobj.fields[$PCF.youtube_link]%>"
                       class="etx-contact-link"
                       target="__blank">
                        youtube.com
                    </a>        
                    <br/>
                </div>
            </div>

            <p>
                <abbr title="<%= TR('Horário de funcionamento') %>">
                <%= TR('Horário de funcionamento') %>:
            </abbr>:
                <br />
                <%-compobj.fields[$PCF.op_hours]%>
            </p>
        </div>

        <a class="btn btn-lg etx-bg-success btn-block btn-round btn-call-me" 
            href="tel:{{'<%-compobj.fields[$PCF.phone_1]%>'.split(',')[0]}}"> 
            <span class="fa fa-phone"></span> 
            <strong>
                <%= TR('Ligar agora') %>!
            </strong>
        </a>
    </div>
</div>
