<div class="container <%=compobj.fields[$PCF.colsize]%> ecommerce-item-page"
    ng-controller="x99EcommerceCart"
    style="background-color:#f4f4f4;padding:15px;">

    <h1>Product Group</h1>
    <p><%- compobj.id %></p>

</div>
