<div class="cart-item" id="cart-item-<%=item.id%>-<%=compobj.id%>">
    <div class="product" 
        >
        <img ng-src="<%-item.image%>"
            width="100px;display:inline"
            class="pull-left"
            alt="<%-item.image%>"
        />
        <strong class="title">
            <%-item.label%>
        </strong>
        <br/>
        <span>
            <span >
                <%-item.price%>
            </span>$
        </span>
        <strong>x</strong>
        <input class="form-control" 
            style="width:160px"
            disabled
            value="<%-item.amount%>"
        />
    </div>

    <button class="btn btn-lg btn-round btn-secondary btn-group-singeadd "
        ng-click="addFromPG('#item_list_static_<%=compobj.id.slice(0,6)%>', '<%=item.id%>', '<%=compobj.fields[$PCF.webapp_id]%>', {currency:item.currency}, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
        >
        <span class="fa fa-shopping-cart"></span>
    </button>
</div>
