<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cursor-pointer ecommerce-it-container">

<div class="card ecommerce-item"
    ng-init="initProdTags('#promo-prod-tags-<%-item.id%>')"
    title="<%-item.label%> <%-item.price%> <%-item.currency%>">

  <div style="height:220px;background:url('<%-item.image%>');background-size:cover;"
      ng-click="openProductId('<%=item.id%>', '<%-compobj.id%>')">
      <%= 
        (catObj.tags&&catObj.tags.length>0) ?
        catObj.tags.map(function (I,idx){
            return `
              <p class="tag-item-${idx} tag-item ">
                ${I.label}
              </p>
            `;
        }).join("") : ''
      %>
  </div>

  <div class="card-body">
      <h4 class="ecommerce-item-title text-center" 
        ng-click="openProductId('<%=item.id%>', '<%-compobj.id%>')">
        <%= item.label %>
      </h4>

      <h4 class="card-title text-danger ecommerc-item-price text-center"
        ng-click="openProductId('<%=item.id%>', '<%-compobj.id%>')">
        <span class="item-price">
            {{<%-item.price%>|currency:''}}
        </span>
        <span class="item-currency">
            <%-item.currency%>
        </span>
      </h4>

      <%= (item.old_price) ? 
        `<h4 class="card-title text-muted ecommerce-item-old-price text-center"
            ng-click="openProductId('${item.id}', '${compobj.id}')">
            <span class="item-price">
                {{${item.old_price}|currency:''}}
            </span>
            <span class="item-currency">
                ${item.currency}
            </span>
          </h4>` : ''
      %>

      <h4 class="card-title ecommerce-item-review text-center"
        ng-click="openProductId('<%=item.id%>', '<%-compobj.id%>')">
        <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=1"></span>
        <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=2"></span>
        <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=3"></span>
        <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=4"></span>
        <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=5"></span>

        <span ng-if="item.fields.prod_rev_count>0"
            ng-bind="item.fields.prod_rev_count"></span>

        <span class="text-muted"
          ng-if="item.fields.prod_rev_count==0 && '<%=compobj.org%>'!='e22c394b31c74063'">
          Sem Avaliações
        </span>
      </h4>

      <h4 class="card-title ecommerce-item-tags text-muted text-center"> 
        <span ng-if="item.category.list.length>0" 
            class="fa fa-tag" style="font-size:11px;"></span>
        <small ng-bind="item.category.list[item.category.list.length-1].label">
        </small>
      </h4>

      <button class="btn bg-white text-bold btn-block btn-add-cart"
        style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
        ng-click="addFromPG('#item_list_static_<%=compobj.id.slice(0,6)%>', '<%=item.id%>', '<%=compobj.fields[$PCF.webapp_id]%>', {currency:item.currency}, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
        >
        <span class="fa fa-shopping-cart"></span>
        ADICIONAR
        <span style="color:#333;"
          class="item-amount"
          id="item-promo-amount-<%-item.id %>">
        </span>
      </button>
  </div> 
</div>

</div>
