<div class="container <%=compobj.fields[$PCF.colsize]%> ecommerce-item-page"
    ng-controller="x99EcommerceCart"
    style="background-color:#f4f4f4;padding:15px;">

    <div class="row rs-margin <%=compobj.fields[$PCF.compsize]%>"
        ng-init=""
        style="min-height:500px;display:block;background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
        <div class="col-md-12 banner-pg-<%-compobj.id%> banner-pg-v1"
            ng-if="'<%=compobj.fields[$PCF.image]%>'"
            style="background:url('<%=compobj.fields[$PCF.image]%>');background-size:cover;"
                >
        </div>

        <div class="col-md-12" style="">
            <h3 style="border-bottom:4px solid #ffc107;padding-bottom:15px;padding-top:15px;"
                ng-if="'<%-compobj.fields[$PCF.title_df] %>'"
                class="product-group-title"
                ng-bind="'<%-compobj.fields[$PCF.title_df] %>'">
            </h3>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist"
                style="display:none">
                    <li role="presentation" class="nav-item">
                        <a href="#cart-home-details" aria-controls="cart-home-details-<%-compobj.id%>" 
                            role="tab" data-toggle="tab"
                            class="nav-link active">
                            Carrinho
                        </a>
                    </li>

                    <li role="presentation" >
                        <a href="#user-details" 
                            aria-controls="user-details" 
                            role="tab" data-toggle="tab"
                            class="nav-link">
                            User Details
                        </a>
                    </li>

                    <li role="presentation" >
                        <a href="#reserve-success" 
                            aria-controls="reserve-success" 
                            role="tab" data-toggle="tab"
                            class="nav-link">
                            Reserve success
                        </a>
                    </li>
              </ul>

              <div class="row rs-margin">
                <div class="col-sm-12 col-md-8 col-lg-8">
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="cart-home-details-<%-compobj.id%>"
                            ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">

                            <!--
                            <ul class="list-group">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            -->

                            <div class="" 
                                style="min-height:370px;max-height:450px;overflow:hidden;overflow-y:scroll;margin-top:15px;">
                                <%= compobj.compiled_product_list %>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="user-details">
                            <div class="row rs-margin">
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="preparing-cart">
                            <div class="row">
                                <div class="col-12 text-center" style="min-height:250px;">
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="reserve-success">
                            <div class="text-center"
                                style="padding-top:20px;">
                                <span class="fa fa-check text-success"
                                    style="font-size:76px;"></span>
                                <h3 style="color:#666">
                                    Muito obrigado pela sua compra.
                                    <br/>
                                    <small>
                                        Um email foi enviado para <strong>{{user_email}}</strong>
                                        para os proximos passos.
                                    </small>
                                </h3>
                                <p class="text-muted"
                                    ng-if="cartReady">
                                    Acompanhe este carrinho
                                    <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch"
                                            target="__blank">
                                        neste link.
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4"
                    ng-init='cat_list=<%=JSON.stringify(compobj.category_list)%>'
                    style="padding-top:20px;">


                    <table class="table">
                        <tr>
                            <td class="text-left">
                                Discontos
                            </td>
                            <td class="text-right">
                                {{<%= compobj.confObj.total_discounts %>|currency:''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <h3>
                                    Total
                                </h3>
                            </td>
                            <td class="text-right">
                                <h3>
                                    <span class="text-secondary text-bold">
                                        {{ 
                                            <%= compobj.confObj.total %>|currency: ''
                                        }}
                                    </span>
                                </h3>
                            </td>
                        </tr>
                    </table>

                    <p class="text-muted">
                        Ao comprar na nossa loja,
                        concorda com os nossos
                        <a href="<%=compobj.fields[$PCF.view_page]%>">termos de servi&ccedil;o.</a>
                    </p>

                    <button class="btn bg-danger text-bold btn-lg btn-block btn-round text-white btn product-group-addtocart"
                        ng-disabled="is_pg_add"
                        ng-click="addAll('<%=encodeURIComponent(JSON.stringify(compobj.confObj.items))%>', '<%=compobj.fields[$PCF.webapp_id]%>','<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                        type="button">
                        <span class="fa fa-shopping-cart"></span>
                        <span ng-if="!is_pg_add">
                            Adicionar
                        </span>
                        <span ng-if="is_pg_add">
                            Adicionado
                        </span>
                    </button>

                    <div class="product-group-tag-container">

                        <p class="product-group-tag-incl"
                            style="margin:0px;padding:5px;">
                            <span ng-repeat="cat in cat_list">
                                <a href="ec-search.html?category={{cat.id}}&amp;category_label={{encodeComp(cat.label)}}"
                                    class="product-group-tag-link"
                                    ng-bind="cat.label">
                                </a>,
                            </span>
                        </p>

                    </div>


                </div>

                <div class="col-12 text-right cursor-pointer" style="padding-top:80px;padding-bottom:10px;">
                </div>
              </div>
        </div>
    </div>
</div>
