<div class="container <%=compobj.fields[$PCF.colsize]%> ecommerce-item-page"
    ng-controller="x99EcommerceCart"
    ng-init="loadProductGroup('<%= compobj.id %>')"
    style="background-color:#f4f4f4;padding:0px;">

    <textarea id="item_list_static_<%=compobj.id.slice(0,6)%>"
        style="display:none"><%=JSON.stringify(compobj.confObj.items)%></textarea>

    <!-- <h1>DESTAQUE-V2X <%= compobj.id %></h1> -->

    <div class="row rs-margin <%=compobj.fields[$PCF.compsize]%>"
        style="display:block;padding:0px;background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3)">

        <div class="col-md-12" style="">
            <h3 style="padding-bottom:15px;padding-top:15px;"
                ng-if="'<%-compobj.fields[$PCF.title_df] %>'"
                class="product-destaque-title"
                ng-bind="'<%-compobj.fields[$PCF.title_df] %>'">
            </h3>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist"
            style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#cart-home-details-<%-compobj.id%>" aria-controls="cart-home-details-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Carrinho
                    </a>
                </li>

                <li role="presentation" >
                    <a href="#user-details" 
                        aria-controls="user-details" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        User Details
                    </a>
                </li>

                <li role="presentation" >
                    <a href="#reserve-success" 
                        aria-controls="reserve-success" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Reserve success
                    </a>
                </li>
            </ul>

            <div class="row rs-margin">
                <div class="col-sm-12 col-md-12 col-lg-12"
                    style="padding:0px;">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="cart-home-details-<%-compobj.id%>"
                            ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">

                            <!--
                            <ul class="list-group">
                              <li class="list-group-item">Cras justo odio</li>
                              <li class="list-group-item">Dapibus ac facilisis in</li>
                              <li class="list-group-item">Morbi leo risus</li>
                              <li class="list-group-item">Porta ac consectetur ac</li>
                              <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                            -->
                            <div class="row rs-margin">
                                <!-- ITEM_HTMLX -->
                                <%= compobj.item_html %>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="user-details">
                            <div class="row rs-margin">
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="reserve-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
