<div class="row rs-margin">
    <div class="col-12">
        <div class="card h-100"
            ng-init='compobj=<%=JSON.stringify(compobj)%>;$PCF=<%=JSON.stringify($PCF)%>'>
            <a href="<%-compobj.fields[$PCF.readmore_link]%>">
                <img class="card-img-top" height="280px" 
                    ng-src="<%-compobj.fields[$PCF.image]%>" alt="" />
            </a>
            
            <div class="card-body">
                <h4 class="card-title">
                    <!-- <%-compobj.fields[$PCF.title_df]%> -->
                    <a href="<%-compobj.fields[$PCF.readmore_link]%>"
                        ng-bind="<%-compobj.fields[$PCF.title_df]%>">
                    </a>
                </h4>

                <p class="card-text"
                    ng-bind="<%-compobj.fields[$PCF.descr_df]%>">
                </p>
            </div>

            <div class="card-footer"
                ng-init="readmore='<%-compobj.fields[$PCF.readmore_link]%>'"
                ng-if="readmore">
                <a href="<%-compobj.fields[$PCF.readmore_link]%>" class="btn btn-primary">
                    Saber mais
                </a>
            </div>    
        </div>
    </div>
</div>
