<div class="card super-card <%-compobj.fields[$PCF.comp_size]%>"
    id="super-card-<%-compobj.id%>"
    style="margin-top:15px;background-image:url('<%=compobj.fields[$PCF.image]%>')"
    data-imagebg="<%=compobj.fields[$PCF.image]%>"
    ng-click="openSuperCard('<%=compobj.id%>', '<%=compobj.fields[$PCF.readmore_link]%>')"
    ng-controller="SuperCardController"
    ng-init='conf_<%-compobj.id%>=<%-compobj.fields[$PCF.conf_obj]%>'>

    <div class="card-body">
        <h4 class="card-title">
            <a href="<%-compobj.fields[$PCF.readmore_link]%>">
                <%-compobj.fields[$PCF.title_df]%>
            </a>
        </h4>

        <%=
            (compobj.compiled_html)?
            '<div class="comp_html">'+compobj.compiled_html+"</div>"
            :
            `
                <p class="card-text">
                    ${compobj.fields[$PCF.descr_df]}
                </p>
            `
        %>

        <p ng-if="conf_<%-compobj.id%>.tags.length>0"
            ng-bind="'Includes'"
            class="text-bold card-includes">
        </p>
        <ul class="list-group card-tag-list"
            ng-if="conf_<%-compobj.id%>.tags.length>0">
            <li class="list-group-item" 
                ng-repeat="c in conf_<%-compobj.id%>.tags">
                <span ng-bind="c.label"></span>
            </li>
        </ul>

        <%=
            (compobj.fields[$PCF.readmore_link]&&compobj.fields[$PCF.readmore_link].length>0)?
            `
                <a href="${compobj.fields[$PCF.readmore_link]}" 
                    class="btn btn-action ${compobj.card_conf.action_classes}">
                    ${compobj.card_conf.action_label}
                </a>
            ` : ''
        %>
    </div>
 
</div>
