
<ul class="nav nav-tabs account-menu " role="tablist"
    style="border:0px;">
    <li role="presentation" 
        class="nav-item"
        style="display:none">
        <a href="#tab-loading-<%-compobj.id%>" 
            role="tab" data-toggle="tab"
            style="margin-right: 15px;"
            class="nav-link text-bold active">
        </a>
    </li>

    <li role="presentation" 
        class="nav-item"
        style="display:none">
        <a href="#tab-home-<%-compobj.id%>" 
            role="tab" data-toggle="tab"
            style="margin-right: 15px;"
            class="nav-link text-bold">
        </a>
    </li>
</ul>

<div class="tab-content" 
    id="myAccount-<%-compobj.id%>"
    ng-controller="AuthController">

    <div class="tab-pane fade show active"
        id="tab-loading-<%-compobj.id%>"
        ng-init="onDone('#tab-home-<%-compobj.id%>')"
        role="tabpanel">
        <div class="text-center">
            <span class="fa fa-refresh text-primary"
                style="font-size:45px;"></span>
        </div>
    </div>

    <div class="tab-pane fade tab-loading-req "
        id="tab-home-<%-compobj.id%>"
        role="tabpanel">
        <div class="row rs-margin">
            <div class="col-md-12 rs-padding">
               <div style="margin-top:0px;">
                    <div class="login-box" style="max-width:500px;margin:auto;">
                        <div class="login-box-body">
                            <div class="app-header"
                                style="padding: 10px;padding-left:10px;">
                                <img class="app-logo pull-left" 
                                    style="padding-right:15px;"
                                    src="<%=webapp.fields[$WAF.image]%>"
                                    width="78px"
                                />
                                <h3 style="margin:0px;padding-top:10px;display:inline">
                                    <%= webapp.fields[$WAF.title_df] %>
                                </h3>
                                <%=
                                    compobj.fields[$PCF.checkout_page_id] ?
                                    `
                                    <h4 style="margin:0px;padding-top:10px;">
                                        <a href="${compobj.fields[$PCF.checkout_page_id]}"
                                            class="account-create-link text-bold">
                                            ${TR('Não tem 1 conta? Crie aqui')}
                                        </a>
                                    </h4>
                                    ` :
                                    ''
                                %>                                
                            </div>

                            <div class="row rs-margin">
                                <div class="col-12 text-center google-auth">
                                    <!-- <h3>Entre com google</h3> -->
                                    <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>

                                    <div ng-if="googleUser">
                                        <img ng-src="{{googleUser.imageUrl}}" width="55px" />
                                        <h3>{{googleUser.name}}</h3>
                                        <p class="text-secondary text-bold">{{googleUser.email}}</p>
                                        <button class="btn bg-primary text-white text-bold" type="button"
                                            ng-click="googleLogout()">
                                            <%= TR('Sair') %>
                                        </button>
                                    </div>
                                </div>
                                <!--
                                <button class="btn bg-primary text-white text-bold" type="button"
                                    ng-click="verifyapi()">
                                    VERIFY
                                </button>
                                <div class="col-12 text-center">
                                    <div class="fb-login-button" data-width="" 
                                        data-size="large" data-button-type="continue_with" 
                                        data-layout="default" data-auto-logout-link="false" 
                                        data-use-continue-as="false">
                                    </div>
                                </div>
                                -->
                            </div>
                            <!--
                            <xb-alert type="'danger'"
                                ng-if="vm.error_msg"
                                messages="vm.error_msg">
                            </xb-alert>
                            -->

                            <div class="alert alert-danger text-center"
                                ng-if="error_msg">
                                <p ng-repeat="e in error_msg"
                                    style="color:#333"
                                    class="text-bold">
                                    {{e}}
                                </p>
                            </div>
                           
                            <!-- /.login-logo -->
                            <form name="loginForm" 
                                ng-submit="loginUser(loginForm, false, '<%=compobj.fields[$PCF.checkout_page]%>')"
                                ng-if="notLogin"
                                style="margin-top:25px;clear:both">

                                <div class="form-group has-feedback">
                                    <label class="login-field login-field-email">Email</label>
                                    <div>
                                        <input type="email" class="form-control" 
                                            placeholder="Email" 
                                            name="email" 
                                            required
                                            style="border-radius:0px;font-size:20px;"
                                            ng-model="loginReq.email"
                                        />
                                    </div>
                                </div>

                                <div class="form-group has-feedback">
                                    <label class="login-field login-field-password">
                                        Password
                                    </label>
                                    <div class="input-group" style="padding:0px;">
                                        <input type="{{passwordType||'password'}}" 
                                            class="form-control" 
                                            placeholder="Password"
                                            id="password"
                                            class="form-control" 
                                            placeholder="Password" 
                                            name="_password" 
                                            style="border-radius:0px;font-size:20px;"
                                            ng-model="loginReq.password"
                                            required
                                        />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"
                                                ng-click="toggleShowPassword()">
                                                <span ng-class="{
                                                    'fa fa-eye': true, 
                                                    'text-primary': vm.passwordType=='text',
                                                    'text-secondary': vm.passwordType=='password',
                                                }"></span>
                                            </button>
                                        </span>
                                    </div>

                                    <a href="https://app.enterstarts.com/#!/account/forgot-password?lang=pt"
                                        target="__blank"
                                        class="err-feedback text-bold">
                                        <%= TR('Esqueceu a password') %> ?
                                    </a>
                                </div>

                                <div class="form-group has-feedback"
                                    style="min-height:100px;background-color:#f4f4f4;border-radius:3px;padding-top:10px;">
                                    <!--<label>
                                        Captcha
                                    </label>-->
                                    <center>
                                        <div id="g-login-recaptcha" 
                                            style="width:100%"
                                            data-size="100%"
                                            data-sitekey="6LcU3MwUAAAAAEMjsMWOWrRv2tp2lff065ELbdwZ">
                                        </div>
                                    </center>
                                </div>

                                <div class="form-group" style="margin-top:25px;">
                                    <button type="submit" 
                                        class="btn btn-block btn-modal-login etx-bg-success text-center btn-round"
                                        ng-disabled="resolving||no_captcha">
                                        <strong>
                                            <span class="fa fa-check pull-left" 
                                                style="font-size:20px;margin-top:5px;"
                                                ng-if="!resolving"
                                                ></span>
                                            <span class="fa fa-refresh fa-spin pull-left" 
                                                style="font-size:20px;margin-top:5px;"
                                                ng-if="resolving"></span>
                                            <span style="font-size:20px"
                                                ng-if="!resolving"><%= TR('ENTRAR') %></span>
                                            <span style="font-size:20px"
                                                ng-if="resolving"><%= TR('Aguarde') %></span>
                                        </strong>
                                    </button>
                                </div>

                                <p class="etx-text-muted text-center"
                                    style="margin-top:12px;font-size:14px;padding-bottom:3px;">
                                    <%- TR('Ao utilizar a nossa plataforma concorda com os nossos') %>
                                    <br/>
                                    <a href="<%=compobj.fields[$PCF.readmore_link]%>" class="etx-account-link">
                                        <%= TR('termos de serviço') %>.
                                    </a>
                                </p>
                            </form>

                            <div class="alert alert-success text-center"
                                style="border-radius:0px;"
                                ng-if="!notLogin">
                                <h2 style="margin:0px;color:#333">
                                    <%= TR('Login com sucesso') %>
                                </h2>
                                <hr/>
                                <h2 style="margin:0px;font-size:20px;">
                                    <strong>
                                        <span class="fa fa-refresh fa-spin"></span>
                                        <%= TR('A página ira actualizar') %>
                                    </strong>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



