<div class="row" style="margin-top:43px;"
    ng-controller="X99RequestSvc">
    <div class="col-lg-8 col-md-8 mb-4"
        style="padding-left:20px;padding-right:20px;margin-top:15px;">
        <h3 style="margin-bottom:25px;" class="text-center">
            <span class="fa fa-shopping-cart"></span>
            Checkout
        </h3>
    </div>

    <div class="col-lg-8 col-md-8 mb-4"
        style="padding-left:20px;padding-right:20px;margin-top:15px;"
        ng-if="!is_processing&&!success"
        ng-init="loadServiceDetails('#paypal-button-container')">

        <div class="" style="">
            <etx-service-item object="serviceObj">
            </etx-service-item>
        </div>

        <div class="" style="">
            Quantity
            <input type="number" 
                ng-model="quantity"
                min="1"
                id="tx_quantity"
            />
        </div>

        <div class="" style="">
            <h3>
                Total
                <span ng-bind="serviceObj.fields.col4 * quantity"></span>
                <span ng-bind="serviceObj.fields.col12"
                    class="text-bold text-success"></span>
            </h3>
        </div>

        <h3 style="margin-bottom:25px;margin-top:25px;" class="text-center">
            Choose how to pay
        </h3>
        <div id="paypal-button-container"></div>
<!--         
        <center>
            <strong>We accept: </strong><br/>
            <img src="/img/etx/etx-payments.png" width="250px" />
        </center>
-->        
<!--         <button class="btn-lg btn-success btn-block text-bold"
            ng-click="testPay()">
            ETX.Pay
        </button>
 -->
    </div>

    <div class="col-lg-8 col-md-8 mb-4 text-center"
        style="padding-left:20px;padding-right:20px;margin-top:15px;"
        ng-if="is_processing">

        <span class="fa fa-spin fa-refresh text-success" 
            style="font-size:55px;"></span>            

        <h3 style="margin-bottom:25px;" 
            class="text-center"
            ng-bind="'Processing'">
        </h3>
    </div>

    <div class="col-lg-8 col-md-8 mb-4 text-center"
        style="padding-left:20px;padding-right:20px;margin-top:15px;"
        ng-if="!is_processing&&success">

        <div class="well">
            <span class="fa fa-check text-success" 
                style="font-size:55px;"></span>            

            <h3 style="margin-bottom:6px;margin-top:10px;" 
                class="text-center text-bold"
                ng-bind="'Thanks for your payment'">
            </h3>
            <h3 style="margin-bottom:25px;" 
                class="text-center text-bold text-muted">
                <small ng-bind="'Payment confirmed with success'"></small>
            </h3>
            <h3 style="margin-bottom:25px;" 
                class="text-center text-bold text-muted">
                Reference#<span ng-bind="etx_payment_ref"></span>
            </h3>
        </div>

    </div>

    <div class="col-lg-4 col-md-4 mb-4">
        <center>
            <img class="img-fluid rounded" 
                style="padding-top:15px;" 
                width="<%-compobj.fields[$PCF.img_w]||'250'%>px" 
                ng-if="compobj.fields[$PCF.image]"
                src="<%-compobj.fields[$PCF.image]%>" 
                alt="<%-compobj.fields[$PCF.comp_descr]%>"
            />
        </center>

        <div style="margin-top:35px;">
            <!-- <h3>Contacto</h3> -->
            <p style="margin-bottom:2px;">
                <strong><%-compobj.fields[$PCF.comp_descr]%></strong>
                <br/>
                <span class="fa fa-map-marker"></span>
                <%-compobj.fields[$PCF.hq]%>
            </p>

            <div>
                <span class="fa fa-mobile"></span>
                <abbr title="Telefone">
                    <strong></strong>
                </abbr>
                <a href="tel:<%-compobj.fields[$PCF.phone_1]%>"><%-compobj.fields[$PCF.phone_1]%></a>
                <!-- <br/>
                <span class="fa fa-phone"></span>
                <a href="tel:+2389776803">(+238) 977 68 03</a> -->
                <br/>
                <abbr>
                    <span class="fa fa-envelope"></span>
                    <strong></strong>
                </abbr>
                <a href="mailto:<%-compobj.fields[$PCF.email_1]%>"><%-compobj.fields[$PCF.email_1]%></a>
            </div>

            <p>
                <abbr title="Horário de funcionamento">Working hours</abbr>:
                <br />
                <%-compobj.fields[$PCF.op_hours]%>
            </p>
        </div>
        <a class="btn btn-lg btn-success btn-block" href="tel:<%-compobj.fields[$PCF.phone_1]%>"> 
            <span class="fa fa-phone"></span> 
            <strong>Call now!</strong>
        </a>
    </div>
</div>
