<footer class="footer footer-business"
    ng-controller="FooterController">
    <div class=" container footer-elements ">
        <div class="row rs-margin" style="padding-bottom: 12px;">
            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 h-100 my-auto"
                style="padding:0px;padding-bottom:30px;">
                <img src="<%- compobj.fields[$PCF.image] %>" 
                    class="contact-footer-logo"
                    style="padding-left:12px;"
                    width="<%- compobj.fields[$PCF.img_w] %>" 
                    height="<%- compobj.fields[$PCF.img_h] %>" 
                />
            </div>

            <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 h-100 text-right">
            </div>
        </div>

        <div class="row rs-margin footer-array">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-group-item">
                <h5 class="etx-group-title"><%-TR('INSTITUCIONAL')%></h5>
                <ul class="list-inline menu-list mb-2">            
                    <li class="list-inline-item">
                        <a href="<%- compobj.confObj.about_link %>"
                            class="etx-app-link aboutus-link"> 
                         <%-TR('Sobre nós')%>
                        </a>
                        <br/>
                        <a href="<%- compobj.confObj.payment_link %>"
                           class="etx-app-link terms-link"> 
                            <%-TR('Termos & Condições')%>
                        </a>
                        <br/>
                        <a href="<%- compobj.confObj.privacy_pol %>"
                            class="etx-app-link privacy-link"> 
                            <%-TR('Politica de Privacidade')%>
                        </a>
                        <br/>
                        <a href="<%- compobj.confObj.delivery_pol %>"
                            class="etx-app-link gallery-link"> 
                            <%-TR('Galeria')%>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-group-item"
                style="border-left:2px solid #ccc;">
                <h5 class="etx-group-title"><%-TR('MINHA CONTA')%></h5>
                <ul class="list-inline menu-list mb-2">            
                    <li class="list-inline-item">
                        <a href="contacto.html"
                            class="etx-app-link"> 
                            <%-TR('Fale Connosco')%>
                        </a>
                        <br/>
                        <!--
                        <a href="account.html"
                            class="etx-app-link"> 
                            Minha Conta
                        </a>
                        -->
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-group-item"
                style="border-left:2px solid #ccc;">
                <h5 class="etx-group-title"><%-TR('ENTRE EM CONTACTO')%></h5>
                
                <ul class="list-inline menu-list mb-2">            
                    <li class="list-inline-item">
                        <p class="etx-contact-main">
                            <a href="mailto:<%-compobj.fields[$PCF.email_1]%>"
                                class="etx-contact-email"> 
                                <i class="fa fa-envelope"></i> 
                                <%-compobj.fields[$PCF.email_1]%>
                            </a>
                        </p>
                        <p class="etx-contact-main">
                            <a href="#" class="etx-contact-hq"> 
                                <i class="fa fa-home"></i> 
                                <%-compobj.fields[$PCF.hq]%>
                            </a>
                        </p>

                        <p ng-if="'<%-compobj.fields[$PCF.phone_1]%>'"
                             style="margin:0px;"
                             class="etx-phone-item"
                             ng-repeat="phone in '<%-compobj.fields[$PCF.phone_1]%>'.split(',') track by $index">
                            <span class="fa fa-phone"></span>

                            <a href="tel:{{phone}}"
                                class="etx-phone-number etx-app-link"
                                ng-bind="phone">
                            </a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-group-item">
                <h5 class="etx-group-title"><%-TR('SIGA NOS')%></h5>

                <ul class="list-inline mb-40">
                    <%=
                        compobj.fields[$PCF.tw_link]?
                        `
                        <li class="list-inline-item mr-3">
                            <a href="${compobj.fields[$PCF.tw_link]}"
                                class="etx-app-link-social">
                                <i class="fa fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        ` 
                        : ''
                    %>

                    <%=
                        compobj.fields[$PCF.insta_link]?
                        `
                        <li class="list-inline-item">
                            <a href="${compobj.fields[$PCF.insta_link]}" target="__blank"
                                class="etx-app-link-social">
                                <i class="fa etx-text-danger fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                        ` 
                        : ''
                    %>

                    <%=
                        compobj.fields[$PCF.youtube_link]?
                        `
                        <li class="list-inline-item">
                            <a href="${compobj.fields[$PCF.youtube_link]}" target="__blank"
                                class="etx-app-link-social">
                                <i class="fa etx-text-danger fa-youtube fa-2x fa-fw"></i>
                            </a>
                        </li>
                        ` 
                        : ''
                    %>

                    <%=
                        compobj.fields[$PCF.fb_link]?
                        `
                        <li class="list-inline-item">
                            <a href="${compobj.fields[$PCF.fb_link]}" target="__blank"
                                class="etx-app-link-social">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        ` 
                        : ''
                    %>

                </ul>

                <h5 class="etx-group-title payment-options"><%-TR('FORMAS DE PAGAMENTO')%></h5>
                <img src="<%- compobj.confObj.payment_img %>" 
                    class="contact-payment-options"
                    width="<%- compobj.confObj.img_w %>" 
                    height="<%- compobj.confObj.img_h %>" 
                    style="margin-bottom:20px;"
                />
            </div>
        </div>
    </div>

    <div class="row rs-margin etx-copy-container">
        <div class="col-12 h-100 text-center my-auto">
            <h3 class=" ">
                © 
                <span ng-bind="currentYear"></span>
                <%- compobj.confObj.copy %>
            </h3>
            <h3 class=" ">
                <span class="powered-by-etx"
                    style="font-size:14px;">
                    Powered By 
                    <a href="https://enterstarts.com"
                        target="__blank">Enterstarts.com</a>
                </span>
            </h3>
        </div>
    </div>

</footer>
