<footer class="footer footer-business ng-scope" 
    id="footer-kualeh-<%=compobj.id%>"
    style="background:#5c0f8b;"
    ng-controller="FooterController">
    
    <div class=" container footer-elements ">
        <div class="row rs-margin footer-array">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer-group-item text-center">
                <ul class="list-inline menu-list text-left">            
                    <li class="list-inline-item">
                        <br>
                        <a href="<%- compobj.confObj.privacy_pol %>" 
                            class="etx-app-link terms-link text-lwarning"> 
                            Política de Privacidade
                        </a>
                        <br>
                        <a href="<%- compobj.confObj.usage_pol %>" 
                            class="etx-app-link terms-link text-lwarning"> 
                            Condições de Utilizaç&atilde;o
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center footer-group-item">
                <p class="etx-contact-main text-lwarning" style="margin-top:25px;">
                    <a href="mailto:geral@kualeh.cv" class="text-lwarning etx-contact-email"> 
                        <i class="fa fa-envelope"></i> 
                        geral@kualeh.cv
                    </a>
                </p>

                <ul class="list-inline mb-40">
                    
                        <li class="list-inline-item">
                            <a href="<%=compobj.fields[$PCF.fb_link]%>" target="__blank" class="etx-app-link-social">
                                <img src="<%=WS_HOST%>/img/social-icons/001-facebook-logo.svg" 
                                    class="text-center" style="width:29px;" />
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="<%=compobj.fields[$PCF.insta_link]%>" target="__blank" class="etx-app-link-social">
                                <img src="<%=WS_HOST%>/img/social-icons/004-instagram.svg" 
                                    class="text-center" style="width:29px;" />
                            </a>
                        </li>
                    
                    
                        <li class="list-inline-item">
                            <a href="<%=compobj.fields[$PCF.youtube_link]%>" target="__blank" class="etx-app-link-social">
                                <img src="<%=WS_HOST%>/img/social-icons/002-youtube-logotype.svg" 
                                    class="text-center" style="width:29px;" />
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a href="<%- compobj.confObj.tik_tok_link %>" target="__blank" class="etx-app-link-social">
                                <img src="<%=WS_HOST%>/img/social-icons/003-tik-tok.svg" 
                                    class="text-center" style="width:29px;" />
                            </a>
                        </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center footer-group-item">
                <p class="etx-group-title payment-options text-lwarning" style="margin-top:22px;margin-bottom:0px">Aceitamos</p>
                <img src="https://publica.enterstarts.com/img/payment-img/vinti4.png" class="text-center" style="width:40px;margin-right:10px;">
                <img src="https://publica.enterstarts.com/img/payment-img/visacard.png" class="text-center" style="width:52px;margin-right:10px;">
                <!--<img src="https://publica.enterstarts.com/img/payment-img/verifiedvisa.png" class="text-center" style="width:61px;margin-right:10px;">-->
                <img src="https://publica.enterstarts.com/img/payment-img/mastercard.png" class="text-center" style="width:69px;">
            </div>

        </div>
    </div>

    <div class="row rs-margin etx-copy-container" style="background:#5c0f8b">
        <div class="col-12 h-100 text-center my-auto">
            <h5 class="text-lwarning ">
                © 
                2021
                KUALEH
            </h5>
        </div>
    </div>

</footer>