                        <div class="col-12" style="backgrond-color:#f4f4f4;">
                            <div class="video-header-area">
                                <!-- <hr/> -->
                                <h3>Seja nosso host!</h3>
                                <p class="text-secondary">Fa&ccedil;a parte dos nossos hosts e partilhe a sua
                                    paix&atilde;o pela comida online ou tambem em sua casa
                                </p>
                                <a href="create-host-account.html"
                                    class="btn btn-lg btn-success btn-round text-bold">
                                    ABRIR CONTA
                                </a>
                            </div>

                            <div class="video-ad-area">
                                <video id="my-video-c60728c369974aa6" class="video-js vjs-theme-city" controls="" preload="auto" muted="true" style="width:100%" height="350px;">

                                    <source src="https://d2usz11ob1s9yq.cloudfront.net/4875994e-41d1-4aef-b5ad-3a3f375928c2/mp4/c3e7c15f5afa8905bf78ebadf14_Mp4_Avc_Aac_16x9_1920x1080p_24Hz_8.5Mbps_qvbr.mp4 " type="video/mp4">
                                    <p class="vjs-no-js">
                                      To view this video please enable JavaScript, and consider upgrading to a
                                      web browser that
                                      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
                        </div>
