<div class="row rs-margin" ng-controller="x99Realstate">

    <div class="col-12 rs-padding">
        <div class="exp-search-board"
            id="exp-search-board-<%=compobj.id%>"
            ng-init="initExpSearch('<%=compobj.id%>', true)">

            <div class="dropdown date-filter-dropdown">
                <div class="search-bar"
                    data-toggle="dropdown"
                    data-target="#" >
                    <h3 class="date-render">
                        <span class="date-icon">
                            <span class="fa fa-calendar text-primary"></span>
                        </span>
                        <span class="date-label-fmt"
                            ng-bind="moment(query_exp.start_date).format('LL')">
                        </span>
                        -
                        <span class="date-label-fmt"
                            ng-bind="moment(query_exp.end_date).format('LL')">
                            <!-- {{query_exp.end_date}} -->
                        </span>
                    </h3>
                </div>

                <ul class="dropdown-menu" role="menu" 
                  aria-labelledby="dLabel-<%=compobj.id%>">
                    <li>
                        <div class="row rs-margin">
                            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                                  <input type="text" class="form-control" 
                                        placeholder="Inicio" 
                                        id="search-<%=compobj.id%>-start"
                                        aria-describedby="basic-addon1"
                                  />
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
                                  <input type="text" class="form-control" 
                                        placeholder="Fim" 
                                        id="search-<%=compobj.id%>-end"
                                        aria-describedby="basic-addon2"
                                  />
                            </div>
                            <div class="col-12">
                                <button type="button" 
                                    class="btn btn-round exp-submit-search btn-warning"
                                    ng-click="queryExperiences('<%=compobj.id%>')">
                                    <span class="fa fa-search"></span>
                                    <%- TR('PESQUISAR') %>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-12 rs-padding">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <center>
                        <div style="padding: 10px;">
                            <h3>
                                <span style="font-size:20px;" class="fa fa-refresh fa-spin text-warning"></span>
                                <br/>
                                <span class="text-secondary">
                                <%- TR('AGUARDE') %>
                                </span>
                            </h3>
                        </div>
                    </center>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <div class="row rs-margin">

                        <div class="col-12 text-center" 
                            ng-if="exp_list.length==0">
                            <h3 class="etx-none-found">
                                <div style="padding:20px;">
                                    <%- TR('Nenhuma experiencia encontrada para essa data.') %>
                                </div>
                            </h3>
                        </div>
                        
                        <div class="col-lg-4 rs-padding col-md-6 col-sm-12 " 
                            style="margin-bottom:10px;"
                            ng-repeat="obj in exp_list">

                            <div class="card h-100" style="border-radius:15px;width:100%;">
                              <!-- <img class="card-img-top" ng-src="{{obj.fields.image}}" alt="Card image cap"> -->
                                <div style="background-image:url('{{obj.fields.image}}');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;">
                                    <div style="padding:10px;padding-top:220px;background: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 120% ;height:270px;">
                                        <div ng-if="!obj.fields.hostObj">
                                            <span class="pull-right card-title exp-list-price">{{obj.fields.price_amount|currency:''}}
                                            <span class="exp-list-currency">
                                            {{obj.fields.currency}}
                                            </span>
                                            </span>
                                            <h4 class="card-title text-white exp-list-date" 
                                                style="">
                                                {{moment(obj.fields.start_date).format("DD MMMM").toUpperCase()}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body rs-padding host-obj-body">
                                    <div class="exp-details-container"
                                        ng-if="!obj.fields.hostObj">
                                        <p class="text-secondary " 
                                        style="margin:0px;padding:0px;">
                                            {{obj.fields.title|uppercase}}
                                        </p>
                                        <a class="btn-round text-center btn btn-success text-white "
                                            ng-if="!obj.fields.hostObj"
                                            href="experience.html?object_key={{obj.id}}"
                                            style="padding-left:25px;padding-right:25px">
                                            <%- TR('RESERVAR') %>
                                        </a>
                                    </div>

                                    <div ng-if="obj.fields.hostObj"
                                        class="cursor-pointer experience-host-embeed">
                                        <a href="view-host.html?objectId={{obj.fields.hostObj.Id}}&schemaId={{obj.fields.hostObj.SchemaId}}">
                                            <!--
                                            <img ng-src="{{obj.fields.hostObj.picture}}"
                                                style="border-radius:150px;"
                                                class=" experience-host-img"
                                                width="50px"
                                                heigh="50px"
                                             />
                                            -->
                                            <h4 class="experience-host-details">
                                                {{obj.fields.hostObj.name}}
                                                {{obj.fields.hostObj.surname}}
                                            </h4>
                                            <a class="btn-round text-center btn btn-success text-white "
                                                ng-if="obj.fields.hostObj"
                                                href="view-host.html?objectId={{obj.fields.hostObj.Id}}&schemaId={{obj.fields.hostObj.SchemaId}}"
                                                style="padding-left:25px;padding-right:25px">
                                                <%- TR('RESERVAR') %>
                                            </a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                    Error
                </div>
            </div>

        </div>
        
    </div>
    

</div>
