<div class="col-12 rs-padding">
    <div class="row flex-row d-flex rs-margin" style="background-color:#f4f4f4;">
        <div ng-class="{'col-lg-4 col-md-6 col-xs-6 rs-padding': media_list.length>0,
                     'col-12 rs-padding': media_list.length==0}">
            <div class="carousel slide" data-ride="carousel" id="carrousel-{{experience_obj.id}}">
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active banner-item" 
                         style="background-image:url('{{splash_img}}');background-size:cover;"
                         >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-6 rs-padding"
            ng-repeat="media in media_list">
            <div class="carousel slide" data-ride="carousel" id="carrousel-{{media.id}}">
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active banner-item" 
                         style="background-image:url('{{media.fields.<%-$PME.url%>}}');background-size:cover;"
                         >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>