<div class="row rs-margin" ng-controller="x99Realstate">
    <!--
    <div class="col-12">
        <form name="queryExperiencesForm" ng-submit="queryExperiences('<%=compobj.id%>')"
             class="experience-filter-search">
            <div class="form-group"
                ng-init="initExpSearch('<%=compobj.id%>', '#search-<%=compobj.id%>' )">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">
                        <span class="fa fa-calendar text-primary"></span>
                  </span>
                  <input type="text" class="form-control" 
                        placeholder="Inicio" 
                        id="search-<%=compobj.id%>-start"
                        ng-model="query_exp.start_date"
                        aria-describedby="basic-addon1"
                  />
                  <input type="text" class="form-control" 
                        placeholder="Fim" 
                        id="search-<%=compobj.id%>-end"
                        ng-model="query_exp.end_date"
                        aria-describedby="basic-addon2"
                  />
                </div>
                <button type="submit">
                    <span class="fa fa-search text-warning"></span>
                </button>
            </div>
        </form>
    </div>
    -->

    <div class="col-12 rs-padding"
        ng-init="loadExperience('<%=compobj.id%>')">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <center>
                        <div style="padding: 10px;">
                            <h3>
                                <span style="font-size:20px;" class="fa fa-refresh fa-spin text-warning"></span>
                                <br/>
                                <span class="text-secondary">
                                Aguarde
                                </span>
                            </h3>
                        </div>
                    </center>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <div class="row rs-margin">
                        
                        <div class="col-lg-4 rs-padding col-md-6 col-sm-12 " 
                            style="margin-bottom:10px;"
                            ng-repeat="obj in exp_list">

                            <div class="card h-100" style="border-radius:15px;width:100%;">
                              <!-- <img class="card-img-top" ng-src="{{obj.fields.image}}" alt="Card image cap"> -->
                              <div style="background-image:url('{{obj.fields.image}}');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;">
                                <div style="padding:10px;padding-top:220px;background: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 120% ;height:270px;">
                                    <span class="pull-right text-white card-title exp-list-price">
                                        {{obj.fields.price_amount|currency:''}}
                                        <span class="exp-list-currency">
                                        {{obj.fields.currency}}
                                        </span>
                                    </span>
                                    <h4 class="card-title text-white exp-list-date" >
                                        {{moment(obj.fields.start_date).format("DD MMMM").toUpperCase()}}
                                    </h4>
                                </div>
                              </div>

                              <div class="card-body rs-padding" style="">

                                <div class="text-center" style="background-color:#f2f2f2;padding-top:20px;padding-bottom:20px;">
                                    <p class="text-secondary " style="margin:0px;padding:0px;">{{obj.fields.title|uppercase}}</p>
                                    <a class="btn-round text-center btn btn-success text-white "
                                        href="experience.html?object_key={{obj.id}}"
                                        style="padding-left:25px;padding-right:25px">
                                        <%- TR('RESERVAR') %>
                                    </a>

                                </div>
                                <!-- {{obj.fields.location}} -->

                              </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                    Error
                </div>
            </div>

        </div>
        
    </div>
    

</div>
