<div class="row rs-margin" ng-controller="x99Realstate">
    <div class="col-12 rs-padding"
        ng-init="fetchpublicExperience('<%=compobj.id%>')">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist"
                style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#details-<%=compobj.id%>" aria-controls="details-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Detalhes
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#reservation-<%=compobj.id%>" aria-controls="error-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Reservas
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none;">
                    <a href="#home-<%=compobj.id%>" aria-controls="home-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#error-<%=compobj.id%>" aria-controls="error-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none;">
                    <a href="#reserve-success-<%=compobj.id%>" aria-controls="reserve-success-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#reserve-payment-<%=compobj.id%>" 
                            aria-controls="reserve-payment-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Payments
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none;">
                    <a href="#reserve-receipt-<%=compobj.id%>" 
                        aria-controls="reserve-receipt-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Receipts
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="mytab-<%=compobj.id%>"
                style="min-height:300px;background-color:#fff;">
                <div role="tabpanel" class="tab-pane fade show active " id="home-<%=compobj.id%>">
                    <center>
                        <div style="padding: 10px;">
                            <h3>
                                <span style="font-size:20px;" class="fa fa-refresh fa-spin text-warning"></span>
                                <br/>
                                <span class="text-secondary">
                                <%- TR('AGUARDE') %>
                                </span>
                            </h3>
                        </div>
                        
                    </center>
                </div>
                
                <div role="tabpanel" class="tab-pane fade " id="details-<%=compobj.id%>">
                    <div class="row rs-margin"
                        style="padding-bottom:70px;">

                        <div class="col-12" style="padding-top:15px;">
                            <nav aria-label="breadcrumb" role="navigation">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">
                                    <%- TR('INICIO') %>
                                </a></li>
                                <li class="breadcrumb-item"><a href="experiencias.html">
                                    <%- TR('EXPERIÊNCIAS') %>
                                </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{experience_obj.fields.title|uppercase}}
                                </li>
                              </ol>
                            </nav>

                            <h3>
                                {{experience_obj.fields.title|uppercase}}
                            </h3>

                            <p class="text-bold text-secondary">
                                <span class="fa fa-globe text-primary"></span>
                                {{experience_obj.fields.location|uppercase}}
                            </p>

                            <p class="text-bold text-secondary">
                                {{experience_obj.fields.description|uppercase}}
                            </p>

                            <hr/>

                        </div>

                        <div class="col-lg-8 col-md-6 col-xs-12 col-sm-12">
                            <div class="blog-content" style="margin-top:15px;margin-bottom:15px">
                                <div ng-if="loading_post" style="padding:10px;background-color:#f4f4f4;">
                                    <center>
                                        <h3>
                                            <span class="fa fa-refresh fa-spin text-warning"
                                                style="font-size:35px;"></span>
                                            <span class="etx-text-secondary"
                                                style="font-size:22px;">
                                                <%- TR('AGUARDE') %>
                                            </span>
                                        </h3>
                                    </center>
                                </div>
                                <div id="blog-pl-<%=compobj.id%>"></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12 ">
                            <div class="alert alert-info ">
                                <h3 class="exp-make-reservation-title">
                                    <%- TR('Efectue a sua reserva') %>
                                </h3>

                                <div style="padding:10px;background-color:#fff;border:1px solid #ccc;">
                                    <p class='text-bold' style="margin:0px;color:#333;">
                                        <%- TR('Apartir de') %>
                                    </p>
                                    <h3>
                                        <span class="text-bold">{{experience_obj.fields.price_amount|currency:''}}</span>
                                        <span class="text-danger">{{experience_obj.fields.currency}}</span>
                                    </h3>
                                </div>
                                <form>
                                    <div>
                                        <!-- <h3>allow_dates={{experience_obj.fields.allow_dates}}</h3> -->
                                        <p class="text-bold text-secondary rs-margin">
                                            <%- TR('Escolha uma data de') %>
                                            <span class=''>
                                                <strong class="exp-time-start">
                                                    {{moment(experience_obj.fields.start_date).format("LL")}}
                                                </strong>
                                                a
                                                <strong class="exp-time-end">
                                                    {{moment(experience_obj.fields.end_date).format("LL")}}
                                                </strong>
                                            </span>
                                        </p>
                                        <!-- <h4>Data ({{reqObj.fields.start_date}})</h4> -->
                                        <input type="text" id="reservation-date-pick-<%=compobj.id%>" class="form-control" />
                                    </div>

                                    <button class="btn btn-round etx-bg-success btn-round text-bold btn-lg"
                                        style="margin-top:15px;"
                                        ng-disabled="!reqObj.fields.start_date"
                                        ng-click="openReservationBoard('<%=compobj.id%>', '#reservation-<%=compobj.id%>')">
                                        <%- TR('CONTINUAR') %>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

                <div role="tabpanel" class="tab-pane fade " id="reserve-payment-<%=compobj.id%>">

                    <!--
                    <div ng-if="res_payment_screen=='ready'">
                        <center>
                            <h3 class="">
                                <span class="fa fa-refresh fa-spin text-warning"></span>
                            </h3>
                            <h3 class="">
                                AGUARDANDO O PAGAMENTO
                            </h3>

                            <a href="{{billingObj.view_link}}"
                                class="btn bg-success btn-round text-bold text-white"
                                target="__blank">
                                <span class="fa fa-credit-card"></span>
                                Efectuar o pagamento
                            </a>
    
                            <a ng-click="verifyIsPaid('<%=compobj.id%>')"
                                class="btn bg-warning btn-round text-bold cursor-pointer"
                                target="__blank">
                                <span class="fa fa-refresh"></span>
                                Verificar
                            </a>
                        </center>
                    </div>
                    -->

                    <div class="row rs-margin"  >
                        <div class="col-12 rs-padding">
                            <div class="alert alert-success text-center" style="margin-bottom:0px;"
                                >
                                <!-- <h3 style="margin:0px">Fatura {{currentBillingtx.id}}</h3> -->
                                <!-- <h3 style="margin:0px">Carrinho {{currentBillingtx.contextId}}</h3> -->
                                <!-- <p>Embeed Link {{currentBillingtx.embeed_payment_link}}</p> -->
                                <h3 style="color:#333;margin:0px;">
                                    <span class="text-success fa fa-check"
                                        style="font-size:55px;"></span>
                                    <br/>
                                    <%- TR('Obrigado') %>
                                </h3>
                                <h3 style="color:#333;margin:0px;">
                                    <%- TR('A Sua Reserva foi efectuada com sucesso.') %>
                                </h3>
                                <h4 style="margin:0px;" ng-if="!billingObj">
                                    <span class="fa fa-refresh fa-spin" ng-if="updating_pstatus"></span>
                                    <span style="color:#333">
                                        <%- TR('Aguardando Pagamento') %>
                                    </span>
                                </h4>
                                <p style="margin:0px" ng-if="billingObj">
                                    <%- TR('Se não abrir uma janela abaixo,') %>
                                    <br/>
                                    <a href="{{viewLink}}">
                                        <%- TR('clique aqui para efetuar o pagamento') %>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- src="http://127.0.0.1:9000/billings/764d99d80c49468d/for-client-embeed" -->
                        <!-- ng-src="currentBillingtx.embeed_payment_link" -->
                        <div class="col-12 text-center">
                            <div class="alert alert-warning"
                                style="padding:30px;background:transparent;border-radius:0px;"
                                ng-if="frame_is_loading">
                                <h3 style="color:#333;">
                                    <span class="text-warning fa fa-refresh fa-spin"></span>
                                    <%- TR('AGUARDE') %>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 rs-padding" id="iframe_payment_index" 
                            ng-show="!frame_is_loading">
                            <!--
                            <iframe 
                                id="iframe_payment"
                                style="border:0px;"
                                height="800px" width="100%"></iframe>
                            -->
                        </div>
                    </div>

                </div>
                
                <div role="tabpanel" class="tab-pane fade " 
                    id="reserve-receipt-<%=compobj.id%>">
                    <span class="text-success fa fa-check"
                        style="font-size:35px;"></span>
                    <h3 style="color:#333;margin:0px;">
                        <%- TR('Reserva efectuada e paga com sucesso') %>
                    </h3>

                    <a href="{{billingObj.view_link}}"
                        class="btn bg-success btn-round text-bold text-white"
                        target="__blank">
                        <span class="fa fa-credit-card"></span>
                        <%- TR('VER RECIBO') %>
                    </a>
                </div>

                <div role="tabpanel" class="tab-pane fade " id="reservation-<%=compobj.id%>">

                    <div class="card-body text-center" style="padding-top:15px;"
                        ng-if="saving_res">
                        <span class="fa fa-refresh fa-spin text-warning" 
                            style="font-size:55px;margin-top:15px;"></span>
    
                        <h4 class="card-title" style="font-weight:bold;">
                            <%- TR('Processando') %> ...
                        </h4>
                    </div>
    
                    <div class="card-body text-center" style="padding-top:15px;"
                        ng-if="success_res">
                        <span class="fa fa-check text-success" 
                            style="font-size:55px;margin-top:15px;"></span>
    
                        <h4 class="card-title" style="font-weight:bold;">
                            <%- TR('Reserva efectuada com sucesso') %>
                        </h4>
                    </div>
    
                    <div class="alert alert-danger" 
                        id="error-area-<%=compobj.id%>"
                        style="padding-top:15px;border-radius:0px;"
                        ng-if="error_res">
                        <h3 style="color:#333;">
                            <%- TR('Não foi possivel concluir a operação') %>
                        </h3>
                        <p ng-repeat="e in errors_res">{{e}}</p>
                    </div>

                    <div class="row rs-margin" style="background-color:#f4f4f4;padding:20px;padding-bottom:40px;">
                        <div class="col-md-8 col-lg-8 col-sm-12 "
                            style="background-color:#fff;padding:15px;border:1px solid #ccc;border-radius:4px;" 
                            ng-if="reservation_screen=='home'">
                            <form ng-submit="prepareReservation(prepareReservationForm, '<%=compobj.id%>')"
                                name="prepareReservationForm">

                                <div class="alert alert-warning"
                                    style="border-radius:0px">
                                    <h3 style="color:#333;font-size:22px;margin:0px;">
                                        <%- TR('Preencha o formulário para efetuar a reserva.') %>
                                    </h3>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        Email
                                    </label>
                                    <input type="email" class="form-control" 
                                        placeholder="Aa"
                                        required
                                        ng-model="reqObj.fields.email"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <%- TR('Nome') %>
                                    </label>
                                    <input type="text" class="form-control" 
                                        placeholder="Aa"
                                        required
                                        ng-model="reqObj.fields.customer_name"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <%- TR('Sobrenome') %>
                                    </label>
                                    <input type="text" class="form-control" 
                                        placeholder="Aa"
                                        required
                                        ng-model="reqObj.fields.customer_surname"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <%- TR('Telefone') %>
                                    </label>
                                    <input type="number" class="form-control" 
                                        placeholder="Aa"
                                        required
                                        ng-model="reqObj.fields.phone"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <%- TR('Endereço') %>
                                    </label>
                                    <input type="text" class="form-control" 
                                        placeholder="Aa"
                                        required
                                        ng-model="reqObj.fields.address"
                                    />
                                </div>

                                <div class="form-group">
                                    <a href="javascript:void(0)"
                                        ng-show="no_corporate"
                                        ng-click="fillInCorporateCode('<%=compobj.id%>')">
                                        <%= TR('Deseja utilizar o seu código corporate') %>

                                        <span class="fa fa-refresh fa-spin"
                                            ng-show="loading_corporate_account"></span>
                                    </a>
                                    <p class="text-info text-bold"
                                        ng-show="corporate_not_found">
                                        <%= TR('Não parece ter uma conta corporate') %>
                                        <a href="prototipo_corporate" target="__blank">
                                            <%= TR('Requisite aqui') %>
                                        </a>
                                    </p>

                                    <label for="exampleInputEmail1"
                                        ng-show="!no_corporate">
                                        <strong><%- TR('Código CORPORATE') %></strong>:
                                        <span class="text-secondary text-bold">{{corporate_account.id.slice(0,6)}}</span>
                                        <span class="fa fa-check text-success"></span>

                                        <span class="text-danger text-bold" 
                                            ng-click="removeCorporateCode()">
                                            <span class="fa fa-times"></span>
                                            (Remover)
                                        </span>
                                    </label>
                                    <input type="hidden" class="form-control" 
                                        placeholder="Aa"
                                        ng-model="reqObj.fields.corporate_id"
                                    />
                                </div>

                                <button type="button" class="btn btn-secondary text-white btn-round text-bold btn-back "
                                    ng-click="goExpHome('<%=compobj.id%>')">
                                    <%- TR('VOLTAR') %>
                                </button>

                                <button type="submit" class="btn btn-success text-white btn-round text-bold btn-lg"
                                    ng-disabled="saving_res||price_error"> 
                                    <%- TR('CONTINUAR') %>
                                    <span class="fa fa-arrow-right"></span>
                                </button>
                            </form>
                        </div>
                        
                        <div class="col-md-8 col-lg-8 col-sm-12 "
                            ng-if="reservation_screen=='part-details'">
                            
                            <div style="border-radius:4px;">
                                <div class="row rs-margin">
                                    <div class="col-12">
                                        <h3 class="text-secondary">
                                            <%- TR('Adicionar participantes') %>
                                        </h3>
                                        <p class="text-secondary" style="margin:0px;"
                                            ng-if="experience_obj.fields.min_part>0">
                                            <%- TR('Minimo') %>
                                            {{experience_obj.fields.min_part}}
                                            <%- TR('pessoas') %>
                                        </p>
                                        <p class="text-secondary" style="margin:0px;"
                                            ng-if="experience_obj.fields.max_part>0">
                                            <%- TR('Maximo') %>:
                                            {{experience_obj.fields.max_part}}
                                            <%- TR('pessoas') %>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">
                                                <%- TR('Nome') %>
                                            </label>
                                            <input type="text" class="form-control" 
                                                placeholder="Aa"
                                                ng-model="part.customer_name"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">
                                                Email
                                            </label>
                                            <input type="email" class="form-control" 
                                                placeholder="Aa"
                                                ng-model="part.email"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">
                                                <%- TR('Sobrenome') %>
                                            </label>
                                            <input type="text" class="form-control" 
                                                placeholder="Aa"
                                                ng-model="part.customer_surname"
                                            />
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">
                                                <%- TR('Telefone') %>
                                            </label>
                                            <input type="number" class="form-control" 
                                                placeholder="Aa"
                                                ng-model="part.phone"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn bg-primary btn-round text-bold text-white btn-sm"
                                            ng-click="addPerson()">
                                            <%- TR('ADICIONAR') %>
                                        </button>
                                        <table class="table table-stripped">
                                            <thead>
                                                <th>
                                                    <%- TR('Participante') %>
                                                </th>
                                                <th>
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="p in personDB">
                                                    <td>
                                                        <p class="text-bold">
                                                        {{p.customer_name}}
                                                        {{p.customer_surname}}
                                                        </p>
                                                    </td>
                                                    <td>
                                                        {{p.email}}
                                                        <span class="fa fa-archive text-danger cursor-pointer"
                                                            ng-click="removePart(p, $index)">
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <form ng-submit="makeReservation(makeReservationForm, '<%=compobj.id%>')"
                                name="makeReservationForm">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <%- TR('Quantidade') %>
                                    </label>
                                    <input type="number" class="form-control" 
                                        placeholder=""
                                        required
                                        ng-model="reqObj.fields.amount"
                                    />
                                    <br/>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <%- TR('Observação') %>
                                    </label>
                                    <textarea type="text" class="form-control" 
                                        id="expDescr" 
                                        placeholder=""
                                        ng-model="reqObj.fields.description"
                                    ></textarea>
                                </div>

                                <button type="button" 
                                    ng-click="reservationScreen('home')"
                                    class="btn btn-secondary btn-round text-bold text-white"
                                    >
                                    <%- TR('VOLTAR') %>
                                </button>
                                <button type="submit" class="btn btn-success btn-round text-bold btn-lg text-white"
                                    ng-disabled="saving_res||price_error">
                                    <%- TR('FINALIZAR') %>
                                    <span class="fa fa-check"></span>
                                </button>
                            </form>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-12 "
                            style="background-color:#f4f4f4;">
                            <div class="" style="margin-bottom:10px;">
                                <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                                    class="text-center"
                                    style="width:40px;margin-right:10px;" 
                                />
                                <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                                    class="text-center"
                                    style="width:52px;margin-right:10px;" 
                                />
                                <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                                    class="text-center"
                                    style="width:61px;margin-right:10px;" 
                                />
                                <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                                    class="text-center"
                                    style="width:69px;" 
                                />
                            </div>

                            <table class="table">
                                <tr>
                                    <td class="text-left">
                                        Subtotal
                                    </td>
                                    <td class="text-right">
                                        0.00
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Descontos
                                    </td>
                                    <td class="text-right">
                                        0.00
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        <h3>
                                            Total
                                        </h3>
                                    </td>
                                    <td class="text-right">
                                        <h3>
                                            {{
                                                (parseMoney(reqObj.fields.amount)
                                                *
                                                parseMoney(experience_obj.fields.price_amount)).toFixed(2) || 0 | currency:''
                                            }}
                                            <span class="text-danger">
                                                {{experience_obj.fields.currency}}
                                            </span>
                                        </h3>
                                    </td>
                                </tr>
                            </table>

                            <p class="text-muted">
                                <!-- Ao comprar na nossa loja, concorda com os nossos -->
                                <%- TR('ALERTA DE COMPRA') %>
                                <a href="">
                                <%- TR('termos de serviço') %>.
                                </a>
                            </p>

                            <div class="cursor-pointer" 
                                style="padding-top:80px;padding-bottom:10px;">
                                <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                    <%- TR('Verificado & Protegido por') %>
                                </p>
                                <a href="https://enterstarts.com" 
                                    target="__blank">
                                    <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                        class="text-center"
                                        style="width:220px;" 
                                    />
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12" >
                        </div>
                    </div>
                    
                </div>
                
                <div role="tabpanel" class="tab-pane fade" id="reserve-success-<%=compobj.id%>">
                    <span class="text-success fa fa-check"
                        style="font-size:35px;"></span>
                    <h3 style="color:#333;margin:0px;">
                        <%- TR('Reserva efectuada com sucesso') %>                        
                    </h3>
                    <h3 style="color:#333;margin:0px;">
                        <small>
                            <%- TR('Enviamos para o seu email a confirmação desta reserva.') %>
                        </small>
                    </h3>

                    <a href="{{APP_HOST}}/ephp/v1/reservation/{{reservation_conf.id}}/public"
                        target="__blank">
                        <%- TR('Clique aqui para ver a sua reserva.') %>
                    </a>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="error-<%=compobj.id%>">
                    Error
                </div>
            </div>

        </div>
    </div>
</div>
