<div class="row rs-margin" ng-controller="x99Realstate">

    <div class="col-12 rs-padding"
        ng-init="loadExperience('<%=compobj.id%>')">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <center>
                        <div style="padding: 10px;">
                            <h3>
                                <span style="font-size:20px;" class="fa fa-refresh fa-spin text-warning"></span>
                                <br/>
                                <span class="text-secondary">
                                Aguarde
                                </span>
                            </h3>
                        </div>
                    </center>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <div class="row rs-margin">
                        
                        <div class="col-lg-4 col-md-6 col-sm-12 exp-item" ng-repeat="obj in exp_list">

                            <div class="card" style="">
                                <img class="card-img-top" src="..." alt="Card image cap">
                                <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>

                            <div class="card h-100 rs-supercard super-card "
                                id="super-card-<%-compobj.id%>"
                                style="margin-top:15px;background-image:url('{{obj.fields.image}}')"
                                data-imagebg="<%=compobj.fields[$PCF.image]%>"
                                ng-click="openExperience('<%=compobj.id%>', obj.id)"
                                ng-controller="SuperCardController">
                            
                                <div class="card-body">
                                    <span class="btn btn-sm btn-round btn-primary text-white text-bold">
                                        <span class="fa fa-globe"></span>
                                        {{obj.fields.location}}
                                    </span>

                                    <h4 class="card-title" style="margin-top:5px;">
                                        <a href="#">
                                            {{obj.fields.title|uppercase}}
                                        </a>
                                    </h4>
                                    <h4 class="card-title">
                                        <a href="#">
                                            {{obj.fields.price_amount|currency:''}}
                                        </a>
                                        <strong class="text-bold text-warning">
                                            {{obj.fields.currency}}
                                        </strong>
                                    </h4>
                                </div>
                                <!--
                                <div class="card-footer">
                                    <button class="btn-block btn btn-success text-white text-bold">
                                        ABRIR
                                    </button>
                                </div>
                                -->
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                    Error
                </div>
            </div>

        </div>
        
    </div>
    

</div>
