    <div class="col-5 "
        style="padding-top:50px;background-color:rgba(0,0,0,.7);height:45vh;;padding-left:10px">
        <div role="tabpanel">
        
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" 
            style="background:transparent;">
            <li role="presentation" class="nav-item">
                <a href="#home" aria-controls="home" 
                    class="nav-link active"
                    role="tab" data-toggle="tab">CONSULTAR RESERVA</a>
            </li>
            <li role="presentation" class="nav-item" style="display:none">
                <a href="#profile" aria-controls="profile" 
                    class="nav-link"
                    style="background-color:#f4f4f4;color:#666"
                    role="tab" data-toggle="tab">ABRIR CONTA</a>
            </li>
            <li role="presentation" class="nav-item" style="display:none">
                <a href="#messages" aria-controls="messages" 
                    class="nav-link"
                    style="background-color:#f4f4f4;color:#666"
                    role="tab" data-toggle="tab">PESQUISAR</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content"
            style="background-color:#fff;border-radius:4px;box-shadow:0px 0px 2px rgba(0,0,0,.3);min-height:200px;">
            <div role="tabpanel" class="tab-pane active" id="home">
                <!--<h3>Consultar Reserva</h3>-->
                <div class="row rs-margin">
                    <div class="col-12">
                        <p class="text-secondary" style="margin:0px;padding:10px;padding-bottom:5px">
                        Introduza a refer&ecirc;ncia da sua reserva
                        para acompanha-lo na plataforma.
                        </p>
                        <form class="form-inline"
                          name="reservationVerifier"
                          method="GET"
                          ng-submit="openReservation(reservationVerifier, verify_order_id)">

                          <div class="form-control rs-form-control" style="width:100%;padding:0px;margin-top:2px;margin-bottom:10px;">
                              <!--<input id="datetimepicker" type="text" class="form-control" />-->

                              <input type="text" 
                                  name="cart_id"
                                  required
                                  ng-model="verify_order_id"
                                  id="order-id-<%=compobj.id%>"
                                  placeholder="Referencia da reserva " 
                                  style="font-size:16px;background-color:#fff;margin-bottom:10px;box-shadow: 0px 0px 2px rgba(0,0,0,.3);font-size: 17px;font-weight: bold;width:100%;"
                                  class="form-control search-input ecommerce-order-verify"
                              />
                          </div>

                        <button class="btn btn-warning btn-round text-bold btn-order-open "
                            ng-disabled="!verify_order_id||verify_order_id.length<16"
                            type="submit"
                            style="color:#333;margin-top:10px;">
                            CONSULTAR
                        </button>

                      </form>
                        <hr/>
                        <p class="text-secondary" style="margin:0px">
                            Aceitamos
                        </p>
                        <img src="https://publica.enterstarts.com/img/etx-payments-2.png" class="contact-payment-options" style="margin-bottom:20px;" width="200" height="" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <h3>CRIAR CONTA OU LOGIN</h3>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <h3>PESQUISAR</h3>
            </div>
          </div>
        </div>
    </div>
