<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> " 
    style="padding:0px;"
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99Ecommerce22">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-navigation-control"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>')">

        <div class="row rs-margin">

            <div class="col-12 rs-padding">
                <div class="navbar-topbanner" id="navbar-topbanner-<%=compobj.id%>">
                </div>
            </div>

            <!-- Mobile Navbar -->
            <div class="col-md-12 d-lg-none"
                style="padding-bottom:10px;">

                <div class="pull-left"
                    id="navbar-brand-mobile-<%=compobj.id%>">
                    <a class="navbar-brand navbar-brand-mobile" 
                        href="index.html">
                        <% if (compobj.has_logo) { %>
                        <img src="<%- compobj.fields[$PCF.image] %>" 
                          width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                          height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                        />
                        <% } else { %>
                          <%- compobj.navbar_title %>
                        <% } %>
                    </a>
                </div>

                <div class="pull-right"
                    style="padding-left:5px;padding-top:10px;">
                    <a href="javascript:void(0) " 
                        style="padding-left:5px;"
                        ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                        class="etx-text-white cart-link">
                        <span class="fa fa-shopping-cart"
                        style="font-size:25px;"></span>
                    </a>
                </div>
    
                <div class="pull-right"
                    style="padding-left:5px;padding-top:10px;">
                    <a href="javascript:void(0) " 
                        style="padding-right:10px;"
                        ng-click="openNavbarSupport('<%= compobj.id %>')"
                        class="etx-text-white cart-link">
                        <span class="fa fa-bars"
                        style="font-size:25px;"></span>
                    </a>
                </div>

                <form class="form-inline"
                    ng-if="!is_explorer_enable"
                    method="GET" action="ec-search.html">
                    <input type="search" 
                        name="qinit"
                        ng-click="enableExplorer('<%=compobj.id%>')"
                        placeholder="Em que posso ajuda-lo? " 
                        style="font-size:16px;"
                        class="form-control search-input ecommerce-navbar-search"
                    />
                </form>
            </div>

            <!-- Desktop logo & search -->
            <div class="navbar-brand-container col-lg-7 col-sm-12 col-md-12 col-xs-6 col-sm-12 d-none d-lg-block ">
                <a class="navbar-brand navbar-brand-main pull-left" 
                    href="index.html"
                  xhref="ITS_MEEE">
                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>

                <form class="form-inline "
                  ng-if="!is_explorer_enable"
                  method="GET">
                    <input type="search" 
                          name="qxs"
                          ng-click="enableExplorer('<%=compobj.id%>')"
                          placeholder="Pesquisar aqui" 
                          class="form-control search-input ecommerce-navbar-search"
                    />
                </form>
            </div>

            <!-- Desktop controls -->
            <div id="search-container-<%=compobj.id%>" 
                class="col-lg-5 col-sm-12 col-md-8 col-xs-12 navbar-search-container d-none d-md-none d-lg-block" id="search-<%=compobj.id%>"
                style="padding-bottom:0px;">

                <ul class="nav nav-pills control-menu"
                    style="margin-top: 2px;">

                    <li role="presentation" class="borderline-hover menu-container-v2"
                        style="">
                        <h3 class="etx-text-white myaccount-link dropdown-toggle cursor-pointer "
                            id="myAccountdrop-<%=compobj.id%>" data-toggle="dropdown" 
                            aria-expanded="true"
                            style="font-size: 14px;margin:0px;">
                            <!--
                            <span class="fa fa-user-circle "
                                style="font-size:25px;"></span>
                            -->
                            <span>
                                Oi
                                <span ng-if="userObj" ng-bind="', ' + userNameFmt"></span>
                                <span ng-if="!userObj" ng-bind="'. Entre aqui'"></span>
                            </span>
                            <br/>
                            <span style="font-size:17px;margin-top:2px;"
                                class="text-bold ">
                                Minha Conta
                            </span>
                        </h3>

                        <ul class="dropdown-menu top-account-board" role="menu" 
                            aria-labelledby="myAccountdrop-<%=compobj.id%>">
                            <li role="presentation">
                                <div class="row rs-margin">
                                    <div class="col-12 login-area ">
                                        <div ng-if="!userObj" class="text-center">
                                            <button class="btn etx-bg-warning etx-login-area-btn text-bold" style="padding-left:75px;padding-right:75px;"
                                                ng-click="openLoginModal()">
                                                LOGIN
                                            </button>
                                            <p ng-click="openSignupModal()"
                                                class="cursor-pointer">
                                                <span class="text-primary">
                                                    Crie sua conta aqui.
                                                </span>
                                            </p>
                                        </div>

                                        <div ng-if="userObj">
                                            <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                                width="60px"
                                                class="pull-left"
                                                style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                            />

                                            <h3 class="etx-text-primary" style="font-size:19px;">
                                                {{userObj.name|uppercase}}
                                            </h3>
                                            <h3 style="margin:0px;font-size:14px"
                                                class="etx-text-secondary">
                                                {{userObj.email|uppercase}}
                                            </h3>
                                        </div>

                                        <div style="clear:both">
                                            <hr/>
                                        </div>
                                    </div>
                                    
                                    <div class="col-6">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="account.html">
                                                    <span class="fa fa-shopping-cart"></span>
                                                    Checkout
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="my-account.html">
                                                    <span class="fa fa-user-circle"></span>
                                                    Minha Conta
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="https://app.enterstarts.com/#!/account/forgot-password?lang=pt"
                                                    target="__blank"
                                                    class="text-primary">
                                                    <span class="fa fa-key"></span>
                                                    Esqueci a password.
                                                </a>
                                            </li>
                                        </ul>

                                        <button class="btn btn-warning btn-round text-bold btn-account-logout "
                                            ng-if="userObj"
                                            ng-click="logout()"
                                            style="color:#333;margin-top:10px;">
                                            LOGOUT
                                        </button>
                                    </div>

                                    <div class="col-6">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="account.html?tab=shopping">Minhas Compras</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="my-account.html">Minhas Listas</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="account.html?tab=payments">Meus Pagamentos</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="account.html?tab=payments">Meus Recibos</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </li>


                </ul>
            </div>

            <!-- Search Explorer -->
            <div class="col-12 explorer-board hidden"
                id="the-explorer-<%=compobj.id%>"
                style="min-height:300px;width:100%;background-color:#f4f4f4;position:absolute;box-shadow: 0px 0px 2px rgba(0,0,0,.3);">

                <div class="row rs-margin"
                  style="margin-right:10px;">
                    <div class="col-lg-8 col-md-8 col-sm-12 " style="padding:0px;padding-top:10px;padding-left:10px;"
                        ng-if="explorer_mode=='search'">
                        <div class="search-area" style="min-height:250px;">

                          <button class="text-center btn etx-bg-secondary text-bold etx-text-white btn-round btn-sm"
                            style="margin:5px;padding-left:20px;padding-right:20px"
                            ng-click="disableExplorer('<%=compobj.id%>')">
                            <span class="fa fa-times"></span>
                            Fechar
                          </button>

                          <form class="form-inline search-trigger"
                              method="GET" action="ec-search.html">
                              <input type="search" 
                                  name="q"
                                  ng-init="initETXSearch('#mobile-search-<%=compobj.id%>', '<%=compobj.id%>', 'mobile')"
                                  ng-model="vm.etx_search_q"
                                  id="mobile-search-<%=compobj.id%>"
                                  placeholder="Pesquise por categorias, produtos ou marcas " 
                                  style="font-size:16px;background-color:#fff;margin-bottom:15px;box-shadow: 0px 0px 2px rgba(0,0,0,.3);font-size: 17px;font-weight: bold;"
                                  class="form-control search-input ecommerce-navbar-search"
                              />
                          </form>

                          <a class="text-center btn etx-bg-danger cursor-pointer text-bold etx-text-white btn-round btn-sm"
                            ng-click="moreSearch('<%=compobj.id%>')"
                            style="margin:5px;padding-left:20px;padding-right:20px;color:#fff;"
                            >
                            Explorar mais
                          </a>

                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12"
                        style="background-color:#f4f4f4;padding-top:10px;"
                        ng-if="explorer_mode=='cat_filter'">

                        <button class="etx-bg-secondary etx-text-white btn btn-sm btn-round text-bold"
                            type="button"
                            ng-click="resetFilterCategory()">
                            Voltar
                        </button>

                        <a class="text-center btn etx-bg-danger cursor-pointer text-bold etx-text-white btn-round btn-sm pull-right"
                          ng-if="loader_cache[currentCatFilter.id]!='LOADING'"
                          ng-click="moreAboutCategory('<%=compobj.id%>', currentCatFilter)"
                          style="margin:5px;padding-left:20px;margin-top:20px;padding-right:20px;color:#fff;"
                          >
                          Explorar mais
                        </a>
                        <!-- moreAboutCategory -->
                        <h3>
                            <strong>
                                {{currentCatFilter.label}}
                            </strong>
                            <br/>
                            <small style="font-size: 17px;">
                              <strong>{{cat_search_results.numFound}}</strong> 
                              resultados encontrados.
                            </small>
                            <small style="font-size: 17px;"
                              ng-if="cat_search_results.docs.length!=cat_search_results.numFound">
                              Mostrando 
                              <strong>{{cat_search_results.docs.length}}</strong>
                            </small>
                        </h3>

                        <h4 ng-if="loader_cache[currentCatFilter.id]=='LOADING'">
                            <span class="fa fa-refresh fa-spin"></span>
                            Carregando...
                        </h4>

                        <ul class="list-group" 
                            style="padding:10px;max-height:540px;overflow:hidden;overflow-y:scroll">
                            <li class="list-group-item cursor-pointer"
                                ng-click="openProductSugestion(item)"
                                style="border-radius:0px;margin-bottom:15px;"
                                ng-repeat="item in cat_search_results.docs">

                                <img ng-src="{{item.image}}" 
                                    class="pull-left"
                                    style="display:inline"
                                    width="90px" 
                                />

                                <h3 style="margin:0px;font-size:19px;display:inline;padding-left:10px;">
                                    <a href="" class="text-bold">
                                        {{item.titleDf}}
                                    </a>
                                    <br/>
                                    <span>
                                        {{item.priceAmount | currency:''}}
                                    </span>
                                    <span class="text-danger">
                                        {{item.currency }}
                                    </span>
                                </h3>

                                <!--
                                <button class="btn btn-danger btn-sm pull-right text-bold">
                                    ADICIONAR
                                </button>
                                -->
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12 sugestion_product"
                        style="padding-top:15px;"
                        ng-if="explorer_mode=='sugestion_product'">

                        <button class="text-center btn etx-bg-secondary text-bold etx-text-white btn-round btn-sm"
                          ng-click="closeProductSugestion('<%=compobj.id%>', '#mobile-search-<%=compobj.id%>')"
                          style="display:block;margin-bottom:10px;">
                          Voltar
                        </button>

                        <div class="alert alert-success alert-in-stock"
                            style="margin:0px"
                            ng-if="currentItemStatus=='IN_STOCK'">
                            <strong>Dispon&iacute;vel em stock</strong>
                        </div>

                        <div class="alert alert-warning alert-no-stock"
                            style="margin:0px"
                            ng-if="currentItemStatus=='NO_STOCK'">
                            <strong>Aten&ccedil;&atilde;o </strong>
                            este item pode n&atilde;o estar em stock.
                        </div>

                        <div class="alert alert-danger alert-out-stock"
                            style="margin:0px"
                            ng-if="currentItemStatus=='OUT_STOCK'">
                            <strong>
                                Este item pode n&atilde;o se encontra disponivel.
                            </strong>
                        </div>

                        <img ng-src="{{current_product_sugestion.image}}" 
                            width="190px" 
                        />

                        <h3 style="margin:0px;font-size:23px;padding-left:10px;">
                            <a href="ec-store.html?product_id={{current_product_sugestion.id}}" class="text-bold">
                                {{current_product_sugestion.titleDf}}
                            </a>

                            <span class="etx-text-muted"
                                style="font-size:14px;">
                                ({{current_product_sugestion.id}})
                            </span>
                        </h3>

                        <h3 style="margin:0px;font-size:20px;padding-left:10px;">
                            <span class="etx-text-danger">
                                  {{current_product_sugestion.priceAmount | currency:''}}
                            </span>
                            <span>
                                  {{current_product_sugestion.currency }}
                            </span>
                        </h3>

                        <p ng-if="current_product_sugestion.cart_amount>0"
                            class="mlt-cart-amount"
                            style="margin:0px;">
                            <span class="etx-text-danger ">
                                <span class="fa fa-shopping-cart"></span>
                            </span>
                            <span class="etx-text-secondary ">
                                <strong>
                                    {{current_product_sugestion.cart_amount|currency:''}}
                                    {{current_product_sugestion.unit}}
                                </strong>
                            </span> 
                            <span style="color:#333;"
                                class="text-bold">
                                no carrinho.
                            </span>
                        </p>

                        <!--
                        <button class="btn btn-danger btn-sm text-bold"
                            ng-click="removeFromCart('NO_COMP_ID', item, $index)">
                            VISUALIZAR
                        </button>
                        -->

                        <button class="btn btn-danger btn-sm text-bold btn-round"
                            ng-if="currentItemStatus=='IN_STOCK'||currentItemStatus=='NO_STOCK'"
                            ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', current_product_sugestion)">
                            ADICIONAR
                        </button>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 d-none d-md-block d-lg-block"> 
                        <ul class="list-group" 
                          style="padding:10px;max-height:440px;overflow:hidden;overflow-y:scroll">
                            <li class="list-group-item cursor-pointer"
                                ng-click="filterCategory(item)"
                                ng-repeat="item in search_cat_list">
                                <span class="etx-bg-danger text-bold badge etx-text-white pull-right btn-round"
                                    style="font-size:16px;">{{item.count}}</span>
                                <span class="text-bold text-muted"
                                    style="font-size:20px;">
                                    {{item.label}}
                                </span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    
        <!-- Menu List -->
        <div class="row rs-margin ">
            <div class="col-12 navbar-menu-container  "
              style="padding:0px;"
              id="submenu-<%=compobj.id%>">
                <div class="collapse navbar-collapse"
                    id="navbar-menu-<%= compobj.id %>">
                    <ul class="navbar-nav">

                        <%=
                          compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){

                            var link='';
                            if (!compobj.confObj.submenu||
                                !compobj.confObj.submenu[M.label+'-'+M.link]||
                                 compobj.confObj.submenu[M.label+'-'+M.link].length==0) {
                                link = `
                                  <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                                    <a class="nav-link etx-nav-link cursor-pointer" 
                                      href="${M.link}">
                                      ${M.label}
                                    </a>
                                  </li>
                                `;
                            } else if (compobj.confObj.submenu&& 
                                compobj.confObj.submenu[M.label+'-'+M.link]&&
                                compobj.confObj.submenu[M.label+'-'+M.link].length>0) 
                            {
                                var submenu_list=compobj.confObj.submenu[M.label+'-'+M.link];
                                var submenu_html = submenu_list.map(function (SM){
                                    return `
                                        <a class="dropdown-item etx-nav-item-dropdown" 
                                            href="${SM.link}">
                                            ${SM.label}
                                        </a>
                                    `
                                }).join("");

                                link = `
                                    <a class="nav-link dropdown-toggle etx-nav-superitem" 
                                      href="#" 
                                      id="menu-link-${index}" 
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      ${M.label}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="menu-link-${index}">
                                        ${submenu_html}
                                    </div>
                                `;
                            }

                            return `
                                  <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                                    ${link}
                                  </li>
                            `
                          }).join("") : ''
                        %>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</nav>

