<!-- Navigation -->
<!--
-->
<nav class="navbar navbar-expand-lg <%-compobj.fields[$PCF.comp_size] %> " 
    ng-controller="NavbarController">

    <div class="container">
        <a class="navbar-brand" href="index.html">
          <% if (compobj.has_logo) { %>
            <img src="<%- compobj.fields[$PCF.image] %>" 
              width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
              height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
            />
          <% } else { %>
              Ecommerce Simple with submenu
          <% } %>
        </a>

        <button class="navbar-toggler navbar-toggler-right" 
          type="button" data-toggle="collapse" 
          data-target="#navbarResponsive" aria-controls="navbarResponsive" 
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
          id="navbarResponsive"
          ng-init='menuConf=<%= compobj.conf_obj %>'>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" ng-repeat="menu in menuConf.menu">
              <a class="nav-link cursor-pointer" href="{{menu.link}}"
                  >
                  {{menu.label}}
              </a>
            </li>
          </ul>
        </div>
    </div>
</nav>

