
<div class="<%=compobj.fields[$PCF.colsize] %>  <%=compobj.fields[$PCF.comp_size] %> "
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99Ecommerce"
    ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>')">

    <div class="row rs-margin ecommerce-v2-info-navbar"
        id="navbar-usertop-<%=compobj.id%>">

        <div class="d-lg-block d-none col-sm-12 col-md-6 col-lg-6 col-xs-12 rs-padding">
            <a class="etx-text-white  text-bold btn text-email" 
              href="mailto:<%- compobj.fields[$PCF.email_1] %>"
              ng-click="openLoginModal()" 
              >
              <!-- <span class="fa fa-envelope"></span> -->
              <%- ((compobj.fields[$PCF.email_1]||'')+"") %>
            </a>
        </div>

        <div class="d-lg-block d-none col-sm-12 col-md-6 col-lg-6 col-xs-12  text-right">
            <a class="etx-text-white text-bold btn text-phone contact-phone" 
                style="font-size:18px;font-weight:bold"
                ng-if="!userObj"
                href="tel:<%- compobj.fields[$PCF.phone_1] %>"
              >
              <span class="fa fa-phone"></span>
              <%- compobj.fields[$PCF.phone_1] %>
            </a>

            <a class="etx-text-white  text-bold btn text-email talk-to-us" 
              href="contacto.html"
              ng-if="!userObj"
              >
              <span class="fa fa-envelope"></span>
              Fale Conosco
            </a>
            <a  class="etx-text-white text-bold btn " 
                ng-if="userObj"
                href="account.html" ng-click="goToAccount()" 
                style="font-size:17px;">
                  <span class="fa fa-user-circle"></span>
                  <span ng-bind="userObj.name"></span>
            </a>
        </div>

        <!--
        <div class="d-lg-none d-md-block text-center col-12 my-account-ms ">
            <a class="text-bold etx-text-white text-bold text-center" 
                href="#"
                ng-if="!userObj"
                style="font-size:17px;"
                ng-click="openLoginModal()"
                >
                <span class="fa fa-user-circle"></span>
                Minha Conta
            </a>
            <a  class="btn etx-text-white text-bold " 
                ng-if="userObj"
                href="account.html" ng-click="goToAccount()" 
                style="font-size:19px;">
                  <span class="fa fa-user-circle"></span>
                  <span ng-bind="userObj.name"></span>
            </a>
        </div>
        -->
    </div>

    <div class="row rs-margin"
        style="">

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 navbar-brand-container  ">
            <a class="navbar-brand" href="index.html">
                <% if (compobj.has_logo) { %>
                  <img src="<%- compobj.fields[$PCF.image] %>" 
                    width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                    height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                  />
                <% } else { %>
                    <%- compobj.navbar_title %>
                <% } %>
            </a>

        </div>

        <div class="col-md-12 d-lg-none">
            <div class="pull-left"
              style="padding-left:5px;">
              <a href="javascript:void(0) " 
                  style="padding-right:10px;"
                  data-toggle="collapse" data-target="#navbar-menu-<%= compobj.id %>" 
                  aria-expanded="true" aria-controls="navbar-menu-<%= compobj.id %>"
                  class="etx-text-white cart-link">
                <span class="fa fa-bars"
                  style="font-size:35px;"></span>
              </a>
            </div>
            <div class="pull-right"
              style="padding-left:5px;">
              <a href="javascript:void(0) " 
                  style="padding-left:5px;"
                  ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                  class="etx-text-white cart-link">
                <span class="fa fa-shopping-cart"
                  style="font-size:35px;"></span>
              </a>
            </div>

            <form class="form-inline search-trigger"
                method="GET" action="ec-search.html">
              <input type="search" 
                    name="q"
                    placeholder="Em que posso ajuda-lo? " 
                    aria-label="Search"
                    style="font-size:16px;border-radius:29px;"
                    class="form-control search-input ecommerce-navbar-search"
              />
            </form>
        </div>

        <div id="search-container-<%=compobj.id%>" 
            class="col-lg-4 navbar-search-container d-none d-md-none d-lg-block"
            id="search-<%=compobj.id%>">

            <form class="form-inline search-trigger"
                method="GET" action="ec-search.html">
              <input type="search" 
                    name="q"
                    placeholder="O que deseja pesquisar? " 
                    aria-label="Search"
                    class="form-control search-input ecommerce-navbar-search"
              />
            </form>
        </div>

        <div id="cart-container-<%=compobj.id%>" 
            class="col-lg-4 navbar-cart-container d-lg-block d-none">
                        <!-- <a href="cart-<%-compobj.id.slice(0,6) %>.html" > -->
                            <!--<a href="cart-<%-compobj.id.substr(0, 6)%>.html">-->


            <!--
            <table class="table account-actions" style="margin:0px;margin-bottom:2px;">
                <tbody>
                    <tr>
                        <td style="padding:0px;border:0px"
                            class="text-left">
                            <a class="etx-text-white text-bold text-underlined" 
                              href="#"
                              ng-if="!userObj"
                              style="font-size:14px;margin-right:8px;"
                              ng-click="openSignupModal()">
                              CRIE UMA CONTA AQUI.
                            </a>
                        </td>
                        <td style="padding:0px;border:0px"
                            class="text-right">
                            <a class="text-bold etx-text-white text-bold " 
                                href="#"
                                ng-if="!userObj"
                                style="font-size:14px;"
                                ng-click="openLoginModal()" 
                                >
                                <span class="fa fa-user-circle"></span>
                                MINHA CONTA
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            -->

            <a href="javascript:void(0)" 
                style="padding:0px;"
                ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                class="btn bt-lg btn-block etx-text-white etx-border-white">
                <span class="fa fa-shopping-cart"
                    style="font-size:28px;padding-right:15px;"></span>
                    MEU CARRINHO
                <!--
                <span class="text-bold etx-text-white" 
                    style="font-size:16px;"
                    id="navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>">
                    0
                    </span>
                ITEM(S)
                -
                <span class="text-bold etx-cart-total" 
                    style="font-size:16px;">
                    {{0|currency:''}}
                    <span class=''>CVE</span>
                </span>
                -->
            </a>

        </div>

    </div>
    
    <div class="container ecommerce-v2-menu-container">
        <nav class="navbar navbar-expand-lg " 
            id="navbar-comp-<%=compobj.id%>"
            ng-controller="x99Ecommerce">

            <div class="row rs-margin"
                style="width:100%;">

                <div class="col-12 navbar-submenu-container text-center "
                  id="submenu-<%=compobj.id%>">
                    <div class="collapse navbar-collapse"
                        id="navbar-menu-<%= compobj.id %>">
                        <ul class="navbar-nav w-100 nav-justified">

                            <%=
                              compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){

                                var link='';
                                if (!compobj.confObj.submenu||
                                    !compobj.confObj.submenu[M.label+'-'+M.link]||
                                     compobj.confObj.submenu[M.label+'-'+M.link].length==0) {
                                    link = `
                                        <a class="nav-link etx-nav-link cursor-pointer" 
                                          href="${M.link}">
                                          ${M.label}
                                        </a>
                                    `;
                                } else if (compobj.confObj.submenu&& 
                                    compobj.confObj.submenu[M.label+'-'+M.link]&&
                                    compobj.confObj.submenu[M.label+'-'+M.link].length>0) 
                                {
                                    var submenu_list=compobj.confObj.submenu[M.label+'-'+M.link];
                                    var submenu_html = submenu_list.map(function (SM){
                                        return `
                                            <a class="dropdown-item" 
                                                href="${SM.link}">
                                                ${SM.label}
                                            </a>
                                        `
                                    }).join("");
 
                                    link = `
                                        <a class="nav-link dropdown-toggle" 
                                          href="#" 
                                          id="menu-link-${index}" 
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          ${M.label}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="menu-link-${index}">
                                            ${submenu_html}
                                        </div>
                                    `;
                                }

                                return `
                                      <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                                        ${link}
                                      </li>
                                `
                              }).join("") : ''
                            %>

                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </div>

</div>
