<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> " 
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99Ecommerce">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-menu-container"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>')">
        <div class="row rs-margin "
            id="navbar-usertop-<%=compobj.id%>">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                <a class="etx-text-white text-bold btn text-phone" 
                    style="font-size:18px;font-weight:bold"
                  href="tel:<%- compobj.fields[$PCF.phone_1] %>"
                  >
                  <span class="fa fa-phone"></span>
                  <%- compobj.fields[$PCF.phone_1] %>
                </a>

                <a class="etx-text-white  text-bold btn text-email" 
                  href="mailto:<%- compobj.fields[$PCF.email_1] %>"
                  ng-click="openLoginModal()" 
                  >
                  <span class="fa fa-envelope"></span>
                  <%- ((compobj.fields[$PCF.email_1]||'')+"").toUpperCase() %>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                <a  class="btn etx-text-white text-bold bd-1-white text-signup btn-round pull-right" 
                    ng-if="userObj"
                    href="account.html" ng-click="goToAccount()" 
                    style="font-size:14px;">
                  <span class="fa fa-user"></span>
                  <span ng-bind="userObj.name">
                  </span>
                </a>

                <a class="text-bold btn-round btn bg-white text-danger text-login text-bold pull-right" 
                    href="#"
                    ng-if="!userObj"
                    style="font-size:14px;"
                    ng-click="openLoginModal()" 
                    >
                    <!-- <span class="fa fa-user"></span> -->
                    LOGIN
                </a>

                <a class="btn etx-text-white text-bold bd-1-white text-signup btn-round pull-right" 
                  href="#"
                  ng-if="!userObj"
                  style="font-size:14px;margin-right:8px;"
                  ng-click="openSignupModal()">
                  CRIE UMA CONTA AQUI.
                </a>
            </div>
        </div>

        <div class="row rs-margin">
            <div class="navbar-brand-container col-lg-3 col-sm-12 col-md-12 col-xs-6 col-sm-12 ">
                <a class="navbar-brand" href="index.html">
                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>

                <div class="pull-right"
                  style="padding-top:5px;">
                  <a href="javascript:void(0)" 
                      ng-click="toggleSearch('#search-<%=compobj.id%>')"
                      class="etx-text-white d-lg-none cart-link">
                    <span class="fa fa-search"
                      style="font-size:26px;"></span>
                  </a>
                  <a href="javascript:void(0) " 
                      style="padding-left:8px;"
                      data-toggle="collapse" data-target="#navbar-menu-<%= compobj.id %>" 
                      aria-expanded="true" aria-controls="navbar-menu-<%= compobj.id %>"
                      class="etx-text-white d-lg-none cart-link">
                    <span class="fa fa-bars"
                      style="font-size:26px;"></span>
                  </a>
                </div>
            </div>

            <div id="search-container-<%=compobj.id%>" class="col-lg-7 col-sm-12 col-md-8 col-xs-12 navbar-search-container d-none d-md-none d-lg-block"
              id="search-<%=compobj.id%>">
                <form class="form-inline "
                    method="GET" action="ec-search.html">
                  <input type="search" 
                        name="q"
                        placeholder="Search" 
                        aria-label="Search"
                        class="form-control search-input ecommerce-navbar-search"
                  />
                </form>
            </div>

            <div id="cart-container-<%=compobj.id%>" class="col-lg-2 col-sm-6 col-md-4 col-xs-6 col-6 navbar-cart-container d-lg-block d-none">
                <table class="table cart-container">
                    <tbody>
                      <tr>
                          <td style="border:0px;width:100px;font-size:24px;padding-top:5px;padding-bottom:0px;padding-right:0px;padding-left:0px;" 
                            class=" text-center">
                            <!-- <a href="cart-<%-compobj.id.slice(0,6) %>.html" > -->
                                <!--<a href="cart-<%-compobj.id.substr(0, 6)%>.html">-->
                              <a href="javascript:void(0)" 
                                  ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                  class="cart-link">
                                <span class="fa fa-shopping-cart"
                                  style="font-size:26px;"></span>
                                  <sup>
                                    <span class="text-bold badge bg-danger etx-text-white" 
                                      style="font-size:16px;"
                                      id="navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>">
                                      0
                                    </span>
                                  </sup>
                            </a>

                          </td>  
                      </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-12 navbar-submenu-container  "
              id="submenu-<%=compobj.id%>">
                <div class="collapse navbar-collapse"
                    id="navbar-menu-<%= compobj.id %>"
                    ng-init='menuConf=<%= compobj.conf_obj %>'>
                    <ul class="navbar-nav">

                      <li class="nav-item dropdown"
                          ng-repeat="menu in menuConf.menu|orderBy: menu.order"
                        >
                        <a class="nav-link" 
                          href="{{menu.link}}" 
                          ng-if="!menuConf.submenu[menu.label+'-'+menu.link]||menuConf.submenu[menu.label+'-'+menu.link].length==0"
                          ng-bind="menu.label">
                        </a>

                        <a class="nav-link dropdown-toggle" 
                          href="#" 
                          ng-if="menuConf.submenu[menu.label+'-'+menu.link].length>0"
                          id="menu-link-{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          ng-bind="menu.label">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="menu-link-{{$index}}">
                          <a class="dropdown-item" 
                            href="{{submenu.link}}"
                            ng-repeat="submenu in menuConf.submenu[menu.label+'-'+menu.link]"
                            ng-bind="submenu.label"
                            >
                          </a>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 d-lg-none d-md-block"
              style="background-color:transparent !important;">
                <div style="padding-top:5px;"
                  class="pull-right">
                    <a href="javascript:void(0)" 
                          ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                          class="etx-text-white cart-link">
                        <span class="fa fa-shopping-cart"
                          style="font-size:26px;"></span>
                          <sup>
                            <span class="text-bold badge bg-danger etx-text-white" 
                              style="font-size:16px;"
                              id="navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>-mini">
                              0
                            </span>
                          </sup>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

