<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> " 
    style="padding:0px;"
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99Ecommerce22">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-navigation-control"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>')">

        <div class="row rs-margin">

            <div class="col-12 rs-padding">
                <div class="navbar-topbanner" id="navbar-topbanner-<%=compobj.id%>">
                </div>
            </div>

            <!-- Mobile Navbar -->
            <div class="col-md-12 d-lg-none etx-mobile-navbar"
                style="padding-bottom:10px;">

                <div class="row rs-margin">
                    <!--
                    <div class="col-12 etx-col-account etx-account-{{userObj?'auth':'not-auth'}}">
                        <a href="signin.html" 
                            ng-if="!userObj"
                            ng-bind="'Entrar'"
                            class="btn btn-round button-round btn-navbar-login ">
                            <span class="fa fa-refresh fa-spin etx-text-loader"></span>
                        </a>

                        <a href="account.html" 
                            ng-if="userObj"
                            ng-bind="userObj.name.slice(0,10)"
                            class="btn btn-round button-round btn-navbar-account ">
                        </a>
                    </div>
                    -->

                    <div class="col-7 rs-padding etx-logo-navigation">
                        <a href="javascript:void(0) " 
                            ng-click="openNavbarSupport('<%= compobj.id %>')"
                            class="etx-mobile-menu-trigger pull-left">
                            <span class="fa fa-bars"></span>
                        </a>

                        <a class="navbar-brand navbar-brand-mobile" 
                            href="index.html">
                            <% if (compobj.has_logo) { %>
                            <img src="<%- compobj.fields[$PCF.image] %>" 
                              width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                              height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                            />
                            <% } else { %>
                              <%- compobj.navbar_title %>
                            <% } %>
                        </a>
                    </div>

                    <div class="col-5 rs-padding etx-control-navigation">


                        <h3 style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-recip-white.png');display:inline;" 
                            ng-init="verifyCartSize()"
                            ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                            class="etx-mobile-shopping-cart pull-right navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                            >
                        </h3>

                        <h3 class="etx-text-white mobile-myaccount-link cursor-pointer pull-right"
                            id="mobAccountdrop-<%=compobj.id%>" data-toggle="dropdown" 
                            aria-expanded="true"
                            style="font-size: 14px;margin:0px;display:inline;">
                            <span class="fa fa-user "
                                style="font-size:45px;"></span>
                        </h3>

                        <ul class="dropdown-menu top-account-board" role="menu" 
                            style="left:-215px;"
                            aria-labelledby="mobAccountdrop-<%=compobj.id%>">
                            <li role="presentation" style="padding:10px">
                                <div ng-if="!userObj" class="text-center" >
                                    <button class="btn btn-block etx-bg-warning etx-login-area-btn text-bold" style="padding-left:75px;padding-right:75px;"
                                        ng-click="openLoginModal()">
                                        LOGIN
                                    </button>

                                    <button class="btn btn-block etx-bg-primary etx-login-area-btn text-bold" style="padding-left:45px;padding-right:45px;margin-top:20px;"
                                        ng-click="openSignupModal()">
                                        <span class="fa fa-user-circle"></span>
                                        CRIAR CONTA
                                    </button>
                                </div>

                                <div ng-if="userObj">
                                    <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                        width="60px"
                                        class="pull-left"
                                        style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                    />

                                    <h3 class="etx-text-primary" style="font-size:19px;">
                                        {{userObj.name|uppercase}}
                                    </h3>
                                    <h3 style="margin:0px;font-size:14px"
                                        class="etx-text-secondary">
                                        {{userObj.email|uppercase}}
                                    </h3>
                                </div>

                                <div style="clear:both">
                                    <hr/>
                                </div>

                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="account.html?tab=shopping">Minhas Compras</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="my-account.html">Minhas Listas</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="account.html?tab=payments">Meus Pagamentos</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="account.html?tab=payments">Meus Recibos</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="my-account.html">
                                            <span class="fa fa-user-circle"></span>
                                            Minha Conta
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://app.enterstarts.com/#!/account/forgot-password?lang=pt"
                                            target="__blank"
                                            class="text-primary">
                                            <span class="fa fa-key"></span>
                                            Esqueci a password.
                                        </a>
                                    </li>
                                </ul>

                                <button class="btn btn-warning btn-round text-bold btn-account-logout "
                                    ng-if="userObj"
                                    ng-click="logout()"
                                    style="color:#333;margin-top:10px;">
                                    LOGOUT
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 rs-padding">
                        <form class=" etx-mobile-serch "
                            ng-if="!is_explorer_enable"
                            method="GET" action="ec-search.html">
                            <input type="search" 
                                name="qinit"
                                ng-click="enableExplorer('<%=compobj.id%>')"
                                placeholder="Em que posso ajuda-lo? " 
                                style="font-size:16px;"
                                class="form-control search-input ecommerce-navbar-search"
                            />
                        </form>
                    </div>
                </div>
                <!--
                -->    
            </div>

            <!-- Desktop logo -->
            <div class="navbar-brand-container col-lg-2 col-sm-12 col-md-12 col-xs-6 col-sm-12 d-none d-lg-block ">
                <a class="navbar-brand navbar-brand-main" 
                    href="index.html"
                  xhref="ITS_MEEE">
                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>
            </div>

            <!-- Desktop search -->
            <div class="navbar-brand-container col-lg-6 col-sm-12 col-md-12 col-xs-6 col-sm-12 d-none d-lg-block ">
                <form class="form-inline "
                  ng-if="!is_explorer_enable"
                  method="GET">
                    <input type="search" 
                          name="qxs"
                          id="explorer-trigger-<%=compobj.id%>"
                          ng-click="enableExplorer('<%=compobj.id%>')"
                          placeholder="Pesquisar aqui" 
                          class="form-control search-input ecommerce-navbar-search"
                    />
                </form>
            </div>

            <!-- Desktop controls -->
            <div id="search-container-<%=compobj.id%>" 
                class="col-lg-4 col-sm-12 col-md-8 col-xs-12 navbar-search-container d-none d-md-none d-lg-block" id="search-<%=compobj.id%>"
                style="padding-bottom:0px;">

                <ul class="nav nav-pills nav-controls control-menu"
                    style="margin-top: 2px;">

                    <li role="presentation" class="borderline-hover menu-container-v2"
                        style="">
                        <h3 class="etx-text-white myaccount-link dropdown-toggle cursor-pointer "
                            id="myAccountdrop-<%=compobj.id%>" data-toggle="dropdown" 
                            aria-expanded="true"
                            style="font-size: 14px;margin:0px;">
                            <!--
                            <span class="fa fa-user-circle "
                                style="font-size:25px;"></span>
                            -->
                            <span style="text-decoration:underline">
                                Oi
                                <span ng-if="userObj" ng-bind="', ' + userNameFmt"></span>
                                <span ng-if="!userObj" ng-bind="'. Entre aqui'"></span>
                            </span>
                            <br/>
                            <span style="font-size:17px;margin-top:2px;"
                                class="text-bold ">
                                Minha Conta
                            </span>
                        </h3>

                        <ul class="dropdown-menu top-account-board" role="menu" 
                            aria-labelledby="myAccountdrop-<%=compobj.id%>">
                            <li role="presentation">
                                <div class="row rs-margin">
                                    <div class="col-12 login-area ">
                                        <div ng-if="!userObj" class="text-center">
                                            <button class="btn etx-bg-warning etx-login-area-btn text-bold" style="padding-left:75px;padding-right:75px;"
                                                ng-click="openLoginModal()">
                                                LOGIN
                                            </button>
                                            <button class="btn etx-bg-primary etx-login-area-btn text-bold" style="padding-left:45px;padding-right:45px;"
                                                ng-click="openSignupModal()">
                                                <span class="fa fa-user-circle"></span>
                                                CRIAR CONTA
                                            </button>
                                        </div>

                                        <div ng-if="userObj">
                                            <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                                width="60px"
                                                class="pull-left"
                                                style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                            />

                                            <h3 class="etx-text-primary" style="font-size:19px;">
                                                {{userObj.name|uppercase}}
                                            </h3>
                                            <h3 style="margin:0px;font-size:14px"
                                                class="etx-text-secondary">
                                                {{userObj.email|uppercase}}
                                            </h3>
                                        </div>

                                        <div style="clear:both">
                                            <hr/>
                                        </div>
                                    </div>

                                    <div class="col-6 ecommerce-link-group">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="account.html?tab=shopping">Minhas Compras</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="my-account.html">Minhas Listas</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="account.html?tab=payments">Meus Pagamentos</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="account.html?tab=payments">Meus Recibos</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-6 account-link-group">
                                        <ul class="list-group">
                                            <!--
                                            <li class="list-group-item">
                                                <a href="account.html">
                                                    <span class="fa fa-shopping-cart"></span>
                                                    Checkout
                                                </a>
                                            </li>
                                            -->
                                            <li class="list-group-item">
                                                <a href="my-account.html">
                                                    <span class="fa fa-user-circle"></span>
                                                    Minha Conta
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="https://app.enterstarts.com/#!/account/forgot-password?lang=pt"
                                                    target="__blank"
                                                    class="text-primary">
                                                    <span class="fa fa-key"></span>
                                                    Esqueci a password.
                                                </a>
                                            </li>
                                        </ul>

                                        <button class="btn btn-warning btn-round text-bold btn-account-logout "
                                            ng-if="userObj"
                                            ng-click="logout()"
                                            style="color:#333;margin-top:10px;">
                                            LOGOUT
                                        </button>
                                    </div>


                                </div>
                            </li>
                        </ul>
                    </li>

                    <li role="presentation"
                        class="borderline-hover menu-container-v2 "
                        style="padding-bottom:0px">

                        <h3 class="dropdown-toggle" style="margin-top:4px;font-size:17px;"
                            id="Ordersdrop-<%=compobj.id%>" data-toggle="dropdown" 
                            aria-expanded="false">
                            <span class="etx-text-white orders-link cursor-pointer "
                                style="font-size: 14px;margin:0px;">
                                Pedidos
                            </span>
                            <br/>
                            <span class="etx-text-white mycart-link cursor-pointer"
                                style="font-size:17px;margin:0px;">
                                &amp; Compras
                            </span>
                        </h3>

                        <ul class="dropdown-menu top-navbar-order" role="menu" 
                            aria-labelledby="Ordersdrop-<%=compobj.id%>">
                            <li role="presentation">
                                <div class="row rs-margin">
                                    <div class="col-12 login-area ">
                                          <form class="form-inline"
                                              name="orderVerifier"
                                              method="GET"
                                              ng-submit="openOrder(orderVerifier, verify_order_id)">
                                              <div class=" rs-form-control">
                                                <label class="text-secondary">
                                                    Introduza a refer&ecirc;ncia da sua compra/pedido
                                                    para acompanha-lo na plataforma.
                                                </label>
                                              </div>

                                              <div class="form-control rs-form-control" style="width:100%;padding:0px;margin-top:5px;margin-bottom:10px;">
                                                  <input type="text" 
                                                      name="cart_id"
                                                      required
                                                      ng-model="verify_order_id"
                                                      id="order-id-<%=compobj.id%>"
                                                      placeholder="Referencia da compra " 
                                                      style="font-size:16px;background-color:#fff;margin-bottom:10px;box-shadow: 0px 0px 2px rgba(0,0,0,.3);font-size: 17px;font-weight: bold;width:100%;"
                                                      class="form-control search-input ecommerce-order-verify"
                                                  />
                                              </div>

                                            <button class="btn btn-warning btn-round text-bold btn-order-open "
                                                ng-disabled="!verify_order_id||verify_order_id.length<16"
                                                type="submit"
                                                style="color:#333;margin-top:10px;">
                                                CONSULTAR
                                            </button>

                                          </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li role="presentation"
                        class="borderline-hover menu-container-v2 cursor-pointer "
                        ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                        style="padding-bottom:0px">
                        <h3 style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-recip-white.png');" 
                            class="etx-shopping-cart pull-left navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                            ng-init="verifyCartSize()">
                        </h3>
                    </li>
                </ul>
            </div>
        </div>
    
        <!-- Menu List -->
        <div class="row rs-margin ">
            <div class="col-12 navbar-menu-container  "
              style="padding:0px;"
              id="submenu-<%=compobj.id%>">
                <div class="collapse navbar-collapse container"
                    id="navbar-menu-<%= compobj.id %>">
                    <ul class="navbar-nav">

                        <%=
                          compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){

                            var link='';
                            if (!compobj.confObj.submenu||
                                !compobj.confObj.submenu[M.label+'-'+M.link]||
                                 compobj.confObj.submenu[M.label+'-'+M.link].length==0) {
                                link = `
                                    <a class="nav-link etx-nav-link cursor-pointer" 
                                      href="${M.link}">
                                      ${M.label}
                                    </a>
                                `;
                            } else if (compobj.confObj.submenu&& 
                                compobj.confObj.submenu[M.label+'-'+M.link]&&
                                compobj.confObj.submenu[M.label+'-'+M.link].length>0) 
                            {
                                var submenu_list=compobj.confObj.submenu[M.label+'-'+M.link];
                                var submenu_html = submenu_list.map(function (SM){
                                    return `
                                        <a class="dropdown-item etx-nav-item-dropdown" 
                                            href="${SM.link}">
                                            ${SM.label}
                                        </a>
                                    `
                                }).join("");

                                link = `
                                    <a class="nav-link dropdown-toggle etx-nav-superitem" 
                                      href="#" 
                                      id="menu-link-${index}" 
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      ${M.label}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="menu-link-${index}">
                                        ${submenu_html}
                                    </div>
                                `;
                            }

                            return `
                                  <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                                    ${link}
                                  </li>
                            `
                          }).join("") : ''
                        %>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Explorer -->
    <div class="row rs-margin">
        <div class="col-12 explorer-board hidden"
            id="the-explorer-<%=compobj.id%>"
            style="min-height:300px;width:100%;background-color:#f4f4f4;position:absolute;box-shadow: 0px 0px 2px rgba(0,0,0,.3);left:0;">

            <div class="row rs-margin"
              style="margin-right:10px;">
                <div class="col-lg-8 col-md-8 col-sm-12 " style="padding:0px;padding-top:10px;padding-left:10px;"
                    ng-if="explorer_mode=='search'">
                    <div class="search-area" style="min-height:250px;">

                      <button class="text-center btn etx-bg-secondary text-bold etx-text-white btn-round btn-sm"
                        style="margin:5px;padding-left:20px;padding-right:20px"
                        ng-click="disableExplorer('<%=compobj.id%>')">
                        <span class="fa fa-times"></span>
                        Fechar
                      </button>

                      <form class="form-inline search-trigger"
                          method="GET" action="ec-search.html">
                          <input type="search" 
                              name="q"
                              ng-init="initETXSearch('#mobile-search-<%=compobj.id%>', '<%=compobj.id%>', 'mobile')"
                              ng-model="vm.etx_search_q"
                              id="mobile-search-<%=compobj.id%>"
                              placeholder="Pesquise por categorias, produtos ou marcas " 
                              style="font-size:16px;background-color:#fff;margin-bottom:15px;box-shadow: 0px 0px 2px rgba(0,0,0,.3);font-size: 17px;font-weight: bold;"
                              class="form-control search-input ecommerce-navbar-search"
                          />
                      </form>

                      <a class="text-center btn etx-bg-danger cursor-pointer text-bold etx-text-white btn-round btn-sm"
                        ng-click="moreSearch('<%=compobj.id%>')"
                        style="margin:5px;padding-left:20px;padding-right:20px;color:#fff;"
                        >
                        Explorar mais
                      </a>

                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12"
                    style="background-color:#f4f4f4;padding-top:10px;"
                    ng-if="explorer_mode=='cat_filter'">

                    <button class="etx-bg-secondary etx-text-white btn btn-sm btn-round text-bold"
                        type="button"
                        ng-click="resetFilterCategory()">
                        Voltar
                    </button>

                    <a class="text-center btn etx-bg-danger cursor-pointer text-bold etx-text-white btn-round btn-sm pull-right"
                      ng-if="loader_cache[currentCatFilter.id]!='LOADING'"
                      ng-click="moreAboutCategory('<%=compobj.id%>', currentCatFilter)"
                      style="margin:5px;padding-left:20px;margin-top:20px;padding-right:20px;color:#fff;"
                      >
                      Explorar mais
                    </a>
                    <!-- moreAboutCategory -->
                    <h3>
                        <strong>
                            {{currentCatFilter.label}}
                        </strong>
                        <br/>
                        <small style="font-size: 17px;">
                          <strong>{{cat_search_results.numFound}}</strong> 
                          resultados encontrados.
                        </small>
                        <small style="font-size: 17px;"
                          ng-if="cat_search_results.docs.length!=cat_search_results.numFound">
                          Mostrando 
                          <strong>{{cat_search_results.docs.length}}</strong>
                        </small>
                    </h3>

                    <h4 ng-if="loader_cache[currentCatFilter.id]=='LOADING'">
                        <span class="fa fa-refresh fa-spin"></span>
                        Carregando...
                    </h4>

                    <ul class="list-group" 
                        style="padding:10px;max-height:540px;overflow:hidden;overflow-y:scroll">
                        <li class="list-group-item cursor-pointer"
                            ng-click="openProductSugestion(item)"
                            style="border-radius:0px;margin-bottom:15px;"
                            ng-repeat="item in cat_search_results.docs">

                            <img ng-src="{{item.cached_image}}" 
                                class="pull-left"
                                style="display:inline"
                                width="90px" 
                            />

                            <h3 style="margin:0px;font-size:19px;display:inline;padding-left:10px;">
                                <a href="" class="text-bold">
                                    {{item.titleDf}}
                                </a>
                                <br/>
                                <span>
                                    {{item.priceAmount | currency:''}}
                                </span>
                                <span class="text-danger">
                                    {{item.currency }}
                                </span>
                            </h3>

                            <!--
                            <button class="btn btn-danger btn-sm pull-right text-bold">
                                ADICIONAR
                            </button>
                            -->
                        </li>
                    </ul>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 sugestion_product"
                    style="padding-top:15px;"
                    ng-if="explorer_mode=='sugestion_product'">

                    <button class="text-center btn etx-bg-secondary text-bold etx-text-white btn-round btn-sm"
                      ng-click="closeProductSugestion('<%=compobj.id%>', '#mobile-search-<%=compobj.id%>')"
                      style="display:block;margin-bottom:10px;">
                      Voltar
                    </button>

                    <div class="alert alert-success alert-in-stock"
                        style="margin:0px"
                        ng-if="currentItemStatus=='IN_STOCK'">
                        <strong>Dispon&iacute;vel em stock</strong>
                    </div>

                    <div class="alert alert-warning alert-no-stock"
                        style="margin:0px"
                        ng-if="currentItemStatus=='NO_STOCK'">
                        <strong>Aten&ccedil;&atilde;o </strong>
                        este item pode n&atilde;o estar em stock.
                    </div>

                    <div class="alert alert-danger alert-out-stock"
                        style="margin:0px"
                        ng-if="currentItemStatus=='OUT_STOCK'">
                        <strong>
                            Este item pode n&atilde;o se encontra disponivel.
                        </strong>
                    </div>

                    <img ng-src="{{current_product_sugestion.cached_image}}" 
                        width="190px" 
                    />

                    <h3 style="margin:0px;font-size:23px;padding-left:10px;">
                        <a href="ec-store.html?product_id={{current_product_sugestion.id}}" class="text-bold">
                            {{current_product_sugestion.titleDf}}
                        </a>

                        <span class="etx-text-muted"
                            style="font-size:14px;">
                            ({{current_product_sugestion.id}})
                        </span>
                    </h3>

                    <h3 style="margin:0px;font-size:20px;padding-left:10px;">
                        <span class="etx-text-danger">
                              {{current_product_sugestion.priceAmount | currency:''}}
                        </span>
                        <span>
                              {{current_product_sugestion.currency }}
                        </span>
                    </h3>

                    <p ng-if="current_product_sugestion.cart_amount>0"
                        class="mlt-cart-amount"
                        style="margin:0px;">
                        <span class="etx-text-danger ">
                            <span class="fa fa-shopping-cart"></span>
                        </span>
                        <span class="etx-text-secondary ">
                            <strong>
                                {{current_product_sugestion.cart_amount|currency:''}}
                                {{current_product_sugestion.unit}}
                            </strong>
                        </span> 
                        <span style="color:#333;"
                            class="text-bold">
                            no carrinho.
                        </span>
                    </p>

                    <!--
                    <button class="btn btn-danger btn-sm text-bold"
                        ng-click="removeFromCart('NO_COMP_ID', item, $index)">
                        VISUALIZAR
                    </button>
                    -->

                    <button class="btn btn-danger btn-sm text-bold btn-round"
                        ng-if="currentItemStatus=='IN_STOCK'||currentItemStatus=='NO_STOCK'"
                        ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', current_product_sugestion)">
                        ADICIONAR
                    </button>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 d-none d-md-block d-lg-block"> 
                    <ul class="list-group" 
                      style="padding:10px;max-height:440px;overflow:hidden;overflow-y:scroll">
                        <li class="list-group-item cursor-pointer"
                            ng-click="filterCategory(item)"
                            ng-repeat="item in search_cat_list">
                            <span class="etx-bg-danger text-bold badge etx-text-white pull-right btn-round"
                                style="font-size:16px;">{{item.count}}</span>
                            <span class="text-bold text-muted"
                                style="font-size:20px;">
                                {{item.label}}
                            </span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
