<!--
-->
<nav class="navbar navbar-expand-lg <%-compobj.fields[$PCF.comp_size] %> " 
    id="simple-navbar-<%= compobj.id %>"
    ng-init="loadUser()"
    ng-controller="NavbarController">

    <div class="container">
      <a class="navbar-brand" href="index.html">
        <% if (compobj.has_logo) { %>
          <img src="<%- compobj.fields[$PCF.image] %>" 
            width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
            height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
          />
        <% } else { %>
            <%- compobj.navbar_title %>
        <% } %>
      </a>

      <button class="navbar-toggler navbar-toggler-right" 
        type="button" data-toggle="collapse" 
        data-target="#navbarResponsive" aria-controls="navbarResponsive" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"
        id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <%=
            compobj.confObj.menu ? compobj.confObj.menu.map(function (M){
              return `
                <li class="nav-item etx-nav-item" >
                  <a class="nav-link etx-nav-link cursor-pointer" 
                    href="${M.link}">
                    ${M.label}
                  </a>
                </li>
              `
            }).join("") : ''
            %>

            <!--
            <li ng-if="userObj">
                <a class="btn cursor-pointer text-bold btn-round etx-bg-white etx-text-primary" 
                  href="account.html"
                  style="color:#0b2144">
                  <span class="fa fa-user"></span>
                  <span ng-bind="userObj.name.toUpperCase()"></span>
                </a>
            </li>
            -->
        </ul>
      </div>

      <!--
      <div class="row rs-margin">
        <div class="col-12 d-lg-none">
            <a class="btn cursor-pointer btn-block text-bold btn-round etx-bg-white etx-text-primary" 
              href="account.html"
              style="color:#0b2144">
              <span class="fa fa-user"></span>
              <span ng-bind="userObj.name.toUpperCase()"></span>
            </a>
        </div>
      </div>
      -->
    </div>
</nav>
