<!--
-->
<div class="row rs-margin ">
  <div class="col-12 fixed-top">
        <div data-toggle="dropdown" class=" currency-selector-current " 
            ng-init="loadCurrency('<%=compobj.id%>')">
            <img src="<%=WS_HOST%>/img/flags/4x3/{{currentCurrency.country.toLowerCase()}}.svg"
                width="25px"
                height="25px"
                style="display:inline"
             />
            <h3 class="currency-label myaccount-link cursor-pointer "
                id="currentSelector-<%=compobj.id%>" 
                aria-expanded="true"
                ng-bind="currentCurrency.code"
                style="margin:0px;display:inline;padding:0px;">
            </h3>
        </div>

        <ul class="dropdown-menu top-account-board" role="menu" 
            aria-labelledby="currentSelector-<%=compobj.id%>">
            <li role="presentation">
                <div class="row rs-margin">
                    <div class="col-12 ">
                        <p class="text-secondary">Please choose your currency</p>
                        <ul class="list-group">
                          <li class="list-group-item cursor-pointer" 
                             ng-click="setCurrency('CVE', 'CV', $event)">CVE</li>
                          <li class="list-group-item cursor-pointer" 
                               ng-click="setCurrency('EUR', 'EU', $event)">EUR</li>
                          <li class="list-group-item cursor-pointer" 
                               ng-click="setCurrency('USD', 'US', $event)">USD</li>
                        </ul>
                    </div>

                    <div class="col-12">
                        <p class="text-secondary">Preferred language</p>
                    </div>
                </div>
            </li>
        </ul>
  </div>
</div>
