<!-- Navigation -->
<!--
-->
<nav class="navbar navbar-expand-lg <%-compobj.fields[$PCF.comp_size] %> " 
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="NavbarController">

    <div class="container">
        <a class="navbar-brand" href="index.html">
            <% if (compobj.has_logo) { %>
                <img src="<%- compobj.fields[$PCF.image] %>" 
                    width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                    height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                />
            <% } else { %>
                <%- compobj.navbar_title %>
            <% } %>
        </a>

        <button class="navbar-toggler navbar-toggler-right" 
            type="button" data-toggle="collapse" 
            data-target="#navbarResponsive" aria-controls="navbarResponsive" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars toggle-sandw"></span>
        </button>

        <div id="google_translate_element"></div>

        <div class="collapse navbar-collapse"
            id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                    <a class="nav-link etx-nav-link cursor-pointer" 
                      href="index.html">
                      <span class="fa fa-home"></span>
                    </a>
                </li>

                <%=
                  compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){

                    var link='';
                    if (!compobj.confObj.submenu||
                        !compobj.confObj.submenu[M.id]||
                         compobj.confObj.submenu[M.id].length==0) {
                        link = `
                            <a class="nav-link etx-nav-link cursor-pointer" 
                              href="${M.link}">
                              ${TR(M.label)}
                            </a>
                        `;
                    } else if (compobj.confObj.submenu&& 
                        compobj.confObj.submenu[M.id]&&
                        compobj.confObj.submenu[M.id].length>0) 
                    {
                        var submenu_list=compobj.confObj.submenu[M.id];
                        var submenu_html = submenu_list.map(function (SM){
                            return `
                                <a class="dropdown-item etx-nav-link etx-nav-item-dropdown" 
                                    href="${SM.link}">
                                    ${TR(SM.label)}
                                </a>
                            `
                        }).join("");

                        link = `
                            <a class="nav-link etx-nav-link dropdown-toggle etx-nav-superitem" 
                              href="#" 
                              id="menu-link-${index}" 
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              ${TR(M.label)}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="menu-link-${index}">
                                ${submenu_html}
                            </div>
                        `;
                    }

                    return `
                        <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                            ${link}
                        </li>
                    `
                  }).join("") : ''
                %>

            </ul>
        </div>
    </div>

</nav>

