
<div class="aside ng-scope left am-fade-and-slide-left nav-support"
    id="nav-support-<%=compobj.id%>" 
    tabindex="-1" role="dialog" style="z-index: 1050; display: block;">
    <div class="aside-dialog nav-support-dialog" >
        <div class="aside-content nav-support-content">
            <div class="aside-header nav-support-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <a class="navbar-brand" href="index.html">
                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>
            </div>

            <div class="aside-body ng-binding nav-support-body"
                style="padding:0px;">

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist"
                        style="display:none">
                        <li role="presentation" class="nav-item">
                            <a href="#menu-home-<%=compobj.id%>" 
                                class="nav-link active"
                                aria-controls="home" role="tab" 
                                data-toggle="tab">
                                Menu
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#menu-sub-<%=compobj.id%>" 
                                class="nav-link "
                                aria-controls="profile" role="tab" 
                                data-toggle="tab">
                                Submenu
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#menu-search-<%=compobj.id%>" 
                                class="nav-link "
                                aria-controls="profile" role="tab" 
                                data-toggle="tab">
                                Submenu
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="">
                        <div role="tabpanel" class="tab-pane fade show active" id="menu-home-<%=compobj.id%>">
                            <div class="etx-tab-header">
                                <h3 style="margin-bottom:0px" >
                                    Bem vindo
                                </h3>
                                <p style="margin:0px">
                                    Navegue no menu abaixo ou filtre para
                                </p>
                                <p style="margin:0px">
                                    encontrar tudo o que precisa.
                                </p>
    
                                <form novalidate
                                    ng-submit="">
                                    <div class="input-group">
                                        <input type="search" ng-model="searchQ" 
                                            class="form-control etx-top-search" 
                                            ng-model="searchQ"
                                            style="border-radius:40px"
                                            ng-click="openSearchMode('<%=compobj.id%>')"
                                            placeholder="Pesquisar submenus" 
                                        />
                                    </div>
                                </form>
                            </div>
                            <ul class="list-group"
                                ng-if="!is_search_mode">
                                <%=
                                  compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){
                                    var str_m=JSON.stringify(M);
                                    return `
                                        <li class="list-group-item menu-instance-${M.id} menu-index-${index}" style="position: inherit;">
                                            <a class="nav-link etx-nav-link cursor-pointer" 
                                                ng-mouseover="showImage('image-idx-${index}')"
                                                ng-mouseout="hideImage('image-idx-${index}')"
                                                ng-click="openSupportLink('${compobj.id}', {link:'${M.link}', label:'${M.label}'}, ${index})"
                                              >
                                              ${M.label}
                                            </a>

                                            <picture style="background-image:url('${M.image}');position: absolute;top: 0;right: 0;height: 100%;width: 50%;background-size:cover;background-repeat:no-repeat;"
                                                id="image-idx-${index}"
                                                class="hidden img-menu-background "
                                            >
                                            </picture>
                                        </li>
                                    `;
                                  }).join("") : ''
                                %>
                            </ul>

                            <div class="search-mode"
                                ng-if="is_search_mode">
                                <div class="search-clear-area text-center"
                                    style="padding:10px;">
                                    <button type="button" 
                                        class="btn etx-bg-danger etx-text-white btn-round btn-sm" 
                                        ng-click="backToMainMenu('<%=compobj.id%>')">
                                        Cancelar
                                    </button>
                                </div>

                                <ul class="list-group"
                                    style="max-height:400px;overflow:hidden;overflow-y:scroll;">
                                    <li class="list-group-item"
                                        ng-repeat="item in menu_list_search|filter:searchQ track by $index">
                                        <a class="nav-link etx-search-link-item cursor-pointer etx-text-primary text-bold" 
                                            ng-click="openDirectLink('${compobj.id}', item)"
                                          >
                                          {{item.label}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="menu-sub-<%=compobj.id%>">
                            <div class="etx-tab-header">
                                <button type="button" class="btn etx-bg-secondary etx-text-white btn-round btn-sm" 
                                    ng-click="backToMainMenu('<%=compobj.id%>')">
                                    Voltar
                                </button>

                                <p style="margin:0px"
                                    class="text-bold etx-youre-in">
                                    Est&aacute; em
                                </p>
                                <h3 ng-if="currentMenu" style="margin-top:0px;">
                                    <span class="current-menu-label etx-text-primary"
                                        style>
                                        {{currentMenuLabel}}
                                    </span>
                                </h3>
                            </div>

                            <%=
                              compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){

                                var link='';
                                var html_comp='';
                                var menu_key=M.id ? M.id : M.label+'-'+M.link;

                                if (!compobj.confObj.submenu||
                                    !compobj.confObj.submenu[menu_key]||
                                     compobj.confObj.submenu[menu_key].length==0) {
                                    html_comp = `
                                        <li class="list-group-item">
                                            <a class="etx-text-primary menu-instance-${M.id} menu-index-${index} nav-link etx-nav-link cursor-pointer"
                                              ng-click="openLink('${compobj.id}', '${M.link}')"
                                              href="javascript:void(0)">
                                              ${M.label}
                                            </a>
                                        </li>
                                    `;
                                } else if (compobj.confObj.submenu&& 
                                    compobj.confObj.submenu[menu_key]&&
                                    compobj.confObj.submenu[menu_key].length>0) 
                                {
                                    var submenu_list=compobj.confObj.submenu[menu_key];
                                    html_comp = submenu_list.map(function (SM, sIdx){
                                        return `
                                        <li class="list-group-item">
                                            <a class="etx-text-primary nav-link submenu-${index}-${sIdx} nav-item-link cursor-pointer" 
                                                ng-click="openLink('${compobj.id}', '${SM.link}')"
                                                href="javascript:void(0)"
                                                >
                                                ${SM.label}
                                            </a>
                                        </li>
                                        `
                                    }).join("");
                                }

                                return `
                                    <ul class="list-group"
                                        style="max-height:400px;overflow:hidden;overflow-y:scroll;"
                                        dataetxif="currentMenu=='${M.label}-${M.link}'"
                                        ng-if="currentMenu=='${M.label}-${M.link}'">
                                        ${html_comp}
                                    </ul>
                                `
                              }).join("") : ''
                            %>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="menu-search-<%=compobj.id%>">
                            <textarea style="display:none;"
                            id="menu_conf_obj_<%=compobj.id%>"><%=JSON.stringify(compobj.confObj)%></textarea>
                        </div>

                    </div>

                </div>

            </div>

            <div class="aside-footer nav-support-footer">
                <button type="button" class="btn etx-bg-secondary etx-text-white btn-round btn-sm" 
                    ng-click="$hide()">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>

