<!--
-->
<nav class="navbar navbar-expand-lg <%-compobj.fields[$PCF.comp_size] %> " 
    id="simple-navbar-<%= compobj.id %>"
    ng-init="loadUser()"
    ng-controller="NavbarController">

    <div class="container">
      <a class="navbar-brand" href="index.html">
        <% if (compobj.has_logo) { %>
          <img src="<%- compobj.fields[$PCF.image] %>" 
            width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
            height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
          />
        <% } else { %>
            <%- compobj.navbar_title %>
        <% } %>
      </a>

      <button class="navbar-toggler navbar-toggler-right" 
        type="button" data-toggle="collapse" 
        data-target="#navbarResponsive" aria-controls="navbarResponsive" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"
        id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <%=
            compobj.confObj.menu ? compobj.confObj.menu.map(function (M){
              return `
                <li class="nav-item etx-nav-item" >
                  <a class="nav-link etx-nav-link cursor-pointer" 
                    href="${M.link}">
                    ${M.label}
                  </a>
                </li>
              `
            }).join("") : ''
            %>

            <li role="presentation"
                class=" nav-item etx-nav-item nav-item-new-host d-none d-md-block d-lg-block "
                style="padding-bottom:0px">
                <a href="https://9ujmpobqzok.typeform.com/to/X47SKnkk" 
                    class="btn btn-round button-round btn-navbar-new-host btn-desktop ">
                    NOVO HOST
                    <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
                </a>
            </li>
            <li role="presentation" class=" nav-item etx-nav-item nav-item-coporate d-none d-md-block d-lg-block  "
                style="">
                <a href="https://9ujmpobqzok.typeform.com/to/HDUoQNoO" 
                    class="btn btn-round button-round btn-navbar-corporate btn-desktop ">
                    CORPORATE
                    <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
                </a>
            </li>

            <!-- MOBILE BTNS -->
            <li role="presentation"
                class=" nav-item etx-nav-item nav-item-new-host  d-lg-none "
                style="padding-bottom:0px">
                <a href="https://9ujmpobqzok.typeform.com/to/X47SKnkk" 
                    class="btn btn-round button-round btn-navbar-new-host btn-block btn-mobile">
                    NOVO HOST
                    <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
                </a>
            </li>
            <li role="presentation" class=" nav-item etx-nav-item nav-item-coporate d-lg-none  "
                style="">
                <a href="https://9ujmpobqzok.typeform.com/to/HDUoQNoO" 
                    class="btn btn-round button-round btn-navbar-corporate btn-block btn-mobile">
                    CORPORATE
                    <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
                </a>
            </li>

            
            <li class=" nav-item etx-nav-item nav-item-coporate d-none d-md-block d-lg-block  ">
                <a class="btn cursor-pointer text-bold btn-round etx-bg-white etx-text-primary" 
                  ng-if="userObj" 
                  href="account.html"
                  style="color:#0b2144">
                  <!-- <span class="fa fa-user"></span> -->
                  <span ng-bind="userObj.name.toUpperCase()"></span>
                </a>
                <a class="btn cursor-pointer text-bold btn-round etx-bg-white etx-text-primary" 
                  href="signin.html"
                  ng-if="!userObj" 
                  ng-bind="'LOGIN'"
                  style="color:#0b2144">
                </a>
            </li>
            <li ng-if="userObj" class=" nav-item etx-nav-item nav-item-coporate d-lg-none  ">
                <a class="btn cursor-pointer text-bold btn-round etx-bg-white etx-text-primary btn-mobile" 
                  href="account.html"
                  style="color:#0b2144">
                  <span class="fa fa-user"></span>
                  <span ng-bind="userObj.name.toUpperCase()"></span>
                </a>
            </li>

        </ul>
      </div>

    </div>
</nav>
