<nav class="navbar navbar-expand-lg <%-compobj.fields[$PCF.comp_size] %> " 
    id="simple-navbar-<%= compobj.id %>"
    ng-init="loadUser('realstate')"
    ng-controller="NavbarController">

    <a class="navbar-brand" href="index.html">
      <% if (compobj.has_logo) { %>
        <img src="<%- compobj.fields[$PCF.image] %>" 
          width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
          height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
        />
      <% } else { %>
          <%- compobj.navbar_title %>
      <% } %>
    </a>

    <button class="navbar-toggler navbar-toggler-right" 
      type="button" data-toggle="collapse" 
      data-target="#navbarResponsive" aria-controls="navbarResponsive" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
      id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <%=
          compobj.confObj.menu ? compobj.confObj.menu.map(function (M, I){
            return `
              <li class="nav-item etx-nav-item" >
                <a class="nav-link etx-nav-link cursor-pointer" 
                  href="${M.link}">
                  ${TR(M.label)}
                </a>
              </li>
            `
          }).join("") : ''
          %>

          <li role="presentation"
              class=" nav-item nav-item-new-host d-none d-md-block d-lg-block "
              style="padding-bottom:0px">
              <a href="novo_anfitriao"
                  ng-show="!realstateAccounts.host"
                  class="btn btn-round button-round btn-navbar-new-host btn-desktop ">
                  <%- TR('NOVO ANFITRIÃO') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
              <a href="host-dashboard"
                  ng-show="realstateAccounts.host.PK"
                  ng-bind="'<%- TR('CONTA ANFITRIÃO') %>'" 
                  class="btn btn-round button-round btn-navbar-host-account btn-desktop ">
              </a>
          </li>
          <li role="presentation" class=" nav-item nav-item-coporate d-none d-md-block d-lg-block  "
              style="">
              <a href="benvindo_corporate" 
                  ng-show="!realstateAccounts.corporate"
                  class="btn btn-round button-round btn-navbar-corporate btn-desktop ">
                  <%- TR('CORPORATE') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
              <a href="corporate-dashboard"
                  ng-show="realstateAccounts.corporate.id"
                  ng-bind="'<%- TR('CONTA CORPORATE') %>'" 
                  class="btn btn-round button-round btn-navbar-corporate-account btn-desktop ">
              </a>
          </li>

          <!-- MOBILE BTNS -->
          <li role="presentation"
              class=" nav-item nav-item-new-host  d-lg-none d-md-none "
              style="padding-bottom:0px">
              <a href="novo_anfitriao"
                  ng-show="!realstateAccounts.host"
                  class="btn btn-round button-round btn-navbar-new-host btn-desktop ">
                  <%- TR('NOVO ANFITRIÃO') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
              <a href="host-dashboard"
                  ng-show="realstateAccounts.host.PK"
                  ng-bind="'<%- TR('CONTA ANFITRIÃO') %>'" 
                  class="btn btn-round button-round btn-navbar-host-account btn-desktop ">
              </a>
          </li>
          <li role="presentation" class=" nav-item nav-item-coporate d-lg-none d-md-none  "
              style="">
              <a href="benvindo_corporate" 
                  ng-show="!realstateAccounts.corporate"
                  class="btn btn-round button-round btn-navbar-corporate btn-desktop ">
                  <%- TR('CORPORATE') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
              <a href="corporate-dashboard"
                  ng-show="realstateAccounts.corporate.id"
                  ng-bind="'<%- TR('CONTA CORPORATE') %>'" 
                  class="btn btn-round button-round btn-navbar-corporate-account btn-desktop ">
              </a>
          </li>

          
          <li class=" nav-item etx-nav-item nav-item-login lang-selector"
            ng-init="detectLang()">
            <select class="form-control"
              ng-change="currentLangChange()"
              ng-model="current_lang">
              <option value="pt">PT</option>
              <option value="en">EN</option>
              <option value="fr">FR</option>
            </select>
          </li>
          <li class=" nav-item etx-nav-item nav-item-login d-none  d-lg-block ">
              <a class="btn cursor-pointer btn-login text-bold btn-round etx-bg-white etx-text-primary btn-desktop" 
                href="signin.html"
                ng-if="!userObj" 
                ng-bind="'<%- TR('ENTRAR') %>'"
                style="color:#0b2144">
              </a>
          </li>
          <li role="presentation" class=" nav-item etx-nav-item nav-item-my-account d-lg-none d-md-none  "
              style="">
              <a class="btn cursor-pointer btn-login text-bold btn-round etx-bg-white etx-text-primary btn-mobile" 
                href="signin.html"
                ng-if="!userObj" 
                ng-bind="'<%- TR('ENTRAR') %>'"
                style="color:#0b2144">
              </a>
          </li>

          <li ng-if="userObj" class=" nav-item etx-nav-item nav-item-my-account d-none  d-lg-block  ">
              <a class="btn cursor-pointer btn-my-account text-bold btn-round etx-bg-white btn-desktop etx-text-primary " 
                href="account.html"
                style="color:#0b2144">
                <span class="fa fa-user"></span>
                <!-- <span ng-bind="userObj.name.toUpperCase()"></span> -->
                <span ng-bind="(userObj.name.split(' ')[0]).toUpperCase()"></span>
              </a>
          </li>
          <li role="presentation" class=" nav-item etx-nav-item nav-item-my-account d-lg-none d-md-none  "
              style="">
              <a class="btn cursor-pointer btn-block btn-my-account text-bold btn-round etx-bg-white etx-text-primary btn-mobile" 
                href="account.html"
                style="color:#0b2144">
                <span class="fa fa-user"></span>
                <span ng-bind="(userObj.name.split(' ')[0]).toUpperCase()"></span>
              </a>
          </li>

      </ul>
    </div>
</nav>
