<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> " 
    style="padding:0px;"
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99Ecommerce">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-navigation-control"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>')">

        <div class="row rs-margin">

            <div class="col-12 rs-padding">
                <div class="navbar-topbanner" id="navbar-topbanner-<%=compobj.id%>">
                </div>
            </div>

            <!-- Mobile Navbar -->
            <div class="col-md-12 d-lg-none etx-mobile-navbar"
                style="padding-bottom:10px;">

                <div class="row rs-margin">
                    <div class="col-12 etx-col-account etx-account-{{userObj?'auth':'not-auth'}}">
                    </div>

                    <div class="col-7 rs-padding etx-logo-navigation">
                        <a href="javascript:void(0) " 
                            ng-click="openNavbarSupport('<%= compobj.id %>')"
                            class="etx-mobile-menu-trigger pull-left">
                            <span class="fa fa-bars"></span>
                        </a>

                        <a class="navbar-brand navbar-brand-mobile" 
                            href="index.html">
                            <% if (compobj.has_logo) { %>
                            <img src="<%- compobj.fields[$PCF.image] %>" 
                              width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                              height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                            />
                            <% } else { %>
                              <%- compobj.navbar_title %>
                            <% } %>
                        </a>
                    </div>
                    <!--
                    <div class="col-5 rs-padding etx-control-navigation">

                        <h3 style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-recip-white.png');" 
                            ng-init="verifyCartSize()"
                            ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                            class="etx-mobile-shopping-cart pull-right navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                            >
                        </h3>
                    </div>
                    -->
                </div>
                <!--
                -->    
            </div>

        </div>
    
        <!-- Menu List -->
        <div class="row rs-margin ">
            <!-- Desktop logo -->
            <div class="navbar-brand-container col-lg-2 col-sm-12 col-md-12 col-xs-6 col-sm-12 d-none d-lg-block ">
                <a class="navbar-brand navbar-brand-main" 
                    href="index.html"
                  xhref="ITS_MEEE">
                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>
            </div>

            <div class="col-6 text-right navbar-menu-container  "
              style="padding:0px;"
              id="submenu-<%=compobj.id%>">

                <div class="collapse navbar-collapse container"
                    id="navbar-menu-<%= compobj.id %>">
                    <ul class="navbar-nav">

                        <%=
                          compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){

                            var link='';
                            if (!compobj.confObj.submenu||
                                !compobj.confObj.submenu[M.label+'-'+M.link]||
                                 compobj.confObj.submenu[M.label+'-'+M.link].length==0) {
                                link = `
                                    <a class="nav-link etx-nav-link cursor-pointer" 
                                      href="${M.link}">
                                      ${M.label}
                                    </a>
                                `;
                            } else if (compobj.confObj.submenu&& 
                                compobj.confObj.submenu[M.label+'-'+M.link]&&
                                compobj.confObj.submenu[M.label+'-'+M.link].length>0) 
                            {
                                var submenu_list=compobj.confObj.submenu[M.label+'-'+M.link];
                                var submenu_html = submenu_list.map(function (SM){
                                    return `
                                        <a class="dropdown-item etx-nav-item-dropdown" 
                                            href="${SM.link}">
                                            ${SM.label}
                                        </a>
                                    `
                                }).join("");

                                link = `
                                    <a class="nav-link dropdown-toggle etx-nav-superitem" 
                                      href="#" 
                                      id="menu-link-${index}" 
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      ${M.label}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="menu-link-${index}">
                                        ${submenu_html}
                                    </div>
                                `;
                            }

                            return `
                                  <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                                    ${link}
                                  </li>
                            `
                          }).join("") : ''
                        %>

                    </ul>
                </div>
            </div>

            <div class="col-4" >
                <ul class="nav nav-pills nav-controls control-menu"
                    style="margin-top: 2px;">
                    <!--
                    <li role="presentation" class="borderline-hover menu-container-v2"
                        style="">
                        <a href="signin.html" 
                            ng-if="!userObj"
                            ng-bind="'Entrar'"
                            class="btn btn-round button-round btn-navbar-login ">
                            <span class="fa fa-refresh fa-spin etx-text-loader"></span>
                        </a>

                        <a href="account.html" 
                            ng-if="userObj"
                            ng-bind="userObj.name.slice(0,10)"
                            class="btn btn-round button-round btn-navbar-account ">
                        </a>
                    </li>
                    -->

                    <!--
                    <li role="presentation"
                        class="borderline-hover menu-container-v2 cursor-pointer "
                        ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                        style="padding-bottom:0px">
                        <h3 style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-recip-white.png');" 
                            class="etx-shopping-cart pull-left navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                            ng-init="verifyCartSize()">
                        </h3>
                    </li>
                    -->
                    <li role="presentation"
                        class=" menu-container-v2 "
                        style="padding-bottom:0px">
                        <a href="https://9ujmpobqzok.typeform.com/to/X47SKnkk" 
                            class="btn btn-round button-round btn-navbar-new-host ">
                            NOVO HOST
                            <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
                        </a>
                    </li>

                    <li role="presentation" class=" menu-container-v2 "
                        style="">
                        <a href="https://9ujmpobqzok.typeform.com/to/HDUoQNoO" 
                            class="btn btn-round button-round btn-navbar-corporate ">
                            CORPORATE
                            <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>

