<!--
-->
<nav class="navbar navbar-expand-lg <%-compobj.fields[$PCF.comp_size] %> " 
    id="simple-navbar-<%= compobj.id %>"
    ng-init="loadUser()"
    ng-controller="NavbarController">

    <div class="row rs-margin">
      <div class="col-12">
            <div data-toggle="dropdown" class=" currency-selector-current " 
                ng-init="loadCurrency('<%=compobj.id%>')">
                <img src="<%=WS_HOST%>/img/flags/4x3/{{currentCurrency.country.toLowerCase()}}.svg"
                    width="25px"
                    height="25px"
                    style="display:inline"
                 />
                <h3 class="currency-label myaccount-link cursor-pointer "
                    id="currentSelector-<%=compobj.id%>" 
                    aria-expanded="true"
                    ng-bind="currentCurrency.code"
                    style="margin:0px;display:inline;padding:0px;">
                </h3>
            </div>

            <ul class="dropdown-menu top-account-board" role="menu" 
                aria-labelledby="currentSelector-<%=compobj.id%>">
                <li role="presentation">
                    <div class="row rs-margin">
                        <div class="col-12 ">
                            <p class="text-secondary">Please choose your currency</p>
                            <ul class="list-group">
                              <li class="list-group-item cursor-pointer" 
                                 ng-click="setCurrency('CVE', 'CV', $event)">CVE</li>
                              <li class="list-group-item cursor-pointer" 
                                   ng-click="setCurrency('EUR', 'EU', $event)">EUR</li>
                              <li class="list-group-item cursor-pointer" 
                                   ng-click="setCurrency('USD', 'US', $event)">USD</li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <p class="text-secondary">Preferred language</p>
                        </div>
                    </div>
                </li>
            </ul>
      </div>
    </div>

    <a class="navbar-brand" href="index.html">
      <% if (compobj.has_logo) { %>
        <img src="<%- compobj.fields[$PCF.image] %>" 
          width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
          height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
        />
      <% } else { %>
          <%- compobj.navbar_title %>
      <% } %>
    </a>

    <button class="navbar-toggler navbar-toggler-right" 
      type="button" data-toggle="collapse" 
      data-target="#navbarResponsive" aria-controls="navbarResponsive" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
      id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <%=
          compobj.confObj.menu ? compobj.confObj.menu.map(function (M){
            return `
              <li class="nav-item etx-nav-item" >
                <a class="nav-link etx-nav-link cursor-pointer" 
                  href="${M.link}">
                  ${TR(M.label)}
                </a>
              </li>
            `
          }).join("") : ''
          %>

          <li role="presentation"
              class=" nav-item nav-item-new-host d-none d-md-block d-lg-block "
              style="padding-bottom:0px">
              <a href="https://9ujmpobqzok.typeform.com/to/X47SKnkk" 
                  class="btn btn-round button-round btn-navbar-new-host btn-desktop ">
                  <%- TR('NOVO ANFITRIÃO') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
          </li>
          <li role="presentation" class=" nav-item nav-item-coporate d-none d-md-block d-lg-block  "
              style="">
              <a href="https://9ujmpobqzok.typeform.com/to/HDUoQNoO" 
                  class="btn btn-round button-round btn-navbar-corporate btn-desktop ">
                  <%- TR('CORPORATE') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
          </li>

          <!-- MOBILE BTNS -->
          <li role="presentation"
              class=" nav-item nav-item-new-host  d-lg-none d-md-none "
              style="padding-bottom:0px">
              <a href="https://9ujmpobqzok.typeform.com/to/X47SKnkk" 
                  class="btn btn-round button-round btn-navbar-new-host btn-block btn-mobile">
                  <%- TR('NOVO ANFITRIÃO') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
          </li>
          <li role="presentation" class=" nav-item nav-item-coporate d-lg-none d-md-none  "
              style="">
              <a href="https://9ujmpobqzok.typeform.com/to/HDUoQNoO" 
                  class="btn btn-round button-round btn-navbar-corporate btn-block btn-mobile">
                  <%- TR('CORPORATE') %>
                  <!-- <span class="fa fa-refresh fa-spin etx-text-loader"></span> -->
              </a>
          </li>

          
          <li class=" nav-item etx-nav-item nav-item-login d-none  d-lg-block ">
              <a class="btn cursor-pointer btn-login text-bold btn-round etx-bg-white etx-text-primary btn-desktop" 
                href="signin.html"
                ng-if="!userObj" 
                ng-bind="'<%- TR('ENTRAR') %>'"
                style="color:#0b2144">
              </a>
          </li>
          <li role="presentation" class=" nav-item etx-nav-item nav-item-my-account d-lg-none d-md-none  "
              style="">
              <a class="btn cursor-pointer btn-login text-bold btn-round etx-bg-white etx-text-primary btn-mobile" 
                href="signin.html"
                ng-if="!userObj" 
                ng-bind="'<%- TR('ENTRAR') %>'"
                style="color:#0b2144">
              </a>
          </li>

          <li ng-if="userObj" class=" nav-item etx-nav-item nav-item-my-account d-none  d-lg-block  ">
              <a class="btn cursor-pointer btn-my-account text-bold btn-round etx-bg-white btn-desktop etx-text-primary " 
                href="account.html"
                style="color:#0b2144">
                <span class="fa fa-user"></span>
                <!-- <span ng-bind="userObj.name.toUpperCase()"></span> -->
                <span ng-bind="(userObj.name.split(' ')[0]).toUpperCase()"></span>
              </a>
          </li>
          <li role="presentation" class=" nav-item etx-nav-item nav-item-my-account d-lg-none d-md-none  "
              style="">
              <a class="btn cursor-pointer btn-block btn-my-account text-bold btn-round etx-bg-white etx-text-primary btn-mobile" 
                href="account.html"
                style="color:#0b2144">
                <span class="fa fa-user"></span>
                <span ng-bind="(userObj.name.split(' ')[0]).toUpperCase()"></span>
              </a>
          </li>

      </ul>
    </div>
</nav>
