<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> " 
    style="padding:0px;"
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99Realstate">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-navigation-control"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>')">

        <div class="row rs-margin">

            <div class="col-12 rs-padding">
                <div class="navbar-topbanner" id="navbar-topbanner-<%=compobj.id%>">
                </div>
            </div>

            <div class="col-12 rs-padding">


                <ul class="nav nav-pills nav-controls control-menu"
                    style="margin-top: 2px;">
                    <!--
                    <li role="presentation" class="borderline-hover menu-container-v2"
                        style="">
                        <a href="signin.html" 
                            ng-if="!userObj"
                            ng-bind="'Entrar'"
                            class="btn btn-round button-round btn-navbar-login ">
                            <span class="fa fa-refresh fa-spin etx-text-loader"></span>
                        </a>

                        <a href="account.html" 
                            ng-if="userObj"
                            ng-bind="userObj.name.slice(0,10)"
                            class="btn btn-round button-round btn-navbar-account ">
                        </a>
                    </li>
                    -->

                    <li role="presentation"
                        class="borderline-hover menu-container-v2 "
                        style="padding-bottom:0px">

                        <div data-toggle="dropdown" class=" currency-selector-current " 
                            ng-init="loadCurrency('<%=compobj.id%>')">
                            <img src="<%=WS_HOST%>/img/flags/4x3/{{currentCurrency.country.toLowerCase()}}.svg"
                                width="25px"
                                height="25px"
                                style="display:inline"
                             />
                            <h3 class="currency-label myaccount-link cursor-pointer "
                                id="currentSelector-<%=compobj.id%>" 
                                aria-expanded="true"
                                ng-bind="currentCurrency.code"
                                style="margin:0px;display:inline;padding:0px;">
                            </h3>
                        </div>

                        <ul class="dropdown-menu top-account-board" role="menu" 
                            aria-labelledby="currentSelector-<%=compobj.id%>">
                            <li role="presentation">
                                <div class="row rs-margin">
                                    <div class="col-12 ">
                                        <p class="text-secondary">Please choose your currency</p>
                                        <ul class="list-group">
                                          <li class="list-group-item cursor-pointer" 
                                             ng-click="setCurrency('CVE', 'CV', $event)">CVE</li>
                                          <li class="list-group-item cursor-pointer" 
                                               ng-click="setCurrency('EUR', 'EU', $event)">EUR</li>
                                          <li class="list-group-item cursor-pointer" 
                                               ng-click="setCurrency('USD', 'US', $event)">USD</li>
                                        </ul>
                                    </div>

                                    <div class="col-12">
                                        <p class="text-secondary">Preferred language</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li role="presentation" class="borderline-hover menu-container-v2"
                        style="">
                        <h3 class="etx-text-white myaccount-link dropdown-toggle cursor-pointer "
                            id="myAccountdrop-<%=compobj.id%>" data-toggle="dropdown" 
                            aria-expanded="true"
                            style="font-size: 14px;margin:0px;">
                            <span style="text-decoration:underline">
                                <span ng-if="userObj" ng-bind="userNameFmt"></span>
                                <span ng-if="!userObj" ng-bind="'Entre aqui'"></span>
                            </span>
                        </h3>

                        <ul class="dropdown-menu top-account-board" role="menu" 
                            aria-labelledby="myAccountdrop-<%=compobj.id%>">
                            <li role="presentation">
                                <div class="row rs-margin">
                                    <div class="col-12 login-area ">
                                        <div ng-if="!userObj" class="text-center">
                                            <a class="btn etx-bg-warning etx-login-area-btn text-bold" style="padding-left:75px;padding-right:75px;"
                                                href="signin.html"
                                                ng-click="openLoginModal()">
                                                LOGIN
                                            </a>
                                            <a class="btn etx-bg-primary etx-login-area-btn text-bold" style="padding-left:45px;padding-right:45px;"
                                                href="signup.html"
                                                ng-click="openSignupModal()">
                                                <span class="fa fa-user-circle"></span>
                                                CRIAR CONTA
                                            </a>
                                        </div>

                                        <div ng-if="userObj">
                                            <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                                width="60px"
                                                class="pull-left"
                                                style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                            />

                                            <h3 class="etx-text-primary" style="font-size:19px;">
                                                {{userObj.name|uppercase}}
                                            </h3>
                                            <h3 style="margin:0px;font-size:14px"
                                                class="etx-text-secondary">
                                                {{userObj.email|uppercase}}
                                            </h3>
                                            <hr/>
                                        </div>
                                    </div>

                                    <div class="col-6 ecommerce-link-group" ng-if="userObj">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="account.html?tab=shopping">Minhas Reservas</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="my-account.html">Minhas Listas</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="account.html?tab=payments">Meus Pagamentos</a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="account.html?tab=payments">Meus Recibos</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-6 account-link-group" ng-if="userObj">
                                        <ul class="list-group">
                                            <!--
                                            <li class="list-group-item">
                                                <a href="account.html">
                                                    <span class="fa fa-shopping-cart"></span>
                                                    Checkout
                                                </a>
                                            </li>
                                            -->
                                            <li class="list-group-item">
                                                <a href="my-account.html">
                                                    <span class="fa fa-user-circle"></span>
                                                    Minha Conta
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="https://app.enterstarts.com/#!/account/forgot-password?lang=pt"
                                                    target="__blank"
                                                    class="text-primary">
                                                    <span class="fa fa-key"></span>
                                                    Esqueci a password.
                                                </a>
                                            </li>
                                        </ul>

                                        <button class="btn btn-warning btn-round text-bold btn-account-logout "
                                            ng-if="userObj"
                                            ng-click="logout()"
                                            style="color:#333;margin-top:10px;">
                                            LOGOUT
                                        </button>
                                    </div>


                                </div>
                            </li>
                        </ul>
                    </li>

                    <!--
                    <li role="presentation"
                        class="borderline-hover menu-container-v2 cursor-pointer "
                        ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                        style="padding-bottom:0px">
                        <h3 style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-recip-white.png');" 
                            class="etx-shopping-cart pull-left navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                            ng-init="verifyCartSize()">
                        </h3>
                    </li>
                    -->
                </ul>


            </div>

            <!-- Mobile Navbar -->
            <div class="col-md-12 d-lg-none etx-mobile-navbar"
                style="padding-bottom:10px;">

                <div class="row rs-margin">
                    <div class="col-12 etx-col-account etx-account-{{userObj?'auth':'not-auth'}}">
                    </div>

                    <div class="col-7 rs-padding etx-logo-navigation">
                        <a href="javascript:void(0) " 
                            ng-click="openNavbarSupport('<%= compobj.id %>')"
                            class="etx-mobile-menu-trigger pull-left">
                            <span class="fa fa-bars"></span>
                        </a>

                        <a class="navbar-brand navbar-brand-mobile" 
                            href="index.html">
                            <% if (compobj.has_logo) { %>
                            <img src="<%- compobj.fields[$PCF.image] %>" 
                              width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                              height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                            />
                            <% } else { %>
                              <%- compobj.navbar_title %>
                            <% } %>
                        </a>
                    </div>
                    <!--
                    <div class="col-5 rs-padding etx-control-navigation">

                        <h3 style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-recip-white.png');" 
                            ng-init="verifyCartSize()"
                            ng-click="openMyCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                            class="etx-mobile-shopping-cart pull-right navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                            >
                        </h3>
                    </div>
                    -->

                    <div class="col-12 rs-padding">
                        <form class=" etx-mobile-serch "
                            ng-if="!is_explorer_enable"
                            method="GET" action="ec-search.html">
                            <input type="search" 
                                name="qinit"
                                placeholder="Em que posso ajuda-lo? " 
                                style="font-size:16px;"
                                class="form-control search-input ecommerce-navbar-search"
                            />
                        </form>
                    </div>
                </div>
                <!--
                -->    
            </div>

            <!-- Desktop logo -->
            <div class="navbar-brand-container col-lg-2 col-sm-12 col-md-12 col-xs-6 col-sm-12 d-none d-lg-block ">
                <a class="navbar-brand navbar-brand-main" 
                    href="index.html"
                  xhref="ITS_MEEE">
                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>
            </div>

            <!-- Desktop search -->
            <div class="navbar-brand-container col-lg-10 col-sm-12 col-md-12 col-xs-6 col-sm-12 d-none d-lg-block ">
                <form class="form-inline "
                  ng-if="!is_explorer_enable"
                  method="GET">
                    <input type="search" 
                          name="qxs"
                          id="explorer-trigger-<%=compobj.id%>"
                          ng-click="enableExplorer('<%=compobj.id%>')"
                          placeholder="Pesquisar aqui" 
                          class="form-control search-input ecommerce-navbar-search"
                    />
                </form>
            </div>

            <!-- Desktop controls -->
            <div id="search-container-<%=compobj.id%>" 
                class="col-lg-4 col-sm-12 col-md-8 col-xs-12 navbar-search-container d-none d-md-none d-lg-block" id="search-<%=compobj.id%>"
                style="padding-bottom:0px;">

            </div>
        </div>
    
        <!-- Menu List -->
        <div class="row rs-margin ">
            <div class="col-12 navbar-menu-container  "
              style="padding:0px;"
              id="submenu-<%=compobj.id%>">
                <div class="collapse navbar-collapse container"
                    id="navbar-menu-<%= compobj.id %>">
                    <ul class="navbar-nav">

                        <%=
                          compobj.confObj.menu ? compobj.confObj.menu.map(function (M, index){

                            var link='';
                            if (!compobj.confObj.submenu||
                                !compobj.confObj.submenu[M.label+'-'+M.link]||
                                 compobj.confObj.submenu[M.label+'-'+M.link].length==0) {
                                link = `
                                    <a class="nav-link etx-nav-link cursor-pointer" 
                                      href="${M.link}">
                                      ${M.label}
                                    </a>
                                `;
                            } else if (compobj.confObj.submenu&& 
                                compobj.confObj.submenu[M.label+'-'+M.link]&&
                                compobj.confObj.submenu[M.label+'-'+M.link].length>0) 
                            {
                                var submenu_list=compobj.confObj.submenu[M.label+'-'+M.link];
                                var submenu_html = submenu_list.map(function (SM){
                                    return `
                                        <a class="dropdown-item etx-nav-item-dropdown" 
                                            href="${SM.link}">
                                            ${SM.label}
                                        </a>
                                    `
                                }).join("");

                                link = `
                                    <a class="nav-link dropdown-toggle etx-nav-superitem" 
                                      href="#" 
                                      id="menu-link-${index}" 
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      ${M.label}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="menu-link-${index}">
                                        ${submenu_html}
                                    </div>
                                `;
                            }

                            return `
                                  <li class="nav-item etx-nav-item dropdown nav-item-v2" >
                                    ${link}
                                  </li>
                            `
                          }).join("") : ''
                        %>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

