<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> vstream-cloud-v2-navbar " 
    style="padding:0px;"
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99EcommerceCart">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-navigation-control"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>', 'realstate', '<%=compobj.id%>')">

        <div class="row rs-margin">
            <!-- Desktop logo -->
            <div class="navbar-brand-container col-3">
                <a href="javascript:void(0) " 
                    ng-click="openNavbarSupport('<%= compobj.id %>')"
                    class="etx-mobile-menu-trigger pull-left">
                    <span class="fa fa-bars"></span>
                </a>
            </div>

            <div class="col-5 text-center">
                <a class="navbar-brand navbar-brand-main" 
                    href="index.html">

                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>
            </div>

            <div class="col-4 text-right">
                <a href="javascript:void(0)" 
                    id="myAccountdrop-<%=compobj.id%>" 
                    ng-click="openAuthDialog('<%=compobj.id%>')"
                    class="auth-dialog-container">
                    <img src="<%=STATIC_PATH%>/img/about-use-mb.png"
                        width="40px"
                        class=""
                        style="margin-bottom:5px;"
                    />
                </a>

                <a style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-purple.png');display:inline-table;width:40px;" 
                    ng-init="verifyCartSize()"
                    ng-click="OpenCartV2('<%=compobj.id%>')"
                    id="navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                    class="etx-mobile-shopping-cart pull-right "
                    ng-bind="totalItems||0"
                    >
                </a>

                <div class="row rs-margin hidden"
                    id="auth-onboard"
                    style="margin-top:0px;margin-right:2px;width:200px;box-shadow:0px 0px 4px rgba(0,0,0,.3);background:#63e1a5;position: absolute;z-index: 10000;right: 0;">
                    <div class="col-12 text-center" style="padding-top:15px;">
                        <p>
                            <a class="text-purple text-bold" style=""
                                href="signin.html">
                                SIGNIN
                            </a>
                        </p>
                        <p>
                            <a class="text-purple text-bold" style=""
                                href="signup.html">
                                SIGNUP
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row rs-margin hidden" 
                    id="auth-account"
                    style="margin-top:0px;margin-right:2px;width:300px;box-shadow:0px 0px 4px rgba(0,0,0,.3);background:#fcc207;position: absolute;z-index: 10000;right: 0;">
                    <div class="col-12 ">
                        <p style="font-size:16px;" 
                            class="text-purple kl-auth-greeting text-left">
                            Hi there {{userObj.name.split(' ')[0]}}
                        </p>
                    </div>

                    <div class="col-12 account-link-group"  style="padding:0px;">
                        <ul class="list-group" style="padding:0px;">
                            <li class="list-group-item text-center"
                                style="background:#fcc207;border:0px;border-radius:0px;border-top:2px solid #e65410;border-bottom:2px solid #e65410;">
                                <a href="my-account.html">
                                    <img src="<%=STATIC_PATH%>/img/about-user-v2.png"
                                        width="50px"
                                        class=""
                                        style="margin-bottom:5px;margin-right:15px;"
                                    />
                                    <p class="text-purple">My Account</p>
                                </a>
                            </li>
                            <!--
                            <li class="list-group-item text-center"
                                style="background:#fcc207;border:0px;border-radius:0px;border-top:2px solid #e65410;border-bottom:2px solid #e65410;">
                                <a href="ecommerce-account.html">
                                    <span class="fa fa-shopping-cart consultar-compras-icon"></span>
                                    <p class="text-purple">Consultar Compras</p>
                                </a>
                            </li>
                            -->
                        </ul>
                        <a class="btn btn-terminar-sessao text-purple text-center"
                            ng-if="userObj"
                            ng-click="logout()"
                            style="color:#333;margin-top:10px;">
                            LOGOUT
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row rs-margin shopping-cart-v2 hidden"
            id="shopping-cart-v2-<%=compobj.id%>">
            <div class="col-12 rs-padding shopping-cart-header">
                <h3 class="my-cart-label">
                    My Cart
                    <span class="my-cart-total pull-right">({{cartObj.item_list.length}})</span>
                </h3>
            </div>

            <div class="col-12 rs-padding cart-system-container"
                style="max-height:500px;overflow:hidden;overflow-y:scroll;">

                <table class="table shopping-list-items">
                    <tr ng-if="loading_cart">
                        <td colspan="3" class="text-center loading-area" >
                            <span class="fa fa-refresh fa-spin"></span>
                        </td>
                    </tr>
                    <tr ng-if="cartObj.item_list.length==0&&!loading_cart">
                        <td colspan="3" class="text-center loading-area" >
                            <p class="empty-card"
                                style="padding-top:80px;">Your cart is empty!</p>
                        </td>
                    </tr>
                    <tr ng-repeat="item in cartObj.item_list">
                        <td class="rs-padding">
                            <div style="background-image:url('{{item.image}}');background-size:contain;height:209px;width:209px;background-repeat:no-repeat;background-position:center center;" class="shopping-list-image"></div>
                        </td>
                        <td class="text-left">
                            <p style="margin:0px" class="cart-item-v3-label text-bold">{{item.label}}</p>
                            <p style="margin:0px" class="cart-item-v3-currency  ">{{item.price}} {{item.currency}}</p>
                            <p style="margin:0px" class="cart-item-v3-amount ">Qtd: {{item.amount}}</p>
                            <p style="margin:0px" class="cart-item-v3-var " ng-if="item.prod_var">{{item.prod_var}}</p>
                            <button class="btn etx-bg-danger etx-text-white btn-sm"
                                ng-disabled="addToCartLoading||removeToCartLoading"
                                ng-click="j1nRemoveFromCart('<%=compobj.id%>', item, $index)">
                                <span ng-if="!removeToCartLoading">
                                  Remove
                                </span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-12 " ng-if="cartObj.total>0">
                <div class="cart-total-container">
                    <h3 class="cart-total-count">
                        <span class="total-label">Total: </span>
                        <span class="total-amount">{{cartObj.total|currency:''}}</span>
                    </h3>
                    <p class="service-acceptance">
                        By purchasing on our store
                        you agree to our 
                        <a href="condicoes-servico.html">terms of service</a>
                    </p>
                </div>
            </div>
            <div class="col-6 rs-padding" >
                <div class="btn-checkout-v2-container">
                    <button class="btn btn-warning btn-close-cart-v2 btn-block"
                        ng-click="CloseCartV2('<%=compobj.id%>')">
                        CLOSE
                    </button>
                </div>
            </div>
            <div class="col-6 rs-padding" >
                <div class="btn-checkout-v2-container">
                    <a class="btn etx-bg-warning btn-checkout-v2 btn-block"
                        href="account.html">
                        CHECKOUT
                    </a>
                </div>
            </div>
        </div>

    </div>

</nav>

