<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> vstream-cloud-v1-navbar " 
    style="padding:0px;"
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99EcommerceCart">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-navigation-control"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>', 'realstate', '<%=compobj.id%>')">

        <div class="row rs-margin">
            <div class="col-12 rs-padding navbar-top-info d-none d-lg-block d-md-block">
                <div class="pull-right link-container">
                    <a href="condicoes-servico.html" class="service-condition">Condições do Serviço</a>
                    <a href="">|</a>
                    <a href="ocorrencias-form.html" class="service-ocorrencia">Ocorrências</a>
                </div>
            </div>

            <!-- Desktop logo -->
            <div class="navbar-brand-container col-3">
                <a href="javascript:void(0) " 
                    ng-click="openNavbarSupport('<%= compobj.id %>')"
                    class="etx-mobile-menu-trigger pull-left">
                    <span class="fa fa-bars"></span>
                </a>
            </div>

            <div class="col-5 text-center">
                <a class="navbar-brand navbar-brand-main" 
                    href="index.html">

                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>
            </div>

            <div class="col-4 text-right">
                <a style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-purple.png');/*display:inline-table;*/width:40px;" 
                    ng-init="verifyCartSize()"
                    ng-click="OpenCartV2('<%=compobj.id%>')"
                    id="navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                    ng-bind="totalItems||0"
                    ng-class="{'etx-mobile-shopping-cart pull-right':true, 
                                'show-override': app_environment=='127.0.0.1'||app_environment=='publica.enterstarts.com'||app_environment=='app.kualeh.cv'}"
                    >
                </a>

                <a href="javascript:void(0)" 
                    id="myAccountdrop-<%=compobj.id%>" 
                    ng-click="openAuthDialog('<%=compobj.id%>')"
                    class="auth-dialog-container">
                    <img src="<%=STATIC_PATH%>/img/about-user-v2.png"
                        width="40px"
                        class="hidden"
                        id="navbar-anon-icon"
                        style="margin-bottom:5px;"
                    />
                    <div style="background-image:url('{{userObj.pictureIcon}}');"
                        class="hidden navbar-user-img"
                        ng-show="userObj.pictureIcon"
                        id="navbar-user-icon">
                    </div>
                </a>

                <div class="row rs-margin hidden"
                    id="auth-onboard"
                    style="margin-top:0px;margin-right:2px;width:200px;box-shadow:0px 0px 4px rgba(0,0,0,.3);background:#63e1a5;position: absolute;z-index: 10000;right: 0;">
                    <div class="col-12 text-center" style="padding-top:15px;">
                        <p>
                            <a class="text-purple text-bold" style=""
                                href="signin.html">
                                LOGIN
                            </a>
                        </p>
                        <p>
                            <a class="text-purple text-bold" style=""
                                href="signup.html">
                                REGISTAR
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row rs-margin hidden" 
                    id="auth-account"
                    style="margin-top:0px;margin-right:2px;width:300px;box-shadow:0px 0px 4px rgba(0,0,0,.3);background:#fcc207;position: absolute;z-index: 10000;right: 0;">
                    <div class="col-12 ">
                        <p style="font-size:16px;" 
                            class="text-purple kl-auth-greeting text-left">
                            Ol&aacute; {{userObj.name.split(' ')[0]}}
                            <span class="acc-greetings">, kualeh?</span>
                        </p>
                    </div>

                    <div class="col-12 account-link-group"  style="padding:0px;">
                        <ul class="list-group" style="padding:0px;">
                            <li class="list-group-item text-center"
                                style="background:#fcc207;border:0px;border-radius:0px;border-top:2px solid #e65410;border-bottom:2px solid #e65410;">
                                <a href="my-account.html">
                                    <img src="<%=STATIC_PATH%>/img/about-user-v2.png"
                                        width="50px"
                                        class=""
                                        id="navbar-user-profile-anon"
                                        ng-show="!userObj.pictureIcon"
                                        style="margin-bottom:5px;margin-right:15px;"
                                    />
                                    <div style="background-image:url('{{userObj.pictureIcon}}');"
                                        class="navbar-user-profile-img"
                                        ng-show="userObj.pictureIcon"
                                        id="navbar-user-profile-img">
                                    </div>
                                    <p class="text-purple">Consultar Perfil</p>
                                </a>
                            </li>
                            <li class="list-group-item text-center"
                                style="background:#fcc207;border:0px;border-radius:0px;border-top:2px solid #5c0f8b!important;border-bottom:2px solid #5c0f8b!important;;">
                                <a href="ecommerce-account.html">
                                    <span class="fa fa-shopping-cart consultar-compras-icon"></span>
                                    <p class="text-purple">Consultar Compras</p>
                                </a>
                            </li>
                            <!--
                            <li class="list-group-item text-center"
                                style="background:#5c0f8b;border:0px;border-radius:0px;border-top:2px solid #5c0f8b;border-bottom:2px solid #5c0f8b;"
                                ng-show="userObj.org=='d19718330bbb4389'||userObj.withPermission">
                                <a href="ecommerce-seller.html">
                                    <span class="text-white fa fa-bank consultar-compras-icon"></span>
                                    <p class="text-white">
                                        Conta de Vendedor
                                    </p>
                                </a>
                            </li>
                            -->
                        </ul>

                        <a class="btn btn-terminar-sessao btn-block text-purple text-center"
                            ng-if="userObj"
                            ng-click="logout()"
                            style="color:#333;margin-top:10px;">
                            <span class="fa fa-chevron-left"></span>
                            Terminar sess&atilde;o
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row rs-margin shopping-cart-v2 hidden"
            id="shopping-cart-v2-<%=compobj.id%>">
            <div class="col-12 rs-padding shopping-cart-header">
                <h3 class="my-cart-label">
                    Meu Carrinho
                    <span class="my-cart-total pull-right"
                        id="vstrm-cart-total">({{cartObj.item_list.length}})</span>
                </h3>
            </div>

            <div class="col-12 rs-padding cart-system-container">

                <table class="table shopping-list-items">
                    <tr ng-if="loading_cart">
                        <td colspan="3" class="text-center loading-area" >
                            <span class="fa fa-refresh fa-spin"></span>
                        </td>
                    </tr>
                    <tr ng-if="cartObj.item_list.length==0&&!loading_cart">
                        <td colspan="3" class="text-center loading-area" >
                            <p class="empty-card"
                                style="padding-top:80px;">Carrinho Vazio!</p>
                        </td>
                    </tr>
                    <tr ng-repeat="item in cartObj.item_list">
                        <td class="rs-padding">
                            <div style="background-image:url('{{item.image}}');background-size:contain;height:109px;width:109px;background-repeat:no-repeat;background-position:center center;" class="shopping-list-image"></div>
                        </td>
                        <td class="text-left">
                            <p class="text-bold shopping-item-label">{{item.label}}</p>
                            <p class="shopping-item-price" style="margin:0px;">{{item.price}} {{item.currency}}</p>
                            <p class="shopping-item-qtd" style="margin:0px;">Qtd: {{item.amount}}</p>
                            <p class="shopping-item-size" style="margin:0px;" ng-if="item.prod_var">Tamanho: {{item.prod_var}}</p>
                            <button class=" btn etx-bg-danger etx-text-white btn-sm shopping-item-remove"
                                ng-disabled="addToCartLoading||removeToCartLoading"
                                ng-click="j1nRemoveFromCart('<%=compobj.id%>', item, $index)">
                                <span ng-if="!removeToCartLoading">
                                  REMOVER
                                </span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-12 " ng-if="cartObj.total>0">
                <div class="cart-total-container">
                    <h3 class="cart-total-count">
                        <span class="total-label">Total: </span>
                        <span class="total-amount">{{cartObj.total|currency:''}}</span>
                        <span class="total-currency">CVE</span>

                        <small class="total-in-eur">
                            <span class="total-amount">{{cartObj.total_in_eur|currency:''}}</span>
                            <span class="total-currency">EUR</span>
                        </small>
                    </h3>

                    <p class="service-acceptance">
                        Ao comprar na nossa loja concorda
                        com as nossas
                        <a href="condicoes-servico.html">condi&ccedil;&otilde;es de servi&ccedil;o</a>
                        e a nossa
                        <a href="politica-privacidade.html">pol&iacute;tica de privacidade.</a>
                    </p>
                </div>
            </div>
            <div class="col-6 rs-padding" >
                <div class="btn-checkout-v2-container">
                    <button class="btn btn-warning btn-close-cart-v2 btn-block"
                        ng-click="CloseCartV2('<%=compobj.id%>')">
                        FECHAR
                    </button>
                </div>
            </div>
            <div class="col-6 rs-padding" >
                <div class="btn-checkout-v2-container">
                    <a class="btn etx-bg-warning btn-checkout-v2 btn-block"
                        ng-if="userObj.org!='d19718330bbb4389' && !userObj.withPermission"
                        href="account.html">
                        CHECKOUT
                    </a>
                    <a class="btn etx-bg-warning btn-checkout-v2 btn-block"
                        ng-if="userObj.org=='d19718330bbb4389'||userObj.withPermission"
                        href="ecommerce-seller.html">
                        CHECKOUT
                    </a>
                </div>
            </div>
        </div>

    </div>

</nav>

