<nav class="navbar navbar-expand-lg <%=compobj.fields[$PCF.comp_size] %> vstream-cloud-v1-navbar " 
    style="padding:0px;"
    id="simple-navbar-<%= compobj.id %>"
    ng-controller="x99EcommerceCart">

    <div class="<%=compobj.fields[$PCF.colsize] %> navbar-navigation-control"
        ng-init="verifyUser('#navbar-usertop-<%=compobj.id%>', 'realstate')">

        <div class="row rs-margin">
            <div class="col-12 rs-padding navbar-top-info d-none d-lg-block d-md-block">
                <div class="pull-right link-container">
                    <a href="condicoes-servico.html" class="service-condition">Condições do Serviço</a>
                    <a href="">|</a>
                    <a href="ocorrencias-form.html" class="service-ocorrencia">Ocorrências</a>
                </div>
            </div>

            <!-- Desktop logo -->
            <div class="navbar-brand-container col-3">
                <a href="javascript:void(0) " 
                    ng-click="openNavbarSupport('<%= compobj.id %>')"
                    class="etx-mobile-menu-trigger pull-left">
                    <span class="fa fa-bars"></span>
                </a>
            </div>

            <div class="col-5 text-center">
                <a class="navbar-brand navbar-brand-main" 
                    href="index.html">

                    <% if (compobj.has_logo) { %>
                      <img src="<%- compobj.fields[$PCF.image] %>" 
                        width="<%- compobj.fields[$PCF.img_w]||'75' %>px" 
                        height="<%- compobj.fields[$PCF.img_h]||'75' %>px" 
                      />
                    <% } else { %>
                        <%- compobj.navbar_title %>
                    <% } %>
                </a>
            </div>

            <div class="col-4 text-right">
                <table class="table" style="margin-bottom:0px;">
                    <tr>
                        <td class="pull-right cursor-pointer" style="width:100px;">
                            <a style="background-image:url('<%=STATIC_PATH%>/img/5f59687e7560d90c6ea34210c5bcf830-purple.png');display:inline-table;width:40px;" 
                                ng-init="verifyCartSize()"
                                ng-click="OpenCartV2('<%=compobj.id%>')"
                                id="navbar-cart-amount-<%=compobj.fields[$PCF.webapp_id]%>"
                                class="etx-mobile-shopping-cart pull-right "
                                ng-bind="totalItems||0"
                                >
                            </a>
                        </td>

                        <td style="width:100px;">
                            <a href="signin.html" 
                                ng-if="!userObj"
                                ng-bind="'LOGIN'"
                                class="btn btn-round button-round btn-navbar-login ">
                            </a>

                            <a ng-if="userObj"
                                id="myAccountdrop-<%=compobj.id%>" data-toggle="dropdown" 
                                aria-expanded="true"
                                style="font-size: 14px;"
                                ng-init="name_fmt=userObj.name.split(' ')"
                                ng-bind="userObj.name.split(' ')[0]"
                                class="btn btn-round text-white button-round btn-navbar-account ">
                            </a>

                            <ul class="dropdown-menu top-account-board" role="menu" 
                                aria-labelledby="myAccountdrop-<%=compobj.id%>">
                                <li role="presentation">
                                    <div class="row rs-margin">
                                        <div class="col-12 login-area ">
                                            <div ng-if="!userObj" class="text-center">
                                                <button class="btn etx-bg-warning etx-login-area-btn text-bold" style="padding-left:75px;padding-right:75px;"
                                                    ng-click="openLoginModal()">
                                                    LOGIN
                                                </button>
                                                <button class="btn etx-bg-primary etx-login-area-btn text-bold" style="padding-left:45px;padding-right:45px;"
                                                    ng-click="openSignupModal()">
                                                    <span class="fa fa-user-circle"></span>
                                                    CRIAR CONTA
                                                </button>
                                            </div>

                                            <div ng-if="userObj">
                                                <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                                    width="60px"
                                                    class="pull-left"
                                                    style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                                />

                                                <h3 class="etx-text-primary" style="font-size:19px;">
                                                    {{userObj.name|uppercase}}
                                                </h3>
                                                <p style="margin:0px;font-size:14px"
                                                    class="etx-text-secondary">
                                                    {{userObj.email|uppercase}}
                                                </p>
                                            </div>

                                            <div style="clear:both">
                                                <hr/>
                                            </div>
                                        </div>

                                        <div class="col-12 account-link-group">
                                            <ul class="list-group">
                                                <!--
                                                <li class="list-group-item">
                                                    <a href="account.html">
                                                        <span class="fa fa-shopping-cart"></span>
                                                        Checkout
                                                    </a>
                                                </li>
                                                -->
                                                <li class="list-group-item">
                                                    <a href="my-account.html">
                                                        <span class="fa fa-user-circle"></span>
                                                        Minha Conta
                                                    </a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="https://app.enterstarts.com/#!/account/forgot-password?lang=pt"
                                                        target="__blank"
                                                        class="text-primary">
                                                        <span class="fa fa-key"></span>
                                                        Esqueci a password.
                                                    </a>
                                                </li>
                                            </ul>

                                            <button class="btn etx-bg-primary btn-round text-bold btn-account-logout "
                                                ng-if="userObj"
                                                ng-click="logout()"
                                                style="color:#333;margin-top:10px;">
                                                LOGOUT
                                            </button>
                                        </div>


                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>


            </div>
        </div>

        <div class="row rs-margin shopping-cart-v2 hidden"
            id="shopping-cart-v2-<%=compobj.id%>">
            <div class="col-12 rs-padding shopping-cart-header">
                <h3 class="my-cart-label">
                    Meu Carrinho
                    <span class="my-cart-total pull-right">({{cartObj.item_list.length}})</span>
                </h3>
            </div>

            <div class="col-12 rs-padding"
                style="max-height:500px;overflow:hidden;overflow-y:scroll;">

                <table class="table shopping-list-items">
                    <tr ng-if="loading_cart">
                        <td colspan="3" class="text-center loading-area" >
                            <span class="fa fa-refresh fa-spin"></span>
                        </td>
                    </tr>
                    <tr ng-if="cartObj.item_list.length==0&&!loading_cart">
                        <td colspan="3" class="text-center loading-area" >
                            <p class="empty-card"
                                style="padding-top:80px;">Carrinho Vazio!</p>
                        </td>
                    </tr>
                    <tr ng-repeat="item in cartObj.item_list">
                        <td class="rs-padding">
                            <div style="background-image:url('{{item.image}}');background-size:contain;height:209px;width:209px;background-repeat:no-repeat;background-position:center center;"></div>
                        </td>
                        <td class="text-left">
                            <p class="text-bold">{{item.label}}</p>
                            <p class="">{{item.price}} {{item.currency}}</p>
                            <p class="">Qtd: {{item.amount}}</p>
                            <p class="" ng-if="item.prod_var">Tamanho: {{item.prod_var}}</p>
                            <button class="shop-btn btn etx-bg-danger etx-text-white btn-sm"
                                ng-disabled="addToCartLoading||removeToCartLoading"
                                ng-click="j1nRemoveFromCart('<%=compobj.id%>', item, $index)">
                                <span ng-if="!removeToCartLoading">
                                  REMOVER
                                </span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-12 " ng-if="cartObj.total>0">
                <div class="cart-total-container">
                    <h3 class="cart-total-count">
                        <span class="total-label">Total: </span>
                        <span class="total-amount">{{cartObj.total|currency:''}}</span>
                    </h3>
                    <p class="service-acceptance">
                        Ao comprar no KUALEH concorda
                        com as nossas
                        <a href="condicoes-servico.html">condi&ccedil;&otilde;es de servi&ccedil;o</a>
                        e a nossa
                        <a href="politica-privacidade.html">pol&iacute;tica de privacidade.</a>
                    </p>
                </div>
            </div>
            <div class="col-6 rs-padding" >
                <div class="btn-checkout-v2-container">
                    <button class="btn btn-warning btn-close-cart-v2 btn-block"
                        ng-click="CloseCartV2('<%=compobj.id%>')">
                        FECHAR
                    </button>
                </div>
            </div>
            <div class="col-6 rs-padding" >
                <div class="btn-checkout-v2-container">
                    <a class="btn etx-bg-warning btn-checkout-v2 btn-block"
                        href="account.html">
                        CHECKOUT
                    </a>
                </div>
            </div>
        </div>

    </div>

</nav>

