<!--
<h3>CLOUDFRONT DISTRIBUTION=<%=compobj.fields[$PCF.cloudfront]%></h3>
<h3>OPTIMIZER=<%=compobj.fields[$PCF.enable_compr]%></h3>
<h3>OPTIMIZER_SETTINGS=<%=compobj.fields[$PCF.compr_settings]%></h3>
-->

<div class="carousel slide" data-ride="carousel" id="banner-<%=compobj.id%>"
    ng-controller="x99BannerCar">
    <ol class="carousel-indicators">
        <li data-target="#carrousel-<%=compobj.id%>" 
            class="active "
            data-slide-to="{{compobj.indexC}}" >
        </li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active banner-item cursor-pointer" 
            ng-click="openSlide($event, '<%= compobj.fields[$PCF.readmore_link]%>', '')"
            <%= 
                compobj.OPTM && compobj.OPTM.gen ?
                `style="margin-top:15px;background-image:url('${compobj.OPTM.gen}')"` 
                :
                `style="margin-top:15px;background-image:url('${compobj.fields[$PCF.image]}')"`
            %>
             >
            <div class=" slide-descr">
                <h1 class="slice-descr-text">
                  <%-compobj.fields[$PCF.descr_df]%>
                </h1>
            </div>
        </div>
    </div>

    <!--
    <a class="carousel-control-prev" 
        href="#carrousel-<%=compobj.id%>" 
        role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" 
        href="#carrousel-<%=compobj.id%>" 
        role="button" 
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    -->
</div>
