<section class="showcase" ng-controller="x99BannerCar">
  <div class="container-fluid"
    ng-init="loadCardImage('<%=compobj.id%>', '<%=compobj.fields[$PCF.image]||'/img/bgray.png'%>' )">
    <div class="row no-gutters bg-light">

      <div ng-class="{'col-lg-6 d-none d-lg-block text-white showcase-img splash-image-container':true, 
                        'order-lg-1': '<%-compobj.prod_conf.orientation%>'=='RIGHT',
                        'order-lg-2': '<%-compobj.prod_conf.orientation%>'=='LEFT',
                        }"
        <%= 
            compobj.OPTM && compobj.OPTM.gen ?
            `style="margin-top:15px;background-image:url('${compobj.OPTM.gen}')"` 
            :
            `style="margin-top:15px;background-image:url('${compobj.fields[$PCF.image]}')"`
        %>
        >

      </div>

      <div ng-class="{'col-lg-6 d-none d-lg-block my-auto showcase-text splash-text-container':true, 
                      'order-lg-1': '<%-compobj.prod_conf.orientation%>'=='LEFT',
                      'order-lg-2': '<%-compobj.prod_conf.orientation%>'=='RIGHT',
                      }">
        <h2>
            <%= TR(compobj.fields[$PCF.title_df]) %>
        </h2>
        <p class="xlead lead mb-0">
            <%= TR(compobj.fields[$PCF.descr_df]) %>
        </p>

        <ul class="list-inline mt-40 social-link-list">
            <li class="list-inline-item"
                ng-if="'<%-compobj.fields[$PCF.fb_link]%>'"
              >
                <a href="<%-compobj.fields[$PCF.fb_link]%>" target="__blank" 
                  class="etx-app-link-social social-facebook">
                    <img src="<%=WS_HOST%>/img/social-icons/001-facebook-logo.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>

            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.insta_link]%>'">
                <a href="<%-compobj.fields[$PCF.insta_link]%>" target="__blank" 
                  class="etx-app-link-social social-instagram">
                    <img src="<%=WS_HOST%>/img/social-icons/004-instagram.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>
        
        
            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.youtube_link]%>'">
                <a href="<%-compobj.fields[$PCF.youtube_link]%>" target="__blank" 
                  class="etx-app-link-social social-youtube">
                    <img src="<%=WS_HOST%>/img/social-icons/002-youtube-logotype.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>

            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.tw_link]%>'">
                <a href="<%-compobj.fields[$PCF.tw_link]%>" 
                    target="__blank" class="etx-app-link-social social-tiktok">
                    <img src="<%=WS_HOST%>/img/social-icons/003-tik-tok.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>
        </ul>

        <a class="btn etx-bg-primary etx-text-white btn-splash-go"
            ng-if="'<%-compobj.fields[$PCF.readmore_link]%>'"
            href="<%-compobj.fields[$PCF.readmore_link]%>">
            <%= compobj.fields[$PCF.checkout_page]||'Saber Mais' %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="showcase " 
  ng-controller="x99BannerCar">
  <div class="container-fluid"
    ng-init="loadCardImage('<%=compobj.id%>', '<%=compobj.fields[$PCF.image]||'/img/bgray.png'%>' )">
    <div class="row no-gutters bg-light d-lg-none d-md-block d-sm-block d-xs-block">

      <div class="col-12 text-white showcase-img splash-image-container"
        <%= 
            compobj.OPTM && compobj.OPTM.gen ?
            `style="margin-top:15px;background-image:url('${compobj.OPTM.gen}')"` 
            :
            `style="margin-top:15px;background-image:url('${compobj.fields[$PCF.image]}')"`
        %>
        >
      </div>

      <div class="col-12 my-auto showcase-text splash-text-container">
        <h2>
            <%= TR(compobj.fields[$PCF.title_df]) %>
        </h2>
        <p class="xlead lead mb-0">
            <%= TR(compobj.fields[$PCF.descr_df]) %>
        </p>

        <ul class="list-inline mt-40 social-link-list">
            <li class="list-inline-item"
                ng-if="'<%-compobj.fields[$PCF.fb_link]%>'"
              >
                <a href="<%-compobj.fields[$PCF.fb_link]%>" target="__blank" 
                  class="etx-app-link-social social-facebook">
                    <img src="<%=WS_HOST%>/img/social-icons/001-facebook-logo.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>

            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.insta_link]%>'">
                <a href="<%-compobj.fields[$PCF.insta_link]%>" target="__blank" 
                  class="etx-app-link-social social-instagram">
                    <img src="<%=WS_HOST%>/img/social-icons/004-instagram.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>
        
        
            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.youtube_link]%>'">
                <a href="<%-compobj.fields[$PCF.youtube_link]%>" target="__blank" 
                  class="etx-app-link-social social-youtube">
                    <img src="<%=WS_HOST%>/img/social-icons/002-youtube-logotype.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>

            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.tw_link]%>'">
                <a href="<%-compobj.fields[$PCF.tw_link]%>" 
                    target="__blank" class="etx-app-link-social social-tiktok">
                    <img src="<%=WS_HOST%>/img/social-icons/003-tik-tok.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>
        </ul>

        <a class="btn etx-bg-primary etx-text-white btn-splash-go"
            ng-if="'<%-compobj.fields[$PCF.readmore_link]%>'"
            href="<%-compobj.fields[$PCF.readmore_link]%>">
            <%= compobj.fields[$PCF.checkout_page]||'Saber Mais' %>
        </a>
      </div>
    </div>
  </div>
</section>
