<div class="row rs-margin"
    style="">

    <!-- PAYMENT_CONF: <%= compobj.fields[$PCF.payment_conf] %> -->
    <!-- PAYMENT_CONF: <%= compobj.payment_conf_obj %> -->

    <div class="col-md-12 rs-padding" style="">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist"
            style="display:none">
            <li role="presentation" class="nav-item">
                <a href="#cart-loading" aria-controls="cart-loading" 
                    role="tab" data-toggle="tab"
                    class="nav-link active ">
                    Loading cart
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#cart-home-details" aria-controls="cart-home-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Carrinho
                </a>
            </li>

            <li role="presentation" >
                <a href="#user-details" 
                    aria-controls="user-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    User Details
                </a>
            </li>

            <li role="presentation" >
                <a href="#reserve-success" 
                    aria-controls="reserve-success" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    Reserve success
                </a>
            </li>
            <li role="presentation" >
                <a href="#cart-go-payment" 
                    aria-controls="cart-go-payment" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Reserve payment
                </a>
            </li>
        </ul>

        <div class="row rs-margin" >
            <div class="col-12" style="display:none">
                <div class="row rs-margin">
                    <div class="col-3 text-center">
                        <h3 class="text-secondary">LOGIN</h3>
                        <span class="fa fa-check-circle"></span>
                    </div>
                    <div class="col-3 text-center">
                        <h3 class="text-secondary">DETALHES</h3>
                        <span class="fa fa-check-circle"></span>
                    </div>
                    <div class="col-3 text-center">
                        <h3 class="text-secondary">ENTREGA</h3>
                        <span class="fa fa-check-circle"></span>
                    </div>
                    <div class="col-3 text-center">
                        <h3 class="text-secondary">PAGAMENTO</h3>
                        <span class="fa fa-check-circle"></span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-12 col-lg-12 rs-padding" style="">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade "
                        id="cart-go-payment">
                            <!-- <h3>MAKE CART PAYMENT</h3> -->
                        <div class="card-body text-center" style="padding-top:15px;"
                            ng-if="loading_billing">
                            <span class="fa fa-refresh fa-spin text-warning" 
                                style="font-size:55px;margin-top:15px;"></span>

                            <h4 class="card-title" style="font-weight:bold;">
                                Processando...
                            </h4>
                        </div>

                        <div class="card-body text-center" style="padding-top:15px;"
                            ng-if="billing_success">
                            <span class="fa fa-check text-success" 
                                style="font-size:55px;margin-top:15px;"></span>

                            <h4 class="card-title" style="font-weight:bold;">
                                Pronto para pagamento
                            </h4>
                        </div>

                        <div class="alert alert-danger" 
                            id="error-area-a3e98b847c0648e8"
                            style="padding-top:15px;border-radius:0px;"
                            ng-if="billing_error">
                            <h3 style="color:#333;">Nao foi possivel concluir a opera&ccedil;&atilde;o.</h3>
                            <p ng-repeat="e in billing_error">{{e}}</p>
                        </div>

                        <div class="row rs-margin" ng-if="currentBillingtx.id"  >
                            <div class="col-12 rs-padding"
                                ng-if="frame_is_loading">
                                <div class="alert alert-success text-center" 
                                    style="margin-bottom:0px;">
                                    <h4 style="margin:0px;">
                                        <span class="fa-spin fa fa-refresh"></span>
                                        <span style="color:#333">
                                            AGUARDE
                                        </span>
                                    </h4>

                                    <p style="margin:0px">
                                        Se n&atilde;o abrir uma janela abaixo,
                                        <br/>
                                        <a href="{{currentBillingtx.embeed_payment_link}}">clique aqui para efetuar o pagamento</a>
                                    </p>
                                </div>
                            </div>

                            <!-- src="http://127.0.0.1:9000/billings/764d99d80c49468d/for-client-embeed" -->
                            <!-- ng-src="currentBillingtx.embeed_payment_link" -->

                            <div class="col-12 rs-padding" id="iframe_payment_index" >
                                <!--
                                <iframe 
                                    id="iframe_payment"
                                    style="border:0px;"
                                    height="800px" width="100%"></iframe>
                                -->
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade show active"
                        ng-init="loadCart()"
                        id="cart-loading">

                        <div class="row">
                            <div class="col-12">
                              <h3 class="text-center" style="margin-top:25px;">
                                  <span class="fa fa-refresh fa-spin etx-text-warning"
                                      style="font-size:25px;">
                                  </span>
                                  <br/>
                                  <span class="etx-text-secondary"
                                      style="font-size:17px;">
                                      AGUARDE
                                  </span>
                              </h3>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade " 
                        id="cart-home-details"
                        ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">

                        <center ng-if="!has_items">
                            <h3 style="padding-top:20px;margin:0px;"
                                class="text-center">
                                <span class="fa fa-shopping-cart"></span>
                                <span ng-bind="'Oops, carrinho vazio.'"></span>
                            </h3>
                            <p class="text-muted text-center">
                                <span ng-bind="'O seu carrinho esta vazio.'"></span>
                            </p>
                            <a class="btn etx-bg-danger btn-round text-center text-bold"
                                href="index.html">
                                <span class="fa fa-home"></span>
                                <span ng-bind="'Leve me ao inicio'"></span>
                            </a>
                        </center>

                        <div class="row" ng-show="has_items">
                            <div class="col-12 seller-profile-header">
                                <h3 style=";margin:0px;" class="seller-title">
                                    <span class="fa fa-user"></span>
                                    Perfil de Vendedor
                                </h3>

                                <p style="margin:0px">
                                    {{userAccount.name}}
                                </p>
                                <p style="margin:0px">
                                    {{userAccount.email}}
                                </p>
                                <hr/>
                            </div>

                            <div class="col-8">
                                <div class="row rs-margin">
                                    <div class="col-lg-4 col-sm-4 col-sm-6 col-xs-6 cursor-pointer"
                                        ng-repeat="item in cartObj.item_list">
                                        <div class="card cart-item-v3" style="background:transparent;border:0px;">
                                            <div style="height:180px;background:url('{{item.image}}');background-size:contain;border-radius:10px;background-position:center center;background-repeat: no-repeat;"
                                                class="prod-bg-image">
                                            </div>
                                            <div class="card-body">
                                                <p class="shopping-item-title text-bold" 
                                                    style="margin:0px;height:20px;max-height:20px;overflow:hidden;margin-top:5px;margin-left:0px;">
                                                    <span ng-bind="item.label + '['+item.prod_var+']'"></span>
                                                </p>

                                                <button class="btn etx-bg-danger btn-sm text-bold btn-round shopping-item-remove pull-right"
                                                    style="margin-top:0px;margin-right:0px;"
                                                    ng-click="removeFromCartList(item, $index)">
                                                    <span ng-if="!rm_state[item.id]">
                                                        <span class="fa fa-trash"></span>
                                                    </span>
                                                    <span ng-if="rm_state[item.id]=='DONE_ERROR'">
                                                        TRY AGAIN
                                                    </span>
                                                    <span ng-if="rm_state[item.id]=='LOADING'">
                                                        HOLD ON
                                                    </span>
                                                </button>

                                                <p style="margin:0px;padding-left:0px;"
                                                    class="shopping-item-price">
                                                    <span class="price-val">
                                                        {{item.price | currency:''}}
                                                        {{item.currency }}
                                                    </span>
                                                    <span class="shopping-item-amount">
                                                        X
                                                        {{item.amount}}
                                                      {{item.unit}}
                                                    </span>
                                                </p>
                                                <p style="margin:0px;padding-left:0px;"
                                                    class="shopping-item-ref">
                                                    <small>
                                                        Ref: {{item.id}}
                                                    </small>
                                                </p>


                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <table class="table">
                                    <tr>
                                        <td class="text-left subtotal-checkout">
                                            Subtotal
                                        </td>
                                        <td class="text-right subtotal-amount-checkout">
                                            <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                class="text-bold">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            <h3 class="total-checkout">
                                                Total
                                            </h3>
                                        </td>
                                        <td class="text-right">
                                            <h3 class="total-amount-checkout">
                                                <span class="etx-text-secondary text-bold"
                                                    ng-bind="$filter('currency')(cartObj.total, '')">
                                                </span>
                                            </h3>
                                            <p class="total-amount-checkout" style="font-size:small;">
                                                <span class=" text-bold"
                                                    ng-bind="$filter('currency')(cartObj.total_in_eur, '')">
                                                </span>
                                                EUR
                                            </p>
                                        </td>
                                    </tr>
                                </table>

                                <p class="service-acceptance">
                                    Ver
                                    <a href="condicoes-servico.html">
                                        as condições de serviço 
                                    </a>
                                    ou a nossa
                                    <a href="politica-privacidade.html">
                                        política de privacidade.
                                    </a>
                                </p>

                                <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                    <button class="btn text-bold bg-white btn-clear-cleart btn-round text-danger btn "
                                        ng-disabled="loading_cart"
                                        ng-if="has_items"
                                        ng-click="clearCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                        type="button">
                                        Limpar 
                                        <span class="fa fa-shopping-cart"></span>
                                    </button>

                                    <button class="btn text-bold etx-bg-primary btn-go-cart-details btn-round text-white btn"
                                        ng-disabled="loading_cart"
                                        ng-click="toUserDetails()"
                                        ng-if="has_items"
                                        style="margin-left: 15px;display:inline!important;"
                                        type="button">
                                        Continuar
                                        <span class="fa fa-arrow-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="user-details">
                        <div class="row rs-margin">
                            <div class="col-12" style="margin-top:10px;"
                                id="cart-error-index-<%=compobj.id%>">
                                <div class="form-group"
                                    ng-if="loading_cart_request_error">
                                    <div class="alert alert-danger text-center"
                                        style="border-radius:0px;">
                                        <h3 style="margin:0px;color:#333">
                                            Não foi possivel concluir a operação.
                                        </h3>
                                        <p ng-repeat="e in loading_cart_request_error"
                                            style="margin:0px">
                                            {{e}}
                                        </p>
                                        <!--
                                        <hr/>
                                        <p style="margin:0px;margin-top:4px"
                                            class="text-bold">
                                            Por favor, entre em contacto connosco:<br/>
                                            <a href="mailto:info@enterstarts.com">
                                                info@enterstarts.com
                                            </a><br/>
                                            <a href="tel:+2385850606">
                                                (+238)5850606
                                            </a>,
                                            <a href="tel:+2385995330">
                                                (+238)5995330
                                            </a>
                                        </p>
                                        -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 rs-padding seller-profile-header ">
                                <h3 style="margin:0px;"  class="seller-title">
                                    <span class="fa fa-user"></span>
                                    Perfil de Vendedor
                                </h3>

                                <p style="margin:0px">
                                    {{userAccount.name}}
                                </p>
                                <p style="margin:0px">
                                    {{userAccount.email}}
                                </p>
                                <hr/>
                            </div>

                            <div class="col-12"
                                ng-init="loadUserCart()">

                                <form name="reserveCustForm" 
                                    id="reserveCustForm"
                                    ng-submit="MakePurchase(reserveCustForm, 
                                    '<%=compobj.id%>', '<%=compobj.fields[$PCF.user_id]%>', '<%=$INV.price%>')">
    

                                    <div class="row rs-margin">
                                        <div class="col-lg-6 col-sm-12 col-xs-12">
                                            <div>
                                                <div class="form-group">
                                                    <label class="cart-label">Nome</label>
                                                    <input type="text" ng-model="reqObj.name" 
                                                        class="form-control cart-input" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="cart-label">Sobrenome</label>
                                                    <input type="text" ng-model="reqObj.surname" 
                                                        class="form-control cart-input" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="cart-label">Email </label>
                                                    <input type="email" ng-model="reqObj.email"
                                                        class="form-control cart-input" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="cart-label">Numero de Telefone </label>
                                                    <input type="text" ng-model="reqObj.phone" 
                                                        class="form-control cart-input cart-phone" />
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label class="cart-label">Concelho</label>
                                                <!--
                                                <select class="form-control"
                                                    ng-change="locUpdated()"
                                                    required
                                                    ng-model="XS.delivery_loc">
                                                    <option ng-value="o"
                                                        ng-repeat="o in loc_list">
                                                        {{o.label}}
                                                    </option>
                                                </select>
                                                -->
                                                <select ng-model="reqObj.region"
                                                    class="form-control ">
                                                    <option value="" selected="selected">CONCELHO *</option>
                                                    <option value="RIBEIRA GRANDE">Ribeira Grande</option>
                                                    <option value="PAUL">Paúl</option>
                                                    <option value="PORTO NOVO">Porto Novo</option>

                                                    <option value="SÃO VICENTE">São Vicente</option>
                                                    <option value="RIBEIRA BRAVA">Ribeira Brava</option>
                                                    <option value="TARRAFAL DE SÃO NICOLAU">Tarrafal de São Nicolau</option>

                                                    <option value="SAL">Sal</option>
                                                    <option value="BOAVISTA">Boavista</option>
                                                    <option value="MAIO">Maio</option>

                                                    <option value="PRAIA">Praia</option>
                                                    <option value="SÃO DOMINGOS">São Domingos</option>
                                                    <option value="SANTA CATARINA DE SANTIAGO">Santa Catarina</option>
                                                    <option value="SÃO SALVADOR DO MUNDO">São Salvador do Mundo</option>
                                                    <option value="SANTA CRUZ">Santa Cruz</option>
                                                    <option value="SÃO LOURENÇO DOS ORGÃOS">São Lourenço dos Órgãos</option>
                                                    <option value="RIBEIRA GRANDE DE SANTIAGO">Ribeira Grande de Santiago</option>
                                                    <option value="SÃO MIGUEL">São Miguel</option>
                                                    <option value="TARRAFAL">Tarrafal de Santiago</option>

                                                    <option value="SÃO FILIPE">São Filipe</option>
                                                    <option value="SANTA CATARINA DO FOGO">Santa Catarina do Fogo</option>
                                                    <option value="MOSTEIROS">Mosteiros</option>
                                                    <option value="BRAVA">Brava</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="cart-label">C&oacute;digo postal</label>
                                                <input type="text" name="postal_code"
                                                    ng-model="reqObj.postal_code" 
                                                    class="form-control"
                                                />
                                            </div>

                                            <div class="form-group">
                                                <label>Endereço Completo</label>
                                                <textarea class="form-control cart-textarea" 
                                                    ng-model="reqObj.address"
                                                    placeholder="Endereço"
                                                    rows="3"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label class="cart-label">Observações</label>
                                                <textarea class="form-control cart-textarea" 
                                                    ng-model="reqObj.msg"
                                                    rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group etx-delivery-method">
                                                <ul class="list-group">
                                                    <li ng-class="{'list-group-item delivery-item cursor-pointer':true,
                                                                    'opt-active': delivery_method=='STORE_SELL'}"
                                                        ng-click="setDeliveryOption('STORE_SELL')">
                                                        <label style="font-size:24px;width:100%;"
                                                            class="cursor-pointer">
                                                            Venda na Loja
                                                        </label>
                                                        <p class="text-secondary">
                                                            Venda efectuada na loja!
                                                        </p>
                                                        <div class="form-group"
                                                            ng-init="reqObj.delivery_post='DOPE_MATES'">
                                                        </div>
                                                    </li>

                                                    <li class="list-group-item delivery-item cursor-pointer">
                                                        <label class="cart-label">
                                                            <span class="fa fa-credit-card"></span>
                                                            Modo de Pagamento
                                                        </label>

                                                        <select class="form-control"
                                                            ng-model="reqObj.payment_method"
                                                            required>
                                                            <option value="VINTI4">Cart&atilde;o Vinti4</option>
                                                            <option value="CASH">Venda em dinheiro</option>
                                                        </select>
                                                    </li>
                                                </ul>


                                                <table class="table">
                                                    <tr>
                                                        <td class="text-left subtotal-checkout" >
                                                            Subtotal
                                                        </td>
                                                        <td class="text-right subtotal-checkout-amount">
                                                            <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                                class="text-bold">
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            <h3 class="total-checkout">
                                                                Total
                                                            </h3>
                                                        </td>
                                                        <td class="text-right">
                                                            <h3 class="total-amount-checkout">
                                                                <span class="etx-text-secondary text-bold"
                                                                    ng-bind="$filter('currency')(cartObj.total, '')">
                                                                </span>
                                                                CVE
                                                            </h3>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <div class="text-right">
                                                    <p class="service-acceptance">
                                                        Ver
                                                        <a href="condicoes-servico.html">
                                                            as condições de serviço 
                                                        </a>
                                                        ou a nossa
                                                        <a href="politica-privacidade.html">
                                                            política de privacidade.
                                                        </a>
                                                    </p>

                                                    <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                                        <button class="btn etx-bg-secondary text-bold btn-round etx-text-white btn-cart-back "
                                                            ng-disabled="loading_cart_request"
                                                            ng-click="backToCartList('<%=compobj.id%>')"
                                                            type="button">
                                                            <span class="fa fa-arrow-left"></span>
                                                            Voltar
                                                        </button>

                                                        <button class="btn etx-bg-primary etx-text-white btn-round text-bold shopping-finish"
                                                            ng-disabled="loading_cart_request||calculating_shipping||(delivery_method=='CCV_DELIVERY' && !shipping_total.concelho)"
                                                            style="margin-left: 15px;display:inline!important;"
                                                            type="submit">
                                                            <span ng-if="loading_cart_request"
                                                                class="fa fa-refresh fa-spin"></span>
                                                            <span ng-if="!loading_cart_request">
                                                                Registar Venda
                                                            </span>
                                                            <span ng-if="loading_cart_request">
                                                                Aguarde
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="preparing-cart">
                        <div class="row">
                            <div class="col-12 text-center" style="min-height:250px;">
                                <div ng-if="loading_cart"
                                    style="padding-top:80px;">
                                    <h3>
                                      <span class="fa fa-refresh text-warning fa-spin"
                                        style="font-size:27px;"></span>
                                      <br/>
                                      Preparando o carinho
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="cart-loading-error">
                        <div class="row">
                            <div class="col-12 text-center"
                                ng-if="loadingCartErrors"
                                style="padding:20px">
                                <div class="alert alert-danger"
                                    style="border-radius:0px;"
                                    ng-if="creatingCartErrors">
                                    <h3 class="etx-text-danger">
                                        Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                    </h3>
                                    <p style="margin:0px;color:#333"
                                        class="text-bold"
                                        ng-bind="e.toUpperCase()"
                                        ng-repeat="e in loadingCartErrors">
                                    </p>
                                </div>                                                    
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        style="padding-top:20px;"
                        id="reserve-success">

                        <div class="text-center"
                            style="padding-top:20px;">
                            <span class="fa fa-check text-success"
                                style="font-size:76px;"></span>
                            <h2 style="color:#333;margin:0px;">
                                Muito obrigado
                            </h2>

                            <h3 style="color:#555;margin:0px;font-size:20px;padding-top:0px !important;">
                                A sua compra foi efectuada com sucesso.
                            </h3>

                            <h3 style="color:#666;margin:0px;">
                                <small>
                                    Um email foi enviado para 
                                    <strong>{{user_email}}.</strong>
                                    <br/>
                                    Verifique tamb&eacute;m que o email
                                    n&atilde;o foi para o <strong>spam.</strong>
                                </small>
                            </h3>

                            <p class="text-muted"
                                style="color:#333;"
                                ng-if="cartReady">
                                <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch" class="text-bold"
                                        target="__blank">
                                    Acompanhe este carrinho
                                    neste link.
                                </a>
                            </p>
                        </div>

                        <div class="row rs-margin mt-30 mb-30">
                            <div class="col-12 text-center"
                                ng-if="review_mode=='init'">
                                  <h2 class="avaliation-begin-title">
                                    Como foi a sua experi&ecirc;ncia?
                                  </h2>
                                  <span ng-click="setRating(1)"
                                      ng-mousehover="setRating(1)" 
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating==0,
                                                   'text-primary': reviewObj.rating>=1}"></span>
                                  <span ng-click="setRating(2)"
                                          ng-hover="setRating(2)"
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=1,
                                                   'text-primary': reviewObj.rating>=2}"></span>
                                  <span ng-click="setRating(3)" 
                                      ng-hover="setRating(4)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=2,
                                                   'text-primary': reviewObj.rating>=3}"></span>
                                  <span ng-click="setRating(4)"
                                        ng-hover="setRating(4)"
                                        ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=3,
                                                   'text-primary': reviewObj.rating>=4}"></span>
                                  <span ng-click="setRating(5)"
                                      ng-hover="setRating(5)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=4,
                                                   'text-primary': reviewObj.rating>=5}"></span>
                                  <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                      class="rating-text text-secondary">
                                  </h4>

                                  <button class="btn btn-success text-bold btn-round"
                                        ng-click="beginReview()">
                                        <span class="fa fa-check"></span>
                                        Continuar
                                  </button>
                            </div>

                            <div class="col-12"
                                ng-if="review_mode=='begin'">
                                <form name="reviewForm" 
                                    ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>')">

                                    <div class="alert alert-warning text-center" 
                                        ng-if="loading_review_req">
                                        <i class="fa fa-refresh fa-spin"></i>
                                        Processando
                                    </div>

                                    <div class="alert alert-danger text-center" ng-if="review_error">
                                        <i class="fa fa-times"></i>
                                        <h4>A sua solicitação não pode ser processada.</h4>
                                        Verifique todos os campos.
                                    </div>

                                    <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                        <i class="fa fa-check" style="font-size:50px;" ></i>
                                        <br/>
                                        <h3>
                                            Muito obrigado pela sua avaliação.
                                        </h3>
                                    </div>

                                    <div ng-if="!is_done">
                                        <h3 class="text-center"
                                            class="avaliation-begin">
                                            Nos de o seu feedback
                                        </h3>

                                        <div class="xxmodal-header xb-grad">
                                          <div class="pull-right">
                                            <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                class="rating-text text-right"
                                                style="font-size: 16px;color:#333;">
                                            </h4>

                                            <span ng-click="setRating(1)"
                                                ng-mousehover="setRating(1)" 
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating==0,
                                                             'text-primary': reviewObj.rating>=1}"></span>
                                            <span ng-click="setRating(2)"
                                                    ng-hover="setRating(2)"
                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=1,
                                                             'text-primary': reviewObj.rating>=2}"></span>
                                            <span ng-click="setRating(3)" 
                                                ng-hover="setRating(4)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=2,
                                                             'text-primary': reviewObj.rating>=3}"></span>
                                            <span ng-click="setRating(4)"
                                                  ng-hover="setRating(4)"
                                                  ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=3,
                                                             'text-primary': reviewObj.rating>=4}"></span>
                                            <span ng-click="setRating(5)"
                                                ng-hover="setRating(5)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=4,
                                                             'text-primary': reviewObj.rating>=5}"></span>
                                          </div>

                                          <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                                            Commentando como
                                          </p>
                                          <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                                              <span class="fa fa-user text-success"></span>
                                              <strong>{{reviewObj.user_name}}</strong>
                                              <span class="text-muted" style="font-size:15px;">
                                                {{reviewObj.user_email}}
                                              </span>
                                          </h4>
                                        </div>
                                        <div class="control-group form-group"
                                          style="">
                                            <div class="controls">
                                                <textarea rows="4" cols="100" class="form-control" 
                                                    required maxlength="200" 
                                                    style="resize:none;border-radius:0px;"
                                                    placeholder="Aa"
                                                    ng-model="reviewObj.user_msg"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" 
                                            class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                            ng-disabled="loading_review_req">
                                            <span class="fa fa-send"></span>
                                            Enviar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


          </div>
    </div>
</div>
