<div class=" account-ecommerce-obj-container"
    ng-controller="x99EcommerceSeller">

    <div class="row rs-margin"
        style="min-height:500px;display:block;padding-top:15px;margin-bottom:10px;">

        <div class="col-12">
            <ul class="nav nav-tabs account-details " role="tablist"
                style="display:none;"
                id="account-details-list-<%compobj.id%>">
                <li role="presentation" 
                    class="nav-item ">
                    <a href="#acc-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active ">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#acc-details-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Acc details
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#acc-not-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Not auth
                    </a>
                </li>
            </ul>

            <div class="tab-content" 
                ng-init="loadAutorizedUser('<%-compobj.id%>', '<%= compobj.confObj.signin_url %>', '<%= compobj.confObj.signup_url %>')"
                id="account-details-container-<%-compobj.id%>">

                <div class="tab-pane fade tab-req-loading show active "
                    id="acc-loading-<%-compobj.id%>"
                    role="tabpanel">
                </div>

                <div class="tab-pane fade tab-req-loading "
                    id="acc-details-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin">
                        <div class="col-12 rs-padding account-menu-dropdown-container" >
                            <ul class="nav nav-tabs account-menu " role="tablist"
                                id="account-menu-<%=compobj.id%>"
                                style="display:none;">
                                <li role="presentation" 
                                    class="nav-item "
                                    style="display:none;">
                                    <a href="#entity-req-loading-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold active ">
                                        Loading
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item"
                                    style="">
                                    <a href="#entity-home-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        style="margin-right: 15px;border-radius:0px;"
                                        class="nav-link text-bold  ">
                                        <span class="fa fa-shopping-cart"></span>
                                        FINALIZAR COMPRA
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item">
                                    <a href="#entity-shopping-list-<%-compobj.id%>" 
                                        style="border-radius:0px;"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold ">
                                        MINHAS COMPRAS
                                        <span class="badge bg-danger text-white"
                                            ng-bind="cart_data.totalCount"></span>
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item">
                                    <a href="#entity-payment-list-<%-compobj.id%>" 
                                        style="border-radius:0px;"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold ">
                                        <span class="fa fa-card"></span>
                                        MINHAS FATURAS/RECIBOS
                                        <span class="badge bg-danger text-white"
                                            ng-bind="billing_list.totalCount||0"></span>
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item "
                                    style="display:none">
                                    <a href="#my-account-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold">
                                        MINHA CONTA
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item "
                                    style="display:none">
                                    <a href="#repurchase-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold">
                                        MINHA CONTA
                                    </a>
                                </li>
                                <li role="presentation" >
                                    <a href="#entity-permissiondenied-<%=compobj.id%>" 
                                        aria-controls="entity-permissiondenied-<%=compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link ">
                                        Permission denied
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 rs-padding">
            <textarea style="display:none;"
                id="<%=compobj.id%>-services"><%=
                promRes && promRes.cart_conf ?
                JSON.stringify(promRes.cart_conf.services) : '' %></textarea>

            <div class="tab-content" 
                ng-init="initServices('#<%= compobj.id%>-services')"
                id="myAccount-<%-compobj.id%>">

                <div role="tabpanel" class="tab-pane fade "
                    id="entity-permissiondenied-<%=compobj.id%>">
                    <h3>Sem Acesso</h3>
                </div>

                <div class="tab-pane fade tab-req-loading show active "
                    id="entity-req-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="padding-top:155px;font-size:45px;">
                        <span class="fa fa-refresh fa-spin text-warning"></span>
                    </h3>
                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        AGUARDE
                    </h3>
                </div>


                <!-- BILLINGS & PAYMENTS -->
                <div class="tab-pane fade tab-shopping-list "
                    id="entity-payment-list-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;background-color:#f4f4f4;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <center ng-if="billing_list.totalCount==0">
                        <h3 style="padding-top:20px;margin:0px;color:#666;"
                            class="text-center">
                            <span class="fa fa-credit-cart"></span>
                            <span ng-bind="'Os seus pagamentos vão aparecer aqui.'"></span>
                        </h3>
                    </center>

                    <center>
                        <button class="btn bg-warning btn-lg text-bold btn-round btn-bill-refresh btn-warning-grad text-center"
                            style="margin-bottom:10px;"
                            ng-disabled="loading_billings"
                            ng-click="loadBillings('<%=compobj.id%>')"
                            type="button">
                            <span ng-class="{'fa fa-refresh':true,
                                             'fa-spin': loading_billings}"></span>
                            ACTUALIZAR
                        </button>
                    </center>

                    <div class="list-group-item"
                        ng-repeat="bill in billing_list.list"
                        style="border-top:5px solid #333;margin-bottom:15px;">

                        <div class="list-group">
                            <div class="cursor-pointer">

                                <h4 class="text-danger" style="font-size:15px;">
                                    <span class="etx-text-secondary">
                                        <i class="fa fa-clock"></i>
                                        ({{moment(bill.createdAt).fromNow()}})
                                    </span>
                                    <span class="text-underlined">
                                        {{bill.createdAt}}
                                    </span>
                                </h4>

                                <h3 class="pull-left" style="margin:0px;color:#333;"
                                    ng-if="bill.fields['<%=$BLF.state%>']!='PAYED'">
                                    FATURA <small>{{bill.id.slice(0,6)}}</small>
                                </h3>
                                <h3 class="pull-left etx-text-success" style="margin:5px"
                                    ng-if="bill.fields['<%=$BLF.state%>']=='PAYED'">
                                    RECIBO <small>{{bill.id.slice(0,6)}}</small>
                                </h3>

                                <div class="text-right" style="">
                                    <img src="<%=WS_HOST%>/img/payment-img/vinti4.png" class="text-center" style="width:40px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/visacard.png" class="text-center" style="width:52px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png" class="text-center" style="width:61px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/mastercard.png" class="text-center" style="width:69px;">
                                </div>

                                <div ng-if="bill.fields['<%=$BLF.context%>']=='CART_BILLING'"
                                    style="clear:both;"
                                    class="well">
                                    <h3 class="etx-text-secondary" 
                                        style="margin:5px;font-size:18px;">
                                        <!-- {{bill.fields['<%=$BLF.description%>'].toUpperCase()}} -->
                                        <strong>Referente a:</strong><br/>
                                    </h3>
                                    <a href="{{bill.fields['<%=$BLF.epay_host%>']}}/ecommerce-cms/carts/{{bill.fields['<%=$BLF.context_id%>']}}/watch">
                                        <strong>
                                            <span class="fa fa-shopping-cart"></span>
                                            CARRINHO {{bill.fields['<%=$BLF.context_id%>']}}
                                        </strong>
                                    </a>
                                </div>

                                <h2 class="pull-right" 
                                    style="margin:0px;">
                                    <!-- <span style="font-size:18px;" class="text-muted">Total </span> -->
                                    {{bill.fields['<%=$BLF.total%>']|currency:''}} 
                                    <strong class="text-danger">
                                        {{bill.fields['<%=$BLF.currency%>'].toUpperCase()}} 
                                    </strong>
                                </h2>

                                <a  href="{{bill.viewLink}}"
                                    target="__blank"
                                    ng-if="bill.fields['<%=$BLF.state%>']=='PAYED'"
                                    class="btn btn-primary text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    VER RECIBO
                                </a>
                                <a  href="{{bill.viewLink}}"
                                    target="__blank"
                                    ng-if="bill.fields['<%=$BLF.state%>']=='PUBLISHED'"
                                    class="btn btn-success text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    PAGAR AGORA
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- CHECKOUT -->
                <div class="tab-pane fade tab-shopping-list "
                    id="entity-shopping-list-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;background-color:#f4f4f4;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <center ng-if="!cart_data.list|| cart_data.list.length==0">
                        <h3 style="padding-top:20px;margin:0px;"
                            class="text-center">
                            <span class="fa fa-shopping-cart"></span>
                            <span ng-bind="'Todas as suas compras ficam aqui.'"></span>
                        </h3>

                        <p class="text-muted text-center">
                            <span ng-bind="'Visite a nossa loja para efectuar a sua primeira compra.'"></span>
                        </p>
                        <a class="btn etx-bg-danger btn-round text-center text-bold"
                            href="index.html">
                            <span class="fa fa-home"></span>
                            <span ng-bind="'Leve me ao inicio'"></span>
                        </a>
                    </center>

                    <div class="list-group-item"
                        ng-repeat="cart in cart_data.list"
                        style="border-top:5px solid #333;margin-bottom:15px;">

                        <div class="list-group">
                            <div class="cursor-pointer">

                                <h3 class="pull-right" 
                                    style="margin-top:10px;font-size:19px;">
                                    <!-- <span style="font-size:18px;" class="text-muted">Total </span> -->
                                    {{cart.total_products|currency:''}} 
                                    <strong class="text-muted">CVE</strong>
                                    <br/>
                                    {{cart.count_products|currency:''}} <small class="">items</small>
                                </h3>

                                <h4 class="text-danger">
                                    <i class="fa fa-clock"></i>&nbsp;
                                    <span class="text-underlined">
                                    {{cart.createdAt}}
                                    </span>
                                </h4>

                                <a  href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cart.id}}/watch"
                                    target="__blank"
                                    class="btn btn-primary text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    <h3 style="margin:0px">
                                        <span class="fa fa-shopping-cart"></span>
                                        Carrinho
                                        <span class="text-muted text-right"
                                            style="font-size:20px;">
                                            <small>
                                                {{cart.id}}
                                            </small>
                                        </span>
                                    </h3>
                                </a>

                                <button ng-click="purchaseFromOrder('<%=compobj.id%>', cart.id)" 
                                    target="__blank"
                                    class="btn etx-bg-danger text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    COMPRAR
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ONLINE PAYMENT FOR CART -->
                <div class="tab-pane fade tab-cart "
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    __ecomerceCartBuy__
                </div>

                <!-- RE-PURCHASE CART -->
                <div class="tab-pane fade tab-not-auth "
                    id="repurchase-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">

                    <div class="text-center"
                        ng-if="loading_purchase_order">
                        <h3 class="text-secondary">
                            <span class="fa fa-refresh fa-spin text-warning"></span>
                            <br/>
                            CARREGANDO
                        </h3>
                    </div>

                    <div class="text-center"
                        ng-if="loading_purchase_fail">
                        <h3 class="text-secondary">
                            FALHA AO CARREGAR
                        </h3>
                    </div>

                    <div class="row rs-margin" ng-if="purchaseData">
                        <div class="col-12 rs-padding">
                            <span class="badge bg-primary text-white text-bold cursor-pointer"
                                ng-click="toShoppingList('<%=compobj.id%>')">
                                VOLTAR
                            </span>
                            <h3 style="font-size:22px;color:#666;margin:0px;"
                                class="pull-right produts-count-title"> 
                                <span style="color:#333">
                                    {{purchaseData.items.length}} 
                                </span>
                                produtos
                            </h3>

                            <h3 style="font-size:22px;color:#666;margin:0px;"
                                >
                                Carrinho 
                                <span class="text-secondary"
                                    style="font-size:17px;color:#333">({{purchaseData.id}})</span>
                            </h3>

                        </div>

                        <div class="col-12">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-lg-9 col-sm-12 col-md-12 rs-padding">
                                        <div class="input-group">
                                            <input type="text" ng-model="searchQ" 
                                                class="form-control" 
                                                placeholder="Filtrar" 
                                            />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-12 col-md-12 rs-padding">
                                        <button class="text-bold btn etx-bg-danger text-white btn-block" 
                                            type="button"
                                            ng-click="addAllPurchase('<%=compobj.id%>')">
                                            <span class="fa fa-plus"></span>
                                            ADICIONAR TODOS
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-12 rs-padding"
                            style="max-height: 400px;overflow:hidden;overflow-y:scroll">

                              <div class="cursor-pointer ecommerce-it-container ecommerce-v2-item"
                                ng-repeat="item in purchaseData.items|filter: searchQ track by $index">
                                  <div class="card ecommerce-item">

                                    <div style="height:220px;max-width:170px;max-height:170px;background:url('{{item.image}}');background-size:cover;"
                                        class="prod-bg-image"
                                        ng-click="openProduct(item, '<%-compobj.id%>')">
                                    </div>

                                    <div class="card-body">
                                        <h4 class="ecommerce-item-title text-center text-bold" 
                                          ng-click="openProduct(item, '<%-compobj.id%>')"
                                          ng-bind="item.label">
                                        </h4>

                                        <h4 class="card-title text-danger ecommerc-item-price text-center"
                                          ng-click="openProduct(item, '<%-compobj.id%>')">
                                          <span class="item-price" ng-bind="item.price|currency:''"></span>
                                          <span class="item-currency" ng-bind="item.currency"></span>
                                        </h4>

                                        <div>
                                          <a class="btn bg-white text-bold btn-block btn-add-cart"
                                            style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                                            href="ec-product.html?product_id={{item.id}}"
                                            >
                                            <span class="fa fa-shopping-cart"></span>
                                            ADICIONAR
                                            <span style="color:#333;"
                                              class="item-amount"
                                              id="item-amount-{{item.id}}">
                                            </span>
                                          </a>
                                        </div>

                                    </div> 
                                  </div>
                              </div>

                        </div>
                    </div>
                </div>

                <!-- USER NOT AUTH -->
                <div class="tab-pane fade tab-not-auth "
                    id="acc-not-auth-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">

                    <h3 class="text-center">
                        Autentique-se ou crie uma conta para continuar.
                    </h3>

                    <center>
                        <div>
                            <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
                                ng-if="'<%= compobj.confObj.signin_url %>'=='UX_MODAL'"
                                ng-disabled="loading_cart_request"
                                ng-click="openLoginModal()"
                                type="button">
                                <span class="fa fa-user-badge"></span>
                                LOGIN
                            </button>

                            <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
                                ng-disabled="loading_cart_request"
                                ng-if="'<%= compobj.confObj.signup_url %>'=='UX_MODAL'"
                                ng-click="openSignupModal()"
                                type="button">
                                <span class="fa fa-user-badge"></span>
                                CRIAR CONTA
                            </button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
