<div class="container <%-compobj.fields[$PCF.comp_size] %>" 
        style="margin-top: 20px;padding:15px;">
    <div class="row">
        <div class="col-4">
            <!-- <h3>Contacto</h3> -->
            <h3 style="margin-bottom:2px;" class="description-container">
                <strong class="short-descr"><%-compobj.fields[$PCF.comp_descr]%></strong>
                <br/>
            </h3>
            <p class="rs-margin text-secondary">
                <span class="fa fa-map-marker"></span>
                <%-compobj.fields[$PCF.hq]%>
            </p>
            <p class="opening-hours">
                <abbr title="Hours">Horário de Funcionamento:</abbr>:
                <br />
                <%-compobj.fields[$PCF.op_hours]%>
            </p>
        </div>

        <div class="col-4">
            <h3 ng-show="'<%-compobj.fields[$PCF.phone_1]%>'"
                style="font-size:21px;"
                ng-repeat="phone in '<%-compobj.fields[$PCF.phone_1]%>'.split(',') track by $index">
                <span class="fa fa-mobile" style="font-size:28px;"></span>
                <a href="tel:+{{phone}}"
                    style="display"
                    ng-bind="phone">
                </a>
            </h3>

            <h3 class="email-link"
                style="font-size:21px;">
                <span class="fa fa-envelope" style="font-size:25px;"></span>
                <a href="mailto:<%-compobj.fields[$PCF.email_1]%>">
                    Email
                </a>
            </h3>

            <a class="btn btn-sm btn-success call-btn" 
                href="tel:{{'<%-compobj.fields[$PCF.phone_1]%>'.split(',')[0]}}">
                <span class="fa fa-phone"></span> 
                <strong><%-compobj.fields[$PCF.title_df]%></strong>
            </a>
        </div>

        <div class="col-4">
            <a ng-show="'<%-compobj.fields[$PCF.fb_link]%>'"
                href="<%-compobj.fields[$PCF.fb_link]%>"
                style="font-size:40px;padding:10px;">
                <span class="fa fa-facebook text-primary"></span>
            </a>
            <a ng-show="'<%-compobj.fields[$PCF.tw_link]%>'"
                href="<%-compobj.fields[$PCF.tw_link]%>"
                style="font-size:40px;padding:10px;">
                <span class="fa fa-twitter" style="color:#5396de"></span>
            </a>
            <a ng-show="'<%-compobj.fields[$PCF.insta_link]%>'"
                href="<%-compobj.fields[$PCF.insta_link]%>"
                style="font-size:40px;padding:10px;">
                <span class="fa fa-instagram" style="color:purple"></span>
            </a>
            <a ng-show="'<%-compobj.fields[$PCF.youtube_link]%>'"
                href="<%-compobj.fields[$PCF.youtube_link]%>"
                style="font-size:40px;padding:10px;">
                <span class="fa fa-youtube text-danger"></span>
            </a>
        </div>
    </div>
</div>
