<div class="row rs-margin"
    ng-controller="X99RequestSvc">
    <div class="col-md-8 col-sm-12">
        <h1 class="mt-4 mb-3">
            <%-compobj.fields[$PCF.title_df]%>
        </h1>
        <p>
            <%-compobj.fields[$PCF.descr_df]%>
        </p>
    </div>

    <div class="col-md-4 col-sm-12" style="padding-top:25px;">
        <a class="btn btn-success btn-block" 
            ng-if="'<%-compobj.fields[$PCF.view_page]%>'"
            href="<%-compobj.fields[$PCF.view_page]%>"> 
            <span class="fa fa-phone"></span> 
            Request
        </a>

        <a class="btn btn-warning btn-block" 
            ng-if="'<%-compobj.fields[$PCF.checkout_page]%>'"
            href="<%-compobj.fields[$PCF.checkout_page]%>"> 
            <span class="fa fa-shopping-cart"></span> 
            Checkout
        </a>
    </div>

    <div class="col-md-12" style="padding-top:25px;">
        <ul class="nav nav-tabs xb-tabs" 
            id="servicetab-<%-compobj.id%>" 
            role="tablist" 
            style="border:0px;">
            <li class="nav-item nav-item-spaced"
                style="padding-right:10px;">
                <a class="nav-link active" id="home-<%-compobj.id%>-tab" data-toggle="tab" 
                    href="#home-<%-compobj.id%>" role="tab" 
                    aria-controls="home-<%-compobj.id%>" 
                    aria-selected="false">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>

            <li class="nav-item mod-nav-item">
                <a class="nav-link" id="request-<%-compobj.id%>-tab" data-toggle="tab" 
                  href="#request-<%-compobj.id%>" role="tab" aria-controls="profile" 
                  aria-selected="false">Request</a>
            </li>
        </ul>

        <div class="tab-content" id="serviceTab-<%-compobj.id%>">
            <div class="tab-pane fade show active" id="home-<%-compobj.id%>" 
                role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-12">
                        ___post_html____
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" 
                id="request-<%-compobj.id%>" role="tabpanel">
                <h3>Request tab</h3>
            </div>
        </div>
    </div>
</div>
