<div class="row rs-margin <%-compobj.fields[$PCF.comp_size] %>"
    ng-controller="X99RequestSvc">
    <div class="col-md-12 col-sm-12">
        <h1 class="mt-4 mb-3" style="margin-bottom:0px;">
            <%-promRes.fields[$BXF.title_df]%>
        </h1>

        <!-- Preview Image -->
        <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->
        <hr style="margin-top:0px;">

        <!-- Date/Time -->
        <p>
            <span class="badge bg-secondary text-white">
                <%-promRes.fields[$BXF.pub_by_label]%>
            </span>
            on <%-promRes.createdAt%>
        </p>
    </div>

    <div class="col-md-4 col-sm-12" style="padding-top:25px;">
    </div>

    <div class="col-md-12">
        ___post_html____
    </div>
</div>
