<header id="carrs-<%=compobj.id%>"
    ng-controller="x99BannerCar"
    class="header-carrs">
    <div class="carousel slide" data-ride="carousel" id="carrousel-<%=compobj.id%>">
        <ol class="carousel-indicators">
            <%=
                compobj.confObj.items.map(function (C, index){
                    var add_klass= ((index==0) ? 'active' : '');
                    return `
                        <li data-target="#carrousel-${compobj.id}" 
                            class="${add_klass}"
                            data-slide-to="${index}" >
                        </li>
                    `;
                }).join("")
            %>
        </ol>

        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <%= 
                compobj.confObj.items.map(function (C, index){
                    var add_klass= ((index==0) ? 'active' : '');
                    var link='';
                    if (C.link) {
                        C.link_label = C.link_label? C.link_label : 'Saber Mais';
                        link = `
                            <a href="${C.link}" class="btn btn-caroussel-go btn-round etx-bg-danger etx-text-white">
                                ${C.link_label}
                            </a>
                        `;
                    }
                    return `
                        <div class="carousel-item ${add_klass}" 
                             style="background-image: url('${C.img}')">
                            <div class=" slide-descr">
                                <h1 class="slice-descr-text"
                                    data-text-tr="${TR(C.title)}" data-text="C.title">
                                    ${TR(C.title)}
                                </h1>

                                <p data-text-tr="${TR(C.description)}">
                                    ${TR(C.description)||''}
                                </p>
                                ${link}
                            </div>
                        </div>
                    `;

                }).join("")
            %>
        </div>

        <a class="carousel-control-prev" 
            href="#carrousel-<%=compobj.id%>" 
            role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" 
            href="#carrousel-<%=compobj.id%>" 
            role="button" 
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
