<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12">
        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item">
                <a href="#home" aria-controls="home" 
                    class="nav-link "
                    role="tab" data-toggle="tab">
                    Home
                </a>
            </li>
            <li role="presentation" class="nav-item">
                <a href="#my-album" aria-controls="my-album" 
                    class="nav-link active"
                    role="tab" data-toggle="tab">
                    ADD ALBUM
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#my-album-list" aria-controls="my-album-list" 
                    class="nav-link "
                    role="tab" data-toggle="tab">  
                    My Album List
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#edit-album-item" aria-controls="my-album-item" 
                    class="nav-link "
                    role="tab" data-toggle="tab">  
                    Edit album
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#art-dashboard" aria-controls="art-dashboard" 
                    class="nav-link "
                    role="tab" data-toggle="tab">
                    Dashboard
                </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane " id="home">
                Home
            </div>

            <div role="tabpanel" class="tab-pane " id="edit-album-item">
                <h2>Edit Album Item</h2>
            </div>

            <div role="tabpanel" class="tab-pane active" id="my-album">
                <!--
                <ul class="list-group">
                  <li class="list-group-item">ALBUM 1</li>
                  <li class="list-group-item">ALBUM 2</li>
                  <li class="list-group-item">ALBUM 3</li>
                </ul>
                -->
                <form ng-submit="saveAlbum(albumInventory, '<%=compobj.id%>')"
                    name="albumInventory">

                    <div class="form-control">
                        <h3>IMAGE</h3>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">TITLE</label>
                        <input type="text" class="form-control" 
                            required
                            ng-model="albumObj.title"
                            placeholder="Aa">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">PRICE</label>
                        <div class="input-group">
                            <input type="number" 
                                class="form-control" aria-label="..."
                                placeholder="0.00"
                                ng-model="albumObj.priceAmount"
                                required
                            />

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    {{albumObj.priceCurrency}} 
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" ng-click="setPriceCurrency('CVE')">CVE</a></li>
                                    <li><a href="#" ng-click="setPriceCurrency('EUR')">EURO</a></li>
                                    <li><a href="#" ng-click="setPriceCurrency('USD')">USD</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success text-bold">
                        SAVE
                    </button>
                </form>
            </div>

            <div role="tabpanel" class="tab-pane" id="my-album-list">
                <h3>List of my albums</h3>
                <button type="button" 
                    ng-click="loadMyAlbumList('<%=compobj.id%>')"
                    class="btn btn-success text-bold">
                    REFRESH
                </button>

                <ul class="list-group">
                  <li class="list-group-item"
                        ng-repeat="item in inventList">
                        <h3 class="text-secondary">
                        {{item.titleDf|uppercase}}
                        </h3>
                        <h3>
                            {{item.priceAmount}}
                            {{item.currency}}
                        </h3>
                        <h3>
                            state={{item.state}}
                        </h3>
                    </li>
                </ul>
            </div>

            <div role="tabpanel" class="tab-pane" id="art-dashboard">
                <h3>ARTIST DASHBOARD DETAILS</h3>
            </div>
          </div>

        </div>
    </div>
</div>

