<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity"
    style="min-height:500px;background-color:#fff;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#home-loading-<%=compobj.id%>" 
                class="nav-link active"
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-loading-<%=compobj.id%>">
            <h3>
            <span class="fa fa-refresh fa-spin"></span>
            LOADING
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-dashboard-<%=compobj.id%>">
            <h3>
            Dashboard
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-feedback-<%=compobj.id%>">
            <h3>
            Feedback
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-chat-<%=compobj.id%>">
            <h3>
            Chat
            </h3>
        </div>  

    </div>

</div>