<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity">
    <h3>
        CHANNEL VIDEO SYSTEM 
        <span class="text-success">(TEST)</span>
    </h3>

  <video
    id="my-video"
    class="video-js vjs-theme-sea"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="https://d2plsjdg6d7mx4.cloudfront.net/f309f409-22e9-472e-bb6c-e7f5090f5efe/thumbnails/bc63d0ebaf34244ea0722f4a1ab8d5ee_thumb.0000109.jpg"
    data-setup="{}"
  >
    <source src="https://d2plsjdg6d7mx4.cloudfront.net/f309f409-22e9-472e-bb6c-e7f5090f5efe/mp4/bc63d0ebaf34244ea0722f4a1ab8d5ee_Mp4_Avc_Aac_16x9_1280x720p_24Hz_8.5Mbps_qvbr.mp4" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

</div>