<div class="row"
    ng-controller="x99EntityList">
    <div class="col-md-12"
        style="padding-bottom:15px;padding-top:15px;">

        <ul class="nav nav-tabs xb-grad" role="tablist"
            style="background-color:#f4f4f4;display:none">
            <li role="presentation" 
                class="nav-item"
                style=""
                id="entity-home-<%-compobj.id%>-x">
                <a href="#entity-home-<%-compobj.id%>" 
                    role="tab" data-toggle="tab"
                    class="nav-link text-bold active">
                    Home
                </a>
            </li>

            <li role="presentation" 
                class="nav-item"
                style=""
                id="entity-list-<%-compobj.id%>-x">
                <a href="#entity-list-<%-compobj.id%>" 
                    role="tab" data-toggle="tab"
                    class="nav-link text-bold">
                    Posts
                </a>
            </li>

        </ul>
    </div>

    <div class="col-md-12">
        <div class="tab-content" 
            ng-init="initLoading('<%-compobj.fields[$PCF.data_policy]%>', '<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>')"
            id="blogMgr-<%-compobj.id%>">

            <div class="tab-pane fade show active"
                id="entity-home-<%-compobj.id%>"
                role="tabpanel">
                <center>
                    <div style="padding-top:32px;">                    
                        <h2 class="text-primary">
                            Loading...
                        </h2>
                    </div>
                </center>
            </div>

            <div class="tab-pane fade"
                id="entity-list-<%-compobj.id%>"
                role="tabpanel" >

                <form novalidate style="margin-bottom:15px;"
                    ng-if="<%-compobj.entity_list_conf.enable_filter%>">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="text-bold btn btn-warning" type="submit">
                                <span class="fa fa-search"></span>
                                Pesquisar
                            </button>
                        </span>
                        <input type="text" ng-model="vm.searchQ" class="form-control" placeholder="Aa" />
                    </div>
                </form>

                <div class="card mb-4"
                    ng-repeat="row in entity_list|filter:vm.searchQ track by row.id"
                    ng-click="openEntity(row)">
                    <!--
                    <img class="card-img-top" 
                        src="http://placehold.it/750x300" 
                        alt="Card image cap"
                    />
                    -->
                    <div class="card-body">
                        <h2 class="card-title" ng-bind="row.fields.<%-$BXF.title_df%>"></h2>

                        <!--
                        <p class="card-text" ng-bind="row.fields.<%-$BXF.content_df%>">
                        </p>
                        -->

                        <a class="btn btn-primary text-white cursor-pointer"
                            ng-click="viewPostPage(row, row.fields.<%-$BXF.loc_page_id%>, row.fields.<%-$BXF.view_page%>)">
                            Read More →
                        </a>
                    </div>

                    <div class="card-footer text-muted">
                        <a href="#" 
                            class="badge text-white bg-secondary"
                            ng-bind="row.fields.<%-$BXF.pub_by_label%>"></a>
                        on <span ng-bind="row.createdAt"></span> 
                    </div>
                </div>
            </div>

            <div class="tab-pane fade"
                id="blog-newpost-<%-compobj.id%>"
                role="tabpanel">

            </div>
        </div>
    </div>
</div>
