<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12">
        <form name="artistForm"
            style="margin-top:15px;"
            class="contact-form-object"
            ng-submit="saveArtist(artistForm, '<%=compobj.id%>')">

            <div class="alert alert-warning text-center" 
                ng-if="loading_request">
                <i class="fa fa-refresh fa-spin"></i>
                HOLD ON
            </div>

            <div class="alert alert-danger text-center" ng-if="request_errors">
                <i class="fa fa-times"></i>
                <h4>Could not finish request.</h4>
                {{request_errors}}
                <p ng-repeat="err in request_errors.errors">
                    {{err}}
                </p>
            </div>

            <div class="alert alert-success text-center" ng-if="success">
                <i class="fa fa-check" style="font-size:50px;" ></i>
                <br/>
                <h3>
                    Sent with success.
                </h3>
                Thanks for your submission.<br/>
                <br/>We'll  be in touch
            </div>

            <div ng-if="!is_done">
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Email</strong></label>
                        <input type="email" class="form-control"  
                            required 
                            ng-model="artistObj.email">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Your Name</strong></label>
                        <input type="text" class="form-control" 
                            required 
                            data-validation-required-message="Required" 
                            ng-model="artistObj.name"
                        >
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Your Surname</strong></label>
                        <input type="text" class="form-control" 
                            required 
                            data-validation-required-message="Required" 
                            ng-model="artistObj.surname"
                        >
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Phone</strong></label>
                        <input type="number" class="form-control" 
                            ng-model="artistObj.phone"
                        >
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Your bio</strong></label>
                        <textarea rows="8" cols="100" class="form-control" 
                            required 
                            placeholder="Tells a little about yourself"
                            maxlength="999" 
                            style="resize:none"
                            ng-model="artistObj.msg">
                        </textarea>
                    </div>
                </div>                
    
                <button type="submit" 
                    class="btn etx-bg-success btn-lg btn-round text-bold btn-send-form"
                    ng-if="!is_done"
                    ng-disabled="loading_request">
                    <span class="fa fa-send"></span>
                    SEND
                </button>
            </div>

        </form>
    </div>
</div>

<hr/>

