<div role="tabpanel" class="chat-object-container">


  <!-- Nav tabs -->
  <ul class="nav nav-tabs chat-container-ullist" role="tablist" style="display:none">
    <li role="presentation" class="nav-item">
        <a href="#chat-comp-loading-<%=compobj.id%>" 
            aria-controls="chat-comp-loading-<%=compobj.id%>" 
            class="nav-link active"
            role="tab" data-toggle="tab">
            Home
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#chat-comp-main-<%=compobj.id%>" 
            aria-controls="chat-comp-main-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Main
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#chat-comp-tipx-<%=compobj.id%>" 
            aria-controls="chat-comp-tipx-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Tips
        </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane " id="chat-comp-tipx-<%=compobj.id%>">
        __tipsComp__
    </div>

    <div role="tabpanel" class="tab-pane active" id="chat-comp-loading-<%=compobj.id%>">
        <div class="alert alert-danger etx-loading-error" ng-if="streamming_msg_error">
            <h3 ng-bind="'Não foi possivel carregar o chat.'"></h3>
            <p ng-repeat="err in streamming_msg_error"
                ng-bind="err">
            </p>

            <button class="btn btn-success text-white btn-lg"
                type="button"
                ng-bind="'TENTE NOVAMENTE'"
                ng-disabled="connecting_chan"
                ng-click="ChatCompStreamMessages('<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')">
            </button>
        </div>

        <div class="etx-loading-element text-center">
            <!--
            <h3>
                <span class="fa fa-video"></span>
                <%= compobj.fields[$PCF.descr_df]%>
                |
                <%= compobj.fields[$PCF.title_df]%>
            </h3>
            -->
            <h3 class="loading-spinner">
                <span class="fa fa-refresh etx-text-warning fa-spin"
                    style="font-size:55px;"></span>
            </h3>
            <h3 class="loading-title etx-text-secondary">
                LOADING CHAT
            </h3>
        </div>

        <div ng-init="ChatCompStreamMessages('<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"> </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="chat-comp-main-<%=compobj.id%>">
        <div class="row rs-margin ">
            <!-- 
            <div class="col-12 channel-header">
                <h3>CHAT SYSTEM</h3> 
            </div>
            style="background:url('<%=STATIC_PATH%>/img/bg-chat-tile.png');">
            -->
            <div class="col-12 chat-container rs-padding">
                <div class="buttons-area">
                    <!--
                    <button class="btn-warning xb-warning-grad btn-round text-center btn-refresh-chat"
                        ng-click="ChatCompStreamMessages( '<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"
                        ng-disabled="streamming_channel"
                        style="color:#333;">
                        <span ng-if="streamming_channel">
                            <span class="fa fa-refresh fa-spin"></span>
                        </span>
                        <span ng-if="!streamming_channel">
                            <span class="fa fa-refresh"></span>
                            REFRESH
                        </span>
                    </button>
                    -->

                    <!-- <h3 style="margin:0px;" class="top-fans-title">TOP FANS</h3> -->

                    <ul class="list-group chat-payments-group" style="clear:both">
                        <!--
                        <li class="list-group-item chat-payment-instance" 
                            style="background: linear-gradient(to bottom, #000000 -100%, {{COLORS[tx.color_bucket]}} 50%);border:1px solid {{COLORS[tx.color_bucket]}};margin:5px;border-radius:0px;"
                            ng-repeat="tx in streamPayments">
                        -->
                        <li class="list-group-item chat-payment-instance"
                            style="border-top:6px solid #{{tx.FromUserId.slice(0,6)}}">
                            <!--
                            <p class="chat-new-tx">
                                new_tx={{new_tx}}
                            </p>
                            -->
                            <p class="chat-payment-header">
                                <img src="<%=WS_HOST%>/img/flags/4x3/{{tx.Payment.country.toLowerCase()}}.svg"
                                    class="payment-country"
                                />
                                <span class="chat-payment-timestamp etx-text-secondary">
                                {{tx.fTimestamp}}
                                </span>
                                tx.NEW={{tx.NEW}}
                                <span class="etx-bg-success etx-text-white chat-payment-now"
                                    ng-if="tx.NEW">
                                    JUST NOW
                                </span>
                            </p>

                            <img ng-src="{{tx.FromUserImage}}"  
                                class="chat-pay-user-logo pull-left"
                            />

                            <h3 class="text-bold chat-payment-author">
                                {{tx.AuthorLabel.split(' ')[0]}}
                            </h3>

                            <p class="text-bold chat-payment-total">
                                <img src="<%=WS_HOST%>/img/payment-img/vinti4.png" 
                                    ng-if="tx.Payment.payment_type=='VINTI4'"
                                    class="text-center payment-type" style=""
                                />
                                <span class="total-amount ">
                                    {{tx.Payment.total|currency:''}}
                                </span>
                                <span class="total-currency etx-text-success">
                                    {{tx.Payment.currency}}
                                </span>
                            </p>
                            <p class="etx-msg-description etx-text-white">
                                {{tx.Content}}
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="list-group chat-msg-container"
                    style="">
                  <div title="{{msg.Timestamp}} - {{msg.AuthorLabel}} - '{{msg.Content}}'"
                    ng-class="{'list-group-item chat-msg-instance':true, 'from-me':msg.FromUserId==authUser.id} " 
                    ng-repeat="msg in streamMsgs">
                    <!-- <span>msg.MsgType={{msg.MsgType}}</span> -->

                    <p style="margin:0px"
                        class=" chat-msg-normal">
                        {{msg.Content}}
                    </p>

                    <div ng-if="msg.cover_img"  
                        ng-click="openChatObj(msg, 'chatMessageModal-<%=compobj.id%>')"
                        style="background-size: cover;background-image:url('{{msg.cover_img}}');">
                        <p style="height:200px;margin:0px;background: rgba(0,0,0,.7);" class="text-center">
                            <span class="fa fa-eye text-white "
                                style="font-size:30px;padding-top:70px;"></span>
                        </p>
                    </div>

                    <p style="margin:0px;font-size:13px;"
                        class="chat-msg-author">
                        <strong class="xname" 
                        style="font-size:15px;color:#{{msg.FromUserId.slice(0,6)}}">
                            {{msg.AuthorLabel.split(' ')[0]}}
                            <span class="text-bold you-tag">
                                (VOC&Ecirc;)
                            </span>
                        </strong>
                        &dot;
                        <span class="text-secondary chat-msg-timestamp">
                            {{moment(msg.Timestamp).fromNow()}}
                        </span>
                    </p>
                  </div>
                </div>
                <!--
                <div style="height:50px;background-image: url('<%=STATIC_PATH%>/img/emoji-91-40_b8ae509.webp');" 
                    class="etx-emoji-smiley">
                </div>
                -->
            </div>

            <!-- Modal -->
            <div class="modal  fade" id="chatMessageModal-<%=compobj.id%>" 
                    ng-init="initModal('chatMessageModal-<%=compobj.id%>')"
                    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" style="border-radius:0px;">
                <div class="modal-content" style="border-radius:0px;padding:0px;">
                  <div class="modal-body" ng-if="currentChatObj">
                    <h3>
                        {{currentChatObj.AuthorLabel}}
                        {{currentChatObj.Content}}
                        <br/>
                        {{currentChatObj.Timestamp}}
                    </h3>

                    <div ng-if="currentChatObj.Media.length>0"
                            style="max-width:100%;overflow:hidden;">
                        <img ng-src="{{currentChatObj.Media[0].download_url}}" style="width:100%;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

<div class="row rs-margin chat-action-container">
    <div class="col-12 rs-padding chat-action" 
        style="background-color:#fff;border: 1px solid #ccc;box-shadow: 0px 0px 2px rgba(0,0,0,.3);border-top:0px;"
        >
        <div ng-if="!etxProfile">
            <p class="etx-text-secondary etx-noaccount text-bold text-center "
                style="padding-top:10px;">
                Autentique-se para participar.
            </p>
        </div>
        <div ng-if="etxProfile && !UserAppProfile">
            <p class="etx-text-secondary etx-profile text-bold text-center "
                style="padding-top:10px;">
                Atualize o seu perfil
            </p>
        </div>

        <div class="panel-body msg-control" style="padding:0px;"
            ng-if="UserAppProfile">
            <form name="msgForm" 
                ng-submit="sendMsg(msgForm, '<%=compobj.fields[$PCF.descr_df]%>')">

                <button class="btn btn-success text-white "
                    ng-disabled="sending_msg"
                    style="border-radius:0px;"
                    type="submit">
                    <span class="fa fa-send"></span>
                </button>

                <div class="form-group" 
                    style="width:80%;display: inline-table;margin-bottom:0px;">
                    <input type="text" 
                        class="form-control input-v3"
                        placeholder="Aa"
                        required
                        style="border-radius:0px;"
                        ng-disabled="sending_msg"
                        ng-model="chatObj.content"
                    />
                </div>

                <div class="button btn btn-success text-white cursor-pointer " 
                    ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="3MB"
                    ngf-select="uploadChatMedia(msgForm, $file, '<%=compobj.fields[$PCF.descr_df]%>')">
                    <span class="fa fa-image"></span>
                </div>
                <!--
                <p class="text-secondary "
                    style="margin:0px;padding:10px;padding-top:4px;">Enter para enviar</p>
                -->
            </form>
        </div>
    </div>
</div>
    </div>
  </div>

</div>




