<div role="tabpanel" ng-controller="x99Billings">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
        <a href="#chat-tips-loading-<%=compobj.id%>" 
            aria-controls="chat-tips-loading-<%=compobj.id%>" 
            class="nav-link active"
            role="tab" data-toggle="tab">
            Home
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#chat-tips-main-<%=compobj.id%>" 
            aria-controls="chat-tips-main-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Main
        </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="chat-tips-loading-<%=compobj.id%>">
        <div class="text-center tip-welcome" >
            <h3>WELCOME, IN THIS SCREEN YOU CAN SEND US A TIP</h3>
            <h3>Thank You</h3>
            <button class="btn btn-success text-white btn-lg"
                type="button"
                ng-bind="'CONTINUAR'"
                ng-click="BeginTipJourney('<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')">
            </button>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="chat-tips-main-<%=compobj.id%>">

        <div class="row rs-margin">
            <div class="col-12">
                <div class="card-body text-center" style="padding-top:15px;"
                    ng-if="loading_billing">
                    <span class="fa fa-refresh fa-spin text-warning" 
                        style="font-size:55px;margin-top:15px;"></span>

                    <h4 class="card-title" style="font-weight:bold;">
                        Processando...
                    </h4>
                </div>

                <div class="card-body text-center" style="padding-top:15px;"
                    ng-if="billing_success">
                    <span class="fa fa-check text-success" 
                        style="font-size:55px;margin-top:15px;"></span>

                    <h4 class="card-title" style="font-weight:bold;">
                        Pronto para pagamento
                    </h4>
                </div>

                <div class="alert alert-danger" 
                    id="error-area-a3e98b847c0648e8"
                    style="padding-top:15px;border-radius:0px;"
                    ng-if="billing_error">
                    <h3 style="color:#333;">Nao foi possivel concluir a opera&ccedil;&atilde;o.</h3>
                    <p ng-repeat="e in billing_error">{{e}}</p>
                </div>

                <form ng-submit="saveClientBilling(billingForm, 'LIVE_TIP','<%= compobj.fields[$PCF.descr_df]%>')"
                    method="get"
                    name="billingForm">
                    <div class="alert alert-warning"
                        ng-if="!loading_billing&&billing_error"
                        style="border-radius:0px">
                        <h3 style="color:#333;font-size:22px;margin:0px;">
                            Preencha o formul&aacute;rio
                        </h3>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Montante
                        </label>
                        <input type="number" class="form-control" 
                            placeholder="2.25$"
                            required
                            ng-model="billingObj.amount"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Email
                        </label>
                        <input type="email" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Nome
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.customer_name"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Sobrenome
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.customer_surname"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Phone
                        </label>
                        <input type="number" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.phone"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Endereco
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.address"
                        />
                        <hr/>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            nif (opcional)
                        </label>
                        <input type="number" class="form-control" 
                            placeholder="1232"
                            ng-model="billingObj.nif"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            referral_code (opcional)
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="abc-982"
                            ng-model="billingObj.referral_code"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            description (opcional)
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            ng-model="billingObj.description"
                        />
                    </div>

                    <button type="submit" class="btn btn-success btn-round text-bold btn-lg"
                        ng-disabled="loading_billing&&!billing_error">
                        CONTINUAR 
                        <span class="fa fa-arrow-right"></span>
                    </button>
                </form>
            </div>
        </div>


    </div>
  </div>

</div>




