<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12" style="">
        <div class="alert alert-warning" ng-if="loading_instance">
            <h3 class=""
                style="color:#333;">
                <span class="fa-spin fa fa-refresh text-warning "></span>
                <span class="text-secondary text-bold">
                HOLD ON
                </span>
            </h3>
        </div>

        <div class="">
            <div ng-init="VerifyUser('<%=compobj.id%>')"></div>
        </div>
    </div>

    <div class="col-12" style="min-height:400px;">
        <div role="tabpanel"
            ng-init="loadFeedInstance('<%=compobj.id%>')">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist"
                style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-loading-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link active"
                        data-toggle="tab">
                        LOADING
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        FEED
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-auth-<%=compobj.id%>" 
                        aria-controls="etx-feed-auth-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        AUTH
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-groups-<%=compobj.id%>" 
                        aria-controls="etx-feed-groups-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        GROUPS
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#etx-feed-review-<%=compobj.id%>" 
                        aria-controls="etx-feed-review-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        FEEDBACK
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-live-<%=compobj.id%>" 
                        aria-controls="etx-feed-live-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        LIVE STREAM
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-admin-<%=compobj.id%>" 
                        aria-controls="etx-feed-admin-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        <span class="fa fa-cog"></span>
                        FEED ADMIN
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="etx-feed-loading-<%=compobj.id%>">
                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;">
                        <span class="fa fa-refresh text-warning fa-spin "></span>
                        <br/>
                        <span class="text-secondary text-bold">
                        HOLD ON
                        </span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane  " id="etx-feed-<%=compobj.id%>">
                    <div class="row rs-margin">
                        <div class="col-8">
                            <div class="panel panel-default cursor-pointer"
                                style="background-color:#fff;margin-bottom:10px;border: 1px solid #ccc;"
                                ng-repeat="post in streamPosts.Items track by $index">
                                <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                    width="40px"
                                    class="pull-left"
                                    ng-if="!post.UserImage"
                                    style="border-radius:50px;margin-right:15px;margin-top:10px;margin-right:10px;margin-left:15px;"
                                />
                                <img src="{{post.UserImage.download_url}}"
                                    width="40px"
                                    class="pull-left"
                                    ng-if="post.UserImage"
                                    style="border-radius:50px;margin-right:15px;margin-top:10px;margin-right:10px;margin-left:15px;"
                                />

                                <div class="panel-body">
                                    <h3 title="{{post.Timestamp}}" 
                                        style="margin:0px"> 
                                        <span style="font-size:20px;">
                                        {{post.AuthorLabel|uppercase}}
                                        </span>
                                        <!-- - {{post.Timestamp}} -->
                                    </h3>

                                    <h3 title="{{post.Timestamp}}" 
                                        style="margin:0px"> 
                                        <span class="text-secondary"
                                        style="font-size:16px;">
                                        {{moment(post.Timestamp).fromNow()}}
                                        </span>
                                        <!-- - {{post.Timestamp}} -->
                                    </h3>

                                    <div class="post-content" style="padding-left:20px;padding-top:15px;">
                                        <p class=""
                                        >{{post.Title|uppercase}}</p>
                                        <!--                                     
                                        <div style="height:50px;background-image: url('<%=STATIC_PATH%>/img/emoji-91-40_b8ae509.webp');" 
                                        class="etx-emoji-smiley">
                                        </div>
                                        --> 
                                    </div>
                                </div>

                                <div class="row rs-margin post-image-area">
                                    <div class="col-6 post-image-item" 
                                        style="background-image:url('{{media.download_url}}');"
                                        ng-repeat="media in post.Media">
                                        <div class="post-image-container-sz"></div>
                                    </div>
                                </div>

                                <ul class="nav nav-pills">
                                    <li role="presentation" class="nav-item active"><a href="#">Like-</a></li>
                                    <li role="presentation" class="nav-item "><a href="#">Haha-</a></li>
                                    <li role="presentation" class="nav-item "><a href="#">Support-</a></li>
                                    <li role="presentation"  ><a href="#">Comments-</a></li>
                                    <li role="presentation" ><a href="#">SendTo Channel</a></li>
                                </ul>
                            </div>

                        </div>
                        
                        <div class="col-4">
                            <div class="panel panel-default"
                                ng-if="!UserAppProfile">
                                Autentique-se para participar.
                            </div>

                            <div class="panel panel-default"
                                ng-if="UserAppProfile">
                                <div class="panel-heading" style="padding-top:15px;padding-bottom:15px;">
                                    <h3 class="panel-title">
                                        <img src="{{UserAppProfile.Profile.Image.download_url}}"
                                            width="50px"
                                            class="pull-left"
                                            style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                        />
                                        {{UserAppProfile.Profile.UserName|uppercase}}
                                        <br/>
                                        <small class="text-secondary" style="font-size:15px;">
                                            {{UserAppProfile.Profile.Email}}
                                        </small>
                                    </h3>

                                    <button class="btn btn-success text-white btn-round text-bold"
                                        ng-click="openTab('etx-feed-review-<%=compobj.id%>')">
                                        <span class="fa fa-star"></span>
                                        FEEDBACK
                                    </button>

                                <button class="btn btn-warning xb-warning-grad btn-round "
                                    ng-disabled="streamming_feed"
                                    style="color:#333;"
                                    ng-click="streamFeed('<%=compobj.id%>')"
                                    type="button">
                                    <span ng-if="streamming_feed">
                                        <span class="fa fa-refresh fa-spin"></span>
                                    </span>
                                    <span ng-if="!streamming_feed">
                                    REFRESH
                                    </span>
                                </button>


                                </div>

                                <div class="panel-body">
                                    <form name="postForm" 
                                        ng-submit="publishPost(postForm, '<%=compobj.id%>')">
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                ng-disabled="publishing"
                                                placeholder="What's happening?"
                                                required ng-model="newPost.content" rows="3"></textarea>
                                        </div>

                                        <div class="row rs-margin">
                                            <div class="col-4" ng-repeat="media in newPost.media"
                                                style="background-image:url('{{media.download_url}}');height:50px;">
                                            </div>
                                        </div>

                                        <button class="btn btn-success text-white"
                                            ng-disabled="publishing"
                                            type="submit">
                                            <!-- {{user_app_profile.Profile.UserName}} -->
                                            <span class="fa fa-send" ng-if="!publishing"></span>

                                            <span class="" ng-if="publishing">
                                                <span class="fa fa-refresh fa-spin"></span>
                                                HOLD ON
                                            </span>
                                        </button>

                                        <div class="button btn btn-success text-white cursor-pointer" 
                                            ngf-pattern="'image/*'"
                                            ngf-accept="'image/*'" ngf-max-size="3MB"
                                            ngf-select="uploadPostMedia('<%=compobj.id%>', $file)">
                                            <span class="fa fa-image"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!--
                            <h3>News</h3>
                            <h3>Populares</h3>
                            <h3>Recentes</h3>
                            <h3>Listas</h3>
                            <h3>Grupos</h3>
                            -->
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane " id="etx-feed-auth-<%=compobj.id%>">

                    <div class="alert alert-danger" ng-if="errors">
                        <h3 ng-bind="'Não foi possivel concluir.'"></h3>
                        <p ng-repeat="err in errors"
                            ng-bind="err">
                        </p>
                    </div>

                    <h3>Autentique-se e confirme o seu perfil para aceder ao feed!</h3>

                </div>

                <div role="tabpanel" class="tab-pane" id="etx-feed-live-<%=compobj.id%>">
                    <h3>LIVE STREAM (elId=#etx-feed-live-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-review-<%=compobj.id%>">
                    <button class="btn bg-secondary text-white btn-lg btn-round"
                        ng-click="openTab('etx-feed-<%=compobj.id%>')">
                        <span class="fa fa-arrow-left"></span>
                        BACK
                    </button>

                    __feedbackv2__
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-groups-<%=compobj.id%>">
                    <h3>GROUPS (elId=#etx-feed-groups-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-admin-<%=compobj.id%>">
                    <table class="table table-stripped"
                        ng-if="feedInstance">
                        <tbody>
                            <tr>
                                <td>
                                    Instance Key
                                </td>
                                <td>
                                    <span class="text-danger text-bold">
                                        {{feedInstance.itemKey}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    appId
                                </td>
                                <td>
                                    {{feedInstance.appId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    compId
                                </td>
                                <td>
                                    {{feedInstance.compId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    pageId
                                </td>
                                <td>
                                    {{feedInstance.pageId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ORG-ID:
                                </td>
                                <td>
                                    {{feedInstance.orgId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TTL
                                </td>
                                <td>
                                    {{feedInstance.ttl}} seconds
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Criado em
                                </td>
                                <td>
                                    {{feedInstance.createdAt}}<br/>
                                    <strong>por:</strong> 
                                    {{feedInstance.createdBy}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &Uacute;ltimo Update
                                </td>
                                <td>
                                    {{feedInstance.lastUpdate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>

        </div>
    </div>
</div>


