<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12" style="">
        <div class="alert alert-warning" ng-if="loading_instance">
            <h3 class=""
                style="color:#333;">
                <span class="fa-spin fa fa-refresh text-warning "></span>
                <span class="text-secondary text-bold">
                HOLD ON
                </span>
            </h3>
        </div>

        <h3 class="" 
            ng-init="loadUser('<%=compobj.id%>')"
            style="">
            ENTERSTARTS FEEDS SYSTEM<br/>
            <small class="text-bold etx-secondary" style="font-size:15px;">
                <span class="fa fa-key"></span>
                {{feedInstance.itemKey}}
            </small>
            <br/>
            <small class="text-success" 
                style="font-size:15px;">
                {{feedInstance.lastUpdate}}
            </small>
        </h3>

        <button class="btn-warning btn-round btn-sm"
            ng-click="loadFeedInstance('<%=compobj.id%>')"
            ng-disabled="loading_instance"
            style="color:#333;">
            <span class="fa fa-refresh"></span>
            REFRESH
        </button>

        <div class="" ng-if="authUser">
            <h3>
                <span class="text-success fa fa-lock"></span>
                {{authUser.name}}
            </h3>
            <h3>{{authUser.email}}</h3>
        </div>
    </div>

    <div class="col-12" style="min-height:400px;">
        <div role="tabpanel"
            ng-init="loadFeedInstance('<%=compobj.id%>')">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-loading-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link active"
                        data-toggle="tab">
                        LOADING
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        WELCOME
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-msg-<%=compobj.id%>" 
                        aria-controls="etx-feed-msg-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        RECENT
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-live-<%=compobj.id%>" 
                        aria-controls="etx-feed-live-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        LIVE STREAM
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-groups-<%=compobj.id%>" 
                        aria-controls="etx-feed-groups-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        GROUPS
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-admin-<%=compobj.id%>" 
                        aria-controls="etx-feed-admin-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        <span class="fa fa-cog"></span>
                        FEED ADMIN
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="etx-feed-loading-<%=compobj.id%>">
                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;">
                        <span class="fa fa-refresh text-warning "></span>
                        <br/>
                        <span class="text-secondary text-bold">
                        HOLD ON
                        </span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane " id="etx-feed-<%=compobj.id%>">
                    <!-- <h3>ETX FEED (elId=#etx-feed-<%=compobj.id%>)</h3> -->
                    <div class="row rs-margin">
                        <div class="col-8">
                            <h3>POST LIST HERE</h3>
                        </div>
                        
                        <div class="col-4">
                            <h3>News</h3>
                            <h3>Populares</h3>
                            <h3>Recentes</h3>
                            <h3>Listas</h3>
                            <h3>Grupos</h3>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="etx-feed-msg-<%=compobj.id%>">
                    <h3>VIEW MESSAGE (elId=#etx-feed-msg-<%=compobj.id%>)</h3>
                </div>

                <div role="tabpanel" class="tab-pane" id="etx-feed-live-<%=compobj.id%>">
                    <h3>LIVE STREAM (elId=#etx-feed-live-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-groups-<%=compobj.id%>">
                    <h3>GROUPS (elId=#etx-feed-groups-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-admin-<%=compobj.id%>">
                    <table class="table table-stripped"
                        ng-if="feedInstance">
                        <tbody>
                            <tr>
                                <td>
                                    Instance Key
                                </td>
                                <td>
                                    <span class="text-danger text-bold">
                                        {{feedInstance.itemKey}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    appId
                                </td>
                                <td>
                                    {{feedInstance.appId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    compId
                                </td>
                                <td>
                                    {{feedInstance.compId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    pageId
                                </td>
                                <td>
                                    {{feedInstance.pageId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ORG-ID:
                                </td>
                                <td>
                                    {{feedInstance.orgId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TTL
                                </td>
                                <td>
                                    {{feedInstance.ttl}} seconds
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Criado em
                                </td>
                                <td>
                                    {{feedInstance.createdAt}}<br/>
                                    <strong>por:</strong> 
                                    {{feedInstance.createdBy}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &Uacute;ltimo Update
                                </td>
                                <td>
                                    {{feedInstance.lastUpdate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>

        </div>
    </div>
</div>


