<div class="row rs-margin"
    style="background-color: #676735;">
    <div class="col-12 channel-header"
        style="padding:10px;background-color:#fff;">

        <div ng-init="VerifyProfile('<%=compobj.id%>')"></div>
        <div ng-init="streamMessages('<%=compobj.fields[$PCF.descr_df]%>')"> </div>

        <button class="btn-primary btn-round btn-sm text-white text-center pull-right"
            ng-click="streamMessages('<%=compobj.id%>')"
            ng-disabled="streamming_channel"
            style="color:#333;">
            <span ng-if="streamming_channel">
                <span class="fa fa-refresh"></span>
                HOLD ON
            </span>
            <span ng-if="!streamming_channel">
                REFRESH
            </span>
        </button>

        <h3 class="text-secondary" style="margin:0px;">
            <span class="fa fa-user"></span>
            <span style="color:#333">
                {{user_app_profile.Profile.UserName}}
            </span>
            <span class="text-secondary" style="font-size:14px;">
            ({{user_app_profile.UserId}})
            </span>

            <span class="text-success" style="font-size:14px;">
            ({{user_app_profile.Profile.Email}})
            </span>
        </h3>
    </div>

    <div class="col-12 chat-container"
        style="background:url('<%=STATIC_PATH%>/img/bg-chat-tile.png');">

        <div class="time text-center text-white">
            <h4 class="text-white"
                style="background-color:#000;opacity:.7;border-radius:10px;">
                <span class="fa fa-clock"></span>
                {{moment().format("DD MM YYYY at HH:mm")}}
            </h4>
        </div>

        <ul class="list-group chat-msg-container"
            style="margin-bottom:150px;">
          <li 
            title="{{msg.Timestamp}} - {{msg.AuthorLabel}} - '{{msg.Content}}'"
            ng-class="{'list-group-item chat-msg-instance':true, 'from-me':msg.FromUserId==authUser.id} " 
            ng-repeat="msg in streamMsgs.Items">
            <!-- <span>msg.MsgType={{msg.MsgType}}</span> -->
            <div class="chat-msg-payment-instance" style="" 
                ng-if="msg.MsgType=='PAYMENT_VINTI4'">
                <p style="margin:0px;font-size:16px;"
                    class="text-bold chat-msg-payment-verified">
                    <span class="fa fa-shield"></span>
                    PAG.
                    VERIFICADO 

                    <a href="" class="text-bold"
                        style="font-size:12px;">
                        (VER FATURA)
                    </a>
                </p>
                <img src="<%=WS_HOST%>/img/payment-img/vinti4.png" class="text-center" style="width:20px;margin-right:10px;">
                <img src="<%=WS_HOST%>/img/payment-img/visacard.png" class="text-center" style="width:25px;margin-right:10px;">
                <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png" class="text-center" style="width:27px;margin-right:10px;">
                <img src="<%=WS_HOST%>/img/payment-img/mastercard.png" class="text-center" style="width:29px;">
                <p style="margin:0px;font-size:16px"
                    class="text-bold text-secondary chat-msg-payment-descr">
                    {{msg.Content}}
                </p>
            </div>
            <p style="margin:0px"
                ng-if="msg.MsgType!='PAYMENT_VINTI4'"
                class=" chat-msg-normal">
                {{msg.Content}}
            </p>
            <p style="margin:0px;font-size:13px;"
                class="chat-msg-author">
                <strong class="xname" style="font-size:15px;color:#{{msg.FromUserId.slice(0,6)}}">
                    {{msg.AuthorLabel.split(' ')[0]}}
                    <span class="text-bold you-tag">
                        (VOC&Ecirc;)
                    </span>
                </strong>
                &dot;
                <span class="text-secondary chat-msg-timestamp">
                    {{moment(msg.Timestamp).fromNow()}}
                </span>
            </p>
          </li>
        </ul>
        <!--
        <div style="height:50px;background-image: url('<%=STATIC_PATH%>/img/emoji-91-40_b8ae509.webp');" 
            class="etx-emoji-smiley">
        </div>
        -->
    </div>

    <div class="col-12 rs-padding" 
        style="background-color:#fff;border: 1px solid #ccc;box-shadow: 0px 0px 2px rgba(0,0,0,.3);border-top:0px;">
        <div class="panel-body" style="padding:0px;">
            <form name="msgForm" 
                ng-submit="sendMsg(msgForm, '<%=compobj.id%>')">
                <button class="btn btn-success text-white pull-right text-bold"
                    ng-disabled="sending_msg"
                    style="border-radius:0px;"
                    ng-click="sendPaymentMsg(msgForm, '<%=compobj.id%>')"
                    type="button">
                    <span class="fa fa-usd"></span>
                    CVE
                </button>
                <button class="btn btn-success text-white pull-right"
                    ng-click="sendImage()"
                    style="margin-right:5px;border-radius:0px;"
                    type="button">
                    <span class="fa fa-image"></span>
                </button>

                <button class="btn btn-success text-white pull-left"
                    ng-disabled="sending_msg"
                    style="border-radius:0px;"
                    type="submit">
                    <span class="fa fa-send"></span>
                </button>

                <div class="form-group" 
                    style="width:80%;display: inline-table;margin-bottom:0px;">
                    <input type="text" 
                        class="form-control"
                        placeholder="Aa"
                        required
                        style="border-radius:0px;"
                        ng-disabled="sending_msg"
                        ng-model="chatObj.content"
                    />
                </div>
                <!--
                <p class="text-secondary "
                    style="margin:0px;padding:10px;padding-top:4px;">Enter para enviar</p>
                -->
            </form>
        </div>
    </div>
</div>