<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12" style="">
        <div class="alert alert-warning" ng-if="loading_instance">
            <h3 class=""
                style="color:#333;">
                <span class="fa-spin fa fa-refresh text-warning "></span>
                <span class="text-secondary text-bold">
                HOLD ON
                </span>
            </h3>
        </div>

        <h3 class="" 
            ng-init="loadUser('<%=compobj.id%>')"
            style="">
            ENTERSTARTS FEEDS SYSTEM<br/>
            <small class="text-bold etx-secondary" style="font-size:15px;">
                <span class="fa fa-key"></span>
                {{feedInstance.itemKey}}
            </small>
            <br/>
            <small class="text-success" 
                style="font-size:15px;">
                {{feedInstance.lastUpdate}}
            </small>
        </h3>

        <button class="btn-warning btn-round btn-sm"
            ng-click="loadFeedInstance('<%=compobj.id%>')"
            ng-disabled="loading_instance"
            style="color:#333;">
            <span class="fa fa-refresh"></span>
            REFRESH
        </button>

        <div class="">
            <!--
            <h3>
                <span class="text-success fa fa-lock"></span>
                {{authUser.name}}
            </h3>
            <h3 class="text-secondary">{{authUser.email}}</h3>
            <h3>
                <span class="fa fa-user"></span>
                USER_ID={{authUser.id}}
                <br/>
                APP_ID=<%= compobj.fields[$PCF.webapp_id]%>
            </h3>
            -->
        </div>


    </div>

    <div class="col-12" style="min-height:400px;">
        <div role="tabpanel"
            ng-init="loadFeedInstance('<%=compobj.id%>')">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-loading-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        LOADING
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        FEED
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-msg-<%=compobj.id%>" 
                        aria-controls="etx-feed-msg-<%=compobj.id%>"
                        class="nav-link active"
                        role="tab" data-toggle="tab">
                        CONVERSATIONS
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#etx-feed-profile-<%=compobj.id%>" 
                        aria-controls="etx-feed-profile-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        PROFILE
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-groups-<%=compobj.id%>" 
                        aria-controls="etx-feed-groups-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        GROUPS
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-live-<%=compobj.id%>" 
                        aria-controls="etx-feed-live-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        LIVE STREAM
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-admin-<%=compobj.id%>" 
                        aria-controls="etx-feed-admin-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        <span class="fa fa-cog"></span>
                        FEED ADMIN
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane " id="etx-feed-loading-<%=compobj.id%>">
                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;">
                        <span class="fa fa-refresh text-warning "></span>
                        <br/>
                        <span class="text-secondary text-bold">
                        HOLD ON
                        </span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane  " id="etx-feed-<%=compobj.id%>">
                    <!-- <h3>ETX FEED (elId=#etx-feed-<%=compobj.id%>)</h3> -->
                    <!-- {{user_app_profile}} -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                    width="50px"
                                    class="pull-left"
                                    style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                />
                                {{user_app_profile.Profile.UserName}}
                            </h3>
                        </div>

                        <div class="panel-body">
                            <form name="postForm" 
                                ng-submit="publishPost(postForm)">
                                <div class="form-group">
                                    <textarea class="form-control"
                                        placeholder="What's happening?"
                                        required ng-model="newPost.content" rows="3"></textarea>
                                </div>
                                <button class="btn btn-success btn-round text-white"
                                    type="submit">
                                    <!-- {{user_app_profile.Profile.UserName}} -->
                                    <span class="fa fa-send"></span>
                                </button>
                            </form>
                        </div>
                    </div>


                    <div class="row rs-margin">
                        <div class="col-8">
                            <!-- <h3>POST LIST HERE</h3> -->
                        </div>
                        
                        <div class="col-4">
                            <h3>News</h3>
                            <h3>Populares</h3>
                            <h3>Recentes</h3>
                            <h3>Listas</h3>
                            <h3>Grupos</h3>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane active" id="etx-feed-msg-<%=compobj.id%>">
                    <div class="row rs-margin"
                        style="background-color: #676735;">
                        <div class="col-12"
                            style="padding:10px;background-color:#fff;">
                            <h3 class="text-secondary">CONVERSATIONS</h3>
                        </div>
                        <div class="col-12"
                            style="background:url('<%=STATIC_PATH%>/img/bg-chat-tile.png');height:500px;">

                        </div>

                        <div class="col-12">
                            <div class="panel-body">
                                <form name="msgForm" 
                                    ng-submit="sendMsg(msgForm)">
                                    <div class="form-group">
                                        <input type="text" 
                                            class="form-control"
                                            placeholder="Aa"
                                            required
                                            ng-model="chatObj.msg"
                                        />
                                    </div>
                                    <button class="btn btn-success btn-round text-white"
                                        type="submit">
                                        <span class="fa fa-send"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane " id="etx-feed-profile-<%=compobj.id%>">
                    <h4>YOUR PROFILE</h4>

                    <div ng-init="loadProfile('<%=compobj.id%>')"></div>

                    <div class="alert alert-warning" ng-if="loading_profile||saving_profile">
                        <h3 class=""
                            style="color:#333;">
                            <span class="fa-spin fa fa-refresh text-warning "></span>
                            <span class="text-secondary text-bold">
                            HOLD ON
                            </span>
                        </h3>
                    </div>

                    <div class="alert alert-success" 
                        ng-if="profile_saved">
                        <h3 class=""
                            style="color:#333;">
                            <span class="text-secondary text-bold">
                                SUCCESSFULLY UPDATED
                            </span>
                        </h3>
                    </div>


                    <div ng-if="user_app_profile">
                        <button class="btn-primary btn-round btn-sm text-white "
                            ng-click="loadProfile('<%=compobj.id%>')"
                            ng-disabled="loading_profile"
                            style="color:#333;">
                            <span class="fa fa-refresh"></span>
                            REFRESH PROFILE
                        </button>

                        <button class="btn-primary btn-round btn-sm text-white "
                            ng-click="enableEditProfile()"
                            ng-if="!edit_profile"
                            style="color:#333;">
                            <span class="fa fa-edit"></span>
                            EDIT PROFILE
                        </button>

                        <code>
                            {{user_app_profile}}
                        </code>
                    </div>

                    <div ng-if="edit_profile">
                        <form name="pForm" 
                            ng-submit="updateProfile(pForm)">
                            <div class="form-group">
                                <label>
                                    <strong>
                                        Your name
                                    </strong>
                                </label>
                                <input type="text" class="form-control" 
                                    required
                                    ng-model="editprofileObj.name"
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    <strong>
                                        Your Phone
                                    </strong>
                                </label>
                                <input type="number" class="form-control" 
                                    required
                                    ng-model="editprofileObj.phone"
                                />
                            </div>
                            <div class="form-group">
                                <label><strong>BIO</strong></label>
                                <textarea class="form-control"
                                    ng-model="editprofileObj.bio" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success text-bold btn-round"
                                ng-disabled="saving_profile">
                                <span ng-if="!saving_profile">
                                    SAVE
                                </span>
                                <span ng-if="saving_profile">
                                    HOLD ON
                                </span>
                            </button>
                            <button type="button" class="btn btn-danger text-bold btn-round"
                                ng-click="disableEditProfile()">
                                CANCEL
                            </button>
                        </form>

                        <button class="btn-danger btn-round btn-sm text-white"
                            ng-click="deleteProfile('<%=compobj.id%>')"
                            ng-disabled="loading_profile"
                            style="color:#333;">
                            <span class="fa fa-trash"></span>
                            DELETE PROFILE
                        </button>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="etx-feed-live-<%=compobj.id%>">
                    <h3>LIVE STREAM (elId=#etx-feed-live-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-groups-<%=compobj.id%>">
                    <h3>GROUPS (elId=#etx-feed-groups-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-admin-<%=compobj.id%>">
                    <table class="table table-stripped"
                        ng-if="feedInstance">
                        <tbody>
                            <tr>
                                <td>
                                    Instance Key
                                </td>
                                <td>
                                    <span class="text-danger text-bold">
                                        {{feedInstance.itemKey}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    appId
                                </td>
                                <td>
                                    {{feedInstance.appId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    compId
                                </td>
                                <td>
                                    {{feedInstance.compId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    pageId
                                </td>
                                <td>
                                    {{feedInstance.pageId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ORG-ID:
                                </td>
                                <td>
                                    {{feedInstance.orgId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TTL
                                </td>
                                <td>
                                    {{feedInstance.ttl}} seconds
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Criado em
                                </td>
                                <td>
                                    {{feedInstance.createdAt}}<br/>
                                    <strong>por:</strong> 
                                    {{feedInstance.createdBy}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &Uacute;ltimo Update
                                </td>
                                <td>
                                    {{feedInstance.lastUpdate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>

        </div>
    </div>
</div>


