<h4>YOUR PROFILE</h4>

<div ng-init="loadProfile('<%=compobj.id%>')"></div>

<div class="alert alert-warning" ng-if="loading_profile||saving_profile">
<h3 class=""
    style="color:#333;">
    <span class="fa-spin fa fa-refresh text-warning "></span>
    <span class="text-secondary text-bold">
    HOLD ON
    </span>
</h3>
</div>

<div class="alert alert-success" 
ng-if="profile_saved">
<h3 class=""
    style="color:#333;">
    <span class="text-secondary text-bold">
        SUCCESSFULLY UPDATED
    </span>
</h3>
</div>


<div ng-if="user_app_profile">
<button class="btn-primary btn-round btn-sm text-white "
    ng-click="loadProfile('<%=compobj.id%>')"
    ng-disabled="loading_profile"
    style="color:#333;">
    <span class="fa fa-refresh"></span>
    REFRESH PROFILE
</button>

<button class="btn-primary btn-round btn-sm text-white "
    ng-click="enableEditProfile()"
    ng-if="!edit_profile"
    style="color:#333;">
    <span class="fa fa-edit"></span>
    EDIT PROFILE
</button>
</div>

<div ng-if="edit_profile">
<form name="pForm" 
    ng-submit="updateProfile(pForm)">
    <div class="form-group">
        <label>
            <strong>
                First name 
                <span class="text-secondary">(Can change later)</span>
            </strong>
        </label>
        <input type="text" class="form-control" 
            ng-disabled="true"
            ng-model="editprofileObj.name"
        />
    </div>
    <div class="form-group">
        <label>
            <strong>
                Your Phone
                <span class="text-secondary">
                    (can change every 48h)
                </span>
            </strong>
        </label>
        <input type="number" class="form-control" 
            required
            ng-model="editprofileObj.phone"
        />
    </div>
    <div class="form-group">
        <label><strong>BIO</strong></label>
        <textarea class="form-control"
            ng-model="editprofileObj.bio" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-success text-bold btn-round"
        ng-disabled="saving_profile">
        <span ng-if="!saving_profile">
            SAVE
        </span>
        <span ng-if="saving_profile">
            HOLD ON
        </span>
    </button>
    <button type="button" class="btn btn-danger text-bold btn-round"
        ng-click="disableEditProfile()">
        CANCEL
    </button>
</form>

<button class="btn-danger btn-round btn-sm text-white"
    ng-click="deleteProfile('<%=compobj.id%>')"
    ng-disabled="loading_profile"
    style="color:#333;opacity:.4;">
    <span class="fa fa-trash"></span>
    DELETE PROFILE
</button>
</div>
