<div role="tabpanel" ng-controller="x99Billings"
    class="etx-tips-container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="display:none">
    <li role="presentation" class="nav-item">
        <a href="#chat-tips-loading-<%=compobj.id%>" 
            aria-controls="chat-tips-loading-<%=compobj.id%>" 
            class="nav-link active"
            role="tab" data-toggle="tab">
            Home
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#chat-tips-main-<%=compobj.id%>" 
            aria-controls="chat-tips-main-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Main
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#chat-tips-payment-<%=compobj.id%>" 
            aria-controls="chat-tips-payment-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Tips Confirmation
        </a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="chat-tips-loading-<%=compobj.id%>">
        <div class="text-center tip-welcome" >
            <!--
            <button class="btn btn-secondary text-white btn-lg"
                type="button"
                ng-click="openTab('chat-comp-main-<%=compobj.id%>')">
                <span class="fa fa-chevron-left"></span>
                BACK
            </button>
            -->

            <h3>WELCOME, IN THIS SCREEN YOU CAN SEND US A TIP</h3>
            <h3>Thank You</h3>
            <button class="btn btn-success text-white btn-lg"
                type="button"
                ng-bind="'CONTINUAR'"
                ng-click="BeginTipJourney('<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')">
            </button>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane " id="chat-tips-main-<%=compobj.id%>">
        <div class="row rs-margin">
            <div class="col-12">
                <div class="card-body text-center" style="padding-top:15px;"
                    ng-if="loading_billing">
                    <span class="fa fa-refresh fa-spin text-warning" 
                        style="font-size:55px;margin-top:15px;"></span>

                    <h4 class="card-title" style="font-weight:bold;">
                        Processando...
                    </h4>
                </div>

                <div class="card-body text-center" style="padding-top:15px;"
                    ng-if="billing_success">
                    <span class="fa fa-check text-success" 
                        style="font-size:55px;margin-top:15px;"></span>

                    <h4 class="card-title" style="font-weight:bold;">
                        Pronto para pagamento
                    </h4>
                </div>

                <div class="alert alert-danger" 
                    id="error-area-a3e98b847c0648e8"
                    style="padding-top:15px;border-radius:0px;"
                    ng-if="billing_error">
                    <h3 style="color:#333;">Nao foi possivel concluir a opera&ccedil;&atilde;o.</h3>
                    <p ng-repeat="e in billing_error">{{e}}</p>
                </div>

                <!--
                <h3>
                    payment_conf_obj=
                    <%= 
                        JSON.stringify(compobj.payment_conf_obj)
                    %>
                </h3>
                -->

                <form ng-submit="saveClientBilling(billingForm, 'LIVE_TIP','<%= compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"
                    method="get"
                    name="billingForm">

                    <div class="row rs-margin tip-payment-container" >
                        <div class="col-8">
                            <div class="form-group">
                                <label>Conta de pagamento</label>
                                <select class="form-control" ng-model="billingObj.merchant_id">
                                    <%= 
                                        compobj.payment_conf_obj.list.map(function(EL){
                                            return '<option value="'+EL.id+'">'+
                                                EL.description+
                                                '['+EL.account_type+','+EL.id+']'+
                                                '</option>'
                                        }).join("")
                                    %>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Montante
                                </label>
                                <input type="number" class="form-control" 
                                    placeholder="2.25$"
                                    required
                                    ng-model="billingObj.amount"
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    SUA MENSAGEM
                                </label>
                                <textarea class="form-control" 
                                    placeholder="Aa"
                                    required
                                    ng-model="billingObj.description"
                                ></textarea>
                            </div>
                        </div>
                        <div class="col-12 " 
                            style="padding:10px;"
                            ng-show="!more_details">
                            <button type="button" 
                                class="btn btn-secondary btn-round text-bold btn-sm "
                                ng-click="more_details=true">
                                MAIS DETALHES
                            </button>
                        </div>

                        <div class="col-12" ng-show="more_details">
                            <button type="button" 
                                class="btn btn-danger btn-round text-bold btn-sm "
                                ng-click="more_details=false">
                                ESCONDER
                            </button>

                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    nif (opcional)
                                </label>
                                <input type="number" class="form-control" 
                                    placeholder="1232"
                                    ng-model="billingObj.nif"
                                />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    referral_code (opcional)
                                </label>
                                <input type="text" class="form-control" 
                                    placeholder="abc-982"
                                    ng-model="billingObj.referral_code"
                                />
                            </div>

                        </div>
                    </div>


                    <button class="btn btn-secondary text-white btn-lg"
                        type="button"
                        ng-click="TipsMain('<%=compobj.id%>')">
                        <span class="fa fa-chevron-left"></span>
                    </button>


                    <button type="submit" class="btn btn-success btn-round text-bold btn-lg "
                        ng-disabled="loading_billing&&!billing_error">
                        CONTINUAR 
                        <!-- <span class="fa fa-arrow-right"></span> -->
                    </button>

                </form>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="chat-tips-payment-<%=compobj.id%>">
        <!-- 
        <div ng-if="enable_payment"> 
        enable_payment={{enable_payment}}
        currentBillingtx={{currentBillingtx}}
        -->

        <div class="row rs-margin" class="chat-tip-waiting">

            <!-- LOADING AREA -->
            <div class="col-12 text-center" style="padding:10px;">
                <button class="btn btn-success text-white btn-lg"
                    type="button"
                    ng-click="VerifyBilling()">
                    <span class="fa fa-refresh"></span>
                    VERIFICAR
                </button>

                <div class="card-body text-center"
                    ng-if="is_payed && paymentTxFinale"
                    style="padding-top:15px;">
                    <h3 class="text-success">
                        <span class="fa fa-check-circle"
                            style="font-size:77px;"></span>
                        <br/>
                        PAGO COM SUCESSO
                    </h3>
                    <a href="{{currentBillingtx.payment_link}}" target="__blank" class="">
                        <p class="card-title text-underlined" style="font-weight:bold;">
                            VER RECIBO {{paymentTxFinale.id.slice(0,6)}}
                        </p>
                    </a>
                    <p class="etx-text-secondary" >
                        Foi enviado um email para <strong>{{currentBillingtx.email}}</strong><br/>
                        Verifique que o email nao foi para o spam
                    </p>

                    <button class="btn btn-secondary btn-round text-white btn-lg btn-round"
                        type="button"
                        ng-click="TipsIsDone('<%=compobj.id%>')">
                        <span class="fa fa-check"></span>
                        DONE
                    </button>
                </div>
            </div>

            <div class="col-12 text-center">
                <div class="alert alert-warning"
                    style="padding:30px;background:transparent;border-radius:0px;"
                    ng-if="frame_is_loading">
                    <h3 style="color:#333;">
                        <span class="text-warning fa fa-refresh fa-spin"></span>
                        AGUARDE
                    </h3>
                </div>
            </div>

            <div class="col-12 rs-padding" id="iframe_payment_index" 
                ng-show="!frame_is_loading">
                <!--
                <iframe 
                    id="iframe_payment"
                    style="border:0px;"
                    height="800px" width="100%"></iframe>
                -->
            </div>
        </div>
    </div>

  </div>

</div>




