<div role="tabpanel" >

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="display:none">
    <li role="presentation" class="nav-item">
        <a href="#chat-comp-loading-<%=compobj.id%>" 
            aria-controls="chat-comp-loading-<%=compobj.id%>" 
            class="nav-link active"
            role="tab" data-toggle="tab">
            Home
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#chat-comp-main-<%=compobj.id%>" 
            aria-controls="chat-comp-main-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Main
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#chat-comp-tipx-<%=compobj.id%>" 
            aria-controls="chat-comp-tipx-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Tips
        </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane " id="chat-comp-tipx-<%=compobj.id%>">
        __tipsComp__
    </div>

    <div role="tabpanel" class="tab-pane active" id="chat-comp-loading-<%=compobj.id%>">
        <div class="alert alert-danger etx-loading-error" ng-if="streamming_msg_error">
            <h3 ng-bind="'Não foi possivel carregar o chat.'"></h3>
            <p ng-repeat="err in streamming_msg_error"
                ng-bind="err">
            </p>

            <button class="btn btn-success text-white btn-lg"
                type="button"
                ng-bind="'TENTE NOVAMENTE'"
                ng-disabled="connecting_chan"
                ng-click="ChatCompStreamMessages('<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')">
            </button>
        </div>

        <div class="etx-loading-element text-center">
            <!--
            <h3>
                <span class="fa fa-video"></span>
                <%= compobj.fields[$PCF.descr_df]%>
                |
                <%= compobj.fields[$PCF.title_df]%>
            </h3>
            -->
            <h3 class="loading-spinner">
                <span class="fa fa-refresh etx-text-warning fa-spin"
                    style="font-size:55px;"></span>
            </h3>
            <h3 class="loading-title etx-text-secondary">
                LOADING CHAT
            </h3>
        </div>

        <div ng-init="VerifyUser('<%=compobj.id%>')"></div>
        <div ng-init="ChatCompStreamMessages('<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"> </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="chat-comp-main-<%=compobj.id%>">
        <div class="row rs-margin"
            style="background-color: #676735;">
            <div class="col-12 channel-header"
                style="padding:10px;background-color:#fff;">

                <!-- <h3>CHAT SYSTEM</h3> -->

                <button class="btn-success btn-round btn-sm text-white text-center "
                    ng-click="opentab('chat-comp-tipx-<%=compobj.id%>')"
                    style="color:#333;">
                    TIPS
                </button>

                <button class="btn-primary btn-round btn-sm text-white text-center "
                    ng-click="ChatCompStreamMessages( '<%=compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"
                    ng-disabled="streamming_channel"
                    style="color:#333;">
                    <span ng-if="streamming_channel">
                        <span class="fa fa-refresh fa-spin"></span>
                    </span>
                    <span ng-if="!streamming_channel">
                        <span class="fa fa-refresh"></span>
                    </span>
                </button>
                <h3 class="text-secondary hidden" style="margin:0px;">
                    <!--
                    Welcome
                    <span class="fa fa-user"></span>
                    <span style="color:#333">
                        {{user_app_profile.Profile.UserName}}
                    </span>
                    <span class="text-secondary" style="font-size:14px;">
                    ({{user_app_profile.UserId}})
                    </span>

                    <span class="text-success" style="font-size:14px;">
                    ({{user_app_profile.Profile.Email}})
                    </span>-
                    -->

                </h3>

            </div>

            <div class="col-12 chat-container"
                style="background:url('<%=STATIC_PATH%>/img/bg-chat-tile.png');">

                <div class="time text-center text-white">
                    <h4 class="text-white"
                        style="background-color:#000;opacity:.7;border-radius:10px;">
                        <span class="fa fa-clock"></span>
                        {{moment().format("DD MM YYYY at HH:mm")}}
                    </h4>
                </div>

                <div class="list-group chat-msg-container"
                    style="margin-bottom:150px;">
                  <div title="{{msg.Timestamp}} - {{msg.AuthorLabel}} - '{{msg.Content}}'"
                    ng-class="{'list-group-item chat-msg-instance':true, 'from-me':msg.FromUserId==authUser.id} " 
                    ng-repeat="msg in streamMsgs.Items">
                    <!-- <span>msg.MsgType={{msg.MsgType}}</span> -->
                    <div class="chat-msg-payment-instance" style="" 
                        ng-if="msg.MsgType=='PAYMENT_VINTI4'">
                        <p style="margin:0px;font-size:16px;"
                            class="text-bold chat-msg-payment-verified">
                            <span class="fa fa-shield"></span>
                            PAG.
                            VERIFICADO 

                            <a href="" class="text-bold"
                                style="font-size:12px;">
                                (VER FATURA)
                            </a>
                        </p>
                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png" class="text-center" style="width:20px;margin-right:10px;">
                        <img src="<%=WS_HOST%>/img/payment-img/visacard.png" class="text-center" style="width:25px;margin-right:10px;">
                        <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png" class="text-center" style="width:27px;margin-right:10px;">
                        <img src="<%=WS_HOST%>/img/payment-img/mastercard.png" class="text-center" style="width:29px;">
                        <p style="margin:0px;font-size:16px"
                            class="text-bold text-secondary chat-msg-payment-descr">
                            {{msg.Content}}
                        </p>
                    </div>
                    <p style="margin:0px"
                        ng-if="msg.MsgType!='PAYMENT_VINTI4'"
                        class=" chat-msg-normal">
                        {{msg.Content}}
                    </p>

                    <div ng-if="msg.cover_img"  
                        ng-click="openChatObj(msg, 'chatMessageModal-<%=compobj.id%>')"
                        style="background-size: cover;background-image:url('{{msg.cover_img}}');">
                        <p style="height:200px;margin:0px;background: rgba(0,0,0,.7);" class="text-center">
                            <span class="fa fa-eye text-white "
                                style="font-size:30px;padding-top:70px;"></span>
                        </p>
                    </div>

                    <p style="margin:0px;font-size:13px;"
                        class="chat-msg-author">
                        <strong class="xname" style="font-size:15px;color:#{{msg.FromUserId.slice(0,6)}}">
                            {{msg.AuthorLabel.split(' ')[0]}}
                            <span class="text-bold you-tag">
                                (VOC&Ecirc;)
                            </span>
                        </strong>
                        &dot;
                        <span class="text-secondary chat-msg-timestamp">
                            {{moment(msg.Timestamp).fromNow()}}
                        </span>
                    </p>
                  </div>
                </div>
                <!--
                <div style="height:50px;background-image: url('<%=STATIC_PATH%>/img/emoji-91-40_b8ae509.webp');" 
                    class="etx-emoji-smiley">
                </div>
                -->
            </div>

            <div class="col-12 rs-padding" 
                style="background-color:#fff;border: 1px solid #ccc;box-shadow: 0px 0px 2px rgba(0,0,0,.3);border-top:0px;">
                <div class="panel-body" style="padding:0px;">
                    <form name="msgForm" 
                        ng-submit="sendMsg(msgForm, '<%=compobj.fields[$PCF.descr_df]%>')">
                        <button class="btn btn-success text-white pull-right text-bold"
                            ng-disabled="sending_msg"
                            style="border-radius:0px;"
                            ng-click="sendPaymentMsg(msgForm, '<%=compobj.id%>')"
                            type="button">
                            <span class="fa fa-usd"></span>
                            CVE
                        </button>
                        <button class=" pull-right"
                            ng-click="sendImage()"
                            style="margin-right:5px;border-radius:0px;"
                            type="button">
                        </button>

                        <div class="button btn btn-success text-white cursor-pointer" 
                            ngf-pattern="'image/*'"
                            ngf-accept="'image/*'" ngf-max-size="3MB"
                            ngf-select="uploadChatMedia(msgForm, $file, '<%=compobj.fields[$PCF.descr_df]%>')">
                            <span class="fa fa-image"></span>
                        </div>

                        <button class="btn btn-success text-white pull-left"
                            ng-disabled="sending_msg"
                            style="border-radius:0px;"
                            type="submit">
                            <span class="fa fa-send"></span>
                        </button>

                        <div class="form-group" 
                            style="width:80%;display: inline-table;margin-bottom:0px;">
                            <input type="text" 
                                class="form-control"
                                placeholder="Aa"
                                required
                                style="border-radius:0px;"
                                ng-disabled="sending_msg"
                                ng-model="chatObj.content"
                            />
                        </div>
                        <!--
                        <p class="text-secondary "
                            style="margin:0px;padding:10px;padding-top:4px;">Enter para enviar</p>
                        -->
                    </form>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal  fade" id="chatMessageModal-<%=compobj.id%>" 
                    ng-init="initModal('chatMessageModal-<%=compobj.id%>')"
                    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" style="border-radius:0px;">
                <div class="modal-content" style="border-radius:0px;padding:0px;">
                  <div class="modal-body" ng-if="currentChatObj">
                    <h3>
                        {{currentChatObj.AuthorLabel}}
                        {{currentChatObj.Content}}
                        <br/>
                        {{currentChatObj.Timestamp}}
                    </h3>

                    <div ng-if="currentChatObj.Media.length>0"
                            style="max-width:100%;overflow:hidden;">
                        <img ng-src="{{currentChatObj.Media[0].download_url}}" style="width:100%;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>

</div>




