<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12" style="">
        <div class="alert alert-warning" ng-if="loading_instance">
            <h3 class=""
                style="color:#333;">
                <span class="fa-spin fa fa-refresh text-warning "></span>
                <span class="text-secondary text-bold">
                HOLD ON
                </span>
            </h3>
        </div>


        <div class="">
            <!--
            <h3>
                <span class="text-success fa fa-lock"></span>
                {{authUser.name}}
            </h3>
            <h3 class="text-secondary">{{authUser.email}}</h3>
            <h3>
                <span class="fa fa-user"></span>
                USER_ID={{authUser.id}}
                <br/>
                APP_ID=<%= compobj.fields[$PCF.webapp_id]%>
            </h3>
            -->
        </div>
    </div>

    <div class="col-12" style="min-height:400px;">
        <div role="tabpanel"
            ng-init="loadFeedInstance('<%=compobj.id%>')">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-loading-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        LOADING
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        FEED
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-msg-<%=compobj.id%>" 
                        aria-controls="etx-feed-msg-<%=compobj.id%>"
                        class="nav-link active"
                        role="tab" data-toggle="tab">
                        CONVERSATIONS
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#etx-feed-profile-<%=compobj.id%>" 
                        aria-controls="etx-feed-profile-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        PROFILE
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-groups-<%=compobj.id%>" 
                        aria-controls="etx-feed-groups-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        GROUPS
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-live-<%=compobj.id%>" 
                        aria-controls="etx-feed-live-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        LIVE STREAM
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-feed-admin-<%=compobj.id%>" 
                        aria-controls="etx-feed-admin-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        <span class="fa fa-cog"></span>
                        FEED ADMIN
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane " id="etx-feed-loading-<%=compobj.id%>">
                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;">
                        <span class="fa fa-refresh text-warning "></span>
                        <br/>
                        <span class="text-secondary text-bold">
                        HOLD ON
                        </span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane " id="etx-feed-<%=compobj.id%>">
                    <!-- <h3>ETX FEED (elId=#etx-feed-<%=compobj.id%>)</h3> -->
                    <!-- {{user_app_profile}} -->

                    <div class="row rs-margin">
                        <div class="col-8">
                            <!-- <h3>POST LIST HERE</h3> -->

                            <div class="text-center"
                                style="padding-top:15px;">

                                <button class="btn btn-success btn-round text-white"
                                    ng-disabled="streamming_feed"
                                    ng-click="streamFeed('<%=compobj.id%>')"
                                    type="button">
                                    <span ng-if="streamming_feed">
                                        <span class="fa fa-refresh fa-spin"></span>
                                    </span>
                                    <span ng-if="!streamming_feed">
                                    STREAM
                                    </span>
                                </button>
                            </div>

                            <div class="panel panel-default cursor-pointer"
                                style="background-color:#fff;margin-bottom:10px;border: 1px solid #ccc;"
                                ng-repeat="post in streamPosts.Items">
                                <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                    width="40px"
                                    class="pull-left"
                                    style="border-radius:50px;margin-right:15px;margin-top:10px;margin-right:10px;margin-left:15px;"
                                />
                              <div class="panel-body">
                                <h3 title="{{post.Timestamp}}" 
                                    style="margin:0px"> 
                                    <span style="font-size:20px;">
                                        {{post.AuthorLabel|uppercase}}
                                    </span>
                                     <!-- - {{post.Timestamp}} -->
                                </h3>
                                <h3 title="{{post.Timestamp}}" 
                                    style="margin:0px"> 
                                     <span class="text-secondary"
                                        style="font-size:16px;">
                                        {{moment(post.Timestamp).fromNow()}}
                                     </span>
                                     <!-- - {{post.Timestamp}} -->
                                </h3>
                                <div class="post-content" style="padding-left:20px;padding-top:15px;">
                                    <p class=""
                                        >{{post.Title|uppercase}}</p>
                                <!--                                     
                                <div style="height:50px;background-image: url('<%=STATIC_PATH%>/img/emoji-91-40_b8ae509.webp');" 
                                        class="etx-emoji-smiley">
                                    </div>
                                --> 
                               </div>
                                <!-- <h3>{{post.UserId}}</h3> -->
                                <!-- <h3>Image={{post.UserImage}}</h3> -->
                              </div>
                            </div>

                        </div>
                        
                        <div class="col-4">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                            width="50px"
                                            class="pull-left"
                                            style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                                        />
                                        {{user_app_profile.Profile.UserName}}
                                    </h3>
                                </div>

                                <div class="panel-body">
                                    <form name="postForm" 
                                        ng-submit="publishPost(postForm, '<%=compobj.id%>')">
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                ng-disabled="publishing"
                                                placeholder="What's happening?"
                                                required ng-model="newPost.content" rows="3"></textarea>
                                        </div>
                                        <button class="btn btn-success btn-round text-white"
                                            ng-disabled="publishing"
                                            type="submit">
                                            <!-- {{user_app_profile.Profile.UserName}} -->
                                            <span class="fa fa-send" ng-if="!publishing"></span>

                                            <span class="" ng-if="publishing">
                                                <span class="fa fa-refresh fa-spin"></span>
                                                HOLD ON
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <h3>News</h3>
                            <h3>Populares</h3>
                            <h3>Recentes</h3>
                            <h3>Listas</h3>
                            <h3>Grupos</h3>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane active " id="etx-feed-msg-<%=compobj.id%>"
                    ng-init="loadUser('<%=compobj.id%>')">
                    <div class="row rs-margin">
                        <div class="col-12">
                            <!--
                            <img src="<%=STATIC_PATH%>/img/emoji-91-40_b8ae509.webp"
                                width="200px"
                                class="pull-left"
                                style=""
                            />
                        -->                            <!--
                            <h3>Feed Channels</h3>
                            <h4>My Channels</h4>
                            <ul class="list-group">
                              <li class="list-group-item">Channel 1</li>
                              <li class="list-group-item">Channel 2</li>
                              <li class="list-group-item">Channel 3</li>
                              <li class="list-group-item">Channel 4</li>
                              <li class="list-group-item">Channel 5</li>
                            </ul>
                            -->
                        </div>

                    </div>

                    <div class="row rs-margin"
                        style="background-color: #676735;">
                        <div class="col-12 channel-header"
                            style="padding:10px;background-color:#fff;">

                            <button class="btn-primary btn-round btn-sm text-white text-center pull-right"
                                ng-click="streamMessages('<%=compobj.id%>')"
                                ng-disabled="streamming_channel"
                                style="color:#333;">
                                <span ng-if="streamming_channel">
                                    <span class="fa fa-refresh"></span>
                                    HOLD ON
                                </span>
                                <span ng-if="!streamming_channel">
                                    REFRESH
                                </span>
                            </button>

                            <h3 class="text-secondary" style="margin:0px;">
                                <span class="fa fa-user"></span>
                                <span style="color:#333">
                                    {{user_app_profile.Profile.UserName}}
                                </span>
                                <span class="text-secondary" style="font-size:14px;">
                                ({{user_app_profile.UserId}})
                                </span>

                                <span class="text-success" style="font-size:14px;">
                                ({{user_app_profile.Profile.Email}})
                                </span>
                            </h3>
                        </div>

                        <div class="col-12 chat-container"
                            style="background:url('<%=STATIC_PATH%>/img/bg-chat-tile.png');">

                            <div class="time text-center text-white">
                                <h4 class="text-white"
                                    style="background-color:#000;opacity:.7;border-radius:10px;">
                                    <span class="fa fa-clock"></span>
                                    {{moment().format("DD MM YYYY at HH:mm")}}
                                </h4>
                            </div>

                            <ul class="list-group chat-msg-container"
                                style="margin-bottom:150px;">
                              <li 
                                title="{{msg.Timestamp}} - {{msg.AuthorLabel}} - '{{msg.Content}}'"
                                ng-class="{'list-group-item chat-msg-instance':true, 'from-me':msg.FromUserId==authUser.id} " 
                                ng-repeat="msg in streamMsgs.Items">
                                <!-- <span>msg.MsgType={{msg.MsgType}}</span> -->
                                <div class="chat-msg-payment-instance" style="" 
                                    ng-if="msg.MsgType=='PAYMENT_VINTI4'">
                                    <p style="margin:0px;font-size:16px;"
                                        class="text-bold chat-msg-payment-verified">
                                        <span class="fa fa-shield"></span>
                                        PAG.
                                        VERIFICADO 

                                        <a href="" class="text-bold"
                                            style="font-size:12px;">
                                            (VER FATURA)
                                        </a>
                                    </p>
                                    <img src="<%=WS_HOST%>/img/payment-img/vinti4.png" class="text-center" style="width:20px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/visacard.png" class="text-center" style="width:25px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png" class="text-center" style="width:27px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/mastercard.png" class="text-center" style="width:29px;">
                                    <p style="margin:0px;font-size:16px"
                                        class="text-bold text-secondary chat-msg-payment-descr">
                                        {{msg.Content}}
                                    </p>
                                </div>
                                <p style="margin:0px"
                                    ng-if="msg.MsgType!='PAYMENT_VINTI4'"
                                    class=" chat-msg-normal">
                                    {{msg.Content}}
                                </p>
                                <p style="margin:0px;font-size:13px;"
                                    class="chat-msg-author">
                                    <strong class="xname" style="font-size:15px;color:#{{msg.FromUserId.slice(0,6)}}">
                                        {{msg.AuthorLabel.split(' ')[0]}}
                                        <span class="text-bold you-tag">
                                            (VOC&Ecirc;)
                                        </span>
                                    </strong>
                                    &dot;
                                    <span class="text-secondary chat-msg-timestamp">
                                        {{moment(msg.Timestamp).fromNow()}}
                                    </span>
                                </p>
                              </li>
                            </ul>
                            <!--                             <div style="height:50px;background-image: url('<%=STATIC_PATH%>/img/emoji-91-40_b8ae509.webp');" 
                                class="etx-emoji-smiley">
                            </div>
                            -->
                        </div>

                        <div class="col-12 rs-padding" style="background-color:#fff;border: 1px solid #ccc;box-shadow: 0px 0px 2px rgba(0,0,0,.3);">
                            <div class="panel-body" style="padding:10px;">
                                <form name="msgForm" 
                                    ng-submit="sendMsg(msgForm, '<%=compobj.id%>')">
                                    <button class="btn btn-success text-white pull-right"
                                        ng-disabled="sending_msg"
                                        style="border-radius:0px;"
                                        ng-click="sendPaymentMsg(msgForm, '<%=compobj.id%>')"
                                        type="button">
                                        <span class="fa fa-usd"></span>
                                        CVE
                                    </button>
                                    <button class="btn btn-success text-white pull-right"
                                        ng-click="sendImage()"
                                        style="margin-right:5px;border-radius:0px;"
                                        type="button">
                                        <span class="fa fa-image"></span>
                                    </button>

                                    <button class="btn btn-success text-white pull-left"
                                        ng-disabled="sending_msg"
                                        style="border-radius:0px;"
                                        type="submit">
                                        <span class="fa fa-send"></span>
                                    </button>

                                    <div class="form-group" 
                                        style="width:80%;display: inline-table;margin-bottom:0px;">
                                        <input type="text" 
                                            class="form-control"
                                            placeholder="Aa"
                                            required
                                            style="border-radius:0px;"
                                            ng-disabled="sending_msg"
                                            ng-model="chatObj.content"
                                        />
                                    </div>
                                    <p class="text-secondary "
                                        style="margin:0px;padding:0px;padding-top:4px;">Enter para enviar</p>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div role="tabpanel" class="tab-pane " id="etx-feed-profile-<%=compobj.id%>">
                    <h4>YOUR PROFILE</h4>

                    <div ng-init="loadProfile('<%=compobj.id%>')"></div>

                    <div class="alert alert-warning" ng-if="loading_profile||saving_profile">
                        <h3 class=""
                            style="color:#333;">
                            <span class="fa-spin fa fa-refresh text-warning "></span>
                            <span class="text-secondary text-bold">
                            HOLD ON
                            </span>
                        </h3>
                    </div>

                    <div class="alert alert-success" 
                        ng-if="profile_saved">
                        <h3 class=""
                            style="color:#333;">
                            <span class="text-secondary text-bold">
                                SUCCESSFULLY UPDATED
                            </span>
                        </h3>
                    </div>


                    <div ng-if="user_app_profile">
                        <button class="btn-primary btn-round btn-sm text-white "
                            ng-click="loadProfile('<%=compobj.id%>')"
                            ng-disabled="loading_profile"
                            style="color:#333;">
                            <span class="fa fa-refresh"></span>
                            REFRESH PROFILE
                        </button>

                        <button class="btn-primary btn-round btn-sm text-white "
                            ng-click="enableEditProfile()"
                            ng-if="!edit_profile"
                            style="color:#333;">
                            <span class="fa fa-edit"></span>
                            EDIT PROFILE
                        </button>

                        <code>
                            {{user_app_profile}}
                        </code>
                    </div>

                    <div ng-if="edit_profile">
                        <form name="pForm" 
                            ng-submit="updateProfile(pForm)">
                            <div class="form-group">
                                <label>
                                    <strong>
                                        Your name
                                    </strong>
                                </label>
                                <input type="text" class="form-control" 
                                    required
                                    ng-model="editprofileObj.name"
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    <strong>
                                        Your Phone
                                    </strong>
                                </label>
                                <input type="number" class="form-control" 
                                    required
                                    ng-model="editprofileObj.phone"
                                />
                            </div>
                            <div class="form-group">
                                <label><strong>BIO</strong></label>
                                <textarea class="form-control"
                                    ng-model="editprofileObj.bio" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success text-bold btn-round"
                                ng-disabled="saving_profile">
                                <span ng-if="!saving_profile">
                                    SAVE
                                </span>
                                <span ng-if="saving_profile">
                                    HOLD ON
                                </span>
                            </button>
                            <button type="button" class="btn btn-danger text-bold btn-round"
                                ng-click="disableEditProfile()">
                                CANCEL
                            </button>
                        </form>

                        <button class="btn-danger btn-round btn-sm text-white"
                            ng-click="deleteProfile('<%=compobj.id%>')"
                            ng-disabled="loading_profile"
                            style="color:#333;">
                            <span class="fa fa-trash"></span>
                            DELETE PROFILE
                        </button>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="etx-feed-live-<%=compobj.id%>">
                    <h3>LIVE STREAM (elId=#etx-feed-live-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-groups-<%=compobj.id%>">
                    <h3>GROUPS (elId=#etx-feed-groups-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-feed-admin-<%=compobj.id%>">
                    <table class="table table-stripped"
                        ng-if="feedInstance">
                        <tbody>
                            <tr>
                                <td>
                                    Instance Key
                                </td>
                                <td>
                                    <span class="text-danger text-bold">
                                        {{feedInstance.itemKey}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    appId
                                </td>
                                <td>
                                    {{feedInstance.appId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    compId
                                </td>
                                <td>
                                    {{feedInstance.compId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    pageId
                                </td>
                                <td>
                                    {{feedInstance.pageId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ORG-ID:
                                </td>
                                <td>
                                    {{feedInstance.orgId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TTL
                                </td>
                                <td>
                                    {{feedInstance.ttl}} seconds
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Criado em
                                </td>
                                <td>
                                    {{feedInstance.createdAt}}<br/>
                                    <strong>por:</strong> 
                                    {{feedInstance.createdBy}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &Uacute;ltimo Update
                                </td>
                                <td>
                                    {{feedInstance.lastUpdate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>

        </div>
    </div>
</div>


