<div class="row rs-margin mt-30 mb-30">
    <div class="col-12 text-center"
        ng-if="review_mode=='init'">
          <h2 class="avaliation-begin-title">
            Como foi a sua experi&ecirc;ncia?
          </h2>
          <span ng-click="setRating(1)"
              ng-mousehover="setRating(1)" 
              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                           'text-secondary': reviewObj.rating==0,
                           'text-primary': reviewObj.rating>=1}"></span>
          <span ng-click="setRating(2)"
                  ng-hover="setRating(2)"
                  ng-class="{'fa fa-star cursor-pointer rating-star': true,
                           'text-secondary': reviewObj.rating<=1,
                           'text-primary': reviewObj.rating>=2}"></span>
          <span ng-click="setRating(3)" 
              ng-hover="setRating(4)"
              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                           'text-secondary': reviewObj.rating<=2,
                           'text-primary': reviewObj.rating>=3}"></span>
          <span ng-click="setRating(4)"
                ng-hover="setRating(4)"
                ng-class="{'fa fa-star cursor-pointer rating-star': true,
                           'text-secondary': reviewObj.rating<=3,
                           'text-primary': reviewObj.rating>=4}"></span>
          <span ng-click="setRating(5)"
              ng-hover="setRating(5)"
              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                           'text-secondary': reviewObj.rating<=4,
                           'text-primary': reviewObj.rating>=5}"></span>
          <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
              class="rating-text text-secondary">
          </h4>

          <button class="btn btn-success text-bold btn-round"
                ng-click="beginReview()">
                <span class="fa fa-check"></span>
                Continuar
          </button>
    </div>

    <div class="col-12"
        ng-if="review_mode=='begin'">
        <form name="reviewForm" 
            ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>')">

            <div class="alert alert-warning text-center" 
                ng-if="loading_request">
                <i class="fa fa-refresh fa-spin"></i>
                Processando
            </div>

            <div class="alert alert-danger text-center" ng-if="review_error">
                <i class="fa fa-times"></i>
                <h4>A sua solicitação não pode ser processada.</h4>
                Verifique todos os campos.<br/>
                <p ng-repeat="err in review_error" ng-bind="err">
                </p>
            </div>

            <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                <i class="fa fa-check" style="font-size:50px;" ></i>
                <br/>
                <h3>
                    Muito obrigado pela sua avaliação.
                </h3>
            </div>

            <div ng-if="!is_done">
                <h3 class="text-center"
                    class="avaliation-begin">
                    Nos de o seu feedback
                </h3>

                <div class="xxmodal-header xb-grad">
                  <div class="pull-right">
                    <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                        class="rating-text text-right"
                        style="font-size: 16px;color:#333;">
                    </h4>

                    <span ng-click="setRating(1)"
                        ng-mousehover="setRating(1)" 
                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                     'text-secondary': reviewObj.rating==0,
                                     'text-primary': reviewObj.rating>=1}"></span>
                    <span ng-click="setRating(2)"
                            ng-hover="setRating(2)"
                            ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                     'text-secondary': reviewObj.rating<=1,
                                     'text-primary': reviewObj.rating>=2}"></span>
                    <span ng-click="setRating(3)" 
                        ng-hover="setRating(4)"
                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                     'text-secondary': reviewObj.rating<=2,
                                     'text-primary': reviewObj.rating>=3}"></span>
                    <span ng-click="setRating(4)"
                          ng-hover="setRating(4)"
                          ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                     'text-secondary': reviewObj.rating<=3,
                                     'text-primary': reviewObj.rating>=4}"></span>
                    <span ng-click="setRating(5)"
                        ng-hover="setRating(5)"
                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                     'text-secondary': reviewObj.rating<=4,
                                     'text-primary': reviewObj.rating>=5}"></span>
                  </div>

                  <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                    Commentando como
                  </p>
                  <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                      <span class="fa fa-user text-success"></span>
                      <strong>{{reviewObj.user_name}}</strong>
                      <span class="text-muted" style="font-size:15px;">
                        {{reviewObj.user_email}}
                      </span>
                  </h4>
                </div>
                <div class="control-group form-group"
                  style="">
                    <div class="controls">
                        <textarea rows="4" cols="100" class="form-control" 
                            required maxlength="200" 
                            style="resize:none;border-radius:0px;"
                            placeholder="Aa"
                            ng-model="reviewObj.content"></textarea>
                    </div>
                </div>
                <button type="submit" 
                    class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                    ng-disabled="loading_review_req">
                    <span class="fa fa-send"></span>
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>
