<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist"
    style="display:none;">
    <li role="presentation" class="nav-item">
        <a href="#live-loading-<%=compobj.id%>" aria-controls="home" 
            class="nav-link active"
            role="tab" data-toggle="tab">
        Loading
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-connect-<%=compobj.id%>" 
            aria-controls="live-connect-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Connect
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-home-<%=compobj.id%>" 
            aria-controls="live-home-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Live
        </a>
    </li>    
    
    <li role="presentation" class="nav-item">
        <a href="#live-more-<%=compobj.id%>" 
            aria-controls="live-more-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            More
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-feedback-<%=compobj.id%>" 
            aria-controls="live-feedback-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Feedback
        </a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="live-loading-<%=compobj.id%>">
        <div class="row rs-margin"
            ng-init="loadChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
            <!-- ng-if="loading_live" -->
            <div class="col-12 text-center">
                <div class="alert alert-danger etx-loading-error" ng-if="errors">
                    <h3 ng-bind="'Não foi possivel connectar ao live.'"></h3>
                    <p ng-repeat="err in errors"
                        ng-bind="err">
                    </p>

                    <button class="btn btn-success text-white btn-lg"
                        type="button"
                        ng-bind="'TRY AGAIN'"
                        ng-disabled="connecting_chan"
                        ng-click="loadChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
                    </button>
                </div>
                !
                <div ng-if="loading_channel"
                    class="etx-loading-element">
                    <!--
                    <h3>
                        <span class="fa fa-video"></span>
                        <%= compobj.fields[$PCF.descr_df]%>
                        |
                        <%= compobj.fields[$PCF.title_df]%>
                    </h3>
                    -->
                    <h3 class="loading-spinner">
                        <span class="fa fa-refresh fa-spin"></span>
                    </h3>
                    <h3 class="loading-title">
                        HOLD ON
                    </h3>
                </div>
            </div>
        </div>

    </div>

    <div role="tabpanel" class="tab-pane " id="live-feedback-<%=compobj.id%>">
        <div class="row rs-margin">
            <div class="col-12 ">
                <button class="btn bg-secondary text-white btn-lg btn-round"
                    ng-click="backToLiveScreen('<%=compobj.id%>')">
                    <span class="fa fa-arrow-left"></span>
                    BACK
                </button>
            </div>

            <div class="col-12">
                __feedbackv2__
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="live-connect-<%=compobj.id%>">
    </div>    

    <div role="tabpanel" class="tab-pane" id="live-more-<%=compobj.id%>">
    </div>

    <div role="tabpanel" class="tab-pane" id="live-home-<%=compobj.id%>">
        <div class="row rs-margin"
            style="margin-top:0px;margin-bottom:10px;">

            <div class="col-8 rs-padding">
                <div class="vstream-video-area">
                    <button class="btn btn-danger text-white btn-sm pull-right"
                        style="opacity:.5;"
                        type="button">
                        <span class="fa fa-eye" style="font-size:20px;"></span>
                        <span style="font-size:22px">
                            {{liveObj.Reactions.connected_c}}
                        </span>
                    </button>

                    <h4>
                        {{liveObj.Title|uppercase}}
                    </h4>
                    <h4 style="font-size:18px;">
                        {{liveObj.CreatedByLabel|uppercase}}
                    </h4>

                    <div class="text-center play-action" style="min-height:300px;">
                        <div ng-if="!is_streamming"
                            style="padding-top:50px;"
                            class="cursor-pointer play-video"
                            ng-click="startStreamming('<%= compobj.fields[$PCF.descr_df]%>')">
                            <span style="font-size:75px;" class=" text-warning fa fa-play"></span>
                        </div>
                        <div class="cursor-pointer hidden play-mock disabled">
                            <span style="font-size:75px;" class=" etx-text-secondary fa fa-play"></span>
                        </div>
                    </div>

                    <div id="viewer" >
                        <div class="video-container">
                            <video class="remote-view" autoplay playsinline controls />
                        </div>
                    </div>
                </div>
                <!--
                <p>
                    {{liveObj.Description}}
                </p>
                <h4>
                    APP_ID: <%= compobj.fields[$PCF.webapp_id]%>
                </h4>

                <h4>
                    CHANNEL_NAME: <%= compobj.fields[$PCF.descr_df]%>
                </h4>
                -->
                <div class="rs-padding video-connection-area" >
                    <!-- {{liveObj.Reactions}} -->
                    <!-- ng-if="is_connected && connectedUserConf" -->

                    <button class="btn btn-warning xb-warning-grad btn-lg text-bold btn-reconnect"
                        type="button"
                        style="color:#333;"
                        ng-disabled="connecting_chan"
                        ng-click="connectToChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', true)">
                        <span class="fa fa-refresh"></span>
                        <span ng-if="connecting_chan">
                            HOLD ON
                        </span>
                        <span ng-if="!connecting_chan">
                            RE-CONNECT
                        </span>
                    </button>
                    <button class="btn btn-success text-white btn-lg btn-round text-bold btn-feedback"
                        ng-click="openFeedback('<%=compobj.id%>')">
                        <span class="fa fa-star"></span>
                        FEEDBACK
                    </button>

                    <div style="padding-top:10px;padding-bottom:50px;">
                        <div class="alert alert-danger" ng-if="errors">
                            <h3 ng-bind="'Não foi possivel connectar ao live.'"></h3>
                            <p ng-repeat="err in errors">
                                {{err}}
                            </p>

                            <button class="btn btn-success text-white btn-lg"
                                type="button"
                                ng-disabled="connecting_chan"
                                ng-click="loadChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
                                TRY AGAIN
                            </button>
                        </div>

                        <div class="alert text-center alert-warning" ng-if="connecting_chan"
                            >
                            <h3 style="color:#333">
                                <span class="fa fa-refresh fa-spin"></span>
                                CONNECTING...
                            </h3>
                        </div>

                        <div ng-if="joinedUserConf">
                            <button class="btn btn-success text-white btn-lg btn-round text-bold"
                                ng-disabled="reaction_status['like_c']=='LOADING'"
                                ng-click="sendReaction('<%=compobj.id%>', 'like_c')">
                                LIKE
                            </button>
                            <button class="btn btn-success text-white btn-lg btn-round text-bold"
                                ng-disabled="reaction_status['funny_c']=='LOADING'"
                                ng-click="sendReaction('<%=compobj.id%>', 'funny_c')">
                                HAHA
                            </button>
                            <button class="btn btn-success text-white btn-lg btn-round text-bold"
                                ng-disabled="reaction_status['sad_c']=='LOADING'"
                                ng-click="sendReaction('<%=compobj.id%>', 'sad_c')">
                                SAD
                            </button>
                            <button class="btn btn-success text-white btn-lg btn-round text-bold"
                                ng-disabled="reaction_status['love_c']=='LOADING'"
                                ng-click="sendReaction('<%=compobj.id%>', 'love_c')">
                                LOVE
                            </button>

                            <h3>
                                <span class="fa fa-video"></span>
                                YOU ARE
                                <small class="text-success">Connected</small>
                            </h3>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            Channel
                                        </td>
                                        <td>
                                            <%= compobj.fields[$PCF.descr_df]%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            clientId
                                        </td>
                                        <td>
                                            {{connectedUserConf.clientId}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Seen
                                        </td>
                                        <td>
                                            {{joinedUserConf.LastSeen}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            JoinSlotTime
                                        </td>
                                        <td>
                                            {{joinedUserConf.JoinSlotTime}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Country
                                        </td>
                                        <td>
                                            
                                            <img src="<%=WS_HOST%>/img/flags/4x3/{{connectedUserConf.loc.toLowerCase()}}.svg"
                                                width="40px" 
                                            />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            ip
                                        </td>
                                        <td>
                                            {{connectedUserConf.ip}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--
                            <h3>
                                connectedUserConf={{connectedUserConf}}
                            </h3>
                            -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                __liveComp__
            </div>

        </div>
    </div>
    

  </div>

</div>