<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
<h3>
    payment_conf_obj=
</h3>
-->

<div role="tabpanel" ng-controller="x99Entity">

<div ng-init="VerifyUser('<%=compobj.id%>')"></div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist"
    style="display:none;">
    <li role="presentation" class="nav-item">
        <a href="#live-loading-<%=compobj.id%>" aria-controls="home" 
            class="nav-link active"
            role="tab" data-toggle="tab">
        Loading
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-connect-<%=compobj.id%>" 
            aria-controls="live-connect-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Connect
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-home-<%=compobj.id%>" 
            aria-controls="live-home-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Live
        </a>
    </li>    
    
    <li role="presentation" class="nav-item">
        <a href="#live-more-<%=compobj.id%>" 
            aria-controls="live-more-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            More
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-feedback-<%=compobj.id%>" 
            aria-controls="live-feedback-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Feedback
        </a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="live-loading-<%=compobj.id%>">
        <div class="row rs-margin"
            ng-init="loadChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
            <!-- ng-if="loading_live" -->
            <div class="col-12 text-center">
                <div class="alert alert-danger etx-loading-error" ng-if="errors">
                    <h3 ng-bind="'Não foi possivel connectar ao live.'"></h3>
                    <p ng-repeat="err in errors"
                        ng-bind="err">
                    </p>

                    <button class="btn btn-success text-white btn-lg"
                        type="button"
                        ng-bind="'TRY AGAIN'"
                        ng-disabled="connecting_chan"
                        ng-click="loadChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
                    </button>
                </div>
                <div ng-if="loading_channel"
                    class="etx-loading-element">
                    <!--
                    <h3>
                        <span class="fa fa-video"></span>
                        <%= compobj.fields[$PCF.descr_df]%>
                        |
                        <%= compobj.fields[$PCF.title_df]%>
                    </h3>
                    -->
                    <h3 class="loading-spinner">
                        <span class="fa fa-refresh fa-spin"></span>
                    </h3>
                    <h3 class="loading-title">
                        HOLD ON
                    </h3>
                </div>
            </div>
        </div>

    </div>

    <div role="tabpanel" class="tab-pane " id="live-feedback-<%=compobj.id%>">
        <div class="row rs-margin">
            <div class="col-12 ">
                <button class="btn bg-secondary text-white btn-lg btn-round"
                    ng-click="backToLiveScreen('<%=compobj.id%>')">
                    <span class="fa fa-arrow-left"></span>
                    BACK
                </button>
            </div>

            <div class="col-12">
                __feedbackv2__
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="live-connect-<%=compobj.id%>">
    </div>    

    <div role="tabpanel" class="tab-pane" id="live-more-<%=compobj.id%>">
    </div>

    <div role="tabpanel" class="tab-pane" id="live-home-<%=compobj.id%>">
        <div class="row rs-margin"
            style="margin-top:0px;margin-bottom:10px;">

            <div class="col-12 col-md-12 col-sm-12 col-xs-12 rs-padding">
                <div class="vstream-video-area">


                    <!--
                    <button class="btn btn-danger text-white pull-right btn-users-total"
                        style="opacity:.5;"
                        title="Total users"
                        type="button">
                        <span style="" class="text-bold">
                            {{liveObj.Reactions.connected_c}}
                        </span>
                    </button>
                    <div class="vstream-user-noauth"
                        ng-if="!etxProfile">
                        <h3></h3>
                    </div>
                    -->

                    <div style="padding:10px;">
                        <img class="app-logo channel-logo pull-left" 
                            style=""
                            src="<%=webapp.fields[$WAF.image]%>"
                        />

                        <h4 class="channel-title">
                            {{liveObj.Title|uppercase}}
                        </h4>
                        <h4 class="channel-subdescr">
                            <span class="xauthor">
                                {{liveObj.CreatedByLabel|uppercase}}
                            </span>
                            <span class="etx-text-secondary xtimestamp">
                                {{liveObj.xTimestamp}}
                            </span>
                        </h4>
                    </div>

                    <div>
                        <button class="btn btn-lg text-bold btn-reaction">
                            <span class='fa fa-eye etx-text-danger'></span>
                            <span class="etx-text-white">
                                {{liveObj.Reactions.view_c||0}}
                            </span>
                        </button>
                        <button class="btn btn-lg text-bold btn-reaction reaction-like"
                            ng-disabled="reaction_status['like_c']=='LOADING'"
                            ng-click="sendReaction('<%=compobj.id%>', 'like_c')">
                            <span class='fa fa-thumbs-up etx-text-primary '
                                ng-if="reaction_status['like_c']!='LOADING'"></span>
                            <span class='fa fa-refresh fa-spin etx-text-primary'
                                ng-if="reaction_status['like_c']=='LOADING'"></span>

                            <span class="etx-text-white">
                                {{liveObj.Reactions.like_c||0}}
                            </span>
                        </button>

                        <button class="btn btn-lg text-bold btn-reaction reaction-funny"
                            ng-disabled="reaction_status['funny_c']=='LOADING'"
                            ng-click="sendReaction('<%=compobj.id%>', 'funny_c')">

                            <span class='text-warning text-bold'
                                ng-if="reaction_status['funny_c']!='LOADING'">HAHA</span>
                            <span class='fa fa-refresh fa-spin etx-text-primary'
                                ng-if="reaction_status['funny_c']=='LOADING'"></span>

                            <span class="etx-text-white">
                                {{liveObj.Reactions.funny_c||0}}
                            </span>
                        </button>
                        <button class="btn btn-lg btn-round text-bold btn-reaction reaction-sad"
                            ng-disabled="reaction_status['sad_c']=='LOADING'"
                            ng-click="sendReaction('<%=compobj.id%>', 'sad_c')">
                            <span class='fa fa-thumbs-down etx-text-primary'
                                ng-if="reaction_status['sad_c']!='LOADING'"></span>
                            <span class='fa fa-refresh fa-spin etx-text-primary'
                                ng-if="reaction_status['sad_c']=='LOADING'"></span>
                            <span class="etx-text-white">
                                {{liveObj.Reactions.sad_c||0}}
                            </span>
                        </button>
                        <button class="btn btn-lg btn-round text-bold btn-reaction reaction-love"
                            ng-disabled="reaction_status['love_c']=='LOADING'"
                            ng-click="sendReaction('<%=compobj.id%>', 'love_c')">
                            <span class='fa fa-heart etx-text-danger '
                                ng-if="reaction_status['love_c']!='LOADING'"></span>
                            <span class='fa fa-refresh fa-spin etx-text-primary'
                                ng-if="reaction_status['love_c']=='LOADING'"></span>

                            <span class="etx-text-white">
                                {{liveObj.Reactions.love_c||0}}
                            </span>
                        </button>
                        <p ng-if="reaction_err" class="etx-text-secondary">{{reaction_err}}</p>
                    </div>

                    <div class="text-center play-action" >
                        <div ng-if="!is_streamming"
                            class="cursor-pointer play-video"
                            ng-click="startStreamming('<%= compobj.fields[$PCF.descr_df]%>')">
                            <span class=" play-btn-icon text-warning fa fa-play"></span>
                        </div>
                        <div class="cursor-pointer hidden play-mock disabled">
                            <span class=" etx-text-secondary fa fa-play"></span>
                        </div>
                    </div>

                    <div id="viewer" >
                        <div class="video-container">
                            <video class="video-object" 
                                autoplay 
                                playsinline 
                                controls
                                id="live_player_1"
                                muted="true">
                            </video>
                        </div>
                    </div>

                    <button class="btn-warning btn btn-round xb-warning-grad text-center text-bold btn-send-tip btn-round btn-lg"
                        ng-if="UserAppProfile"
                        ng-click="TipMeNow('<%=compobj.id%>')"
                        style="color:#333;">
                        TIP ME
                        <span class="fa fa-trophy"></span>
                    </button>
                </div>

                <!--
                <p>
                    {{liveObj.Description}}
                </p>
                <h4>
                    APP_ID: <%= compobj.fields[$PCF.webapp_id]%>
                </h4>

                <h4>
                    CHANNEL_NAME: <%= compobj.fields[$PCF.descr_df]%>
                </h4>
                -->
                <div class="rs-padding video-connection-area" >
                    <!-- {{liveObj.Reactions}} -->
                    <!-- ng-if="is_connected && connectedUserConf" -->
                    <!--
                    <div class="vstream-user-profile" ng-if="UserAppProfile"
                        style="padding:10px;">
                        <div class="text-center user-image pull-left"
                            style="height:60px;background-size:cover;background-image:url('{{UserAppProfile.Profile.Image.download_url}}');width:60px;border-radius:240px;margin:auto;margin-right:10px;margin-top:10px;">
                        </div>
    
                        <h3 class="profile-name etx-text-white" style="margin:0px;">
                            <span style="font-size:19px;">{{UserAppProfile.Profile.UserName.slice(0,10)|uppercase}}</span>
                        </h3>
                    </div>
                    -->

                    <div style="padding:10px;">
                        <div style="padding-top:10px;padding-bottom:50px;">
                            <div class="vstream-user-noprofile"
                                ng-if="!UserAppProfile">
                                <h3>Humm, ainda nao tem um perfil. Vamos tratar disso!</h3>
                                <p>Com perfis pode participar na livestream  e mostrar o seu apoio!</p>
                                <a class="btn btn-success text-white btn-lg btn-round text-bold btn-feedback"
                                    href="account.html">
                                    <span class="fa fa-check"></span>
                                    YES, VAMOS
                                </a>
                            </div>

                            <div class="alert alert-danger" ng-if="errors">
                                <h3 ng-bind="'Não foi possivel connectar ao live.'"></h3>
                                <p ng-repeat="err in errors">
                                    {{err}}
                                </p>

                                <button class="btn btn-success text-white btn-lg"
                                    type="button"
                                    ng-disabled="connecting_chan"
                                    ng-click="loadChannelV2('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
                                    TRY AGAIN
                                </button>
                            </div>

                            <div class="alert text-center alert-warning" 
                                style="background-color:transparent;border:0px;padding:20px;"
                                ng-if="connecting_chan"
                                >
                                <h3 style="color:#333">
                                    <span class="fa fa-refresh fa-spin"></span>
                                    CONNECTING
                                </h3>
                            </div>


                            <div ng-if="joinedUserConf" class="joined-user">
                                <h3 class="label">
                                    <span class="fa fa-video"></span>
                                    <small class="text-success">CONNECTED</small>
                                </h3>
                                <!--
                                <p class="text-success text-bold joined-conf">
                                    <img src="<%=WS_HOST%>/img/flags/4x3/{{connectedUserConf.loc.toLowerCase()}}.svg"
                                        width="40px" 
                                    />
                                    <span class="joined-ip">{{connectedUserConf.ip}}</span>
                                </p>
                                -->
                                <button class="btn btn-warning xb-warning-grad btn-sm text-bold btn-reconnect"
                                    type="button"
                                    style="color:#333;opacity:.5;"
                                    ng-disabled="connecting_chan"
                                    ng-click="connectToChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', true)">
                                    <span class="fa fa-refresh"></span>
                                    <span ng-if="connecting_chan">
                                        HOLD ON
                                    </span>
                                    <span ng-if="!connecting_chan">
                                        RE-CONNECT
                                    </span>
                                </button>

                                <button class="btn btn-success text-white btn-sm text-bold btn-feedback" style="margin-right:6px;opacity:.5;"
                                    ng-click="openFeedback('<%=compobj.id%>')">
                                    <span class="fa fa-star"></span>
                                    FEEDBACK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-sm-12 col-xs-12 rs-padding">
                <!-- __ chatComp __ -->
            </div>
        </div>
    </div>
    

  </div>

</div>