<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist"
    style="display:none;">
    <li role="presentation" class="nav-item">
        <a href="#live-loading-<%=compobj.id%>" aria-controls="home" 
            class="nav-link active"
            role="tab" data-toggle="tab">
        Loading
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-connect-<%=compobj.id%>" 
            aria-controls="live-connect-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Connect
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-home-<%=compobj.id%>" 
            aria-controls="live-home-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Live
        </a>
    </li>    
    
    <li role="presentation" class="nav-item">
        <a href="#live-more-<%=compobj.id%>" 
            aria-controls="live-more-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            More
        </a>
    </li>

    <li role="presentation" class="nav-item">
        <a href="#live-feedback-<%=compobj.id%>" 
            aria-controls="live-feedback-<%=compobj.id%>" 
            class="nav-link"
            role="tab" data-toggle="tab">
            Feedback
        </a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="live-loading-<%=compobj.id%>">
        <div class="row rs-margin"
            ng-init="loadChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
            <!-- ng-if="loading_live" -->
            <div class="col-12 text-center">
                <div class="alert alert-danger" ng-if="errors">
                    <h3 ng-bind="'Não foi possivel connectar ao live.'"></h3>
                    <p ng-repeat="err in errors"
                        ng-bind="err">
                    </p>

                    <button class="btn btn-success text-white btn-lg"
                        type="button"
                        ng-bind="TRY AGAIN"
                        ng-disabled="connecting_chan"
                        ng-click="loadChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')">
                    </button>
                </div>

                <div ng-if="loading_channel">
                    <h3>
                        <span class="fa fa-video"></span>
                        <%= compobj.fields[$PCF.descr_df]%>
                        |
                        <%= compobj.fields[$PCF.title_df]%>
                    </h3>
                    <h3 >
                        <span class="fa fa-refresh fa-spin"></span>
                        HOLD ON
                    </h3>
                </div>
            </div>
        </div>

    </div>

    <div role="tabpanel" class="tab-pane " id="live-feedback-<%=compobj.id%>">
        <div class="row rs-margin">
            <div class="col-12 text-center">
                <h3>
                    <span class="fa fa-star"></span>
                    FEEDBACK
                </h3>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="live-connect-<%=compobj.id%>">
    </div>    

    <div role="tabpanel" class="tab-pane" id="live-more-<%=compobj.id%>">
    </div>

    <div role="tabpanel" class="tab-pane" id="live-home-<%=compobj.id%>">

        <div class="row rs-margin"
            style="background-color: #f4f4f4;margin-top:0px;margin-bottom:10px;">

            <div class="col-12 rs-padding">
                <div class="vstream-video-area">
                    <h4>
                        {{liveObj.Title|uppercase}}
                    </h4>
                    <h4>
                        {{liveObj.CreatedByLabel|uppercase}}
                    </h4>
                    <button class="btn btn-success text-white btn-lg"
                        type="button"
                        ng-if="!is_streamming"
                        ng-click="startStreamming('<%= compobj.fields[$PCF.descr_df]%>')">
                        START STREAMMING
                    </button>

                    <div id="viewer" >
                        <div class="video-container">
                            <video class="remote-view" autoplay playsinline controls />
                        </div>
                    </div>
                </div>

                <!--
                <p>
                    {{liveObj.Description}}
                </p>
                <h4>
                    APP_ID: <%= compobj.fields[$PCF.webapp_id]%>
                </h4>

                <h4>
                    CHANNEL_NAME: <%= compobj.fields[$PCF.descr_df]%>
                </h4>
                -->
            </div>

            <div class="col-12 rs-padding">
                <h3>Reactions</h3>

                <button class="btn btn-success text-white btn-lg"
                    type="button"
                    ng-if="!is_connected"
                    ng-disabled="connecting_chan"
                    ng-click="connectToChannel('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>')">
                    <span ng-if="connecting_chan">
                        <span class="fa fa-refresh fa-spin"></span>
                        HOLD ON
                    </span>
                    <span ng-if="!connecting_chan">
                        CONNECT
                    </span>
                </button>

                <div ng-if="is_connected && connectedUserConf">
                    <h3>
                        <span class="fa fa-video"></span>
                        YOU ARE
                        <small class="text-success">Connected</small>
                    </h3>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    Channel
                                </td>
                                <td>
                                    <%= compobj.fields[$PCF.descr_df]%>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    localclientId
                                </td>
                                <td>
                                    {{connectedUserConf.localclientId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    cookieId
                                </td>
                                <td>
                                    {{connectedUserConf.cookieId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    clientId
                                </td>
                                <td>
                                    {{connectedUserConf.clientId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Last Seen
                                </td>
                                <td>
                                    {{joinedUserConf.LastSeen}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    JoinSlotTime
                                </td>
                                <td>
                                    {{joinedUserConf.JoinSlotTime}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Country
                                </td>
                                <td>
                                    
                                    <img src="<%=WS_HOST%>/img/flags/4x3/{{connectedUserConf.loc.toLowerCase()}}.svg"
                                        width="40px" 
                                    />

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ip
                                </td>
                                <td>
                                    {{connectedUserConf.ip}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
                    <h3>
                        connectedUserConf={{connectedUserConf}}
                    </h3>
                    -->
                </div>
            </div>


        </div>

    </div>
    

  </div>

</div>