<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12">
        <h3>Create Song</h3>
        <form name="songForm"
            style="margin-top:15px;"
            class="contact-form-object"
            ng-submit="saveSong(songForm, '<%=compobj.id%>')">

            <div class="alert alert-warning text-center" 
                ng-if="loading_request">
                <i class="fa fa-refresh fa-spin"></i>
                HOLD ON
            </div>

            <div class="alert alert-danger text-center" ng-if="request_errors">
                <i class="fa fa-times"></i>
                <h4>Could not finish request.</h4>
                {{request_errors}}
                <p ng-repeat="err in request_errors.errors">
                    {{err}}
                </p>
            </div>

            <div class="alert alert-success text-center" ng-if="success">
                <i class="fa fa-check" style="font-size:50px;" ></i>
                <br/>
                <h3>
                    Sent with success.
                </h3>
                Thanks for your submission.<br/>
            </div>

            <div ng-if="!is_done">
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Title</strong></label>
                        <input type="text" class="form-control"  
                            required 
                            ng-model="songObj.title">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Track #</strong></label>
                        <input type="text" class="form-control" 
                            required 
                            ng-model="songObj.track"
                        >
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Cover</strong></label>
                        <input type="text" class="form-control" 
                            ng-model="songObj.cover"
                        >
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Duration (in seconds)</strong></label>
                        <input type="number" class="form-control" 
                            ng-model="songObj.duration_s"
                        >
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Lyrics</strong></label>
                        <textarea rows="8" cols="100" class="form-control" 
                            required 
                            placeholder="Paste Lyrics here"
                            maxlength="999" 
                            style="resize:none"
                            ng-model="songObj.lyrics_raw">
                        </textarea>
                    </div>
                </div>                
    
                <button type="submit" 
                    class="btn etx-bg-success btn-lg btn-round text-bold btn-send-form"
                    ng-if="!is_done"
                    ng-disabled="loading_request">
                    <span class="fa fa-send"></span>
                    SEND
                </button>
            </div>

        </form>
    </div>
</div>

<hr/>

