<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12">
        <h3>Create Song</h3>
        <form name="songForm"
            style="margin-top:15px;"
            class="contact-form-object"
            ng-submit="saveSubmission(songForm, '<%=compobj.id%>')">

            <div class="alert alert-warning text-center" 
                ng-if="loading_request">
                <i class="fa fa-refresh fa-spin"></i>
                HOLD ON
            </div>

            <div class="alert alert-danger text-center" ng-if="request_errors">
                <i class="fa fa-times"></i>
                <h4>Could not finish request.</h4>
                {{request_errors}}
                <p ng-repeat="err in request_errors.errors">
                    {{err}}
                </p>
            </div>

            <div class="alert alert-success text-center" ng-if="success">
                <i class="fa fa-check" style="font-size:50px;" ></i>
                <br/>
                <h3>
                    Sent with success.
                </h3>
                Thanks for your submission.<br/>
            </div>

            <div>
            <!-- <div ng-if="!is_done"> -->
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Name (artist name, band name)</strong></label>
                        <input type="text" class="form-control"  
                            required 
                            ng-model="submissionObj.senderName">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Genre</strong></label>
                        <select class="form-control" ng-model="submissionObj.genre"
                            required>
                            <option value="ALTERNATIVE">
                                Alternative
                            </option>
                            <option value="BLUES">
                                Blues
                            </option>
                            <option value="Classical">
                                Classical
                            </option>
                            <option value="COUNTRY">
                                Country
                            </option>
                            <option value="CHRISTIAN_GOSPEL">
                                CHRISTIAN_GOSPEL
                            </option>
                            <option value="DANCE">
                                DANCE
                            </option>
                            <option value="EDM">
                                EDM
                            </option>
                            <option value="ELETRONIC">
                                ELETRONIC
                            </option>
                            <option value="FOLD">
                                FOLD
                            </option>
                            <option value="HIPHOP">
                                HIPHOP
                            </option>
                            <option value="RAP">
                                RAP
                            </option>
                            <option value="RNB">
                                RNB
                            </option>
                            <option value="SOUL">
                                SOUL
                            </option>
                            <option value="REGGAE">
                                REGGAE
                            </option>
                            <option value="ROCK">
                                ROCK
                            </option>
                        </select>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Website</strong></label>
                        <input type="text" class="form-control" 
                            ng-model="submissionObj.website_link"
                            placeholder="https://"
                        >
                    </div>
                    <div class="controls">
                        <label><strong>Twitter</strong></label>
                        <input type="text" class="form-control" 
                            ng-model="submissionObj.twitter_link"
                            placeholder="https://"
                        >
                    </div>
                    <div class="controls">
                        <label><strong>Facebook</strong></label>
                        <input type="text" class="form-control" 
                            ng-model="submissionObj.fb_link"
                            placeholder="https://"
                        >
                    </div>
                    <div class="controls">
                        <label><strong>IG</strong></label>
                        <input type="text" class="form-control" 
                            ng-model="submissionObj.ig_link"
                            placeholder="https://"
                        >
                    </div>
                    <div class="controls">
                        <label><strong>OTHER LINK</strong></label>
                        <input type="text" class="form-control" 
                            ng-model="submissionObj.custom_link"
                            placeholder="https://"
                        >
                    </div>
                    <div class="controls">
                        <label><strong>Link To ONE Track To Be Reviewed</strong></label>
                        <input type="text" class="form-control" 
                            ng-model="submissionObj.song_award_link"
                            placeholder="https://"
                        >
                        <span>
                            This Track will Be Reviewed On Our Award Winning Blog
                        </span>
                    </div>
                    <div class="controls">
                        <label><strong>EMAIL</strong></label>
                        <input type="email" class="form-control" 
                            ng-model="submissionObj.email"
                            placeholder="my@email"
                        >
                    </div>
                    <div class="controls">
                        <label><strong>EMAIL CONF.</strong></label>
                        <input type="email" class="form-control" 
                            ng-model="submissionObj.email_confirmation"
                            placeholder="my@email"
                        >
                        <small>
                            <span>
                            Abe pe show will use this data to get in touch with you and provide updates in regards to your submission and marketing. We will never sell your data. You can unsubscribe at any time by contacting us. By submitting your e-mail, you agree that we may process your information in accordance with these terms.
                            </span>
                        </small>
                    </div>
                </div>

                <button type="submit" 
                    class="btn etx-bg-success btn-lg btn-round text-bold btn-send-form"
                    ng-disabled="loading_request">
                    <span class="fa fa-send"></span>
                    SEND
                </button>
            </div>

        </form>
    </div>
</div>

<hr/>

