                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Email
                        </label>
                        <input type="email" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Nome
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.customer_name"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Sobrenome
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.customer_surname"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Phone
                        </label>
                        <input type="number" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.phone"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Endereco
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="billingObj.address"
                        />
                        <hr/>
                    </div>