<small style="font-size:12px;opacity:.5;" class="text-secondary">
    <span style="border-right:7px solid #{{etxProfile.id.slice(0,3)}}"></span>
    <span style="border-right:8px solid #{{etxProfile.id.slice(3,6)}}"></span>
    <span style="border-right:6px solid #{{etxProfile.id.slice(6,9)}}"></span>
    <span style="border-right:9px solid #{{etxProfile.id.slice(9,11)}}"></span>
    <span style="border-right:8px solid #{{etxProfile.id.slice(11,14)}}"></span>
</small>