<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity">

    <ul class="nav nav-tabs" role="tablist" 
        style="display:none">
        <li role="presentation" class="nav-item">
            <a href="#home-loading-<%=compobj.id%>" 
                class="nav-link active"
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#home-dashboard-<%=compobj.id%>" 
                class="nav-link "
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-loading-<%=compobj.id%>">
            <div class="text-center loading-instance" style="padding-top:50px;">
                <h3 style="font-size:70px">
                    <span class="fa fa-refresh fa-spin text-warning"></span>
                </h3>
                <h3 class="text-white">
                    LOADING
                </h3>
            </div>

            <div ng-init="loadVideos('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')"></div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-dashboard-<%=compobj.id%>">
            <div class="row rs-margin" ng-if="!video_list||video_list.Count==0">
                <div class="col-12 text-center">
                    NO VIDEOS YET...
                </div>
            </div>
            
            <div class="row rs-margin vide-preview-list" ng-if="video_list.Count>0">
                <div class="col-4 reset-opacity video-preview-item" 
                    ng-if="video.Cover"
                    ng-repeat="video in video_list.Items"
                    ng-click="goWatchVideo('<%=compobj.id%>',video)"
                    style="background-image:url('{{video.Cover}}');color:#fff;border:1px solid #000;background-size:cover;">
                    <div style="height:300px;opacity:.4;padding-top:10px;"
                        class="reset-opacity">
                        <button style="margin:0px;" class="bg-danger text-white btn btn-sm pull-right">
                            <span class="fa fa-eye"></span>
                            {{video.Reactions.view_c}}
                        </button>
                        <h3 style="font-size:17px;margin:0px;" class="text-white">
                            {{video.description|uppercase}}   
                        </h3>
                        <p style="margin:0px;">
                            <strong class="text-danger">{{(video.duration/60).toFixed(2)}}mn</strong>
                        </p>
                        <p style="margin:0px;">
                            <strong class="text-white">{{video.CreatedAt}}</strong>
                        </p>
                        <p style="margin:0px;padding-top:30px;padding-bottom:40px;font-size:65px;"
                            class="text-center text-warning"
                            title="Watch {{video.CreatedByName}} - {{video.description}} "
                            >
                            <!--<span class="fa fa-play"></span>-->
                        </p>
                    </div>
                    <!--
                    <p>
                        {{video.CreatedAt}}
                    </p>
                    <p>
                        {{video.CreatedByName}}
                    </p>
                    -->
                </div>
            </div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-feedback-<%=compobj.id%>">
            <h3>
            Feedback
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-chat-<%=compobj.id%>">
            <h3>
            Chat
            </h3>
        </div>  

    </div>



</div>