<!---
    RESOURCE_KEY=<%= compobj.fields[$PCF.title_df] %>
-->
<div role="tabpanel"
    ng-controller="AuthController">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item"
            style="display:none">
            <a href="#home-<%=compobj.id%>" 
                aria-controls="home-<%=compobj.id%>"
                class="nav-link " 
                role="tab" data-toggle="tab">
                Home
            </a>
        </li>

        <li role="presentation" class="nav-item">
            <a href="#account-kyc-<%=compobj.id%>" 
                aria-controls="account-kyc-<%=compobj.id%>"
                class="nav-link active" 
                role="tab" data-toggle="tab">
                KYC ACCOUNT
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane " id="home-<%=compobj.id%>">
            <h2>Welcome afiliate</h2>
            <h2>Afiliate Resource Key: <%= compobj.fields[$PCF.title_df] %></h2>
            <h2>Afiliate Resource Org: <%= compobj.org %></h2>
        </div>

        <div role="tabpanel" class="tab-pane active " id="account-kyc-<%=compobj.id%>">

            <div class="row rs-margin">

                <div class="col-12" style="min-height:400px;">
                    <div role="tabpanel">
                        <h3>
                        AFFILIATE ACCOUNT
                        </h3>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" 
                            >
                            <li role="presentation" class="nav-item">
                                <a href="#etx-feed-loading-<%=compobj.id%>" 
                                    aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                                    class="nav-link active"
                                    data-toggle="tab">
                                    LOADING
                                </a>
                            </li>
                            <li role="presentation" class="nav-item" >
                                <a href="#etx-feed-profile-<%=compobj.id%>" 
                                    aria-controls="etx-feed-profile-<%=compobj.id%>" role="tab" 
                                    class="nav-link "
                                    data-toggle="tab">
                                    PROFILE
                                </a>
                            </li>
                            <li role="presentation" class="nav-item" >
                                <a href="#etx-feed-auth-<%=compobj.id%>" 
                                    aria-controls="etx-feed-auth-<%=compobj.id%>" role="tab" 
                                    class="nav-link "
                                    data-toggle="tab">
                                    AUTH
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="etx-feed-loading-<%=compobj.id%>">

                                <div ng-init="VerifyFinxProfile('<%=compobj.id%>')"></div>

                                <h3 class="text-center"
                                    style="padding-top:100px;padding-bottom:100px;">
                                    <!-- <span class="fa fa-refresh fa-spin text-warning "></span> -->
                                    <br/>
                                    <span class="text-secondary text-bold">
                                    VERIFICANDO SEU PERFIL
                                    </span>
                                </h3>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="etx-feed-auth-<%=compobj.id%>">
                                <h3 class="text-center"
                                    style="padding-top:100px;padding-bottom:100px;">
                                    <span class="text-secondary text-bold">
                                        AUTENTIQUE-SE PARA CONTINUAR
                                    </span>
                                </h3>
                            </div>

                            <div role="tabpanel" class="tab-pane " id="etx-feed-profile-<%=compobj.id%>">
                                <div class="alert alert-warning" 
                                    ng-if="is_verifying">
                                    <h3 class=""
                                        style="color:#333;">
                                        <span class="fa-spin fa fa-refresh text-warning "></span>
                                        <span class="text-secondary text-bold">
                                        HOLD ON
                                        </span>
                                    </h3>
                                </div>

                                <div class="alert alert-success" 
                                    ng-if="profile_saved">
                                    <h3 class=""
                                        style="color:#333;">
                                        <span class="text-secondary text-bold">
                                            SUCCESSFULLY UPDATED
                                        </span>
                                    </h3>
                                </div>

                                <div class="row rs-margin">
                                    <div class="col-12">
                                        <div class="alert alert-danger" ng-if="errors">
                                            <h3 ng-bind="'Não foi possivel concluir.'"></h3>
                                            <p ng-repeat="err in errors"
                                                ng-bind="err">
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 ">
                                        <h3 class="">
                                            {{etxProfile.name|uppercase}}
                                        </h3>
                                        <h3 class="">
                                            {{etxProfile.email|uppercase}}
                                        </h3>
                                        <h3 class="">
                                            {{etxProfile.id|uppercase}}
                                        </h3>
                                        <h3 class="">
                                            (+{{etxProfile.phoneCode}})
                                            {{etxProfile.phone}}
                                        </h4>
                                        <button class="btn-primary btn-round btn-sm text-white "
                                            ng-click="VerifyProfile('<%=compobj.id%>')"
                                            ng-disabled="loading_profile"
                                            style="color:#333;">
                                            <span class="fa fa-refresh"></span>
                                            REFRESH 
                                        </button>
                                        <h3>
                                            Last Update: {{editprofileObj.LastUpdate}}
                                        </h3>
                                    </div>

                                    <div class="col-12 text-center cursor-pointer"
                                        title="Mudar Foto">

                                        <div ng-if="editprofileObj.image"  
                                            style="height:300px;background-size: cover;background-image:url('{{editprofileObj.image.download_url}}');padding-top:150px;">
                                            <div class="button btn btn-success text-white cursor-pointer" 
                                                style="background:rgba(0,0,0,.3)"
                                                ngf-pattern="'image/*'"
                                                ngf-accept="'image/*'" ngf-max-size="2MB"
                                                ngf-select="uploadProfileFoto('<%=compobj.id%>', $file)">
                                                <span class="fa fa-image"></span>
                                                FOTO
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12">
                                        <form name="pForm" 
                                            ng-submit="UpdateFinxProfile(pForm)">
                                            <div class="form-group">
                                                <label><strong>Address</strong></label>
                                                <input class="form-control"
                                                    ng-model="fxUser.address" />
                                            </div>
                                            <div class="form-group">
                                                <label><strong>Country</strong></label>
                                                <input class="form-control"
                                                    ng-model="fxUser.country" />
                                            </div>
                                            <div class="form-group">
                                                <label><strong>Gender</strong></label>
                                                <select class="form-control" required
                                                    ng-model="fxUser.gender">
                                                    <option value="MALE">MALE</option>
                                                    <option value="FEMALE">FEMALE</option>
                                                    <option value="OTHER">OTHER</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label><strong>Birthdate</strong></label>
                                                <input class="form-control"
                                                    type="date"
                                                    ng-model="fxUser.birthdate" />
                                            </div>

                                            <button type="submit" class="btn btn-success text-bold btn-round"
                                                ng-disabled="saving_profile">
                                                <span ng-if="!saving_profile">
                                                    SAVE
                                                </span>
                                                <span ng-if="saving_profile">
                                                    HOLD ON
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-danger text-bold btn-round"
                                                ng-click="disableEditProfile()">
                                                CANCEL
                                            </button>
                                        </form>
                                    </div>

                                    <div class="col-12"></div>
                                    <div class="col-12"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

