<h3>
LIVE AUCTION
</h3>

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#home-<%=compobj.id%>" 
                aria-controls="home-<%=compobj.id%>"
                class="nav-link active" 
                role="tab" data-toggle="tab">
                Home
            </a>
        </li>

        <li role="presentation" class="nav-item">
            <a href="#dashboard-<%=compobj.id%>" 
                aria-controls="dashboard-<%=compobj.id%>"
                class="nav-link " 
                role="tab" data-toggle="tab">
                Dashboard
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
            <h2>Welcome afiliate</h2>
        </div>

        <div role="tabpanel" class="tab-pane " id="dashboard-<%=compobj.id%>">
            <h2>Affiliate Dashboard</h2>
        </div>

    </div>

</div>

