<div class="row rs-margin" ng-controller="x99Gamming">

    <div class="col-12" style="min-height:400px;">
        <div role="tabpanel"
            ng-init="loadGammingInstance('<%=compobj.id%>')">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#etx-gamming-loading-<%=compobj.id%>" 
                        aria-controls="etx-gamming-<%=compobj.id%>" role="tab" 
                        class="nav-link active"
                        data-toggle="tab">
                        WELCOME
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-gamming-<%=compobj.id%>" 
                        aria-controls="etx-gamming-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        FEED
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-gamming-auth-<%=compobj.id%>" 
                        aria-controls="etx-gamming-auth-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        AUTH
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-gamming-groups-<%=compobj.id%>" 
                        aria-controls="etx-gamming-groups-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        GROUPS
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#etx-gamming-review-<%=compobj.id%>" 
                        aria-controls="etx-gamming-review-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        FEEDBACK
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-gamming-live-<%=compobj.id%>" 
                        aria-controls="etx-gamming-live-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        LIVE STREAM
                    </a>
                </li>
                <li role="presentation" class="nav-item" style="display:none">
                    <a href="#etx-gamming-admin-<%=compobj.id%>" 
                        aria-controls="etx-gamming-admin-<%=compobj.id%>"
                        class="nav-link"
                        role="tab" data-toggle="tab">
                        <span class="fa fa-cog"></span>
                        ADMIN
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="etx-gamming-loading-<%=compobj.id%>">
                    <h3 class="">
                        Welcome To Enterstarts Gamming Platform
                    </h3>

                    <h3 class=""
                        style="padding-bottom:20px;">
                        <span class="fa fa-refresh text-warning fa-spin "></span>
                        <br/>
                        <span class="text-secondary text-bold">
                        HOLD ON
                        </span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane  " id="etx-gamming-<%=compobj.id%>">
                    <div class="row rs-margin">
                        <div class="col-8">
                            <h3>Gamming Feed</h3>
                            <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                width="40px"
                                class="pull-left"
                                ng-if="!post.UserImage"
                                style="border-radius:50px;margin-right:15px;margin-top:10px;margin-right:10px;margin-left:15px;"
                            />
                            <img src="{{post.UserImage.download_url}}"
                                width="40px"
                                class="pull-left"
                                ng-if="post.UserImage"
                                style="border-radius:50px;margin-right:15px;margin-top:10px;margin-right:10px;margin-left:15px;"
                            />
                        </div>
                        
                        <div class="col-4">
                            <div class="panel panel-default">
                                Autentique-se para participar.
                            </div>
                            <!--
                            <h3>News</h3>
                            <h3>Populares</h3>
                            <h3>Recentes</h3>
                            <h3>Listas</h3>
                            <h3>Grupos</h3>
                            -->
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane " id="etx-gamming-auth-<%=compobj.id%>">

                    <div class="alert alert-danger" ng-if="errors">
                        <h3 ng-bind="'Não foi possivel concluir.'"></h3>
                        <p ng-repeat="err in errors"
                            ng-bind="err">
                        </p>
                    </div>

                    <h3>Autentique-se e confirme o seu perfil para aceder ao feed!</h3>

                </div>

                <div role="tabpanel" class="tab-pane" id="etx-gamming-live-<%=compobj.id%>">
                    <h3>LIVE STREAM (elId=#etx-gamming-live-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-gamming-review-<%=compobj.id%>">
                    <button class="btn bg-secondary text-white btn-lg btn-round"
                        ng-click="openTab('etx-gamming-<%=compobj.id%>')">
                        <span class="fa fa-arrow-left"></span>
                        BACK
                    </button>

                    __feedbackv2__
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-gamming-groups-<%=compobj.id%>">
                    <h3>GROUPS (elId=#etx-gamming-groups-<%=compobj.id%>)</h3>
                </div> 

                <div role="tabpanel" class="tab-pane" id="etx-gamming-admin-<%=compobj.id%>">
                    <table class="table table-stripped"
                        ng-if="feedInstance">
                        <tbody>
                            <tr>
                                <td>
                                    Instance Key
                                </td>
                                <td>
                                    <span class="text-danger text-bold">
                                        {{feedInstance.itemKey}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    appId
                                </td>
                                <td>
                                    {{feedInstance.appId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    compId
                                </td>
                                <td>
                                    {{feedInstance.compId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    pageId
                                </td>
                                <td>
                                    {{feedInstance.pageId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ORG-ID:
                                </td>
                                <td>
                                    {{feedInstance.orgId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TTL
                                </td>
                                <td>
                                    {{feedInstance.ttl}} seconds
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Criado em
                                </td>
                                <td>
                                    {{feedInstance.createdAt}}<br/>
                                    <strong>por:</strong> 
                                    {{feedInstance.createdBy}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &Uacute;ltimo Update
                                </td>
                                <td>
                                    {{feedInstance.lastUpdate}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>

        </div>
    </div>
</div>


