<div class="row rs-margin"
    ng-controller="X99RequestSvc">
    <div class="col-md-8 col-sm-12">
        <h1 class="mt-4 mb-3">
            <%-compobj.fields[$PCF.title_df]%>
        </h1>
        <p>
            <%-compobj.fields[$PCF.descr_df]%>
        </p>
<!--         <h5 style="margin:0px;"
            ng-if="<%-compobj.service_view_conf.enable_intely%>">
            <span class="badge bg-primary text-white">
                INTELY IS ON
            </span>
        </h5>
 -->    </div>

    <div class="col-md-4 col-sm-12" style="padding-top:25px;">
        <a class="btn btn-success btn-block" 
            ng-if="'<%-compobj.fields[$PCF.view_page]%>'"
            href="<%-compobj.fields[$PCF.view_page]%>"> 
            <span class="fa fa-phone"></span> 
            Request
        </a>

        <a class="btn btn-warning btn-block" 
            ng-if="'<%-compobj.fields[$PCF.checkout_page]%>'"
            href="<%-compobj.fields[$PCF.checkout_page]%>"> 
            <span class="fa fa-shopping-cart"></span> 
            Checkout
        </a>
    </div>

    <div class="col-md-12" style="padding-top:25px;">
        <ul class="nav nav-tabs xb-tabs" 
            id="servicetab-<%-compobj.id%>" 
            role="tablist" 
            style="border:0px;">
            <li class="nav-item nav-item-spaced"
                style="padding-right:10px;">
                <a class="nav-link active" id="home-<%-compobj.id%>-tab" data-toggle="tab" 
                    href="#home-<%-compobj.id%>" role="tab" 
                    aria-controls="home-<%-compobj.id%>" 
                    aria-selected="false">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>

            <li class="nav-item mod-nav-item">
                <a class="nav-link" id="request-<%-compobj.id%>-tab" data-toggle="tab" 
                  href="#request-<%-compobj.id%>" role="tab" aria-controls="profile" 
                  aria-selected="false">Request</a>
            </li>
        </ul>

        <div class="tab-content" id="serviceTab-<%-compobj.id%>">
            <div class="tab-pane fade show active" id="home-<%-compobj.id%>" 
                role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-12">
                        ___post_html____
                    </div>
                </div>

                <div class="row" style="margin-top:13px;">
                    <!-- Map Column -->
                    <div class="col-lg-8 col-md-8 mb-4">
                        <form name="reviewForm" 
                            ng-submit="makeReview(reviewForm, '<%-compobj.id%>', '<%-compobj.fields[$PCF.org_id]%>')">

                            <div class="alert alert-warning text-center" 
                                ng-if="loading_request">
                                <i class="fa fa-refresh fa-spin"></i>
                                Processando
                            </div>

                            <div class="alert alert-danger text-center" ng-if="error">
                                <i class="fa fa-times"></i>
                                <h4>A sua solicitação não pode ser processada.</h4>
                                Verifique todos os campos.
                            </div>

                            <div class="alert alert-success text-center" ng-if="success">
                                <i class="fa fa-check" style="font-size:50px;" ></i>
                                <br/>
                                <h3>
                                    A sua critica foi enviada com sucesso
                                </h3>
                                Entraremos em contacto em minutos.
                            </div>

                            <div ng-if="!is_done">
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <select class="form-control" required
                                            id="r-rating-<%-compobj.id%>"
                                            ng-model="reviewObj.rating">
                                            <option value="1">1 star</option>
                                            <option value="2">2 stars</option>
                                            <option value="3">3 stars</option>
                                            <option value="3.5">3.5 stars</option>
                                            <option value="4">4 stars</option>
                                            <option value="4.5">4.5 stars</option>
                                            <option value="5">5 stars</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label><strong>Nome</strong></label>
                                        <input type="text" class="form-control" 
                                            id="r-name-<%-compobj.id%>" 
                                            required 
                                            ng-model="reviewObj.user_name"
                                        />
                                        <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label><strong>Email</strong></label>
                                        <input type="email" class="form-control"
                                            id="r-email-<%-compobj.id%>" 
                                            required  ng-model="reviewObj.user_email"
                                        />
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label><strong>Review</strong></label>
                                        <textarea rows="8" cols="100" class="form-control" 
                                            id="r-message-<%-compobj.id%>" 
                                            required maxlength="200" 
                                            style="resize:none"
                                            ng-model="reviewObj.user_msg"></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success"
                                ng-disabled="loading_request">
                                Enviar
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" 
                id="request-<%-compobj.id%>" role="tabpanel">
                <h3>Request tab</h3>
            </div>
        </div>
    </div>
</div>
