<div class="card <%-compobj.fields[$PCF.comp_size]%> ">
    <h4 class="card-header">
        <%-compobj.fields[$PCF.title_df] %>
    </h4>

    <div class="card-body">
        <p class="card-text">
            <%-compobj.fields[$PCF.descr_df]%>
        </p>
    </div>

    <div class="card-footer"
        ng-if="'<%-compobj.readmore_link%>'">
        <a href="<%=compobj.readmore_link%>" class="btn btn-primary">
            Learn more
        </a>
    </div>
</div>
