<div class="row rs-margin youtube-video-containerv2"
    ng-controller="x99Entity"
    id="video-containerv2-<%=compobj.id%>">
    <div class="col-12 video-tabpanel rs-padding"
        ng-init="initVideoComponent('<%=compobj.id%>','<%= compobj.video_conf.items.map(function (V) { return V.id }).join(',') %>')">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" 
                style="display:none;">
                <li role="presentation" class="">
                    <a href="#home-<%-compobj.id %>" 
                      aria-controls="home" 
                       role="tab" data-toggle="tab">
                        Home
                    </a>
                </li>

                <%=
                    compobj.video_conf.items.map(function(Item, Idx){
                        return `
                            <li role="presentation"
                                class="nav-item">
                                <a href="#video-${Item.id}" 
                                    aria-controls="video-${Item.id}" 
                                    class="nav-link ${Idx==0? 'active': ''}"
                                    role="tab" data-toggle="tab">
                                    ${Item.title}
                                </a>
                            </li>
                        `
                    }).join("")
                %>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane " id="home-${compobj.id}">
                    <h3>
                        <span class="fa fa-refresh fa-spin text-warning"></span>
                        HOLD ON
                    </h3>
                </div>

                <%=
                    compobj.video_conf.items.map(function (Item, Idx){
                        var klass_css_main = compobj.video_conf.items.length==1 ? 'col-12 rs-padding' : 'col-lg-12 col-sm-12 col-xs-12 rs-padding';
                        var col_subt='';
                        var col_descr=`
                            <div class="col-12 rs-padding">
                                <div class="video-header" style="">
                                    <h3 class="video-title">
                                        ${Item.title}
                                    </h3>
                                    <p class="video-description etx-text-secondary">
                                        ${Item.description}
                                    </p>
                                    <h4 class="card-title etx-text-white pull-left " style="font-size:16px; padding:0px" >
                                        <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"AUTH
                                            ng-class="{'story-reaction-like':true, 'reaction-sent': videoReactions.act['A_'+AUTH.id+'_${Item.id}_like_c']}"
                                            ng-click="sendVideoReaction('${compobj.id}', '${Item.id}', 'like_c', $event)">
                                            <span class="fa fa-thumbs-up etx-text-white reaction-icon" style="font-size:28px"></span>
                                            <span class="text-bold etx-text-white reaction-count"
                                                ng-bind="videoReactions.count['${Item.id}'].opMap['like_c']||0">
                                            </span>
                                        </span>

                                        <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                            ng-class="{'story-reaction-love':true, 'reaction-sent': videoReactions.act['A_'+AUTH.id+'_${Item.id}_love_c']}"
                                            ng-click="sendVideoReaction('${compobj.id}', '${Item.id}', 'love_c', $event)">
                                            <span class="fa fa-heart etx-text-white reaction-icon" style="font-size:28px"></span>
                                            <span class="text-bold etx-text-white reaction-count"
                                                ng-bind="videoReactions.count['${Item.id}'].opMap['love_c']||0">
                                            </span>
                                        </span>

                                        <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                            ng-class="{'story-reaction-love':true, 'reaction-sent': videoReactions.act['A_'+AUTH.id+'_${Item.id}_view_c']}"
                                            ng-click="sendVideoReaction('${compobj.id}', '${Item.id}', 'view_c', $event)">
                                            <span class="fa fa-eye etx-text-white reaction-icon" style="font-size:28px"></span>
                                            <span class="text-bold etx-text-white reaction-count"
                                                ng-bind="videoReactions.count['${Item.id}'].opMap['view_c']||0">
                                            </span>
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        `;

                        if (compobj.video_conf.items.length==1) {
                            col_descr='';
                            col_subt = `
                                <div class="col-12 video-subtitle-container rs-padding"
                                    ng-init="initVideo('${Item.id}', '${Item.cover}', '${Item.mp4_url}')">
                                    <div class="video-subtitle" style="">
                                        <h3 class="video-title">
                                            ${Item.title}
                                        </h3>
                                        <p class="video-description etx-text-secondary">
                                            ${Item.description}
                                        </p>

                                    </div>
                                </div>
                            `;
                        }

                        return `
                            <div role="tabpanel" 
                                class="tab-pane ${Idx==0? 'active': ''}" 
                                id="video-${Item.id}">

                                <div class="row rs-margin">
                                    <div class="${klass_css_main}">
                                        <div class=" cursor-pointer video-player-container" 
                                            title=""
                                            style="">

                                            <div class=" video-container-v2 "
                                                style="padding-top:0px;padding-bottom:0px;min-height:43vh;">

                                                <video id="player-${Item.id}"
                                                    class="video-js vjs-theme-city video-instance"
                                                    controls
                                                    style="width:100%;"
                                                    preload="auto"
                                                >
                                                    <p class="vjs-no-js text-white">
                                                      To view this video please enable JavaScript, and consider upgrading to a
                                                      web browser that
                                                      <a href="https://videojs.com/html5-video-support/" 
                                                         target="_blank"
                                                        >supports HTML5 video</a
                                                      >
                                                    </p>
                                                </video>
                                            </div>
                                        </div>
                                    </div>

                                    ${col_descr}
                                    ${col_subt}
                                </div>
                            </div>
                        `
                    }).join("")
                %>

            </div>
        </div>
    </div>

    <div class="col-12 rs-padding ">
        <div class="video-obj-list">
            <div class="row rs-margin video-obj-list-container ">
                <div class="col-12 rs-padding">
                    <div class="video-obj-list-v2">
                        <%=
                            compobj.video_conf.items.length<= 1 ?
                            '' : compobj.video_conf.items.map(function (Item, Idx){
                                return `
                                <div class=" video-obj-item ">
                                    <div class=" cursor-pointer video-img-preview "
                                        ${Idx==0 ? 
                                          'ng-init="initVideo(\''+Item.id+'\', \''+Item.cover+'\', \''+Item.mp4_url+'\')"' : ''
                                        }
                                        title="${Item.title} - ${Item.description}"
                                        style="background:url('${Item.cover}');background-size:cover;"
                                        ng-click="v2_playVideoURL('${Item.id}', '${Item.cover}', '${Item.mp4_url}')">
                                        <span class="video-preview-duration pull-right">
                                            ${compobj.FormatDuration(Item.duration)}
                                        </span>
                                    </div>

                                    <div class="video-obj-details">
                                        <div style="background-image:url('{{'https://d2aeipzem347xy.cloudfront.net/img/ghost_person_100x100_v1.png'}}');" class="video-author-picture">
                                        </div>

                                        <div class="video-left-details">
                                            <p class="video-preview-title text-left">
                                                ${Item.title}
                                            </p>
                                            <p class="video-preview-author "
                                                style="margin:0px;">
                                                ${Item.description}
                                            </p>

                                            <p class="video-preview-views ">
                                                <span class="video-views-count"
                                                    ng-bind="(videoReactions.count['${Item.id}'].opMap['view_c']||'sem ') + ' visua.'">
                                                </span>
                                                <span class="video-views-date"
                                                    ng-bind="moment('${Item.x_timestamp}').format('LL')">
                                                </span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                `
                            }).join("")
                        %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

