<div class="row rs-margin"
    style="box-shadow:0px 0px 2px rgba(0,0,0,.3);margin-top:10px;background-color:#fff;margin-bottom:15px;">
    <!-- product post (services & review) -->
    <div class="col-md-12"
        style="min-height:200px;margin-top:20px;">

        <h4 class="ecommerce-post-title">
            Veja tamb&eacute;m<br/>
            <span style="color:#333;">
                {{more_like_this.numFound}}
            </span>
            <span class="text-secondary text-bold">
                resultados
            </span>
        </h4>

        <div class="product-more-like-this">

            <h3 class="" 
                style="margin:0px!important;"
                ng-if="loading_moreLK">
                <span class="fa fa-refresh fa-spin etx-text-secondary"
                style="font-size:34px;">
                </span>
            </h3>

            <table class="table table-responsive mlx-item-listing" 
                style="background-color:#fff;margin:0px;margin-top:0px;padding-bottom:4px;">
                <tbody>
                    <tr>
                        <td ng-repeat="item in more_like_this.docs"
                            class="cursor-pointer"
                            title="{{item.titleDf}}"
                            style="padding:0px;vertical-align: middle;">
                            <div class="row mlx-item" >
                                <div class="col-6 text-center"
                                    ng-click="inlineOpen22('${compobj.fields[$PCF.webapp_id]}', item)">
                                  <img ng-src="{{item.image}}"
                                      style="display:inline;padding-top:10px;"
                                      width="90px" 
                                     />
                                </div>

                                <div class="col-6 "
                                    ng-click="inlineOpen22('${compobj.fields[$PCF.webapp_id]}', item)">
                                    <h4 class="ecommerce-item-title " 
                                      ng-click="openProduct(item, '${compobj.id}')"
                                      ng-bind="item.titleDf">
                                    </h4>

                                    <h4 class="card-title text-danger ecommerc-item-price "
                                      ng-click="openCart22('${compobj.fields[$PCF.webapp_id]}', item)"
                                      >
                                      <span class="item-price" ng-bind="item.priceAmount|currency:''"></span>
                                      <span class="item-currency" ng-bind="item.currency"></span>
                                    </h4>

                                    <p ng-if="item.cart_amount>0"
                                        class="mlt-cart-amount"
                                        style="margin:0px;">
                                        <span class="etx-text-danger ">
                                            <span class="fa fa-shopping-cart"></span>
                                        </span>
                                        <span class="etx-text-secondary ">
                                            <strong>
                                                {{item.cart_amount|currency:''}}
                                                {{item.unit}}
                                            </strong>
                                        </span>
                                    </p>
                                </div>

                                <div class="col-12 "
                                  style="width:100%;">
                                    <div ng-if="item.state=='PUBLISHED'|| item.state=='AVAILABLE'">
                                      <button class="btn etx-bg-danger text-bold btn-block btn-add-cart"
                                        style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                                        ng-click="inlineOpen22('${compobj.fields[$PCF.webapp_id]}', item)"
                                        >
                                        <span class="fa fa-shopping-cart"></span>
                                        ADICIONAR
                                        <span style="color:#333;"
                                          class="item-amount"
                                          id="item-amount-{{item.id}}">
                                        </span>
                                      </button>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
