<div role="tabpanel" ng-controller="x99Recom">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#loading-recom-<%=compobj.id%>" 
                aria-controls="loading-recom-<%=compobj.id%>" 
                role="tab" data-toggle="tab">
                Tab Loading
            </a>
        </li>
    
        <li role="presentation">
            <a href="#browser-recom-<%=compobj.id%>" 
                aria-controls="browser-recom-<%=compobj.id%>" 
                role="tab" data-toggle="tab">
                Tab#2
            </a>
        </li>
    </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane " id="loading-recom-<%=compobj.id%>">
        <h3>Loading recommendation</h3>
    </div>

    <div role="tabpanel" class="tab-pane active" id="browser-recom-<%=compobj.id%>">

        <div class="row rs-margin">
            <div class="col-12">
                <h3>
                    Histórico
                </h3>
                <!--
                <button class="btn etx-bg-warning btn-lg pull-left etx-text-white"
                    ng-click="loadRecommender('<%=compobj.id%>')">
                    REFRESH
                </button>
                -->
            </div>

            <div class="col-12">

                <!--
                <h2>
                    conf: 
                    <%=  JSON.stringify(compobj.cat_list.list) %>
                    <br/>
                    algorithm: 
                    <%=  JSON.stringify(compobj.recom_conf.conf_engine_algo) %>
                </h2>
                -->

                <div class="row rs-margin"
                    ng-init="loadRecommender('<%=compobj.id%>')">
                    <div class="col-12 group-controller-bar rs-padding">
                        <button class="btn etx-bg-secondary btn-lg pull-left etx-text-white"
                            ng-click="historyPrev('<%=compobj.id%>')">
                            <span class="fa fa-chevron-left"
                                style="font-size:45px;"></span>
                        </button>
                        <button class="btn etx-bg-secondary btn-lg pull-right etx-text-white"
                            ng-click="historyNext('<%=compobj.id%>')">
                            <span class="fa fa-chevron-right"
                                style="font-size:45px;"></span>
                        </button>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 cursor-pointer rs-padding"
                        ng-repeat="item in obj_list">
                        <div class="card ecommerce-item">
                              <div style="height:220px;background:url('{{item.image}}');background-size:cover;"
                                  class="prod-bg-image"
                                  ng-click="openProduct(item, '<%-compobj.id%>')">
                              </div>

                              <div class="card-body">
                                  <h4 class="ecommerce-item-title text-center" 
                                    ng-click="openProduct(item, '<%-compobj.id%>')"
                                    ng-bind="item.titleDf">
                                  </h4>
                                  <h4 class="ecommerce-item-title text-center" 
                                    ng-click="openProduct(item, '<%-compobj.id%>')">
                                    <span ng-bind="item.lastView" 
                                        style="color:orangered;">
                                    </span>
                                  </h4>

                                  <h4 class="card-title text-danger ecommerc-item-price text-center"
                                    ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                    >
                                    <span class="item-price" ng-bind="item.priceAmount|currency:''"></span>
                                    <span class="item-currency" ng-bind="item.currency"></span>
                                  </h4>

                                  <h4 class="card-title ecommerce-item-tags-v2 text-muted text-center"> 
                                    <!-- Categories: {{item.categories}} -->
                                    <span ng-if="item.categories.length>0" 
                                        class="fa fa-tag" style="font-size:11px;"></span>
                                    <small ng-bind="item.categories[item.categories.length-1].split('#')[1]">
                                    </small>
                                  </h4>

                                  <!-- Have to remove because the item may not be available -->
                                  <!--
                                  <div>
                                    <button class="btn bg-white text-bold btn-block btn-add-cart"
                                      style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                                      ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                      >
                                      <span class="fa fa-shopping-cart"></span>
                                      ADICIONAR
                                      <span style="color:#333;"
                                        class="item-amount"
                                        id="itemv2-amount-<%=compobj.id%>-{{item.id}}">
                                      </span>
                                    </button>
                                  </div>
                                  -->

                              </div> 
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
  </div>

</div>
