<div class="row rs-margin card-group"
    ng-controller="x99BannerCar">

    <div class="col-lg-6 col-md-6 col-sm-12 supercard-gitem">
        <div class="card "
            style="background-color: #fff">

            <div class="img-container-b" 
                style="background-image:url('<%=compobj.confObj.items.c1.image%>')">
            </div>

            <div class="img-container" 
                style="background-image:url('<%=compobj.confObj.items.c1.image%>')">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="<%-compobj.confObj.items.c1.link%>">
                            <%-compobj.confObj.items.c1.title%>
                        </a>
                    </h4>
                    <p class="card-text">
                        <%-compobj.confObj.items.c1.description%>
                    </p>
                    <%= compobj.confObj.items.c1.link ?
                        `
                            <div class=" "
                                style="border-top:0px;">
                                <a href="${compobj.confObj.items.c1.link}" 
                                        class="btn btn-primary btn-learnmore-card ">
                                    Saber Mais
                                </a>
                            </div>
                        ` : ''
                    %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 supercard-gitem">
        <div class="card "
            style="background-color: #fff">

            <div class="img-container-b" 
                style="background-image:url('<%=compobj.confObj.items.c2.image%>')">
            </div>

            <div class="img-container" 
                style="background-image:url('<%=compobj.confObj.items.c2.image%>')">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="<%-compobj.confObj.items.c2.link%>">
                            <%-compobj.confObj.items.c2.title%>
                        </a>
                    </h4>
                    <p class="card-text">
                        <%-compobj.confObj.items.c2.description%>
                    </p>
                    <%= compobj.confObj.items.c2.link ?
                        `
                            <div class=" "
                                style="border-top:0px;">
                                <a href="${compobj.confObj.items.c2.link}" 
                                        class="btn btn-primary btn-learnmore-card ">
                                    Saber Mais
                                </a>
                            </div>
                        ` : ''
                    %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 supercard-gitem">
        <div class="card "
            style="background-color: #fff">

            <div class="img-container-b" 
                style="background-image:url('<%=compobj.confObj.items.c3.image%>')">
            </div>

            <div class="img-container" 
                style="background-image:url('<%=compobj.confObj.items.c3.image%>')">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="<%-compobj.confObj.items.c3.link%>">
                            <%-compobj.confObj.items.c3.title%>
                        </a>
                    </h4>
                    <p class="card-text">
                        <%-compobj.confObj.items.c3.description%>
                    </p>
                    <%= compobj.confObj.items.c3.link ?
                        `
                            <div class=" "
                                style="border-top:0px;">
                                <a href="${compobj.confObj.items.c3.link}" 
                                        class="btn btn-primary btn-learnmore-card ">
                                    Saber Mais
                                </a>
                            </div>
                        ` : ''
                    %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 supercard-gitem">
        <div class="card "
            style="background-color: #fff">

            <div class="img-container-b" 
                style="background-image:url('<%=compobj.confObj.items.c4.image%>')">
            </div>

            <div class="img-container" 
                style="background-image:url('<%=compobj.confObj.items.c4.image%>')">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="<%-compobj.confObj.items.c4.link%>">
                            <%-compobj.confObj.items.c4.title%>
                        </a>
                    </h4>
                    <p class="card-text">
                        <%-compobj.confObj.items.c4.description%>
                    </p>
                    <%= compobj.confObj.items.c4.link ?
                        `
                            <div class=" "
                                style="border-top:0px;">
                                <a href="${compobj.confObj.items.c4.link}" 
                                        class="btn btn-primary btn-learnmore-card ">
                                    Saber Mais
                                </a>
                            </div>
                        ` : ''
                    %>
                </div>
            </div>
        </div>
    </div>
</div>

