<section class="showcase splash-carrs" ng-controller="x99BannerCar">
  <div class="container-fluid"
    ng-init="loadCardImage('<%=compobj.id%>', '<%=compobj.fields[$PCF.image]||'/img/bgray.png'%>' )">
    <div class="row no-gutters bg-light">

      <div ng-class="{'col-lg-6 text-white showcase-img splash-image-container':true, 
                        'order-lg-1': '<%-compobj.agenda_conf.orientation%>'=='RIGHT',
                        'order-lg-2': '<%-compobj.agenda_conf.orientation%>'=='LEFT',
                        }">

          <div class="carousel slide splash-car" data-ride="carousel" 
              id="banner-car-<%=compobj.id%>">
              <ol class="carousel-indicators">
                  <%=
                      compobj.confObj.items.map(function (C, index){
                          var add_klass= ((index==0) ? 'active' : '');
                          return `
                              <li data-target="#banner-car-${compobj.id}" 
                                  class="${add_klass}"
                                  data-slide-to="${index}" >
                              </li>
                          `;
                      }).join("")
                  %>
              </ol>

              <div class="carousel-inner" role="listbox">
                  <!-- Slide One - Set the background image for this slide in the line below -->
                  <%= 
                      compobj.confObj.items.map(function (C, index){
                          var add_klass= ((index==0) ? 'active' : '');
                          var gotoxx='';
                          if (C.n_link) {
                              gotoxx='title="Clique para abrir '+C.title+'" ng-click="openSlide($event, \''+C.n_link+'\',\''+C.title+'\')"';
                          }

                          return `
                              <div class="carousel-item ${add_klass} cursor-pointer"
                                  ${gotoxx}
                                  data-rendered-size='${C.r_sz}'
                                  data-type="image"
                                  data-gallery="f1-gallery-${compobj.id}"
                                  data-disable-external-check="true"
                                  href="${C.img}" 
                                  data-toggle="lightbox"
                                  style="background-image: url('${C.img}')">
                                  <div class=" spx-slide-descr">
                                      <h1 class="spx-slide-descr-text">
                                          ${C.title}
                                      </h1>
                                      <span class="fa fa-spin fa-refresh text-success"
                                          style="font-size:35px;"
                                          ng-if="loading_url">
                                      </span>
                                  </div>
                              </div>
                          `;

                      }).join("")
                  %>
              </div>

              <a class="carousel-control-prev" 
                  href="#banner-car-<%=compobj.id%>" 
                  role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>

              <a class="carousel-control-next" 
                  href="#banner-car-<%=compobj.id%>" 
                  role="button" 
                  data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>

      </div>

      <div ng-class="{'col-lg-6 my-auto showcase-text splash-text-container':true, 
                      'order-lg-1': '<%-compobj.agenda_conf.orientation%>'=='LEFT',
                      'order-lg-2': '<%-compobj.agenda_conf.orientation%>'=='RIGHT',
                      }">
        <h2>
            <%-compobj.fields[$PCF.title_df]%>
        </h2>
        <p class="xlead lead mb-0">
            <%-compobj.fields[$PCF.descr_df]%>
        </p>

        <ul class="list-inline mt-40 social-link-list">
            <li class="list-inline-item"
                ng-if="'<%-compobj.fields[$PCF.fb_link]%>'"
              >
                <a href="<%-compobj.fields[$PCF.fb_link]%>" target="__blank" 
                  class="etx-app-link-social social-facebook">
                    <img src="<%=WS_HOST%>/img/social-icons/001-facebook-logo.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>

            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.insta_link]%>'">
                <a href="<%-compobj.fields[$PCF.insta_link]%>" target="__blank" 
                  class="etx-app-link-social social-instagram">
                    <img src="<%=WS_HOST%>/img/social-icons/004-instagram.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>
        
        
            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.youtube_link]%>'">
                <a href="<%-compobj.fields[$PCF.youtube_link]%>" target="__blank" 
                  class="etx-app-link-social social-youtube">
                    <img src="<%=WS_HOST%>/img/social-icons/002-youtube-logotype.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>

            <li class="list-inline-item"
              ng-if="'<%-compobj.fields[$PCF.tw_link]%>'">
                <a href="<%-compobj.fields[$PCF.tw_link]%>" 
                    target="__blank" class="etx-app-link-social social-tiktok">
                    <img src="<%=WS_HOST%>/img/social-icons/003-tik-tok.svg" 
                        class="text-center" style="width:29px;" />
                </a>
            </li>
        </ul>

        <a class="btn etx-bg-primary etx-text-white btn-splash-go"
            ng-if="'<%-compobj.fields[$PCF.readmore_link]%>'"
            href="<%-compobj.fields[$PCF.readmore_link]%>">
            <%= compobj.fields[$PCF.checkout_page]||'Saber Mais' %>
        </a>
      </div>
    </div>
  </div>
</section>
