<div class="card h-100">
    <a href="<%-compobj.fields[$PCF.readmore_link]%>">
        <img class="card-img-top" height="280px" 
            src="<%=compobj.fields[$PCF.image]||'/img/bgray.png'%>" alt="" />
    </a>
    
    <div class="card-body">
        <h4 class="card-title">
            <a href="<%-compobj.fields[$PCF.readmore_link]%>">
                <%-compobj.fields[$PCF.title_df]%>
            </a>
        </h4>

        <p class="card-text">
            <%-compobj.fields[$PCF.descr_df]%>
        </p>
        <!-- <span>
            <strong>Includes</strong>
        </span>
        <ul class="list-group">
            <li class="list-group-item">Praia da Cidade velha</li>
            <li class="list-group-item">Fortaleza real</li>
            <li class="list-group-item">Sé Catedral</li>
            <li class="list-group-item">Pelourinho</li>
            <li class="list-group-item">+ Mais</li>
        </ul> -->
        <!-- <a href="services-exp-en.html" class="btn btn-primary" style="margin-top:10px;">Learn more</a> -->
    </div>

    <div class="card-footer"
        ng-init="readmore='<%-compobj.fields[$PCF.readmore_link]%>'"
        ng-if="readmore">
        <a href="<%-compobj.fields[$PCF.readmore_link]%>" class="btn btn-primary">
            Saber mais
        </a>
    </div>    
</div>
