<div class="row" 
    style="width:100%;padding-left:15px;"
    ng-controller="X99ServiceController"
    ng-init='loadServices("<%-compobj.fields[$PCF.org_id]%>");compobj=<%=JSON.stringify(compobj)%>;$PCF=<%=JSON.stringify($PCF)%>;$SVF=<%=JSON.stringify($SVF)%>'>

    <div class="col-md-12" style="padding: 15px;background-color: #fff;margin-bottom: 10px;"
        ng-if="<%-compobj.service_item_conf.enable_filter%>">
        <form novalidate ng-submit="filterTerm(searchQ)">
            <div class="row">
                <div ng-class="{'col-sm-12 col-md-12': true, 
                    'col-lg-12': !<%-compobj.service_item_conf.enable_surprise_bot%>, 
                    'col-lg-9': <%-compobj.service_item_conf.enable_surprise_bot%>}"
                    style="margin-bottom:10px;">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="text-bold btn btn-warning" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                        <input type="text" ng-model="searchQ" 
                            class="form-control" 
                            placeholder="Aa"
                        />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-12"
                    ng-if="<%-compobj.service_item_conf.enable_surprise_bot%>">
                    <button class="text-bold btn btn-success btn-block" 
                        ng-click="surpriseMe(searchQ)"
                        type="button">
                        <span class="fa fa-bullhorn"></span>
                        Surpreenda-me!
                    </button>
                </div>

                <!--
                <div class="col-lg-12 col-sm-12 col-md-12 text-center"
                    ng-if="<%-compobj.service_item_conf.enable_intely%>">
                        <h5 style="margin:0px;">
                            <span class="badge bg-secondary text-white">
                                INTELY IS ON
                            </span>
                        </h5>
                </div>
                -->
            </div>
        </form>
    </div>

    <div class=" <%-compobj.fields[$PCF.colsize]%> "
        style="padding-bottom:15px;"
        ng-repeat="x_service_obj in objects_list track by x_service_obj.id">

        <div class="card <%-compobj.fields[$PCF.comp_size]%> ">
            <a href="<%-compobj.fields[$PCF.readmore_link]%>">
                <!-- <%-compobj.fields[$PCF.image]%> -->
                <img class="card-img-top" height="280px" 
                    src="<%-compobj.fields[$PCF.image]%>" 
                    alt="<%-compobj.fields[$PCF.title_df]%> image " 
                />
            </a>

            <div class="card-body">
                <h4 class="card-title text-bold"
                    ng-init="view_page='<%-compobj.fields[$PCF.view_page]%>'">
                    <a href="<%-compobj.fields[$PCF.view_page]%>"
                        ng-bind="<%-compobj.fields[$PCF.title_df]%>">
                    </a>
                </h4>
                <p class="text-bold" style="font-weight:bold;"
                    ng-if="'<%- compobj.fields[$PCF.amount] %>'">
                    <span class="text-secondary text-bold"
                        ng-bind="<%- compobj.fields[$PCF.amount] %>"
                        style="color:#000">
                    </span>
                    <span class="text-secondary text-bold text-success"
                        ng-bind="'<%- compobj.fields[$PCF.currency] %>'">
                    </span>
                </p>
                <p class="card-text"
                    ng-bind="<%-compobj.fields[$PCF.descr_df]%>">
                </p>
                <!-- <span>
                    <strong>Includes</strong>
                </span>
                <ul class="list-group">
                    <li class="list-group-item">Praia da Cidade velha</li>
                    <li class="list-group-item">Fortaleza real</li>
                    <li class="list-group-item">Sé Catedral</li>
                    <li class="list-group-item">Pelourinho</li>
                    <li class="list-group-item">+ Mais</li>
                </ul> 
                -->
                <!-- 
                <a href="services-exp-en.html" class="btn btn-primary" style="margin-top:10px;">Learn more</a> 
                -->
            </div>

            <div class="card-footer"
                ng-init="checkout_page='<%-compobj.fields[$PCF.checkout_page]%>'">
                <a href="<%-compobj.fields[$PCF.checkout_page]%>" 
                    style="font-size:16px;font-weight:bold"
                    class="btn btn-warning text-bold"
                    ng-if="checkout_page">
                    ORDER NOW
                </a>
            </div>    
        </div>        
    </div>

    <div class="col-md-12" style="">
        <div>
            <button class="btn btn-primary btn-block"
                ng-if="load_more"
                ng-click='loadMore("lmx-<%-compobj.id%>", "<%-compobj.fields[$PCF.org_id]%>")'>

                <span ng-if="!loading_more">
                    Load more
                </span>
                <span ng-if="loading_more">
                    <span class="fa fa-refresh fa-spin"></span>
                    Loading
                </span>
            </button>
        </div>

        <div class="text-center">
            <h4 class="card-title text-bold" style="margin:0px"
                id="lmx-<%-compobj.id%>">
                Total: <span ng-bind="total_count"></span>
                Viewing: <span ng-bind="objects_list.length"></span>
            </h4>
        </div>
    </div>

</div>

