<div class="row rs-margin"
    ng-controller="X99RequestSvc">
    <div class="col-md-8 col-sm-12">
        <h1 class="mt-4 mb-3">
            <%-compobj.fields[$PCF.title_df]%>
        </h1>
        <p>
            <%-compobj.fields[$PCF.descr_df]%>
        </p>
    </div>

    <div class="col-md-4 col-sm-12"
        id="service-link-<%-compobj.id%>" 
        ng-init="initServiceLinks('#service-link-<%-compobj.id%>')"
        style="padding-top:25px;">
        <a class="btn btn-success btn-block hidden text-bold" 
            ng-if="'<%-compobj.fields[$PCF.view_page]%>'"
            href="<%-compobj.fields[$PCF.view_page]%>"> 
            <span class="fa fa-phone"></span> 
            Request
        </a>

        <a class="btn btn-warning btn-block hidden text-bold" 
            ng-if="'<%-compobj.fields[$PCF.checkout_page]%>'"
            href="<%-compobj.fields[$PCF.checkout_page]%>"> 
            <span class="fa fa-shopping-cart"></span> 
            Checkout
        </a>
    </div>
</div>
