            <div class="col-sm-12 col-md-12 col-lg-4 shopping-cart-details-right"
                style="padding-top:20px;">

                <div id="user-account-details text-center"
                    ng-if="userAccount">

                    <center>
                        <!--
                        <p class="your-account-info text-bold">
                            <span class="fa fa-lock text-bold text-success"></span>
                            <span class="" style="color:#ccc;"> 
                                Secure
                            </span>
                        </p>
                        <img src="<%=WS_HOST%>/img/ghost_person_100x100_v1.png"
                            width="60px"
                            class=""
                            style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                        />

                        <h3 class="account-name etx-user-name text-center" style="margin:0px!important;padding:0px!important;">
                            <span ng-bind="userAccount.name.toUpperCase()"></span>
                            <span class="badge bg-success text-white hidden"
                                id="account-verified"
                                ng-if="userAccount.state=='CONFIRMED'">
                                <span class="fa fa-check"></span>
                            </span>
                        </h3>

                        <h3 style="margin:0px!important;margin-bottom:10px;padding:0px!important;"></h3>

                        <h3 style="margin:0px;font-size:15px;margin:0px!important;padding:0px!important;" class="text-center etx-user-email">
                            <small class="text-muted"
                                ng-bind="userAccount.email.toUpperCase()"
                                style="font-size:18px;">
                            </small>
                        </h3>

                        <h3 class="account-name etx-user-phone text-center" style="margin:0px!important;padding:0px!important;">
                            <span ng-bind="userAccount.phone"></span>
                        </h3>
                        <h3 class="account-name etx-user-state text-center">
                            <span ng-bind="userAccount.state"></span>
                        </h3>
                        -->
                    </center>
                    <hr/>
                </div>


                <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                    <center >
                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                            class="text-center"
                            style="width:40px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                            class="text-center"
                            style="width:52px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                            class="text-center"
                            style="width:61px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                            class="text-center"
                            style="width:69px;" 
                        />
                    </center>
                </div>
                <div class="etx-paypal-payment" style="margin-bottom:10px;">
                    <center >
                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                            class="text-center"
                            style="width:40px;margin-right:10px;" 
                        />
                    </center>
                </div>
                <div class="etx-custom-payment" style="margin-bottom:10px;">
                    <center >
                        <img src=""
                            class="text-center etx-custom-method-1"
                            style="margin-right:10px;" 
                        />
                    </center>
                    <center >
                        <img src=""
                            class="text-center etx-custom-method-2"
                            style="margin-right:10px;" 
                        />
                    </center>
                </div>

                <table class="table">
                    <tr>
                        <td class="text-left">
                            Subtotal
                        </td>
                        <td class="text-right">
                            <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                class="text-bold">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            Descontos
                        </td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <h3 style="margin:0px;">
                                <span>
                                    Produtos
                                </span>
                            </h3>
                        </td>
                        <td class="text-right" colspan="2">
                            <h3 style="margin:0px;">
                                <span class="text-secondary text-bold"
                                    ng-bind="cartObj.count_products">
                                </span>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <h3>
                                Total
                            </h3>
                        </td>
                        <td class="text-right">
                            <h3>
                                <span class="etx-text-secondary text-bold"
                                    ng-bind="$filter('currency')(cartObj.total, '')">
                                </span>
                            </h3>
                        </td>
                    </tr>
                </table>

                <p class="text-muted">
                    Ao comprar na nossa loja,
                    concorda com os nossos
                    <a href="<%= compobj.confObj.service_terms_url %>">termos de servi&ccedil;o.</a>
                </p>

                <div class="cursor-pointer" 
                    style="padding-top:80px;padding-bottom:10px;">
                    <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                        Verificado &amp; Protegido por
                    </p>
                    <a href="https://enterstarts.com" 
                        target="__blank">
                        <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                            class="text-center"
                            style="width:220px;" 
                        />
                    </a>
                </div>
            </div>