<div class="row rs-margin"
    style="">

    <!-- PAYMENT_CONF: <%= compobj.fields[$PCF.payment_conf] %> -->
    <!-- PAYMENT_CONF: <%= compobj.payment_conf_obj %> -->

    <div class="col-md-12 rs-padding" style="">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist"
            style="display:none">
            <li role="presentation" class="nav-item">
                <a href="#cart-loading" aria-controls="cart-loading" 
                    role="tab" data-toggle="tab"
                    class="nav-link active ">
                    Loading cart
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#cart-home-details" aria-controls="cart-home-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Carrinho
                </a>
            </li>

            <li role="presentation" >
                <a href="#user-details" 
                    aria-controls="user-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    User Details
                </a>
            </li>

            <li role="presentation" >
                <a href="#reserve-success" 
                    aria-controls="reserve-success" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    Reserve success
                </a>
            </li>
            <li role="presentation" >
                <a href="#cart-go-payment" 
                    aria-controls="cart-go-payment" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Reserve payment
                </a>
            </li>
        </ul>

        <div class="row rs-margin" >            
            <div class="col-sm-12 col-md-12 col-lg-12 rs-padding" style="background-color:#f4f4f4;">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade "
                        id="cart-go-payment">
                            <!-- <h3>MAKE CART PAYMENT</h3> -->
                        <div class="card-body text-center" style="padding-top:15px;"
                            ng-if="loading_billing">
                            <span class="fa fa-refresh fa-spin text-warning" 
                                style="font-size:55px;margin-top:15px;"></span>

                            <h4 class="card-title" style="font-weight:bold;">
                                Processando...
                            </h4>
                        </div>

                        <div class="card-body text-center" style="padding-top:15px;"
                            ng-if="billing_success">
                            <span class="fa fa-check text-success" 
                                style="font-size:55px;margin-top:15px;"></span>

                            <h4 class="card-title" style="font-weight:bold;">
                                Pronto para pagamento
                            </h4>
                        </div>

                        <div class="alert alert-danger" 
                            id="error-area-a3e98b847c0648e8"
                            style="padding-top:15px;border-radius:0px;"
                            ng-if="billing_error">
                            <h3 style="color:#333;">Nao foi possivel concluir a opera&ccedil;&atilde;o.</h3>
                            <p ng-repeat="e in billing_error">{{e}}</p>
                        </div>

                        <form ng-submit="saveCartBilling(billingForm, 'CART_BILLING','<%= compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"
                            method="get"
                            style="padding:15px"
                            ng-if="!currentBillingtx.id"
                            name="billingForm">

                            <!--
                            <div class="alert alert-info">
                                <h3>Pagamento do carrinho {{cartBillingObj.contextId}}</h3>
                                Todas as faturas, recibos e pagamentos pendentes
                                podem ser encontradas na aba "MEUS PAGAMENTOS" no menu acima.
                                <h3>
                                    compobj.payment_conf_obj
                                    <%=JSON.stringify(compobj.payment_conf_obj)%>
                                </h3> 
                            </div>
                            -->

                            <div class="form-group">
                                <h3 style="margin:0px;">Pagamento do carrinho</h3>
                                <p style="margin:0px;" 
                                    class="text-secondary">Compra efetuada em {{cartBillingObj.dateFmt}}</p>

                                <div class="cart-resume">
                                    <h3 style=""
                                        class="shopper-details-label">
                                        Pago Por
                                    </h3>
                                    <table class="table borderless">
                                        <tbody>
                                            <tr>
                                                <td class="text-right" style="width:50px">
                                                    <span class="fa fa-user"></span>
                                                </td>
                                                <td class="text-left">
                                                    <p style="margin:0px;"  class="shopper-name">
                                                        <strong>{{cartBillingObj.name}}, {{cartBillingObj.surname}}</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" style="width:50px">
                                                    <span class="fa fa-envelope"></span>
                                                </td>
                                                <td class="text-left">
                                                    <p style="margin:0px;"  class="shopper-email">
                                                        &nbsp;<strong>{{cartBillingObj.email}}</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right" style="width:50px">
                                                    <span class="fa fa-phone"></span>
                                                </td>
                                                <td class="text-left">
                                                    <p style="margin:0px;"  class="shopper-phone">
                                                        &nbsp;<strong>{{cartBillingObj.phone}}</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <%=
                                compobj.payment_conf_obj.list&&compobj.payment_conf_obj.list.length>1 ?
                                    `
                                        <label for="exampleInputEmail1" class="text-center text-bold">
                                            Escolha o M&eacute;todo de pagamento
                                        </label>
                                    ` :
                                    ''
                                %>

                                <%=
                                compobj.payment_conf_obj.list&&compobj.payment_conf_obj.list.length>0 ?
                                    `<span ng-init="setPaymentTYPE({id:'${compobj.payment_conf_obj.list[0].id}', type:'${compobj.payment_conf_obj.list[0].account_type}'})"></span>` :
                                    ''
                                %>

                                <ul class="list-group">
                                    <%=
                                        compobj.payment_conf_obj && compobj.payment_conf_obj.list
                                        ? compobj.payment_conf_obj.list
                                        .map(function (EL){
                                            var payment_method=EL.account_type;
                                            if (EL.account_type=='PAYPAL') {
                                                payment_method=`<img src="https://publica.enterstarts.com/img/paypal-logo.png" class="contact-payment-options" width="100" height="" style="margin-bottom:20px;">

                                                    <p class="text-secondary">
                                                        O seu pagamento vai ser processado por PAYPAL.
                                                    </p>
                                                `;

                                            } else {
                                                payment_method=`<img src="https://publica.enterstarts.com/img/etx-payments-2.png" class="contact-payment-options" width="200" height="" style="margin-bottom:20px;">

                                                <p class="text-secondary">
                                                    O seu pagamento vai ser processado por
                                                    SISP - Sociedade Interbancaria de Sistemas de Pagamentos S.A.
                                                    <br/>
                                                    <a href="https://www.sisp.cv" target="__blank">
                                                    SISP.CV
                                                    </a>
                                                </p>
                                                `;
                                            }

                                            return `<li 
                                                ng-class="{'list-group-item etx-payment-option cursor-pointer': true, 'active':cartBillingObj.merchant_id=='${EL.id}'}" 
                                                ng-click="setPaymentTYPE({id:'${EL.id}', type:'${EL.account_type}'})">
                                                <h4 class="etx-payment-type">${EL.description}</h4>
                                                <p style="margin:0px;">${payment_method}</p>
                                            </li>`
                                        }) : ''
                                    %>                                    
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <strong>NIF</strong> (opcional)
                                </label>
                                <input type="text" class="form-control" 
                                    placeholder="1232"
                                    ng-model="cartBillingObj.nif"
                                />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-bold">
                                    OBSERVAÇÃO
                                </label>
                                <textarea class="form-control" 
                                    placeholder="Aa"
                                    required
                                    rows="5"
                                    ng-model="cartBillingObj.description"
                                ></textarea>
                            </div>

                            <div class="row rs-margin">
                                <div class="col-lg-8 col-sm-12">
                                    <p class="payment-method">M&eacute;todos de pagamento</p>
                                    <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                                            class="text-center"
                                            style="width:40px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                                            class="text-center"
                                            style="width:52px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                                            class="text-center"
                                            style="width:61px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                                            class="text-center"
                                            style="width:69px;" 
                                        />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-12">

                                    <table class="table">
                                        <tr>
                                            <td class="text-left subtotal-checkout">
                                                Subtotal
                                            </td>
                                            <td class="text-right subtotal-amount-checkout">
                                                <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                    class="text-bold">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h3 class="total-checkout">
                                                    Total
                                                </h3>
                                            </td>
                                            <td class="text-right">
                                                <h3 class="total-amount-checkout">
                                                    <span class="etx-text-secondary text-bold"
                                                        ng-bind="$filter('currency')(cartObj.total, '')">
                                                    </span>
                                                </h3>
                                            </td>
                                        </tr>
                                    </table>

                                    <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                        <button type="submit" 
                                            class="btn etx-bg-primary btn-finish-payment btn-round text-bold  "
                                            ng-disabled="loading_billing&&!billing_error">
                                            EFECTUAR PAGAMENTO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row rs-margin" ng-if="currentBillingtx.id"  >
                            <div class="col-12 rs-padding"
                                ng-if="frame_is_loading">
                                <div class="alert alert-success text-center" 
                                    style="margin-bottom:0px;">
                                    <h4 style="margin:0px;">
                                        <span class="fa-spin fa fa-refresh"></span>
                                        <span style="color:#333">
                                            AGUARDE
                                        </span>
                                    </h4>

                                    <p style="margin:0px">
                                        Se n&atilde;o abrir uma janela abaixo,
                                        <br/>
                                        <a href="{{currentBillingtx.embeed_payment_link}}">clique aqui para efetuar o pagamento</a>
                                    </p>
                                </div>
                            </div>

                            <!-- src="http://127.0.0.1:9000/billings/764d99d80c49468d/for-client-embeed" -->
                            <!-- ng-src="currentBillingtx.embeed_payment_link" -->

                            <div class="col-12 rs-padding" id="iframe_payment_index" >
                                <!--
                                <iframe 
                                    id="iframe_payment"
                                    style="border:0px;"
                                    height="800px" width="100%"></iframe>
                                -->
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade show active"
                        ng-init="loadCart()"
                        id="cart-loading">

                        <div class="row">
                            <div class="col-12">
                              <h3 class="text-center" style="margin-top:25px;">
                                  <span class="fa fa-refresh fa-spin etx-text-warning"
                                      style="font-size:25px;">
                                  </span>
                                  <br/>
                                  <span class="etx-text-secondary"
                                      style="font-size:17px;">
                                      AGUARDE
                                  </span>
                              </h3>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade " 
                        id="cart-home-details"
                        ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">
                        <center ng-if="!has_items">
                            <h3 style="padding-top:20px;margin:0px;"
                                class="text-center">
                                <span class="fa fa-shopping-cart"></span>
                                <span ng-bind="'Oops, carrinho vazio.'"></span>
                            </h3>
                            <p class="text-muted text-center">
                                <span ng-bind="'O seu carrinho esta vazio.'"></span>
                            </p>
                            <a class="btn etx-bg-danger btn-round text-center text-bold"
                                href="index.html">
                                <span class="fa fa-home"></span>
                                <span ng-bind="'Leve me ao inicio'"></span>
                            </a>
                        </center>

                        <div class="ecommerce-cart-buy-container" 
                            style="">

                            <form novalidate style="margin:0px;">
                                <div class="row" ng-if="has_items">
                                    <div class="col-12">
                                        <div class="input-group" style="display:none;margin:0px;">
                                            <input type="text" 
                                                class="form-control" 
                                                placeholder="Filtrar" 
                                                ng-model="filter_prods"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!--
                            <h3 style="font-size:19px;color:#666;margin:0px;"
                                ng-if="has_items">
                                Confirme os itens e clique em <strong style="color:#000;" class="text-primary cursor-pointer text-underlined"
                                ng-click="toUserDetails()"
                                >continuar</strong>
                                para finalizar a sua compra.
                            </h3>
                            -->

                            <ul class="list-group" style="padding:10px">
                                <li class="list-group-item cursor-pointer"
                                    style="border-radius:0px;margin-bottom:4px;"
                                    ng-repeat="item in cartObj.item_list|filter: filter_prods">

                                    <div class="row rs-margin">
                                        <div class="col-4">
                                            <img ng-src="{{item.image}}" 
                                                class=""
                                                style="display:inline"
                                                width="120px" 
                                            />
                                        </div>
                                        <div class="col-3 text-left">
                                            <h3 style="margin:0px;"
                                                class="shopping-item-title">
                                                <a class=""
                                                    ng-show="item.parent_id"
                                                    href="ec-product.html?product_id={{item.parent_id}}&variant={{item.id}}">
                                                    {{item.label}}
                                                </a>
                                                <a class=""
                                                    ng-show="!item.parent_id"
                                                    href="ec-product.html?product_id={{item.id}}">
                                                    {{item.label}}
                                                </a>
                                            </h3>
                                            <h3 style="margin:0px;"
                                                class="shopping-item-var"
                                                ng-if="item.prod_var">
                                                <span class="etx-text-secondary etx-item-size">Tamanho</span>
                                                {{item.prod_var}}
                                            </h3>
                                        </div>

                                        <div class="col-3 text-right">
                                            <h3 style="margin:0px;padding-left:10px;"
                                                class="shopping-item-price">
                                                <span class="price-val">
                                                    {{item.price | currency:''}}
                                                    {{item.currency }}
                                                </span>
                                                <!--
                                                <span ng-if="item.last_purchase_price>0"
                                                    style="font-size:12px;">
                                                    {{item.last_purchase_price | currency:''}}
                                                    {{item.currency }}
                                                </span>
                                                -->
                                                <span class="shopping-item-amount">
                                                    X
                                                    {{item.amount}}
                                                    <strong class="pull-right">
                                                      {{item.unit}}
                                                    </strong>
                                                </span>
                                            </h3>
                                        </div>

                                        <div class="col-2">
                                            <button class="btn etx-bg-danger text-bold btn-round shopping-item-remove"
                                                ng-click="removeFromCartList(item, $index)">
                                                <span ng-if="!rm_state[item.id]">
                                                    <span class="fa fa-trash"></span>
                                                </span>
                                                <span ng-if="rm_state[item.id]=='DONE_ERROR'">
                                                    TRY AGAIN
                                                </span>
                                                <span ng-if="rm_state[item.id]=='LOADING'">
                                                    HOLD ON
                                                </span>
                                            </button>
                                            <a class="btn etx-bg-primary etx-text-white btn-round text-bold shopping-item-edit"
                                                ng-show="!item.parent_id"
                                                href="ec-purchase.html?product_id={{item.id}}">
                                                EDIT
                                            </a>
                                        </div>
                                    </div>

                                </li>
                            </ul>

                            <div class="row rs-margin">
                                <div class="col-lg-8 col-sm-12">
                                    <p class="payment-method">M&eacute;todos de pagamento</p>
                                    <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                                            class="text-center"
                                            style="width:40px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                                            class="text-center"
                                            style="width:52px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                                            class="text-center"
                                            style="width:61px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                                            class="text-center"
                                            style="width:69px;" 
                                        />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-12">

                                    <table class="table">
                                        <tr>
                                            <td class="text-left subtotal-checkout">
                                                Subtotal
                                            </td>
                                            <td class="text-right subtotal-amount-checkout">
                                                <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                    class="text-bold">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h3 class="total-checkout">
                                                    Total
                                                </h3>
                                            </td>
                                            <td class="text-right">
                                                <h3 class="total-amount-checkout">
                                                    <span class="etx-text-secondary text-bold"
                                                        ng-bind="$filter('currency')(cartObj.total, '')">
                                                    </span>
                                                </h3>
                                            </td>
                                        </tr>
                                    </table>

                                    <p class="service-acceptance">
                                        By purchasing on our store
                                        you agree to our 
                                        <a href="condicoes-servico.html">terms of service</a>
                                    </p>

                                    <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                        <button class="btn text-bold bg-white btn-clear-cleart btn-round text-danger btn "
                                            ng-disabled="loading_cart"
                                            ng-if="has_items"
                                            ng-click="clearCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                            type="button">
                                            Clear
                                            <span class="fa fa-trash"></span>
                                        </button>

                                        <button class="btn text-bold etx-bg-primary btn-go-cart-details btn-round text-white btn"
                                            ng-disabled="loading_cart"
                                            ng-click="toUserDetails()"
                                            ng-if="has_items"
                                            style="margin-left: 15px;"
                                            type="button">
                                            Continue
                                            <span class="fa fa-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="user-details">
                        <div class="row rs-margin">
                            <div class="col-12" style="margin-top:10px;">
                                <div class="form-group"
                                    ng-if="loading_cart_request_error">
                                    <div class="alert alert-danger text-center"
                                        style="border-radius:0px;">
                                        <h3 style="margin:0px;color:#333">
                                            Não foi possivel concluir a operação.
                                        </h3>
                                        <p ng-repeat="e in loading_cart_request_error"
                                            style="margin:0px">
                                            {{e}}
                                        </p>
                                        <hr/>
                                        <p style="margin:0px;margin-top:4px"
                                            class="text-bold">
                                            Por favor, entre em contacto connosco:<br/>
                                            <a href="mailto:info@enterstarts.com">
                                                info@enterstarts.com
                                            </a><br/>
                                            <a href="tel:+2385850606">
                                                (+238)5850606
                                            </a>,
                                            <a href="tel:+2385995330">
                                                (+238)5995330
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"
                                ng-init="loadUserCart()">

                                <form name="reserveCustForm" 
                                    id="reserveCustForm"
                                    ng-submit="MakePurchase(reserveCustForm, 
                                    '<%=compobj.id%>', '<%=compobj.fields[$PCF.user_id]%>', '<%=$INV.price%>')">
    

                                    <div class="row rs-margin">
                                        <div class="col-lg-6 col-sm-12 col-xs-12">
                                            <div class="cart-resume"
                                                ng-if="showCartResume">

                                                <h3 style=""
                                                    class="shopper-details-label">
                                                    Detalhes do comprador
                                                </h3>
                                                <table class="table borderless">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-right" style="width:50px">
                                                                <span class="fa fa-user"></span>
                                                            </td>
                                                            <td class="text-left">
                                                                <p style="margin:0px;"  class="shopper-name">
                                                                    &nbsp;<strong>{{reqObj.name}}, {{reqObj.surname}}</strong>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right" style="width:50px">
                                                                <span class="fa fa-envelope"></span>
                                                            </td>
                                                            <td class="text-left">
                                                                <p style="margin:0px;"  class="shopper-email">
                                                                    &nbsp;<strong>{{reqObj.email}}</strong>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right" style="width:50px">
                                                                <span class="fa fa-phone"></span>
                                                            </td>
                                                            <td class="text-left">
                                                                <p style="margin:0px;"  class="shopper-phone">
                                                                    &nbsp;<strong>{{reqObj.phone}}</strong>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                                <a class="btn cursor-pointer btn-sm btn-round etx-bg-primary etx-text-white text-bold btn-edit-cart-resume" 
                                                    style="margin-bottom:15px;"
                                                    ng-if="showCartResume"
                                                    ng-click="enableEditCart()">
                                                    <span class="fa fa-edit"></span>
                                                    Editar
                                                </a>
                                            </div>

                                            <div ng-if="!showCartResume||hideReserveForm">
                                                <div class="form-group">
                                                    <label class="cart-label">Nome *</label>
                                                    <input type="text" ng-model="reqObj.name" 
                                                        required
                                                        class="form-control cart-input" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="cart-label">Sobrenome *</label>
                                                    <input type="text" ng-model="reqObj.surname" 
                                                        required
                                                        class="form-control cart-input" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="cart-label">Email *</label>
                                                    <input type="email" ng-model="reqObj.email"
                                                        required 
                                                        class="form-control cart-input" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="cart-label">Numero de Telefone *</label>
                                                    <input type="text" ng-model="reqObj.phone" 
                                                        required
                                                        class="form-control cart-input cart-phone" />
                                                </div>

                                            </div>

                                            <%=
                                                compobj.payment_conf_obj && compobj.payment_conf_obj.list
                                                && compobj.payment_conf_obj.list.length > 0 ?
                                                `
                                                    <div class="form-group etx-payment-method"
                                                        ng-init="payment_method='ONLINE_PAYMENT'">
                                                    </div>
                                                ` :
                                                ''
                                            %>

                                            <div class="form-group">
                                                <label class="cart-label">Concelho</label>
                                                <!--
                                                <select class="form-control"
                                                    ng-change="locUpdated()"
                                                    required
                                                    ng-model="XS.delivery_loc">
                                                    <option ng-value="o"
                                                        ng-repeat="o in loc_list">
                                                        {{o.label}}
                                                    </option>
                                                </select>
                                                -->
                                                <select ng-model="reqObj.region"
                                                    required
                                                    class="form-control ">
                                                    <option value="" selected="selected">CONCELHO *</option>
                                                    <option value="RIBEIRA GRANDE">Ribeira Grande</option>
                                                    <option value="PAUL">Paúl</option>
                                                    <option value="PORTO NOVO">Porto Novo</option>

                                                    <option value="SÃO VICENTE">São Vicente</option>
                                                    <option value="RIBEIRA BRAVA">Ribeira Brava</option>
                                                    <option value="TARRAFAL DE SÃO NICOLAU">Tarrafal de São Nicolau</option>

                                                    <option value="SAL">Sal</option>
                                                    <option value="BOAVISTA">Boavista</option>
                                                    <option value="MAIO">Maio</option>

                                                    <option value="PRAIA">Praia</option>
                                                    <option value="SÃO DOMINGOS">São Domingos</option>
                                                    <option value="SANTA CATARINA DE SANTIAGO">Santa Catarina</option>
                                                    <option value="SÃO SALVADOR DO MUNDO">São Salvador do Mundo</option>
                                                    <option value="SANTA CRUZ">Santa Cruz</option>
                                                    <option value="SÃO LOURENÇO DOS ORGÃOS">São Lourenço dos Órgãos</option>
                                                    <option value="RIBEIRA GRANDE DE SANTIAGO">Ribeira Grande de Santiago</option>
                                                    <option value="SÃO MIGUEL">São Miguel</option>
                                                    <option value="TARRAFAL">Tarrafal de Santiago</option>

                                                    <option value="SÃO FILIPE">São Filipe</option>
                                                    <option value="SANTA CATARINA DO FOGO">Santa Catarina do Fogo</option>
                                                    <option value="MOSTEIROS">Mosteiros</option>
                                                    <option value="BRAVA">Brava</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="cart-label">C&oacute;digo postal</label>
                                                <input type="text" name="postal_code"
                                                    ng-model="reqObj.postal_code" 
                                                    class="form-control"
                                                />
                                            </div>

                                            <div class="form-group">
                                                <label>Endereço Completo</label>
                                                <textarea class="form-control cart-textarea" 
                                                    ng-model="reqObj.address"
                                                    placeholder="Endereço"
                                                    rows="3"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label class="cart-label">Observações</label>
                                                <textarea class="form-control cart-textarea" 
                                                    ng-model="reqObj.msg"
                                                    rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group etx-delivery-method">
                                                <h3>
                                                    <span class="fa fa-truck"></span>
                                                    Entrega 
                                                </h3>
                                                <ul class="list-group">
                                                    <!--
                                                    <li class="list-group-item cursor-pointer"
                                                        ng-click="setDeliveryOption('HOME_DELIVERY')">
                                                        <label style="font-size:24px;width:100%;"
                                                            class="cursor-pointer">
                                                            <input type="radio" name="delivery_method" checked />
                                                            Em casa
                                                        </label>
                                                        <p class="etx-text-secondary">
                                                            Entrega directamente no seu concelho
                                                            e endere&ccedil;o fornecido.
                                                        </p>

                                                        <div class="form-group"
                                                            ng-show="delivery_method=='HOME_DELIVERY'">
                                                            <label class="cart-label">Endereço Completo</label>
                                                            <textarea class="form-control cart-textarea" 
                                                                ng-model="reqObj.shipping_address"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </li>
                                                    -->

                                                    <li ng-class="{'list-group-item delivery-item cursor-pointer':true,
                                                                    'opt-active': delivery_method=='STORE_TAKEOUT'}"
                                                        ng-click="setDeliveryOption('STORE_TAKEOUT')">
                                                        <label style="font-size:24px;width:100%;"
                                                            class="cursor-pointer">
                                                            Click to collect
                                                        </label>
                                                        <p class="text-secondary">
                                                            Efectue a recolha directamente
                                                            nas nossas lojas
                                                        </p>
                                                        <div class="form-group">
                                                            <select ng-model="reqObj.delivery_post"
                                                                required
                                                                ng-if="delivery_method=='STORE_TAKEOUT'"
                                                                class="form-control kh-select">
                                                                <option value="DOPE_MATES">
                                                                    Dope Mates, Praia
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </li>

                                                    <li ng-class="{'list-group-item delivery-item cursor-pointer':true,
                                                                    'opt-active': delivery_method=='CCV_DELIVERY'}"
                                                        ng-click="setDeliveryOption('CCV_DELIVERY')">
                                                        <!--
                                                        <label style="font-size:24px;width:100%;"
                                                            class="cursor-pointer">
                                                            <input type="radio" name="delivery_method" />
                                                            Correios CV
                                                        </label>
                                                        -->
                                                        <img src="<%=WS_HOST%>/img/logotipo-ccv-text.png"
                                                            class="text-center"
                                                            style="width:180px;margin-right:10px;margin-bottom:15px;" 
                                                        />

                                                        <p class="etx-text-secondary">
                                                            Entrega via Correios de Cabo Verde.
                                                        </p>

                                                        <div class="form-group">
                                                            <label class="cart-label">Concelho de Entrega</label>
                                                            <select ng-model="reqObj.shipping_region"
                                                                required
                                                                ng-disabled="delivery_method!='CCV_DELIVERY'"
                                                                ng-change="updateShippingTotal()"
                                                                class="form-control ">
                                                                <option value="" selected="selected">CONCELHO *</option>
                                                                <option value="RIBEIRA GRANDE">Ribeira Grande</option>
                                                                <option value="PAUL">Paúl</option>
                                                                <option value="PORTO NOVO">Porto Novo</option>

                                                                <option value="SÃO VICENTE">São Vicente</option>
                                                                <option value="RIBEIRA BRAVA">Ribeira Brava</option>
                                                                <option value="TARRAFAL DE SÃO NICOLAU">Tarrafal de São Nicolau</option>

                                                                <option value="SAL">Sal</option>
                                                                <option value="BOAVISTA">Boavista</option>
                                                                <option value="MAIO">Maio</option>

                                                                <option value="PRAIA">Praia</option>
                                                                <option value="SÃO DOMINGOS">São Domingos</option>
                                                                <option value="SANTA CATARINA DE SANTIAGO">Santa Catarina</option>
                                                                <option value="SÃO SALVADOR DO MUNDO">São Salvador do Mundo</option>
                                                                <option value="SANTA CRUZ">Santa Cruz</option>
                                                                <option value="SÃO LOURENÇO DOS ORGÃOS">São Lourenço dos Órgãos</option>
                                                                <option value="RIBEIRA GRANDE DE SANTIAGO">Ribeira Grande de Santiago</option>
                                                                <option value="SÃO MIGUEL">São Miguel</option>
                                                                <option value="TARRAFAL">Tarrafal de Santiago</option>

                                                                <option value="SÃO FILIPE">São Filipe</option>
                                                                <option value="SANTA CATARINA DO FOGO">Santa Catarina do Fogo</option>
                                                                <option value="MOSTEIROS">Mosteiros</option>
                                                                <option value="BRAVA">Brava</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group"
                                                            ng-show="delivery_method=='CCV_DELIVERY'">
                                                            <label class="cart-label">Endereço Completo</label>
                                                            <textarea class="form-control cart-textarea" 
                                                                ng-model="reqObj.shipping_address"
                                                                required
                                                                rows="3"></textarea>
                                                        </div>
                                                    </li>
                                                </ul>

                                            <table class="table">
                                                <tr ng-show="shipping_total.concelho||CONCELHO_NOT_SUPPORTED||calculating_shipping">
                                                    <td class="text-left subtotal-checkout" >
                                                        Entrega
                                                    </td>
                                                    <td class="text-right delivery-option-loading"
                                                        ng-show="calculating_shipping">
                                                        <span class="fa fa-refresh fa-spin"></span>
                                                    </td>
                                                    <td class="text-right delivery-option-not-supported"
                                                        ng-show="CONCELHO_NOT_SUPPORTED">
                                                        '{{reqObj.shipping_region}}'
                                                        n&atilde;o se encontra disponivel.
                                                        Escolha outra op&ccedil;&atilde;o.
                                                    </td>
                                                    <td class="text-right delivery-option-details"
                                                        ng-show="shipping_total.concelho&&!calculating_shipping">
                                                        <p class="delivery-option-p">
                                                            <span class="delivery-option-concelho">
                                                                <strong>{{shipping_total.concelho}}</strong>
                                                            </span>
                                                            <br/>
                                                            <span class="delivery-option-estimation">
                                                                {{shipping_total.estimated_time}}
                                                            </span>
                                                        </p>
                                                        <span ng-bind="$filter('currency')(shipping_total.totalCost,'')"
                                                            class="text-bold delivery-option-total">
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left subtotal-checkout" >
                                                        Subtotal
                                                    </td>
                                                    <td class="text-right subtotal-checkout-amount">
                                                        <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                            class="text-bold">
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <h3 class="total-checkout">
                                                            Total
                                                        </h3>
                                                    </td>
                                                    <td class="text-right">
                                                        <h3 class="total-amount-checkout">
                                                            <span class="etx-text-secondary text-bold"
                                                                ng-bind="$filter('currency')(cartObj.total, '')">
                                                            </span>
                                                            CVE
                                                        </h3>
                                                    </td>
                                                </tr>
                                            </table>


                                            <div class="text-right">
                                                <!-- <p class="payment-method">M&eacute;todos de pagamento</p> -->
                                                <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                                                    <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                                                        class="text-center"
                                                        style="width:40px;margin-right:10px;" 
                                                    />
                                                    <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                                                        class="text-center"
                                                        style="width:52px;margin-right:10px;" 
                                                    />
                                                    <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                                                        class="text-center"
                                                        style="width:61px;margin-right:10px;" 
                                                    />
                                                    <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                                                        class="text-center"
                                                        style="width:69px;" 
                                                    />
                                                </div>

                                                <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                                    <button class="btn etx-bg-secondary text-bold btn-round etx-text-white btn-cart-back "
                                                        ng-disabled="loading_cart_request"
                                                        ng-click="backToCartList('<%=compobj.id%>')"
                                                        type="button">
                                                        <span class="fa fa-arrow-left"></span>
                                                        Voltar
                                                    </button>

                                                    <button class="btn etx-bg-primary etx-text-white btn-round text-bold shopping-finish"
                                                        ng-disabled="loading_cart_request||calculating_shipping||(delivery_method=='CCV_DELIVERY' && !shipping_total.concelho)"
                                                        type="submit">
                                                        <span ng-if="loading_cart_request"
                                                            class="fa fa-refresh fa-spin"></span>
                                                        <span ng-if="!loading_cart_request">
                                                            Finalizar Compra
                                                        </span>
                                                        <span ng-if="loading_cart_request">
                                                            Aguarde
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>



                                            </div>
                                        </div>

                                        <div class="col-12 text-center" style="margin-bottom:20px;">
                                            <p class="service-acceptance">
                                                Ao comprar no KUALEH concorda
                                                com as nossas
                                                <a href="condicoes-servico.html">condi&ccedil;&otilde;es de servi&ccedil;o</a>
                                                e a nossa
                                                <a href="politica-privacidade.html">pol&iacute;tica de privacidade.</a>
                                            </p>
                                        </div>

                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="preparing-cart">
                        <div class="row">
                            <div class="col-12 text-center" style="min-height:250px;">
                                <div ng-if="loading_cart"
                                    style="padding-top:80px;">
                                    <h3>
                                      <span class="fa fa-refresh text-warning fa-spin"
                                        style="font-size:27px;"></span>
                                      <br/>
                                      Preparando o carinho
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="cart-loading-error">
                        <div class="row">
                            <div class="col-12 text-center"
                                ng-if="loadingCartErrors"
                                style="padding:20px">
                                <div class="alert alert-danger"
                                    style="border-radius:0px;"
                                    ng-if="creatingCartErrors">
                                    <h3 class="etx-text-danger">
                                        Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                    </h3>
                                    <p style="margin:0px;color:#333"
                                        class="text-bold"
                                        ng-bind="e.toUpperCase()"
                                        ng-repeat="e in loadingCartErrors">
                                    </p>
                                </div>                                                    
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="reserve-success">

                        <div class="text-center"
                            style="padding-top:20px;">
                            <span class="fa fa-check text-success"
                                style="font-size:76px;"></span>
                            <h2 style="color:#333;margin:0px;">
                                Muito obrigado
                            </h2>

                            <h3 style="color:#555;margin:0px;font-size:20px;padding-top:0px !important;">
                                A sua compra foi efectuada com sucesso.
                            </h3>

                            <h3 style="color:#666;margin:0px;">
                                <small>
                                    Um email foi enviado para 
                                    <strong>{{user_email}}.</strong>
                                    <br/>
                                    Verifique tamb&eacute;m que o email
                                    n&atilde;o foi para o <strong>spam.</strong>
                                </small>
                            </h3>

                            <p class="text-muted"
                                style="color:#333;"
                                ng-if="cartReady">
                                <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch" class="text-bold"
                                        target="__blank">
                                    Acompanhe este carrinho
                                    neste link.
                                </a>
                            </p>

                            <div ng-if="payment_method=='DELIVERY_PAYMENT'"
                                class="alert alert-warning alert-delivery-payment">
                                <h2 style="color:#333;margin:0px;"
                                    class="etx-payment-title">
                                    Pagamento na Entrega
                                </h2>
                                <h3 style="color:#555;margin:0px;">
                                    <small>
                                        O pagamento ser&aacute; efectuado na entrega como
                                        pediu,<br/> tenha o seu cart&atilde;o pronto.
                                    </small>
                                </h3>
                            </div>

                            <div ng-if="payment_method=='ONLINE_PAYMENT'"
                                class="alert alert-warning alert-online-payment">
                                <h2 style="color:#333;margin:0px;"
                                    class="etx-payment-title">
                                    Pagamento online.
                                </h2>
                                <h3 style="color:#555;margin:0px;"
                                    ng-if="payment_method=='ONLINE_PAYMENT'">
                                    <small>
                                        Iremos verificar o seu carrinho e enviaremos o link para efectuar o pagamento online. Prometemos n&atilde;o demorar.<br/>
                                        Tambem pode consultar
                                        <span class="text-underlined text-bold text-primary cursor-pointer" ng-click="openMyPayments('<%=compobj.id%>')">os seus pagamentos</span>.
                                    </small>
                                </h3>

                              <button class="btn btn-warning text-bold btn-round"
                                    style="color:#333;"
                                    ng-click="PaymentAfterCardIsCreated('<%=compobj.id%>')">
                                    <span class="fa fa-credit-card"></span>
                                    Efectuar pagamento
                              </button>
                            </div>

                        </div>

                        <div class="row rs-margin mt-30 mb-30">
                            <div class="col-12 text-center"
                                ng-if="review_mode=='init'">
                                  <h2 class="avaliation-begin-title">
                                    Como foi a sua experi&ecirc;ncia?
                                  </h2>
                                  <span ng-click="setRating(1)"
                                      ng-mousehover="setRating(1)" 
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating==0,
                                                   'text-primary': reviewObj.rating>=1}"></span>
                                  <span ng-click="setRating(2)"
                                          ng-hover="setRating(2)"
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=1,
                                                   'text-primary': reviewObj.rating>=2}"></span>
                                  <span ng-click="setRating(3)" 
                                      ng-hover="setRating(4)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=2,
                                                   'text-primary': reviewObj.rating>=3}"></span>
                                  <span ng-click="setRating(4)"
                                        ng-hover="setRating(4)"
                                        ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=3,
                                                   'text-primary': reviewObj.rating>=4}"></span>
                                  <span ng-click="setRating(5)"
                                      ng-hover="setRating(5)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=4,
                                                   'text-primary': reviewObj.rating>=5}"></span>
                                  <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                      class="rating-text text-secondary">
                                  </h4>

                                  <button class="btn btn-success text-bold btn-round"
                                        ng-click="beginReview()">
                                        <span class="fa fa-check"></span>
                                        Continuar
                                  </button>
                            </div>

                            <div class="col-12"
                                ng-if="review_mode=='begin'">
                                <form name="reviewForm" 
                                    ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>')">

                                    <div class="alert alert-warning text-center" 
                                        ng-if="loading_review_req">
                                        <i class="fa fa-refresh fa-spin"></i>
                                        Processando
                                    </div>

                                    <div class="alert alert-danger text-center" ng-if="review_error">
                                        <i class="fa fa-times"></i>
                                        <h4>A sua solicitação não pode ser processada.</h4>
                                        Verifique todos os campos.
                                    </div>

                                    <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                        <i class="fa fa-check" style="font-size:50px;" ></i>
                                        <br/>
                                        <h3>
                                            Muito obrigado pela sua avaliação.
                                        </h3>
                                    </div>

                                    <div ng-if="!is_done">
                                        <h3 class="text-center"
                                            class="avaliation-begin">
                                            Nos de o seu feedback
                                        </h3>

                                        <div class="xxmodal-header xb-grad">
                                          <div class="pull-right">
                                            <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                class="rating-text text-right"
                                                style="font-size: 16px;color:#333;">
                                            </h4>

                                            <span ng-click="setRating(1)"
                                                ng-mousehover="setRating(1)" 
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating==0,
                                                             'text-primary': reviewObj.rating>=1}"></span>
                                            <span ng-click="setRating(2)"
                                                    ng-hover="setRating(2)"
                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=1,
                                                             'text-primary': reviewObj.rating>=2}"></span>
                                            <span ng-click="setRating(3)" 
                                                ng-hover="setRating(4)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=2,
                                                             'text-primary': reviewObj.rating>=3}"></span>
                                            <span ng-click="setRating(4)"
                                                  ng-hover="setRating(4)"
                                                  ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=3,
                                                             'text-primary': reviewObj.rating>=4}"></span>
                                            <span ng-click="setRating(5)"
                                                ng-hover="setRating(5)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=4,
                                                             'text-primary': reviewObj.rating>=5}"></span>
                                          </div>

                                          <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                                            Commentando como
                                          </p>
                                          <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                                              <span class="fa fa-user text-success"></span>
                                              <strong>{{reviewObj.user_name}}</strong>
                                              <span class="text-muted" style="font-size:15px;">
                                                {{reviewObj.user_email}}
                                              </span>
                                          </h4>
                                        </div>
                                        <div class="control-group form-group"
                                          style="">
                                            <div class="controls">
                                                <textarea rows="4" cols="100" class="form-control" 
                                                    required maxlength="200" 
                                                    style="resize:none;border-radius:0px;"
                                                    placeholder="Aa"
                                                    ng-model="reviewObj.user_msg"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" 
                                            class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                            ng-disabled="loading_review_req">
                                            <span class="fa fa-send"></span>
                                            Enviar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


          </div>
    </div>
</div>
