<div class="row rs-margin"
    style="">

    <!-- PAYMENT_CONF: <%= compobj.fields[$PCF.payment_conf] %> -->
    <!-- PAYMENT_CONF: <%= compobj.payment_conf_obj %> -->

    <div class="col-md-12 rs-padding" style="">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist"
            style="display:none">
            <li role="presentation" class="nav-item">
                <a href="#cart-loading" aria-controls="cart-loading" 
                    role="tab" data-toggle="tab"
                    class="nav-link active ">
                    Loading cart
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#cart-home-details" aria-controls="cart-home-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Carrinho
                </a>
            </li>

            <li role="presentation" >
                <a href="#user-details" 
                    aria-controls="user-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    User Details
                </a>
            </li>

            <li role="presentation" >
                <a href="#reserve-success" 
                    aria-controls="reserve-success" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    Reserve success
                </a>
            </li>
            <li role="presentation" >
                <a href="#cart-go-payment" 
                    aria-controls="cart-go-payment" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Reserve payment
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade "
                id="cart-go-payment">

                <div class="row rs-margin">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <!-- <h3>MAKE CART PAYMENT</h3> -->

                        <div class="row rs-margin">
                            <div class="col-12"
                                style="max-width:500px;padding:10px;margin:auto;background:transparent;margin-top:15px;"
                                ng-if="frame_is_loading">
                                <div class="alert text-center" 
                                    style="margin-bottom:0px;background: ">
                                    <h4 style="margin:0px;">
                                        <span class="fa-spin fa fa-refresh"></span>
                                        <span style="color:#333">
                                            AGUARDE
                                        </span>
                                    </h4>

                                    <p style="margin:0px">
                                        Se n&atilde;o abrir uma janela abaixo,
                                        <br/>
                                        <a href="{{currentBillingtx.embeed_payment_link}}">clique aqui para efetuar o pagamento</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="activity-container"
                                    ng-show="!currentBillingtx.id"
                                    style="max-width:500px;padding:10px;margin:auto;background:#fff;border-top:8px solid #5c0f8b;margin-top:15px;">

                                    <div class="card-body text-center" 
                                        style="padding-top:15px;"
                                        ng-if="loading_billing">
                                        <span class="fa fa-refresh fa-spin text-warning" 
                                            style="font-size:55px;margin-top:15px;"></span>

                                        <h4 class="card-title" style="font-weight:bold;">
                                            Preparando o pagamento
                                        </h4>
                                    </div>

                                    <div class="card-body text-center" style="padding-top:15px;"
                                        ng-if="billing_success">
                                        <span class="fa fa-check text-success" 
                                            style="font-size:55px;margin-top:15px;"></span>

                                        <h4 class="card-title" style="font-weight:bold;">
                                            Pronto para pagamento
                                        </h4>
                                    </div>

                                    <div class="alert alert-danger" 
                                        id="error-area-a3e98b847c0648e8"
                                        style="padding-top:15px;border-radius:0px;"
                                        ng-if="billing_error">
                                        <h3 style="color:#333;">Nao foi possivel concluir a opera&ccedil;&atilde;o.</h3>
                                        <p ng-repeat="e in billing_error">{{e}}</p>
                                    </div>

                                    <form ng-submit="saveCartBilling(billingForm, 'CART_BILLING','<%= compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"
                                        method="get"
                                        style="padding:15px"
                                        ng-if="!currentBillingtx.id"
                                        name="billingForm">

                                        <div class="form-group">
                                            <%=
                                            compobj.payment_conf_obj.list&&compobj.payment_conf_obj.list.length>0 ?
                                                `<span ng-init="setPaymentTYPE({id:'${compobj.payment_conf_obj.list[0].id}', type:'${compobj.payment_conf_obj.list[0].account_type}'})"></span>` :
                                                ''
                                            %>
                                        </div>

                                        <button type="submit"
                                            id="submit_payment"
                                            class="btn etx-bg-primary btn-block btn-finish-payment btn-round text-bold  "
                                            ng-disabled="loading_billing&&!billing_error">
                                            CONTINUAR
                                        </button>
                                    </form>

                                    <p class="service-acceptance text-center text-secondary"
                                        style="font-size:x-small;max-width:300px;margin:auto;padding-bottom:10px;">
                                        Ao comprar na nossa loja concorda
                                        com as nossas
                                        <a href="condicoes-servico.html">condi&ccedil;&otilde;es de servi&ccedil;o</a>
                                        e a nossa
                                        <a href="politica-privacidade.html">pol&iacute;tica de privacidade.</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row rs-margin" ng-if="currentBillingtx.id"  
                            style="background:transparent">
                            <div class="col-12 rs-padding" id="iframe_payment_index" >
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- <h3 style="margin:0px;">Pagamento do carrinho</h3> -->
                        <div class="" style="border:1px solid #000;border-radius:4px;padding:10px;">
                            Compra efetuada em {{cartBillingObj.dateFmt}}
                            <p style="margin:0px;"  class="shopper-name">
                                <span class="fa fa-user"></span>
                                <strong>{{cartBillingObj.name}}, {{cartBillingObj.surname}}</strong>
                            </p>
                            <p style="margin:0px;"  class="shopper-email">
                                <span class="fa fa-envelope"></span>
                                &nbsp;<strong>{{cartBillingObj.email}}</strong>
                            </p>
                            <p style="margin:0px;"  class="shopper-phone">
                                <span class="fa fa-phone"></span>
                                &nbsp;<strong>{{cartBillingObj.phone}}</strong>
                            </p>
                        </div>

                        <table class="table">
                            <tr>
                                <td class="text-left subtotal-checkout">
                                    Métodos de pagamento
                                </td>
                                <td class="text-right subtotal-amount-checkout">
                                    <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                                            class="text-center"
                                            style="width:20px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                                            class="text-center"
                                            style="width:26px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                                            class="text-center"
                                            style="width:26px;margin-right:10px;" 
                                        />
                                        <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                                            class="text-center"
                                            style="width:26px;" 
                                        />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left subtotal-checkout rs-border">
                                    Subtotal
                                </td>
                                <td class="text-right subtotal-amount-checkout rs-border">
                                    <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                        class="text-bold">
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left rs-border">
                                    <h3 class="total-checkout">
                                        Total
                                    </h3>
                                </td>
                                <td class="text-right rs-border">
                                    <h3 class="total-amount-checkout">
                                        <span class=" text-bold"
                                            ng-bind="$filter('currency')(cartObj.total, '')">
                                        </span>
                                        CVE
                                    </h3>
                                    <p class="total-amount-checkout" style="font-size:small;">
                                        <span class=" text-bold"
                                            ng-bind="$filter('currency')(cartObj.total_in_eur, '')">
                                        </span>
                                        EUR
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade show active"
                ng-init="loadCart(true, true)"
                id="cart-loading">

                <div class="row">
                    <div class="col-12">
                      <h3 class="text-center" style="margin-top:25px;">
                          <span class="fa fa-refresh fa-spin etx-text-warning"
                              style="font-size:25px;">
                          </span>
                          <br/>
                          <span class="etx-text-secondary"
                              style="font-size:17px;">
                              AGUARDE
                          </span>
                      </h3>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade " 
                id="cart-home-details"
                ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">
                <center ng-if="!has_items">
                    <h3 style="padding-top:20px;margin:0px;"
                        class="text-center">
                        <span class="fa fa-shopping-cart"></span>
                        <span ng-bind="'Oops, carrinho vazio.'"></span>
                    </h3>
                    <p class="text-muted text-center">
                        <span ng-bind="'O seu carrinho esta vazio.'"></span>
                    </p>
                    <a class="btn etx-bg-danger btn-round text-center text-bold"
                        href="index.html">
                        <span class="fa fa-home"></span>
                        <span ng-bind="'Leve me ao inicio'"></span>
                    </a>
                </center>

                <div class="ecommerce-cart-buy-container" 
                    style="">

                    <div class="row rs-margin"
                        ng-show="has_items">
                        <div class="col-12">
                            <h3 style="margin:0px;" 
                                class="my-cart-title">
                                Meu Carrinho
                            </h3>
                            <hr/>
                            <div class="form-group select-all">
                                <label>
                                    <input type="checkbox" 
                                        ng-model="cartObj.all_selected"
                                        ng-change="toggleAll(cartObj.all_selected)"
                                    />
                                    Selecionar Todos
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-8 col-sm-12">
                            <div class="row rs-margin">
                                <div class="col-lg-4 col-sm-4 col-sm-6 col-xs-6 cursor-pointer"
                                    ng-repeat="item in cartObj.item_list">
                                    <div class="card cart-item-v3" style="background:transparent;border:0px;">
                                        <input type="checkbox" 
                                            ng-model="item.is_selected" 
                                            ng-change="toggleCartItem(item, item.is_selected)"
                                            checked
                                        />
                                        <div style="height:180px;background:url('{{item.image}}');background-size:contain;border-radius:10px;background-position:center center;background-repeat: no-repeat;"
                                            class="prod-bg-image">
                                        </div>
                                        <div class="card-body">
                                            <p class="shopping-item-title text-bold" 
                                                style="margin:0px;height:20px;max-height:20px;overflow:hidden;margin-top:5px;margin-left:0px;">
                                                <span ng-bind="item.label + '['+item.prod_var+']'"></span>
                                            </p>

                                            <button class="btn etx-bg-danger btn-sm text-bold btn-round shopping-item-remove pull-right"
                                                style="margin-top:0px;margin-right:0px;"
                                                ng-click="removeFromCartList(item, $index)">
                                                <span ng-if="!rm_state[item.id]">
                                                    <span class="fa fa-trash"></span>
                                                </span>
                                                <span ng-if="rm_state[item.id]=='DONE_ERROR'">
                                                    TRY AGAIN
                                                </span>
                                                <span ng-if="rm_state[item.id]=='LOADING'">
                                                    HOLD ON
                                                </span>
                                            </button>

                                            <p style="margin:0px;padding-left:0px;"
                                                class="shopping-item-price">
                                                <span class="price-val">
                                                    {{item.price | currency:''}}
                                                    {{item.currency }}
                                                </span>
                                                <span class="shopping-item-amount">
                                                    X
                                                    {{item.amount}}
                                                  {{item.unit}}
                                                </span>
                                            </p>
                                            <p style="margin:0px;padding-left:0px;"
                                                class="shopping-item-ref">
                                                <small>
                                                    Ref: {{item.id}}
                                                </small>
                                            </p>


                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12">

                            <table class="table">
                                <tr>
                                    <td class="text-left rs-border subtotal-checkout">
                                        Subtotal
                                    </td>
                                    <td class="text-right rs-border subtotal-amount-checkout">
                                        <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                            class="text-bold">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left rs-border">
                                        <h3 class="total-checkout">
                                            Total
                                        </h3>
                                    </td>
                                    <td class="text-right rs-border">
                                        <h3 style="margin:0px;" class="total-in-cve">
                                            <span class=" text-bold"
                                                ng-bind="$filter('currency')(cartObj.total, '')">
                                            </span>
                                            CVE
                                        </h3>
                                        <p style="margin:0px;" class="total-in-eur">
                                            <span class=" text-bold"
                                                ng-bind="$filter('currency')(cartObj.total_in_eur, '')">
                                            </span>
                                            EUR
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <!--
                            <p class="payment-method">M&eacute;todos de pagamento</p>
                            <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                                <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                                    class="text-center"
                                    style="width:40px;margin-right:10px;" 
                                />
                                <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                                    class="text-center"
                                    style="width:52px;margin-right:10px;" 
                                />
                                <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                                    class="text-center"
                                    style="width:61px;margin-right:10px;" 
                                />
                                <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                                    class="text-center"
                                    style="width:69px;" 
                                />
                            </div>
                            -->

                            <p class="service-acceptance">
                                Ao comprar na nossa loja concorda
                                com as nossas
                                <a href="condicoes-servico.html">condi&ccedil;&otilde;es de servi&ccedil;o</a>
                                e a nossa
                                <a href="politica-privacidade.html">pol&iacute;tica de privacidade.</a>
                            </p>
                            <!--
                            <div class="cursor-pointer" 
                                style="padding-top:80px;padding-bottom:10px;">
                                <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                    Verificado &amp; Protegido por
                                </p>
                                <a href="https://enterstarts.com" 
                                    target="__blank">
                                    <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                        class="text-center"
                                        style="width:220px;" 
                                    />
                                </a>
                            </div>
                            -->

                            <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                <button class="btn text-bold bg-white btn-clear-cleart btn-round text-danger btn "
                                    ng-disabled="loading_cart"
                                    ng-if="has_items"
                                    ng-click="clearCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                    type="button">
                                    Limpar 
                                    <span class="fa fa-shopping-cart"></span>
                                </button>

                                <button class="btn text-bold etx-bg-primary btn-go-cart-details btn-round text-white btn"
                                    ng-disabled="loading_cart"
                                    ng-click="toUserDetails()"
                                    ng-if="has_items"
                                    style="margin-left: 15px;display:inline!important;"
                                    type="button">
                                    Continuar
                                    <span class="fa fa-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" 
                id="user-details">
                <div class="row rs-margin">
                    <div class="col-12" style="margin-top:10px;"
                        id="cart-error-index-<%=compobj.id%>">
                        <div class="form-group"
                            ng-if="loading_cart_request_error">
                            <div class="alert alert-danger text-center"
                                style="border-radius:0px;">
                                <h3 style="margin:0px;color:#333">
                                    Não foi possivel concluir a operação.
                                </h3>
                                <p ng-repeat="e in loading_cart_request_error"
                                    style="margin:0px">
                                    {{e}}
                                </p>
                                <!--
                                <hr/>
                                <p style="margin:0px;margin-top:4px"
                                    class="text-bold">
                                    Por favor, entre em contacto connosco:<br/>
                                    <a href="mailto:info@enterstarts.com">
                                        info@enterstarts.com
                                    </a><br/>
                                    <a href="tel:+2385850606">
                                        (+238)5850606
                                    </a>,
                                    <a href="tel:+2385995330">
                                        (+238)5995330
                                    </a>
                                </p>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12">

                        <form name="reserveCustForm" 
                            id="reserveCustForm"
                            ng-submit="MakePurchase(reserveCustForm, 
                            '<%=compobj.id%>', '<%=compobj.fields[$PCF.user_id]%>', '<%=$INV.price%>')">

                            <div class="row rs-margin">
                                <div class="col-12"
                                    id="my-cart-details-index">
                                    <h3 style="margin:0px;"
                                        class="my-cart-title"
                                        ng-if="has_items">
                                        Meu Carrinho
                                    </h3>
                                    <hr/>
                                </div>

                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <div class=""
                                        style="padding:10px;border:1px solid #000;padding-bottom:0px;"
                                        ng-if="showCartResume">
                                        <h4 style="margin:0px;"
                                            class="shopper-details-label">
                                            Detalhes do comprador
                                        </h4>
                                        <p style="margin:0px;"  class="shopper-name">
                                            <span class="fa fa-user"></span>
                                            &nbsp;
                                            <strong>{{reqObj.name}}, {{reqObj.surname}}</strong>
                                        </p>
                                        <p style="margin:0px;"  class="shopper-email">
                                            <span class="fa fa-envelope"></span>
                                            &nbsp;<strong>{{reqObj.email}}</strong>
                                        </p>

                                        <p style="margin:0px;"  class="shopper-phone">
                                            <span class="fa fa-phone"></span>
                                            &nbsp;<strong>{{reqObj.phone}}</strong>
                                        </p>
                                        <a class="btn cursor-pointer btn-sm btn-round etx-bg-primary etx-text-white text-bold btn-edit-cart-resume" 
                                            style="margin-bottom:15px;"
                                            ng-if="showCartResume"
                                            ng-click="enableEditCart()">
                                            <span class="fa fa-edit"></span>
                                            Editar
                                        </a>
                                    </div>

                                    <div ng-if="!showCartResume||hideReserveForm">
                                        <div class="form-group">
                                            <label class="cart-label">Nome *</label>
                                            <input type="text" ng-model="reqObj.name" 
                                                required
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Sobrenome *</label>
                                            <input type="text" ng-model="reqObj.surname" 
                                                required
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Email *</label>
                                            <input type="email" ng-model="reqObj.email"
                                                required 
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Numero de Telefone *</label>
                                            <input type="text" ng-model="reqObj.phone" 
                                                required
                                                class="form-control cart-input cart-phone" />
                                        </div>
                                    </div>

                                    <%=
                                        compobj.payment_conf_obj && compobj.payment_conf_obj.list
                                        && compobj.payment_conf_obj.list.length > 0 ?
                                        `
                                            <div class="form-group etx-payment-method"
                                                ng-init="payment_method='ONLINE_PAYMENT'">
                                            </div>
                                        ` :
                                        ''
                                    %>

                                    <div class="form-group">
                                        <label class="cart-label">Concelho</label>

                                        <select ng-model="reqObj.region"
                                            required
                                            class="form-control ">
                                            <option value="" selected="selected">CONCELHO *</option>
                                            <option value="RIBEIRA GRANDE">Ribeira Grande</option>
                                            <option value="PAUL">Paúl</option>
                                            <option value="PORTO NOVO">Porto Novo</option>

                                            <option value="SÃO VICENTE">São Vicente</option>
                                            <option value="RIBEIRA BRAVA">Ribeira Brava</option>
                                            <option value="TARRAFAL DE SÃO NICOLAU">Tarrafal de São Nicolau</option>

                                            <option value="SAL">Sal</option>
                                            <option value="BOAVISTA">Boavista</option>
                                            <option value="MAIO">Maio</option>

                                            <option value="PRAIA">Praia</option>
                                            <option value="SÃO DOMINGOS">São Domingos</option>
                                            <option value="SANTA CATARINA DE SANTIAGO">Santa Catarina</option>
                                            <option value="SÃO SALVADOR DO MUNDO">São Salvador do Mundo</option>
                                            <option value="SANTA CRUZ">Santa Cruz</option>
                                            <option value="SÃO LOURENÇO DOS ORGÃOS">São Lourenço dos Órgãos</option>
                                            <option value="RIBEIRA GRANDE DE SANTIAGO">Ribeira Grande de Santiago</option>
                                            <option value="SÃO MIGUEL">São Miguel</option>
                                            <option value="TARRAFAL">Tarrafal de Santiago</option>

                                            <option value="SÃO FILIPE">São Filipe</option>
                                            <option value="SANTA CATARINA DO FOGO">Santa Catarina do Fogo</option>
                                            <option value="MOSTEIROS">Mosteiros</option>
                                            <option value="BRAVA">Brava</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="cart-label">C&oacute;digo postal</label>
                                        <input type="text" name="postal_code"
                                            ng-model="reqObj.postal_code" 
                                            class="form-control"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            <strong>NIF</strong> para (comprovativo de compra)
                                        </label>
                                        <input type="text" class="form-control" 
                                            placeholder="1232"
                                            ng-disabled="loading_billing"
                                            ng-model="cartBillingObj.nif"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label>Endereço Completo</label>
                                        <textarea class="form-control cart-textarea" 
                                            ng-model="reqObj.address"
                                            placeholder="Endereço"
                                            rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label class="cart-label">Observações</label>
                                        <textarea class="form-control cart-textarea" 
                                            ng-model="reqObj.msg"
                                            rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <div class="form-group etx-delivery-method">
                                        <h3>
                                            <span class="fa fa-truck"></span>
                                            Entrega - 
                                            <small class="text-danger">
                                                Escolha uma opção
                                            </small>
                                        </h3>

                                        <ul class="list-group">
                                            <!--
                                            <li class="list-group-item cursor-pointer"
                                                ng-click="setDeliveryOption('HOME_DELIVERY')">
                                                <label style="font-size:24px;width:100%;"
                                                    class="cursor-pointer">
                                                    <input type="radio" name="delivery_method" checked />
                                                    Em casa
                                                </label>
                                                <p class="etx-text-secondary">
                                                    Entrega directamente no seu concelho
                                                    e endere&ccedil;o fornecido.
                                                </p>

                                                <div class="form-group"
                                                    ng-show="delivery_method=='HOME_DELIVERY'">
                                                    <label class="cart-label">Endereço Completo</label>
                                                    <textarea class="form-control cart-textarea" 
                                                        ng-model="reqObj.shipping_address"
                                                        rows="3"></textarea>
                                                </div>
                                            </li>
                                            -->
                                            <li ng-class="{'list-group-item delivery-item cursor-pointer':true,
                                                            'opt-active': delivery_method=='STORE_TAKEOUT'}"
                                                ng-click="setDeliveryOption('STORE_TAKEOUT')">
                                                <label style="font-size:24px;width:100%;"
                                                    class="cursor-pointer">
                                                    <input type="radio" 
                                                        name="delivery_method"
                                                        ng-checked="delivery_method=='STORE_TAKEOUT'"
                                                     />
                                                    Levantamento na loja
                                                </label>
                                                <p class="text-secondary">
                                                    Efectue a recolha directamente
                                                    nas nossas lojas
                                                </p>
                                                <div class="form-group">
                                                    <select ng-model="reqObj.delivery_post"
                                                        ng-if="delivery_method=='STORE_TAKEOUT'"
                                                        class="form-control kh-select">
                                                        <option value="DOPE_MATES">
                                                            Dope Mates
                                                        </option>
                                                    </select>
                                                    <p class="text-secondary">
                                                        Praia, Terra Branca,
                                                        Rua Vit&oacute;ria
                                                    </p>
                                                </div>
                                            </li>

                                            <li ng-class="{'list-group-item delivery-item cursor-pointer':true,
                                                            'opt-active': delivery_method=='HOME_DELIVERY'}"
                                                ng-click="setDeliveryOption('HOME_DELIVERY')">
                                                <label style="font-size:24px;width:100%;"
                                                    class="cursor-pointer">
                                                    <input type="radio" 
                                                        name="delivery_method"
                                                        ng-checked="delivery_method=='HOME_DELIVERY'"
                                                     />
                                                    Entrega em casa
                                                </label>

                                                <div ng-if="delivery_method=='HOME_DELIVERY'">
                                                    <div class="form-group">
                                                        <label class="cart-label">Concelho de Entrega</label>
                                                        <select ng-model="reqObj.shipping_region"
                                                            ng-required="delivery_method=='HOME_DELIVERY'"
                                                            ng-change="updateShippingTotal()"
                                                            class="form-control ">
                                                            <option value="" selected="selected">CONCELHO *</option>
                                                            <option value="PRAIA">Praia</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="cart-label">Endereço Completo</label>
                                                        <textarea class="form-control cart-textarea" 
                                                            ng-model="reqObj.shipping_address"
                                                            required
                                                            rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </li>

                                            <li ng-class="{'list-group-item delivery-item cursor-pointer':true,
                                                            'opt-active': delivery_method=='CCV_DELIVERY'}"
                                                ng-click="setDeliveryOption('CCV_DELIVERY')">
                                                <label style="font-size:24px;width:100%;"
                                                    class="cursor-pointer">
                                                    <input type="radio" 
                                                        name="delivery_method"
                                                        ng-checked="delivery_method=='CCV_DELIVERY'"
                                                    />
                                                    <img src="<%=WS_HOST%>/img/logotipo-ccv-text.png"
                                                        class="text-center"
                                                        style="width:180px;margin-right:10px;margin-bottom:15px;" 
                                                    />
                                                </label>

                                                <p class="etx-text-secondary">
                                                    Entrega via Correios de Cabo Verde.
                                                </p>

                                                <div ng-if="delivery_method=='CCV_DELIVERY'">
                                                    <div class="form-group">
                                                        <label class="cart-label">Concelho de Entrega</label>
                                                        <select ng-model="reqObj.shipping_region"
                                                            ng-required="delivery_method=='CCV_DELIVERY'"
                                                            ng-disabled="delivery_method!='CCV_DELIVERY'"
                                                            ng-change="updateShippingTotal()"
                                                            class="form-control ">
                                                            <option value="" selected="selected">CONCELHO *</option>
                                                            <option value="RIBEIRA GRANDE">Ribeira Grande</option>
                                                            <option value="PAUL">Paúl</option>
                                                            <option value="PORTO NOVO">Porto Novo</option>

                                                            <option value="SÃO VICENTE">São Vicente</option>
                                                            <option value="RIBEIRA BRAVA">Ribeira Brava</option>
                                                            <option value="TARRAFAL DE SÃO NICOLAU">Tarrafal de São Nicolau</option>

                                                            <option value="SAL">Sal</option>
                                                            <option value="BOAVISTA">Boavista</option>
                                                            <option value="MAIO">Maio</option>
                                                            <!-- <option value="PRAIA">Praia</option> -->
                                                            <option value="SÃO DOMINGOS">São Domingos</option>
                                                            <option value="SANTA CATARINA DE SANTIAGO">Santa Catarina</option>
                                                            <option value="SÃO SALVADOR DO MUNDO">São Salvador do Mundo</option>
                                                            <option value="SANTA CRUZ">Santa Cruz</option>
                                                            <option value="SÃO LOURENÇO DOS ORGÃOS">São Lourenço dos Órgãos</option>
                                                            <option value="RIBEIRA GRANDE DE SANTIAGO">Ribeira Grande de Santiago</option>
                                                            <option value="SÃO MIGUEL">São Miguel</option>
                                                            <option value="TARRAFAL">Tarrafal de Santiago</option>

                                                            <option value="SÃO FILIPE">São Filipe</option>
                                                            <option value="SANTA CATARINA DO FOGO">Santa Catarina do Fogo</option>
                                                            <option value="MOSTEIROS">Mosteiros</option>
                                                            <option value="BRAVA">Brava</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="cart-label">Endereço Completo</label>
                                                        <textarea class="form-control cart-textarea" 
                                                            ng-model="reqObj.shipping_address"
                                                            required
                                                            rows="3"></textarea>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>

                                    <table class="table">
                                        <tr ng-show="shipping_total.concelho||CONCELHO_NOT_SUPPORTED||calculating_shipping">
                                            <td class="text-left subtotal-checkout" >
                                                Entrega
                                            </td>
                                            <td class="text-right delivery-option-loading"
                                                ng-show="calculating_shipping">
                                                <span class="fa fa-refresh fa-spin"></span>
                                            </td>
                                            <td class="text-right delivery-option-not-supported"
                                                ng-show="CONCELHO_NOT_SUPPORTED">
                                                '{{reqObj.shipping_region}}'
                                                n&atilde;o se encontra disponivel.
                                                Escolha outra op&ccedil;&atilde;o.
                                            </td>
                                            <td class="text-right delivery-option-details"
                                                ng-show="shipping_total.concelho&&!calculating_shipping">
                                                <p class="delivery-option-p">
                                                    <span class="delivery-option-concelho">
                                                        <strong>{{shipping_total.concelho}}</strong>
                                                    </span>
                                                    <br/>
                                                    <span class="delivery-option-estimation">
                                                        {{shipping_total.estimated_time}}
                                                    </span>
                                                </p>
                                                <span ng-bind="$filter('currency')(shipping_total.totalCost,'')"
                                                    class="text-bold delivery-option-total">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left rs-border subtotal-checkout" >
                                                Subtotal
                                            </td>
                                            <td class="text-right rs-border subtotal-checkout-amount">
                                                <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                    class="text-bold">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left rs-border">
                                                <h3 class="total-checkout">
                                                    Total
                                                </h3>
                                            </td>
                                            <td class="text-right rs-border">
                                                <h3 style="margin:0px;"
                                                    class="total-in-cve">
                                                    <span class=" text-bold"
                                                        ng-bind="$filter('currency')(cartObj.total, '')">
                                                    </span>
                                                    CVE
                                                </h3>
                                                <p style="margin:0px;"
                                                    class="total-in-eur">
                                                    <span class=" text-bold"
                                                        ng-bind="$filter('currency')(cartObj.total_in_eur, '')">
                                                    </span>
                                                    EUR
                                                </p>
                                            </td>
                                        </tr>
                                    </table>


                                    <div class="text-right">
                                        <!-- <p class="payment-method">M&eacute;todos de pagamento</p> -->
                                        <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                                            <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                                                class="text-center"
                                                style="width:40px;margin-right:10px;" 
                                            />
                                            <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                                                class="text-center"
                                                style="width:52px;margin-right:10px;" 
                                            />
                                            <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                                                class="text-center"
                                                style="width:61px;margin-right:10px;" 
                                            />
                                            <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                                                class="text-center"
                                                style="width:69px;" 
                                            />
                                        </div>

                                        <p class="service-acceptance">
                                            Ao comprar na nossa loja concorda
                                            com as nossas
                                            <a href="condicoes-servico.html">
                                                condições de serviço 
                                            </a>
                                            e a nossa
                                            <a href="politica-privacidade.html">
                                                política de privacidade.
                                            </a>
                                        </p>

                                        <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                            <button class="btn etx-bg-secondary text-bold btn-round etx-text-white btn-cart-back "
                                                ng-disabled="loading_cart_request"
                                                ng-click="backToCartList('<%=compobj.id%>')"
                                                type="button">
                                                <span class="fa fa-arrow-left"></span>
                                                Voltar
                                            </button>

                                            <button class="btn etx-bg-primary etx-text-white btn-round text-bold shopping-finish"
                                                ng-disabled="loading_cart_request||calculating_shipping||(delivery_method=='CCV_DELIVERY' && !shipping_total.concelho)"
                                                style="margin-left: 15px;display:inline!important;"
                                                type="submit">
                                                <span ng-if="loading_cart_request"
                                                    class="fa fa-refresh fa-spin"></span>
                                                <span ng-if="!loading_cart_request">
                                                    Finalizar Compra
                                                </span>
                                                <span ng-if="loading_cart_request">
                                                    Aguarde
                                                </span>
                                            </button>
                                        </div>
                                    </div>



                                    </div>
                                </div>

                            </div>


                        </form>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" 
                id="preparing-cart">
                <div class="row">
                    <div class="col-12 text-center" style="min-height:250px;">
                        <div ng-if="loading_cart"
                            style="padding-top:80px;">
                            <h3>
                              <span class="fa fa-refresh text-warning fa-spin"
                                style="font-size:27px;"></span>
                              <br/>
                              Preparando o carinho
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" 
                id="cart-loading-error">
                <div class="row">
                    <div class="col-12 text-center"
                        ng-if="loadingCartErrors"
                        style="padding:20px">
                        <div class="alert alert-danger"
                            style="border-radius:0px;"
                            ng-if="creatingCartErrors">
                            <h3 class="etx-text-danger">
                                Nao foi possivel concluir a opera&ccedil;&atilde;o.
                            </h3>
                            <p style="margin:0px;color:#333"
                                class="text-bold"
                                ng-bind="e.toUpperCase()"
                                ng-repeat="e in loadingCartErrors">
                            </p>
                        </div>                                                    
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" 
                id="reserve-success">

                <div class="text-center"
                    style="padding-top:20px;">
                    <span class="fa fa-check text-success"
                        style="font-size:76px;"></span>
                    <h2 style="color:#333;margin:0px;">
                        Muito obrigado
                    </h2>

                    <h3 style="color:#555;margin:0px;font-size:20px;padding-top:0px !important;">
                        A sua compra foi efectuada com sucesso.
                    </h3>

                    <h3 style="color:#666;margin:0px;">
                        <small>
                            Um email foi enviado para 
                            <strong>{{user_email}}.</strong>
                            <br/>
                            Verifique tamb&eacute;m que o email
                            n&atilde;o foi para o <strong>spam.</strong>
                        </small>
                    </h3>

                    <p class="text-muted"
                        style="color:#333;"
                        ng-if="cartReady">
                        <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch" class="text-bold"
                                target="__blank">
                            Acompanhe este carrinho
                            neste link.
                        </a>
                    </p>

                </div>

                <div class="row rs-margin mt-30 mb-30">
                    <div class="col-12 text-center"
                        ng-if="review_mode=='init'">
                          <h2 class="avaliation-begin-title">
                            Como foi a sua experi&ecirc;ncia?
                          </h2>
                          <span ng-click="setRating(1)"
                              ng-mousehover="setRating(1)" 
                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                           'text-secondary': reviewObj.rating==0,
                                           'text-primary': reviewObj.rating>=1}"></span>
                          <span ng-click="setRating(2)"
                                  ng-hover="setRating(2)"
                                  ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                           'text-secondary': reviewObj.rating<=1,
                                           'text-primary': reviewObj.rating>=2}"></span>
                          <span ng-click="setRating(3)" 
                              ng-hover="setRating(4)"
                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                           'text-secondary': reviewObj.rating<=2,
                                           'text-primary': reviewObj.rating>=3}"></span>
                          <span ng-click="setRating(4)"
                                ng-hover="setRating(4)"
                                ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                           'text-secondary': reviewObj.rating<=3,
                                           'text-primary': reviewObj.rating>=4}"></span>
                          <span ng-click="setRating(5)"
                              ng-hover="setRating(5)"
                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                           'text-secondary': reviewObj.rating<=4,
                                           'text-primary': reviewObj.rating>=5}"></span>
                          <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                              class="rating-text text-secondary">
                          </h4>

                          <button class="btn btn-success text-bold btn-round"
                                ng-click="beginReview()">
                                <span class="fa fa-check"></span>
                                Continuar
                          </button>
                    </div>

                    <div class="col-12"
                        ng-if="review_mode=='begin'">
                        <form name="reviewForm" 
                            ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>')">

                            <div class="alert alert-warning text-center" 
                                ng-if="loading_review_req">
                                <i class="fa fa-refresh fa-spin"></i>
                                Processando
                            </div>

                            <div class="alert alert-danger text-center" ng-if="review_error">
                                <i class="fa fa-times"></i>
                                <h4>A sua solicitação não pode ser processada.</h4>
                                Verifique todos os campos.
                            </div>

                            <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                <i class="fa fa-check" style="font-size:50px;" ></i>
                                <br/>
                                <h3>
                                    Muito obrigado pela sua avaliação.
                                </h3>
                            </div>

                            <div ng-if="!is_done">
                                <h3 class="text-center"
                                    class="avaliation-begin">
                                    Nos de o seu feedback
                                </h3>

                                <div class="xxmodal-header xb-grad">
                                  <div class="pull-right">
                                    <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                        class="rating-text text-right"
                                        style="font-size: 16px;color:#333;">
                                    </h4>

                                    <span ng-click="setRating(1)"
                                        ng-mousehover="setRating(1)" 
                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating==0,
                                                     'text-primary': reviewObj.rating>=1}"></span>
                                    <span ng-click="setRating(2)"
                                            ng-hover="setRating(2)"
                                            ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=1,
                                                     'text-primary': reviewObj.rating>=2}"></span>
                                    <span ng-click="setRating(3)" 
                                        ng-hover="setRating(4)"
                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=2,
                                                     'text-primary': reviewObj.rating>=3}"></span>
                                    <span ng-click="setRating(4)"
                                          ng-hover="setRating(4)"
                                          ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=3,
                                                     'text-primary': reviewObj.rating>=4}"></span>
                                    <span ng-click="setRating(5)"
                                        ng-hover="setRating(5)"
                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                     'text-secondary': reviewObj.rating<=4,
                                                     'text-primary': reviewObj.rating>=5}"></span>
                                  </div>

                                  <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                                    Commentando como
                                  </p>
                                  <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                                      <span class="fa fa-user text-success"></span>
                                      <strong>{{reviewObj.user_name}}</strong>
                                      <span class="text-muted" style="font-size:15px;">
                                        {{reviewObj.user_email}}
                                      </span>
                                  </h4>
                                </div>
                                <div class="control-group form-group"
                                  style="">
                                    <div class="controls">
                                        <textarea rows="4" cols="100" class="form-control" 
                                            required maxlength="200" 
                                            style="resize:none;border-radius:0px;"
                                            placeholder="Aa"
                                            ng-model="reviewObj.user_msg"></textarea>
                                    </div>
                                </div>
                                <button type="submit" 
                                    class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                    ng-disabled="loading_review_req">
                                    <span class="fa fa-send"></span>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
