<div class="row rs-margin paypal-cart-container"
    style="">

    <!-- PAYMENT_CONF: <%= compobj.fields[$PCF.payment_conf] %> -->
    <!-- PAYMENT_CONF: <%= compobj.payment_conf_obj %> -->

    <div class="col-md-12 rs-padding" style="">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist"
            style="display:none;">
            <li role="presentation" class="nav-item">
                <a href="#cart-loading" aria-controls="cart-loading" 
                    role="tab" data-toggle="tab"
                    class="nav-link active ">
                    Loading cart
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#cart-home-details" aria-controls="cart-home-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Carrinho
                </a>
            </li>

            <li role="presentation" >
                <a href="#user-details" 
                    aria-controls="user-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    User Details
                </a>
            </li>

            <li role="presentation" >
                <a href="#reserve-success" 
                    aria-controls="reserve-success" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    Reserve success
                </a>
            </li>
            <li role="presentation" >
                <a href="#cart-go-payment" 
                    aria-controls="cart-go-payment" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Reserve payment
                </a>
            </li>
        </ul>

        <div class="row rs-margin" >
            <div class="col-sm-12 col-md-12 col-lg-12 rs-padding" style="background-color:transparent;">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade "
                        id="cart-go-payment">
                            <!-- <h3>MAKE CART PAYMENT</h3> -->

                        <form ng-submit="saveCartBilling(billingForm, 'CART_BILLING','<%= compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"
                            method="get"
                            style="padding:15px"
                            ng-if="!currentBillingtx.id"
                            name="billingForm">
    
                            <div class="card-body text-center" style="padding-top:15px;"
                                ng-if="loading_billing">
                                <span class="fa fa-refresh fa-spin text-warning" 
                                    style="font-size:55px;margin-top:15px;"></span>

                                <h4 class="card-title" style="font-weight:bold;">
                                    Processing...
                                </h4>
                            </div>

                            <div class="card-body text-center" style="padding-top:15px;"
                                ng-if="billing_success">
                                <span class="fa fa-check text-success" 
                                    style="font-size:55px;margin-top:15px;"></span>

                                <h4 class="card-title" style="font-weight:bold;">
                                    Ready for payment
                                </h4>
                            </div>

                            <div class="alert alert-danger" 
                                id="error-area-a3e98b847c0648e8"
                                style="padding-top:15px;border-radius:0px;"
                                ng-if="billing_error">
                                <h3 style="color:#333;">Could not complete this operation.</h3>
                                <p ng-repeat="e in billing_error">{{e}}</p>
                            </div>

                            <div class="form-group">
                                <%=
                                compobj.payment_conf_obj.list&&compobj.payment_conf_obj.list.length>0 ?
                                    `<span ng-init="setPaymentTYPE({id:'${compobj.payment_conf_obj.list[0].id}', type:'${compobj.payment_conf_obj.list[0].account_type}'})"></span>` :
                                    ''
                                %>
                            </div>

                            <button type="submit" 
                                class="btn etx-bg-primary btn-finish-payment btn-round text-bold  "
                                ng-disabled="loading_billing&&!billing_error">
                                MAKE PAYMENT
                            </button>
                        </form>

                        <div class="row rs-margin" ng-if="currentBillingtx.id"  >
                            <div class="col-12 rs-padding"
                                ng-if="frame_is_loading">
                                <div class="alert alert-success text-center" 
                                    style="margin-bottom:0px;">
                                    <h4 style="margin:0px;">
                                        <span class="fa-spin fa fa-refresh"></span>
                                        <span style="color:#333">
                                            HOLD ON
                                        </span>
                                    </h4>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 rs-padding" id="iframe_payment_index" 
                                style="background:rgb(242, 216, 47);">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                style="background:#fff;">
                                <div class="form-group etx-delivery-method">
                                    <table class="table">
                                        <tr>
                                            <td class="text-left subtotal-checkout" >
                                                Order Id
                                            </td>
                                            <td class="text-right subtotal-checkout-amount">
                                                {{cartReady.id}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left subtotal-checkout" >
                                                Purchased By
                                            </td>
                                            <td class="text-right subtotal-checkout-amount">
                                                {{reqObj.name}}
                                                {{reqObj.surname}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left subtotal-checkout" >
                                                Ship To
                                            </td>
                                            <td class="text-right subtotal-checkout-amount">
                                                {{reqObj.shipping_region}}
                                                <br/>
                                                {{reqObj.shipping_address}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left subtotal-checkout" >
                                                Subtotal
                                            </td>
                                            <td class="text-right subtotal-checkout-amount">
                                                <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                    class="text-bold">
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h3 class="total-checkout">
                                                    Order Total
                                                </h3>
                                            </td>
                                            <td class="text-right">
                                                <h3 class="total-amount-checkout">
                                                    <span class="etx-text-secondary text-bold"
                                                        ng-bind="$filter('currency')(cartObj.total, '')">
                                                    </span>
                                                    EUR
                                                </h3>
                                            </td>
                                        </tr>
                                    </table>

                                    <p>
                                        By placing your order, you agree to our User Agreement and Privacy Notice. 
                                    </p>
                                    <!--
                                    <center>
                                        <img src="https://publica.enterstarts.com/img/paypal-logo.png" class="contact-payment-options" width="150" height="" style="margin-bottom:20px;">
                                    </center>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade show active"
                        ng-init="loadCart()"
                        id="cart-loading">

                        <div class="row">
                            <div class="col-12">
                              <h3 class="text-center" style="margin-top:25px;">
                                  <span class="fa fa-refresh fa-spin etx-text-warning"
                                      style="font-size:25px;">
                                  </span>
                                  <br/>
                                  <span class="etx-text-secondary"
                                      style="font-size:17px;">
                                      HOLD ON
                                  </span>
                              </h3>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade " 
                        id="cart-home-details"
                        ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">


                        <div class="row rs-margin">
                            <div class="col-12 rs-padding">
                                <center ng-if="!has_items">
                                    <h3 style="padding-top:0px;margin:0px;"
                                        class="text-center">
                                        <span class="fa fa-shopping-cart"></span>
                                        <span ng-bind="'Oops empty cart.'"></span>
                                    </h3>
                                    <p class="text-muted text-center">
                                        <span ng-bind="'Your cart is empty!'"></span>
                                    </p>
                                    <a class="btn etx-bg-danger btn-round text-center text-bold"
                                        href="index.html">
                                        <span class="fa fa-home"></span>
                                        <span ng-bind="'Take me home'"></span>
                                    </a>
                                </center>

                                <div class="ecommerce-cart-buy-container" 
                                    ng-if="has_items"
                                    style="">

                                    <div class="row rs-margin">
                                        <div class="col-12 rs-padding" style="margin-top:10px;"
                                            id="cart-error-index-<%=compobj.id%>">
                                            <div class="form-group"
                                                ng-if="loading_cart_request_error">
                                                <div class="alert alert-danger text-center"
                                                    style="border-radius:0px;">
                                                    <h3 style="margin:0px;color:#333">
                                                        Could not finish this operation
                                                    </h3>
                                                    <p ng-repeat="e in loading_cart_request_error"
                                                        style="margin:0px">
                                                        {{e}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 rs-padding"
                                            ng-init="loadUserCart()">
                                            <form name="reserveCustForm" 
                                                id="reserveCustForm"
                                                ng-submit="MakePurchase(reserveCustForm, 
                                                '<%=compobj.id%>', '<%=compobj.fields[$PCF.user_id]%>', '<%=$INV.price%>')">

                                                <div class="row rs-margin">
                                                    <div class="col-lg-6 col-sm-12 col-xs-12"
                                                        style="background:rgb(242, 216, 47);">
                                                        <div class="row rs-margin">
                                                            <div class="col-12" style="margin-top:10px;margin-bottom:6px;">
                                                                <h3 class="ship-to-title">Ship To</h3>
                                                            </div>

                                                            <div class="col-6 ">
                                                                <div class="form-group">
                                                                    <label class="cart-label">Name *</label>
                                                                    <input type="text" ng-model="reqObj.name" 
                                                                        required
                                                                        class="form-control cart-input" />
                                                                </div>
                                                            </div>
                                                            <div class="col-6 ">
                                                                <div class="form-group">
                                                                    <label class="cart-label">Surname *</label>
                                                                    <input type="text" 
                                                                        ng-model="reqObj.surname" 
                                                                        required
                                                                        class="form-control cart-input" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12 ">
                                                                <div class="form-group">
                                                                    <label class="cart-label">Email *</label>
                                                                    <input type="email" ng-model="reqObj.email"
                                                                        required 
                                                                        class="form-control cart-input" />
                                                                </div>
                                                            </div>

                                                            <div class="col-6 ">
                                                                <div class="form-group">
                                                                    <label class="cart-label">Country</label>
                                                                    <select id="country" autocomplete="country"
                                                                        class="form-control cart-select"
                                                                        ng-model="reqObj.shipping_region">
                                                                        <option value="US">United States</option><option value="AA">APO/FPO/DPO</option><option value="CA">Canada</option><option value="GB">United Kingdom</option><option value="AF">Afghanistan</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AS">American Samoa</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AG">Antigua and Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan Republic</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia and Herzegovina</option><option value="BW">Botswana</option><option value="BR">Brazil</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei Darussalam</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CA">Canada</option><option value="CV">Cape Verde Islands</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CD">Congo, Democratic Republic of the</option><option value="CG">Congo, Republic of the</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="CI">Cote d Ivoire (Ivory Coast)</option><option value="HR">Croatia, Republic of</option><option value="CY">Cyprus</option><option value="CZ">Czech Republic</option><option value="DK">Denmark</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands (Islas Malvinas)</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="GA">Gabon Republic</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HN">Honduras</option><option value="HK">Hong Kong</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IE">Ireland</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JE">Jersey</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="KR">Korea, South</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macau</option><option value="MK">Macedonia</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MH">Marshall Islands</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="FM">Micronesia</option><option value="MD">Moldova</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="AN">Netherlands Antilles</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PW">Palau</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="PR">Puerto Rico</option><option value="QA">Qatar</option><option value="RE">Reunion</option><option value="RO">Romania</option><option value="RU">Russian Federation</option><option value="RW">Rwanda</option><option value="SH">Saint Helena</option><option value="KN">Saint Kitts-Nevis</option><option value="LC">Saint Lucia</option><option value="PM">Saint Pierre and Miquelon</option><option value="VC">Saint Vincent and the Grenadines</option><option value="SM">San Marino</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="SR">Suriname</option><option value="SJ">Svalbard</option><option value="SZ">Swaziland</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="TW">Taiwan</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania</option><option value="TH">Thailand</option><option value="TG">Togo</option><option value="TO">Tonga</option><option value="TT">Trinidad and Tobago</option><option value="TN">Tunisia</option><option value="TR">Turkey</option><option value="TM">Turkmenistan</option><option value="TC">Turks and Caicos Islands</option><option value="TV">Tuvalu</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB">United Kingdom</option><option value="US">United States</option><option value="UY">Uruguay</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican City State</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="VI">Virgin Islands (U.S.)</option><option value="WF">Wallis and Futuna</option><option value="EH">Western Sahara</option><option value="WS">Western Samoa</option><option value="YE">Yemen</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-6 ">
                                                                <div class="form-group">
                                                                    <label class="cart-label">Postal Code</label>
                                                                    <input type="text" name="postal_code"
                                                                        ng-model="reqObj.postal_code" 
                                                                        class="form-control cart-input"
                                                                    />
                                                                </div>
                                                            </div>

                                                            <div class="col-12">
                                                                <div class="row rs-margin">
                                                                    <div class="col-2" style="padding-top:10px;border-bottom:0px solid #ccc;">
                                                                        <img ng-src="{{PUBLIC_PATH}}/img/flags/4x3/{{reqObj.shipping_region.toLowerCase()}}.svg" id="country_flag" height="25px;" />
                                                                    </div>
                                                                    <div class="col-3" style="padding:0px;border-bottom:0px solid #ccc;">
                                                                      <select name="countryCode"
                                                                            id="countryCodeSel"
                                                                          class="form-control v3-input cart-select"
                                                                          ng-model="reqObj.phoneCode"
                                                                          style="border:0px solid #fff;padding:14px;padding-left:0px;padding-right:5px;font-weight:bold;">
                                                                            <option data-country="('CV', '238')" value="238" selected>(+238)</option>
                                                                            <option data-country="('AO', '244')" value="244"> (+244)</option>
                                                                            <option data-country="('SN', '221')" value="221"> (+221)</option>
                                                                            <option data-country="('GW', '245')" value="245"> (+245)</option>
                                                                            <option data-country="('PT', '351')" value="351"> (+351)</option>
                                                                            <option data-country="('DZ', '213')" value="213"> (+213)</option>
                                                                            <option data-country="('AD', '376')" value="376"> (+376)</option>
                                                                            <option data-country="('AI', '1264')" value="1264"> (+1264)</option>
                                                                            <option data-country="('AG', '1268')" value="1268"> (+1268)</option>
                                                                            <option data-country="('AR', '54')" value="54"> (+54)</option>
                                                                            <option data-country="('AM', '374')" value="374"> (+374)</option>
                                                                            <option data-country="('AW', '297')" value="297"> (+297)</option>
                                                                            <option data-country="('AU', '61')" value="61"> (+61)</option>
                                                                            <option data-country="('AT', '43')" value="43"> (+43)</option>
                                                                            <option data-country="('AZ', '994')" value="994"> (+994)</option>
                                                                            <option data-country="('BS', '1242')" value="1242"> (+1242)</option>
                                                                            <option data-country="('BH', '973')" value="973"> (+973)</option>
                                                                            <option data-country="('BD', '880')" value="880"> (+880)</option>
                                                                            <option data-country="('BB', '1246')" value="1246"> (+1246)</option>
                                                                            <option data-country="('BY', '375')" value="375"> (+375)</option>
                                                                            <option data-country="('BE', '32')" value="32"> (+32)</option>
                                                                            <option data-country="('BZ', '501')" value="501"> (+501)</option>
                                                                            <option data-country="('BJ', '229')" value="229"> (+229)</option>
                                                                            <option data-country="('BM', '1441')" value="1441"> (+1441)</option>
                                                                            <option data-country="('BT', '975')" value="975"> (+975)</option>
                                                                            <option data-country="('BO', '591')" value="591"> (+591)</option>
                                                                            <option data-country="('BA', '387')" value="387"> (+387)</option>
                                                                            <option data-country="('BW', '267')" value="267"> (+267)</option>
                                                                            <option data-country="('BR', '55')" value="55"> (+55)</option>
                                                                            <option data-country="('BN', '673')" value="673"> (+673)</option>
                                                                            <option data-country="('BG', '359')" value="359"> (+359)</option>
                                                                            <option data-country="('BF', '226')" value="226"> (+226)</option>
                                                                            <option data-country="('BI', '257')" value="257"> (+257)</option>
                                                                            <option data-country="('KH', '855')" value="855"> (+855)</option>
                                                                            <option data-country="('CM', '237')" value="237"> (+237)</option>
                                                                            <option data-country="('CA', '1')" value="1"> (+1)</option>
                                                                            <option data-country="('KY', '1345')" value="1345"> (+1345)</option>
                                                                            <option data-country="('CF', '236')" value="236"> (+236)</option>
                                                                            <option data-country="('CL', '56')" value="56"> (+56)</option>
                                                                            <option data-country="('CN', '86')" value="86"> (+86)</option>
                                                                            <option data-country="('CO', '57')" value="57"> (+57)</option>
                                                                            <option data-country="('KM', '269')" value="269"> (+269)</option>
                                                                            <option data-country="('CG', '242')" value="242"> (+242)</option>
                                                                            <option data-country="('CK', '682')" value="682"> (+682)</option>
                                                                            <option data-country="('CR', '506')" value="506">  (+506)</option>
                                                                            <option data-country="('HR', '385')" value="385"> (+385)</option>
                                                                            <option data-country="('CU', '53')" value="53"> (+53)</option>
                                                                            <option data-country="('CY', '90392')" value="90392">  (+90392)</option>
                                                                            <option data-country="('CY', '357')" value="357">  (+357)</option>
                                                                            <option data-country="('CZ', '42')" value="42">  (+42)</option>
                                                                            <option data-country="('DK', '45')" value="45"> (+45)</option>
                                                                            <option data-country="('DJ', '253')" value="253"> (+253)</option>
                                                                            <option data-country="('DM', '1809')" value="1809"> (+1809)</option>
                                                                            <option data-country="('DO', '1809')" value="1809"> (+1809)</option>
                                                                            <option data-country="('EC', '593')" value="593"> (+593)</option>
                                                                            <option data-country="('EG', '20')" value="20"> (+20)</option>
                                                                            <option data-country="('SV', '503')" value="503">El Salvador (+503)</option>
                                                                            <option data-country="('GQ', '240')" value="240">Equatorial Guinea (+240)</option>
                                                                            <option data-country="('ER', '291')" value="291">Eritrea (+291)</option>
                                                                            <option data-country="('EE', '372')" value="372">Estonia (+372)</option>
                                                                            <option data-country="('ET', '251')" value="251">Ethiopia (+251)</option>
                                                                            <option data-country="('FK', '500')" value="500">Falkland Islands (+500)</option>
                                                                            <option data-country="('FO', '298')" value="298">Faroe Islands (+298)</option>
                                                                            <option data-country="('FJ', '679')" value="679">Fiji (+679)</option>
                                                                            <option data-country="('FI', '358')" value="358">Finland (+358)</option>
                                                                            <option data-country="('FR', '33')" value="33">France (+33)</option>
                                                                            <option data-country="('GF', '594')" value="594">French Guiana (+594)</option>
                                                                            <option data-country="('PF', '689')" value="689">French Polynesia (+689)</option>
                                                                            <option data-country="('GA', '241')" value="241">Gabon (+241)</option>
                                                                            <option data-country="('GM', '220')" value="220">Gambia (+220)</option>
                                                                            <option data-country="('GE', '7880')" value="7880">Georgia (+7880)</option>
                                                                            <option data-country="('DE', '49')" value="49">Germany (+49)</option>
                                                                            <option data-country="('GH', '233')" value="233">Ghana (+233)</option>
                                                                            <option data-country="('GI', '350')" value="350">Gibraltar (+350)</option>
                                                                            <option data-country="('GR', '30')" value="30">Greece (+30)</option>
                                                                            <option data-country="('GL', '299')" value="299">Greenland (+299)</option>
                                                                            <option data-country="('GD', '1473')" value="1473">Grenada (+1473)</option>
                                                                            <option data-country="('GP', '590')" value="590">Guadeloupe (+590)</option>
                                                                            <option data-country="('GU', '671')" value="671">Guam (+671)</option>
                                                                            <option data-country="('GT', '502')" value="502">Guatemala (+502)</option>
                                                                            <option data-country="('GN', '224')" value="224">Guinea (+224)</option>
                                                                            <option data-country="('GY', '592')" value="592">Guyana (+592)</option>
                                                                            <option data-country="('HT', '509')" value="509">Haiti (+509)</option>
                                                                            <option data-country="('HN', '504')" value="504">Honduras (+504)</option>
                                                                            <option data-country="('HK', '852')" value="852">Hong Kong (+852)</option>
                                                                            <option data-country="('HU', '36')" value="36">Hungary (+36)</option>
                                                                            <option data-country="('IS', '354')" value="354">Iceland (+354)</option>
                                                                            <option data-country="('IN', '91')" value="91">India (+91)</option>
                                                                            <option data-country="('ID', '62')" value="62">Indonesia (+62)</option>
                                                                            <option data-country="('IR', '98')" value="98">Iran (+98)</option>
                                                                            <option data-country="('IQ', '964')" value="964">Iraq (+964)</option>
                                                                            <option data-country="('IE', '353')" value="353">Ireland (+353)</option>
                                                                            <option data-country="('IL', '972')" value="972">Israel (+972)</option>
                                                                            <option data-country="('IT', '39')" value="39">Italy (+39)</option>
                                                                            <option data-country="('JM', '1876')" value="1876">Jamaica (+1876)</option>
                                                                            <option data-country="('JP', '81')" value="81">Japan (+81)</option>
                                                                            <option data-country="('JO', '962')" value="962">Jordan (+962)</option>
                                                                            <option data-country="('KZ', '7')" value="7">Kazakhstan (+7)</option>
                                                                            <option data-country="('KE', '254')" value="254">Kenya (+254)</option>
                                                                            <option data-country="('KI', '686')" value="686">Kiribati (+686)</option>
                                                                            <option data-country="('KP', '850')" value="850">Korea North (+850)</option>
                                                                            <option data-country="('KR', '82')" value="82">Korea South (+82)</option>
                                                                            <option data-country="('KW', '965')" value="965">Kuwait (+965)</option>
                                                                            <option data-country="('KG', 996)" value="996">Kyrgyzstan (+996)</option>
                                                                            <option data-country="('LA', 856)" value="856">Laos (+856)</option>
                                                                            <option data-country="('LV', 371)" value="371">Latvia (+371)</option>
                                                                            <option data-country="('LB', 961)" value="961">Lebanon (+961)</option>
                                                                            <option data-country="('LS', 266)" value="266">Lesotho (+266)</option>
                                                                            <option data-country="('LR', 231)" value="231">Liberia (+231)</option>
                                                                            <option data-country="('LY', 218)" value="218">Libya (+218)</option>
                                                                            <option data-country="('LI', 417)" value="417">Liechtenstein (+417)</option>
                                                                            <option data-country="('LT', 370)" value="370">Lithuania (+370)</option>
                                                                            <option data-country="('LU', 352)" value="352">Luxembourg (+352)</option>
                                                                            <option data-country="('MO', 853)" value="853">Macao (+853)</option>
                                                                            <option data-country="('MK', 389)" value="389">Macedonia (+389)</option>
                                                                            <option data-country="('MG', 261)" value="261">Madagascar (+261)</option>
                                                                            <option data-country="('MW', 265)" value="265">Malawi (+265)</option>
                                                                            <option data-country="('MY', 60)" value="60">Malaysia (+60)</option>
                                                                            <option data-country="('MV', 960)" value="960">Maldives (+960)</option>
                                                                            <option data-country="('ML', 223)" value="223">Mali (+223)</option>
                                                                            <option data-country="('MT', 356)" value="356">Malta (+356)</option>
                                                                            <option data-country="('MH', 692)" value="692">Marshall Islands (+692)</option>
                                                                            <option data-country="('MQ', 596)" value="596">Martinique (+596)</option>
                                                                            <option data-country="('MR', 222)" value="222">Mauritania (+222)</option>
                                                                            <option data-country="('YT', 269)" value="269">Mayotte (+269)</option>
                                                                            <option data-country="('MX', 52)" value="52">Mexico (+52)</option>
                                                                            <option data-country="('FM', 691)" value="691">Micronesia (+691)</option>
                                                                            <option data-country="('MD', 373)" value="373">Moldova (+373)</option>
                                                                            <option data-country="('MC', 377)" value="377">Monaco (+377)</option>
                                                                            <option data-country="('MN', 976)" value="976">Mongolia (+976)</option>
                                                                            <option data-country="('MS', 1664)" value="1664">Montserrat (+1664)</option>
                                                                            <option data-country="('MA', 212)" value="212">Morocco (+212)</option>
                                                                            <option data-country="('MZ', 258)" value="258">Mozambique (+258)</option>
                                                                            <option data-country="('MN', 95)" value="95">Myanmar (+95)</option>
                                                                            <option data-country="('NA', 264)" value="264">Namibia (+264)</option>
                                                                            <option data-country="('NR', 674)" value="674">Nauru (+674)</option>
                                                                            <option data-country="('NP', 977)" value="977">Nepal (+977)</option>
                                                                            <option data-country="('NL', 31)" value="31">Netherlands (+31)</option>
                                                                            <option data-country="('NC', 687)" value="687">New Caledonia (+687)</option>
                                                                            <option data-country="('NZ', 64)" value="64">New Zealand (+64)</option>
                                                                            <option data-country="('NI', 505)" value="505">Nicaragua (+505)</option>
                                                                            <option data-country="('NE', 227)" value="227">Niger (+227)</option>
                                                                            <option data-country="('NG', 234)" value="234">Nigeria (+234)</option>
                                                                            <option data-country="('NU', 683)" value="683">Niue (+683)</option>
                                                                            <option data-country="('NF', 672)" value="672">Norfolk Islands (+672)</option>
                                                                            <option data-country="('NP', 670)" value="670">Northern Marianas (+670)</option>
                                                                            <option data-country="('NO', 47)" value="47">Norway (+47)</option>
                                                                            <option data-country="('OM', 968)" value="968">Oman (+968)</option>
                                                                            <option data-country="('PW', 680)" value="680">Palau (+680)</option>
                                                                            <option data-country="('PA', 507)" value="507">Panama (+507)</option>
                                                                            <option data-country="('PG', 675)" value="675">Papua New Guinea (+675)</option>
                                                                            <option data-country="('PY', 595)" value="595">Paraguay (+595)</option>
                                                                            <option data-country="('PE', 51)" value="51">Peru (+51)</option>
                                                                            <option data-country="('PH', 63)" value="63">Philippines (+63)</option>
                                                                            <option data-country="('PL', 48)" value="48">Poland (+48)</option>
                                                                            <option data-country="('PR', 1787)" value="1787">Puerto Rico (+1787)</option>
                                                                            <option data-country="('QA', 974)" value="974">Qatar (+974)</option>
                                                                            <option data-country="('RE', 262)" value="262">Reunion (+262)</option>
                                                                            <option data-country="('RO', 40)" value="40">Romania (+40)</option>
                                                                            <option data-country="('RU', 7)" value="7">Russia (+7)</option>
                                                                            <option data-country="('RW', 250)" value="250">Rwanda (+250)</option>
                                                                            <option data-country="('SM', 378)" value="378">San Marino (+378)</option>
                                                                            <option data-country="('ST', 239)" value="239">Sao Tome &amp; Principe (+239)</option>
                                                                            <option data-country="('SA', 966)" value="966">Saudi Arabia (+966)</option>
                                                                            <option data-country="('CS', 381)" value="381">Serbia (+381)</option>
                                                                            <option data-country="('SC', 248)" value="248">Seychelles (+248)</option>
                                                                            <option data-country="('SL', 232)" value="232">Sierra Leone (+232)</option>
                                                                            <option data-country="('SG', 65)" value="65">Singapore (+65)</option>
                                                                            <option data-country="('SK', 421)" value="421">Slovak Republic (+421)</option>
                                                                            <option data-country="('SI', 386)" value="386">Slovenia (+386)</option>
                                                                            <option data-country="('SB', 677)" value="677">Solomon Islands (+677)</option>
                                                                            <option data-country="('SO', 252)" value="252">Somalia (+252)</option>
                                                                            <option data-country="('ZA', 27)" value="27">South Africa (+27)</option>
                                                                            <option data-country="('ES', 34)" value="34">Spain (+34)</option>
                                                                            <option data-country="('LK', 94)" value="94">Sri Lanka (+94)</option>
                                                                            <option data-country="('SH', 290)" value="290">St. Helena (+290)</option>
                                                                            <option data-country="('KN', 1869)" value="1869">St. Kitts (+1869)</option>
                                                                            <option data-country="('SC', 1758)" value="1758">St. Lucia (+1758)</option>
                                                                            <option data-country="('SD', 249)" value="249">Sudan (+249)</option>
                                                                            <option data-country="('SR', 597)" value="597">Suriname (+597)</option>
                                                                            <option data-country="('SZ', 268)" value="268">Swaziland (+268)</option>
                                                                            <option data-country="('SE', 46)" value="46">Sweden (+46)</option>
                                                                            <option data-country="('CH', 41)" value="41">Switzerland (+41)</option>
                                                                            <option data-country="('SI', 963)" value="963">Syria (+963)</option>
                                                                            <option data-country="('TW', 886)" value="886">Taiwan (+886)</option>
                                                                            <option data-country="('TJ', 7)" value="7">Tajikstan (+7)</option>
                                                                            <option data-country="('TH', 66)" value="66">Thailand (+66)</option>
                                                                            <option data-country="('TG', 228)" value="228">Togo (+228)</option>
                                                                            <option data-country="('TO', 676)" value="676">Tonga (+676)</option>
                                                                            <option data-country="('TT', 1868)" value="1868">Trinidad &amp; Tobago (+1868)</option>
                                                                            <option data-country="('TN', 216)" value="216">Tunisia (+216)</option>
                                                                            <option data-country="('TR', 90)" value="90">Turkey (+90)</option>
                                                                            <option data-country="('TM', 7)" value="7">Turkmenistan (+7)</option>
                                                                            <option data-country="('TM', 993)" value="993">Turkmenistan (+993)</option>
                                                                            <option data-country="('TC', 1649)" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                                                                            <option data-country="('TV', 688)" value="688">Tuvalu (+688)</option>
                                                                            <option data-country="('UG', 256)" value="256">Uganda (+256)</option>
                                                                            <option data-country="('UA', 380)" value="380">Ukraine (+380)</option>
                                                                            <option data-country="('AE', 971)" value="971">United Arab Emirates (+971)</option>
                                                                            <option data-country="('UY', 598)" value="598">Uruguay (+598)</option>
                                                                            <option data-country="('UZ', 7)" value="7">Uzbekistan (+7)</option>
                                                                            <option data-country="('US', 1)" value="1">USA (+1)</option>
                                                                            <option data-country="('GB', 44)" value="44">UK (+44)</option>
                                                                            <option data-country="('VU', 678)" value="678">Vanuatu (+678)</option>
                                                                            <option data-country="('VA', 379)" value="379">Vatican City (+379)</option>
                                                                            <option data-country="('VE', 58)" value="58">Venezuela (+58)</option>
                                                                            <option data-country="('VN', 84)" value="84">Vietnam (+84)</option>
                                                                            <option data-country="('VG', 84)" value="84">Virgin Islands - British (+1284)</option>
                                                                            <option data-country="('VI', 84)" value="84">Virgin Islands - US (+1340)</option>
                                                                            <option data-country="('WF', 681)" value="681">Wallis &amp; Futuna (+681)</option>
                                                                            <option data-country="('YE', 969)" value="969">Yemen (North)(+969)</option>
                                                                            <option data-country="('YE', 967)" value="967">Yemen (South)(+967)</option>
                                                                            <option data-country="('ZM', 260)" value="260">Zambia (+260)</option>
                                                                            <option data-country="('ZW', 263)" value="263">Zimbabwe (+263)</option>
                                                                      </select>
                                                                    </div>

                                                                    <div class="col-7" style="padding:0px">
                                                                        <input type="number" 
                                                                            style="color:#044f1a;background-color:#f4f4f4;"
                                                                            ng-model="reqObj.phone"
                                                                            class="form-control v3-input cart-input cart-phone"
                                                                            required
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12" style="margin-top:15px;">
                                                                <div class="form-group">
                                                                    <label class="cart-label">Shipping Address</label>
                                                                    <textarea class="form-control cart-textarea" 
                                                                        ng-model="reqObj.shipping_address"
                                                                        required
                                                                        rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6 col-sm-12 col-xs-12"
                                                        style="background:#fff;;">

                                                        <div class="row rs-margin">
                                                            <div class="col-12 my-cart-checkout-header-container ">
                                                                <div class="my-cart-checkout-header">
                                                                    <h4  style="color:#333;">
                                                                        Review Your Items
                                                                    </h4>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4 col-sm-4 col-sm-6 col-xs-6 cursor-pointer cart-item"
                                                                ng-repeat="item in cartObj.item_list">
                                                                    <div class="card ecommerce-item" style="background:transparent;border:0px;">
                                                                        <div style="height:180px;background:url('{{item.image}}');background-size:cover;border-radius:10px;"
                                                                            class="prod-bg-image">
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <a href="ec-purchase.html?product_id={{item.id}}">
                                                                                <p class="ecommerce-item-title text-bold" 
                                                                                    style="margin:0px;overflow:hidden;"
                                                                                  ng-bind="item.label + '['+item.prod_var+']'">
                                                                                </p>
                                                                            </a>
                                                                            <button class="btn etx-bg-danger btn-sm text-bold btn-round shopping-item-remove pull-right"
                                                                                style="margin-top:0px;margin-right:0px;"
                                                                                type="button"
                                                                                ng-click="removeFromCartList(item, $index)">
                                                                                <span ng-if="!rm_state[item.id]">
                                                                                    <span class="fa fa-trash"></span>
                                                                                </span>
                                                                                <span ng-if="rm_state[item.id]=='DONE_ERROR'">
                                                                                    TRY AGAIN
                                                                                </span>
                                                                                <span ng-if="rm_state[item.id]=='LOADING'">
                                                                                    HOLD ON
                                                                                </span>
                                                                            </button>

                                                                            <p style="margin:0px;padding-left:0px;"
                                                                                class="shopping-item-price">
                                                                                <span class="price-val">
                                                                                    {{item.price | currency:''}}
                                                                                    {{item.currency }}
                                                                                </span>
                                                                                <span class="shopping-item-amount">
                                                                                    X
                                                                                    {{item.amount}}
                                                                                  {{item.unit}}
                                                                                </span>
                                                                            </p>
                                                                            <p style="margin:0px;padding-left:0px;"
                                                                                class="shopping-item-ref">
                                                                                <small>
                                                                                    Ref: {{item.id}}
                                                                                </small>
                                                                            </p>
                                                                        </div> 
                                                                    </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group etx-delivery-method">
                                                            <table class="table">
                                                                <tr>
                                                                    <td class="text-left subtotal-checkout" >
                                                                        Subtotal
                                                                    </td>
                                                                    <td class="text-right subtotal-checkout-amount">
                                                                        <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                                            class="text-bold">
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-left">
                                                                        <h3 class="total-checkout">
                                                                            Order Total
                                                                        </h3>
                                                                    </td>
                                                                    <td class="text-right">
                                                                        <h3 class="total-amount-checkout">
                                                                            <span class="etx-text-secondary text-bold"
                                                                                ng-bind="$filter('currency')(cartObj.total, '')">
                                                                            </span>
                                                                            EUR
                                                                        </h3>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <p class="service-acceptance">
                                                                By making an order, you agree to our User Agreement and Privacy Notice. 
                                                            </p>

                                                            <div class="text-center">
                                                                <!-- <p class="payment-method">M&eacute;todos de pagamento</p> -->
                                                                <div style="padding:0px;margin-top:10px;padding-left:0px;">

                                                                    <button class="btn btn-lg etx-bg-primary etx-text-white text-bold shopping-finish btn-block btn-finish-paypal"
                                                                        ng-disabled="loading_cart_request||calculating_shipping||(delivery_method=='CCV_DELIVERY' && !shipping_total.concelho)"
                                                                        type="submit">
                                                                        <span ng-if="loading_cart_request"
                                                                            class="fa fa-refresh fa-spin"></span>
                                                                        <span ng-if="!loading_cart_request">
                                                                            Pay with
                                                                        </span>
                                                                        <span ng-if="loading_cart_request">
                                                                            Hold on
                                                                        </span>
                                                                        <img src="https://publica.enterstarts.com/img/paypal-logo.png" class="paypal-payment-logo" width="80" height="" style="" />
                                                                    </button>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--
                                                    <div class="col-12 text-center" style="margin-bottom:20px;">
                                                        <p class="service-acceptance">
                                                            Ao comprar no KUALEH concorda
                                                            com as nossas
                                                            <a href="condicoes-servico.html">condi&ccedil;&otilde;es de servi&ccedil;o</a>
                                                            e a nossa
                                                            <a href="politica-privacidade.html">pol&iacute;tica de privacidade.</a>
                                                        </p>
                                                    </div>
                                                    -->

                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--
                            <div class="col-lg-4 col-sm-12" ng-show="has_items">
                                <table class="table">
                                    <tr>
                                        <td class="text-left subtotal-checkout">
                                            Subtotal
                                        </td>
                                        <td class="text-right subtotal-amount-checkout">
                                            <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                                class="text-bold">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">
                                            <h3 class="total-checkout">
                                                Total
                                            </h3>
                                        </td>
                                        <td class="text-right">
                                            <h3 class="total-amount-checkout">
                                                <span class="etx-text-secondary text-bold"
                                                    ng-bind="$filter('currency')(cartObj.total, '')">
                                                </span>
                                            </h3>
                                        </td>
                                    </tr>
                                </table>

                                <p class="service-acceptance">
                                    By purchasing on our store you agree to our
                                    <a href="terms-of-service.html">terms of service.</a>
                                </p>

                                <div style="padding:10px;margin-top:20px;padding-left:0px;">
                                    <button class="btn text-bold bg-white btn-clear-cleart btn-round text-danger btn "
                                        ng-disabled="loading_cart"
                                        ng-if="has_items"
                                        ng-click="clearCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                        type="button">
                                        Clear Cart
                                        <span class="fa fa-trash"></span>
                                    </button>

                                    <button class="btn text-bold etx-bg-primary btn-go-cart-details btn-round text-white btn"
                                        ng-disabled="loading_cart"
                                        ng-click="toUserDetails()"
                                        ng-if="has_items"
                                        style="margin-left: 15px;"
                                        type="button">
                                        Continue
                                        <span class="fa fa-arrow-right"></span>
                                    </button>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="user-details">
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="preparing-cart">
                        <div class="row">
                            <div class="col-12 text-center" style="min-height:250px;">
                                <div ng-if="loading_cart"
                                    style="padding-top:80px;">
                                    <h3>
                                      <span class="fa fa-refresh text-warning fa-spin"
                                        style="font-size:27px;"></span>
                                      <br/>
                                      Preparando o carinho
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="cart-loading-error">
                        <div class="row">
                            <div class="col-12 text-center"
                                ng-if="loadingCartErrors"
                                style="padding:20px">
                                <div class="alert alert-danger"
                                    style="border-radius:0px;"
                                    ng-if="creatingCartErrors">
                                    <h3 class="etx-text-danger">
                                        Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                    </h3>
                                    <p style="margin:0px;color:#333"
                                        class="text-bold"
                                        ng-bind="e.toUpperCase()"
                                        ng-repeat="e in loadingCartErrors">
                                    </p>
                                </div>                                                    
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="reserve-success">

                        <div class="text-center"
                            style="padding-top:20px;">
                            <span class="fa fa-check text-success"
                                style="font-size:76px;"></span>
                            <h2 style="color:#333;margin:0px;">
                                Muito obrigado
                            </h2>

                            <h3 style="color:#555;margin:0px;font-size:20px;padding-top:0px !important;">
                                A sua compra foi efectuada com sucesso.
                            </h3>

                            <h3 style="color:#666;margin:0px;">
                                <small>
                                    Um email foi enviado para 
                                    <strong>{{user_email}}.</strong>
                                    <br/>
                                    Verifique tamb&eacute;m que o email
                                    n&atilde;o foi para o <strong>spam.</strong>
                                </small>
                            </h3>

                            <p class="text-muted"
                                style="color:#333;"
                                ng-if="cartReady">
                                <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch" class="text-bold"
                                        target="__blank">
                                    Acompanhe este carrinho
                                    neste link.
                                </a>
                            </p>

                            <div ng-if="payment_method=='DELIVERY_PAYMENT'"
                                class="alert alert-warning alert-delivery-payment">
                                <h2 style="color:#333;margin:0px;"
                                    class="etx-payment-title">
                                    Pagamento na Entrega
                                </h2>
                                <h3 style="color:#555;margin:0px;">
                                    <small>
                                        O pagamento ser&aacute; efectuado na entrega como
                                        pediu,<br/> tenha o seu cart&atilde;o pronto.
                                    </small>
                                </h3>
                            </div>

                            <div ng-if="payment_method=='ONLINE_PAYMENT'"
                                class="alert alert-warning alert-online-payment">
                                <h2 style="color:#333;margin:0px;"
                                    class="etx-payment-title">
                                    Pagamento online.
                                </h2>
                                <h3 style="color:#555;margin:0px;"
                                    ng-if="payment_method=='ONLINE_PAYMENT'">
                                    <small>
                                        Iremos verificar o seu carrinho e enviaremos o link para efectuar o pagamento online. Prometemos n&atilde;o demorar.<br/>
                                        Tambem pode consultar
                                        <span class="text-underlined text-bold text-primary cursor-pointer" ng-click="openMyPayments('<%=compobj.id%>')">os seus pagamentos</span>.
                                    </small>
                                </h3>

                              <button class="btn btn-warning text-bold btn-round"
                                    style="color:#333;"
                                    ng-click="PaymentAfterCardIsCreated('<%=compobj.id%>')">
                                    <span class="fa fa-credit-card"></span>
                                    Efectuar pagamento
                              </button>
                            </div>

                        </div>

                        <div class="row rs-margin mt-30 mb-30">
                            <div class="col-12 text-center"
                                ng-if="review_mode=='init'">
                                  <h2 class="avaliation-begin-title">
                                    Como foi a sua experi&ecirc;ncia?
                                  </h2>
                                  <span ng-click="setRating(1)"
                                      ng-mousehover="setRating(1)" 
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating==0,
                                                   'text-primary': reviewObj.rating>=1}"></span>
                                  <span ng-click="setRating(2)"
                                          ng-hover="setRating(2)"
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=1,
                                                   'text-primary': reviewObj.rating>=2}"></span>
                                  <span ng-click="setRating(3)" 
                                      ng-hover="setRating(4)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=2,
                                                   'text-primary': reviewObj.rating>=3}"></span>
                                  <span ng-click="setRating(4)"
                                        ng-hover="setRating(4)"
                                        ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=3,
                                                   'text-primary': reviewObj.rating>=4}"></span>
                                  <span ng-click="setRating(5)"
                                      ng-hover="setRating(5)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=4,
                                                   'text-primary': reviewObj.rating>=5}"></span>
                                  <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                      class="rating-text text-secondary">
                                  </h4>

                                  <button class="btn btn-success text-bold btn-round"
                                        ng-click="beginReview()">
                                        <span class="fa fa-check"></span>
                                        Continuar
                                  </button>
                            </div>

                            <div class="col-12"
                                ng-if="review_mode=='begin'">
                                <form name="reviewForm" 
                                    ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>')">

                                    <div class="alert alert-warning text-center" 
                                        ng-if="loading_review_req">
                                        <i class="fa fa-refresh fa-spin"></i>
                                        Processando
                                    </div>

                                    <div class="alert alert-danger text-center" ng-if="review_error">
                                        <i class="fa fa-times"></i>
                                        <h4>A sua solicitação não pode ser processada.</h4>
                                        Verifique todos os campos.
                                    </div>

                                    <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                        <i class="fa fa-check" style="font-size:50px;" ></i>
                                        <br/>
                                        <h3>
                                            Muito obrigado pela sua avaliação.
                                        </h3>
                                    </div>

                                    <div ng-if="!is_done">
                                        <h3 class="text-center"
                                            class="avaliation-begin">
                                            Nos de o seu feedback
                                        </h3>

                                        <div class="xxmodal-header xb-grad">
                                          <div class="pull-right">
                                            <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                class="rating-text text-right"
                                                style="font-size: 16px;color:#333;">
                                            </h4>

                                            <span ng-click="setRating(1)"
                                                ng-mousehover="setRating(1)" 
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating==0,
                                                             'text-primary': reviewObj.rating>=1}"></span>
                                            <span ng-click="setRating(2)"
                                                    ng-hover="setRating(2)"
                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=1,
                                                             'text-primary': reviewObj.rating>=2}"></span>
                                            <span ng-click="setRating(3)" 
                                                ng-hover="setRating(4)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=2,
                                                             'text-primary': reviewObj.rating>=3}"></span>
                                            <span ng-click="setRating(4)"
                                                  ng-hover="setRating(4)"
                                                  ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=3,
                                                             'text-primary': reviewObj.rating>=4}"></span>
                                            <span ng-click="setRating(5)"
                                                ng-hover="setRating(5)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=4,
                                                             'text-primary': reviewObj.rating>=5}"></span>
                                          </div>

                                          <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                                            Commentando como
                                          </p>
                                          <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                                              <span class="fa fa-user text-success"></span>
                                              <strong>{{reviewObj.user_name}}</strong>
                                              <span class="text-muted" style="font-size:15px;">
                                                {{reviewObj.user_email}}
                                              </span>
                                          </h4>
                                        </div>
                                        <div class="control-group form-group"
                                          style="">
                                            <div class="controls">
                                                <textarea rows="4" cols="100" class="form-control" 
                                                    required maxlength="200" 
                                                    style="resize:none;border-radius:0px;"
                                                    placeholder="Aa"
                                                    ng-model="reviewObj.user_msg"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" 
                                            class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                            ng-disabled="loading_review_req">
                                            <span class="fa fa-send"></span>
                                            Enviar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


          </div>
    </div>
</div>
