
<div class=" account-ecommerce-obj-container"
    style="margin-top:120px;"
    ng-controller="x99EcommerceAccountKL"
    ng-init="loadShoppingExp('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$ECF.name%>', '<%-$ECF.surname%>', '<%-$ECF.email%>', '<%-$ECF.user_phone%>', '<%-$ECF.description%>', '<%-$ECF.items%>', '<%-$ECF.services%>')">

    <div class="row rs-margin"
        style="background:#fff;padding:10px;min-height:500px;display:block;padding-top:15px;margin-bottom:10px;">

        <div class="col-12">
            <ul class="nav nav-tabs account-details " role="tablist"
                style="border:0px;display:none;"
                id="account-details-list-<%compobj.id%>">
                <li role="presentation" 
                    class="nav-item ">
                    <a href="#acc-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active ">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#acc-details-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Acc details
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#acc-not-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Not auth
                    </a>
                </li>
            </ul>

            <div class="tab-content" 
                ng-init="loadUser('<%-compobj.id%>', '<%= compobj.confObj.signin_url %>', '<%= compobj.confObj.signup_url %>')"
                id="account-details-container-<%-compobj.id%>">

                <div class="tab-pane fade tab-req-loading show active "
                    id="acc-loading-<%-compobj.id%>"
                    role="tabpanel">
                </div>

                <div class="tab-pane fade tab-req-loading "
                    id="acc-details-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin">
                        <div class="col-12 ">
                            <div class="alert alert-warning" ng-if="loading_add_from_purchase"
                                style="border-radius:0px;margin:0px;">
                                <h3 style="color:#333;font-size:19px;">
                                    <span class="fa fa-refresh fa-spin text-warning"></span>
                                    <br/>
                                    AGUARDE
                                </h3>
                            </div>

                            <div class="alert alert-success" ng-if="add_from_purchase"
                                style="border-radius:0px;margin:0px;">
                                <h3 style="font-size:23px">
                                    Adicionado com sucesso!<br/>
                                    <span style="font-size:17px;color:#333;">
                                        <!-- Carrinho contem  -->
                                        <strong>
                                        {{add_from_purchase.opMap}}
                                        </strong>
                                        items
                                    </span>
                                </h3>
                            </div>

                            <div class="alert alert-danger" ng-if="add_from_purchase_errors"
                                style="border-radius:0px;margin:0px;">
                                <h3 style="font-size:19px;">
                                    N&atilde;o foi possivel concluir.
                                </h3>
                                <p style="margin:0px;"
                                    ng-bind="e"
                                    ng-repeat="e in add_from_purchase_errors">
                                </p>
                            </div>
                        </div>

                        <div class="col-12 rs-padding account-menu-dropdown-container" 
                            style="display:none;">
                            <ul class="nav nav-tabs account-menu " role="tablist"
                                id="account-menu-<%=compobj.id%>">
                                <li role="presentation" 
                                    class="nav-item "
                                    style="display:none;">
                                    <a href="#entity-req-loading-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold active ">
                                        Loading
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item"
                                    style="">
                                    <a href="#entity-home-<%-compobj.id%>"
                                        role="tab" data-toggle="tab"
                                        style="margin-right: 15px;border-radius:0px;"
                                        class="nav-link text-bold  ">
                                        <span class="fa fa-shopping-cart"></span>
                                        Compras por finalizar
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item ">
                                    <a href="#repurchase-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold">
                                        Compras aguardando entrega
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item">
                                    <a href="#entity-shopping-list-<%-compobj.id%>" 
                                        style="border-radius:0px;"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold ">
                                        <span class="fa fa-shopping-cart"></span>
                                        Compras e Pedidos
                                        <span class="badge bg-danger text-white"
                                            ng-bind="cart_data.totalCount"></span>
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item">
                                    <a href="#entity-payment-list-<%-compobj.id%>" 
                                        style="border-radius:0px;"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold ">
                                        <span class="fa fa-document"></span>
                                        Minhas faturas/recibo
                                        <span class="badge bg-danger text-white"
                                            ng-bind="billing_list.totalCount||0"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

                <div class="row rs-margin ">
                    <div ng-class="{'d-none d-lg-block col-lg-4 col-sm-6 col-xs-12 col-md-6 menu-box-item':true, 'menu-box-item-active': !current_etab||current_etab=='#entity-home-<%-compobj.id%>'}"
                        ng-click="openETab('#entity-home-<%-compobj.id%>')">
                        <h3 class="menu-icon">
                            <span class="fa fa-shopping-cart"></span>
                        </h3>
                        <p class="menu-descr">
                            Compras e Pedidos
                        </p>
                        <p class="menu-count"
                            ng-bind="'('+cart_data.list.length+')'">
                        </p>
                    </div>

                    <div ng-class="{'col-lg-4 d-none d-lg-block col-sm-6 col-xs-6 col-md-6 menu-box-item':true, 'menu-box-item-active': current_etab=='#repurchase-<%-compobj.id%>'}"
                        ng-click="openETab('#repurchase-<%-compobj.id%>')">
                        <h3 class="menu-icon">
                            <span class="fa fa-truck"></span>
                        </h3>
                        <p class="menu-descr">
                            Compras aguardando
                            entrega
                        </p>
                        <p class="menu-count"
                            ng-bind="'('+pending_delivery.length+')'">
                        </p>
                    </div>

                    <div ng-class="{'col-lg-4 d-none d-lg-block col-sm-6 col-xs-12 col-md-6 menu-box-item':true, 'menu-box-item-active': current_etab=='#entity-payment-list-<%-compobj.id%>'}"
                        ng-click="openETab('#entity-payment-list-<%-compobj.id%>')">
                        <h3 class="menu-icon">
                            <span class="fa fa-file"></span>
                        </h3>
                        <p class="menu-descr">
                            Minhas faturas / recibo
                        </p>
                        <p class="menu-count"
                            ng-bind="'('+billing_list.list.length+')'">
                        </p>
                    </div>
                </div>

                <div class="row rs-margin d-lg-none d-md-block d-sm-block d-xs-block">
                    <div class="col-12">
                        <div class="btn-group d-flex btn-mobile-nav" 
                            role="group" aria-label="Basic example">
                            <button type="button" 
                                ng-click="openETab('#entity-home-<%-compobj.id%>')"
                                ng-class="{'btn nav-menu-item ':true, 'active-menu-btn': !current_etab||current_etab=='#entity-home-<%-compobj.id%>'}">
                                <span>
                                    Pedidos
                                    <span class="menu-count"
                                        ng-bind="'('+cart_data.list.length+')'">
                                    </span>
                                </span>
                            </button>

                            <button type="button" 
                                ng-class="{'btn nav-menu-item ':true, 'active-menu-btn': current_etab=='#repurchase-<%-compobj.id%>'}"
                                ng-click="openETab('#repurchase-<%-compobj.id%>')">
                                <span>
                                    Aguard. Entrega
                                    <span class="menu-count"
                                        ng-bind="'('+pending_delivery.length+')'">
                                    </span>
                                </span>
                            </button>

                            <button type="button" 
                                ng-click="openETab('#entity-payment-list-<%-compobj.id%>')"
                                ng-class="{'btn nav-menu-item ':true, 'active-menu-btn': current_etab=='#entity-payment-list-<%-compobj.id%>'}">
                                <span>
                                    Faturas/Recibo
                                    <span class="menu-count "
                                        ng-bind="'('+billing_list.list.length+')'">
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 rs-padding">
            <div class="tab-content" 
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-req-loading show active "
                    id="entity-req-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="padding-top:155px;font-size:45px;">
                        <span class="fa fa-refresh fa-spin text-warning"></span>
                    </h3>
                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        AGUARDE
                    </h3>
                </div>


                <!-- BILLINGS & PAYMENTS -->
                <div class="tab-pane fade tab-shopping-list "
                    id="entity-payment-list-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">

                    <center ng-if="billing_list.totalCount==0">
                        <h3 style="padding-top:20px;margin:0px;color:#666;"
                            class="text-center">
                            <span class="fa fa-credit-cart"></span>
                            <span ng-bind="'Os seus pagamentos vão aparecer aqui.'"></span>
                        </h3>
                    </center>

                    <button class="btn bg-warning text-bold btn-round btn-bill-refresh btn-warning-grad text-center"
                        style="margin-bottom:10px;"
                        ng-disabled="loading_billings"
                        ng-click="loadBillings('<%=compobj.id%>')"
                        type="button">
                        <span ng-class="{'fa fa-refresh':true,
                                         'fa-spin': loading_billings}"></span>
                    </button>

                    <ul class="list-group">
                        <li class="list-group-item payment-list-item-li"
                            ng-repeat="bill in billing_list.list">
                            <div class="payment-container-v3">
                                <div class="row rs-margin">
                                    <div class="col-12 payment-details-container">
                                        <div style="padding:10px;">
                                            <p style="margin:0px;padding:0px;"
                                                class="payment-item-title">
                                                <span>ID Fatura </span>
                                                {{bill.id}}
                                            </p>
                                            <p style="margin:0px;padding:0px;"
                                                class="payment-item-date">
                                                {{moment(bill.createdAt).format("DD/MM/YYYY HH:mm:ss")}}
                                            </p>
                                            <a href="{{bill.fields['<%=$BLF.epay_host%>']}}/ecommerce-cms/carts/{{bill.fields['<%=$BLF.context_id%>']}}/watch"
                                                    class="purchase-item-link">
                                                <strong>
                                                    <span class="fa fa-shopping-cart"></span>
                                                    Comprovativo Compra
                                                </strong>
                                            </a>

                                            <div class="payment-action-container">
                                                <a  href="{{bill.viewLink}}"
                                                    target="__blank"
                                                    ng-if="bill.fields['<%=$BLF.state%>']=='PAYED'"
                                                    style="line-height: .8;font-size: small;"
                                                    class="btn etx-bg-primary text-white text-bold btn-round">
                                                    Ver Recibo
                                                </a>
                                                <!--
                                                <a  href="{{bill.viewLink}}"
                                                    target="__blank"
                                                    style="line-height: .8;font-size: small;"
                                                    ng-if="bill.fields['<%=$BLF.state%>']=='PUBLISHED'"
                                                    class="btn etx-bg-primary text-white text-bold btn-round btn-frontend-pay-billing">
                                                    Pagar
                                                </a>
                                                -->
                                            </div>

                                            <p style="margin:0px" class="payment-item-total">
                                                <span>Total: </span>
                                                {{bill.fields['<%=$BLF.total%>']|currency:''}}$00
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- CHECKOUT -->
                <div class="tab-pane fade tab-shopping-list "
                    id="entity-shopping-list-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">

                </div>

                <!-- ONLINE PAYMENT FOR CART -->
                <div class="tab-pane fade tab-cart "
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">

                    <center ng-if="!cart_data.list|| cart_data.list.length==0">
                        <h3 style="padding-top:20px;margin:0px;"
                            class="text-center">
                            <span class="fa fa-shopping-cart"></span>
                            <span ng-bind="'Todas as suas compras ficam aqui.'"></span>
                        </h3>

                        <p class="text-muted text-center">
                            <span ng-bind="'Visite a nossa loja para efectuar a sua primeira compra.'"></span>
                        </p>
                        <a class="btn etx-bg-danger btn-round text-center text-bold"
                            href="index.html">
                            <span class="fa fa-home"></span>
                            <span ng-bind="'Leve me ao inicio'"></span>
                        </a>
                    </center>

                    <ul class="list-group">
                        <li class="list-group-item purchase-list-item-li"
                            ng-repeat="cart in cart_data.list">
                            <div class="purchase-container-v3">
                                <div class="row rs-margin">
                                    <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 purchase-details-container">

                                        <div style="padding:10px;">
                                            <p style="margin:0px;padding:0px;"
                                                class="purchase-item-title">
                                                <span>ID Compra </span>
                                                {{cart.id}}
                                            </p>
                                            <p style="margin:0px;padding:0px;"
                                                class="purchase-item-date">
                                                <!-- <span>Data e Hora:</span> -->
                                                {{moment(cart.createdAt).format("DD/MM/YYYY HH:mm:ss")}}
                                            </p>
                                            <a href="<%=WS_HOST%>/ecommerce-cms/carts/{{cart.id}}/watch"
                                               class="purchase-item-link"
                                               target="__blank">
                                                Comprovativo de compra
                                            </a>

                                            <div ng-show="cart.Billing.id"
                                                class="purchase-action-container">
                                                <a  href="{{cart.Billing.viewLink}}"
                                                    target="__blank"
                                                    ng-show="cart.Billing.fields['<%=$BLF.state%>']=='PAYED'"
                                                    ng-if="bill.fields['<%=$BLF.state%>']=='PAYED'"
                                                    style="line-height: .8;font-size: small;"
                                                    class="btn etx-bg-primary text-white text-bold btn-round">
                                                    Ver Recibo
                                                </a>
                                                <a  href="{{cart.Billing.viewLink}}"
                                                    target="__blank"
                                                    style="line-height: .8;font-size: small;"
                                                    ng-if="cart.Billing.fields['<%=$BLF.state%>']=='PUBLISHED'"
                                                    class="btn etx-bg-primary text-white text-bold btn-round btn-frontend-pay-billing">
                                                    Pagar
                                                </a>
                                            </div>

                                            <p style="margin:0px" class="purchase-item-total">
                                                <span>Total: </span>
                                                {{cart.total_products|currency:''}}$00
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 text-center purchase-delivery-container">
                                        <div style="margin:0px;padding:10px;"
                                            class=""
                                            ng-show="cart.fields['<%=$ECF.delivery_method%>']=='CCV_DELIVERY'">
                                            <img src="<%=WS_HOST%>/img/logotipo-ccv-text.png"
                                                class="text-center ccv-delivery-icon"
                                                style="width:120px;margin-right:10px;margin-bottom:15px;" 
                                            />
                                            <p style="margin:0px;" class='text-bold purchase-shipping-region'>
                                                {{cart.fields['<%=$ECF.shipping_region%>']}}<br/>
                                                <!-- CP: {{cart.fields['<%=$ECF.shipping_region%>']}} -->
                                            </p>
                                            <p style="margin:0px;" class="purchase-shipping-address">
                                                {{cart.fields['<%=$ECF.shipping_address%>']}}
                                            </p>
                                        </div>

                                        <div style="margin:0px;"
                                            ng-show="cart.fields['<%=$ECF.delivery_method%>']=='STORE_TAKEOUT'">
                                            <h4 style="margin:0px">
                                            Levantar na loja
                                            </h4>
                                            <p style="margin:0px;">
                                                <!-- {{cart.fields['<%=$ECF.delivery_post%>']}} -->
                                                Dope Mates,<br/>
                                                Terra Branca, Praia
                                            </p>
                                        </div>
                                        <div style="margin:0px;"
                                            ng-show="cart.fields['<%=$ECF.delivery_method%>']=='HOME_DELIVERY'">
                                            <h4 style="margin:0px">
                                            Entrega em casa
                                            </h4>
                                            <p style="margin:0px;">
                                                {{cart.fields['<%=$ECF.shipping_address%>']}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- RE-PURCHASE CART -->
                <div class="tab-pane fade tab-not-auth "
                    id="repurchase-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">


                    <ul class="list-group">
                        <li class="list-group-item purchase-list-item-li"
                            ng-repeat="cart in pending_delivery">
                            <div class="purchase-container-v3">
                                <div class="row rs-margin">
                                    <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 purchase-details-container">

                                        <div style="padding:10px;">
                                            <p style="margin:0px;padding:0px;"
                                                class="purchase-item-title">
                                                <span>ID Compra </span>
                                                {{cart.id}}
                                            </p>
                                            <p style="margin:0px;padding:0px;"
                                                class="purchase-item-date">
                                                <!-- <span>Data e Hora:</span> -->
                                                {{moment(cart.createdAt).format("DD/MM/YYYY HH:mm:ss")}}
                                            </p>
                                            <a href="<%=WS_HOST%>/ecommerce-cms/carts/{{cart.id}}/watch"
                                               class="purchase-item-link"
                                               target="__blank">
                                                Comprovativo de compra
                                            </a>

                                            <div ng-show="cart.Billing.id"
                                                class="purchase-action-container">
                                                <a  href="{{cart.Billing.viewLink}}"
                                                    target="__blank"
                                                    ng-show="cart.Billing.fields['<%=$BLF.state%>']=='PAYED'"
                                                    ng-if="bill.fields['<%=$BLF.state%>']=='PAYED'"
                                                    style="line-height: .8;font-size: small;"
                                                    class="btn etx-bg-primary text-white text-bold btn-round">
                                                    Ver Recibo
                                                </a>
                                                <a  href="{{cart.Billing.viewLink}}"
                                                    target="__blank"
                                                    style="line-height: .8;font-size: small;"
                                                    ng-if="cart.Billing.fields['<%=$BLF.state%>']=='PUBLISHED'"
                                                    class="btn etx-bg-primary text-white text-bold btn-round btn-frontend-pay-billing">
                                                    Pagar
                                                </a>
                                            </div>

                                            <p style="margin:0px" class="purchase-item-total">
                                                <span>Total: </span>
                                                {{cart.total_products|currency:''}}$00
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 text-center purchase-delivery-container">
                                        <div style="margin:0px;padding:10px;"
                                            class=""
                                            ng-show="cart.fields['<%=$ECF.delivery_method%>']=='CCV_DELIVERY'">
                                            <img src="<%=WS_HOST%>/img/logotipo-ccv-text.png"
                                                class="text-center"
                                                style="width:120px;margin-right:10px;margin-bottom:15px;" 
                                            />
                                            <p style="margin:0px;" class='text-bold'>
                                                {{cart.fields['<%=$ECF.shipping_region%>']}}<br/>
                                                <!-- CP: {{cart.fields['<%=$ECF.shipping_region%>']}} -->
                                            </p>
                                            <p style="margin:0px;">
                                                {{cart.fields['<%=$ECF.shipping_address%>']}}
                                            </p>
                                        </div>

                                        <div style="margin:0px;"
                                            ng-show="cart.fields['<%=$ECF.delivery_method%>']=='STORE_TAKEOUT'">
                                            <h4 style="margin:0px">
                                            Levantar na loja
                                            </h4>
                                            <p style="margin:0px;">
                                                <!-- {{cart.fields['<%=$ECF.delivery_post%>']}} -->
                                                Dope Mates,<br/>
                                                Terra Branca, Praia
                                            </p>
                                        </div>
                                        <div style="margin:0px;"
                                            ng-show="cart.fields['<%=$ECF.delivery_method%>']=='HOME_DELIVERY'">
                                            <h4 style="margin:0px">
                                            Entrega em casa
                                            </h4>
                                            <p style="margin:0px;">
                                                {{cart.fields['<%=$ECF.shipping_address%>']}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- USER NOT AUTH -->
                <div class="tab-pane fade tab-not-auth "
                    id="acc-not-auth-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">

                    <h3 class="text-center">
                        Autentique-se ou crie uma conta para continuar.
                    </h3>

                    <center>
                        <div>
                            <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
                                ng-if="'<%= compobj.confObj.signin_url %>'=='UX_MODAL'"
                                ng-disabled="loading_cart_request"
                                ng-click="openLoginModal()"
                                type="button">
                                <span class="fa fa-user-badge"></span>
                                LOGIN
                            </button>

                            <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
                                ng-disabled="loading_cart_request"
                                ng-if="'<%= compobj.confObj.signup_url %>'=='UX_MODAL'"
                                ng-click="openSignupModal()"
                                type="button">
                                <span class="fa fa-user-badge"></span>
                                CRIAR CONTA
                            </button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
