                    <div class="row rs-margin"
                        style="background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
                        <div class="col-12" style="">
                            <h3 style="padding-bottom:0px;padding-top:15px;margin:0px;"
                                ng-if="has_items">
                                <span class="text-primary fa fa-document"
                                    style="font-size:44px;"></span>
                                    <span ng-bind="'Requisitar proforma'"></span>
                            </h3>

                            <h3 style="font-size:24px;color:#666;padding:0px;margin:0px;padding-left:0px;margin-bottom:10px;">
                              Preencha o formul&aacute;rio para requisitar a sua proforma.
                            </h3>
                            <hr/>
                        </div>

                        <div class="col-md-6 col-lg-7 col-sm-12 col-xs-12">

                            <div class="alert alert-warning text-center" 
                                ng-if="loading_proforma">
                                <i class="fa fa-refresh fa-spin"></i>
                                Processando
                            </div>

                            <div class="alert alert-danger text-center" 
                                ng-if="proforma_error">
                                <i class="fa fa-times"></i>
                                <h4>A sua solicitação não pode ser processada.</h4>
                                Verifique todos os campos.
                            </div>

                            <div class="alert alert-success text-center avaliation-success" 
                                ng-if="proforma_done">
                                <i class="fa fa-check" style="font-size:50px;" ></i>
                                <br/>
                                <h3>
                                    A sua proforma foi gerada com sucesso.<br/>
                                </h3>
                                <a href="<%= WS_HOST %>/billing/view-proforma/{{last_proforma_id}}" 
                                    target="__blank"
                                    class="btn btn-danger text-white text-bold btn-round btn-lg">
                                    ABRIR
                                </a>
                            </div>

                            <form name="profrForm" 
                                ng-if="!proforma_done"
                                ng-submit="saveProforma(profrForm, 
                                '<%=compobj.id%>')">

                                <div class="form-group">
                                    <label class="cart-label">NIF *</label>
                                    <input type="text" ng-model="profObj.nif" 
                                        required
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Nome *</label>
                                    <input type="text" ng-model="profObj.name" 
                                        required
                                        class="form-control cart-input" />
                                </div>

                                <div class="form-group">
                                    <label class="cart-label">Sobrenome *</label>
                                    <input type="text" ng-model="profObj.surname" 
                                        required
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Email *</label>
                                    <input type="email" ng-model="profObj.email"
                                        required 
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Numero de Telefone *</label>
                                    <input type="text" ng-model="profObj.phone" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Endere&ccedil;o</label>
                                    <input type="text" ng-model="profObj.address" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Cidade</label>
                                    <input type="text" ng-model="profObj.city" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Pais</label>
                                    <input type="text" ng-model="profObj.country" 
                                        required
                                        class="form-control cart-input cart-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Observações</label>
                                    <textarea class="form-control cart-textarea" 
                                        ng-model="profObj.msg"
                                        rows="3"></textarea>
                                </div>


                                <button class="btn btn-lg bg-success text-white btn-round text-bold"
                                    ng-disabled="loading_proforma"
                                    type="submit">
                                    <span ng-if="loading_request"
                                        class="fa fa-refresh fa-spin"></span>
                                    <span ng-if="!loading_proforma">
                                        Guardar
                                    </span>
                                    <span ng-if="loading_proforma">
                                        Aguarde
                                    </span>
                                </button>
                            </form>
                        </div>

                        <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12"
                            style="margin-top:15px;">
                            <table class="table table-striped">
                                <thead class="xb-grad">
                                    <th>
                                        DESIGN.
                                    </th>
                                    <th>
                                        PREÇO
                                    </th>
                                    <th>
                                        QTD
                                    </th>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in cartObj.item_list">
                                        <td class="text-bold">
                                            {{item.label}}
                                        </td>
                                        <td>
                                            {{item.price|currency:''}}
                                            {{item.currency}}
                                        </td>
                                        <td>
                                            {{item.amount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h2 class="text-left">
                                <span class="text-muted "
                                    style="font-size:17px;">
                                    TOTAL
                                </span>
                                <br/>
                                {{total_in_cart|currency:''}}
                                <span class="etx-text-danger">
                                    <strong>CVE</strong>
                                </span>
                            </h2>
                        </div>
                    </div>
