<div class="row rs-margin" style="margin-top:40px">
    <div class="col-lg-4 col-sm-12 col-xs-12 col-md-6">
        <div class="card h-100" style="border-radius:15px;width:100%;">
          <div style="background-image:url('https://etx-storage.s3.us-east-2.amazonaws.com/COMPONENT%5BECOMMERCE_ITEM%5D/%3CNone%3E/2f98439d619ab2a988b1cb2a01f37c2f.jpeg');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;">
            <h4 class="card-title text-white " style="font-size:16px; padding:15px" >
                <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-thumbs-up text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">10K</span>
                </span>
                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-heart text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">5K</span>
                </span>
                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-eye text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">12K</span>
                </span>
            </h4>

            <div style="padding:10px;padding-top:420px;background: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 120% ;height:550px;">
                <span class="pull-right card-title exp-list-price text-warning text-bold" style="border:1px solid #ffc107;padding:4px;border-radius:4px;">
                    <strong>TOP 10 </strong>
                </span>

                <h4 class="card-title text-white " style="font-size:16px;" >
                    My Nike
                </h4>
                <h3 style="font-size:18px" class="text-white">
                    <strong>Alberto - </strong>
                    09:30 am
                </h3>

            </div>
          </div>
        
        </div>
    </div>   
    
    <div class="col-lg-4 col-sm-12 col-xs-12 col-md-6">
        <div class="card h-100" style="border-radius:15px;width:100%;">
          <div style="background-image:url('https://etx-storage.s3.us-east-2.amazonaws.com/COMPONENT%5BECOMMERCE_ITEM%5D/%3CNone%3E/47c03fb629d3fb7fc476a366089b8779.jpeg');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;">
            <h4 class="card-title text-white " style="font-size:16px; padding:15px" >
                <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-thumbs-up text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">7.5K</span>
                </span>
                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-heart text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">2K</span>
                </span>
                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-eye text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">8K</span>
                </span>
            </h4>

            <div style="padding:10px;padding-top:420px;background: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 120% ;height:550px;">
                <span class="pull-right card-title exp-list-price text-warning text-bold" style="border:1px solid #ffc107;padding:4px;border-radius:4px;">
                    <strong>TOP 10 </strong>
                </span>

                <h4 class="card-title text-white " style="font-size:16px;" >
                    VERAO 2020
                </h4>
                <h3 class="text-white" style="font-size:18px">
                    <strong>Junior - </strong>
                    <span class="">
                        10:30 am
                    </span>
                </h3>
            </div>
          </div>
        
        </div>
    </div>    
    
    <div class="col-lg-4 col-sm-12 col-xs-12 col-md-6 stories-item">
        <div class="card h-100" style="border-radius:15px;width:100%;">
          <div style="background-image:url('https://etx-storage.s3.us-east-2.amazonaws.com/COMPONENT%5BECOMMERCE_ITEM%5D/%3CNone%3E/8f1c20f602595658f087dbc44d31e1d1.jpeg');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;">
            <h4 class="card-title text-white " style="font-size:16px; padding:15px" >
                <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-thumbs-up text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">250K</span>
                </span>
                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-heart text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">25K</span>
                </span>
                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)">
                    <span class="fa fa-eye text-white" style="font-size:28px"></span>
                    <span class="text-bold text-white">310K</span>
                </span>
            </h4>

            <div style="padding:10px;padding-top:420px;background: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 120% ;height:550px;">
                <span class="pull-right card-title exp-list-price text-warning text-bold" style="border:1px solid #ffc107;padding:4px;border-radius:4px;">
                    <strong>TOP 10 </strong>
                </span>

                <h4 class="card-title text-white " style="font-size:18px;" >
                    Na ponta d' agua
                </h4>
                <h3 style="font-size:18px" class="text-white">
                    <strong>Loja Mor - </strong>
                    12:30 pm
                </h3>
            </div>
          </div>
        
        </div>
    </div>
    
    <div class="col-12 text-center" style="padding:10px;">
        <button class="btn btn-wch text-white btn-round btn-lg text-bold"
            style="margin-top:10px">
            VER MAIS
        </button>
    </div>

</div>
