<div role="tabpanel"
    ng-controller="x99Entity">

  <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist"
        style="display:none;"
        ng-init="streamStories('<%=compobj.id%>')">
        <li role="presentation" class="active">
            <a href="#home-<%=compobj.id%>" aria-controls="home-<%=compobj.id%>" role="tab" data-toggle="tab">Loading</a>
        </li>

        <li role="presentation">
            <a href="#story-listing-<%=compobj.id%>" aria-controls="story-listing-<%=compobj.id%>" role="tab" data-toggle="tab">STORIES LISTING</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
            <h3 style="padding-top:50px;padding-bottom:50px;" class="text-center">
                <span class="fa fa-refresh etx-text-warning fa-spin etx-loading-spinner"></span>
            </h3>
        </div>
    
        <div role="tabpanel" class="tab-pane" id="story-listing-<%=compobj.id%>">
            <div class="row rs-margin" style="margin-top:40px;margin-bottom:50px;">
                <div class="col-12 rs-padding story-search-container">
                    <form class="form-inline search-trigger"
                        autocomplete="off">
                        <input type="search" 
                          name="q"
                          ng-model="req.stories_q"
                          id="stories-search-<%=compobj.id%>"
                          placeholder="Pesquisar Stories" 
                          style=""
                          class="form-control stories-search"
                        />
                    </form>
                </div>

                <div class="col-12 rs-padding stories-item-list">
                    <div class="stories-item rs-padding cursor-pointer"
                        title="Clique para abrir {{post.title}}"
                        ng-click="openStory('<%=compobj.id%>', post, $index)"
                        ng-repeat="post in streamPosts.list|filter: req.stories_q">

                        <!-- IMAGE STORIES -->
                        <div class="card story-image-card" style="border:0px;"
                            ng-if="post.post_media_type!='STORY_VIDEO'">
                            <div style="background-image:url('{{post.images[0]}}');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;background-position:center center;">
                                <div style="padding:10px;padding-top:250px;background: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 0% ;height:300px;">
                                    <div style="height:38px;width:38px;border-radius:180px;float:left;background-image:url('{{post.author_picture||'https://d2aeipzem347xy.cloudfront.net/img/ghost_person_100x100_v1.png'}}');background-size:cover;background-repeat:no-repeat;margin-right:5px;margin-top:-6px;opacity:1;border:4px solid #5c0f8b;background-color: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 0% ;">
                                    </div>

                                    <p style="margin:0px;font-size:small;" class="text-white">
                                        <strong>{{post.author_name_fmt}} </strong>
                                    </p>
                                    <p style="margin:0px;font-size:small;" class="text-white">
                                        {{post.timestampFMT}}
                                    </p>
                                </div>

                            </div>
                        </div>

                        <!-- VIDEO STORIES -->
                        <div class="card story-video-card" style="border:0px;"
                            ng-if="post.post_media_type=='STORY_VIDEO'">
                            <div style="background-image:url('{{post.images[0]}}');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;background:#000;">
                                <div style="padding:10px;margin-top:0px;background:transparent;height:50px;max-height:60px;z-index:1000;position: absolute;width: 100%;margin-top: 240px;">
                                    <div style="height:38px;width:38px;border-radius:180px;float:left;background-image:url('{{post.author_picture||'https://d2aeipzem347xy.cloudfront.net/img/ghost_person_100x100_v1.png'}}');background-size:cover;background-repeat:no-repeat;margin-right:5px;margin-top:-6px;opacity:1;border:4px solid #5c0f8b;background-color: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 0% ;">
                                    </div>
                                    <p class="card-title text-white " style="font-size:small;margin:0px;" >
                                        {{post.author_name_fmt}}
                                    </p>
                                    <p style="font-size:small;margin:0px;" class="text-white">
                                        {{post.timestampFMT}}
                                    </p>
                                </div>

                                <div class="video-story-container">
                                    <video id="story-item-vid-{{post.id}}"
                                        class="video-js vjs-theme-city story-video"
                                        style="width:100%;height:290px;">
                                        <source src="{{post.images[0]}}" type="video/mp4" />

                                        <p class="vjs-no-js text-white">
                                          To view this video please enable JavaScript, and consider upgrading to a
                                          web browser that
                                          <a href="https://videojs.com/html5-video-support/" 
                                             target="_blank"
                                            >supports HTML5 video</a
                                          >
                                        </p>
                                    </video>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <!-- Modal -->
                    <div class="modal fade" id="storyModal-<%=compobj.id%>" tabindex="-1" role="dialog" 
                        aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content" style="background-color:#000">

                          <div class="modal-body ">

                            <div role="tabpanel">

                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist" style="display:none;">
                                <li role="presentation" class="nav-item">
                                    <a href="#story-preview-home-<%=compobj.id%>" 
                                        aria-controls="home" role="tab" data-toggle="tab"
                                        class="active nav-link">
                                        Home
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item"
                                    ng-repeat="story in open_stories">
                                    <a href="#story-tab-{{story.id}}" 
                                        class="nav-link"
                                        aria-controls="story-tab-{{story.id}}" 
                                        role="tab" data-toggle="tab">
                                        {{story.title}}
                                    </a>
                                </li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="story-preview-home-<%=compobj.id%>">
                                    <h3 style="padding-top:50px;padding-bottom:50px;" class="text-center">
                                        <span class="fa fa-refresh etx-text-warning fa-spin etx-loading-spinner"></span>
                                    </h3>
                                </div>

                                <div role="tabpanel" class="tab-pane" 
                                    id="story-tab-{{story.id}}"
                                    ng-repeat="story in open_stories">

                                    <div class="progress story-progress" style="height:5px !important;">
                                      <div class="progress-bar etx-bg-secondary" role="progressbar" 
                                        id="progress-bar-{{story.id}}"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:0%;"
                                      >
                                      </div>
                                    </div>

                                    <div class="story-body" style="background-image:url('{{story.images[0]}}');">
                                        <div class="story-content">
                                            <div class="story-details">
                                                <h3 class="open-story-options pull-right">
                                                    <span class="fa fa-times cursor-pointer open-story-close"
                                                        ng-click="closeStory('<%=compobj.id%>', story, $index)"></span>
                                                    <!-- <span class="fa fa-volume-mute open-story-mute"></span> -->
                                                </h3>
                                                <h4 class="pull-right" style="padding-top:5px;">
                                                    <span class="fa fa-chevron-left"
                                                        style="padding-right:15px;"
                                                        ng-click="prevStory('<%=compobj.id%>', story)">
                                                    </span>
                                                    <span class="text-white fa fa-chevron-right"
                                                        style="padding-left:10px;padding-right:12px;"
                                                        ng-click="nextStory('<%=compobj.id%>', story)">
                                                    </span>
                                                </h4>

                                                <h3 class="open-story-author">
                                                    {{story.author_name}}
                                                </h3>
                                                <p class="open-story-time etx-text-secondary">
                                                    {{story.timestampFMT}}
                                                </p>
                                                <!--
                                                <h4 class="pull-left"
                                                    ng-click="prevStory('<%=compobj.id%>', story)">
                                                    <span class="fa fa-chevron-left"></span>
                                                </h4>
                                                <h4 class="pull-right"
                                                    ng-click="nextStory('<%=compobj.id%>', story)">
                                                    <span class="fa fa-chevron-right"></span>
                                                </h4>
                                                -->
                                            </div>
                                            <div class="video-story-container"
                                                ng-show="story.post_media_type=='STORY_VIDEO'">
                                                <video id="story-vid-{{story.id}}"
                                                    class="video-js vjs-theme-city story-video"
                                                    style="width:100%;height:40vh;"
                                                    preload="auto"
                                                >
                                                    <p class="vjs-no-js text-white">
                                                      To view this video please enable JavaScript, and consider upgrading to a
                                                      web browser that
                                                      <a href="https://videojs.com/html5-video-support/" 
                                                         target="_blank"
                                                        >supports HTML5 video</a
                                                      >
                                                    </p>
                                                </video>
                                            </div>
                                            <p class="open-story-description etx-text-secondary">
                                                {{story.title}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                              </div>

                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

