<div role="tabpanel"
    ng-controller="x99Entity">

  <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist"
        style="display:none;"
        ng-init="streamStories('<%=compobj.id%>')">
        <li role="presentation" class="active">
            <a href="#home-<%=compobj.id%>" aria-controls="home-<%=compobj.id%>" role="tab" data-toggle="tab">Loading</a>
        </li>

        <li role="presentation">
            <a href="#story-listing-<%=compobj.id%>" aria-controls="story-listing-<%=compobj.id%>" role="tab" data-toggle="tab">STORIES ISTING</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
            <h3 style="padding-top:50px;padding-bottom:50px;" class="text-center">
                <span class="fa fa-refresh etx-text-warning fa-spin etx-loading-spinner"></span>
            </h3>
        </div>
    
        <div role="tabpanel" class="tab-pane" id="story-listing-<%=compobj.id%>">
            <div class="row rs-margin" style="margin-top:40px">
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-6 stories-item cursor-pointer"
                    ng-click="openStory('<%=compobj.id%>', post, $index)"
                    ng-repeat="post in streamPosts.list">

                    <div class="card h-100" style=""
                        ng-if="post.post_media_type!='STORY_VIDEO'">
                      <div style="background-image:url('{{post.images[0]}}');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;background-position:center;">
                        <h4 class="card-title etx-text-white " style="font-size:16px; padding:15px" >
                            <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                ng-class="{'story-reaction-like':true, 'reaction-sent': post.act.like_c}"
                                ng-click="sendReaction('<%=compobj.id%>', post, 'like_c', $event)">
                                <span class="fa fa-thumbs-up etx-text-white reaction-icon" style="font-size:28px"></span>
                                <span class="text-bold etx-text-white reaction-count">
                                    {{post.xcounters.opMap.like_c}}
                                </span>
                            </span>
                            <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                ng-class="{'story-reaction-love':true, 'reaction-sent': post.act.love_c}"
                                ng-click="sendReaction('<%=compobj.id%>', post, 'love_c', $event)">
                                <span class="fa fa-heart etx-text-white reaction-icon" style="font-size:28px"></span>
                                <span class="text-bold etx-text-white reaction-count">
                                    {{post.xcounters.opMap.love_c}}
                                </span>
                            </span>
                            <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                ng-class="{'story-reaction-view':true, 'reaction-sent': post.act.view_c}"
                                >
                                <span class="fa fa-eye etx-text-white reaction-icon" style="font-size:28px"></span>
                                <span class="text-bold etx-text-white reaction-count">
                                    {{post.xcounters.opMap.view_c}}
                                </span>
                            </span>
                        </h4>

                        <div style="padding:10px;padding-top:420px;background: linear-gradient(transparent, rgba(0,0,0,.7)) 0% 0% ;height:550px;">
                            <!--
                            <span class="pull-right card-title exp-list-price text-warning text-bold" style="border:1px solid #ffc107;padding:4px;border-radius:4px;">
                                <strong>TOP 10 </strong>
                            </span>
                            <h3 class="card-title etx-text-white " style="font-size:18px;" >
                                {{post.author_name}}
                            </h3>
                            <h3 style="font-size:15px" class="etx-text-white">
                                {{post.timestampFMT}}
                            </h3>
                            -->
                        </div>
                      </div>
                    </div>

                    <!-- STORY VIDEO -->
                    <div class="card h-100 video-story-card" 
                        ng-if="post.post_media_type=='STORY_VIDEO'">
                        <div style=";background:#000;background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;">
                            <!-- 420px; -->
                            <div style="padding-left:10px;padding:7px;padding-bottom:0px;background:#000;height:100px;max-height:100px;overflow:hidden;">
                                <h4 class="card-title etx-text-white " style="font-size:16px; padding:15px" >
                                    <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                        ng-class="{'story-reaction-like':true, 'reaction-sent': post.act.like_c}"
                                        ng-click="sendReaction('<%=compobj.id%>', post, 'like_c', $event)">
                                        <span class="fa fa-thumbs-up etx-text-white reaction-icon" style="font-size:28px"></span>
                                        <span class="text-bold etx-text-white reaction-count">
                                            {{post.xcounters.opMap.like_c}}
                                        </span>
                                    </span>
                                    <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                        ng-class="{'story-reaction-love':true, 'reaction-sent': post.act.love_c}"
                                        ng-click="sendReaction('<%=compobj.id%>', post, 'love_c', $event)">
                                        <span class="fa fa-heart etx-text-white reaction-icon" style="font-size:28px"></span>
                                        <span class="text-bold etx-text-white reaction-count">
                                            {{post.xcounters.opMap.love_c}}
                                        </span>
                                    </span>
                                    <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                        ng-class="{'story-reaction-view':true, 'reaction-sent': post.act.view_c}"
                                        >
                                        <span class="fa fa-eye etx-text-white reaction-icon" style="font-size:28px"></span>
                                        <span class="text-bold etx-text-white reaction-count">
                                            {{post.xcounters.opMap.view_c}}
                                        </span>
                                    </span>
                                </h4>
                            </div>

                            <div class="video-story-container">
                                <video id="story-item-vid-{{post.id}}"
                                    class="video-js vjs-theme-city story-video"
                                    style="width:100%;height:50vh;">
                                    <source src="{{post.images[0]}}" type="video/mp4" />

                                    <p class="vjs-no-js text-white">
                                      To view this video please enable JavaScript, and consider upgrading to a
                                      web browser that
                                      <a href="https://videojs.com/html5-video-support/" 
                                         target="_blank"
                                        >supports HTML5 video</a
                                      >
                                    </p>
                                </video>
                            </div>
                            <!--
                            <div class="story-details">
                                <h4 class="card-title etx-text-white " style="font-size:16px;" >
                                    {{post.author_name}}
                                </h4>

                                <h3 style="font-size:18px" class="etx-text-white">
                                    {{post.timestampFMT}}
                                </h3>
                            </div>
                            -->
                        </div>
                    </div>

                </div>

                <div class="col-12">
                    <!-- Modal -->
                    <div class="modal fade" id="storyModal-<%=compobj.id%>" tabindex="-1" role="dialog" 
                        aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content" style="background-color:#000">

                          <div class="modal-body ">

                            <div role="tabpanel">

                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist" style="display:none;">
                                <li role="presentation" class="nav-item">
                                    <a href="#story-preview-home-<%=compobj.id%>" 
                                        aria-controls="home" role="tab" data-toggle="tab"
                                        class="active nav-link">
                                        Home
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item"
                                    ng-repeat="story in open_stories">
                                    <a href="#story-tab-{{story.id}}" 
                                        class="nav-link"
                                        aria-controls="story-tab-{{story.id}}" 
                                        role="tab" data-toggle="tab">
                                        {{story.title}}
                                    </a>
                                </li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="story-preview-home-<%=compobj.id%>">
                                    <h3 style="padding-top:50px;padding-bottom:50px;" class="text-center">
                                        <span class="fa fa-refresh etx-text-warning fa-spin etx-loading-spinner"></span>
                                    </h3>
                                </div>

                                <div role="tabpanel" class="tab-pane" 
                                    id="story-tab-{{story.id}}"
                                    ng-repeat="story in open_stories">

                                    <div class="progress story-progress" style="height:5px !important;">
                                      <div class="progress-bar etx-bg-secondary" role="progressbar" 
                                        id="progress-bar-{{story.id}}"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:0%;"
                                      >
                                      </div>
                                    </div>

                                    <div class="story-body" style="background-image:url('{{story.images[0]}}');">
                                        <div class="story-content">
                                            <!--
                                            <h4 class="story-reactions etx-text-white " style="font-size:16px; padding:15px" >
                                                <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                                    class="story-reaction-like">
                                                    <span class="fa fa-thumbs-up etx-text-white reaction-icon" style="font-size:28px"></span>
                                                    <span class="text-bold etx-text-whitereaction-count">{{currentStory.xcounters.opMap.like_c}}</span>
                                                </span>
                                                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                                    class="story-reaction-love">
                                                    <span class="fa fa-heart etx-text-white reaction-icon" style="font-size:28px"></span>
                                                    <span class="text-bold etx-text-white reaction-count">{{currentStory.xcounters.opMap.love_c}}</span>
                                                </span>
                                                <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                                                    class="story-reaction-view">
                                                    <span class="fa fa-eye etx-text-white reaction-icon" style="font-size:28px"></span>
                                                    <span class="text-bold etx-text-white reaction-count">{{currentStory.xcounters.opMap.view_c}}</span>
                                                </span>
                                            </h4>
                                            ng-show="story.post_media_type=='STORY_VIDEO'"
                                            -->
                                            <div class="story-details">
                                                <h3 class="open-story-options pull-right">
                                                    <span class="fa fa-times cursor-pointer open-story-close"
                                                        ng-click="closeStory('<%=compobj.id%>', story, $index)"></span>
                                                    <!-- <span class="fa fa-volume-mute open-story-mute"></span> -->
                                                </h3>
                                                <h3 class="open-story-author">
                                                    {{story.author_name}}
                                                </h3>
                                                <p class="open-story-time etx-text-secondary">
                                                    {{story.timestampFMT}}
                                                </p>
                                            </div>
                                            <div class="video-story-container"
                                                ng-show="story.post_media_type=='STORY_VIDEO'">
                                                <video id="story-vid-{{story.id}}"
                                                    class="video-js vjs-theme-city story-video"
                                                    style="width:100%;height:40vh;"
                                                    preload="auto"
                                                >
                                                    <p class="vjs-no-js text-white">
                                                      To view this video please enable JavaScript, and consider upgrading to a
                                                      web browser that
                                                      <a href="https://videojs.com/html5-video-support/" 
                                                         target="_blank"
                                                        >supports HTML5 video</a
                                                      >
                                                    </p>
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>

                            </div>


                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

