<div class="col-lg-4 col-sm-12 col-xs-12 col-md-6 stories-item cursor-pointer"
    ng-click="openStory('<%=compobj.id%>', post, $index)"
    ng-repeat="post in streamPosts.list|filter: req.stories_q">

    <div class="card h-100" style=""
        ng-if="post.post_media_type!='STORY_VIDEO'">
      <div style="background-image:url('{{post.images[0]}}');background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;background-position:center;">
        <h4 class="card-title etx-text-white " style="font-size:16px; padding:15px" >
            <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                ng-class="{'story-reaction-like':true, 'reaction-sent': post.act.like_c}"
                ng-click="sendReaction('<%=compobj.id%>', post, 'like_c', $event)">
                <span 
                    ng-class="{'fa fa-thumbs-up etx-text-white reaction-icon':!post.reaction_status['like_c']||post.reaction_status['like_c']=='READY',
                    'fa fa-refresh fa-spin text-warning':post.reaction_status['like_c']=='LOADING'
                }" style="font-size:20px"></span>
                <span class="text-bold etx-text-white reaction-count">
                    {{post.xcounters.opMap.like_c}}
                </span>
            </span>
            <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                ng-class="{'story-reaction-love':true, 'reaction-sent': post.act.love_c}"
                ng-click="sendReaction('<%=compobj.id%>', post, 'love_c', $event)">
                <span 
                    ng-class="{'fa fa-heart etx-text-white reaction-icon':!post.reaction_status['love_c']||post.reaction_status['love_c']=='READY',
                    'fa fa-refresh fa-spin text-warning':post.reaction_status['love_c']=='LOADING'
                }" style="font-size:20px"></span>

                <span class="text-bold etx-text-white reaction-count">
                    {{post.xcounters.opMap.love_c}}
                </span>
            </span>
            <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                ng-class="{'story-reaction-view':true, 'reaction-sent': post.act.view_c}"
                >
                <span class="fa fa-eye etx-text-white reaction-icon" style="font-size:28px"></span>
                <span class="text-bold etx-text-white reaction-count">
                    {{post.xcounters.opMap.view_c}}
                </span>
            </span>
            <span id="tip-{{post.id}}" 
                ng-show="post.not_auth"
                class="text-warning auth-tip">
                <a class="text-bold "
                    style="color:#ffc107!important"
                    href="signin.html?next=stories-catalog.html">Faz login</a> para reagir
            </span>
        </h4>

        <div style="padding:10px;padding-top:420px;height:55vh;">
        </div>
      </div>
    </div>

    <!-- STORY VIDEO -->
    <div class="card h-100 video-story-card" 
        ng-if="post.post_media_type=='STORY_VIDEO'">
        <div style=";background:#000;background-size:cover;background-repeat:no-repeat;width:100%;padding:0px;">
            <!-- 420px; -->
            <div style="padding-left:10px;padding:7px;padding-bottom:0px;background:#000;height:100px;max-height:100px;overflow:hidden;">
                <h4 class="card-title etx-text-white " style="font-size:16px; padding:15px">
                    <span style="font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                        ng-class="{'story-reaction-like':true, 'reaction-sent': post.act.like_c}"
                        ng-click="sendReaction('<%=compobj.id%>', post, 'like_c', $event)">
                        <span 
                            ng-class="{'fa fa-thumbs-up etx-text-white reaction-icon':!post.reaction_status['like_c']||post.reaction_status['like_c']=='READY',
                            'fa fa-refresh fa-spin text-warning':post.reaction_status['like_c']=='LOADING'
                        }" style="font-size:20px"></span>
                        <span class="text-bold etx-text-white reaction-count">
                            {{post.xcounters.opMap.like_c}}
                        </span>
                    </span>
                    <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                        ng-class="{'story-reaction-love':true, 'reaction-sent': post.act.love_c}"
                        ng-click="sendReaction('<%=compobj.id%>', post, 'love_c', $event)">
                        <span 
                            ng-class="{'fa fa-heart etx-text-white reaction-icon':!post.reaction_status['love_c']||post.reaction_status['love_c']=='READY',
                            'fa fa-refresh fa-spin text-warning':post.reaction_status['love_c']=='LOADING'
                        }" style="font-size:20px"></span>

                        <span class="text-bold etx-text-white reaction-count">
                            {{post.xcounters.opMap.love_c}}
                        </span>
                    </span>
                    <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
                        ng-class="{'story-reaction-view':true, 'reaction-sent': post.act.view_c}"
                        >
                        <span class="fa fa-eye etx-text-white reaction-icon" style="font-size:28px"></span>
                        <span class="text-bold etx-text-white reaction-count">
                            {{post.xcounters.opMap.view_c}}
                        </span>
                    </span>
                    <span id="tip-{{post.id}}" 
                        ng-show="post.not_auth"
                        class="text-warning auth-tip">
                        <a class="text-bold "
                            style="color:#ffc107!important"
                            href="signin.html?next=stories-catalog.html">
                            Faz login para reagir
                        </a>
                    </span>
                </h4>
            </div>

            <div class="video-story-container">
                <video id="story-item-vid-{{post.id}}"
                    class="video-js vjs-theme-city story-video"
                    style="width:100%;height:50vh;">
                    <source src="{{post.images[0]}}" type="video/mp4" />

                    <p class="vjs-no-js text-white">
                      To view this video please enable JavaScript, and consider upgrading to a
                      web browser that
                      <a href="https://videojs.com/html5-video-support/" 
                         target="_blank"
                        >supports HTML5 video</a
                      >
                    </p>
                </video>
            </div>
        </div>
    </div>
</div>
