<div class="row rs-margin" ng-controller="x99Entity"
    style="margin-top:90px">
    <div class="col-12" style="">
        <div ng-init="VerifyUser('<%=compobj.id%>', 'signin.html')"></div>
    </div>

    <div class="col-12 rs-padding" style="min-height:400px;">
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist"
                style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-loading-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link active"
                        data-toggle="tab">
                        LOADING
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        FEED
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="etx-feed-loading-<%=compobj.id%>">
                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;font-size:50px;">
                        <span class="fa fa-refresh text-shade-logo fa-spin "></span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane  " id="etx-feed-<%=compobj.id%>">
                    <div class="row rs-margin">
                        
                        <!--MY-PROFILE-COLUMN-->
                        <div class="col-lg-3 col-sm-12 col-md-12 d-none d-lg-block">
                            <div class="panel  user-profile-card">
                                <div class="panel-heading " style="padding-top:15px;padding-bottom:15px;">
                                    <a href="profile.html">
                                        <div class="pull-left "
                                            style="height:50px;width:50px;background-size:cover;background-image:url({{UserProfile.picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin-right:17px;">
                                        </div>
                                        <h3 class="panel-title" style="margin:0px;font-size:18px">
                                            {{UserProfile.name}}
                                        </h3>
                                        <p style="margin:0px;color:#838896;" class="text-bold" >
                                            @handle
                                        </p>
                                    </a>
                                </div>
                                <div class="panel-footer">
                                    <p style="margin:0px;color:#838896;"> 
                                        12 min - ago
                                    </p>
                                    <p style="color: #5C0F8B;margin:0px;">
                                        Status similar to a tweet can go here and can be updated
                                    </p>
                                    <button class="btn btn-round btn-uni-signup" 
                                        style="margin-top:10px">
                                      Update
                                    </button>
                                    <a class="btn btn-round btn-white " 
                                        href="profile-settings.html"
                                        style="color: #5C0F8B;margin-top:10px">
                                        <img src="<%=WS_HOST%>/img/edit.png" />
                                        Edit My Profile
                                    </a>
                                </div>
                            </div>

                            <ul class="list-group" style="margin-top:10px">
                              <li class="list-group-item" 
                                style="border:0px;box-shadow: 0px 4px 8px rgba(140, 128, 148, 0.15);border-radius: 50px;padding:5px;padding-left:15px;">
                                <span class="pull-right" style="border:4px solid #350C4F;border-radius:190px;padding: 4px;padding-left: 7px;padding-right: 8px;padding-top:3px;">
                                    <span class="fa fa-envelope" style="color: #E6540E"></span>
                                </span>
                                <p style="color:#E6540E;padding-top:5px;margin:0px;" class="text-bold">
                                    My Messages
                                </p>
                              </li>
                            </ul>
                            
                            <div class="section-sep" style="margin-top:30px;margin-bottom:10px">
                                <button class="btn btn-round btn-white pull-right" style="color: #5C0F8B;">
                                    <span style="color:#E6540E;" class="fa fa-search"></span>
                                    Find More
                                </button>
                                <h3 style="font-size:17px;color:#27242F;margin:0px;">Suggestions</h3>
                            </div>
                            
                            <ul class="list-group" style="clear:both;">
                              <li class="list-group-item" style="margin-top:10px;box-shadow: 0px 2px 5px rgba(64, 8, 99, 0.05);border-radius: 22px;">
                                <img src="<%=WS_HOST%>/img/User-Avatar33.jpg"
                                    width="40px"
                                    style="margin-right:10px;"
                                    class="pull-left"
                                />
                                <h3 style="margin:0px;color:#5C0F8B;font-size:17px">User Suggestion #1</h3>
                                <p style="color:#838896;margin:0px;">Sugestion for Circle of people</p>
                              </li>
                              <li class="list-group-item" style="margin-top:10px;box-shadow: 0px 2px 5px rgba(64, 8, 99, 0.05);border-radius: 22px;">
                                <img src="<%=WS_HOST%>/img/business-v1.png"
                                    width="40px"
                                    style="margin-right:10px;"
                                    class="pull-left"
                                />
                                <h3 style="margin:0px;color:#5C0F8B;font-size:17px">Restaurant</h3>
                                <p style="color:#838896;margin:0px;">Request and home delivery</p>
                              </li>
                              <li class="list-group-item" style="margin-top:10px;box-shadow: 0px 2px 5px rgba(64, 8, 99, 0.05);border-radius: 22px;">
                                <img src="<%=WS_HOST%>/img/business-v0.png"
                                    width="40px"
                                    style="margin-right:10px;"
                                    class="pull-left"
                                />
                                <h3 style="margin:0px;color:#5C0F8B;font-size:17px">Sports Entertain</h3>
                                <p style="color:#838896;margin:0px;">Football, Basketball and Tennis</p>
                              </li>
                            </ul>
                        </div>
    
                        <!--FEED-SYSTEM-->
                        <div class="col-lg-6 col-sm-12 col-md-12 rs-padding feed-container " ng-init="streamFeed('<%=compobj.id%>')">
                            <div class=" post-publish-plugin">
                                <div class="row rs-margin">
                                    <div class="col-lg-1 text-center d-none d-lg-block rs-padding" >
                                        <div class=" new-post-picture "
                                            style="height:50px;width:50px;background-size:cover;background-image:url({{UserProfile.picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin-right:17px;">
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-sm-12 col-xs-12 rs-padding">
                                        <div class="panel-body pull-left">
                                            <form name="postForm" 
                                                ng-submit="publishPost(postForm, '<%=compobj.id%>')">
                                                
                                                <div class="row rs-margin">
                                                    <div class="col-12 col-sm-12 col-md-12 rs-padding">
                                                        <div class="form-group" style="margin-bottom:0px;">
                                                            <input class="form-control new-post-area"
                                                                ng-disabled="publishing"
                                                                placeholder="Share something with your followers"
                                                                ng-required="!newPost.media||newPost.media.length==0"
                                                                ng-model="newPost.description" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 lg-publisher d-md-none d-sm-none d-xs-none d-lg-block rs-padding">
                                                        <button class="btn cursor-pointer">
                                                            <img src="<%WS_HOST%>/img/babado/calendar.png" style="margin:5px;" />
                                                        </button> 
                                                        <button class="btn btn-lighter btn-round cursor-pointer" 
                                                            ngf-pattern="'image/*'"
                                                            ng-disabled="publishing"
                                                            ngf-accept="'image/*'" ngf-max-size="3MB"
                                                            style="border-radius:40px"
                                                            ngf-select="uploadPostMedia('<%=compobj.id%>', $file)">
                                                            <img src="<%WS_HOST%>/img/share-photo.png" style="margin:5px;" /> Photo
                                                        </button>
                
                                                        <button class="btn btn-lighter btn-round cursor-pointer"
                                                            style="border-radius:40px">
                                                            <img src="<%WS_HOST%>/img/think.png" style="margin:5px;" /> 
                                                            Thought
                                                        </button>                                  
                                                        <button type="submit" 
                                                            class="btn btn-modal-login text-center text-white btn-round "
                                                            ng-disabled="publishing||uploading">
                                                            <span ng-if="!publishing">Share</span>
                                                            <span ng-if="publishing" class="fa fa-refresh fa-spin"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12 mobile-publisher d-lg-none d-xs-block d-md-block d-sm-block rs-padding">
                                                        <button class="btn cursor-pointer">
                                                            <img src="<%WS_HOST%>/img/babado/calendar.png" style="margin:5px;" />
                                                        </button> 
                                                        <button class="btn btn-lighter btn-round cursor-pointer" 
                                                            ngf-pattern="'image/*'"
                                                            ng-disabled="publishing"
                                                            ngf-accept="'image/*'" ngf-max-size="3MB"
                                                            style="border-radius:40px"
                                                            ngf-select="uploadPostMedia('<%=compobj.id%>', $file)">
                                                            <img src="<%WS_HOST%>/img/share-photo.png" style="margin:5px;" />
                                                            Photo
                                                        </button>
                
                                                        <button class="btn btn-lighter btn-round cursor-pointer"
                                                            style="border-radius:40px">
                                                            <img src="<%WS_HOST%>/img/think.png" style="margin:5px;" /> 
                                                            Thought
                                                        </button>                                  

                                                        <button type="submit" 
                                                            class="btn btn-modal-login text-center btn-block text-white btn-round "
                                                            ng-disabled="publishing||uploading">
                                                            <span ng-if="!publishing">Share</span>
                                                            <span ng-if="publishing" class="fa fa-refresh fa-spin"></span>
                                                        </button>
                                                    </div>
                                                </div>

        
                                                
                                                <div class="row rs-margin"
                                                    style="padding:10px;background:#f4f4f4;"
                                                    ng-show="newPost.media.length>0"
                                                    >
                                                    <div class="col" ng-repeat="media in newPost.media"
                                                        style="background-image:url('{{media.download_url}}');height:150px;border-radius:10px;margin-right:5px;background-size: cover;background-position: center;">
                                                        <button class="btn btn-white btn-round text-bold"
                                                            type="button"
                                                            style="margin-top: 10px;box-shadow: 0px 0px 12px rgb(0 0 0);"
                                                            ng-click="removeMedia(media,$index)">
                                                            <span class="fa fa-times" style="color:#5C0F8B;"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cursor-pointer post-instance"
                                ng-repeat="post in streamPosts.list track by $index">

                                <div class="panel-body post-header">
                                    <a href="view-profile.html?user_id={{post.author_id}}" 
                                        class="post-link">
                                        <div class="pull-left post-picture"
                                            style="background-image:url({{post.author_picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});">
                                        </div>
    
                                        <h3 title="{{post.author_name}}" 
                                            class="post-author"> 
                                            {{post.author_name}}
                                        </h3>
                                        <p title="{{post.Timestamp}}" 
                                            class="post-timeline"> 
                                            {{post.timestampFMT}}
                                        </p>
                                    </a>
                                </div>
                        
                                <div class="post-content" >
                                    <p class="rs-margin">
                                        {{post.description}}
                                    </p>
                                </div>

                                <div class="row rs-margin post-image-area">
                                    <div ng-class="{'post-image-item rs-padding':true, 'col-12':post.images.length==1, 'col-6':post.images.length==2, 'col-4':post.images.length>=3}" 
                                        style="background-image:url('{{media.download_url}}');background-size:cover;background-repeat:no-repeat;"
                                        ng-repeat="media in post.images">
                                        <div class="post-image-container-sz"></div>
                                    </div>
                                </div>

                                <div class="d-none d-lg-block d-md-block">
                                    <ul class="nav nav-pills btn-group-justified " 
                                        style="clear:both;padding:10px">
                                        <li role="presentation" class="nav-item dropdown ">
                                            <button role="menuitem" tabindex="-1" href="#"
                                                title="Like"
                                                ng-disabled="post.sending_reaction"
                                                ng-click="sendReaction('<%=compobj.id%>', post, 'like_c')"
                                                class="btn-lighter btn">
                                                <img src="<%WS_HOST%>/img/react.png" style="margin:5px;" />
                                                <span class="text-secondary" style="padding-right:10px">{{post.totalReactions}}</span>
                                                Like
                                            </button>
                                        </li>
                                        <li role="presentation" class="nav-item ">
                                            <button class="btn-lighter btn"
                                                ng-click="loadComments('<%=compobj.id%>', post)">
                                                <img src="<%WS_HOST%>/img/comment.png" style="margin:5px;" />
                                                <span class="text-secondary" style="padding-right:10px">{{post.xcounters.opMap.comment_c}}</span>
                                                Comments
                                            </button>
                                        </li>
                                        <li role="presentation" class="nav-item ">
                                            <a href="#" class="btn-lighter btn">
                                                <img src="<%WS_HOST%>/img/share.png" style="margin:5px;" />
                                                Share
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="d-lg-none d-md-none d-sm-block d-xs-block">
                                    <div class="row rs-margin" style="    background: #f1efef;">
                                        <div class="col-4 rs-padding text-center">
                                            <button role="menuitem" tabindex="-1" href="#"
                                                title="Like"
                                                style="background-color: #f1efef !important;"
                                                ng-disabled="post.sending_reaction"
                                                ng-click="sendReaction('<%=compobj.id%>', post, 'like_c')"
                                                class="btn">
                                                <img src="<%WS_HOST%>/img/react.png" style="margin:5px;" />
                                                <span class="text-secondary" style="padding-right:10px">{{post.totalReactions}}</span>
                                            </button>
                                        </div>
                                        <div class="col-4 rs-padding text-center">
                                            <button class=" btn"
                                                style="background-color: #f1efef !important;"
                                                ng-click="loadComments('<%=compobj.id%>', post)">
                                                <img src="<%WS_HOST%>/img/comment.png" style="margin:5px;" />
                                                <span class="text-secondary" style="padding-right:10px">{{post.xcounters.opMap.comment_c}}</span>
                                            </button>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn  rs-padding"
                                                style="background-color: #f1efef !important;">
                                                <img src="<%WS_HOST%>/img/share.png" style="margin:5px;" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="post-comment-plugin" >
                                    <form name="commentForm"
                                        ng-submit="publishComment(commentForm, post, '<%=compobj.id%>')">
                                        <input type="text" class="form-control comment-post-area"
                                            required ng-model="post.newComment"
                                            ng-disabled="post.sending_comment"
                                            placeholder="Share a comment" />
                                    </form>
                                </div>
                                
                                <div class="post-comment-list" style="padding:0px">
                                    <h3 ng-show="post.loading_comments" class="text-center">
                                        <span class="fa fa-refresh  fa-spin" style="color:#350C4F;opacity:.7;"></span>
                                    </h3>
                                    <h3 ng-show="post.comment_list.length==0" 
                                        ng-click="loadComments('<%=compobj.id%>', post)"
                                        class="text-center text-secondary no-comments">
                                        No comments
                                    </h3>
                                    <ul class="list-group"
                                        style="border-radius:0px;">
                                      <li class="list-group-item comment-item" ng-repeat="comm in post.comment_list"
                                        style="border:0px solid #fff;background:#f1efef;border-radius:0px;">
                                          <div class="row rs-margin text-left">
                                              <div class="col-1 rs-padding">
                                                <div class="pull-right comment-user-photo"
                                                    style="background-image:url({{comm.author_picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});">
                                                </div>
                                              </div>
                                              <div class="col-11 text-left">
                                                    <div class="panel-body pull-left"
                                                        style="border:0px solid #fff;">
                                                        <h3 title="{{post.author_name}}"
                                                            class="comment-author"
                                                            style=""> 
                                                            {{comm.author_name}}
                                                            <span class="comment-timestamp">
                                                                -
                                                                {{comm.timestampFMT}}
                                                            </span>
                                                        </h3>
                                                        <p class="comment-description">
                                                             {{comm.description}}
                                                        </p>
                                                    </div>
                                                  
                                              </div>
                                          </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <!--AD-SPACE-->
                        <div class="col-lg-3 col-sm-12 col-md-12 d-none d-lg-block" >
                            <div class="section-sep" style="margin-top:30px;margin-bottom:10px">
                                <h3 style="font-size:19px;color:#E6540E;margin:0px;">Ad Space</h3>
                            </div>
                            
                            <div class="card"  style="padding:10px;border-radius:10px;box-shadow: 0px 2px 5px rgba(64, 8, 99, 0.05);">
                              <img class="card-img-top" src="<%WS_HOST%>/img/ad-ex.jpg" 
                                alt="Card image cap" 
                                style="border-radius:10px;"
                                />
                              <div class="card-body">
                                <h4 class="card-title" style="color:#5C0F8B;font-size:18px;">Company name</h4>
                                <p class="card-text" style="color:#828282;">
                                    Caption for Advertisement will go here
                                </p>
                                <button type="submit" 
                                    class="btn btn-modal-login text-center text-white btn-round ">
                                    CTA FOR AD HERE
                                </button>
                              </div>
                            </div>
                            
                            <div class="section-sep" style="margin-top:30px;margin-bottom:10px">
                                <h3 style="font-size:19px;color:#E6540E;margin:0px;">Ads Based on your interests</h3>
                            </div>
                            <div class="card"  style="padding:10px;border-radius:10px;box-shadow: 0px 2px 5px rgba(64, 8, 99, 0.05);">
                              <img class="card-img-top" src="<%WS_HOST%>/img/ad-ex.jpg" 
                                alt="Card image cap" 
                                style="border-radius:10px;"
                                />
                              <div class="card-body">
                                <h4 class="card-title" style="color:#5C0F8B;font-size:18px;">Company name</h4>
                                <p class="card-text" style="color:#828282;">
                                    Caption for Advertisement will go here
                                </p>
                                <button type="submit" 
                                    class="btn btn-modal-login text-center text-white btn-round ">
                                    CTA FOR AD HERE
                                </button>
                              </div>
                            </div>
                            
                            <div class=" text-center"
                                style="padding:10px;padding-bottom:5px;margin-top:15px;">
                                <p style="margin:0px">
                                    <img src="<%=WS_HOST%>/img/babado/Babado-Logo@2x 1.png" style="width:100px" />
                                    <br/>
                                    <span class="text-bold" style="color:#828282;">
                                    Babado Corporation &copy; 2021
                                    </span>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


