<div class="row rs-margin"
    ng-controller="x99Entity"
    ng-init="VerifyUser('', 'signin.html', false)">

    <div class="col-12 rs-padding d-lg-none d-sm-block d-md-block">
        <nav class="navbar navbar-expand-lg navbar-dark ng-scope fixed-top " 
            style="padding:15px;background:#fff;box-shadow:0px 0px 14px rgba(0,0,0,.3)"
            id="simple-navbar-<%=compobj.id%>-mobile">
        
            <a class="navbar-brand" href="index.html">
                <img src="<%=WS_HOST%>/img/babado/Babado-Logo@2x 1.png" />
            </a>

            <ul class="navbar-nav ">
                <li class="nav-item etx-nav-item nav-item-v2 ">
                    <a href="#" style="margin-right:9px;">
                        <img src="<%WS_HOST%>/img/babado/search.png"  width="25px"  style="margin-right:5px;margin-top:5px;" />
                    </a>
                    <a href="#" style="margin-right:9px;">
                        <img src="<%WS_HOST%>/img/babado/notfs.png" width="25px" style="margin-right:5px;margin-top:5px;" />
                    </a>
                    <a href="profile.html">
                        <!--<img src="<%WS_HOST%>/img/babado/settings.png" style="margin:5px;" />-->
                        <div class="pull-right "
                            style="height:30px;width:30px;background-size:cover;background-image:url({{UserProfile.picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin-right:9px;">
                        </div>
                    </a>
                </li>
            </ul>
        
        </nav>
    </div>
    
    <div class="col-12 rs-padding d-none d-lg-block d-sm-none">
        <nav class="navbar navbar-expand-lg navbar-dark ng-scope fixed-top" 
            style="padding:14px;background:#fff;box-shadow:0px 0px 14px rgba(0,0,0,.3)"
            id="simple-navbar-<%=compobj.id%>" 
            >
        
            <a class="navbar-brand" href="index.html">
                <img src="<%=WS_HOST%>/img/babado/Babado-Logo@2x 1.png" />
            </a>
                
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse navbar-right" >
            </div>
        
            <ul class="navbar-nav navbar-right">
                <li class="nav-item etx-nav-item nav-item-v2 pull-right">
                    <div class="dropdown">
                    <div class="pull-left "
                        style="height:40px;width:40px;background-size:cover;background-image:url({{UserProfile.picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin-right:0px;">
                    </div>
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span class="text-bold" ng-bind="'Hi, ' + UserProfile.name"></span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link cursor-pointer" style="color:#333;" href="profile.html" >My Profile</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link cursor-pointer" style="color:#333;" ng-click="logout()" role="menuitem" >Logout</a>
                        </li>
                      </ul>
                    </div>
                </li>
                <li class="nav-item etx-nav-item nav-item-v2 pull-right">
                    <img src="<%WS_HOST%>/img/babado/settings.png" style="margin:5px;" />
                </li>
                <li class="nav-item etx-nav-item nav-item-v2 pull-right">
                    <img src="<%WS_HOST%>/img/babado/search.png" style="margin:5px;" />
                </li>
                <li class="nav-item etx-nav-item nav-item-v2 pull-right">
                    <img src="<%WS_HOST%>/img/babado/notfs.png" style="margin:5px;" />
                </li>
            </ul>
        
        </nav>
    </div>
</div>