<div class="row rs-margin" style="margin-top:60px">
    <div class="col-12 rs-padding"
        style="background-image: url('<%=WS_HOST%>/img/babado/NW-Cover-Image-Default.jpg');height:400px;background-size:cover;background-repeat:no-repeat;background-position:center;">
    </div>
</div>

<div class="row rs-margin" ng-controller="x99Entity">
    <div class="col-12" style="">
        <div ng-init="VerifyUser('<%=compobj.id%>', 'signin.html')"></div>
    </div>

    <div class="col-12" style="min-height:400px;">
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist"
                style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-loading-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link active"
                        data-toggle="tab">
                        LOADING
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        FEED
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="etx-feed-loading-<%=compobj.id%>">
                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;">
                        <span class="fa fa-refresh text-warning fa-spin "></span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane  " id="etx-feed-<%=compobj.id%>">
                    <div class="row rs-margin">
                        
                        <!--MY-PROFILE-COLUMN-->
                        <div class="col-lg-3 col-sm-12 col-md-12">
                            <div class="panel ">
                                <div class="panel-heading text-center" style="padding-top:15px;padding-bottom:15px;">
                                    <div class="text-center "
                                        style="height:200px;width:200px;background-size:cover;background-image:url({{UserProfile.picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin:auto;">
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <h3 class="panel-title" style="">
                                        {{UserProfile.name}}
                                    </h3>
                                    <p style="color:#838896;" class="text-bold" >
                                        @hand
                                    </p>
                                    <p style="color:#838896;" class="text-bold" >
                                        <img src="<%=WS_HOST%>/img/babado/location.png" />
                                        {{UserProfile.region}}
                                    </p>
                                    <h4 style="color:#0D1529;" class="text-bold" >
                                        About {{UserProfile.name}}
                                    </h4>
                                    <p style="color:#2F282B;width:273px;">
                                        {{UserProfile.bio}}
                                    </p>
                                    <a class="btn btn-round btn-white " 
                                        href="profile-settings.html"
                                        style="color: #5C0F8B;margin-top:10px">
                                        <img src="<%=WS_HOST%>/img/edit.png" />
                                        Edit My Profile
                                    </a>
                                </div>
                            </div>
                            
                            <ul class="list-group" style="margin-top:20px">
                              <li class="list-group-item" 
                                style="border:0px;box-shadow: 0px 4px 8px rgba(140, 128, 148, 0.15);border-radius: 50px;padding:5px;padding-left:15px;">
                                <span class="pull-right" style="border:4px solid #350C4F;border-radius:190px;padding: 4px;padding-left: 7px;padding-right: 8px;padding-top:3px;">
                                    <span class="fa fa-envelope" style="color: #0EA3A3;"></span>
                                </span>
                                <p style="color:#0EA3A3;padding-top:5px;margin:0px;" class="text-bold">
                                    My Messages
                                </p>
                              </li>
                            </ul>
                        </div>
    
                        <!--FEED-SYSTEM-->
                        <div class="col-lg-6 col-sm-12 col-md-12 " ng-if="UserProfile" >
                            <div class=" post-publish-plugin" ng-init="streamProfile('<%=compobj.id%>', UserProfile.id)">
                                <div class="row rs-margin">
                                    <div class="col-1 text-center" >
                                        <div class=" "
                                            style="height:50px;width:50px;background-size:cover;background-image:url({{UserProfile.picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin-right:17px;">
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="panel-body pull-left">
                                            <form name="postForm" 
                                                ng-submit="publishPost(postForm, '<%=compobj.id%>')">

                                                <div class="form-group">
                                                    <input class="form-control new-post-area"
                                                        ng-disabled="publishing"
                                                        placeholder="Share something with your followers"
                                                        ng-required="!newPost.media||newPost.media.length==0"
                                                        ng-model="newPost.description" />
                                                    <!--<textarea class="form-control"-->
                                                    <!--    ng-disabled="publishing"-->
                                                    <!--    style="border-radius:40px;padding-top:15px"-->
                                                    <!--    placeholder="Share something with your followers"-->
                                                    <!--    ng-required="!newPost.media||newPost.media.length==0"-->
                                                    <!--    ng-model="newPost.description" rows="2"></textarea>-->
                                                </div>
        
                                                <button class="btn cursor-pointer">
                                                    <img src="<%WS_HOST%>/img/babado/calendar.png" style="margin:5px;" />
                                                </button> 
                                                <button class="btn btn-lighter btn-round cursor-pointer" 
                                                    ngf-pattern="'image/*'"
                                                    ng-disabled="publishing"
                                                    ngf-accept="'image/*'" ngf-max-size="3MB"
                                                    style="border-radius:40px"
                                                    ngf-select="uploadPostMedia('<%=compobj.id%>', $file)">
                                                    <img src="<%WS_HOST%>/img/share-photo.png" style="margin:5px;" /> Photo
                                                </button>
        
                                                <button class="btn btn-lighter btn-round cursor-pointer"
                                                    style="border-radius:40px">
                                                    <img src="<%WS_HOST%>/img/think.png" style="margin:5px;" /> 
                                                    Thought
                                                </button>                                  
                                                <button type="submit" 
                                                    class="btn btn-modal-login text-center text-white btn-round "
                                                    ng-disabled="publishing||uploading">
                                                    <span ng-if="!publishing">Share</span>
                                                    <span ng-if="publishing" class="fa fa-refresh fa-spin"></span>
                                                </button>
                                                
                                                <div class="row rs-margin"
                                                    style="padding:10px;background:#f4f4f4;"
                                                    ng-show="newPost.media.length>0"
                                                    >
                                                    <div class="col-4" ng-repeat="media in newPost.media"
                                                        style="background-image:url('{{media.download_url}}');height:150px;border-radius:10px;margin-right:5px;background-size: cover;background-position: center;">
                                                        <button class="btn btn-white btn-round text-bold"
                                                            type="button"
                                                            style="margin-top: 10px;box-shadow: 0px 0px 12px rgb(0 0 0);"
                                                            ng-click="removeMedia(media,$index)">
                                                            <span class="fa fa-times" style="color:#5C0F8B;"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cursor-pointer"
                                style="background-color:#fff;margin-bottom:10px;margin-top:15px;border-radius:4px;box-shadow:0px 0px 2px rgba(0,0,0,.3);padding:0px"
                                ng-repeat="post in streamPosts.list track by $index">

                                <div class="panel-body">
                                    <a href="view-profile.html?user_id={{post.author_id}}">
                                        <div class="pull-left "
                                            style="height:50px;width:50px;background-size:cover;background-image:url({{post.author_picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin-right:10px;margin-top:6px;margin-left:10px;">
                                        </div>
    
                                        <h3 title="{{post.author_name}}" 
                                            style="margin:0px;font-size:17px;margin-top:10px;color:#350C4F;"> 
                                            {{post.author_name}}
                                        </h3>
                                        <p title="{{post.Timestamp}}" 
                                            style="margin:0px;color:#838896;"> 
                                            {{post.timestampFMT}}
                                        </p>
                                    </a>
                                </div>
                        
                                <div class="post-content" style="padding-left:25px;padding-bottom:10px;padding-top:10px;">
                                    <p class="rs-margin">
                                        {{post.description}}
                                    </p>
                                </div>

                                <div class="row rs-margin post-image-area">
                                    <div ng-class="{'post-image-item rs-padding':true, 'col-12':post.images.length==1, 'col-6':post.images.length==2, 'col-4':post.images.length>=3}" 
                                        style="background-image:url('{{media.download_url}}');background-size:cover;background-repeat:no-repeat;"
                                        ng-repeat="media in post.images">
                                        <div class="post-image-container-sz"></div>
                                    </div>
                                </div>

                                
                                <p class="pull-left" style="margin-left:15px;"
                                    ng-show="post.totalReactions > 0">
                                    <img src="<%WS_HOST%>/img/react.png" style="margin:5px;" />
                                    <span style="padding-left:5px;padding-top:5px;" class="text-secondary">
                                        {{post.totalReactions}}
                                    </span>
                                </p>
                                
                                <p style="margin:0px;margin-right:5px" class="pull-right">
                                    <span ng-show="post.xcounters.opMap.comment_c>0"
                                        style="padding-right:5px"
                                        ng-click="loadComments('<%=compobj.id%>', post)"
                                        class="text-underlined">{{post.xcounters.opMap.comment_c}} comments</span>

                                    <span ng-show="post.xcounters.opMap.share_c>=0"
                                        style="padding-right:5px"
                                        class="text-underlined">{{post.xcounters.opMap.share_c}} shares</span>
                                </p>
                                
                                <div class="d-none d-lg-block d-md-block">
                                    <ul class="nav nav-pills btn-group-justified " 
                                        style="clear:both;padding:10px">
                                        <li role="presentation" class="nav-item dropdown ">
                                            <button role="menuitem" tabindex="-1" href="#"
                                                title="Like"
                                                ng-disabled="post.sending_reaction"
                                                ng-click="sendReaction('<%=compobj.id%>', post, 'like_c')"
                                                class="btn-lighter btn">
                                                <img src="<%WS_HOST%>/img/react.png" style="margin:5px;" />
                                                Like
                                            </button>
                                        </li>
                                        <li role="presentation" class="nav-item ">
                                            <button class="btn-lighter btn"
                                                ng-click="loadComments('<%=compobj.id%>', post)">
                                                <img src="<%WS_HOST%>/img/comment.png" style="margin:5px;" />
                                                Comments
                                            </button>
                                        </li>
                                        <li role="presentation" class="nav-item ">
                                            <a href="#" class="btn-lighter btn">
                                                <img src="<%WS_HOST%>/img/share.png" style="margin:5px;" />
                                                Share
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="post-comment-plugin" >
                                    <form name="commentForm"
                                        ng-submit="publishComment(commentForm, post, '<%=compobj.id%>')">
                                        <input type="text" class="form-control comment-post-area"
                                            required ng-model="post.newComment"
                                            ng-disabled="post.sending_comment"
                                            placeholder="Share a comment" />
                                    </form>
                                </div>
                                
                                <div class="post-comment-list" style="padding:0px">
                                    <h3 ng-show="post.loading_comments" class="text-center">
                                        <span class="fa fa-refresh text-warning fa-spin"></span>
                                    </h3>
                                    <h3 ng-show="post.comment_list.length==0" 
                                        ng-click="loadComments('<%=compobj.id%>', post)"
                                        class="text-center text-secondary no-comments">
                                        No comments
                                    </h3>
                                    <ul class="list-group"
                                        style="border-radius:0px;">
                                      <li class="list-group-item" ng-repeat="comm in post.comment_list"
                                        style="border:0px solid #fff;background:#f1efef;border-radius:0px;">
                                          <div class="row rs-margin text-left">
                                              <div class="col-1 rs-padding">
                                                <div class="pull-right "
                                                    style="height:50px;width:50px;background-size:cover;background-image:url({{comm.author_picture||'<%=WS_HOST%>/img/profile-pic.jpg'}});border-radius:240px;margin-right:0px;margin-top:6px;margin-left:10px;">
                                                </div>
                                              </div>
                                              <div class="col-11 text-left">
                                                    <div class="panel-body pull-left"
                                                        style="border:0px solid #fff;">
                                                        <h3 title="{{post.author_name}}" 
                                                            style="margin:0px;font-size:17px;margin-top:10px;color:#350C4F;"> 
                                                            {{comm.author_name}}
                                                            <span style="margin:0px;color:#838896;">
                                                                -
                                                                {{comm.timestampFMT}}
                                                            </span>
                                                        </h3>
                                                        <p>
                                                              {{comm.description}}
                                                        </p>
                                                    </div>
                                                  
                                              </div>
                                          </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--AD-SPACE-->
                        <div class="col-lg-3 col-sm-12 col-md-12" >

                            <div class="section-sep" style="margin-top:30px;margin-bottom:10px">
                                <h3 style="font-size:19px;color:#0EA3A3;;margin:0px;">Ads Based on your interests</h3>
                            </div>
                            <div class="card"  style="padding:10px;border-radius:10px;box-shadow: 0px 2px 5px rgba(64, 8, 99, 0.05);">
                              <img class="card-img-top" src="<%WS_HOST%>/img/babado/ad-01.jpg" 
                                alt="Card image cap" 
                                style="border-radius:10px;"
                                />
                              <div class="card-body">
                                <h4 class="card-title" style="color:#07122E;font-size:18px;">Company name</h4>
                                <p class="card-text" style="color:#828282;">
                                    Caption for Advertisement will go here
                                </p>
                                <button type="submit" 
                                    class="btn btn-modal-login text-center text-white btn-round ">
                                    CTA FOR AD HERE
                                </button>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


