body    {
   /*background-color: #f4f4f4; */
   background-color: #FBFBFB; 
   font-family: Poppins;
}



.text-shade-logo {
    color: #0c142e !important;
}

h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.user-profile-card {
    border-radius: 4px;
    /*box-shadow: 0px 0px 4px rgba(0,0,0,.3);*/
    padding:10px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(64, 8, 99, 0.05);
}

.post-publish-plugin {
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.3);
}

.btn-white {
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-lighter {
    height: 48px;
    left: 87.15%;
    right: 5%;
    top: 58.01%;
    bottom: 37.3%;
    background: #FBFBFB;
    color: #07122E;
    border-radius: 4px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight:bold;
    font-size: 17px;
}

.btn-modal-login,
.btn-standard {
    /*position: absolute;*/
    height: 48px;
    left: 87.15%;
    right: 5%;
    top: 58.01%;
    bottom: 37.3%;
    /*top: calc(50% - 48px/2);*/
    /* Gradient-Button */
    /*background: linear-gradient(130.17deg, #5C0F8B 26.46%, #E6540E 170.56%);*/
    background: linear-gradient(130.17deg, #07122E 26.46%, #20AEAE 170.56%);
    border-radius: 24px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight:bold;
    font-size: 17px;
}


.register-call {
    font-family: Poppins;
    font-size: 19px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0px;
    color: #0EA3A3;
}

.btn-uni-signup {
    border: 1px solid #07122E;
    color: #07122E;
    font-weight:bold;
}

/*MOBILE OPTIMIZATIONS*/

.signup-form {
    margin-top: 10px;padding-left:20px;padding-right:20px;margin-bottom:5px;
}

.social-call {
    background:#FBFBFB;
    padding:10px;
    padding-bottom:5px;
}

.copyright-info {
    padding:10px;padding-bottom:5px;margin-top:15px;   
}

.copyright-info p img {
    width:150px;
}

.login-container {
    padding:50px;padding-top:0px;
}

.section-header {
    padding: 50px;padding-bottom:10px;
}

.signup-form select {
    height: 60px;
    border-radius: 80px;
    font-size: 18px;
}

.signup-form input {
    border-radius: 80px;
    font-size: 20px;
    padding: 28px;
}

.signup-form .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-details {
    font-size:20px;color:#838896
}
.text-section-divider {
    font-size:20px;color:#0EA3A3;margin-top:20px;   
}
.mobile-publisher {
    display: none;
}
.post-instance {
    background-color:#fff;
    margin-bottom:10px;
    margin-top:15px;
    border-radius:4px;
    box-shadow:0px 0px 2px rgba(0,0,0,.3);
    padding:0px;
}
.post-picture {
    border-radius:240px;margin-right:10px;margin-top:6px;margin-left:10px;
    height:50px;width:50px;background-size:cover;
}
.post-link {
}
.post-author{
    margin:0px;font-size:17px;margin-top:10px;color:#350C4F;
}
.post-timeline {
    margin:0px;color:#838896;
}
.post-content {
 padding-left:25px;padding-bottom:10px;padding-top:10px;   
}
.comment-user-photo {
    border-radius:240px;margin-right:0px;margin-top:6px;margin-left:10px;
    height:50px;width:50px;background-size:cover;
}
.comment-author {
    margin:0px;font-size:17px;margin-top:10px;color:#350C4F;
}

.user-cover {
    height:400px;background-size:cover;background-repeat:no-repeat;background-position:center;
}

.user-profile-pic {
    height:200px;
    width:200px;
    background-size:cover;
    border-radius:240px;
    margin:auto;
    border: 2px solid #000;
}

.profile-pic-container {
    padding-top:15px;padding-bottom:15px;
}

.profile-cover-area {
    margin-top: 60px;
}

.profile-column {
    margin-top: -100px;
}
.dropdown-account {
    position: absolute !important;
}


@media only screen and (max-width: 500px) {
    .etx-container-section {
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-brand img {
        width: 100px;
    }
    
    button, .btn {
        font-size: x-small !important;
    }
    
    .text-destaque {
        font-size: small;
    }
    
    .register-call {
        font-size: 13px !important;
    }
    
    .login-form {
        margin-top: 10px !important;
    }
    .login-form input {
        margin-top: 10px !important;
        font-size: 12px !important;
        padding: 18px !important;
    }
    .social-call p span {
        font-size: x-small;
    }
    .social-call img {
        font-size: x-small;
        width: 13px;
    }
    
    .copyright-info p img {
        width: 80px;
    }
    .copyright-info p span {
        font-size: x-small;
    }
    .login-container {
        padding:20px;padding-top:0px;
    }
    
    .section-header {
        padding: 0px;
        padding-top: 10px;
        padding-left: 20px;
    }
    .signup-form input {
        border-radius: 80px;
        font-size: 13px;
        padding: 10px;
    }
    .signup-form select {
        font-size: 13px;
        border-radius: 80px;
    }
    .signup-form label {
        font-size: x-small;
    }
    .signup-form .form-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .email-invalid {
        font-size: small;
    }
    .text-welcome {
        font-size: medium;
    }
    .text-details {
        font-size: small;
    }
    .text-section-divider {
        font-size: medium;
        margin-top:10px;   
    }
    .new-post-area {
        font-size: small !important;
        padding: 10px;
    }
    .btn-lighter {
        font-size: small;
        height: 20px;
        padding: 0px;
        margin: 0px;
    }
    .mobile-publisher {
        display: block;
    }
    .lg-publisher {
        display: none;
    }
    .post-content p {
        max-width: 100%;
        overflow: hidden;
        font-size: small;
    }
    .post-picture {
        width: 30px;
        height: 30px;
    }
    .post-author {
        font-size: small;
        line-height: .9;
    }
    .post-timeline {
        font-size: x-small;
    }
    .comment-post-area {
        font-size: small !important;
    }
    .post-content {
        padding-top:10px;
        padding-bottom:0px;
    }
    .comment-user-photo {
        width: 25px;
        height: 25px;
    }
    .comment-timestamp {
        margin:0px;
        color:#838896;
    }
    .comment-author,
    .comment-description {
        font-size: small;
    }
    .post-comment-plugin {
        padding-top: 0px;
    }
    .comment-item {
        padding-bottom: 0px;
        padding-top: 5px;
    }
    .profile-details {
        text-align: center;
    }
    .profile-details h3 {
        font-size: medium;
    } 
    .profile-details h4 {
        font-size: small;
    } 
    .profile-details p {
        font-size: x-small;
    } 
    /*.post-instance {*/
    /*    padding-left: 40px;*/
    /*    padding-right: 40px;*/
    /*}*/
    .post-image-area {
        padding-bottom: 0px;
    }
    
    .user-profile-pic {
        width: 150px;
        height: 150px;
    }
    .my-messages-link {
        display: none;
    }
    .user-handler {
        display: none;
    }
    
    .navbar-logo {
        width: 90px !important;
    }
    
    .user-cover {
        height: 220px;
    }
    
    .alert-danger p {
        font-size: small;
    }
}

