<div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 cursor-pointer ecommerce-it-container ecommcer-promo-item">

    <div class=" ecommerce-item"
        ng-init="initProdTags('#promo-prod-tags-<%-item.id%>')"
        title="<%-item.label%> <%-item.price%> <%-item.currency%>">

        <div class="row rs-margin">
            <div class="col-6 rs-padding">
                <div class="media">
                    <div class="media-body">
                      <%= (item.old_price&&item.old_price>0) ? 
                        `<h4 class="card-title text-muted ecommerce-item-old-price  "
                            ng-click="openProductId('${item.id}', '${compobj.id}')">
                            <span class="time-label time-label-before">
                            Antes: 
                            </span>
                            <span class="item-price">
                                ${moneyFmt(item.old_price)}
                            </span>
                            <span class="item-currency">
                                ${item.currency}
                            </span>
                          </h4>

                          <h4 class="card-title text-danger ecommerc-item-price  "
                            ng-click="openProductId('${item.id}', '${compobj.id}')">
                            <span class="time-label time-label-now">
                            Agora
                            </span>
                            <span class="item-price">
                                ${moneyFmt(item.price)}
                            </span>
                            <span class="item-currency">
                                ${item.currency}
                            </span>
                          </h4>` 
                          :
                          `<h4 class="card-title text-danger ecommerc-item-price  "
                            ng-click="openProductId('${item.id}', '${compobj.id}')">
                            <span class="item-price">
                                ${moneyFmt(item.price)}
                            </span>
                            <span class="item-currency">
                                ${item.currency}
                            </span>
                          </h4>`
                      %>

                      <h4 class="ecommerce-item-title  " 
                        ng-click="openProductId('<%=item.id%>', '<%-compobj.id%>')">
                        <%= item.label %>
                      </h4>

                      <button class="btn bg-white text-bold btn-add-cart"
                        style="margin-top:5px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                        ng-click="addFromPG('#item_list_static_<%=compobj.id.slice(0,6)%>', '<%=item.id%>', '<%=compobj.fields[$PCF.webapp_id]%>', {currency:item.currency}, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                        >
                        <span class="fa fa-shopping-cart"></span>
                        ADICIONAR
                        <span style="color:#333;"
                          class="item-amount"
                          id="item-promo-amount-<%-item.id %>">
                        </span>
                      </button>
                    </div>
                </div>
            </div>
            
            <div class="col-6 rs-padding pull-left">
                <div style="height:100%;background:url('<%-item.image%>');background-size:cover;width:125px;"
                  ng-click="openProductId('<%=item.id%>', '<%-compobj.id%>')">
                  <%= 
                    (catObj.tags&&catObj.tags.length>0) ?
                    catObj.tags.map(function (I,idx){
                        return `
                          <p class="tag-item-${idx} tag-item ">
                            ${I.label}
                          </p>
                        `;
                    }).join("") : ''
                  %>
                </div>
            </div>
        </div>
    </div>

</div>
