<div class="textintro-area">
    <h1 class=" <%-compobj.fields[$PCF.comp_size] || 'text-center' %> textintro-title">
        <%- TR(compobj.fields[$PCF.descr_df]) %>
    </h1>

    <p class="textintro-description">
        <%- TR(compobj.fields[$PCF.comp_descr]) %>
    </p>

    <a class="btn etx-bg-primary text-white btn-textintro-go"
        ng-if="'<%- TR(compobj.fields[$PCF.readmore_link]) %>'"
        href="<%- TR(compobj.fields[$PCF.readmore_link]) %>">
        <%- TR(compobj.fields[$PCF.checkout_page]) || 'Saber Mais' %>
    </a>
</div>
