    <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
        ng-class="{'story-reaction-love':true, 'reaction-sent': post.act.love_c}"
        ng-click="sendReaction('${compobj.id}', post, 'love_c', $event)">
        <span class="fa fa-heart etx-text-white reaction-icon" style="font-size:28px"></span>
        <span class="text-bold etx-text-white reaction-count">
            {{post.xcounters.opMap.love_c}}
        </span>
    </span>
    <span style="margin-left:10px;font-size:19px;text-shadow:0px 0px 2px rgba(0,0,0,.3)"
        ng-class="{'story-reaction-view':true, 'reaction-sent': post.act.view_c}"
        >
        <span class="fa fa-eye etx-text-white reaction-icon" style="font-size:28px"></span>
        <span class="text-bold etx-text-white reaction-count">
            {{post.xcounters.opMap.view_c}}
        </span>
    </span>