<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity"
    id="video-watch-instance-<%=compobj.id%>"
    class="video-watch-instance"
    style="min-height:500px;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="display:none">
        <li role="presentation" class="nav-item">
            <a href="#home-loading-<%=compobj.id%>" 
                class="nav-link active"
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>

        <li role="presentation" class="nav-item">
            <a href="#video-studio-<%=compobj.id%>" 
                class="nav-link "
                aria-controls="home" role="tab" data-toggle="tab">Dashboard</a>
        </li>

        <li role="presentation" class="nav-item">
            <a href="#home-chat-<%=compobj.id%>" 
                class="nav-link "
                aria-controls="home" role="tab" data-toggle="tab">Chat</a>
        </li>

        <li role="presentation" class="nav-item">
            <a href="#home-feedback-<%=compobj.id%>" 
                class="nav-link "
                aria-controls="home" role="tab" data-toggle="tab">Feedback</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-loading-<%=compobj.id%>"
                style="">
            <div class="text-center"
                style="padding-top:100px;padding-bottom:100px;"
                ng-init="initVideoStudio('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>',  '<%= compobj.fields[$PCF.title_df]%>' )">
                <h3 class="rs-margin">
                    <span class="fa fa-refresh fa-spin text-warning"></span>
                </h3>
                <h3 class="text-secondary rs-margin" >
                    HOLD ON
                </h3>
            </div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="video-studio-<%=compobj.id%>"
                style="background-color:#f4f4f4;">

            <div class="row rs-margin">
                <div class="col-12 rs-padding vstm-video-area">
                    <h3 class="text-white pull-right"
                        style="font-size:18px;opacity:.5;padding-right:20px;padding-top:10px;">
                        <span class="fa fa-lock text-success"></span>
                        Encrypted
                        <!-- <br/> -->
                        <!-- <span style="font-size:15px;" class="text-underlined">Learn more</span> -->
                    </h3>
                    <div style="padding:10px;padding-left:20px;">
                        <h3 class="text-white">
                            {{videoConfObj.Title}}
                        </h3>
                        <h3>
                            {{videoConfObj.CreatedAt}}
                        </h3>
                    </div>

                    <div ng-if="videoConfObj" class="vstm-video-container">
                        <center>
                              <!-- <h3>mp4_url: </h3> -->
                              <video id="my-video-<%=compobj.id%>"
                                class="video-js vjs-theme-city"
                                controls
                                preload="auto"
                                muted="true"
                                height="550px;"
                                poster="{{videoConfObj.Cover}}"
                              >
                                <source src="{{videoConfObj.download_url.mp4_url[0]}}" type="video/mp4" />
                                <p class="vjs-no-js">
                                  To view this video please enable JavaScript, and consider upgrading to a
                                  web browser that
                                  <a href="https://videojs.com/html5-video-support/" 
                                     target="_blank"
                                    >supports HTML5 video</a
                                  >
                                </p>
                              </video>
                        </center>
                    </div>
                </div>

                <div class="col-12 rs-padding">
                    <!--
                    <button style="margin:0px;color:#333;" class="bg-warning btn  "
                        ng-click="initVideoStudio('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>',  '<%= compobj.fields[$PCF.title_df]%>' )">
                        <span class="fa fa-refresh"></span>
                        REFRESH
                    </button>
                    -->
                </div>
            </div>

        </div>  

        <div role="tabpanel" class="tab-pane" id="home-feedback-<%=compobj.id%>">
            <h3>
            Feedback
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-chat-<%=compobj.id%>">
            <h3>
            Chat
            </h3>
        </div>  

    </div>

</div>