<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>

https://docs.videojs.com/tutorial-player-workflows.html#jquery
-->
<div role="tabpanel" ng-controller="x99Entity">

    <ul class="nav nav-tabs" role="tablist" 
        style="display:none">
        <li role="presentation" class="nav-item">
            <a href="#home-loading-<%=compobj.id%>" 
                class="nav-link active"
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#home-dashboard-<%=compobj.id%>" 
                class="nav-link "
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-loading-<%=compobj.id%>">
            <div class="text-center loading-instance" style="padding-top:50px;">
                <h3 style="font-size:70px">
                    <span class="fa fa-refresh fa-spin text-warning"></span>
                </h3>
                <h3 class="text-white">
                    LOADING
                </h3>
            </div>

            <div ng-init="loadVideos('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')"></div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-dashboard-<%=compobj.id%>">
<!--             <div class="row rs-margin">
                <div class="col-12 rs-padding">
                    <form ng-submit="" style="padding:0px;">
                        <div class="input-group input-group-lg" style=""
                            ng-init="initVideoSearch('<%=compobj.id%>')">
                          <span class="input-group-addon bg-warning">
                            <span class="fa fa-search" style="padding:10px;padding-left:15px;padding-right:25px;"></span>
                          </span>
                          <input type="text" style="font-size:22px;border-radius:0px;" 
                            class="form-control" placeholder="Pesquisar" 
                            aria-describedby="basic-addon1"
                            ng-model="search_video_q"
                          />
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="margin-bottom:20px">
                <div id="top-indexer-<%=compobj.id%>"></div>
            </div>

            <div class="row rs-margin etx-video-watcher" 
                style="">
                <div class="col-12 video-header d-none d-sm-block d-xs-block etx-bg-danger" 
                    style="padding-top:10px;padding-bottom:10px;">
                    <!--
                    <a style="margin-top:0px;color:#333;" class="bg-warning btn btn-round text-
                    bold btn-sm pull-right">
                        <span class="fa fa-play"></span>
                        Assistir
                    </a>
                    -->
                    <h4 class="text-bold text-white etx-video-title" style="margin:0px;">{{main_Video.Title}}</h4>
                </div>

                <div class="col-12 video-obj-container rs-padding">
                    <!-- <h3>mp4_url: </h3> -->
                    <video id="my-video-<%=compobj.id%>"
                        class="video-js vjs-theme-city"
                        controls
                        style="max-width:100%;width:100%;"
                        preload="auto"
                    >
                        <p class="vjs-no-js text-white">
                          To view this video please enable JavaScript, and consider upgrading to a
                          web browser that
                          <a href="https://videojs.com/html5-video-support/" 
                             target="_blank"
                            >supports HTML5 video</a
                          >
                        </p>
                    </video>

                    <p class="text-secondary etx-video-description">{{main_Video.Description}}</p>
                </div>
            </div>
            
            <div class="row rs-margin vide-preview-list" ng-if="video_list.Count>0"
                    >
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 reset-opacity video-preview-item rs-padding" 
                    ng-repeat="video in video_list.Items"
                    ng-click="openMainVideo('<%=compobj.id%>',video)"
                    style="background-image:url('{{video.mainOut.xCover}}');color:#fff;border:1px solid #000;background-size:cover;">
                    <div style="height:300px;background:rgba(0,0,0,.4);"
                        class="reset-opacity cursor-pointer">
                        <h3 style="font-size:17px;margin:0px;" 
                            class="text-white video-item-title ">
                            {{video.Title|uppercase}}   
                        </h3>
                        <p style="margin:0px;" class="video-item-duration">
                            <strong class="text-danger">{{video.duration}}</strong>
                        </p>
                        <!--
                        <button style="margin:0px;" class="bg-danger text-white btn btn-sm pull-right">
                            <span class="fa fa-eye"></span>
                            {{video.Reactions.view_c}}
                        </button>
                        <p style="margin:0px;">
                            <strong class="text-white">{{video.Tags}}</strong>
                        </p>-->
                    </div>
                    <!--
                    <p>
                        {{video.CreatedAt}}
                    </p>
                    <p>
                        {{video.CreatedByName}}
                    </p>
                    -->
                </div>
            </div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-feedback-<%=compobj.id%>">
            <h3>
            Feedback
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-chat-<%=compobj.id%>">
            <h3>
            Chat
            </h3>
        </div>  

    </div>



</div>