<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity">

    <ul class="nav nav-tabs" role="tablist" 
        style="display:none">
        <li role="presentation" class="nav-item">
            <a href="#home-loading-<%=compobj.id%>" 
                class="nav-link active"
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#home-dashboard-<%=compobj.id%>" 
                class="nav-link "
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-loading-<%=compobj.id%>">
            <div class="text-center loading-instance" style="padding-top:50px;">
                <h3 style="font-size:70px">
                    <span class="fa fa-refresh fa-spin text-warning"></span>
                </h3>
                <h3 class="text-white">
                    LOADING
                </h3>
            </div>

            <div ng-init="loadVideos('<%=compobj.id%>', '<%= compobj.fields[$PCF.descr_df]%>', '<%= compobj.fields[$PCF.title_df]%>')"></div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-dashboard-<%=compobj.id%>">
            <div class="row rs-margin">
                <div class="col-12 rs-padding">
                    <form ng-submit="" style="padding:0px;">
                        <div class="input-group input-group-lg" style=""
                            ng-init="initVideoSearch('<%=compobj.id%>')">
                          <span class="input-group-addon bg-warning">
                            <span class="fa fa-search" style="padding:10px;padding-left:15px;padding-right:25px;"></span>
                          </span>
                          <input type="text" style="font-size:22px;border-radius:0px;" 
                            class="form-control" placeholder="Pesquisar" 
                            aria-describedby="basic-addon1"
                            ng-model="search_video_q"
                          />
                        </div>
                    </form>
                </div>
            </div>

            <div class="row rs-margin" style="min-height:300px;background-color:#000;"
                ng-if="main_Video">
                <div class="col-12">
                    <div id="top-indexer-<%=compobj.id%>"></div>
                </div>
                <div class="col-lg-7 col-md-6 col-xs-12  rs-padding">
                    <!-- <h3>mp4_url: </h3> -->
                    <video id="my-video-<%=compobj.id%>"
                        class="video-js vjs-theme-city"
                        controls
                        style="max-width:100%;width:100%;"
                        preload="auto"
                        muted="true"
                        poster="{{main_Video.mainOut.xCoverx}}"
                    >
                        <!-- <source src="{{main_Video.mainOut.xDownload.mp4_url[0]}}" type="video/mp4" /> -->
                        <p class="vjs-no-js text-white">
                          To view this video please enable JavaScript, and consider upgrading to a
                          web browser that
                          <a href="https://videojs.com/html5-video-support/" 
                             target="_blank"
                            >supports HTML5 video</a
                          >
                        </p>
                    </video>
                </div>
                <div class="col-lg-5 col-md-6 col-xs-12  " style="padding:15px;padding-bottom:0px;">
                    <h1 class="text-white">{{main_Video.Title}}</h1>
                    <!-- <h3 class="text-secondary">{{main_Video.Description}}</h3> -->
                    <p class="">
                        <span class="badge bg-primary text-white"
                            ng-repeat="tg in main_Video.Tags.list">
                                {{tg.label}}
                        </span>
                    </p>

                    <h3 class="text-secondary">
                        Duration: {{main_Video.mainOut.xDuration}}
                    </h3>
                    <h3 class="text-secondary">
                        CreatedAt: {{main_Video.CreatedAt}}
                    </h3>
                    <h3 class="text-secondary">
                        CreatedBy: {{main_Video.CreatedBy}}
                    </h3>

                    <div class="vlive-reactions">
                        <h3 class="text-center etx-text-white" 
                            ng-if="is_streamming"
                            style="padding:4px;font-size:18px;border-radius:4px;margin:0px;display:inline">
                            <span class="fa fa-circle etx-text-danger"></span>
                            LIVE
                        </h3>
                        <button class="btn btn-sm text-bold btn-reaction">
                            <span class='fa fa-eye etx-text-warning'></span>
                            <span class="etx-text-white">
                                0
                            </span>
                        </button>
                        <button class="btn btn-sm text-bold btn-reaction reaction-like">
                            <span class="fa fa-thumbs-up text-primary"></span>
                            <span class="etx-text-white">
                                0
                            </span>
                        </button>
                        <button class="btn btn-sm btn-round text-bold btn-reaction reaction-sad">
                            <span class="fa fa-thumbs-down text-primary"></span>
                            <span class="etx-text-white">
                                0
                            </span>
                        </button>
                        <button class="btn btn-sm btn-round text-bold btn-reaction reaction-love">
                            <span class="fa fa-heart text-danger"></span>
                            <span class="text-white">
                                0
                            </span>
                        </button>
                        <p ng-if="reaction_err" class="etx-text-secondary">{{reaction_err}}</p>
                    </div>

                    <a style="margin-top:10px;" class="bg-warning btn btn-round text-bold btn-lg">
                        <span class="fa fa-play"></span>
                        Assistir Mais
                    </a>
                </div>
            </div>
            
            <div class="row rs-margin vide-preview-list" ng-if="video_list.Count>0"
                    >
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 reset-opacity video-preview-item rs-padding" 
                    ng-repeat="video in video_list.Items"
                    ng-click="openMainVideo('<%=compobj.id%>',video)"
                    style="background-image:url('{{video.mainOut.xCoverx}}');color:#fff;border:1px solid #000;background-size:cover;">
                    <div style="height:300px;background:rgba(0,0,0,.4);"
                        class="reset-opacity cursor-pointer">
                        <!-- {{video.mainOut}} -->
                        <button style="margin:0px;" class="bg-danger text-white btn btn-sm pull-right">
                            <span class="fa fa-eye"></span>
                            {{video.Reactions.view_c}}
                        </button>
                        <h3 style="font-size:17px;margin:0px;" class="text-white">
                            {{video.Title|uppercase}}   
                        </h3>
                        <p style="margin:0px;">
                            <strong class="text-danger">{{video.duration}}</strong>
                        </p>
<!--                         <p style="margin:0px;">
                            <strong class="text-white">{{video.Tags}}</strong>
                        </p>
 -->                        <p style="margin:0px;padding-top:30px;padding-bottom:40px;font-size:65px;"
                            class="text-center text-warning"
                            title="{{video.Title}} "
                            >
                            <!--<span class="fa fa-play"></span>-->
                        </p>
                    </div>
                    <!--
                    <p>
                        {{video.CreatedAt}}
                    </p>
                    <p>
                        {{video.CreatedByName}}
                    </p>
                    -->
                </div>
            </div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-feedback-<%=compobj.id%>">
            <h3>
            Feedback
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-chat-<%=compobj.id%>">
            <h3>
            Chat
            </h3>
        </div>  

    </div>



</div>