<!--
CHANNEL_NAME=<%= compobj.fields[$PCF.descr_df]%>
CHANNEL_TIMESTAMP=<%= compobj.fields[$PCF.title_df]%>
-->
<div role="tabpanel" ng-controller="x99Entity">

    <ul class="nav nav-tabs" role="tablist" 
        style="display:none">
        <li role="presentation" class="nav-item">
            <a href="#home-loading-<%=compobj.id%>" 
                class="nav-link active"
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#home-dashboard-<%=compobj.id%>" 
                class="nav-link "
                aria-controls="home" role="tab" data-toggle="tab">Loading</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home-loading-<%=compobj.id%>">
            <div class="text-center loading-instance" style="padding-top:50px;">
                <h3 style="font-size:70px">
                    <span class="fa fa-refresh fa-spin text-warning"></span>
                </h3>
                <h3 class="text-white">
                    LOADING
                </h3>
            </div>

            <div ng-init="loadVideoSearch('<%=compobj.id%>')"></div>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-dashboard-<%=compobj.id%>">
            <div class="row rs-margin" style="background-color:#fff;">
                <div class="col-12 rs-padding">
                    <form ng-submit="inlineSearch('<%=compobj.id%>', search_video_q)" style="padding:0px;">
                        <div class="input-group input-group-lg" style="padding:0px;">
                          <span class="input-group-addon bg-warning">
                            <span class="fa fa-search" style="padding:10px;padding-left:15px;padding-right:25px;"></span>
                          </span>
                          <input type="text" style="font-size:22px;" 
                            class="form-control" placeholder="Pesquisar" 
                            aria-describedby="basic-addon1"
                            ng-model="search_video_q"
                          />
                        </div>
                    </form>
                </div>

                <div class="col-12 rs-padding">
                    <div class="">
                        <h3 class="text-secondary" ng-if="search_results.response.numFound>0">{{search_results.response.numFound}} resultados encontrados para {{current_serch_term}}</h3>
                        <p class="text-secondary" ng-if="search_results.response.numFound==0">
                            Sem resultados para resultados encontrados para {{current_serch_term}}
                        </p>
                        <!-- <ul></ul> -->
                        <!-- search_results -->

                        <ul class="list-group">
                          <li class="list-group-item cursor-pointer" ng-repeat="doc in search_results.response.docs"
                            style="padding:0px;">
                            <div class="row rs-margin">
                                <div class="col-12 rs-padding text-left">
                                    <div class="video-image pull-left"
                                        style="background-image:url({{doc.cover}});height:150px;width:250px;margin-right:10px;background-size:contain;background-repeat:no-repeat;">
                                    </div>
                                    <div class="video-descr text-left">
                                        <h3 class="rs-margin">{{doc.title}}</h3>
                                        <p class="text-secondary rs-margin">{{doc.description}}</p>
                                        <!-- <h3>{{doc.tags}}</h3> -->
                                        <p class="rs-margin" style="margin-top:0px;">
                                            <a class="badge bg-primary text-white"
                                                style="font-size:17px;margin:5px;"
                                                ng-repeat="tg in doc.tags">
                                                {{tg.split("#")[1]}}
                                            </a>
                                        </p>

                                        <a style="margintop:0px;" class="bg-warning btn btn-round text-bold btn-sm">
                                            <span class="fa fa-play"></span>
                                            Assistir Mais
                                        </a>
                                    </div>
                                </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="home-feedback-<%=compobj.id%>">
            <h3>
            Feedback
            </h3>
        </div>  

        <div role="tabpanel" class="tab-pane" id="home-chat-<%=compobj.id%>">
            <h3>
            Chat
            </h3>
        </div>  

    </div>



</div>