                <div class="col-lg-5 col-md-6 col-xs-12 d-none d-lg-block  " style="padding:15px;padding-bottom:0px;">
                    <!-- <h1 class="text-white">{{main_Video.Title}}</h1> -->
                    <p class="">
                        <a class="badge bg-primary text-white"
                            href="gm-search.html?category_id={{tg.id}}&category_label={{encodeURI(tg.label)}}"
                            style="font-size:20px;margin:5px;"
                            ng-repeat="tg in main_Video.Tags.list">
                                {{tg.label}}
                        </a>
                    </p>

                    <div class="video-descr">
                        <h3 class="text-secondary">
                            Duration: {{main_Video.mainOut.xDuration}}
                        </h3>
                        <h3 class="text-secondary">
                            CreatedAt: {{main_Video.CreatedAt}}
                        </h3>
                        <h3 class="text-secondary">
                            CreatedBy: {{main_Video.CreatedBy}}
                        </h3>

                        <div class="vlive-reactions">
                            <h3 class="text-center etx-text-white" 
                                ng-if="is_streamming"
                                style="padding:4px;font-size:18px;border-radius:4px;margin:0px;display:inline">
                                <span class="fa fa-circle etx-text-danger"></span>
                                LIVE
                            </h3>
                            <button class="btn btn-sm text-bold btn-reaction">
                                <span class='fa fa-eye etx-text-warning'></span>
                                <span class="etx-text-white">
                                    0
                                </span>
                            </button>
                            <button class="btn btn-sm text-bold btn-reaction reaction-like">
                                <span class="fa fa-thumbs-up text-primary"></span>
                                <span class="etx-text-white">
                                    0
                                </span>
                            </button>
                            <button class="btn btn-sm btn-round text-bold btn-reaction reaction-sad">
                                <span class="fa fa-thumbs-down text-primary"></span>
                                <span class="etx-text-white">
                                    0
                                </span>
                            </button>
                            <button class="btn btn-sm btn-round text-bold btn-reaction reaction-love">
                                <span class="fa fa-heart text-danger"></span>
                                <span class="text-white">
                                    0
                                </span>
                            </button>
                            <p ng-if="reaction_err" class="etx-text-secondary">{{reaction_err}}</p>
                        </div>

                        <a style="margin-top:10px;" class="bg-warning btn btn-round text-bold btn-lg">
                            <span class="fa fa-play"></span>
                            Assistir Mais
                        </a>
                    </div>
                </div>
