<div class="card h-100">
    <a href="<%=compobj.fields[$PCF.readmore_link]%>">
        <img class="card-img-top" height="280px" 
            src="<%=compobj.fields[$PCF.image]%>" alt="" 
        />
    </a>
    
    <div class="card-body">
        <h4 class="card-title">
            <a href="<%=compobj.fields[$PCF.readmore_link]%>">
                <%-compobj.fields[$PCF.title_df]%>
            </a>
        </h4>
 
        <p class="card-text">
            <%-compobj.fields[$PCF.descr_df]%>
        </p>
 
        <p class="text-bold" style="font-weight:bold;text-align:right">
            <span class="text-secondary text-bold">
                <%- compobj.fields[$PCF.amount] %>
                <%- compobj.fields[$PCF.currency] %>
            </span>
        </p>

        <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" 
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" 
                style="width: <%=$EXT.percent_progress%>%">
                <strong><%-$EXT.percent_progress%>%</strong>
            </div>
        </div>

        <button class="btn btn-block btn-primary" style="margin-top:10px;">
            Contribute
        </button>
    </div>
</div>
    