<div class="container <%-compobj.fields[$PCF.comp_size] %>" style="margin-top: 0px;">
    <div class="row">
        <div class="col-md-8 mb-5 text-center">
            <center>
                <img class="" 
                    style="padding-top:15px;" 
                    width="<%-compobj.fields[$PCF.img_w]||'250'%>px" 
                    height="<%-compobj.fields[$PCF.img_h]||'250'%>px" 
                    src="<%= compobj.fields[$PCF.image] %>" 
                    title="<%-compobj.fields[$PCF.comp_descr]%>"
                    alt="<%-compobj.fields[$PCF.comp_descr]%>"
                />
            </center>
        </div>

        <div class="col-md-4 mb-5">
            <div style="">
                <!-- <h3>Contacto</h3> -->
                <p style="margin-bottom:2px;">
                    <strong><%-compobj.fields[$PCF.comp_descr]%></strong>
                    <br/>
                    <span class="fa fa-map-marker"></span>
                    <%-compobj.fields[$PCF.hq]%>
                </p>

                <p>
                    <div>
                        <abbr title="Telefone">
                            <strong></strong>
                        </abbr>

                        <p ng-if="'<%-compobj.fields[$PCF.phone_1]%>'"
                             style="margin:0px;"
                                ng-repeat="phone in '<%-compobj.fields[$PCF.phone_1]%>'.split(',') track by $index">
                            <span class="fa fa-mobile"></span>

                            <a href="tel:+{{phone}}"
                                style="display"
                                ng-bind="phone">
                            </a>
                        </p>
                    </div>

                    <div>
                        <abbr>
                            <span class="fa fa-envelope"></span>
                            <strong></strong>
                        </abbr>
                        <a href="mailto:<%-compobj.fields[$PCF.email_1]%>">
                            <%-compobj.fields[$PCF.email_1]%>
                        </a>
                    </div>

                    <div ng-if="'<%-compobj.fields[$PCF.fb_link]%>'">
                        <abbr>
                            <span class="fa fa-facebook"></span>
                            <strong></strong>
                        </abbr>
                        <a href="<%-compobj.fields[$PCF.fb_link]%>"
                            target="__blank">
                            facebook
                        </a>
                    </div>

                    <div ng-if="'<%-compobj.fields[$PCF.tw_link]%>'">
                        <abbr>
                            <span class="fa fa-twitter"></span>
                            <strong></strong>
                        </abbr>
                        <a href="<%-compobj.fields[$PCF.tw_link]%>"
                            target="__blank">
                            twitter
                        </a>
                        <br/> 
                    </div>

                    <div ng-if="'<%-compobj.fields[$PCF.insta_link]%>'">
                        <abbr>
                            <span class="fa fa-instagram"></span>
                            <strong></strong>
                        </abbr>
                        <a href="<%-compobj.fields[$PCF.insta_link]%>"
                            target="__blank">
                            instagram
                        </a>
                        <br/>
                    </div>

                    <div ng-if="'<%-compobj.fields[$PCF.youtube_link]%>'">
                        <abbr>
                            <span class="fa fa-youtube"></span>
                            <strong></strong>
                        </abbr>

                        <a href="<%-compobj.fields[$PCF.youtube_link]%>"
                            target="__blank">
                            <!-- youtube.com/<%-webapp.fields[$WAF.title_df]%> -->
                            youtube
                        </a>
                    </div>
                </p>

                <p>
                    <abbr title="Hours">Opening hours</abbr>:
                    <br />
                    <%-compobj.fields[$PCF.op_hours]%>
                </p>
            </div>

            <a class="btn btn-lg btn-success btn-block" 
                href="tel:{{'<%-compobj.fields[$PCF.phone_1]%>'.split(',')[0]}}">
                <span class="fa fa-phone"></span> 
                <strong>Call now!</strong>
            </a>
        </div>
    </div>
</div>
