<div class="row rs-margin card-group card-group-2"
    ng-controller="x99BannerCar">
    <div class="col-6" data-idx="1">
        <div class="card "
            style="margin-top:15px;background-color: #fff">

            <img class="card-img-top" 
                src="<%=compobj.confObj.items.c1.image%>" 
                alt="" 
            />

            <div class="card-body">
                <h4 class="card-title">
                    <a href="<%-compobj.confObj.items.c1.link%>">
                        <%-compobj.confObj.items.c1.title%>
                    </a>
                </h4>
                <p class="card-text">
                    <%-compobj.confObj.items.c1.description%>
                </p>
            </div>

            <div class="card-footer "
                style="background-color: #fff;border-top:0px;"
                ng-show="'<%-compobj.confObj.items.c1.link%>'">
                <a href="<%-compobj.confObj.items.c1.link%>" 
                        class="btn btn-primary btn-learnmore-card btn-block">
                    Saber Mais
                </a>
            </div>    
        </div>
    </div>

    <div class="col-6" data-idx="2">
        <div class="card "
            style="margin-top:15px;background-color: #fff">

            <img class="card-img-top" 
                src="<%=compobj.confObj.items.c2.image%>" 
                alt="" 
            />

            <div class="card-body">
                <h4 class="card-title">
                    <a href="<%-compobj.confObj.items.c2.link%>">
                        <%-compobj.confObj.items.c2.title%>
                    </a>
                </h4>
                <p class="card-text">
                    <%-compobj.confObj.items.c2.description%>
                </p>
            </div>

            <div class="card-footer "
                style="background-color: #fff;border-top:0px;"
                ng-show="'<%-compobj.confObj.items.c2.link%>'">
                <a href="<%-compobj.confObj.items.c2.link%>" 
                        class="btn btn-primary btn-learnmore-card btn-block">
                    Saber Mais
                </a>
            </div>    
        </div>
    </div>

</div>

