<div class=" agenda-card "
    style="background-color: #fff">

    <div class="img-container" 
        style="background-image:url('<%=compobj.confObj.items.c1.image%>')">
    </div>

    <div class="card-body">
        <p class="card-text card-category">
            <%-compobj.confObj.items.c1.category %>
        </p>
        <h4 class="card-title">
            <a href="<%-compobj.confObj.items.c1.link%>">
                <%-compobj.confObj.items.c1.title%>
            </a>
        </h4>

        <p class="card-description">
            <%-compobj.confObj.items.c1.description%>
        </p>

        <p class="card-date">
            <%-compobj.confObj.items.c1.date%>
        </p>

        <p class="card-price">
            <%-compobj.confObj.items.c1.price%>
        </p>

        <%= compobj.confObj.items.c1.link ?
            `
                <div class=" "
                    style="border-top:0px;">
                    <a href="${compobj.confObj.items.c1.link}" 
                            class="btn btn-primary btn-learnmore-card ">
                        ${compobj.confObj.items.c1.btn||'Saber Mais'}
                    </a>
                </div>
            ` : ''
        %>
    </div>
</div>
