<div class="tab-pane fade tab-not-auth "
    id="entity-affiliate-program-<%-compobj.id%>"
    style="padding:0px;padding-top:50px;"
    role="tabpanel">

    <div class="text-center">
        <h3 class="text-center text-bold ">
            <span class="fa fa-trophy text-danger"
                style="font-size:175px;opacity:.5;"></span>
            <br/>
            BEM - VINDO
        </h3>
        <p class="text-secondary text-center"
            style="max-width:400px;font-size:20px;margin:auto;margin-bottom:50px;">
            Ao ser um afiliado ganha incentivos, pontos,
            ativos digitais, collectibles e pr&ecirc;mios por todas as transacoes
            intermediadas pelo seu c&oacute;digo de referencia.
            <strong>(referral code)</strong>

            <a class="text-bold btn btn-round etx-bg-danger text-white btn-block" 
                href="afiliado.html"
                style="margin-top:10px;margin-bottom:10px;">
                <!-- <span class="fa fa-chevron-right pull-right"></span> -->
                COME&Ccedil;AR
            </a>
        </p>

        <div style="padding-bottom:50px;padding-top:10px;border-top:2px solid #ccc;">
            <a href="https://enterstarts.com" 
                target="__blank">
                <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                    class="text-center"
                    style="width:220px;" 
                />
                <p class="text-bold text-muted" style="padding:0px;margin:0px;font-size:20px;">
                    Fintech Cloud
                </p>
            </a>
        </div>
    </div>
</div>