<div class="row rs-margin"
    style="">

    <!-- PAYMENT_CONF: <%= compobj.fields[$PCF.payment_conf] %> -->
    <!-- PAYMENT_CONF: <%= compobj.payment_conf_obj %> -->

    <div class="col-md-12 rs-padding" style="">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist"
            style="display:none">
            <li role="presentation" class="nav-item">
                <a href="#cart-loading" aria-controls="cart-loading" 
                    role="tab" data-toggle="tab"
                    class="nav-link active ">
                    Loading cart
                </a>
            </li>

            <li role="presentation" class="nav-item">
                <a href="#cart-home-details" aria-controls="cart-home-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Carrinho
                </a>
            </li>

            <li role="presentation" >
                <a href="#user-details" 
                    aria-controls="user-details" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    User Details
                </a>
            </li>

            <li role="presentation" >
                <a href="#reserve-success" 
                    aria-controls="reserve-success" 
                    role="tab" data-toggle="tab"
                    class="nav-link">
                    Reserve success
                </a>
            </li>
            <li role="presentation" >
                <a href="#cart-go-payment" 
                    aria-controls="cart-go-payment" 
                    role="tab" data-toggle="tab"
                    class="nav-link ">
                    Reserve payment
                </a>
            </li>
        </ul>

          <div class="row rs-margin">
            <div class="col-sm-12 col-md-12 col-lg-8 rs-padding" style="background-color:#f4f4f4;">
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade "
                        id="cart-go-payment">
                            <!-- <h3>MAKE CART PAYMENT</h3> -->
                        <div class="card-body text-center" style="padding-top:15px;"
                            ng-if="loading_billing">
                            <span class="fa fa-refresh fa-spin text-warning" 
                                style="font-size:55px;margin-top:15px;"></span>

                            <h4 class="card-title" style="font-weight:bold;">
                                Processando...
                            </h4>
                        </div>

                        <div class="card-body text-center" style="padding-top:15px;"
                            ng-if="billing_success">
                            <span class="fa fa-check text-success" 
                                style="font-size:55px;margin-top:15px;"></span>

                            <h4 class="card-title" style="font-weight:bold;">
                                Pronto para pagamento
                            </h4>
                        </div>

                        <div class="alert alert-danger" 
                            id="error-area-a3e98b847c0648e8"
                            style="padding-top:15px;border-radius:0px;"
                            ng-if="billing_error">
                            <h3 style="color:#333;">Nao foi possivel concluir a opera&ccedil;&atilde;o.</h3>
                            <p ng-repeat="e in billing_error">{{e}}</p>
                        </div>

                        <form ng-submit="saveCartBilling(billingForm, 'CART_BILLING','<%= compobj.fields[$PCF.descr_df]%>', '<%=compobj.id%>')"
                            method="get"
                            style="padding:15px"
                            ng-if="!currentBillingtx.id"
                            name="billingForm">

                            <!--
                            <div class="alert alert-info">
                                <h3>Pagamento do carrinho {{cartBillingObj.contextId}}</h3>
                                Todas as faturas, recibos e pagamentos pendentes
                                podem ser encontradas na aba "MEUS PAGAMENTOS" no menu acima.
                                <h3>
                                    compobj.payment_conf_obj
                                    <%=JSON.stringify(compobj.payment_conf_obj)%>
                                </h3> 
                            </div>
                            -->

                            <div class="form-group">
                                <h3 style="margin:0px;">Pagamento do carrinho {{cartBillingObj.cart_id}}</h3>
                                <p style="margin:0px;" 
                                    class="text-secondary">Compra efetuada em {{cartBillingObj.dateFmt}}</p>
                                
                                <h3 style="font-size:24px;color:#666;padding:10px;padding-left:10px;margin-top:15px;margin-bottom:15px;"
                                    class="xb-grad">
                                    <span style="color:#333">
                                    Pago Por:
                                    </span>
                                    <br/>
                                    <span class="fa fa-user"></span>
                                    &nbsp;<strong>{{cartBillingObj.name}}, {{cartBillingObj.surname}}</strong>
                                    <br/>
                                    
                                    <span class="fa fa-envelope"></span>
                                    &nbsp;<strong>{{cartBillingObj.email}}</strong>
                                    <br/>
                                    
                                    <span class="fa fa-phone"></span>
                                    &nbsp;<strong>{{cartBillingObj.phone}}</strong>
                                    <br/>
                                </h3>

                                <%=
                                compobj.payment_conf_obj.list&&compobj.payment_conf_obj.list.length>1 ?
                                    `
                                        <label for="exampleInputEmail1" class="text-center text-bold">
                                            Escolha o M&eacute;todo de pagamento
                                        </label>
                                    ` :
                                    ''
                                %>

                                <%=
                                compobj.payment_conf_obj.list&&compobj.payment_conf_obj.list.length>0 ?
                                    `<span ng-init="setPaymentTYPE({id:'${compobj.payment_conf_obj.list[0].id}', type:'${compobj.payment_conf_obj.list[0].account_type}'})"></span>` :
                                    ''
                                %>

                                <ul class="list-group">
                                    <%=
                                        compobj.payment_conf_obj && compobj.payment_conf_obj.list
                                        ? compobj.payment_conf_obj.list
                                        .map(function (EL){
                                            var payment_method=EL.account_type;
                                            if (EL.account_type=='PAYPAL') {
                                                payment_method=`<img src="https://publica.enterstarts.com/img/paypal-logo.png" class="contact-payment-options" width="100" height="" style="margin-bottom:20px;">

                                                    <p class="text-secondary">
                                                        O seu pagamento vai ser processado por PAYPAL.
                                                    </p>
                                                `;

                                            } else {
                                                payment_method=`<img src="https://publica.enterstarts.com/img/etx-payments-2.png" class="contact-payment-options" width="200" height="" style="margin-bottom:20px;">

                                                <p class="text-secondary">
                                                    O seu pagamento vai ser processado por
                                                    SISP - Sociedade Interbancaria de Sistemas de Pagamentos S.A.
                                                    <br/>
                                                    <a href="https://www.sisp.cv" target="__blank">
                                                    SISP.CV
                                                    </a>
                                                </p>
                                                `;
                                            }

                                            return `<li 
                                                ng-class="{'list-group-item etx-payment-option cursor-pointer': true, 'active':cartBillingObj.merchant_id=='${EL.id}'}" 
                                                ng-click="setPaymentTYPE({id:'${EL.id}', type:'${EL.account_type}'})">
                                                <h4 class="etx-payment-type">${EL.description}</h4>
                                                <p style="margin:0px;">${payment_method}</p>
                                            </li>`
                                        }) : ''
                                    %>                                    
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <strong>NIF</strong> (opcional)
                                </label>
                                <input type="text" class="form-control" 
                                    placeholder="1232"
                                    ng-model="cartBillingObj.nif"
                                />
                            </div>

                            <div class="form-group payment-referral-code">
                                <label for="exampleInputEmail1">
                                    referral_code (opcional)
                                </label>
                                <input type="text" class="form-control" 
                                    placeholder="abc-982"
                                    ng-model="cartBillingObj.referral_code"
                                />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-bold">
                                    OBSERVAÇÃO
                                </label>
                                <textarea class="form-control" 
                                    placeholder="Aa"
                                    required
                                    rows="5"
                                    ng-model="cartBillingObj.description"
                                ></textarea>
                            </div>

                            <button type="submit" class="btn btn-success btn-round text-bold btn-lg "
                                ng-disabled="loading_billing&&!billing_error">
                                CONTINUAR 
                                <span class="fa fa-arrow-right"></span>
                            </button>
                        </form>

                        <div class="row rs-margin" ng-if="currentBillingtx.id"  >
                            <div class="col-12 rs-padding"
                                ng-if="frame_is_loading">
                                <div class="alert alert-success text-center" 
                                    style="margin-bottom:0px;">
                                    <h4 style="margin:0px;">
                                        <span class="fa-spin fa fa-refresh"></span>
                                        <span style="color:#333">
                                            AGUARDE
                                        </span>
                                    </h4>

                                    <p style="margin:0px">
                                        Se n&atilde;o abrir uma janela abaixo,
                                        <br/>
                                        <a href="{{currentBillingtx.embeed_payment_link}}">clique aqui para efetuar o pagamento</a>
                                    </p>
                                </div>
                            </div>

                            <!-- src="http://127.0.0.1:9000/billings/764d99d80c49468d/for-client-embeed" -->
                            <!-- ng-src="currentBillingtx.embeed_payment_link" -->

                            <div class="col-12 rs-padding" id="iframe_payment_index" >
                                <!--
                                <iframe 
                                    id="iframe_payment"
                                    style="border:0px;"
                                    height="800px" width="100%"></iframe>
                                -->
                            </div>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane fade show active"
                        ng-init="loadCart()"
                        id="cart-loading">

                        <div class="row">
                            <div class="col-12">
                              <h3 class="text-center" style="margin-top:25px;">
                                  <span class="fa fa-refresh fa-spin etx-text-warning"
                                      style="font-size:25px;">
                                  </span>
                                  <br/>
                                  <span class="etx-text-secondary"
                                      style="font-size:17px;">
                                      AGUARDE
                                  </span>
                              </h3>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade " 
                        id="cart-home-details"
                        ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">
                        <center ng-if="!has_items">
                            <h3 style="padding-top:20px;margin:0px;"
                                class="text-center">
                                <span class="fa fa-shopping-cart"></span>
                                <span ng-bind="'Oops, carrinho vazio.'"></span>
                            </h3>
                            <p class="text-muted text-center">
                                <span ng-bind="'O seu carrinho esta vazio.'"></span>
                                <br/>
                                <span ng-bind="'Visite a nossa loja para adicionar tudo que precisa.'"></span>
                            </p>
                            <a class="btn etx-bg-danger btn-round text-center text-bold"
                                href="index.html">
                                <span class="fa fa-home"></span>
                                <span ng-bind="'Leve me ao inicio'"></span>
                            </a>
                        </center>

                        <div class="ecommerce-cart-buy-container" 
                            style="">

                            <form novalidate style="margin:0px;">
                                <div class="row" ng-if="has_items">
                                    <div class="col-12">
                                        <div class="input-group" style="display:none;margin:0px;">
                                            <input type="text" 
                                                class="form-control" 
                                                placeholder="Filtrar" 
                                                ng-model="filter_prods"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div style="padding:10px;margin-top:20px;">
                                <button class="btn text-bold bg-secondary btn-go-cart-details btn-round text-white btn pull-right"
                                    ng-disabled="loading_cart"
                                    ng-click="toUserDetails()"
                                    ng-if="has_items"
                                    style="width:200px;"
                                    type="button">
                                    Continuar
                                    <span class="fa fa-arrow-right"></span>
                                </button>

                                <button class="btn text-bold bg-white btn-clear-cleart btn-round text-danger btn "
                                    ng-disabled="loading_cart"
                                    ng-if="has_items"
                                    ng-click="clearCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                    type="button">
                                    Limpar
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>

                            <h3 style="font-size:19px;color:#666;margin:0px;"
                                ng-if="has_items">
                                Confirme os itens e clique em <strong style="color:#000;" class="text-primary cursor-pointer text-underlined"
                                ng-click="toUserDetails()"
                                >continuar</strong>
                                para finalizar a sua compra.
                            </h3>

                            <ul class="list-group" style="padding:10px">
                                <li class="list-group-item cursor-pointer"
                                    style="border-radius:0px;margin-bottom:15px;"
                                    ng-repeat="item in cartObj.item_list|filter: filter_prods">

                                    <img ng-src="{{item.image}}" 
                                        class="pull-left"
                                        style="display:inline"
                                        width="90px" 
                                    />

                                    <h3 style="margin:0px;font-size:19px;display:inline;padding-left:10px;">
                                        <a href="" class="text-bold">
                                            {{item.label}}
                                        </a>
                                        <br/>
                                        <span>
                                            <span >
                                                {{item.price | currency:''}}
                                                {{item.currency }}
                                            </span>
                                        </span>
                                        <span ng-if="item.last_purchase_price>0"
                                            style="font-size:12px;">
                                            {{item.last_purchase_price | currency:''}}
                                            {{item.currency }}
                                        </span>
                                        <span class="etx-text-muted"
                                            style="font-size:14px;">
                                            ({{item.id.slice(0, 6)+"..."}})
                                        </span>
                                    </h3>

                                    <button class="btn btn-danger btn-sm pull-right text-bold btn-round"
                                        ng-click="removeFromCartList(item, $index)">
                                        <span ng-if="!rm_state[item.id]">
                                            REMOVER
                                        </span>
                                        <span ng-if="rm_state[item.id]=='DONE_ERROR'">
                                            TENTE NOVAMENTE
                                        </span>
                                        <span ng-if="rm_state[item.id]=='LOADING'">
                                            AGUARDE
                                        </span>
                                    </button>
                                    <h3 style="margin:0px;text-align:left;">
                                        <p style="margin:0px;padding:5px;background-color:#f4f4f4;font-size:24px;display:inline-block;max-width:140px;border-radius:0px"
                                            class="form-control">
                                            {{item.amount}}
                                            <strong class="pull-right">
                                              {{item.unit}}
                                            </strong>
                                        </p>
                                        <button class="btn btn-secondary btn-round text-bold"
                                            ng-click="openCartSuper('<%=compobj.fields[$PCF.webapp_id]%>', item)">
                                            EDITAR
                                        </button>
                                    </h3>

                                </li>
                            </ul>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="user-details">
                        <div class="row rs-margin">
                            <div class="col-12" style="margin-top:10px;">
                                <div class="form-group"
                                    ng-if="loading_cart_request_error">
                                    <div class="alert alert-danger text-center"
                                        style="border-radius:0px;">
                                        <h3 style="margin:0px;color:#333">
                                            Não foi possivel concluir a operação.
                                        </h3>
                                        <p ng-repeat="e in loading_cart_request_error"
                                            style="margin:0px">
                                            {{e}}
                                        </p>
                                        <hr/>
                                        <p style="margin:0px;margin-top:4px"
                                            class="text-bold">
                                            Por favor, entre em contacto connosco:<br/>
                                            <a href="mailto:info@enterstarts.com">
                                                info@enterstarts.com
                                            </a><br/>
                                            <a href="tel:+2385850606">
                                                (+238)5850606
                                            </a>,
                                            <a href="tel:+2385995330">
                                                (+238)5995330
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"
                                ng-init="loadUserCart()">


                                <form name="reserveCustForm" 
                                    id="reserveCustForm"
                                    ng-submit="saveCartRequest(reserveCustForm, 
                                    '<%=compobj.id%>', '<%=compobj.fields[$PCF.user_id]%>', '<%=$INV.price%>')">
    
                                    <button class="btn etx-bg-secondary text-bold btn-round etx-text-white btn-cart-back "
                                        ng-disabled="loading_cart_request"
                                        ng-click="backToCartList('<%=compobj.id%>')"
                                        type="button">
                                        <span class="fa fa-arrow-left"></span>
                                        Voltar
                                    </button>

                                    <h3 style="font-size:20px;color:#666;padding:10px;padding-left:0px;clear:both">
                                    Preencha o formulário e ja está
                                    </h3>

                                    <h3 style="font-size:24px;color:#666;padding:10px;padding-left:0px;"
                                        class="xb-grad"
                                        ng-if="showCartResume">
                                        <span style="color:#333">
                                        A ordem de:
                                        </span>
                                        <br/>
                                        <span class="fa fa-user"></span>
                                        &nbsp;<strong>{{reqObj.name}}, {{reqObj.surname}}</strong>
                                        <br/>
                                        
                                        <span class="fa fa-envelope"></span>
                                        &nbsp;<strong>{{reqObj.email}}</strong>
                                        <br/>
                                        
                                        <span class="fa fa-phone"></span>
                                        &nbsp;<strong>{{reqObj.phone}}</strong>
                                        <br/>
                                    </h3>
                                    <a class="btn cursor-pointer btn-sm btn-round bg-primary text-white text-bold" 
                                        style="margin-bottom:15px;"
                                        ng-if="showCartResume"
                                        ng-click="enableEditCart()">
                                        <span class="fa fa-edit"></span>
                                        Editar
                                    </a>

                                    <div class="form-group affiliate-code-field" >
                                        <label class="cart-label">Referral Code</label>
                                        <input type="text" ng-model="reqObj.referral_code" 
                                            class="form-control cart-input" />
                                    </div>

                                    <div ng-if="!showCartResume||hideReserveForm">
                                        <div class="form-group">
                                            <label class="cart-label">Nome *</label>
                                            <input type="text" ng-model="reqObj.name" 
                                                required
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Sobrenome *</label>
                                            <input type="text" ng-model="reqObj.surname" 
                                                required
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Email *</label>
                                            <input type="email" ng-model="reqObj.email"
                                                required 
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Numero de Telefone *</label>
                                            <input type="text" ng-model="reqObj.phone" 
                                                required
                                                class="form-control cart-input cart-phone" />
                                        </div>

                                    </div>

                                    <%=
                                        compobj.payment_conf_obj && compobj.payment_conf_obj.list
                                        && compobj.payment_conf_obj.list.length > 0 ?
                                        `
                                            <div class="form-group etx-payment-method">
                                                <h3>
                                                    <span class="fa fa-card"></span>
                                                    Como deseja pagar ?
                                                    <!-- <span class="etx-text-danger">(*)</span> -->
                                                </h3>
                                                <div class="btn-group btn-group-primary" role="group" aria-label="...">
                                                  <button type="button" 
                                                    ng-class="{'btn etx-bg-primary text-white delivery-pay-toggle': true, 'active': payment_method=='DELIVERY_PAYMENT'}"
                                                    ng-click="setPaymentMethod('DELIVERY_PAYMENT')">
                                                    <span class="fa fa-home"></span>
                                                    Na entrega
                                                    </button>
                                                  <button type="button" 
                                                    ng-class="{'btn etx-bg-primary text-white online-pay-toggle': true, 'active': payment_method=='ONLINE_PAYMENT'}"
                                                    ng-click="setPaymentMethod('ONLINE_PAYMENT')">
                                                    <span class="fa fa-bank"></span>
                                                    Online
                                                    </button>
                                                </div>
                                            </div>
                                        ` :
                                        ''
                                    %>

                                    <div class="form-group etx-delivery-method">
                                        <h3>
                                            <span class="fa fa-truck"></span>
                                            Entrega
                                        </h3>
                                        <div class="btn-group btn-group-primary" role="group" aria-label="...">
                                          <button type="button" 
                                            ng-class="{'btn etx-bg-primary text-white': true,
                                                       'active': delivery_method=='HOME_DELIVERY'}"
                                            ng-click="setDeliveryOption('HOME_DELIVERY')">
                                            <span class="fa fa-home"></span>
                                            Em Casa
                                            </button>
                                          <button type="button" 
                                            ng-class="{'btn etx-bg-primary text-white': true,
                                                       'active': delivery_method=='STORE_TAKEOUT'}"
                                            ng-click="setDeliveryOption('STORE_TAKEOUT')">
                                            <span class="fa fa-bank"></span>
                                            Levantamento na loja
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                        ng-if="delivery_method=='HOME_DELIVERY'">
                                        <label class="cart-label">Morada</label>
                                        <select class="form-control"
                                            ng-change="locUpdated()"
                                            required
                                            ng-model="XS.delivery_loc">
                                            <option ng-value="o"
                                                ng-repeat="o in loc_list">
                                                {{o.label}}
                                            </option>
                                        </select>
                                        <h4 class="text-muted" 
                                            ng-if="XS.delivery_loc&&XS.delivery_loc.price>0">Taxa de entrega: 
                                            <span style="color:#333">
                                                {{XS.delivery_loc.price|currency:''}}
                                            </span> CVE</h4>
                                        <h4 class="text-success" 
                                            ng-if="XS.delivery_loc&&XS.delivery_loc.price==0">
                                            Entrega
                                            Gratuita
                                        </h4>
                                    </div>

                                    <div class="form-group"
                                        ng-if="delivery_method=='STORE_TAKEOUT'">
                                        <div class="well">
                                            <%= promRes&&promRes.cart_conf?
                                             promRes.cart_conf.takeout_address : '' %>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="cart-label">Observações</label>
                                        <textarea class="form-control cart-textarea" 
                                            ng-model="reqObj.msg"
                                            rows="3"></textarea>
                                    </div>

                                    <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-req-proforma "
                                        ng-disabled="loading_cart_request"
                                        ng-click="reqPROFORMA('<%=compobj.id%>')"
                                        type="button">
                                        <!-- <span class="fa fa-arrow-left"></span> -->
                                        PROFORMA
                                    </button>

                                    <button class="btn btn-lg bg-success text-white btn-round pull-right text-bold"
                                        ng-disabled="loading_cart_request"
                                        type="submit">
                                        <span ng-if="loading_cart_request"
                                            class="fa fa-refresh fa-spin"></span>
                                        <span ng-if="!loading_cart_request">
                                            Finalizar
                                        </span>
                                        <span ng-if="loading_cart_request">
                                            Aguarde
                                        </span>
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="preparing-cart">
                        <div class="row">
                            <div class="col-12 text-center" style="min-height:250px;">
                                <div ng-if="loading_cart"
                                    style="padding-top:80px;">
                                    <h3>
                                      <span class="fa fa-refresh text-warning fa-spin"
                                        style="font-size:27px;"></span>
                                      <br/>
                                      Preparando o carinho
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="cart-loading-error">
                        <div class="row">
                            <div class="col-12 text-center"
                                ng-if="loadingCartErrors"
                                style="padding:20px">
                                <div class="alert alert-danger"
                                    style="border-radius:0px;"
                                    ng-if="creatingCartErrors">
                                    <h3 class="etx-text-danger">
                                        Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                    </h3>
                                    <p style="margin:0px;color:#333"
                                        class="text-bold"
                                        ng-bind="e.toUpperCase()"
                                        ng-repeat="e in loadingCartErrors">
                                    </p>
                                </div>                                                    
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" 
                        id="reserve-success">

                        <div class="text-center"
                            style="padding-top:20px;">
                            <span class="fa fa-check text-success"
                                style="font-size:76px;"></span>
                            <h2 style="color:#333;margin:0px;">
                                Muito obrigado
                            </h2>

                            <h3 style="color:#555;margin:0px;font-size:20px;padding-top:0px !important;">
                                A sua compra foi efectuada com sucesso.
                            </h3>

                            <h3 style="color:#666;margin:0px;">
                                <small>
                                    Um email foi enviado para 
                                    <strong>{{user_email}}.</strong>
                                    <br/>
                                    Verifique tamb&eacute;m que o email
                                    n&atilde;o foi para o <strong>spam.</strong>
                                </small>
                            </h3>

                            <p class="text-muted"
                                style="color:#333;"
                                ng-if="cartReady">
                                <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch" class="text-bold"
                                        target="__blank">
                                    Acompanhe este carrinho
                                    neste link.
                                </a>
                            </p>

                            <div ng-if="payment_method=='DELIVERY_PAYMENT'"
                                class="alert alert-warning alert-delivery-payment">
                                <h2 style="color:#333;margin:0px;"
                                    class="etx-payment-title">
                                    Pagamento na Entrega
                                </h2>
                                <h3 style="color:#555;margin:0px;">
                                    <small>
                                        O pagamento ser&aacute; efectuado na entrega como
                                        pediu,<br/> tenha o seu cart&atilde;o pronto.
                                    </small>
                                </h3>
                            </div>

                            <div ng-if="payment_method=='ONLINE_PAYMENT'"
                                class="alert alert-warning alert-online-payment">
                                <h2 style="color:#333;margin:0px;"
                                    class="etx-payment-title">
                                    Pagamento online.
                                </h2>
                                <h3 style="color:#555;margin:0px;"
                                    ng-if="payment_method=='ONLINE_PAYMENT'">
                                    <small>
                                        Iremos verificar o seu carrinho e enviaremos o link para efectuar o pagamento online. Prometemos n&atilde;o demorar.<br/>
                                        Tambem pode consultar
                                        <span class="text-underlined text-bold text-primary cursor-pointer" ng-click="openMyPayments('<%=compobj.id%>')">os seus pagamentos</span>.
                                    </small>
                                </h3>

                              <button class="btn btn-warning text-bold btn-round"
                                    style="color:#333;"
                                    ng-click="PaymentAfterCardIsCreated('<%=compobj.id%>')">
                                    <span class="fa fa-credit-card"></span>
                                    Efectuar pagamento
                              </button>
                            </div>

                        </div>

                        <div class="row rs-margin mt-30 mb-30">
                            <div class="col-12 text-center"
                                ng-if="review_mode=='init'">
                                  <h2 class="avaliation-begin-title">
                                    Como foi a sua experi&ecirc;ncia?
                                  </h2>
                                  <span ng-click="setRating(1)"
                                      ng-mousehover="setRating(1)" 
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating==0,
                                                   'text-primary': reviewObj.rating>=1}"></span>
                                  <span ng-click="setRating(2)"
                                          ng-hover="setRating(2)"
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=1,
                                                   'text-primary': reviewObj.rating>=2}"></span>
                                  <span ng-click="setRating(3)" 
                                      ng-hover="setRating(4)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=2,
                                                   'text-primary': reviewObj.rating>=3}"></span>
                                  <span ng-click="setRating(4)"
                                        ng-hover="setRating(4)"
                                        ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=3,
                                                   'text-primary': reviewObj.rating>=4}"></span>
                                  <span ng-click="setRating(5)"
                                      ng-hover="setRating(5)"
                                      ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                   'text-secondary': reviewObj.rating<=4,
                                                   'text-primary': reviewObj.rating>=5}"></span>
                                  <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                      class="rating-text text-secondary">
                                  </h4>

                                  <button class="btn btn-success text-bold btn-round"
                                        ng-click="beginReview()">
                                        <span class="fa fa-check"></span>
                                        Continuar
                                  </button>
                            </div>

                            <div class="col-12"
                                ng-if="review_mode=='begin'">
                                <form name="reviewForm" 
                                    ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>')">

                                    <div class="alert alert-warning text-center" 
                                        ng-if="loading_review_req">
                                        <i class="fa fa-refresh fa-spin"></i>
                                        Processando
                                    </div>

                                    <div class="alert alert-danger text-center" ng-if="review_error">
                                        <i class="fa fa-times"></i>
                                        <h4>A sua solicitação não pode ser processada.</h4>
                                        Verifique todos os campos.
                                    </div>

                                    <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                        <i class="fa fa-check" style="font-size:50px;" ></i>
                                        <br/>
                                        <h3>
                                            Muito obrigado pela sua avaliação.
                                        </h3>
                                    </div>

                                    <div ng-if="!is_done">
                                        <h3 class="text-center"
                                            class="avaliation-begin">
                                            Nos de o seu feedback
                                        </h3>

                                        <div class="xxmodal-header xb-grad">
                                          <div class="pull-right">
                                            <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                class="rating-text text-right"
                                                style="font-size: 16px;color:#333;">
                                            </h4>

                                            <span ng-click="setRating(1)"
                                                ng-mousehover="setRating(1)" 
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating==0,
                                                             'text-primary': reviewObj.rating>=1}"></span>
                                            <span ng-click="setRating(2)"
                                                    ng-hover="setRating(2)"
                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=1,
                                                             'text-primary': reviewObj.rating>=2}"></span>
                                            <span ng-click="setRating(3)" 
                                                ng-hover="setRating(4)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=2,
                                                             'text-primary': reviewObj.rating>=3}"></span>
                                            <span ng-click="setRating(4)"
                                                  ng-hover="setRating(4)"
                                                  ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=3,
                                                             'text-primary': reviewObj.rating>=4}"></span>
                                            <span ng-click="setRating(5)"
                                                ng-hover="setRating(5)"
                                                ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                             'text-secondary': reviewObj.rating<=4,
                                                             'text-primary': reviewObj.rating>=5}"></span>
                                          </div>

                                          <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                                            Commentando como
                                          </p>
                                          <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                                              <span class="fa fa-user text-success"></span>
                                              <strong>{{reviewObj.user_name}}</strong>
                                              <span class="text-muted" style="font-size:15px;">
                                                {{reviewObj.user_email}}
                                              </span>
                                          </h4>
                                        </div>
                                        <div class="control-group form-group"
                                          style="">
                                            <div class="controls">
                                                <textarea rows="4" cols="100" class="form-control" 
                                                    required maxlength="200" 
                                                    style="resize:none;border-radius:0px;"
                                                    placeholder="Aa"
                                                    ng-model="reviewObj.user_msg"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" 
                                            class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                            ng-disabled="loading_review_req">
                                            <span class="fa fa-send"></span>
                                            Enviar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 shopping-cart-details-right"
                style="padding-top:20px;">

                <div id="user-account-details text-center"
                    ng-if="userAccount">

                    <center>
                        <!--
                        <p class="your-account-info text-bold">
                            <span class="fa fa-lock text-bold text-success"></span>
                            <span class="" style="color:#ccc;"> 
                                Secure
                            </span>
                        </p>
                        <img src="<%=WS_HOST%>/img/ghost_person_100x100_v1.png"
                            width="60px"
                            class=""
                            style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                        />

                        <h3 class="account-name etx-user-name text-center" style="margin:0px!important;padding:0px!important;">
                            <span ng-bind="userAccount.name.toUpperCase()"></span>
                            <span class="badge bg-success text-white hidden"
                                id="account-verified"
                                ng-if="userAccount.state=='CONFIRMED'">
                                <span class="fa fa-check"></span>
                            </span>
                        </h3>

                        <h3 style="margin:0px!important;margin-bottom:10px;padding:0px!important;"></h3>

                        <h3 style="margin:0px;font-size:15px;margin:0px!important;padding:0px!important;" class="text-center etx-user-email">
                            <small class="text-muted"
                                ng-bind="userAccount.email.toUpperCase()"
                                style="font-size:18px;">
                            </small>
                        </h3>

                        <h3 class="account-name etx-user-phone text-center" style="margin:0px!important;padding:0px!important;">
                            <span ng-bind="userAccount.phone"></span>
                        </h3>
                        <h3 class="account-name etx-user-state text-center">
                            <span ng-bind="userAccount.state"></span>
                        </h3>
                        -->
                        
                        <div class="button-separator"></div>
                        <hr/>

                        <a class="btn btn-primary btn-round text-center text-bold btn-account-myaccount"
                            href="my-account.html"
                            >
                            MINHA CONTA
                        </a>
                        <button class="btn btn-warning btn-round text-bold btn-account-logout"
                            ng-click="logout()"
                            style="opacity:.6;">
                            LOGOUT
                        </button>

                    </center>


                    <hr/>
                </div>


                <div class="etx-vinti4-payment" style="margin-bottom:10px;">
                    <center >
                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                            class="text-center"
                            style="width:40px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                            class="text-center"
                            style="width:52px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                            class="text-center"
                            style="width:61px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                            class="text-center"
                            style="width:69px;" 
                        />
                    </center>
                </div>
                <div class="etx-paypal-payment" style="margin-bottom:10px;">
                    <center >
                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                            class="text-center"
                            style="width:40px;margin-right:10px;" 
                        />
                    </center>
                </div>
                <div class="etx-custom-payment" style="margin-bottom:10px;">
                    <center >
                        <img src=""
                            class="text-center etx-custom-method-1"
                            style="margin-right:10px;" 
                        />
                    </center>
                    <center >
                        <img src=""
                            class="text-center etx-custom-method-2"
                            style="margin-right:10px;" 
                        />
                    </center>
                </div>

                <table class="table">
                    <tr>
                        <td class="text-left">
                            Subtotal
                        </td>
                        <td class="text-right">
                            <span ng-bind="$filter('currency')(cartObj.subtotal,'')"
                                class="text-bold">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            Descontos
                        </td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <h3 style="margin:0px;">
                                <span>
                                    Produtos
                                </span>
                            </h3>
                        </td>
                        <td class="text-right" colspan="2">
                            <h3 style="margin:0px;">
                                <span class="text-secondary text-bold"
                                    ng-bind="cartObj.count_products">
                                </span>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <h3>
                                Total
                            </h3>
                        </td>
                        <td class="text-right">
                            <h3>
                                <span class="etx-text-secondary text-bold"
                                    ng-bind="$filter('currency')(cartObj.total, '')">
                                </span>
                            </h3>
                        </td>
                    </tr>
                </table>

                <p class="text-muted">
                    Ao comprar na nossa loja,
                    concorda com os nossos
                    <a href="<%= compobj.confObj.service_terms_url %>">termos de servi&ccedil;o.</a>
                </p>

                <div class="cursor-pointer" 
                    style="padding-top:80px;padding-bottom:10px;">
                    <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                        Verificado &amp; Protegido por
                    </p>
                    <a href="https://enterstarts.com" 
                        target="__blank">
                        <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                            class="text-center"
                            style="width:220px;" 
                        />
                    </a>
                </div>
            </div>
          </div>
    </div>
</div>
