<style>
body {
    font-family: Helvetica;
}
.app-footer {
    display: none;
}

.login-page {
}

.login-box-body{
    /*width: 360px;*/
    /* no need for this shit anymore
    margin: 8% 31%;
    */
    padding: 15px;
    background-color: #fff;
}

.input-group {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 20px;
}

.input-group input {
    font-size: 18px;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.input-group input:focus {
    border-color: transparent;    
}

.input-group .input-group-addon {
    border-radius: 20px;
    color: #fff;
    border-color: #333;
}

.input-group .input-group-addon span.fa {
    font-size: 20px;
}

body {
    height:100%;
    background-color: #f4f4f4;
}

.login-box-body {
    border-radius:0px;
    /* border: 2px solid #ddd; */
    /* border-left: 2px solid rgba(0,0,0,.3);
    border-right: 2px solid rgba(0,0,0,.3); */
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    border-radius: 5px;
}

.signup-link {
    font-weight: bold;
    /* text-decoration: underline; */
}

.text-copy {
    color: #666;
}

.text-light {
    color: #c4c1c1 !important;
}
/* #430b68 */
/* #230637 */
</style>


<div class="container" ng-controller="AccountController">
    <div class="row">
        <div class="col-md-12">
            <div style="margin-top: -60px;">
                <div class="login-box" style="max-width:500px;margin:auto;">
                    <div class="login-box-body">
                        <center>
                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="!resolving && !error && !success"
                                style="font-size:19px;color:#333;margin-top:15px;margin-bottom:15px;">
                                Introduza seu email para o link de redefinição.
                            </h3>

                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="error"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                <span class="fa fa-times text-danger"
                                    style="font-size:70px;"></span>
                                <br/>
                                <p class="text-muted" 
                                    ng-repeat="msg in msg">
                                    {{msg}}
                                </p>
                            </h3>

                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="resolving"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                <span class="fa fa-refresh fa-spin text-success"
                                    style="font-size:70px;"></span>
                            </h3>

                            <div class="text-center"
                                ng-if="success">
                                <span class="fa fa-envelope text-warning" 
                                    style="font-size:80px;margin-top:15px;">
                                </span>
                                <h3 class="text-center text-bold form-section-title" style="color:#721c24">
                                    O link foi gerado e enviado.<br/>
                                </h3>
                                <h3 class="text-center text-bold form-section-title" style="color:#333">
                                    <small>
                                        Um link de redefinição foi enviado para o 
                                        <strong>{{askReq.email}}</strong>. 
                                        Abra sua caixa de entrada para continuar. 
                                    </small>
                                </h3>
                            </div>
                        </center>

                        <!-- /.login-logo -->
                        <form name="loginForm" ng-submit="AskForPasswordReset(loginForm)"
                            autocomplete="off"
                            ng-if="!success"
                            style="margin-top:25px;clear:both">

                            <div>
                                <div class="alert alert-danger" role="alert" ng-if="emailRequired">
                                    <span ng-bind="'Email Invalido.'"></span>
                                </div>
                            </div> 

                            <div class="form-group has-feedback">
                                <label>Email</label>
                                <input type="email" class="form-control" 
                                    placeholder="Email" 
                                    name="email" 
                                    required
                                    ng-model="askReq.email"
                                />
                            </div>

                            <div class="form-group" style="margin-top:25px;">
                                <button type="submit" 
                                    class="btn btn-block etx-bg-primary " 
                                    ng-disabled="resolving">
                                    <strong>
                                        <span style="font-size:20px"
                                            ng-if="!resolving">
                                            Redefinir
                                            </span>
                                    </strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

