<style>
/* #430b68 */
/* #230637 */
/* #5f2289 */
</style>

<div class="row rs-margin">
    <div class="col-md-12 rs-padding">
       <div style="margin-top:0px;">
            <div class="login-box" style="max-width:500px;margin:auto;">
                <div class="login-box-body">

                    <div class="app-header"
                        style="padding: 10px;padding-left:10px;">
                        <img class="app-logo pull-left" 
                            style="padding-right:15px;"
                            src="<%=webapp.fields[$WAF.image]%>"
                            width="78px"
                        />
                        <h3 style="margin:0px;padding-top:10px;display:inline">
                            <%= webapp.fields[$WAF.title_df] %>
                        </h3>
                    </div>

                    <!--
                    <xb-alert type="'danger'"
                        ng-if="vm.error_msg"
                        messages="vm.error_msg">
                    </xb-alert>
                    -->

                    <div class="alert alert-danger text-center"
                        ng-if="error_msg">
                        <p ng-repeat="e in error_msg"
                            style="color:#333"
                            class="text-bold">
                            {{e}}
                        </p>
                    </div>
                   
                    <!-- /.login-logo -->
                    <form name="loginForm" 
                        ng-submit="loginUser(loginForm)"
                        ng-if="notLogin"
                        style="margin-top:25px;clear:both">

                        <div class="form-group has-feedback">
                            <label class="login-field login-field-email">Email</label>
                            <div>
                                <input type="email" class="form-control" 
                                    placeholder="Email" 
                                    name="email" 
                                    required
                                    style="border-radius:0px;font-size:20px;"
                                    ng-model="loginReq.email"
                                />
                            </div>

                        </div>

                        <div class="form-group has-feedback">
                            <label class="login-field login-field-password">
                                Password
                            </label>
                            <div class="input-group" style="padding:0px;">
                                <input type="{{passwordType||'password'}}" 
                                    class="form-control" 
                                    placeholder="Password"
                                    id="password-<%=_.random(1000, 99999)+''+(new Date()).getTime()%>"
                                    class="form-control" 
                                    placeholder="Password" 
                                    name="_password" 
                                    style="border-radius:0px;font-size:20px;"
                                    ng-model="loginReq.password"
                                    required
                                />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                        ng-click="toggleShowPassword()">
                                        <span ng-class="{
                                            'fa fa-eye': true, 
                                            'text-primary': vm.passwordType=='text',
                                            'text-secondary': vm.passwordType=='password',
                                        }"></span>
                                    </button>
                                </span>
                            </div>

                            <a href="https://app.enterstarts.com/#!/account/forgot-password?lang=pt"
                                target="__blank"
                                class="err-feedback text-bold">
                                Esqueceu a password?
                            </a>
                        </div>

                        <div class="form-group has-feedback"
                            style="min-height:100px;background-color:#f4f4f4;border-radius:3px;padding-top:10px;">
                            <!--<label>
                                Captcha
                            </label>-->
                            <center>
                                <div id="g-login-recaptcha" 
                                    style="width:100%"
                                    data-size="100%"
                                    data-sitekey="6LcU3MwUAAAAAEMjsMWOWrRv2tp2lff065ELbdwZ">
                                </div>
                            </center>
                        </div>

                        <div class="form-group" style="margin-top:25px;">
                            <button type="submit" 
                                class="btn btn-block btn-modal-login etx-bg-success text-center btn-round"
                                ng-disabled="resolving||no_captcha">
                                <strong>
                                    <span class="fa fa-check pull-left" 
                                        style="font-size:20px;margin-top:5px;"
                                        ng-if="!resolving"
                                        ></span>
                                    <span class="fa fa-refresh fa-spin pull-left" 
                                        style="font-size:20px;margin-top:5px;"
                                        ng-if="resolving"></span>
                                    <span style="font-size:20px"
                                        ng-if="!resolving">Entrar</span>
                                    <span style="font-size:20px"
                                        ng-if="resolving">Loading</span>
                                </strong>
                            </button>
                        </div>

                        <p class="etx-text-muted text-center"
                            style="margin-top:12px;font-size:14px;padding-bottom:3px;">
                            Ao utilizar o portal <a href="<%= webapp.fields[$WAF.domain] %>" class="etx-account-link"><%= orgObj.name %></a> concorda com os 
                            <a href="termos-de-servico.html" class="etx-account-link">termos de serviço</a>
                            da <a href="<%= webapp.fields[$WAF.domain] %>" class="etx-account-link"><%= orgObj.name %></a>
                            e tamb&eacute;m aceita os <a href="https://enterstarts.com/termos-de-servico.html" class="etx-account-link">termos de servi&ccedil;o</a>
                            da plataforma <a href="https://enterstarts.com/index-pt.html" class="etx-account-link">Enterstarts.com</a> que hospeda e protege a sua conta.
                        </p>
                    </form>

                    <div class="alert alert-success text-center"
                        style="border-radius:0px;"
                        ng-if="!notLogin">
                        <h2 style="margin:0px;color:#333">
                            Login com sucesso
                        </h2>
                        <hr/>
                        <h2 style="margin:0px;font-size:20px;">
                            <strong>
                                <span class="fa fa-refresh fa-spin"></span>
                                A p&aacute;gina ira actualizar
                            </strong>
                        </h2>
                    </div>
                </div>

                <!--
                <p class="text-bold etx-text-muted text-center"
                    style="margin-top:0px;">
                    <a href="<%= webapp.fields[$WAF.domain] %>">
                        &copy; 
                        <%= orgObj.name %>
                        2020
                    </a>
                    <br/>
                    <a href="https://enterstarts.com">
                        &copy; 
                        Enterstarts.com
                        2020
                    </a>
                </p>
                -->
            </div>
        </div>
    </div>
</div>

