<div class="<%-compobj.fields[$PCF.comp_size] %> account-obj-container"
    id="account-support-container-<%=compobj.id%>"
    style="margin-top:0px;"
    ng-controller="AccountController"
    ng-init="loadUser('<%=compobj.id%>', '<%= compobj.confObj.signin_url %>', '<%= compobj.confObj.signup_url %>', 'KLH')">
    <div class="row rs-margin"
        style="">

        <div class="col-12">
            <ul class="nav nav-tabs account-menu " role="tablist"
                style="display:none;">

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        style="margin-right: 15px;"
                        class="nav-link text-bold">
                        <span class="fa fa-user"></span>
                        MINHA CONTA
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style=";">
                    <a href="#entity-update-account-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        UPDATE MY ACCOUNT
                    </a>
                </li>

                <li role="presentation" 
                    style=""
                    class="nav-item">
                    <a href="#entity-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        AUTHENTICATE
                    </a>
                </li>

                <li role="presentation" 
                    style=""
                    class="nav-item">
                    <a href="#entity-email-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Actualizar email
                    </a>
                </li>

                <li role="presentation" 
                    style=""
                    class="nav-item">
                    <a href="#acc-not-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Nao autenticado
                    </a>
                </li>
            </ul>

            <div class="tab-content" 
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-loading-req "
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="entity-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="padding-top:155px;font-size:45px;">
                        <span class="fa fa-refresh fa-spin text-warning"></span>
                    </h3>

                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        Verificando
                    </h3>
                </div>

                <div class="tab-pane fade tab-not-auth"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="acc-not-auth-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        Autentique-se para continuar
                    </h3>
                </div>

                <div class="tab-pane fade tab-update-account "
                    id="entity-update-account-<%-compobj.id%>"
                    style=""
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="padding:0px;border-top:0px;background:#fff;max-width:600px;margin:auto;border:0px;min-height:300px;background-color:#fff;margin-bottom:40px;padding-bottom:20px;">
                        <div class="col-12 text-center"
                            style="border-top:8px solid #5c0f8b;padding:10px;">
                            <img src="<%=STATIC_PATH%>/img/my-account.png"
                                class="text-center"
                                style="width:60px;margin-right:10px;" 
                            />
                            <h3 class="text-purple">
                                Actualizar o meu perfil
                            </h3>
                        </div>

                        <div class="col-12">
                            <div class="alert alert-warning"
                                style="border-radius:0px;"
                                ng-if="saving_account">
                                <h3>Aguarde</h3>
                                <span class="fa fa-refresh fa-spin"></span>
                            </div>
                            <div class="alert alert-danger"
                                style="border-radius:0px;"
                                ng-if="save_account_errors">
                                <h3 style="color:#333;">Não foi possivel concluir a operação</h3>
                                <p ng-repeat="err in save_account_errors"
                                    class="text-bold"
                                    style="margin:0px;">
                                    {{err|uppercase}}
                                </p>
                            </div>
                            <div class="alert alert-success"
                                style="border-radius:0px;"
                                ng-if="save_account_success">
                                <h3 style="margin:0px;">
                                    <!-- <span class="fa fa-check"></span> -->
                                    <span class="fa fa-refresh fa-spin"></span>
                                    <span style="color:#333">
                                        Operação concluida.
                                    </span>
                                </h3>
                                <p class="text-bold">
                                    A sua conta foi atualizada com sucesso!<br/>
                                    <strong style="color:#333;">Actualizando em 3 segundos...</strong>
                                </p>
                            </div>
                        </div>

                        <div class="col-12">
                            <form name="accountForm" 
                                ng-submit="saveMyAccount(accountForm)">
                                <div class="form-group">
                                    <label>
                                        <strong>
                                            Nome
                                        </strong>
                                    </label>
                                    <input type="text" class="form-control" 
                                        required
                                        ng-model="accountReq.name"
                                    />
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>
                                            Email
                                        </strong>
                                    </label>
                                    <input type="email" class="form-control" 
                                        required
                                        ng-model="accountReq.email"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <strong>
                                            Telefone
                                        </strong>
                                    </label>
                                    <div class="row rs-margin">
                                        <div class="col-5" style="padding:0px">
                                            <select name="phoneCode" class="form-control" 
                                                ng-model="accountReq.phoneCode">
                                                <option data-countryCode="CV" value="238" selected>Cabo Verde(+238)</option>
                                                <option data-countryCode="AO" value="244">Angola (+244)</option>
                                                <option data-countryCode="SN" value="221">Senegal (+221)</option>
                                                <option data-countryCode="GW" value="245">Guine - Bissau (+245)</option>
                                                <option data-countryCode="PT" value="351">Portugal (+351)</option>
                                                <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                                                <option data-countryCode="AD" value="376">Andorra (+376)</option>
                                                <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
                                                <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                                                <option data-countryCode="AR" value="54">Argentina (+54)</option>
                                                <option data-countryCode="AM" value="374">Armenia (+374)</option>
                                                <option data-countryCode="AW" value="297">Aruba (+297)</option>
                                                <option data-countryCode="AU" value="61">Australia (+61)</option>
                                                <option data-countryCode="AT" value="43">Austria (+43)</option>
                                                <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
                                                <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
                                                <option data-countryCode="BH" value="973">Bahrain (+973)</option>
                                                <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
                                                <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
                                                <option data-countryCode="BY" value="375">Belarus (+375)</option>
                                                <option data-countryCode="BE" value="32">Belgium (+32)</option>
                                                <option data-countryCode="BZ" value="501">Belize (+501)</option>
                                                <option data-countryCode="BJ" value="229">Benin (+229)</option>
                                                <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
                                                <option data-countryCode="BT" value="975">Bhutan (+975)</option>
                                                <option data-countryCode="BO" value="591">Bolivia (+591)</option>
                                                <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
                                                <option data-countryCode="BW" value="267">Botswana (+267)</option>
                                                <option data-countryCode="BR" value="55">Brazil (+55)</option>
                                                <option data-countryCode="BN" value="673">Brunei (+673)</option>
                                                <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
                                                <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
                                                <option data-countryCode="BI" value="257">Burundi (+257)</option>
                                                <option data-countryCode="KH" value="855">Cambodia (+855)</option>
                                                <option data-countryCode="CM" value="237">Cameroon (+237)</option>
                                                <option data-countryCode="CA" value="1">Canada (+1)</option>
                                                <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
                                                <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
                                                <option data-countryCode="CL" value="56">Chile (+56)</option>
                                                <option data-countryCode="CN" value="86">China (+86)</option>
                                                <option data-countryCode="CO" value="57">Colombia (+57)</option>
                                                <option data-countryCode="KM" value="269">Comoros (+269)</option>
                                                <option data-countryCode="CG" value="242">Congo (+242)</option>
                                                <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
                                                <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
                                                <option data-countryCode="HR" value="385">Croatia (+385)</option>
                                                <option data-countryCode="CU" value="53">Cuba (+53)</option>
                                                <option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
                                                <option data-countryCode="CY" value="357">Cyprus South (+357)</option>
                                                <option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
                                                <option data-countryCode="DK" value="45">Denmark (+45)</option>
                                                <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
                                                <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
                                                <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
                                                <option data-countryCode="EC" value="593">Ecuador (+593)</option>
                                                <option data-countryCode="EG" value="20">Egypt (+20)</option>
                                                <option data-countryCode="SV" value="503">El Salvador (+503)</option>
                                                <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
                                                <option data-countryCode="ER" value="291">Eritrea (+291)</option>
                                                <option data-countryCode="EE" value="372">Estonia (+372)</option>
                                                <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
                                                <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
                                                <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
                                                <option data-countryCode="FJ" value="679">Fiji (+679)</option>
                                                <option data-countryCode="FI" value="358">Finland (+358)</option>
                                                <option data-countryCode="FR" value="33">France (+33)</option>
                                                <option data-countryCode="GF" value="594">French Guiana (+594)</option>
                                                <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
                                                <option data-countryCode="GA" value="241">Gabon (+241)</option>
                                                <option data-countryCode="GM" value="220">Gambia (+220)</option>
                                                <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
                                                <option data-countryCode="DE" value="49">Germany (+49)</option>
                                                <option data-countryCode="GH" value="233">Ghana (+233)</option>
                                                <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
                                                <option data-countryCode="GR" value="30">Greece (+30)</option>
                                                <option data-countryCode="GL" value="299">Greenland (+299)</option>
                                                <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
                                                <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
                                                <option data-countryCode="GU" value="671">Guam (+671)</option>
                                                <option data-countryCode="GT" value="502">Guatemala (+502)</option>
                                                <option data-countryCode="GN" value="224">Guinea (+224)</option>
                                                <option data-countryCode="GY" value="592">Guyana (+592)</option>
                                                <option data-countryCode="HT" value="509">Haiti (+509)</option>
                                                <option data-countryCode="HN" value="504">Honduras (+504)</option>
                                                <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
                                                <option data-countryCode="HU" value="36">Hungary (+36)</option>
                                                <option data-countryCode="IS" value="354">Iceland (+354)</option>
                                                <option data-countryCode="IN" value="91">India (+91)</option>
                                                <option data-countryCode="ID" value="62">Indonesia (+62)</option>
                                                <option data-countryCode="IR" value="98">Iran (+98)</option>
                                                <option data-countryCode="IQ" value="964">Iraq (+964)</option>
                                                <option data-countryCode="IE" value="353">Ireland (+353)</option>
                                                <option data-countryCode="IL" value="972">Israel (+972)</option>
                                                <option data-countryCode="IT" value="39">Italy (+39)</option>
                                                <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
                                                <option data-countryCode="JP" value="81">Japan (+81)</option>
                                                <option data-countryCode="JO" value="962">Jordan (+962)</option>
                                                <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
                                                <option data-countryCode="KE" value="254">Kenya (+254)</option>
                                                <option data-countryCode="KI" value="686">Kiribati (+686)</option>
                                                <option data-countryCode="KP" value="850">Korea North (+850)</option>
                                                <option data-countryCode="KR" value="82">Korea South (+82)</option>
                                                <option data-countryCode="KW" value="965">Kuwait (+965)</option>
                                                <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
                                                <option data-countryCode="LA" value="856">Laos (+856)</option>
                                                <option data-countryCode="LV" value="371">Latvia (+371)</option>
                                                <option data-countryCode="LB" value="961">Lebanon (+961)</option>
                                                <option data-countryCode="LS" value="266">Lesotho (+266)</option>
                                                <option data-countryCode="LR" value="231">Liberia (+231)</option>
                                                <option data-countryCode="LY" value="218">Libya (+218)</option>
                                                <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
                                                <option data-countryCode="LT" value="370">Lithuania (+370)</option>
                                                <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
                                                <option data-countryCode="MO" value="853">Macao (+853)</option>
                                                <option data-countryCode="MK" value="389">Macedonia (+389)</option>
                                                <option data-countryCode="MG" value="261">Madagascar (+261)</option>
                                                <option data-countryCode="MW" value="265">Malawi (+265)</option>
                                                <option data-countryCode="MY" value="60">Malaysia (+60)</option>
                                                <option data-countryCode="MV" value="960">Maldives (+960)</option>
                                                <option data-countryCode="ML" value="223">Mali (+223)</option>
                                                <option data-countryCode="MT" value="356">Malta (+356)</option>
                                                <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
                                                <option data-countryCode="MQ" value="596">Martinique (+596)</option>
                                                <option data-countryCode="MR" value="222">Mauritania (+222)</option>
                                                <option data-countryCode="YT" value="269">Mayotte (+269)</option>
                                                <option data-countryCode="MX" value="52">Mexico (+52)</option>
                                                <option data-countryCode="FM" value="691">Micronesia (+691)</option>
                                                <option data-countryCode="MD" value="373">Moldova (+373)</option>
                                                <option data-countryCode="MC" value="377">Monaco (+377)</option>
                                                <option data-countryCode="MN" value="976">Mongolia (+976)</option>
                                                <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
                                                <option data-countryCode="MA" value="212">Morocco (+212)</option>
                                                <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
                                                <option data-countryCode="MN" value="95">Myanmar (+95)</option>
                                                <option data-countryCode="NA" value="264">Namibia (+264)</option>
                                                <option data-countryCode="NR" value="674">Nauru (+674)</option>
                                                <option data-countryCode="NP" value="977">Nepal (+977)</option>
                                                <option data-countryCode="NL" value="31">Netherlands (+31)</option>
                                                <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
                                                <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
                                                <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
                                                <option data-countryCode="NE" value="227">Niger (+227)</option>
                                                <option data-countryCode="NG" value="234">Nigeria (+234)</option>
                                                <option data-countryCode="NU" value="683">Niue (+683)</option>
                                                <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
                                                <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
                                                <option data-countryCode="NO" value="47">Norway (+47)</option>
                                                <option data-countryCode="OM" value="968">Oman (+968)</option>
                                                <option data-countryCode="PW" value="680">Palau (+680)</option>
                                                <option data-countryCode="PA" value="507">Panama (+507)</option>
                                                <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
                                                <option data-countryCode="PY" value="595">Paraguay (+595)</option>
                                                <option data-countryCode="PE" value="51">Peru (+51)</option>
                                                <option data-countryCode="PH" value="63">Philippines (+63)</option>
                                                <option data-countryCode="PL" value="48">Poland (+48)</option>
                                                <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
                                                <option data-countryCode="QA" value="974">Qatar (+974)</option>
                                                <option data-countryCode="RE" value="262">Reunion (+262)</option>
                                                <option data-countryCode="RO" value="40">Romania (+40)</option>
                                                <option data-countryCode="RU" value="7">Russia (+7)</option>
                                                <option data-countryCode="RW" value="250">Rwanda (+250)</option>
                                                <option data-countryCode="SM" value="378">San Marino (+378)</option>
                                                <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                                                <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
                                                <option data-countryCode="CS" value="381">Serbia (+381)</option>
                                                <option data-countryCode="SC" value="248">Seychelles (+248)</option>
                                                <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
                                                <option data-countryCode="SG" value="65">Singapore (+65)</option>
                                                <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
                                                <option data-countryCode="SI" value="386">Slovenia (+386)</option>
                                                <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
                                                <option data-countryCode="SO" value="252">Somalia (+252)</option>
                                                <option data-countryCode="ZA" value="27">South Africa (+27)</option>
                                                <option data-countryCode="ES" value="34">Spain (+34)</option>
                                                <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
                                                <option data-countryCode="SH" value="290">St. Helena (+290)</option>
                                                <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
                                                <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
                                                <option data-countryCode="SD" value="249">Sudan (+249)</option>
                                                <option data-countryCode="SR" value="597">Suriname (+597)</option>
                                                <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
                                                <option data-countryCode="SE" value="46">Sweden (+46)</option>
                                                <option data-countryCode="CH" value="41">Switzerland (+41)</option>
                                                <option data-countryCode="SI" value="963">Syria (+963)</option>
                                                <option data-countryCode="TW" value="886">Taiwan (+886)</option>
                                                <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
                                                <option data-countryCode="TH" value="66">Thailand (+66)</option>
                                                <option data-countryCode="TG" value="228">Togo (+228)</option>
                                                <option data-countryCode="TO" value="676">Tonga (+676)</option>
                                                <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                                                <option data-countryCode="TN" value="216">Tunisia (+216)</option>
                                                <option data-countryCode="TR" value="90">Turkey (+90)</option>
                                                <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
                                                <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
                                                <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                                                <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
                                                <option data-countryCode="UG" value="256">Uganda (+256)</option>
                                                <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
                                                <option data-countryCode="UA" value="380">Ukraine (+380)</option>
                                                <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
                                                <option data-countryCode="UY" value="598">Uruguay (+598)</option>
                                                <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
                                                <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
                                                <option data-countryCode="US" value="1">USA (+1)</option>
                                                <option data-countryCode="GB" value="44">UK (+44)</option>
                                                <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
                                                <option data-countryCode="VA" value="379">Vatican City (+379)</option>
                                                <option data-countryCode="VE" value="58">Venezuela (+58)</option>
                                                <option data-countryCode="VN" value="84">Vietnam (+84)</option>
                                                <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</option>
                                                <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</option>
                                                <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                                                <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
                                                <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
                                                <option data-countryCode="ZM" value="260">Zambia (+260)</option>
                                                <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                                            </select>
                                        </div>
                                        <div class="col-7" style="padding:0px">
                                            <input type="number" 
                                                style="color:#044f1a;background-color:#fff;"
                                                ng-model="accountReq.phone"
                                                class="form-control text-bold"
                                                required
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>
                                            Número BI / CNI
                                        </strong>
                                    </label>
                                    <input type="text" 
                                        class="form-control" 
                                        ng-model="accountReq.docId"
                                    />
                                </div>
                                <div class="form-group">
                                    <p style="margin:0px;">
                                        <span class="text-purple cursor-pointer" 
                                            ngf-pattern="'image/*,application/pdf'"
                                            ngf-accept="'image/*,application/pdf'" 
                                            ngf-max-size="15MB"
                                            type="button"
                                            ng-disabled="uploading"
                                            ngf-select="uploadDoc('<%=compobj.id%>',$file)">
                                            <span class="fa fa-archive"></span>
                                            <span ng-show="uploading">{{progress}}</span>
                                            <span class="text-purple text-underlined"
                                                ng-show="!accountReq.docLocation">
                                                Anexar Documento de Identifica&ccedil;&atilde;o
                                            </span>
                                        </span>

                                        <a href="{{accountReq.docLocation}}"
                                            ng-show="accountReq.docLocation"
                                            class="text-purple"
                                            target="__blank">
                                            Ver documento
                                        </a>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <strong>
                                            Data nascimento
                                        </strong>
                                    </label>
                                    <input type="text" 
                                        class="form-control" 
                                        ng-model="accountReq.birthdate"
                                    />
                                </div>

                                <div class="form-group" ng-show="accountReq.phoneCode=='238'">
                                    <div class="dropdown">
                                        <div class="form-group " data-toggle="dropdown" aria-haspopup="true" id="profissaoButton">
                                            <label>
                                                <strong>
                                                    Profissão
                                                </strong>
                                            </label>

                                            <input type="text" 
                                                style="background-color:#fff;"
                                                placeholder="Profissao"
                                                ng-model="prst.profession_label"
                                                class="form-control"
                                            />
                                        </div>
                                      <div class="dropdown-menu" aria-labelledby="profissaoButton"
                                        style="max-height:350px;overflow:hidden;overflow-y:scroll;">
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            ng-click="setProfession('<%-compobj.id%>', f)"
                                            style="border-bottom:2px solid #ccc;"
                                            ng-repeat="f in account_projection.profession|filter:prst.profession_label">
                                            <p style="margin:0px">{{f.label}}</p>
                                        </a>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label>
                                        <strong>
                                            Zona 
                                        </strong>
                                    </label>
                                    <input type="text" 
                                        class="form-control" 
                                        id="zona-ref"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        <strong>
                                            Género
                                        </strong>
                                    </label>
                                    <select class="form-control"
                                        ng-model="accountReq.gender">
                                        <option value="MALE">Masculino</option>
                                        <option value="FEMALE">Feminino</option>
                                    </select>
                                </div>

                                <button type="button" class="btn btn-danger text-bold btn-round text-white"
                                    ng-click="showUserProfile('<%-compobj.id%>')">
                                    CANCELAR
                                </button>

                                <button type="submit" class="btn etx-bg-primary btn-sm text-bold btn-round"
                                    style="display:inline-block;font-size:1rem;line-height:1;margin-bottom:0px;"
                                    ng-disabled="saving_account">
                                    <span ng-if="!saving_account">
                                        Guardar
                                    </span>
                                    <span ng-if="saving_account">
                                        Aguarde
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade tab-authenticate "
                    id="entity-auth-<%-compobj.id%>"
                    style=""
                    role="tabpanel">

                    <!-- #5c0f8b -->

                    <div class="row rs-margin"
                        style="padding:0px;border-top:0px;background:#fff;max-width:600px;margin:auto;border:0px;min-height:300px;background-color:#fff;">
                        <div class="col-12 rs-padding" style="">

                            <div class="alert-update-account"
                                style="border-top:8px solid #5c0f8b;padding:10px;">
                                <h3 style="margin:0px;"
                                    class="text-purple">Atualização da conta</h3>
                                <p class="text-bold text-secondary">Para atualizar a sua conta precisa de autenticar.</p>
                                <hr/>
                            </div>

                            <div class="alert alert-danger"
                                style="margin:0px;border-radius:0px;"
                                ng-if="confirm_errors">
                                <h3 style="color:#333;">Não foi possivel autenticar</h3>
                                <p ng-repeat="err in confirm_errors"
                                    style="margin:0px;">
                                    {{err|uppercase}}
                                </p>
                            </div>

                            <form name="authForm"
                                style="padding:15px;padding-top:0px;background-color:#fff;"
                                ng-submit="authenticateGO(authForm)">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <strong>
                                            <span class="fa fa-lock text-success"></span>
                                            Autenticando como
                                            <span class="text-secondary">({{authReq.email}})</span>
                                        </strong>
                                    </label>
                                    <input type="password" class="form-control" 
                                        required
                                        placeholder="Password da conta"
                                        ng-model="authReq.password"
                                    />
                                </div>

                                <button type="button" class="btn btn-danger text-bold btn-round text-white"
                                    ng-click="showUserProfile('<%-compobj.id%>')">
                                    CANCELAR
                                </button>
                                <button type="submit" class="btn etx-bg-primary btn-sm text-bold btn-round"
                                    style="display:inline-block;font-size:1rem;line-height:1;margin-bottom:0px;"
                                    ng-disabled="confirming_account">
                                    <span ng-if="!confirming_account">
                                        CONTINUAR
                                    </span>
                                    <span ng-if="confirming_account">
                                        AGUARDE
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade tab-update-email "
                    id="entity-email-<%-compobj.id%>"
                    style=""
                    role="tabpanel">

                    <div class="row rs-margin"
                         style="padding:0px;border-top:0px;background:#fff;max-width:600px;margin:auto;border:0px;min-height:300px;background-color:#fff;">
                         <div class="col-12"
                            style="border-top:8px solid #5c0f8b;padding:10px;">
                            <div class="alert-update-account"
                                ng-if="!update_email_error&&!updating_email&&!update_email_success"
                                style="border-radius:0px;margin:0px;">
                                <h3 style="margin:0px;"
                                    class="text-purple"
                                    ng-if="!otpSettings">Atualização do email</h3>
                                <p class="text-bold text-secondary"
                                    ng-if="!otpSettings">
                                    Ao modificar o seu email, 
                                    terá que efecutar o login novamente.
                                </p>

                                <h3 style="margin:0px;"
                                    class="text-purple"
                                    ng-if="otpSettings">Confirmação Enviada</h3>
                                <p class="text-secondary" ng-if="otpSettings.id&&otpSettings.publicId">
                                    Um email foi enviado para <strong>{{emailReq.email}}</strong>
                                    com um código de confirmação (OTP).
                                    Introduza-o abaixo para concluir a operação.
                                </p>
                            </div>

                            <div class="alert alert-warning"
                                style="borde-radius:0px;"
                                ng-if="updating_email">
                                <h3>Aguarde</h3>
                                <span class="fa fa-refresh fa-spin"></span>
                            </div>

                            <div class="alert alert-success"
                                style="borde-radius:0px;"
                                ng-if="update_email_success">
                                <h3 style="margin:0px;">
                                    <!-- <span class="fa fa-check"></span> -->
                                    <span style="color:#333">
                                        Email actualizado com sucesso.
                                    </span>
                                </h3>
                                <p class="text-bold">
                                    Para efectuar o login ter&aacute; que utilizar 
                                    <strong style="color:#333;">{{emailReq.email}}</strong> <br/>
                                </p>
                                <p class="text-bold">
                                    <strong style="color:#333;">
                                        <span class="fa fa-refresh fa-spin"></span>
                                        Logout em 5 segundos
                                    </strong>
                                </p>
                            </div>

                            <div class="alert alert-danger"
                                style="borde-radius:0px;"
                                ng-if="update_email_error">
                                <h3 style="color:#333;">Não foi possivel concluir a operação!</h3>
                                <p ng-repeat="err in update_email_error"
                                    class="text-bold"
                                    style="margin:0px;">
                                    {{err|uppercase}}
                                </p>
                            </div>

                            <form name="emailChngForm"
                                style="padding:15px;background-color:#fff;"
                                ng-submit="requestEmailChange(emailChngForm)">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">
                                        <strong>Novo Email</strong>
                                    </label>
                                    <input type="email" class="form-control" 
                                        required
                                        placeholder="nome@exemplo.org"
                                        ng-model="emailReq.email"
                                    />
                                </div>

                                <div class="form-group"
                                    ng-if="otpSettings.id&&otpSettings.publicId">
                                    <label for="exampleInputEmail1">
                                        <strong>Código de Confirma&ccedil;&atilde;o</strong>
                                    </label>
                                    <a class="text-primary text-bold cursor-pointer"
                                        style="font-size:17px;"
                                        ng-click="requestEmailOTP('<%=compobj.id%>')">
                                        (Reenviar)
                                    </a>
                                    <input type="number" class="form-control" 
                                        required
                                        placeholder="Codigo OTP"
                                        ng-model="emailReq.otp"
                                    />
                                </div>

                                <button type="button" class="btn btn-danger text-bold btn-round text-white"
                                    ng-click="showUserProfile('<%-compobj.id%>')">
                                    CANCELAR
                                </button>

                                <button type="button"
                                    ng-if="!otpSettings"
                                    ng-click="requestEmailOTP('<%=compobj.id%>', emailChngForm)" 
                                    class="btn etx-bg-primary text-bold btn-round btn-sm"
                                    style="display:inline-block;font-size:1rem;line-height:1;margin-bottom:0px;"
                                    ng-disabled="loading_otp">
                                    <span ng-if="!loading_otp">
                                        CONTINUAR
                                    </span>
                                    <span ng-if="loading_otp">
                                        AGUARDE
                                    </span>
                                </button>

                                <button type="submit" class="btn text-bold btn-round etx-bg-primary btn-sm"
                                    style="display:inline-block;font-size:1rem;line-height:1;margin-bottom:0px;"
                                    ng-if="otpSettings.id&&otpSettings.publicId"
                                    ng-disabled="updating_email">
                                    <span ng-if="!updating_email">
                                        FINALIZAR
                                    </span>
                                    <span ng-if="updating_email">
                                        AGUARDE
                                    </span>
                                </button>
                            </form>
                         </div>
                    </div>

                </div>

                <div class="tab-pane fade tab-myaccount "
                    id="entity-home-<%-compobj.id%>"
                    style="border:0px;padding:0px;"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="padding:0px;border-top:0px;background:#fff;max-width:600px;margin:auto;">
                        <div class="col-12 rs-padding text-center"
                            style="border-top:8px solid #5c0f8b;padding:10px;">
                            <!--
                            <img src="<%=STATIC_PATH%>/img/my-account.png"
                                class="text-center"
                                style="width:60px;margin-right:10px;" 
                            />
                            -->
                            <div class="panel-heading text-center profile-pic-container">
                                <div class="text-center user-profile-pic" ngf-pattern="'image/*'" 
                                    ngf-accept="'image/*'" 
                                    ngf-max-size="5MB" 
                                    ngf-select="uploadProfileFoto('<%=compobj.id%>', $file)" 
                                    style="background-size:cover;background-image:url('{{userAccount.picture}}');">
                                    <div class="button btn btn-success text-white cursor-pointer" style="background:rgba(0,0,0,.3);margin-top:50px;" ng-if="!userAccount.picture">
                                        <span class="fa fa-image"></span>
                                    </div>
                                </div>
                                <p class="text-secondary text-bold"
                                    ng-show="uploading">
                                    Carregando...
                                    {{progress}}%
                                </p>
                            </div>
                            <!--
                            <h3 class="text-purple"
                                style="padding:10px;margin-left:15px;">
                                MINHA CONTA
                            </h3>
                            -->
                        </div>
                        <div class="col-12 rs-padding">
                            <hr/>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="rs-margin etx-text-secondary text-bold">{{userAccount.name}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="etx-text-primary text-bold rs-border cursor-pointer "
                                ng-click="openUpdateScreen('<%=compobj.id%>')">
                                <span class="text-primary text-underlined text-left">
                                    Editar nome
                                </span>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="etx-text-secondary text-bold rs-margin">{{userAccount.email}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="etx-text-primary text-bold rs-border cursor-pointer"
                                ng-click="openEmailScreen('<%=compobj.id%>')">
                                <span class="text-primary text-underlined text-left cursor-pointer">
                                    Editar email
                                </span>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                            ng-click="openUpdateScreen('<%=compobj.id%>')">
                            <p class="etx-text-secondary text-bold rs-margin">
                                Telefone: <span ng-bind="'(+'+userAccount.phoneCode+')'"
                                    class=""></span>
                                <span ng-bind="userAccount.phone"></span>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                            ng-click="openUpdateScreen('<%=compobj.id%>')">
                            <p class="etx-text-primary text-bold">
                                <span class="text-primary text-underlined text-left cursor-pointer">
                                    Alterar telefone
                                </span>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p ng-click="openUpdateScreen('<%=compobj.id%>')"
                               class="etx-text-secondary text-bold rs-margin">
                                Morada: {{userAccount.zoneLabel}}
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p ng-click="openUpdateScreen('<%=compobj.id%>')"
                                class="text-bold etx-text-primary">
                                <span class="text-primary text-underlined text-left cursor-pointer">
                                    Alterar Morada
                                </span>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <p class="etx-text-secondary text-bold rs-margin">
                                Password: ******
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <a href="forgot-password.html" class="text-bold text-underlined">
                                Alterar password
                            </a>
                        </div>

                        <div class="col-12"
                            style="padding:20px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


