<div class="<%-compobj.fields[$PCF.comp_size] %> account-obj-container"
    id="account-support-container-<%=compobj.id%>"
    style="margin-top:0px;"
    ng-controller="AccountController"
    ng-init="loadUser('<%=compobj.id%>', '<%= compobj.confObj.signin_url %>', '<%= compobj.confObj.signup_url %>')">
    <div class="row rs-margin"
        style="">

        <div class="col-12">
            <ul class="nav nav-tabs account-menu " role="tablist"
                style="">

                <li role="presentation" 
                    class="nav-item"
                    style="display:none">
                    <a href="#entity-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="display:none">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        style="margin-right: 15px;"
                        class="nav-link text-bold">
                        <span class="fa fa-user"></span>
                        MINHA CONTA
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="display:none;">
                    <a href="#entity-update-account-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        UPDATE MY ACCOUNT
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="display:none;">
                    <a href="#entity-update-account-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        UPDATE EMAIL
                    </a>
                </li>

                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#entity-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        AUTHENTICATE
                    </a>
                </li>

                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#entity-email-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Actualizar email
                    </a>
                </li>

                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#acc-not-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Nao autenticado
                    </a>
                </li>
            </ul>

            <div class="tab-content" 
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-loading-req show active"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="entity-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="padding-top:155px;font-size:45px;">
                        <span class="fa fa-refresh fa-spin text-warning"></span>
                    </h3>

                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        Verificando a conta
                    </h3>
                    <!--
                    signin_url: <%= compobj.confObj.signin_url %>
                    <br/>
                    signup_url:<%= compobj.confObj.signup_url %>
                    -->
                </div>

                <div class="tab-pane fade tab-not-auth"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="acc-not-auth-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        Autentique-se para continuar
                    </h3>
                </div>

                <div class="tab-pane fade tab-update-account "
                    id="entity-update-account-<%-compobj.id%>"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <div class="alert alert-warning"
                        style="border-radius:0px;"
                        ng-if="saving_account">
                        <h3>Aguarde</h3>
                        <span class="fa fa-refresh fa-spin"></span>
                    </div>
                    <div class="alert alert-danger"
                        style="border-radius:0px;"
                        ng-if="save_account_errors">
                        <h3 style="color:#333;">Não foi possivel concluir a operação</h3>
                        <p ng-repeat="err in save_account_errors"
                            class="text-bold"
                            style="margin:0px;">
                            {{err|uppercase}}
                        </p>
                    </div>
                    <div class="alert alert-success"
                        style="border-radius:0px;"
                        ng-if="save_account_success">
                        <h3 style="margin:0px;">
                            <!-- <span class="fa fa-check"></span> -->
                            <span class="fa fa-refresh fa-spin"></span>
                            <span style="color:#333">
                                Operação concluida.
                            </span>
                        </h3>
                        <p class="text-bold">
                            A sua conta foi atualizada com sucesso!<br/>
                            <strong style="color:#333;">Actualizando em 3 segundos...</strong>
                        </p>
                    </div>

                </div>

                <div class="tab-pane fade tab-authenticate "
                    id="entity-auth-<%-compobj.id%>"
                    style="border:1px solid #ccc;border-top:0px;min-height:300px;background-color:#fff;"
                    role="tabpanel">

                    <div class="alert alert-info alert-update-account"
                        ng-if="!confirm_errors&&!confirming_account"
                        style="border-radius:0px;margin:0px;">
                        <h3 style="color:#333;margin:0px;">Atualização da conta</h3>
                        <p class="text-bold">Para atualizar a sua conta precisa de autenticar.</p>
                    </div>

                    <div class="alert alert-danger"
                        style="margin:0px;border-radius:0px;"
                        ng-if="confirm_errors">
                        <h3 style="color:#333;">Não foi possivel autenticar</h3>
                        <p ng-repeat="err in confirm_errors"
                            style="margin:0px;">
                            {{err|uppercase}}
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade tab-update-email "
                    id="entity-email-<%-compobj.id%>"
                    style="border:1px solid #ccc;border-top:0px;min-height:300px;background-color:#fff;"
                    role="tabpanel">

                    <div class="alert alert-info alert-update-account"
                        ng-if="!update_email_error&&!updating_email&&!update_email_success"
                        style="border-radius:0px;margin:0px;">
                        <h3 style="color:#333;margin:0px;"
                            ng-if="!otpSettings">Atualização do email</h3>
                        <p class="text-bold"
                            ng-if="!otpSettings">
                            Ao modificar o seu email, 
                            terá que efecutar o login novamente.
                        </p>

                        <h3 style="color:#333;margin:0px;"
                            ng-if="otpSettings">Confirmação Enviada</h3>
                        <p class="" ng-if="otpSettings.id&&otpSettings.publicId">
                            Um email foi enviado para <strong>{{emailReq.email}}</strong>
                            com um código de confirmação (OTP).
                            <br/>
                            Introduza-o abaixo para concluir a operação.
                        </p>
                    </div>

                    <div class="alert alert-warning"
                        style="borde-radius:0px;"
                        ng-if="updating_email">
                        <h3>Aguarde</h3>
                        <span class="fa fa-refresh fa-spin"></span>
                    </div>

                    <div class="alert alert-success"
                        style="borde-radius:0px;"
                        ng-if="update_email_success">
                        <h3 style="margin:0px;">
                            <!-- <span class="fa fa-check"></span> -->
                            <span style="color:#333">
                                Email actualizado com sucesso.
                            </span>
                        </h3>
                        <p class="text-bold">
                            Para efectuar o login ter&aacute; que utilizar 
                            <strong style="color:#333;">{{emailReq.email}}</strong> <br/>
                        </p>
                        <p class="text-bold">
                            <strong style="color:#333;">
                                <span class="fa fa-refresh fa-spin"></span>
                                Logout em 5 segundos
                            </strong>
                        </p>
                    </div>

                    <div class="alert alert-danger"
                        style="borde-radius:0px;"
                        ng-if="update_email_error">
                        <h3 style="color:#333;">Não foi possivel concluir a operação!</h3>
                        <p ng-repeat="err in update_email_error"
                            class="text-bold"
                            style="margin:0px;">
                            {{err|uppercase}}
                        </p>
                    </div>
                </div>

                <div class="tab-pane fade tab-myaccount "
                    id="entity-home-<%-compobj.id%>"
                    style="border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="min-height:450px;background-color:#fff;padding:10px;">
                        <div class="col-12">
                            <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                width="60px"
                                class="pull-left"
                                style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                            />

                            <h3 class="etx-text-primary">
                                {{userAccount.name|uppercase}}
                            </h3>
                            <h3 style="margin:0px;font-size:19px"
                                class="etx-text-secondary">
                                {{userAccount.email|uppercase}}
                            </h3>

                            <h3 class="etx-text-black xb-grad"
                                style="font-size:19px;margin:0px;margin-top: 25px;padding: 10px;">
                                Detalhes da sua conta
                            </h3>

                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="text-bold">
                                            ID
                                        </td>
                                        <td class="etx-text-primary text-bold">
                                            {{userAccount.id}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            NOME COMPLETO
                                        </td>
                                        <td class="text-bold">
                                            {{userAccount.name|uppercase}}
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer"
                                        ng-click="openEmailScreen('<%=compobj.id%>')">
                                        <td class="text-bold">
                                            EMAIL
                                        </td>
                                        <td class="text-bold text-secondary">
                                            {{userAccount.email|uppercase}}
                                            <br/>
                                            <button class="btn btn-round etx-bg-primary etx-text-white text-bold btn-sm"
                                                type="button">
                                                MUDAR
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold">
                                            TELEFONE
                                        </td>
                                        <td class="text-bold">
                                            <span ng-bind="'(+'+userAccount.phoneCode+')'"
                                                class="text-success"></span>
                                            <span ng-bind="userAccount.phone"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold">
                                            DATA DE CRIA&Ccedil;&Atilde;O
                                        </td>
                                        <td class="text-bold text-muted">
                                            {{userAccount.createdAt}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-round btn-account-update text-bold etx-bg-success etx-text-white text-bold"
                                type="button"
                                ng-click="openUpdateScreen('<%=compobj.id%>')">
                                ATUALIZAR
                            </button>

                            <button class="btn btn-warning btn-round text-bold btn-account-logout "
                                ng-click="logout()"
                                style="color:#333">
                                LOGOUT
                            </button>

                            <div class="pull-right">
                                <p class="text-muted text-center" style="padding:0px;margin:0px;font-size:14px;">
                                    Verificado &amp; Protegido por
                                </p>
                                <a href="https://enterstarts.com/index-pt.html" 
                                    target="__blank">
                                    <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                        class="text-center"
                                        style="width:220px;" 
                                    />
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


