<!-- <h2>CONTAS REALSTATE</h2> -->
<div class="<%-compobj.fields[$PCF.comp_size] %> account-obj-container"
    id="account-support-container-<%=compobj.id%>"
    style="margin-top:0px;"
    ng-controller="x99Realstate"
    ng-init="loadUser('<%=compobj.id%>', '<%= compobj.confObj.signin_url %>', '<%= compobj.confObj.signup_url %>')">
    <div class="row rs-margin"
        style="">

        <div class="col-12 rs-padding">
            <ul class="nav nav-tabs account-menu " role="tablist"
                style="">

                <li role="presentation" 
                    class="nav-item"
                    style="display:none">
                    <a href="#entity-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="display:none">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        style="margin-right: 15px;"
                        class="nav-link text-bold">
                        <span class="fa fa-user"></span>
                        MINHA CONTA
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="display:none;">
                    <a href="#entity-update-account-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        UPDATE MY ACCOUNT
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="display:none;">
                    <a href="#entity-update-account-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        UPDATE EMAIL
                    </a>
                </li>

                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#entity-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        AUTHENTICATE
                    </a>
                </li>

                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#entity-email-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Actualizar email
                    </a>
                </li>

                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#acc-not-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Nao autenticado
                    </a>
                </li>
            </ul>

            <div class="tab-content" 
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-loading-req show active"
                    style="padding:10px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="entity-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="font-size:45px;">
                        <span class="fa fa-refresh fa-spin text-warning"></span>
                    </h3>

                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        Verificando a conta
                    </h3>
                    <!--
                    signin_url: <%= compobj.confObj.signin_url %>
                    <br/>
                    signup_url:<%= compobj.confObj.signup_url %>
                    -->
                </div>

                <div class="tab-pane fade tab-not-auth"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="acc-not-auth-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        Autentique-se para continuar
                    </h3>
                </div>

                <div class="tab-pane fade tab-update-account "
                    id="entity-update-account-<%-compobj.id%>"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">
                    <!--
                    <h3>
                        {{currentReservation}}
                    </h3>
                    -->
                    <button class="btn btn-warning btn-round text-bold btn-account-logout pull-right "
                        ng-click="closeReservation('<%=compobj.id%>')"
                        style="color:#333">
                        CLOSE
                    </button>
                    <div style="padding-left:15px;">
                        <h3 class="text-secondary">
                            Reserva {{currentReservation.id}}
                        </h3>
                        <p class="text-secondary">{{currentReservation.fields.state}}</p>
                        <p class="text-secondary">
                            <span class="text-bold">
                                {{currentReservation.fields.customer_surname|uppercase}}
                                {{currentReservation.fields.customer_name|uppercase}}
                            </span>
                            <br/>
                            <span class="fa fa-envelope"></span>
                            {{currentReservation.fields.email}}

                            <br/>
                            <span class="fa fa-phone"></span>
                            {{currentReservation.fields.phone}}
                        </p>
                        <h4 class="text-bold">
                            {{currentReservation.fields.final_price|currency:''}}
                            <span class="text-danger">
                                {{currentReservation.fields.currency}}
                            </span>
                        </h4>
                    </div>
                    <hr/>
                </div>

                <div class="tab-pane fade tab-authenticate "
                    id="entity-auth-<%-compobj.id%>"
                    style="border:1px solid #ccc;border-top:0px;min-height:300px;background-color:#fff;"
                    role="tabpanel">

                </div>

                <div class="tab-pane fade tab-update-email "
                    id="entity-email-<%-compobj.id%>"
                    style="border:1px solid #ccc;border-top:0px;min-height:300px;background-color:#fff;"
                    role="tabpanel">

                </div>

                <div class="tab-pane fade tab-myaccount "
                    id="entity-home-<%-compobj.id%>"
                    style="border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="background-color:#fff;padding:10px;">
                        <div class="col-12 rs-padding" style="background-color:#fff;">
                            <img src="<%=STATIC_PATH%>/img/ghost_person_100x100_v1.png"
                                width="60px"
                                class="pull-left"
                                style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                            />

                            <h3 class="etx-text-primary">
                                {{userAccount.name|uppercase}}
                            </h3>
                            <h3 style="margin:0px;font-size:19px"
                                class="etx-text-secondary">
                                {{userAccount.email|uppercase}}
                            </h3>
                            <button class="btn btn-warning btn-round text-bold btn-account-logout "
                                ng-click="logout()"
                                style="color:#333">
                                LOGOUT
                            </button>
                        </div>

                        <div class="col-12 " style="background-color:#f4f4f4;">
                            <hr/>
                            <!--
                            <button class="btn btn-round btn-account-update text-bold etx-bg-success etx-text-white text-bold "
                                type="button"
                                ng-click="openUpdateScreen('<%=compobj.id%>')">
                                ATUALIZAR
                            </button>
                            -->

                            <div ng-init="fetchMyReservations(<%=compobj.id%>)"></div>

                            <div class="text-center"
                                style="padding-top:90px;padding-bottom:90px;"
                                ng-if="reservation_data.list.length==0">
                                <h3 class="text-secondary" style="margin:0px">
                                    SEM RESERVAS
                                </h3>
                                <p class="text-secondary" style="margin:0px">
                                    Explore os nossos hosts para adicionar
                                    suas reservas
                                </p>
                                <a class="btn btn-success btn-round text-bold text-white btn-sm "
                                    href="index.html"
                                    style="color:#333">
                                    <span class="fa fa-home"></span>
                                    IR AO INICIO
                                </a>
                            </div>

                            <h4 class="etx-text-secondary"
                                ng-if="reservation_data.list.length>0">MINHAS RESERVAS</h4>
                            <ul class="list-group">
                                <li class="list-group-item cursor-pointer reservation-item "
                                    ng-repeat="item in reservation_data.list"
                                    ng-click="viewReservation('<%=compobj.id%>', item)">
                                    <h3 class="text-secondary reservation-title">
                                        <small class="rex-date">{{item.createdAt}}</small><br/>
                                        <span class="rex-ref">
                                            Reserva {{item.id}}
                                        </span>
                                    </h3>
                                    <p class="text-secondary rex-state">{{item.fields.state}}</p>
                                    <p class="text-secondary rex-details">
                                        <span class="text-bold rex-name" >
                                            {{item.fields.customer_surname|uppercase}}
                                            {{item.fields.customer_name|uppercase}}
                                        </span>

                                        <br/>

                                        <span class="rex-email">
                                            <span class="fa fa-envelope"></span>
                                            {{item.fields.email}}
                                        </span>

                                        <br/>

                                        <span class="rex-phone">
                                            <span class="fa fa-phone"></span>
                                            {{item.fields.phone}}
                                        </span>
                                    </p>
                                    <h4 class="text-bold">
                                        {{item.fields.final_price|currency:''}}
                                        <span class="text-danger">
                                            {{item.fields.currency}}
                                        </span>
                                    </h4>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


