
<div class="container account-obj-container"
    ng-controller="x99EcommerceCart"
    ng-init="loadShoppingExp('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$ECF.name%>', '<%-$ECF.surname%>', '<%-$ECF.email%>', '<%-$ECF.user_phone%>', '<%-$ECF.description%>', '<%-$ECF.items%>', '<%-$ECF.services%>')">

    <div class="row rs-margin"
        style="margin-top:15px;min-height:500px;display:block;background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3);padding-top:15px;margin-bottom:10px;">

        <div class="col-12">
            <ul class="nav nav-tabs account-details " role="tablist"
                style="border:0px solid #fff;"
                id="account-details-<%compobj.id%>">
                <li role="presentation" 
                    class="nav-item ">
                    <a href="#acc-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active ">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#acc-details-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Acc details
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#acc-not-auth-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Not auth
                    </a>
                </li>
            </ul>

            <div class="tab-content" 
                ng-init="loadUser('<%-compobj.id%>', '<%= compobj.confObj.signin_url %>', '<%= compobj.confObj.signup_url %>')"
                id="account-details-container-<%-compobj.id%>">

                <div class="tab-pane fade tab-req-loading show active "
                    id="acc-loading-<%-compobj.id%>"
                    role="tabpanel">
                </div>

                <div class="tab-pane fade tab-req-loading "
                    id="acc-details-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin">
                        <div class="col-12 ">

                            <div class="alert alert-warning hidden text-left"
                                style="padding-top:10px;"
                                id="account-not-confirmed">
                                <h3 style="margin:0px" ng-if="!confirmation_sent">
                                    Conta N&atilde;o Confirmada
                                </h3>
                                <p ng-if="!confirmation_sent">
                                    A sua conta ainda nao foi confirmada.<br/>
                                </p>
                                <h3 style="margin:0px" ng-if="confirmation_sent">
                                    Confirmação Enviada
                                </h3>
                                <p ng-if="confirmation_sent">
                                    A confirma&ccedil;&atilde;o foi enviada para <strong>{{userAccount.email}}</strong>.
                                    <br/>
                                    Verifique tamb&eacute;m que o email n&atilde;o foi para o <strong>spam.</strong>
                                </p>

                                <button class="btn btn-warning xb-warning-grad btn-round text-bold btn-lg"
                                    ng-if="!confirmation_sent"
                                    ng-click="sendConfirmation()"
                                    style="color:#333">
                                    <span ng-if="!sending_conf">
                                        ENVIAR CONFIRMA&Ccedil;&Atilde;O
                                    </span>
                                    <span ng-if="sending_conf">
                                        AGUARDE....
                                    </span>
                                    <span ng-if="sending_error">
                                        TENTE NOVAMENTE
                                    </span>
                                </button>
                            </div>

                            <div class="alert alert-warning" ng-if="loading_add_from_purchase"
                                style="border-radius:0px;margin:0px;">
                                <h3 style="color:#333;font-size:19px;">
                                    <span class="fa fa-refresh fa-spin text-warning"></span>
                                    <br/>
                                    AGUARDE
                                </h3>
                            </div>

                            <div class="alert alert-success" ng-if="add_from_purchase"
                                style="border-radius:0px;margin:0px;">
                                <h3 style="font-size:23px">
                                    Adicionado com sucesso!<br/>
                                    <span style="font-size:17px;color:#333;">
                                        <!-- Carrinho contem  -->
                                        <strong>
                                        {{add_from_purchase.opMap}}
                                        </strong>
                                        items
                                    </span>
                                </h3>
                            </div>

                            <div class="alert alert-danger" ng-if="add_from_purchase_errors"
                                style="border-radius:0px;margin:0px;">
                                <h3 style="font-size:19px;">
                                    N&atilde;o foi possivel concluir.
                                </h3>
                                <p style="margin:0px;"
                                    ng-bind="e"
                                    ng-repeat="e in add_from_purchase_errors">
                                </p>
                            </div>
                        </div>

                        <div class="col-12 rs-padding account-menu-dropdown-container" 
                            >
                            <div class="dropdown account-menu-options-dropdown">
                              <a id="dLabel" data-target="#" 
                                class="btn btn-lg btn-round btn-default btn-block active-dropdown-item"
                                 data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"
                                 >
                                {{current_select_tab['#account-menu-<%compobj.id%>'].label}}
                                <span class="caret"></span>
                              </a>

                              <ul class="dropdown-menu dropdown-menu-account-ecom" role="menu" 
                                aria-labelledby="dLabel">
                                <li role="presentation" class="">
                                    <a href="javascript:void(0)" ng-click="selectTab('#account-menu-<%compobj.id%>', '#entity-home-<%-compobj.id%>')"
                                        ng-init="selectTab('#account-menu-<%compobj.id%>', '#entity-home-<%-compobj.id%>')"
                                        class="nav-link">
                                        <span class="fa fa-credit-card"></span>
                                        FINALIZAR COMPRA</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="javascript:void(0)" 
                                        ng-click="selectTab('#account-menu-<%compobj.id%>', '#entity-shopping-list-<%-compobj.id%>')"
                                            class="nav-link">
                                            <span class="fa fa-shopping-cart"></span>
                                            MINHAS COMPRAS</a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="javascript:void(0)" 
                                        ng-click="selectTab('#account-menu-<%compobj.id%>', '#entity-payment-list-<%-compobj.id%>')"
                                        class="nav-link">
                                        <span class="fa fa-credit-card"></span>
                                        MEUS PAGAMENTOS</a>
                                </li>
                              </ul>
                            </div>

                            <ul class="nav nav-tabs account-menu " role="tablist"
                                id="account-menu-<%=compobj.id%>"
                                style="border-bottom:4px solid #ffc107;">
                                <li role="presentation" 
                                    class="nav-item ">
                                    <a href="#entity-req-loading-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold active ">
                                        Loading
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item"
                                    style="">
                                    <a href="#entity-home-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        style="margin-right: 15px;border-radius:0px;"
                                        class="nav-link text-bold  ">
                                        <span class="fa fa-shopping-cart"></span>
                                        FINALIZAR COMPRA
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item"
                                    style="">
                                    <a href="#entity-shopping-list-<%-compobj.id%>" 
                                        style="border-radius:0px;"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold ">
                                        MINHAS COMPRAS
                                        <span class="badge bg-danger text-white"
                                            ng-bind="cart_data.totalCount"></span>
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item"
                                    style="">
                                    <a href="#entity-payment-list-<%-compobj.id%>" 
                                        style="border-radius:0px;"
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold ">
                                        <span class="fa fa-card"></span>
                                        MEUS PAGAMENTOS
                                        <span class="badge bg-danger text-white"
                                            ng-bind="billing_list.totalCount||0"></span>
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item "
                                    style="display:none">
                                    <a href="#my-account-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold">
                                        MINHA CONTA
                                    </a>
                                </li>

                                <li role="presentation" 
                                    class="nav-item "
                                    style="display:none">
                                    <a href="#repurchase-<%-compobj.id%>" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link text-bold">
                                        MINHA CONTA
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 rs-padding">
            <textarea style="display:none;"
                id="<%=compobj.id%>-services"><%=
                promRes && promRes.cart_conf ?
                JSON.stringify(promRes.cart_conf.services) : '' %></textarea>

            <div class="tab-content" 
                ng-init="initServices('#<%= compobj.id%>-services')"
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-req-loading show active "
                    id="entity-req-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        style="padding-top:155px;font-size:45px;">
                        <span class="fa fa-refresh fa-spin text-warning"></span>
                    </h3>
                    <h3 class="text-center"
                        style="margin:0px;color:#7d7b7b;">
                        AGUARDE
                    </h3>
                </div>

                <div class="tab-pane fade tab-req-proforma "
                    id="entity-req-proforma-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
                        <div class="col-12" style="">
                            <h3 style="padding-bottom:0px;padding-top:15px;margin:0px;"
                                ng-if="has_items">
                                <span class="text-primary fa fa-document"
                                    style="font-size:44px;"></span>
                                    <span ng-bind="'Requisitar proforma'"></span>
                            </h3>

                            <h3 style="font-size:24px;color:#666;padding:0px;margin:0px;padding-left:0px;margin-bottom:10px;">
                              Preencha o formul&aacute;rio para requisitar a sua proforma.
                            </h3>
                            <hr/>
                        </div>

                        <div class="col-md-6 col-lg-7 col-sm-12 col-xs-12">

                            <div class="alert alert-warning text-center" 
                                ng-if="loading_proforma">
                                <i class="fa fa-refresh fa-spin"></i>
                                Processando
                            </div>

                            <div class="alert alert-danger text-center" 
                                ng-if="proforma_error">
                                <i class="fa fa-times"></i>
                                <h4>A sua solicitação não pode ser processada.</h4>
                                Verifique todos os campos.
                            </div>

                            <div class="alert alert-success text-center avaliation-success" 
                                ng-if="proforma_done">
                                <i class="fa fa-check" style="font-size:50px;" ></i>
                                <br/>
                                <h3>
                                    A sua proforma foi gerada com sucesso.<br/>
                                </h3>
                                <a href="<%= WS_HOST %>/billing/view-proforma/{{last_proforma_id}}" 
                                    target="__blank"
                                    class="btn btn-danger text-white text-bold btn-round btn-lg">
                                    ABRIR
                                </a>
                            </div>

                            <form name="profrForm" 
                                ng-if="!proforma_done"
                                ng-submit="saveProforma(profrForm, 
                                '<%=compobj.id%>')">

                                <div class="form-group">
                                    <label class="cart-label">NIF *</label>
                                    <input type="text" ng-model="profObj.nif" 
                                        required
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Nome *</label>
                                    <input type="text" ng-model="profObj.name" 
                                        required
                                        class="form-control cart-input" />
                                </div>

                                <div class="form-group">
                                    <label class="cart-label">Sobrenome *</label>
                                    <input type="text" ng-model="profObj.surname" 
                                        required
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Email *</label>
                                    <input type="email" ng-model="profObj.email"
                                        required 
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Numero de Telefone *</label>
                                    <input type="text" ng-model="profObj.phone" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Endere&ccedil;o</label>
                                    <input type="text" ng-model="profObj.address" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Cidade</label>
                                    <input type="text" ng-model="profObj.city" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Pais</label>
                                    <input type="text" ng-model="profObj.country" 
                                        required
                                        class="form-control cart-input cart-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Observações</label>
                                    <textarea class="form-control cart-textarea" 
                                        ng-model="profObj.msg"
                                        rows="3"></textarea>
                                </div>


                                <button class="btn btn-lg bg-success text-white btn-round text-bold"
                                    ng-disabled="loading_proforma"
                                    type="submit">
                                    <span ng-if="loading_request"
                                        class="fa fa-refresh fa-spin"></span>
                                    <span ng-if="!loading_proforma">
                                        Guardar
                                    </span>
                                    <span ng-if="loading_proforma">
                                        Aguarde
                                    </span>
                                </button>
                            </form>
                        </div>

                        <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12"
                            style="margin-top:15px;">
                            <table class="table table-striped">
                                <thead class="xb-grad">
                                    <th>
                                        DESIGN.
                                    </th>
                                    <th>
                                        PREÇO
                                    </th>
                                    <th>
                                        QTD
                                    </th>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in cartObj.item_list">
                                        <td class="text-bold">
                                            {{item.label}}
                                        </td>
                                        <td>
                                            {{item.price|currency:''}}
                                            {{item.currency}}
                                        </td>
                                        <td>
                                            {{item.amount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h2 class="text-left">
                                <span class="text-muted "
                                    style="font-size:17px;">
                                    TOTAL
                                </span>
                                <br/>
                                {{total_in_cart|currency:''}}
                                <span class="etx-text-danger">
                                    <strong>CVE</strong>
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- BILLINGS & PAYMENTS -->
                <div class="tab-pane fade tab-shopping-list "
                    id="entity-payment-list-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;background-color:#f4f4f4;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <center ng-if="billing_list.totalCount==0">
                        <h3 style="padding-top:20px;margin:0px;color:#666;"
                            class="text-center">
                            <span class="fa fa-credit-cart"></span>
                            <span ng-bind="'Os seus pagamentos vão aparecer aqui.'"></span>
                        </h3>
                        <!--
                            <a class="btn etx-bg-danger btn-round text-center text-bold"
                                style="margin-top:15px;"
                                href="index.html">
                                <span class="fa fa-home"></span>
                                <span ng-bind="'Leve me ao inicio'"></span>
                            </a>
                        -->
                    </center>

                    <center>
                        <button class="btn bg-warning btn-lg text-bold btn-round btn-bill-refresh btn-warning-grad text-center"
                            style="margin-bottom:10px;"
                            ng-disabled="loading_billings"
                            ng-click="loadBillings('<%=compobj.id%>')"
                            type="button">
                            <span ng-class="{'fa fa-refresh':true,
                                             'fa-spin': loading_billings}"></span>
                            ACTUALIZAR
                        </button>
                    </center>

                    <div class="list-group-item"
                        ng-repeat="bill in billing_list.list"
                        style="border-top:5px solid #333;margin-bottom:15px;">

                        <div class="list-group">
                            <div class="cursor-pointer">

                                <h4 class="text-danger" style="font-size:15px;">
                                    <span class="etx-text-secondary">
                                        <i class="fa fa-clock"></i>
                                        ({{moment(bill.createdAt).fromNow()}})
                                    </span>
                                    <span class="text-underlined">
                                        {{bill.createdAt}}
                                    </span>
                                </h4>

                                <h3 class="pull-left" style="margin:0px;color:#333;"
                                    ng-if="bill.fields['<%=$BLF.state%>']!='PAYED'">
                                    FATURA <small>{{bill.id.slice(0,6)}}</small>
                                </h3>
                                <h3 class="pull-left etx-text-success" style="margin:5px"
                                    ng-if="bill.fields['<%=$BLF.state%>']=='PAYED'">
                                    RECIBO <small>{{bill.id.slice(0,6)}}</small>
                                </h3>

                                <div class="text-right" style="">
                                    <img src="<%=WS_HOST%>/img/payment-img/vinti4.png" class="text-center" style="width:40px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/visacard.png" class="text-center" style="width:52px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png" class="text-center" style="width:61px;margin-right:10px;">
                                    <img src="<%=WS_HOST%>/img/payment-img/mastercard.png" class="text-center" style="width:69px;">
                                </div>

                                <div ng-if="bill.fields['<%=$BLF.context%>']=='CART_BILLING'"
                                    style="clear:both;"
                                    class="well">
                                    <h3 class="etx-text-secondary" 
                                        style="margin:5px;font-size:18px;">
                                        <!-- {{bill.fields['<%=$BLF.description%>'].toUpperCase()}} -->
                                        <strong>Referente a:</strong><br/>
                                    </h3>
                                    <a href="{{bill.fields['<%=$BLF.epay_host%>']}}/ecommerce-cms/carts/{{bill.fields['<%=$BLF.context_id%>']}}/watch">
                                        <strong>
                                            <span class="fa fa-shopping-cart"></span>
                                            CARRINHO {{bill.fields['<%=$BLF.context_id%>']}}
                                        </strong>
                                    </a>
                                </div>

                                <h2 class="pull-right" 
                                    style="margin:0px;">
                                    <!-- <span style="font-size:18px;" class="text-muted">Total </span> -->
                                    {{bill.fields['<%=$BLF.total%>']|currency:''}} 
                                    <strong class="text-danger">
                                        {{bill.fields['<%=$BLF.currency%>'].toUpperCase()}} 
                                    </strong>
                                </h2>

                                <a  href="{{bill.viewLink}}"
                                    target="__blank"
                                    ng-if="bill.fields['<%=$BLF.state%>']=='PAYED'"
                                    class="btn btn-primary text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    VER RECIBO
                                </a>
                                <a  href="{{bill.viewLink}}"
                                    target="__blank"
                                    ng-if="bill.fields['<%=$BLF.state%>']=='PUBLISHED'"
                                    class="btn btn-success text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    PAGAR AGORA
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- LISTA DE COMPRAS -->
                <div class="tab-pane fade tab-shopping-list "
                    id="entity-shopping-list-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;background-color:#f4f4f4;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <center ng-if="!cart_data.list|| cart_data.list.length==0">
                        <h3 style="padding-top:20px;margin:0px;"
                            class="text-center">
                            <span class="fa fa-shopping-cart"></span>
                            <span ng-bind="'Todas as suas compras ficam aqui.'"></span>
                        </h3>

                        <p class="text-muted text-center">
                            <span ng-bind="'Visite a nossa loja para efectuar a sua primeira compra.'"></span>
                        </p>
                        <a class="btn etx-bg-danger btn-round text-center text-bold"
                            href="index.html">
                            <span class="fa fa-home"></span>
                            <span ng-bind="'Leve me ao inicio'"></span>
                        </a>
                    </center>

                    <div class="list-group-item"
                        ng-repeat="cart in cart_data.list"
                        style="border-top:5px solid #333;margin-bottom:15px;">

                        <div class="list-group">
                            <div class="cursor-pointer">

                                <h3 class="pull-right" 
                                    style="margin-top:10px;font-size:19px;">
                                    <!-- <span style="font-size:18px;" class="text-muted">Total </span> -->
                                    {{cart.total_products|currency:''}} 
                                    <strong class="text-muted">CVE</strong>
                                    <br/>
                                    {{cart.count_products|currency:''}} <small class="">items</small>
                                </h3>

                                <h4 class="text-danger">
                                    <i class="fa fa-clock"></i>&nbsp;
                                    <span class="text-underlined">
                                    {{cart.createdAt}}
                                    </span>
                                </h4>

                                <a  href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cart.id}}/watch"
                                    target="__blank"
                                    class="btn btn-primary text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    <h3 style="margin:0px">
                                        <span class="fa fa-shopping-cart"></span>
                                        Carrinho
                                        <span class="text-muted text-right"
                                            style="font-size:20px;">
                                            <small>
                                                {{cart.id}}
                                            </small>
                                        </span>
                                    </h3>
                                </a>

                                <button ng-click="purchaseFromOrder('<%=compobj.id%>', cart.id)" 
                                    target="__blank"
                                    class="btn etx-bg-danger text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    COMPRAR
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ONLINE PAYMENT FOR CART -->
                <div class="tab-pane fade tab-cart "
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    __ecomerceCartBuy__
                </div>

                <!-- RE-PURCHASE CART -->
                <div class="tab-pane fade tab-not-auth "
                    id="repurchase-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">

                    <div class="text-center"
                        ng-if="loading_purchase_order">
                        <h3 class="text-secondary">
                            <span class="fa fa-refresh fa-spin text-warning"></span>
                            <br/>
                            CARREGANDO
                        </h3>
                    </div>

                    <div class="text-center"
                        ng-if="loading_purchase_fail">
                        <h3 class="text-secondary">
                            FALHA AO CARREGAR
                        </h3>
                    </div>

                    <div class="row rs-margin" ng-if="purchaseData">
                        <div class="col-12 rs-padding">
                            <span class="badge bg-primary text-white text-bold cursor-pointer"
                                ng-click="toShoppingList('<%=compobj.id%>')">
                                VOLTAR
                            </span>
                            <h3 style="font-size:22px;color:#666;margin:0px;"
                                class="pull-right produts-count-title"> 
                                <span style="color:#333">
                                    {{purchaseData.items.length}} 
                                </span>
                                produtos
                            </h3>

                            <h3 style="font-size:22px;color:#666;margin:0px;"
                                >
                                Carrinho 
                                <span class="text-secondary"
                                    style="font-size:17px;color:#333">({{purchaseData.id}})</span>
                            </h3>

                        </div>

                        <div class="col-12">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-lg-9 col-sm-12 col-md-12 rs-padding">
                                        <div class="input-group">
                                            <input type="text" ng-model="searchQ" 
                                                class="form-control" 
                                                placeholder="Filtrar" 
                                            />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-12 col-md-12 rs-padding">
                                        <button class="text-bold btn etx-bg-danger text-white btn-block" 
                                            type="button"
                                            ng-click="addAllPurchase('<%=compobj.id%>')">
                                            <span class="fa fa-plus"></span>
                                            ADICIONAR TODOS
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-12 rs-padding"
                            style="max-height: 400px;overflow:hidden;overflow-y:scroll">

                              <div class="cursor-pointer ecommerce-it-container ecommerce-v2-item"
                                ng-repeat="item in purchaseData.items|filter: searchQ track by $index">
                                  <div class="card ecommerce-item">

                                    <div style="height:220px;max-width:170px;max-height:170px;background:url('{{item.image}}');background-size:cover;"
                                        class="prod-bg-image"
                                        ng-click="openProduct(item, '<%-compobj.id%>')">
                                    </div>

                                    <div class="card-body">
                                        <h4 class="ecommerce-item-title text-center text-bold" 
                                          ng-click="openProduct(item, '<%-compobj.id%>')"
                                          ng-bind="item.label">
                                        </h4>

                                        <h4 class="card-title text-danger ecommerc-item-price text-center"
                                          ng-click="openProduct(item, '<%-compobj.id%>')">
                                          <span class="item-price" ng-bind="item.price|currency:''"></span>
                                          <span class="item-currency" ng-bind="item.currency"></span>
                                        </h4>

                                        <div>
                                          <button class="btn bg-white text-bold btn-block btn-add-cart"
                                            style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                                            ng-click="openCartSuper('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                            >
                                            <span class="fa fa-shopping-cart"></span>
                                            ADICIONAR
                                            <span style="color:#333;"
                                              class="item-amount"
                                              id="item-amount-{{item.id}}">
                                            </span>
                                          </button>
                                        </div>

                                    </div> 
                                  </div>
                              </div>

                        </div>
                    </div>
                </div>

                <!-- USER NOT AUTH -->
                <div class="tab-pane fade tab-not-auth "
                    id="acc-not-auth-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;"
                    role="tabpanel">

                    <h3 class="text-center">
                        Autentique-se ou crie uma conta para continuar.
                    </h3>

                    <center>
                        <div>
                            <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
                                ng-if="'<%= compobj.confObj.signin_url %>'=='UX_MODAL'"
                                ng-disabled="loading_cart_request"
                                ng-click="openLoginModal()"
                                type="button">
                                <span class="fa fa-user-badge"></span>
                                LOGIN
                            </button>

                            <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
                                ng-disabled="loading_cart_request"
                                ng-if="'<%= compobj.confObj.signup_url %>'=='UX_MODAL'"
                                ng-click="openSignupModal()"
                                type="button">
                                <span class="fa fa-user-badge"></span>
                                CRIAR CONTA
                            </button>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
