<div class="row rs-margin user-bar-container"
    style="background-color:#000;padding-top:35px;padding-bottom:55px;"
    ng-controller="AuthController"
    ng-init="loadUser()">
    <div class="col-12 text-center"
        style="min-height:150px;">
        <div id="user-account-details" class="hidden"
            >

            <img src="/img/ghost_person_100x100_v1.png"
                width="60px"
                class=""
                style="border-radius:50px;margin-bottom:10px;"
            />

            <h3 style="margin:0px;color:#fff"
                class="account-name">
                {{userObj.name_fmt|uppercase}}
                <span class="badge bg-success text-white hidden"
                    style="font-size:18px;"
                    id="account-verified"
                    ng-if="userObj.state=='CONFIRMED'">
                    <span class="fa fa-check"></span>
                </span>
            </h3>
            <h3 style="margin:0px;">
                <small class="text-white etx-text-white etx-bg-secondary btn btn-sm btn-round text-bold"
                    style="font-size:15px;">{{userObj.email|uppercase}}</small>
                <!--
                <small class="text-muted"
                    style="font-size:18px;">{{userObj.id}}</small>
                -->
            </h3>
            <!--
            <button class="btn btn-warning btn-round text-bold btn-sm"
                ng-click="logout()"
                style="color:#333">
                LOGOUT
            </button>
            <button class="btn bg-primary btn-round etx-text-white text-bold btn-sm"
                ng-click="myAccount()">
                MINHA CONTA
            </button>
            -->
        </div>

        <!--
        <h2>
            PromRes: 
            <%=promRes.cart_conf%>
        </h2>
        -->

        <div class="alert alert-info hidden text-left"
            id="user-invitation"
            style="">
            <h4 style="margin:0px;">
            Humm n&atilde;o parece ter uma conta.
            </h4>
            <p>
                Crie um conta para acompanhar todos os seus carrinhos e tambem 
                receber nossas ofertas, promo&ccedil;&otilde;es e novidades.<br/>
                Se j&aacute; possui uma conta clique em <strong>LOGIN</strong>.
            </p>
            <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
                ng-disabled="loading_request"
                ng-click="openSignupModal()"
                type="button">
                <span class="fa fa-user-badge"></span>
                CRIAR CONTA
            </button>
            <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
                ng-disabled="loading_request"
                ng-click="openLoginModal()"
                type="button">
                <span class="fa fa-user-badge"></span>
                LOGIN
            </button>
        </div>

    </div>

</div>

<div class="container account-obj-container"
    style="margin-top:-65px;margin-top:0px;"
    >
    <div class="row rs-margin"
        style="margin-top:15px;"
        ng-controller="x99EcommerceCart">

        <div class="col-12">

            <ul class="nav nav-tabs account-menu " role="tablist"
                style="border-bottom:10px solid #fff;">
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        style="margin-right: 15px;"
                        class="nav-link text-bold active">
                        <span class="fa fa-shopping-cart"></span>
                        MY ACCOUNT (SUPPORT)
                    </a>
                </li>

                <!--
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-shopping-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Minhas Compras 
                        <span class="badge bg-danger text-white"
                            ng-bind="cart_data.totalCount"></span>
                    </a>
                </li>
                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-token-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Meus pontos
                    </a>
                </li>
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-proforma-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Proforma
                    </a>
                </li>
                -->
            </ul>

            <div class="tab-content" 
                ng-init="initServices('#<%= compobj.id%>-services')"
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-req-proforma "
                    id="entity-req-proforma-<%-compobj.id%>"
                    role="tabpanel">
                </div>

                <div class="tab-pane fade tab-shopping-list "
                    id="entity-shopping-list-<%-compobj.id%>"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">
                </div>

                <div class="tab-pane fade tab-cart show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <h3>Account Support</h3>

                    <h2>
                        account_url:
                        <a href="<%=compobj.confObj.account_url %>">
                            <%=compobj.confObj.account_url %>
                        </a>
                    </h2>

                </div>

                <div class="tab-pane fade tab-req-token-list  "
                    ng-init="initToken('<%= compobj.confObj.token_id %>', '<%= compobj.id %>')"
                    id="entity-token-list-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="background-color:#fff;min-height:450px;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
                        <div class="col-12 text-center" 
                            style="padding:15px;">
                            <h3>
                                <span class="fa fa-user"></span>
                                {{auth.name|uppercase}}<br/>
                                <span class="text-muted"
                                    style="font-size:19px;">
                                    {{auth.email|uppercase}}
                                </span>
                                <br/>
                                <span class="text-primary"
                                    style="font-size:14px;">
                                    ({{auth.id}})
                                </span>
                            </h3>
                        </div>

                        <div class="col-12 text-right cursor-pointer" 
                            style="padding-top:80px;padding-bottom:10px;">
                            <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                Verificado &amp; Protegido por
                            </p>
                            <a href="https://enterstarts.com" 
                                target="__blank">
                                <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                    class="text-center"
                                    style="width:220px;" 
                                />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


