<div class="row rs-margin" 
    ng-controller="AuthController">

    <div class="col-12" style="min-height:400px;">
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" 
                style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#etx-feed-loading-<%=compobj.id%>" 
                        aria-controls="etx-feed-<%=compobj.id%>" role="tab" 
                        class="nav-link active"
                        data-toggle="tab">
                        LOADING
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#etx-feed-profile-<%=compobj.id%>" 
                        aria-controls="etx-feed-profile-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        PROFILE
                    </a>
                </li>
                <li role="presentation" class="nav-item" >
                    <a href="#etx-feed-auth-<%=compobj.id%>" 
                        aria-controls="etx-feed-auth-<%=compobj.id%>" role="tab" 
                        class="nav-link "
                        data-toggle="tab">
                        AUTH
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="etx-feed-loading-<%=compobj.id%>">

                    <div ng-init="VerifyProfile('<%=compobj.id%>')"></div>

                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;">
                        <span class="fa fa-refresh fa-spin text-warning "></span>
                        <br/>
                        <span class="text-secondary text-bold">
                        VERIFICANDO SEU PERFIL
                        </span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane" id="etx-feed-auth-<%=compobj.id%>">
                    <h3 class="text-center"
                        style="padding-top:100px;padding-bottom:100px;">
                        <span class="text-secondary text-bold">
                            AUTENTIQUE-SE PARA CONTINUAR
                        </span>
                    </h3>
                </div>

                <div role="tabpanel" class="tab-pane " id="etx-feed-profile-<%=compobj.id%>">
                    <!-- <div ng-init="loadProfile('<%=compobj.id%>')"></div> -->

                    <div class="row rs-margin">

                        <div class="col-8 profile-details-board">
                            <div class="alert alert-danger" ng-if="errors">
                                <h3 ng-bind="'Não foi possivel concluir.'"></h3>
                                <p ng-repeat="err in errors"
                                    ng-bind="err">
                                </p>
                            </div>

                            <div class="alert alert-warning" 
                                ng-if="is_verifying">
                                <h3 class=""
                                    style="color:#333;">
                                    <span class="fa-spin fa fa-refresh text-warning "></span>
                                    <span class="text-secondary text-bold">
                                    HOLD ON
                                    </span>
                                </h3>
                            </div>

                            <div class="alert alert-success" 
                                ng-if="profile_saved">
                                <h3 class=""
                                    style="color:#333;">
                                    <span class=" text-bold">
                                        SUCCESSFULLY UPDATED
                                    </span>
                                </h3>
                            </div>

                            <h3 class="text-secondary">Update Your Profile</h3>
                            <p class="text-secondary"><span class="text-danger">(*)</span> Mandatory Fields</p>
                            <form name="pForm" 
                                ng-submit="updateProfile(pForm)">
                                <div class="form-group">
                                    <label><strong>Gender</strong></label>
                                    <select class="form-control"
                                        required
                                        ng-model="editprofileObj.cGender">
                                        <option value="MALE">
                                            MALE
                                        </option>
                                        <option value="FEMALE">
                                            FEMALE
                                        </option>
                                        <option value="OTHER">
                                            OTHER
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><strong>Birthdate</strong></label>
                                    <input class="form-control v3-input" type="date"
                                        ng-model="editprofileObj.cBirthdate" />
                                </div>

                                <div class="form-group">
                                    <label><strong>Country of Residence</strong></label>
                                    <input class="form-control v3-input" type="text"
                                        ng-model="editprofileObj.rCountry" />
                                </div>

                                <div class="form-group">
                                    <label><strong>State</strong></label>
                                    <input class="form-control v3-input" type="text"
                                        ng-model="editprofileObj.rState" />
                                </div>

                                <div class="form-group">
                                    <label><strong>Address</strong></label>
                                    <input class="form-control v3-input" type="text"
                                        ng-model="editprofileObj.rAddress" />
                                </div>

                                <div class="form-group">
                                    <label><strong>Address 1</strong></label>
                                    <input class="form-control v3-input" type="text"
                                        ng-model="editprofileObj.rAddress_1" />
                                </div>

                                <div class="form-group">
                                    <label><strong>BIO</strong></label>
                                    <textarea class="form-control v3-textarea"
                                        ng-model="editprofileObj.Bio" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success text-bold btn-round btn-lg btn-save-profile"
                                    ng-disabled="saving_profile">
                                    <span ng-if="!saving_profile">
                                        SAVE
                                    </span>
                                    <span ng-if="saving_profile">
                                        HOLD ON
                                    </span>
                                </button>
                                <!--
                                <button type="button" class="btn btn-danger text-bold btn-round btn-lg"
                                    ng-click="disableEditProfile()">
                                    CANCEL
                                </button>
                                -->
                            </form>
                        </div>

                        <div class="col-4 text-center">
                            <div class="text-center "
                                ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-max-size="2MB"
                                ngf-select="uploadProfileFoto('<%=compobj.id%>', $file)"
                                style="height:120px;background-size:cover;background-image:url('{{editprofileObj.image.download_url}}');width:120px;border-radius:240px;margin:auto;">
                                <div class="button btn btn-success text-white cursor-pointer" 
                                    style="background:rgba(0,0,0,.3);margin-top:40px;">
                                    <span class="fa fa-image"></span>
                                </div>
                            </div>

                            <h4 class="rs-margin" >
                                {{etxProfile.name|uppercase}}
                            </h4>
                            <h4 class="rs-margin" >
                                <small style="font-size:13px;opacity:.5;" class="text-secondary">
                                    <span style="border-right:7px solid #{{etxProfile.id.slice(0,3)}}"></span>
                                    <span style="border-right:8px solid #{{etxProfile.id.slice(3,6)}}"></span>
                                    <span style="border-right:6px solid #{{etxProfile.id.slice(6,9)}}"></span>
                                    <span style="border-right:9px solid #{{etxProfile.id.slice(9,11)}}"></span>
                                    <span style="border-right:8px solid #{{etxProfile.id.slice(11,14)}}"></span>
                                </small>
                                <small style="font-size:13px;" class="text-secondary">
                                    {{etxProfile.id|uppercase}}
                                </small>
                            </h4>
                            <p class="text-secondary rs-margin">
                                {{etxProfile.email|uppercase}}
                            </p>
                            <p class="text-secondary rs-margin">
                                <strong>(+{{etxProfile.phoneCode}})</strong>
                                <span class="text-bold text-success">{{etxProfile.phone}}</span>
                            </p>
                            <p class="text-secondary rs-margin">
                                Last Update: {{editprofileObj.LastUpdate}}
                            </p>

                            <a href="my-account.html" class="btn btn-primary text-bold btn-round btn-sm btn-save-profile"
                                style="opacity:.6;"
                                ng-disabled="saving_profile">
                                <span ng-if="!saving_profile">
                                    <span class="fa fa-gear"></span>
                                    UPDATE ACCOUNT
                                </span>
                            </a>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


