<div class="<%-compobj.fields[$PCF.comp_size] %> account-obj-container"
    id="account-support-container-<%=compobj.id%>"
    style="margin-top:-65px;margin-top:0px;"
    ng-controller="FChainController"
    ng-init="loadUser('<%=compobj.id%>')"
    >
    <div class="row rs-margin"
        style="margin-top:40px;">

        <div class="col-12 text-center"
            style="min-height:150px;">
            <div id="user-account-details" class="hidden"
                >

                <img src="/img/ghost_person_100x100_v1.png"
                    width="60px"
                    class=""
                    style="border-radius:50px;margin-bottom:10px;"
                />

                <h3 style="margin:0px;color:#000"
                    class="account-name">
                    {{localUser.name_fmt|uppercase}}
                    <span class="badge bg-success text-white hidden"
                        style="font-size:18px;"
                        id="account-verified"
                        ng-if="localUser.state=='CONFIRMED'">
                        <span class="fa fa-check"></span>
                    </span>
                </h3>
                <h3 style="margin:0px;">
                    <small class="text-white etx-text-white etx-bg-secondary btn btn-sm btn-round text-bold"
                        style="font-size:15px;">{{localUser.email|uppercase}}</small>
                    <!--
                    <small class="text-muted"
                        style="font-size:18px;">{{authUser.id}}</small>
                    -->
                </h3>
                <button class="btn btn-warning btn-round text-bold btn-sm"
                    ng-click="logout()"
                    style="color:#333">
                    LOGOUT
                </button>
                <!--
                <button class="btn bg-primary btn-round etx-text-white text-bold btn-sm"
                    ng-click="myAccount()">
                    MINHA CONTA
                </button>
                -->
            </div>

            <!--
            ng-init="loadUser()"
            <h2>
                PromRes: 
                <%=promRes.cart_conf%>
            </h2>
            -->

            <div class="alert alert-info hidden text-left"
                id="user-invitation"
                style="">
                <h4 style="margin:0px;">
                Humm n&atilde;o parece ter uma conta.
                </h4>
                <p>
                    Crie um conta para acompanhar todos os seus carrinhos e tambem 
                    receber nossas ofertas, promo&ccedil;&otilde;es e novidades.<br/>
                    Se j&aacute; possui uma conta clique em <strong>LOGIN</strong>.
                </p>
                <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
                    ng-disabled="loading_request"
                    ng-click="openSignupModal()"
                    type="button">
                    <span class="fa fa-user-badge"></span>
                    CRIAR CONTA
                </button>
                <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
                    ng-disabled="loading_request"
                    ng-click="openLoginModal()"
                    type="button">
                    <span class="fa fa-user-badge"></span>
                    LOGIN
                </button>
            </div>
        </div>

        <div class="col-12">

            <ul class="nav nav-tabs account-menu " role="tablist"
                style="border-bottom:10px solid #fff;">

                <li role="presentation" 
                    class="nav-item"
                    style="display:none">
                    <a href="#entity-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        style="margin-right: 15px;"
                        class="nav-link text-bold ">
                        <span class="fa fa-shopping-cart"></span>
                        MY ACCOUNT 
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-billings-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        BILLINGS
                    </a>
                </li>


                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-update-account-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Update My Account
                    </a>
                </li>

                <!--
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-proforma-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Proforma
                    </a>
                </li>
                -->
            </ul>

            <div class="tab-content" 
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-loading-req show active "
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="entity-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        ng-if="loading_account"
                        style="padding-top:155px;color:#7d7b7b;">
                        <span class="fa fa-refresh fa-spin"></span>
                        Carregando
                    </h3>

                    <h3 class="text-center etx-text-danger"
                        ng-if="loading_account_error"
                        style="padding-top:155px;">
                        <span class="fa fa-times etx-text-white"></span>
                        Nao foi possivel carregar a sua conta.<br/>
                        Tente novamente mais tarde.
                    </h3>

                </div>

                <div class="tab-pane fade tab-update-account "
                    id="entity-update-account-<%-compobj.id%>"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">
                    <h1>Update My Account</h1>

                    <div class="alert alert-warning"
                        ng-if="saving_account">
                        <h3>Aguarde</h3>
                        <span class="fa fa-refresh fa-spin"></span>
                    </div>
                    <div class="alert alert-danger"
                        ng-if="save_account_errors">
                        <h3>Nao foi possivel concluir a operacao</h3>
                        <span class="fa fa-times"></span>
                        <p ng-repeat=""></p>
                    </div>
                    <div class="alert alert-success"
                        ng-if="save_account_success">
                        <h3>Completada com sucesso.</h3>
                        <span class="fa fa-check"></span>
                    </div>

                    <form name="accountForm" 
                        ng-submit="saveMyAccount(accountForm)">
                        <h3>
                            <span class="badge etx-text-white etx-bg-primary">
                            {{userAccount.id}}
                            </span>
                        </h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" 
                                required
                                disabled
                                ng-model="accountReq.email"
                            />
                        </div>
                        <div class="form-group">
                            <label >Nome</label>
                            <input type="text" class="form-control" 
                                required
                                ng-model="accountReq.name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefone</label>
                            <input type="text" class="form-control" 
                                required
                                ng-model="accountReq.phone"
                            />
                        </div>
                        <button type="submit" class="btn btn-success text-bold btn-round"
                            ng-disabled="saving_account">
                            <span ng-if="!saving_account">
                                Guardar
                            </span>
                            <span ng-if="saving_account">
                                Aguarde
                            </span>
                        </button>
                    </form>
                </div>

                <div class="tab-pane fade tab-billings "
                    id="entity-billings-<%-compobj.id%>"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">
                    <h1>Billings</h1>
                </div>

                <div class="tab-pane fade tab-cart "
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="min-height:450px;background-color:#fff;padding:10px;">
                        <div class="col-12">
                            <h3 class="etx-text-primary">
                                {{localUser.name_fmt|uppercase}}
                            </h3>
                            <h3 style="margin:0px;font-size:19px"
                                class="etx-text-secondary">
                                {{localUser.email|uppercase}}
                            </h3>

                            <h3 class="etx-text-black xb-grad"
                                style="font-size:19px;margin:0px;margin-top: 25px;padding: 10px;">
                                <!--
                                account_url:
                                <a href="<%=compobj.confObj.account_url %>">
                                    <%=compobj.confObj.account_url %>
                                </a>
                                -->
                                Detalhes da sua conta
                            </h3>

                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="text-bold">
                                            ID da conta
                                        </td>
                                        <td class="etx-text-primary text-bold">
                                            {{userAccount.id}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Nome Completo
                                        </td>
                                        <td class="text-bold">
                                            {{userAccount.name|uppercase}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Telefone
                                        </td>
                                        <td class="text-bold text-success">
                                            {{userAccount.phone|uppercase}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Tipo de conta
                                        </td>
                                        <td>
                                            <span class="badge etx-bg-secondary etx-text-white">
                                                {{userAccount.type|uppercase}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Estado
                                        </td>
                                        <td>
                                            <span class="badge etx-bg-secondary etx-text-white">
                                                {{userAccount.state|uppercase}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Data de cria&ccedil;&atilde;o
                                        </td>
                                        <td class="text-bold text-muted">
                                            {{userAccount.createdAt}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-round etx-bg-success etx-text-white text-bold">
                                Update My Account
                            </button>

                            <div class="pull-right">
                                <p class="text-muted text-center" style="padding:0px;margin:0px;font-size:14px;">
                                    Verificado &amp; Protegido por
                                </p>
                                <a href="https://enterstarts.com" 
                                    target="__blank">
                                    <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                        class="text-center"
                                        style="width:220px;" 
                                    />
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="tab-pane fade tab-req-token-list  "
                    id="entity-token-list-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="background-color:#fff;min-height:450px;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
                        <div class="col-12 text-center" 
                            style="padding:15px;">
                            <h3>
                                <span class="fa fa-user"></span>
                                {{auth.name|uppercase}}<br/>
                                <span class="text-muted"
                                    style="font-size:19px;">
                                    {{auth.email|uppercase}}
                                </span>
                                <br/>
                                <span class="text-primary"
                                    style="font-size:14px;">
                                    ({{auth.id}})
                                </span>
                            </h3>
                        </div>

                        <div class="col-12 text-right cursor-pointer" 
                            style="padding-top:80px;padding-bottom:10px;">
                            <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                Verificado &amp; Protegido por
                            </p>
                            <a href="https://enterstarts.com" 
                                target="__blank">
                                <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                    class="text-center"
                                    style="width:220px;" 
                                />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


