
<div class="container account-obj-container"
    style="margin-top:165px;"
    >
    <div class="row rs-margin"
        style="margin-top:15px;min-height:500px;display:block;background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3);padding-top:15px;margin-bottom:10px;">

        <div class="col-12 "
            ng-controller="AuthController"
            ng-init="loadUser()"
            style="min-height:100px;">

            <div id="user-account-details"
                ng-if="userObj">

                <button class="btn btn-warning btn-round text-bold btn-sm pull-right"
                    ng-click="logout()"
                    style="color:#333">
                    LOGOUT
                </button>

                <img src="/img/ghost_person_100x100_v1.png"
                    width="60px"
                    class="pull-left"
                    style="border-radius:50px;margin-bottom:5px;margin-right:15px;"
                />

                <h3 style="margin:0px;"
                    class="account-name etx-user-name">
                    <span ng-bind="userObj.name.toUpperCase()"></span>
                    <span class="badge bg-success text-white hidden"
                        style="font-size:18px;"
                        id="account-verified"
                        ng-if="userObj.state=='CONFIRMED'">
                        <span class="fa fa-check"></span>
                    </span>
                </h3>

                <h3 style="margin:0px;" class="etx-user-email">
                    <small class="text-muted"
                        ng-bind="userObj.email.toUpperCase()"
                        style="font-size:18px;">
                    </small>
                </h3>
                <!--
                <button class="btn bg-primary btn-round etx-text-white text-bold btn-sm"
                    ng-click="myAccount()">
                    MINHA CONTA
                </button>
                -->
            </div>

            <div class="alert alert-warning hidden text-left"
                style="padding-top:10px;"
                id="account-not-confirmed">
                <h3 style="margin:0px" ng-if="!confirmation_sent">
                    Conta N&atilde;o Confirmada
                </h3>
                <p ng-if="!confirmation_sent">
                    A sua conta ainda nao foi confirmada.<br/>
                </p>
                <h3 style="margin:0px" ng-if="confirmation_sent">
                    Confirmação Enviada
                </h3>
                <p ng-if="confirmation_sent">
                    A confirma&ccedil;&atilde;o foi enviada para <strong>{{userObj.email}}</strong>.
                    <br/>
                    Verifique tamb&eacute;m que o email n&atilde;o foi para o <strong>spam.</strong>
                </p>

                <button class="btn btn-warning xb-warning-grad btn-round text-bold btn-lg"
                    ng-if="!confirmation_sent"
                    ng-click="sendConfirmation()"
                    style="color:#333">
                    <span ng-if="!sending_conf">
                        ENVIAR CONFIRMA&Ccedil;&Atilde;O
                    </span>
                    <span ng-if="sending_conf">
                        AGUARDE....
                    </span>
                    <span ng-if="sending_error">
                        TENTE NOVAMENTE
                    </span>
                </button>

                <button class="btn btn-success btn-round text-bold btn-lg text-white"
                    ng-if="confirmation_sent">
                    CONFIRMA&Ccedil;&Atilde;O ENVIADA
                </button>
            </div>
        </div>

        <div class="col-12"
            ng-controller="x99EcommerceCart"
            ng-init="loadShoppingExp('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$ECF.name%>', '<%-$ECF.surname%>', '<%-$ECF.email%>', '<%-$ECF.user_phone%>', '<%-$ECF.description%>', '<%-$ECF.items%>', '<%-$ECF.services%>')">
            <textarea style="display:none;"
                id="<%= compobj.id%>-services"><%=JSON.stringify(promRes.cart_conf.services)%></textarea>

            <ul class="nav nav-tabs account-menu " role="tablist"
                style="border-bottom:2px solid #ccc;">
                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#entity-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        style="margin-right: 15px;border-radius:0px;"
                        class="nav-link text-bold active ">
                        <span class="fa fa-shopping-cart"></span>
                        CHECKOUT
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-shopping-list-<%-compobj.id%>" 
                        style="border-radius:0px;"
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        MINHAS COMPRAS
                        <span class="badge bg-danger text-white"
                            ng-bind="cart_data.totalCount"></span>
                    </a>
                </li>

                <li role="presentation" 
                    style="display:none"
                    class="nav-item">
                    <a href="#entity-token-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Meus pontos
                    </a>
                </li>

                <!--
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-proforma-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Proforma
                    </a>
                </li>
                -->

                <li role="presentation" 
                    class="nav-item "
                    ng-if="req_proforma"
                    style="display:none">
                    <a href="#entity-req-proforma-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Requisitar Proforma
                    </a>
                </li>
            </ul>

            <!--
            <ul class="nav nav-tabs"
                style="border-bottom:0px;margin-bottom:10px;">
                <li role="presentation" 
                    class=" ">
                    <a style="border-radius:20px;"
                        ng-class=" {'nav-link text-bold cursor-pointer': true,
                                    'active': current_tab=='cart-list'}"
                        ng-click="backToCartList('<%=compobj.id%>')"
                        >
                        <span class="fa fa-shopping-cart"></span>
                        CHECKOUT
                    </a>
                </li>
                <li role="presentation" class="nav-item nav-wizard-btn">
                    <a style="border-radius:20px;"
                        ng-class=" {'nav-link text-bold cursor-pointer': true,
                                    'active': current_tab=='shopping-list'}"
                        ng-click="openMyShopping('<%-compobj.id%>')"
                        > 
                        MINHAS COMPRAS
                    </a>         
                </li>
            </ul>
            -->

            <div class="tab-content" 
                ng-init="initServices('#<%= compobj.id%>-services')"
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-req-proforma "
                    id="entity-req-proforma-<%-compobj.id%>"
                    role="tabpanel">
                    <div class="row rs-margin"
                        style="background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
                        <div class="col-12" style="">
                            <h3 style="border-bottom:4px solid #ffc107;padding-bottom:15px;padding-top:15px;margin:0px;"
                                ng-if="has_items">
                                <span class="text-primary fa fa-document"
                                    style="font-size:44px;"></span>
                                    <span ng-bind="'Requisitar proforma'"></span>
                            </h3>

                            <h3 style="font-size:24px;color:#666;padding:10px;margin:0px;padding-left:0px;">
                              Preencha o formul&aacute;rio para requisitar a sua proforma.
                            </h3>
                            <h3 style="border-bottom:4px solid #ffc107;padding-bottom:15px;padding-top:15px;">
                            </h3>
                        </div>

                        <div class="col-md-6 col-lg-7 col-sm-12 col-xs-12">

                            <div class="alert alert-warning text-center" 
                                ng-if="loading_proforma">
                                <i class="fa fa-refresh fa-spin"></i>
                                Processando
                            </div>

                            <div class="alert alert-danger text-center" 
                                ng-if="proforma_error">
                                <i class="fa fa-times"></i>
                                <h4>A sua solicitação não pode ser processada.</h4>
                                Verifique todos os campos.
                            </div>

                            <div class="alert alert-success text-center avaliation-success" 
                                ng-if="proforma_done">
                                <i class="fa fa-check" style="font-size:50px;" ></i>
                                <br/>
                                <h3>
                                    A sua proforma foi gerada com sucesso.<br/>
                                </h3>
                                <a href="<%= WS_HOST %>/billing/view-proforma/{{last_proforma_id}}" 
                                    target="__blank"
                                    class="btn btn-danger text-white text-bold btn-round btn-lg">
                                    ABRIR PROFORMA
                                </a>
                            </div>

                            <form name="profrForm" 
                                ng-if="!proforma_done"
                                ng-submit="saveProforma(profrForm, 
                                '<%=compobj.id%>')">

                                <div class="form-group">
                                    <label class="cart-label">NIF *</label>
                                    <input type="text" ng-model="profObj.nif" 
                                        required
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Nome *</label>
                                    <input type="text" ng-model="profObj.name" 
                                        required
                                        class="form-control cart-input" />
                                </div>

                                <div class="form-group">
                                    <label class="cart-label">Sobrenome *</label>
                                    <input type="text" ng-model="profObj.surname" 
                                        required
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Email *</label>
                                    <input type="email" ng-model="profObj.email"
                                        required 
                                        class="form-control cart-input" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Numero de Telefone *</label>
                                    <input type="text" ng-model="profObj.phone" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Endere&ccedil;o</label>
                                    <input type="text" ng-model="profObj.address" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Cidade</label>
                                    <input type="text" ng-model="profObj.city" 
                                        required
                                        class="form-control cart-input prof-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Pais</label>
                                    <input type="text" ng-model="profObj.country" 
                                        required
                                        class="form-control cart-input cart-phone" />
                                </div>
                                <div class="form-group">
                                    <label class="cart-label">Observações</label>
                                    <textarea class="form-control cart-textarea" 
                                        ng-model="profObj.msg"
                                        rows="3"></textarea>
                                </div>


                                <button class="btn btn-lg bg-success text-white btn-round text-bold"
                                    ng-disabled="loading_proforma"
                                    type="submit">
                                    <span ng-if="loading_request"
                                        class="fa fa-refresh fa-spin"></span>
                                    <span ng-if="!loading_proforma">
                                        Guardar
                                    </span>
                                    <span ng-if="loading_proforma">
                                        Aguarde
                                    </span>
                                </button>
                            </form>
                        </div>

                        <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12"
                            style="margin-top:15px;">
                            <table class="table table-striped">
                                <thead class="xb-grad">
                                    <th>
                                        DESIGN.
                                    </th>
                                    <th>
                                        PREÇO
                                    </th>
                                    <th>
                                        QTD
                                    </th>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in cart_item_list">
                                        <td class="text-bold">
                                            {{item.label}}
                                        </td>
                                        <td>
                                            {{item.price|currency:''}}
                                            {{item.currency}}
                                        </td>
                                        <td>
                                            {{item.amount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <h2 class="text-left">
                                <span class="text-muted "
                                    style="font-size:17px;">
                                    TOTAL
                                </span>
                                <br/>
                                {{total_in_cart|currency:''}}
                                <span class="text-muted">
                                    <strong>CVE</strong>
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade tab-shopping-list "
                    id="entity-shopping-list-<%-compobj.id%>"
                    style="padding:20px;min-height:450px;background-color:#f4f4f4;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <!-- cart_data.totalCount -->

                    <center ng-if="!cart_data.list|| cart_data.list.length==0">
                        <h3 style="padding-top:20px;margin:0px;"
                            class="text-center">
                            <span class="fa fa-shopping-cart"></span>
                            <span ng-bind="'Todas as suas compras ficam aqui.'"></span>
                        </h3>

                        <p class="text-muted text-center">
                            <span ng-bind="'Visite a nossa loja efectuar a sua primeira compra.'"></span>
                        </p>
                        <a class="btn etx-bg-danger btn-round text-center text-bold"
                            href="index.html">
                            <span class="fa fa-home"></span>
                            <span ng-bind="'Leve me ao inicio'"></span>
                        </a>
                    </center>

                    <div class="list-group-item"
                        ng-repeat="cart in cart_data.list"
                        style="border-top:5px solid #333;margin-bottom:15px;">

                        <div class="list-group">
                            <div class="cursor-pointer">
                                <h2 class="pull-right" 
                                    style="margin-top:10px;">
                                    <!-- <span style="font-size:18px;" class="text-muted">Total </span> -->
                                    {{cart.total_products|currency:''}} 
                                    <strong class="text-muted">CVE</strong>
                                </h2>

                                <h4 class="text-danger">
                                    <i class="fa fa-clock"></i>&nbsp;
                                    <span class="text-underlined">
                                    {{cart.createdAt}}
                                    </span>
                                </h4>

                                <h1 style="margin:0px">
                                    <span class="fa fa-shopping-cart"></span>
                                    Carrinho
                                    <span class="text-muted text-right"
                                        style="font-size:20px;">
                                        <small>
                                            {{cart.id}}
                                        </small>
                                    </span>
                                </h1>

                                <!--
                                <h3 class="bg-danger text-white text-center badge"
                                    ng-if="cart.fields['<%-$ECF.delivery_method%>']=='HOME_DELIVERY'"
                                    style="font-size:19px;padding-top:5px;padding-bottom:5px;">
                                    <span class="fa fa-truck"></span>
                                    Entrega em casa
                                </h3>
                                <h3 class="bg-secondary text-white text-center badge"
                                    ng-if="cart.fields['<%-$ECF.delivery_method%>']=='STORE_TAKEOUT'"
                                    style="font-size:19px;padding-top:5px;padding-bottom:5px;">
                                    <span class="fa fa-bank"></span>
                                    Levantamento na loja
                                </h3>
                                -->

                                <button ng-click="fillCart('<%-compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>', cart, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')" 
                                    target="__blank"
                                    class="btn etx-bg-danger text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    ESCOLHER
                                </button>

                                <a  href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cart.id}}/watch"
                                    target="__blank"
                                    class="btn btn-primary text-white text-bold btn-round"
                                    style="margin-top:10px;">
                                    VISUALIZAR
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade tab-cart show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="">
                        <div class="col-md-12 rs-padding" style="">
                            <h3 class="text-center hidden " style="padding-top:40px;"
                                id="loading_cart_remote">
                                <span class="fa fa-refresh fa-spin etx-text-warning"
                                    style="font-size:44px;"></span>
                                <br/>
                                <span class="etx-text-secondary">
                                    {{cart_msg||'Carregando o carrinho aguarde'}}
                                </span>
                            </h3>

                            <!--
                            <h3>
                                Merchant_id: 
                                <%= compobj.confObj.merchant_id %>
                            </h3>
                            <h3 style="border-bottom:4px solid #ffc107;padding-bottom:15px;padding-top:5px;"
                                ng-if="has_items">
                                <span class="text-primary fa fa-shopping-cart"
                                    style="font-size:44px;"></span>
                                    <span ng-bind="'Meu Carrinho'"></span>
                            </h3>
                            -->

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist"
                            style="display:none">
                                <li role="presentation" class="nav-item">
                                    <a href="#cart-loading" aria-controls="cart-loading" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link active">
                                        Loading cart
                                    </a>
                                </li>

                                <li role="presentation" class="nav-item">
                                    <a href="#cart-home-details" aria-controls="cart-home-details" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link ">
                                        Carrinho
                                    </a>
                                </li>

                                <li role="presentation" >
                                    <a href="#user-details" 
                                        aria-controls="user-details" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link">
                                        User Details
                                    </a>
                                </li>

                                <li role="presentation" >
                                    <a href="#reserve-success" 
                                        aria-controls="reserve-success" 
                                        role="tab" data-toggle="tab"
                                        class="nav-link">
                                        Reserve success
                                    </a>
                                </li>
                            </ul>

                              <div class="row rs-margin">
                                <div class="col-sm-12 col-md-12 col-lg-8" style="background-color:#f4f4f4;">
                                      <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade show active"
                                            id="cart-loading">
                                            <div class="row">
                                                <div class="col-12">
                                                  <h3 class="text-center" style="margin-top:25px;">
                                                      <span class="fa fa-refresh fa-spin etx-text-warning"
                                                          style="font-size:25px;">
                                                      </span>
                                                      <br/>
                                                      <span class="etx-text-secondary"
                                                          style="font-size:17px;">
                                                          AGUARDE
                                                      </span>
                                                  </h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade " 
                                            id="cart-home-details"
                                            ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">
                                            <center ng-if="!has_items">
                                                <h3 style="padding-top:20px;margin:0px;"
                                                    class="text-center">
                                                    <span class="fa fa-shopping-cart"></span>
                                                    <span ng-bind="'Oops, carrinho vazio.'"></span>
                                                </h3>
                                                <p class="text-muted text-center">
                                                    <span ng-bind="'O seu carrinho esta vazio.'"></span>
                                                    <br/>
                                                    <span ng-bind="'Visite a nossa loja para adicionar tudo que precisa.'"></span>
                                                </p>
                                                <a class="btn etx-bg-danger btn-round text-center text-bold"
                                                    href="index.html">
                                                    <span class="fa fa-home"></span>
                                                    <span ng-bind="'Leve me ao inicio'"></span>
                                                </a>
                                            </center>

                                            <div class="" 
                                                style="min-height:220px;max-height:550px;overflow:hidden;overflow-y:scroll;margin-top:1px;">

                                                <h3 style="font-size:19px;color:#666;margin:0px;"
                                                    ng-if="has_items">
                                                    Confirme os itens e clique em <strong style="color:#000;" class="text-primary cursor-pointer text-underlined"
                                                    ng-click="toUserDetails()"
                                                    >continuar</strong>
                                                    para finalizar a sua compra.
                                                </h3>

                                                <ul class="list-group" style="padding:10px">
                                                    <li class="list-group-item cursor-pointer"
                                                        style="border-radius:0px;margin-bottom:15px;"
                                                        ng-repeat="item in cart_item_list">

                                                        <img ng-src="{{item.image}}" 
                                                            class="pull-left"
                                                            style="display:inline"
                                                            width="90px" 
                                                        />

                                                        <h3 style="margin:0px;font-size:19px;display:inline;padding-left:10px;">
                                                            <a href="" class="text-bold">
                                                                {{item.label}}
                                                            </a>
                                                            <br/>
                                                            <span>
                                                                <span >
                                                                    {{item.price | currency:''}}
                                                                    {{item.currency }}
                                                                </span>
                                                            </span>
                                                            <span ng-if="item.last_purchase_price>0"
                                                                style="font-size:12px;">
                                                                {{item.last_purchase_price | currency:''}}
                                                                {{item.currency }}
                                                            </span>
                                                            <span class="etx-text-muted"
                                                                style="font-size:14px;">
                                                                ({{item.id.slice(0, 6)+"..."}})
                                                            </span>
                                                        </h3>

                                                        <button class="btn btn-danger btn-sm pull-right text-bold"
                                                            ng-click="removeFromCart('NO_COMP_ID', item, $index)">
                                                            REMOVER
                                                        </button>
                                                        <h3 style="margin:0px;text-align:left;">
                                                            <p style="margin:0px;padding:5px;background-color:#f4f4f4;font-size:24px;display:inline-block;max-width:140px;border-radius:0px"
                                                                class="form-control">
                                                                {{item.amount}}
                                                                <strong class="pull-right">
                                                                  {{item.unit}}
                                                                </strong>
                                                            </p>
                                                            <button class="btn btn-secondary btn-round"
                                                                ng-click="incrAmount('<%=compobj.id%>', item)">
                                                                <span class="fa fa-caret-up text-white"></span>
                                                            </button>
                                                            <button class="btn btn-secondary btn-round"
                                                                ng-disable="myCart.items[currentItem.id].amount<=0"
                                                                ng-click="decrAmount('<%=compobj.id%>', item)">
                                                                <span class="fa fa-caret-down text-white"></span>
                                                            </button>
                                                        </h3>

                                                          <div class="btn-group" role="group" aria-label="..."
                                                            style="overflow:hidden;overflow-x:scroll;max-width:100%;padding-bottom:5px;padding:25px;"
                                                            ng-if="item.unit=='KG'||item.unit=='LT'">
                                                            <button type="button" class="btn btn-primary text-bold btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 1)">1.0{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.9)">0.9{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.8)">0.8{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.7)">0.7{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.6)">0.6{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.5)">0.5{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.4)">0.4{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.3)">0.3{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.2)">0.2{{item.unit}}</button>
                                                            <button type="button" class="btn btn-primary btn-dec-val"
                                                              style="margin-right:4px;padding:5px;border-radius:40px;"
                                                              ng-click="setAmount('<%=compobj.id%>', item, 0.1)">0.1{{item.unit}}</button>
                                                          </div>
                                                    </li>
                                                </ul>

                                            </div>

                                            <div style="padding:10px;margin-top:20px;">
                                                <button class="btn text-bold bg-secondary btn-lg btn-round text-white btn"
                                                    ng-disabled="loading_cart"
                                                    ng-click="toUserDetails()"
                                                    ng-if="has_items"
                                                    style="width:200px;"
                                                    type="button">
                                                    Continuar
                                                    <span class="fa fa-arrow-right"></span>
                                                </button>
                                                <button class="btn text-bold bg-white btn-lg btn-round text-danger btn pull-right"
                                                    ng-disabled="loading_cart"
                                                    ng-if="has_items"
                                                    ng-click="clearCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                                    type="button">
                                                    Limpar carrinho
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" 
                                            id="user-details">
                                            <div class="row rs-margin">
                                                <div class="col-12"
                                                    ng-init="loadUserCart()">
                                                    <h3 style="font-size:20px;color:#666;padding:10px;padding-left:0px;">
                                                      Preencha o formul&aacute;rio e ja est&aacute;.
                                                    </h3>

                                                    <h3 style="font-size:24px;color:#666;padding:10px;padding-left:0px;"
                                                        class="xb-grad"
                                                        ng-if="showCartResume">
                                                        <span style="color:#333">
                                                        Compra para
                                                        </span>
                                                        <br/>
                                                        <span class="fa fa-user"></span>
                                                        &nbsp;<strong>{{reqObj.name}}, {{reqObj.surname}}</strong>
                                                        <br/>
                                                        
                                                        <span class="fa fa-envelope"></span>
                                                        &nbsp;<strong>{{reqObj.email}}</strong>
                                                        <br/>
                                                        
                                                        <span class="fa fa-phone"></span>
                                                        &nbsp;<strong>{{reqObj.phone}}</strong>
                                                        <br/>
                                                    </h3>
                                                    <a class="btn cursor-pointer btn-sm btn-round bg-primary text-white text-bold" 
                                                        style="margin-bottom:15px;"
                                                        ng-if="showCartResume"
                                                        ng-click="enableEditCart()">
                                                        <span class="fa fa-edit"></span>
                                                        Editar
                                                    </a>

                                                    <form name="reserveCustForm" 
                                                        ng-submit="saveCartRequest(reserveCustForm, 
                                                        '<%=compobj.id%>', '<%=compobj.fields[$PCF.user_id]%>', '<%=$INV.price%>')">

                                                        <div ng-if="!showCartResume||hideReserveForm">
                                                            <div class="form-group">
                                                                <label class="cart-label">Nome *</label>
                                                                <input type="text" ng-model="reqObj.name" 
                                                                    required
                                                                    class="form-control cart-input" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="cart-label">Sobrenome *</label>
                                                                <input type="text" ng-model="reqObj.surname" 
                                                                    required
                                                                    class="form-control cart-input" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="cart-label">Email *</label>
                                                                <input type="email" ng-model="reqObj.email"
                                                                    required 
                                                                    class="form-control cart-input" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="cart-label">Numero de Telefone *</label>
                                                                <input type="text" ng-model="reqObj.phone" 
                                                                    required
                                                                    class="form-control cart-input cart-phone" />
                                                            </div>

                                                        </div>

                                                        <div class="form-group">
                                                            <h3>
                                                                <span class="fa fa-truck"></span>
                                                                Entrega
                                                            </h3>
                                                            <div class="btn-group btn-group-primary" role="group" aria-label="...">
                                                              <button type="button" 
                                                                ng-class="{'btn etx-bg-primary text-white': true,
                                                                           'active': delivery_method=='HOME_DELIVERY'}"
                                                                ng-click="setDeliveryOption('HOME_DELIVERY')">
                                                                <span class="fa fa-home"></span>
                                                                Em Casa
                                                                </button>
                                                              <button type="button" 
                                                                ng-class="{'btn etx-bg-primary text-white': true,
                                                                           'active': delivery_method=='STORE_TAKEOUT'}"
                                                                ng-click="setDeliveryOption('STORE_TAKEOUT')">
                                                                <span class="fa fa-bank"></span>
                                                                Levantamento na loja
                                                                </button>
                                                            </div>
                                                        </div>
                
                                                        <div class="form-group"
                                                            ng-if="delivery_method=='HOME_DELIVERY'">
                                                            <label class="cart-label">Morada</label>
                                                            <select class="form-control"
                                                                ng-change="locUpdated()"
                                                                required
                                                                ng-model="XS.delivery_loc">
                                                                <option ng-value="o"
                                                                    ng-repeat="o in loc_list">
                                                                    {{o.label}}
                                                                </option>
                                                            </select>
                                                            <h4 class="text-muted" 
                                                                ng-if="XS.delivery_loc&&XS.delivery_loc.price>0">Taxa de entrega: 
                                                                <span style="color:#333">
                                                                    {{XS.delivery_loc.price|currency:''}}
                                                                </span> CVE</h4>
                                                            <h4 class="text-success" 
                                                                ng-if="XS.delivery_loc&&XS.delivery_loc.price==0">
                                                                Entrega
                                                                Gratuita
                                                            </h4>
                                                        </div>

                                                        <div class="form-group"
                                                            ng-if="delivery_method=='STORE_TAKEOUT'">
                                                            <div class="well">
                                                                <%= promRes.cart_conf.takeout_address %>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="cart-label">Observações</label>
                                                            <textarea class="form-control cart-textarea" 
                                                                ng-model="reqObj.msg"
                                                                rows="3"></textarea>
                                                        </div>

                                                        <div class="form-group"
                                                            ng-if="loading_cart_request_error">
                                                            <div class="alert alert-danger text-center">
                                                                <h3 style="margin:0px;color:#333">
                                                                    Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                                                </h3>
                                                                <p ng-repeat="e in loading_cart_request_error"
                                                                    style="margin:0px">
                                                                    {{e}}
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <button class="btn bg-secondary btn-lg text-bold btn-round text-white btn-cart-back "
                                                            ng-disabled="loading_cart_request"
                                                            ng-click="backToCartList('<%=compobj.id%>')"
                                                            type="button">
                                                            <span class="fa fa-arrow-left"></span>
                                                            Voltar
                                                        </button>
                                                        <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-req-proforma "
                                                            ng-disabled="loading_cart_request"
                                                            ng-click="reqPROFORMA('<%=compobj.id%>')"
                                                            type="button">
                                                            <!-- <span class="fa fa-arrow-left"></span> -->
                                                            PROFORMA
                                                        </button>

                                                        <button class="btn btn-lg bg-success text-white btn-round pull-right text-bold"
                                                            ng-disabled="loading_cart_request"
                                                            type="submit">
                                                            <span ng-if="loading_cart_request"
                                                                class="fa fa-refresh fa-spin"></span>
                                                            <span ng-if="!loading_cart_request">
                                                                Finalizar
                                                            </span>
                                                            <span ng-if="loading_cart_request">
                                                                Aguarde
                                                            </span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" 
                                            id="preparing-cart">
                                            <div class="row">
                                                <div class="col-12 text-center" style="min-height:250px;">
                                                    <div ng-if="loading_cart"
                                                        style="padding-top:80px;">
                                                        <h3>
                                                          <span class="fa fa-refresh text-warning fa-spin"
                                                            style="font-size:27px;"></span>
                                                          <br/>
                                                          Preparando o carinho
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane fade" 
                                            id="reserve-success">

                                            <div class="text-center"
                                                style="padding-top:20px;">
                                                <span class="fa fa-check text-success"
                                                    style="font-size:76px;"></span>
                                                <h2 style="color:#333;margin:0px;">
                                                    Muito obrigado
                                                </h2>
                                                <h3 style="color:#555;margin:0px;font-size:20px;padding-top:0px !important;">
                                                    A sua compra foi efectuada com sucesso.
                                                </h3>
                                                <h3 style="color:#666;margin:0px;">
                                                    <small>
                                                        Um email foi enviado para 
                                                        <strong>{{user_email}}.</strong>
                                                        <br/>
                                                        Verifique tamb&eacute;m que o email
                                                        n&atilde;o foi para o <strong>spam.</strong>
                                                    </small>
                                                </h3>
                                                <p class="text-muted"
                                                    style="color:#333;"
                                                    ng-if="cartReady">
                                                    Acompanhe este carrinho
                                                    <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch"
                                                            target="__blank">
                                                        neste link.
                                                    </a>
                                                </p>
                                            </div>

                                            <div class="row rs-margin mt-30 mb-30">
                                                <div class="col-12 text-center"
                                                    ng-if="review_mode=='init'">
                                                      <h2 class="avaliation-begin-title">
                                                        Como foi a sua experi&ecirc;ncia?
                                                      </h2>
                                                      <span ng-click="setRating(1)"
                                                          ng-mousehover="setRating(1)" 
                                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                                       'text-secondary': reviewObj.rating==0,
                                                                       'text-primary': reviewObj.rating>=1}"></span>
                                                      <span ng-click="setRating(2)"
                                                              ng-hover="setRating(2)"
                                                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                                       'text-secondary': reviewObj.rating<=1,
                                                                       'text-primary': reviewObj.rating>=2}"></span>
                                                      <span ng-click="setRating(3)" 
                                                          ng-hover="setRating(4)"
                                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                                       'text-secondary': reviewObj.rating<=2,
                                                                       'text-primary': reviewObj.rating>=3}"></span>
                                                      <span ng-click="setRating(4)"
                                                            ng-hover="setRating(4)"
                                                            ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                                       'text-secondary': reviewObj.rating<=3,
                                                                       'text-primary': reviewObj.rating>=4}"></span>
                                                      <span ng-click="setRating(5)"
                                                          ng-hover="setRating(5)"
                                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                                       'text-secondary': reviewObj.rating<=4,
                                                                       'text-primary': reviewObj.rating>=5}"></span>
                                                      <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                          class="rating-text text-secondary">
                                                      </h4>

                                                      <button class="btn btn-success text-bold btn-round"
                                                            ng-click="beginReview()">
                                                            <span class="fa fa-check"></span>
                                                            Continuar
                                                      </button>
                                                </div>

                                                <div class="col-12"
                                                    ng-if="review_mode=='begin'">
                                                    <form name="reviewForm" 
                                                        ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>')">

                                                        <div class="alert alert-warning text-center" 
                                                            ng-if="loading_review_req">
                                                            <i class="fa fa-refresh fa-spin"></i>
                                                            Processando
                                                        </div>

                                                        <div class="alert alert-danger text-center" ng-if="review_error">
                                                            <i class="fa fa-times"></i>
                                                            <h4>A sua solicitação não pode ser processada.</h4>
                                                            Verifique todos os campos.
                                                        </div>

                                                        <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                                            <i class="fa fa-check" style="font-size:50px;" ></i>
                                                            <br/>
                                                            <h3>
                                                                Muito obrigado pela sua avaliação.
                                                            </h3>
                                                        </div>

                                                        <div ng-if="!is_done">
                                                            <h3 class="text-center"
                                                                class="avaliation-begin">
                                                                Nos de o seu feedback
                                                            </h3>

                                                            <div class="xxmodal-header xb-grad">
                                                              <div class="pull-right">
                                                                <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                                    class="rating-text text-right"
                                                                    style="font-size: 16px;color:#333;">
                                                                </h4>

                                                                <span ng-click="setRating(1)"
                                                                    ng-mousehover="setRating(1)" 
                                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                                 'text-secondary': reviewObj.rating==0,
                                                                                 'text-primary': reviewObj.rating>=1}"></span>
                                                                <span ng-click="setRating(2)"
                                                                        ng-hover="setRating(2)"
                                                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                                 'text-secondary': reviewObj.rating<=1,
                                                                                 'text-primary': reviewObj.rating>=2}"></span>
                                                                <span ng-click="setRating(3)" 
                                                                    ng-hover="setRating(4)"
                                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                                 'text-secondary': reviewObj.rating<=2,
                                                                                 'text-primary': reviewObj.rating>=3}"></span>
                                                                <span ng-click="setRating(4)"
                                                                      ng-hover="setRating(4)"
                                                                      ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                                 'text-secondary': reviewObj.rating<=3,
                                                                                 'text-primary': reviewObj.rating>=4}"></span>
                                                                <span ng-click="setRating(5)"
                                                                    ng-hover="setRating(5)"
                                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                                 'text-secondary': reviewObj.rating<=4,
                                                                                 'text-primary': reviewObj.rating>=5}"></span>
                                                              </div>

                                                              <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                                                                Commentando como
                                                              </p>
                                                              <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                                                                  <span class="fa fa-user text-success"></span>
                                                                  <strong>{{reviewObj.user_name}}</strong>
                                                                  <span class="text-muted" style="font-size:15px;">
                                                                    {{reviewObj.user_email}}
                                                                  </span>
                                                              </h4>
                                                            </div>
                                                            <div class="control-group form-group"
                                                              style="">
                                                                <div class="controls">
                                                                    <textarea rows="4" cols="100" class="form-control" 
                                                                        required maxlength="200" 
                                                                        style="resize:none;border-radius:0px;"
                                                                        placeholder="Aa"
                                                                        ng-model="reviewObj.user_msg"></textarea>
                                                                </div>
                                                            </div>
                                                            <button type="submit" 
                                                                class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                                                ng-disabled="loading_review_req">
                                                                <span class="fa fa-send"></span>
                                                                Enviar
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-4"
                                    style="padding-top:20px;">

                                    <img src="<%=STATIC_PATH%>/img/etx-payments.png"
                                        class="text-center"
                                        style="width:250px;" 
                                    />

                                    <table class="table">
                                        <tr>
                                            <td class="text-left">
                                                Subtotal
                                            </td>
                                            <td class="text-right">
                                                {{0|currency:''}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                Descontos
                                            </td>
                                            <td class="text-right">
                                                {{0|currency:''}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">
                                                <h3>
                                                    Total
                                                </h3>
                                            </td>
                                            <td class="text-right">
                                                <h3>
                                                    <span class="text-secondary text-bold">
                                                        {{cart_total|currency: ''}}
                                                    </span>
                                                </h3>
                                            </td>
                                        </tr>
                                    </table>

                                    <p class="text-muted">
                                        Ao comprar na nossa loja,
                                        concorda com os nossos
                                        <a href="<%= compobj.confObj.service_terms_url %>">termos de servi&ccedil;o.</a>
                                    </p>

                                    <div class="cursor-pointer" 
                                        style="padding-top:80px;padding-bottom:10px;">
                                        <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                            Verificado &amp; Protegido por
                                        </p>
                                        <a href="https://enterstarts.com" 
                                            target="__blank">
                                            <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                                class="text-center"
                                                style="width:220px;" 
                                            />
                                        </a>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade tab-req-token-list  "
                    ng-init="initToken('<%= compobj.confObj.token_id %>', '<%= compobj.id %>')"
                    id="entity-token-list-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="background-color:#fff;min-height:450px;box-shadow:0px 0px 2px rgba(0,0,0,.3)">

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center"
                            style="padding:15px;">
                            <h3 class="">
                                <!-- <span class="fa fa-usd"></span> -->
                                <span class="etx-counter " style="padding-right:5px;font-size:70px;">
                                    {{0|currency:''}}
                                </span>
                                <span class="etx-counter text-success" style="font-size:15px;">
                                    CVE
                                </span>
                                <br/>
                                <span style="font-size:22px;"
                                    class="text-success">
                                    TOTAL COMPRADO
                                </span>
                            </h3>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center"
                            style="padding:15px;">
                            <h3 class="">
                                <!-- <span class="fa fa-usd"></span> -->
                                <span class="etx-counter " style="padding-right:5px;font-size:70px;">
                                    {{0|currency:''}}
                                </span>
                                <span class="etx-counter text-success" style="font-size:15px;">
                                    <!-- CVE -->
                                </span>
                                <br/>
                                <span style="font-size:22px;"
                                    class="text-success">
                                    {{app_token.ticker}} CONSUMIDOS
                                </span>
                            </h3>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center"
                            ng-init="balanceOf('<%= compobj.confObj.token_id %>')"
                            style="padding:15px;">
                            <h3 class="">
                                <!-- <span class="fa fa-usd"></span> -->
                                <span class="etx-counter " style="padding-right:5px;font-size:70px;">
                                    {{ balance['<%= compobj.confObj.token_id %>'].balance.unlocked|currency:'' }}
                                </span>
                                <span class="etx-counter text-success" style="font-size:15px;">
                                </span>
                                <br/>
                                <span style="font-size:22px;"
                                    class="text-success">
                                    {{app_token.ticker}}
                                </span>
                            </h3>
                        </div>

                        <div class="col-12" style="">
                            <hr/>

                            <div role="tabpanel">

                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist"
                                style="display:none"
                                >
                                <li role="presentation" class="nav-item">
                                    <a href="#home-transactions-<%=compobj.id%>" 
                                        aria-controls="home-transactions-<%=compobj.id%>" 
                                        class="nav-link active"
                                        role="tab" data-toggle="tab">
                                        Transactions
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="#home-escrow-<%=compobj.id%>" 
                                        aria-controls="home-escrow-<%=compobj.id%>" 
                                        class="nav-link"
                                        role="tab" data-toggle="tab">
                                        Escrow
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="#home-transfer-<%=compobj.id%>" 
                                        aria-controls="home-transfer-<%=compobj.id%>" 
                                        class="nav-link"
                                        role="tab" data-toggle="tab">
                                        Transfer
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="#home-locktx-<%=compobj.id%>" 
                                        aria-controls="home-locktx-<%=compobj.id%>" 
                                        class="nav-link"
                                        role="tab" data-toggle="tab">
                                        LOCK UTXO
                                    </a>
                                </li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane " 
                                    id="home-escrow-<%=compobj.id%>">
                                   <button class="btn btn-secondary btn-round text-white text-bold text-round btn-round"
                                        ng-click="openHome('<%= compobj.id %>')">
                                        <span class="fa fa-arrow-left"></span>
                                        VOLTAR
                                    </button>
                                    <h2>Escrow</h2>
                                </div>

                                <div role="tabpanel" class="tab-pane active " id="home-transactions-<%=compobj.id%>">
                                    <table class="table table-striped"
                                        ng-init="loadTransactions('<%= compobj.confObj.token_id %>')">
                                        <thead class="xb-grad">
                                            <th>Transacao</th>
                                            <th class="text-center">De</th>
                                            <th class="text-center">Para</th>
                                            <th class="text-right">
                                                Montante
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tx in tx_list">
                                                <td>
                                                    <span class="badge bg-secondary">
                                                    {{tx.tx_type}}
                                                    </span>
                                                    <br/>
                                                    {{tx.date}}
                                                    <br/>
                                                    <strong style="font-size:19px;">
                                                        {{tx.id}}
                                                    </strong>
                                                    <!-- <strong class="text-muted">Miner: {{tx.miner}}</strong> -->
                                                    <br/>
                                                    parent:
                                                    <strong style="font-size:19px;">
                                                        {{tx.parent_tx}}
                                                    </strong>
                                        
                                                <button type="button"
                                                    ng-if="tx.tx_type=='LOCK_FUND'"
                                                    ng-click="unlockTransaction(
                                                    '<%=compobj.id%>', tx)"
                                                    class="btn btn-danger text-bold btn-round">
                                                    REDIMIR
                                                </button>

                                                </td>
                                                <td class="text-center">{{tx.from}}</td>
                                                <td class="text-center">{{tx.to}}</td>
                                                <td class="text-right">
                                                    {{tx.amount|currency:''}}
                                                    <strong>
                                                        {{app_token.ticker|uppercase}}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="home-transfer-<%=compobj.id%>">
                                    <button class="btn btn-secondary btn-round text-white text-bold text-round btn-round"
                                        ng-click="openHome('<%= compobj.id %>')">
                                        <span class="fa fa-arrow-left"></span>
                                        VOLTAR
                                    </button>

                                    <h2>Transferir pontos</h2>
                                    <div class="alert alert-warning"
                                        ng-if="loading_tx">
                                        <span class="fa fa-refresh fa-spin pull-left"
                                            style="font-size:30px"></span>
                                        <h3>
                                            Processando
                                        </h3>
                                    </div>
                                    <div class="alert alert-danger"
                                        ng-if="confirm_errors">
                                        <h3>Nao foi possivel concluir a operacao</h3>
                                        <p ng-repeat="err in confirm_errors"
                                            style="margin:0px;">
                                            {{err}}
                                        </p>
                                    </div>
                                    <div class="alert alert-success"
                                        ng-if="confirm_success">
                                        <h3 style="margin:0px">Completada com sucesso.</h3>
                                        <h3 style="margin:0px;font-size:18px;color:#666;"
                                            ng-if="last_tx"
                                            class="text-muted">
                                            ID da transacao: 
                                            <span class="text-primary">
                                            {{last_tx.id}}
                                            </span>
                                            <br/>
                                            Miner: 
                                            <span class="text-primary">
                                            {{last_tx.miner}}
                                            </span>
                                            <br/>
                                            Data: {{last_tx.date}}
                                        </h3>
                                    </div>

                                    <form name="txForm" 
                                        ng-submit="confirmTransaction(txForm, '<%= compobj.confObj.token_id %>')">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email do destinatario</label>
                                            <input type="email" class="form-control" 
                                                required
                                                ng-model="txObj.toEmail"
                                                id="txtoEmail" 
                                                placeholder="Enter email"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label >Montante</label>
                                            <input type="number" 
                                                required
                                                ng-model="txObj.amount"
                                                class="form-control" 
                                                value="1"
                                                id="txAmount" 
                                            />
                                        </div>
                                        <button type="submit" class="btn btn-success text-bold btn-round"
                                            ng-disabled="loading_tx">
                                            <span ng-if="!loading_tx">
                                                Enviar
                                            </span>
                                            <span ng-if="loading_tx">
                                                Aguarde
                                            </span>
                                        </button>
                                        <button type="button"
                                            ng-click="cancelTransfer('<%= compobj.id %>')" 
                                            class="btn btn-danger text-white text-bold btn-round">
                                            Cancelar
                                        </button>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane " 
                                    id="home-locktx-<%=compobj.id%>">
                                   <button class="btn btn-secondary btn-round text-white text-bold text-round btn-round"
                                        ng-click="openHome('<%= compobj.id %>')">
                                        <span class="fa fa-arrow-left"></span>
                                        VOLTAR
                                    </button>

                                    <div class="alert alert-info">
                                        <h2>
                                            Lock a transaction
                                            <br/>
                                            <span class="text-muted"
                                                style="font-size:18px;">
                                                A transa&ccedil;&atilde;o vai ser blokeada por 
                                                <strong>15mn</strong>
                                            </span>
                                        </h2>
                                    </div>

                                    <div class="alert alert-warning"
                                        ng-if="locking_tx">
                                        <span class="fa fa-refresh fa-spin pull-left"
                                            style="font-size:30px"></span>
                                        <h3>
                                            Processando
                                        </h3>
                                    </div>
                                    <div class="alert alert-danger"
                                        ng-if="locking_tx_errors">
                                        <h3>Nao foi possivel concluir a operacao</h3>
                                        <p ng-repeat="err in locking_tx_errors"
                                            style="margin:0px;">
                                            {{err}}
                                        </p>
                                    </div>
                                    <div class="alert alert-success"
                                        ng-if="locking_tx_success">
                                        <h3>
                                            Completada com sucesso.<br/>
                                        </h3>
                                    </div>

                                    <form name="txLockForm" 
                                        ng-submit="lockTransaction(txLockForm, '<%= compobj.confObj.token_id %>')">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email do destinatario</label>
                                            <input type="email" class="form-control" 
                                                required
                                                ng-model="txLockObj.toEmail"
                                                placeholder="Enter email"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label >Montante</label>
                                            <input type="number" 
                                                required
                                                ng-model="txLockObj.amount"
                                                class="form-control" 
                                                value="1"
                                            />
                                        </div>
                                        <!--
                                        <div class="form-group">
                                            <label >LockTime</label>
                                            <input type="text" 
                                                ng-model="txLockObj.lock_time"
                                                class="form-control" 
                                                value="1"
                                            />
                                        </div>
                                        -->
                                        <div class="form-group">
                                            <label >LockID</label>
                                            <input type="text" 
                                                ng-model="txLockObj.lockId"
                                                class="form-control" 
                                                disabled
                                                value="1"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label >LockContext</label>
                                            <select class="form-control"
                                                required
                                                ng-model="txLockObj.lockContext">
                                                <option value="ECOMMERCE_CART">Carrinho</option>
                                            </select>
                                        </div>
                                        <button type="submit" 
                                            class="btn btn-success text-bold btn-round"
                                            ng-disabled="locking_tx">
                                            <span ng-if="!locking_tx">
                                                Enviar
                                            </span>
                                            <span ng-if="locking_tx">
                                                Aguarde
                                            </span>
                                        </button>
                                        <button type="button"
                                            ng-click="cancelOperation('<%= compobj.id %>')" 
                                            ng-disabled="locking_tx"
                                            class="btn btn-danger text-white text-bold btn-round">
                                            Cancelar
                                        </button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="col-12 text-right cursor-pointer" style="padding-top:80px;padding-bottom:10px;">
                            <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                Verificado &amp; Protegido por
                            </p>
                            <a href="https://enterstarts.com" 
                                target="__blank">
                                <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                    class="text-center"
                                    style="width:220px;" 
                                />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--
<h2>
    Cart Comp Id
    <%=compobj.confObj.cart_comp_id%>
</h2>
<h2>
    PromRes: 
    <%=promRes.cart_conf%>
</h2>
<div class="alert alert-info hidden text-left"
    id="user-invitation"
    style="">
    <h4 style="margin:0px;">
    Humm n&atilde;o parece ter uma conta.
    </h4>
    <p>
        Crie um conta para acompanhar todos os seus carrinhos e tambem 
        receber nossas ofertas, promo&ccedil;&otilde;es e novidades.<br/>
        Se j&aacute; possui uma conta clique em <strong>LOGIN</strong>.
    </p>
    <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
        ng-disabled="loading_request"
        ng-click="openSignupModal()"
        type="button">
        <span class="fa fa-user-badge"></span>
        CRIAR CONTA
    </button>
    <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
        ng-disabled="loading_request"
        ng-click="openLoginModal()"
        type="button">
        <span class="fa fa-user-badge"></span>
        LOGIN
    </button>
</div>
-->
