
<div class="container" ng-controller="AccountController"
    style="margin-top:55px;">
    <div class="row" ng-init="InitVerifyPasswordReset('<%=compobj.id%>')">
        <div class="col-md-12">
            <div style="margin-top: -60px;">
                <div class="login-box" style="max-width:500px;margin:auto;">
                    <div class="login-box-body">
                        <center>
                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="(is_verified&&!update_state)||update_state=='error'"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                Introduza uma password nova e forte.
                                <br/>
                                <small class="text-danger text-bold"
                                     ng-if="update_state=='error'">
                                    <span class="fa fa-times text-danger"
                                        style="font-size:20px;"></span>
                                        CONTA NAO ENCONTRADA.
                                </small>
                            </h3>

                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="is_verifying"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                <span class="fa fa-refresh fa-spin text-success"
                                    style="font-size:70px;"></span>
                                <br/>
                                <span class="">
                                    VERIFICANDO
                                </span>
                            </h3>

                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="!is_verified && !is_verifying"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                <span class="fa fa-times text-danger"
                                    style="font-size:70px;"></span>
                                <br/>
                                <p class="text-muted" ng-repeat="msg in msg">
                                    {{msg}}
                                </p>
                            </h3>

                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="updating_password"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                <span class="">
                                    REDEFINIR
                                </span>
                            </h3>

                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="update_state=='error'"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                <p class="text-muted" 
                                    ng-repeat="msg in error">
                                    {{msg}}
                                </p>
                            </h3>

                            <h3 class="text-center text-bold form-section-title" 
                                ng-if="update_state=='success'"
                                style="color:#333;margin-top:15px;margin-bottom:15px;">
                                <span class="fa fa-check text-success"
                                    style="font-size:70px;"></span>
                                <br/>
                                A Sua password foi atualizada.
                            </h3>

                        </center>

                        <!-- /.login-logo -->
                        <form name="resetForm" 
                            ng-if="is_verified"
                            ng-submit="resetPw(resetForm)"
                            autocomplete="off" 
                            style="margin-top:25px;clear:both">

                            <div class="form-group has-feedback"
                                ng-if="update_state!='success'">
                                <label>Password</label>
                                <input type="password" class="form-control" 
                                    name="password"
                                    ng-model="action.password"
                                    required
                                />
                            </div>

                            <div class="form-group has-feedback"
                                ng-if="update_state!='success'">
                                <label>Confirmar</label>
                                <input type="password" class="form-control" 
                                    name="password_conf"                                    
                                    ng-model="action.password_conf"
                                    required
                                />
                            </div>

                            <div class="form-group">
                                <span class="text-bold text-danger"
                                    ng-if="error&&!is_valid">
                                    {{error}}
                                </span>
                            </div>

                            <div class="form-group" style="margin-top:25px;">
                                <button type="submit" 
                                    ng-if="update_state!='success'"
                                    class="btn btn-block etx-bg-primary" 
                                    ng-disabled="updating_password">
                                    <strong>
                                        <span class="fa fa-check pull-left" 
                                            style="font-size:20px;margin-top:5px;"
                                            ng-if="!resolving"
                                            ></span>
                                        <span class="fa fa-refresh fa-spin pull-left" 
                                            style="font-size:20px;margin-top:5px;"
                                            ng-if="resolving"></span>
                                        <span style="font-size:20px"
                                            ng-if="!updating_password">
                                            REDEFINIR
                                        </span>
                                        <span style="font-size:20px"
                                            ng-if="updating_password"> 
                                            Processando
                                        </span>
                                    </strong>
                                </button>

                                <a ng-if="update_state=='success'"
                                    class="btn btn-block etx-bg-primary text-white" 
                                    href="signin.html">
                                    <strong>
                                        <span style="font-size:20px">
                                            Entrar na conta
                                        </span>
                                    </strong>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

