<!-- signup-modal -->
<div class="modal fade" id="signup-modal" 
    ng-controller="AuthController"
    tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
        <div class="modal-content">
            <div class="modal-header" style="display:inline;color:#fff;background-color:#1f4788;border-radius:0px;border-bottom: 0px;">
                <h5 style="color:#fff;margin:0px" class="pull-left">
                    Bem-vindo, vamos criar uma conta nova.
                </h5>

                <button type="button" class="close pull-right" 
                    data-dismiss="modal" aria-label="Close" 
                    style="padding-top:1px;" title="Fechar Janela">
                    <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                        &times;
                    </span>
                </button>
            </div>

            <div class="modal-body"
                style="padding:0px;background-color:#f4f4f4">
                __signup_content__
            </div>
        </div>
    </div>
</div>
