<ul class="nav nav-tabs xb-grad" role="tablist"
    style="background-color:#f4f4f4;">
    <li role="presentation" 
        class="nav-item"
        style="">
        <a href="#entity-home" 
            role="tab" data-toggle="tab"
            class="nav-link text-bold active">
            Home
        </a>
    </li>
</ul>

<div class="tab-content" 
    id="myAccount-<%-compobj.id%>">

    <div class="tab-pane fade show active"
        id="entity-home"
        role="tabpanel">
        <center>
          <div style="padding-top:32px;"
            class="ecommerce-items-loader">
              <h2 class="text-warning">
                  <span class="fa fa-refresh fa-spin"
                        style="font-size:45px;"></span>
                  <br/>
                  <strong class="text-muted" style="font-size: 20px;">
                    Aguarde
                  </strong>
              </h2>
          </div>
        </center>
    </div>
</div>

