                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="text-bold">
                                            ID
                                        </td>
                                        <td class="etx-text-primary text-bold">
                                            {{userAccount.id}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            NOME COMPLETO
                                        </td>
                                        <td class="text-bold">
                                            {{userAccount.name|uppercase}}
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer"
                                        ng-click="openEmailScreen('<%=compobj.id%>')">
                                        <td class="text-bold">
                                            EMAIL
                                        </td>
                                        <td class="text-bold text-secondary">
                                            {{userAccount.email|uppercase}}
                                            <br/>
                                            <button class="btn btn-round etx-bg-primary etx-text-white text-bold btn-sm"
                                                type="button">
                                                MUDAR
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold">
                                            TELEFONE
                                        </td>
                                        <td class="text-bold">
                                            <span ng-bind="'(+'+userAccount.phoneCode+')'"
                                                class="text-success"></span>
                                            <span ng-bind="userAccount.phone"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-bold">
                                            DATA DE CRIA&Ccedil;&Atilde;O
                                        </td>
                                        <td class="text-bold text-muted">
                                            {{userAccount.createdAt}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
