                <div class="tab-pane fade tab-req-token-list  "
                    ng-init="initToken('<%= compobj.confObj.token_id %>', '<%= compobj.id %>')"
                    id="entity-token-list-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="background-color:#fff;min-height:450px;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
                        <!--
                        <div class="col-6" style="">
                            finchain.api
                        </div>
                        <div class="col-6" style="">
                            publica.api
                        </div>
                        -->

                        <div class="col-6" 
                            style="padding:15px;">
                            <h4>
                                {{auth.name}}<br/>
                                <span class="text-muted">
                                {{auth.id}}
                                </span>
                            </h4>
                            <button class="btn btn-warning btn-round text-bold text-round"
                                ng-click="loadTransactions('<%= compobj.confObj.token_id %>')">
                                <span class="fa fa-refresh"></span>
                                Refresh
                            </button>

                            <button class="btn btn-primary btn-round text-bold text-round"
                                ng-click="openTransfer('<%= compobj.id %>')">
                                <span class="fa fa-send"></span>
                                Transferir
                            </button>
    
                            <button class="btn btn-success btn-round text-bold text-round"
                                ng-click="openLock('<%= compobj.id %>')">
                                <span class="fa fa-lock"></span>
                                LOCK
                            </button>

                            <h1>
                                Total de compras
                            </h1>

                            <h1>
                                Creditos consumidos
                            </h1>

                            <h1>
                                Total poupado
                            </h1>
                        </div>

                        <div class="col-6 text-right" style="padding:10px"
                            ng-init="balanceOf('<%= compobj.confObj.token_id %>')">
                            <h3>
                                <strong class="text-muted">
                                <span style="color:#333">
                                    {{ balance['<%= compobj.confObj.token_id %>'].balance.unlocked|currency:'' }}
                                </span>
                                <br/>
                                    {{app_token.ticker}}
                                </strong>
                                <br/>
                                <span style="font-size:17px;text-decoration: line-through;"
                                    title="{{ balance['<%= compobj.confObj.token_id %>'].balance.locked|currency:'' }} {{app_token.ticker}} bloqueados"
                                    class="text-muted cursor-pointer">
                                    <span class="fa fa-lock"></span>
                                    {{ balance['<%= compobj.confObj.token_id %>'].balance.locked|currency:'' }}</span>
                                &nbsp;
                                <span style="font-size:17px;text-decoration: line-through;"
                                    title="{{ balance['<%= compobj.confObj.token_id %>'].balance.to_unlock|currency:'' }} {{app_token.ticker}} para desblokiar"
                                    class="text-success cursor-pointer">
                                    <span class="fa fa-lock"></span>
                                    {{ balance['<%= compobj.confObj.token_id %>'].balance.to_unlock|currency:'' }}
                                </span>
                            </h3>
                        </div>

                        <div class="col-12" style="">
                            <hr/>

                            <div role="tabpanel">

                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist"
                                style="display:none"
                                >
                                <li role="presentation" class="nav-item">
                                    <a href="#home-transactions-<%=compobj.id%>" 
                                        aria-controls="home-transactions-<%=compobj.id%>" 
                                        class="nav-link active"
                                        role="tab" data-toggle="tab">
                                        Transactions
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="#home-escrow-<%=compobj.id%>" 
                                        aria-controls="home-escrow-<%=compobj.id%>" 
                                        class="nav-link"
                                        role="tab" data-toggle="tab">
                                        Escrow
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="#home-transfer-<%=compobj.id%>" 
                                        aria-controls="home-transfer-<%=compobj.id%>" 
                                        class="nav-link"
                                        role="tab" data-toggle="tab">
                                        Transfer
                                    </a>
                                </li>
                                <li role="presentation" class="nav-item">
                                    <a href="#home-locktx-<%=compobj.id%>" 
                                        aria-controls="home-locktx-<%=compobj.id%>" 
                                        class="nav-link"
                                        role="tab" data-toggle="tab">
                                        LOCK UTXO
                                    </a>
                                </li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane " 
                                    id="home-escrow-<%=compobj.id%>">
                                   <button class="btn btn-secondary btn-round text-white text-bold text-round btn-round"
                                        ng-click="openHome('<%= compobj.id %>')">
                                        <span class="fa fa-arrow-left"></span>
                                        VOLTAR
                                    </button>
                                    <h2>Escrow</h2>
                                </div>

                                <div role="tabpanel" class="tab-pane active " id="home-transactions-<%=compobj.id%>">
                                    <table class="table table-striped"
                                        ng-init="loadTransactions('<%= compobj.confObj.token_id %>')">
                                        <thead class="xb-grad">
                                            <th>ID</th>
                                            <th class="text-center">De</th>
                                            <th class="text-center">Para</th>
                                            <th class="text-right">
                                                Montante
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tx in tx_list">
                                                <td>
                                                    <span class="badge bg-secondary">
                                                    {{tx.tx_type}}
                                                    </span>
                                                    <br/>
                                                    {{tx.date}}
                                                    <br/>
                                                    <strong style="font-size:19px;">
                                                        {{tx.id}}
                                                    </strong>
                                                    <!-- <strong class="text-muted">Miner: {{tx.miner}}</strong> -->
                                                    <br/>
                                                    parent:
                                                    <strong style="font-size:19px;">
                                                        {{tx.parent_tx}}
                                                    </strong>
                                        
                                                <button type="button"
                                                    ng-if="tx.tx_type=='LOCK_FUND'"
                                                    ng-click="unlockTransaction(
                                                    '<%=compobj.id%>', tx)"
                                                    class="btn btn-danger text-bold btn-round">
                                                    REDIMIR
                                                </button>

                                                </td>
                                                <td class="text-center">{{tx.from}}</td>
                                                <td class="text-center">{{tx.to}}</td>
                                                <td class="text-right">
                                                    {{tx.amount|currency:''}}
                                                    <strong>
                                                        {{app_token.ticker|uppercase}}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="home-transfer-<%=compobj.id%>">
                                    <button class="btn btn-secondary btn-round text-white text-bold text-round btn-round"
                                        ng-click="openHome('<%= compobj.id %>')">
                                        <span class="fa fa-arrow-left"></span>
                                        VOLTAR
                                    </button>

                                    <h2>Transferir pontos</h2>
                                    <div class="alert alert-warning"
                                        ng-if="loading_tx">
                                        <span class="fa fa-refresh fa-spin pull-left"
                                            style="font-size:30px"></span>
                                        <h3>
                                            Processando
                                        </h3>
                                    </div>
                                    <div class="alert alert-danger"
                                        ng-if="confirm_errors">
                                        <h3>Nao foi possivel concluir a operacao</h3>
                                        <p ng-repeat="err in confirm_errors"
                                            style="margin:0px;">
                                            {{err}}
                                        </p>
                                    </div>
                                    <div class="alert alert-success"
                                        ng-if="confirm_success">
                                        <h3 style="margin:0px">Completada com sucesso.</h3>
                                        <h3 style="margin:0px;font-size:18px;color:#666;"
                                            ng-if="last_tx"
                                            class="text-muted">
                                            ID da transacao: 
                                            <span class="text-primary">
                                            {{last_tx.id}}
                                            </span>
                                            <br/>
                                            Miner: 
                                            <span class="text-primary">
                                            {{last_tx.miner}}
                                            </span>
                                            <br/>
                                            Data: {{last_tx.date}}
                                        </h3>
                                    </div>

                                    <form name="txForm" 
                                        ng-submit="confirmTransaction(txForm, '<%= compobj.confObj.token_id %>')">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email do destinatario</label>
                                            <input type="email" class="form-control" 
                                                required
                                                ng-model="txObj.toEmail"
                                                id="txtoEmail" 
                                                placeholder="Enter email"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label >Montante</label>
                                            <input type="number" 
                                                required
                                                ng-model="txObj.amount"
                                                class="form-control" 
                                                value="1"
                                                id="txAmount" 
                                            />
                                        </div>
                                        <button type="submit" class="btn btn-success text-bold btn-round"
                                            ng-disabled="loading_tx">
                                            <span ng-if="!loading_tx">
                                                Enviar
                                            </span>
                                            <span ng-if="loading_tx">
                                                Aguarde
                                            </span>
                                        </button>
                                        <button type="button"
                                            ng-click="cancelTransfer('<%= compobj.id %>')" 
                                            class="btn btn-danger text-white text-bold btn-round">
                                            Cancelar
                                        </button>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane " 
                                    id="home-locktx-<%=compobj.id%>">
                                   <button class="btn btn-secondary btn-round text-white text-bold text-round btn-round"
                                        ng-click="openHome('<%= compobj.id %>')">
                                        <span class="fa fa-arrow-left"></span>
                                        VOLTAR
                                    </button>

                                    <div class="alert alert-info">
                                        <h2>
                                            Lock a transaction
                                            <br/>
                                            <span class="text-muted"
                                                style="font-size:18px;">
                                                A transa&ccedil;&atilde;o vai ser blokeada por 
                                                <strong>15mn</strong>
                                            </span>
                                        </h2>
                                    </div>

                                    <div class="alert alert-warning"
                                        ng-if="locking_tx">
                                        <span class="fa fa-refresh fa-spin pull-left"
                                            style="font-size:30px"></span>
                                        <h3>
                                            Processando
                                        </h3>
                                    </div>
                                    <div class="alert alert-danger"
                                        ng-if="locking_tx_errors">
                                        <h3>Nao foi possivel concluir a operacao</h3>
                                        <p ng-repeat="err in locking_tx_errors"
                                            style="margin:0px;">
                                            {{err}}
                                        </p>
                                    </div>
                                    <div class="alert alert-success"
                                        ng-if="locking_tx_success">
                                        <h3>
                                            Completada com sucesso.<br/>
                                        </h3>
                                    </div>

                                    <form name="txLockForm" 
                                        ng-submit="lockTransaction(txLockForm, '<%= compobj.confObj.token_id %>')">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email do destinatario</label>
                                            <input type="email" class="form-control" 
                                                required
                                                ng-model="txLockObj.toEmail"
                                                placeholder="Enter email"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label >Montante</label>
                                            <input type="number" 
                                                required
                                                ng-model="txLockObj.amount"
                                                class="form-control" 
                                                value="1"
                                            />
                                        </div>
                                        <!--
                                        <div class="form-group">
                                            <label >LockTime</label>
                                            <input type="text" 
                                                ng-model="txLockObj.lock_time"
                                                class="form-control" 
                                                value="1"
                                            />
                                        </div>
                                        -->
                                        <div class="form-group">
                                            <label >LockID</label>
                                            <input type="text" 
                                                ng-model="txLockObj.lockId"
                                                class="form-control" 
                                                disabled
                                                value="1"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label >LockContext</label>
                                            <select class="form-control"
                                                required
                                                ng-model="txLockObj.lockContext">
                                                <option value="ECOMMERCE_CART">Carrinho</option>
                                            </select>
                                        </div>
                                        <button type="submit" 
                                            class="btn btn-success text-bold btn-round"
                                            ng-disabled="locking_tx">
                                            <span ng-if="!locking_tx">
                                                Enviar
                                            </span>
                                            <span ng-if="locking_tx">
                                                Aguarde
                                            </span>
                                        </button>
                                        <button type="button"
                                            ng-click="cancelOperation('<%= compobj.id %>')" 
                                            ng-disabled="locking_tx"
                                            class="btn btn-danger text-white text-bold btn-round">
                                            Cancelar
                                        </button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="col-12 text-right cursor-pointer" style="padding-top:80px;padding-bottom:10px;">
                            <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                Verificado &amp; Protegido por
                            </p>
                            <a href="https://enterstarts.com" 
                                target="__blank">
                                <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                    class="text-center"
                                    style="width:220px;" 
                                />
                            </a>
                        </div>
                    </div>
                </div>
