<div class="col-lg-4 col-sm-6 col-md-4 mb-30 col-xs-12 rs-padding flow-card">
    <div class="card super-card h-100 "  
        style="margin-top:15px;background-image:url('')">
        <div class="card-body">
            <h4 class="card-title">
                <a href="agenda-arte.html">
                    ARTE
                </a>
            </h4>
            <div class="comp_html">
                <p>T-SHIRTS made in Cabo Verde</p>
            </div>
            <a href="agenda-arte.html" class="btn btn-action undefined">
                SABER +
            </a>  
        </div>
    </div>
</div>
