<div class="card card-ecommerce-item h-100" 
    style="padding:10px;border-radius:15px;width:100%;background:transparent;border:0px">

    <div style="background-image:url('{{item.cached_image}}');background-size:contain;background-repeat:no-repeat;margin:auto;padding:0px;width:350px;height:350px;">
    </div>

    <div class="text-center" 
        style="padding:10px;padding-bottom:5px;">

        <h4 class="card-title text-white " style="" 
            ng-show="item.fields.<%-$INV.title%>.length<20"
            ng-bind="item.fields.<%-$INV.title%>">
        </h4>

        <h4 class="card-title text-white " style="" 
            ng-show="item.fields.<%-$INV.title%>.length>=20"
            ng-bind="item.fields.<%-$INV.title%>.slice(0,20) + '...'">
        </h4>

        <h4 class=" text-white card-ecommerce-item-price" >
          <span class="item-price" ng-bind="item.fields.<%-$INV.price%>|currency:''"></span>
          <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
        </h4>

        <a class="btn-round text-center btn btn-success text-white "
            href="ec-product.html?product_id={{item.id}}"
            style="padding-left:25px;padding-right:25px">
            COMPRAR
        </a>
    </div>
</div>