<div class="container ecommerce-search-page-container"
    ng-controller="x99EcommerceSearch"
    ng-init="initCallbacks('<%=compobj.fields[$PCF.webapp_id]%>')"
    style="padding:15px;margin-top:90px;">

    <div class="search-top-bar">
      <h3 ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')">
          <a href="index.html"
              class="btn btn-round etx-bg-secondary etx-text-white text-bold btn-home">
              <span class="fa fa-home"></span>
              Home
          </a>
      </h3>

      <h3 style="padding-bottom:5px;margin-top:20px;"
        class="search-title"
        ng-if="category_label"
        ng-bind="category_label">
          <br/>
      </h3>
      <h3 class="text-secondary" style="font-size:19px;">
          <small ng-bind="item_list.totalCount + ' produtos encontrados.'"></small>
      </h3>

    </div>

    <!--
    <h3>
      SearchEngine:
      <%-compobj.ecommerce_conf.search_engine %>
    </h3>
    -->

    <div class="row rs-margin"
        ng-init="searchProducts('<%-compobj.id%>', '<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%= compobj.ecommerce_conf.ecommerce_comp_id %>','<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>')"
        style="min-height:500px;display:block;">

        <div class="col-12" style="padding:0px;">
            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;display:none">
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-addcart-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        add to cart
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    id="entity-err-<%-compobj.id%>-x">
                    <a href="#entity-err-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Err
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-12" style="padding:0px;">
            <div class="tab-content" 
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center>
                          <div style="padding-top:32px;"
                            ng-if="REQ_STATUS=='LOADING'"
                            class="ecommerce-items-loader">
                              <h2 class="text-warning">
                                  <span class="fa fa-refresh fa-spin"
                                        style="font-size:45px;"></span>
                                  <br/>
                                  <strong class="text-muted" style="font-size: 20px;">
                                    Aguarde
                                  </strong>
                              </h2>
                          </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >
                  <!--
                  <h3>
                    <%= compobj.ecommerce_conf.prod_template %>
                  </h3>
                  -->
                  <%= compobj.item_html %>
                </div>

                <div class="tab-pane fade "
                    id="entity-addcart-<%-compobj.id%>"
                    style="background-color:#fff;"
                    role="tabpanel">
                    <h2 class="text-primary">
                        Add to Cart
                    </h2>

                    <button class="btn bg-success text-white text-bold"
                        ng-click="addToCartDone('<%-compobj.id%>')">
                        Done
                    </button>
                </div>

                <div class="tab-pane fade"
                    id="entity-err-<%-compobj.id%>"
                    role="tabpanel">

                    <center>
                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NOT_FOUND'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary"
                                style="font-size:68px;">
                                404
                            </h2>
                            <h2 class="text-secondary">
                                <small>Resource not found</small>
                            </h2>
                        </div>

                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NO_CONNECTION'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary">
                                <small>Verify your internet connection</small>
                            </h2>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<%=
    compobj.shopping_cart_html 
%>


