<div class="container ecommerce-item-page"
    ng-controller="x99EcommerceCart"
    style="background-color:#f4f4f4;padding:0px;">

    <textarea style="display:none;"
        id="<%= compobj.id%>-services"><%=JSON.stringify(compobj.ecommerce_conf.services)%></textarea>

    <h3 ng-init="initServices('#<%= compobj.id%>-services')">
        <a href="index.html"
            class="btn btn-round bg-secondary text-white text-bold">
            <span class="fa fa-home"></span>
            Home
        </a>
    </h3>

    <div class="row rs-margin"
        ng-init=""
        style="min-height:500px;display:block;padding:0px;background-color:#fff;box-shadow:0px 0px 2px rgba(0,0,0,.3);margin-bottom: 20px;">

        <div class="col-md-12" style="padding:0px;">
            <h3 style="border-bottom:4px solid #ffc107;padding-bottom:0px;margin-bottom:0px;padding-top:0px;">
                <span class="text-primary fa fa-shopping-cart"
                    style="font-size:44px;"></span>
                Meu Carrinho
            </h3>

            <div class="alert alert-info hidden"
                id="user-invitation"
                style="border-radius:0px;margin-bottom:0px;">
                <h4 style="margin:0px;">
                Humm n&atilde;o parece ter uma conta.
                </h4>
                <p style="margin:5px;font-size:19px;">
                    Crie um conta para acompanhar todos os seus carrinhos, 
                    receber nossas ofertas, promo&ccedil;&otilde;es, novidades
                    e tambem requisitar proformas e recibos.
                    Se j&aacute; possui uma conta clique em <strong>LOGIN</strong>.
                </p>
                <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
                    ng-disabled="loading_cart_request"
                    ng-click="openSignupModal()"
                    type="button">
                    <span class="fa fa-user-badge"></span>
                    CRIAR CONTA
                </button>
                <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
                    ng-disabled="loading_cart_request"
                    ng-click="openLoginModal()"
                    type="button">
                    <span class="fa fa-user-badge"></span>
                    LOGIN
                </button>
            </div>
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist"
                style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#cart-loading" aria-controls="cart-loading" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Loading
                    </a>
                </li>

                <li role="presentation" class="nav-item">
                    <a href="#cart-home-details" aria-controls="cart-home-details" 
                        role="tab" data-toggle="tab"
                        class="nav-link ">
                        Carrinho
                    </a>
                </li>

                <li role="presentation" >
                    <a href="#user-details" 
                        aria-controls="user-details" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        User Details
                    </a>
                </li>

                <li role="presentation" >
                    <a href="#reserve-success" 
                        aria-controls="reserve-success" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Reserve success
                    </a>
                </li>
            </ul>

            <div class="row rs-margin" style="padding:0px;">
                <div class="col-sm-12 col-md-8 col-lg-8 rs-padding"
                    style="background-color:#f4f4f4;">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" 
                            ng-init="loadCart()"
                            id="cart-loading">
                            <div class="row">
                                <div class="col-12">
                                  <h3 class="text-center" style="margin-top:25px;">
                                      <span class="fa fa-refresh fa-spin etx-text-warning"
                                          style="font-size:25px;">
                                      </span>
                                      <br/>
                                      <span class="etx-text-secondary"
                                          style="font-size:17px;">
                                          AGUARDE
                                      </span>
                                  </h3>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane " 
                            id="cart-home-details"
                            style="background-color:#f4f4f4;"
                            ng-init="initCartComponent('<%=compobj.fields[$PCF.webapp_id]%>')">

                            <center ng-if="!has_items">
                                <h3 style="padding-top:20px;margin:0px;"
                                    class="text-center">
                                    <span class="fa fa-shopping-cart"></span>
                                    <span ng-bind="'Oops, carrinho vazio.'"></span>
                                </h3>
                                <p class="text-muted text-center">
                                    <span ng-bind="'O seu carrinho esta vazio.'"></span>
                                    <br/>
                                    <span ng-bind="'Visite a nossa loja para adicionar tudo que precisa.'"></span>
                                </p>
                                <a class="btn btn-danger btn-round text-center text-bold"
                                    href="index.html">
                                    <span class="fa fa-home"></span>
                                    <span ng-bind="'Leve me ao inicio'"></span>
                                </a>
                            </center>

                            <div class="" 
                                style="min-height:370px;max-height:450px;overflow:hidden;overflow-y:scroll;margin-top:15px;">

                                <ul class="list-group" style="padding:10px">
                                    <li class="list-group-item cursor-pointer"
                                        style="border-radius:0px;margin-bottom:15px;"
                                        ng-repeat="item in cartObj.item_list">

                                        <img ng-src="{{item.image}}" 
                                            class="pull-left"
                                            style="display:inline"
                                            width="90px" 
                                        />

                                        <h3 style="margin:0px;font-size:19px;display:inline;padding-left:10px;">
                                            <a href="" class="text-bold">
                                                {{item.label}}
                                            </a>
                                            <br/>
                                            <span>
                                                <span >
                                                    {{item.price | currency:''}}
                                                    {{item.currency }}
                                                </span>
                                            </span>
                                            <span ng-if="item.last_purchase_price>0"
                                                style="font-size:12px;">
                                                {{item.last_purchase_price | currency:''}}
                                                {{item.currency }}
                                            </span>
                                            <span class="etx-text-muted"
                                                style="font-size:14px;">
                                                ({{item.id.slice(0, 6)+"..."}})
                                            </span>
                                        </h3>

                                        <button class="btn btn-danger btn-sm pull-right text-bold btn-round"
                                            ng-click="removeFromCartList(item, $index)">
                                            <span ng-if="!rm_state[item.id]">
                                                REMOVER
                                            </span>
                                            <span ng-if="rm_state[item.id]=='DONE_ERROR'">
                                                TENTE NOVAMENTE
                                            </span>
                                            <span ng-if="rm_state[item.id]=='LOADING'">
                                                AGUARDE
                                            </span>
                                        </button>

                                        <h3 style="margin:0px;text-align:left;">
                                            <p style="margin:0px;padding:5px;background-color:#f4f4f4;font-size:24px;display:inline-block;max-width:140px;border-radius:0px"
                                                class="form-control">
                                                {{item.amount}}
                                                <strong class="pull-right">
                                                  {{item.unit}}
                                                </strong>
                                            </p>
                                            <button class="btn btn-secondary btn-round text-bold"
                                                ng-click="openCartSuper('<%=compobj.fields[$PCF.webapp_id]%>', item)">
                                                EDITAR
                                            </button>
                                        </h3>

                                    </li>
                                </ul>

                            </div>

                            <div style="padding:10px;margin-top:20px;">
                                <button class="btn etx-bg-secondary btn-lg btn-round text-bold text-white btn"
                                    ng-disabled="loading_cart"
                                    ng-click="toUserDetails()"
                                    ng-if="has_items"
                                    style="width:200px;"
                                    type="button">
                                    Continuar
                                    <span class="fa fa-arrow-right"></span>
                                </button>
                                <button class="btn etx-bg-white text-bold btn-lg btn-round text-danger btn pull-right"
                                    ng-disabled="loading_cart"
                                    ng-if="has_items"
                                    ng-click="clearCart('<%=compobj.fields[$PCF.webapp_id]%>')"
                                    style="width:200px;"
                                    type="button">
                                    Limpar carrinho
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="user-details"
                            style="background-color:#f4f4f4;">
                            <div class="row rs-margin">
                                <div class="col-12">
                                    <div class="alert alert-danger"
                                        ng-if="loading_cart_request_error">
                                        <h3 style="color:#333"
                                            class="form-error-1">
                                            N&atilde;o foi possivel concluir a sua compra!
                                        </h3>
                                        <p class="form-error-2">
                                            Fa&ccedil;a um recheck e tente novamente.<br/>
                                            Mais detalhes
                                        </p>
                                        <p ng-repeat="err in loading_cart_request_error"
                                            class="form-error-ix">
                                            {{err}}
                                        </p>
                                    </div>
                                    <h3 style="font-size:24px;color:#555;padding:10px;padding-left:0px;margin:0px;"
                                        class="form-alert-1">
                                      Preencha o formul&aacute;rio para concluir
                                      a sua compra.
                                    </h3>
                                    <h3 style="font-size:17px;color:#807e7e;margin:0px;"
                                        class="form-alert-2">
                                        Se utilizar a sua conta n&atilde;o precisa
                                        preencher <i>;)</i>
                                    </h3>

                                    <form name="reserveCustForm" 
                                        ng-submit="saveCartRequest(reserveCustForm, 
                                        '<%=compobj.id%>', '<%=compobj.fields[$PCF.user_id]%>', '<%=$INV.price%>')">
                                        <div class="form-group text-bold affiliate-code-field">
                                            <label class="cart-label">Referral Code
                                                <span class="etx-text-danger"></span>
                                            </label>
                                            <input type="text" ng-model="reqObj.referral_code" 
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Nome 
                                                <span class="etx-text-danger">(*)</span>
                                            </label>
                                            <input type="text" ng-model="reqObj.name" 
                                                required
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Sobrenome 
                                                <span class="etx-text-danger">(*)</span>
                                            </label>
                                            <input type="text" ng-model="reqObj.surname" 
                                                required
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">Email 
                                                <span class="etx-text-danger">(*)</span>
                                            </label>
                                            <input type="email" ng-model="reqObj.email"
                                                required 
                                                class="form-control cart-input" />
                                        </div>
                                        <div class="form-group">
                                            <label class="cart-label">
                                                Telefone/Telem&oacute;vel
                                                <span class="etx-text-danger">(*)</span>
                                            </label>
                                            <input type="text" ng-model="reqObj.phone" 
                                                required
                                                class="form-control cart-input cart-phone" />
                                        </div>

                                        <div class="form-group etx-payment-method">
                                            <h3>
                                                <span class="fa fa-card"></span>
                                                Pagamento
                                                <!-- <span class="etx-text-danger">(*)</span> -->
                                            </h3>
                                            <div class="btn-group btn-group-primary" role="group" aria-label="...">
                                              <button type="button" 
                                                ng-class="{'btn etx-bg-primary text-white': true,
                                                           'active': payment_method=='DELIVERY_PAYMENT'}"
                                                ng-click="setPaymentMethod('DELIVERY_PAYMENT')">
                                                <span class="fa fa-home"></span>
                                                Na entrega
                                                </button>
                                              <button type="button" 
                                                ng-class="{'btn etx-bg-primary text-white': true,
                                                           'active': payment_method=='ONLINE_PAYMENT'}"
                                                ng-click="setPaymentMethod('ONLINE_PAYMENT')">
                                                <span class="fa fa-bank"></span>
                                                Online
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <h3>
                                                <span class="fa fa-truck"></span>
                                                Entrega
                                                <!-- <span class="etx-text-danger">(*)</span> -->
                                            </h3>
                                            <div class="btn-group btn-group-primary" role="group" aria-label="...">
                                              <button type="button" 
                                                ng-class="{'btn etx-bg-primary text-white': true,
                                                           'active': delivery_method=='HOME_DELIVERY'}"
                                                ng-click="setDeliveryOption('HOME_DELIVERY')">
                                                <span class="fa fa-home"></span>
                                                Em Casa
                                                </button>
                                              <button type="button" 
                                                ng-class="{'btn etx-bg-primary text-white': true,
                                                           'active': delivery_method=='STORE_TAKEOUT'}"
                                                ng-click="setDeliveryOption('STORE_TAKEOUT')">
                                                <span class="fa fa-bank"></span>
                                                Levantamento na loja
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group"
                                            ng-if="delivery_method=='HOME_DELIVERY'">
                                            <label class="cart-label">
                                                Morada
                                                <span class="etx-text-danger">(*)</span>
                                            </label>
                                            <select class="form-control"
                                                ng-change="locUpdated()"
                                                required
                                                style="border-radius:0px;"
                                                ng-model="XS.delivery_loc">
                                                <option ng-value="o"
                                                    ng-repeat="o in loc_list">
                                                    {{o.label}}
                                                </option>
                                            </select>
                                            <h4 class="text-muted" 
                                                ng-if="XS.delivery_loc&&XS.delivery_loc.price>0">Taxa de entrega: 
                                                <span style="color:#333">
                                                    {{XS.delivery_loc.price|currency:''}}
                                                </span> CVE</h4>
                                            <h4 class="text-success" 
                                                ng-if="XS.delivery_loc&&XS.delivery_loc.price==0">
                                                Entrega
                                                Gratuita
                                            </h4>
                                        </div>

                                        <div class="form-group"
                                            ng-if="delivery_method=='STORE_TAKEOUT'">
                                            <div class="well">
                                                <%= compobj.ecommerce_conf.takeout_address %>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="cart-label">
                                                Observações
                                                <span class="etx-text-secondary">(opcional)</span>
                                            </label>
                                            <textarea class="form-control cart-textarea" 
                                                ng-model="reqObj.msg"
                                                rows="3"></textarea>
                                        </div>

                                        <button class="btn bg-secondary btn-lg text-bold btn-round text-white btn-cart-back "
                                            ng-disabled="loading_cart_request"
                                            ng-click="backToCartList('<%=compobj.id%>')"
                                            type="button">
                                            <span class="fa fa-arrow-left"></span>
                                            Voltar
                                        </button>

                                        <button class="btn btn-lg bg-success text-white btn-round pull-right text-bold"
                                            ng-disabled="loading_cart_request"
                                            type="submit">
                                            <span ng-if="loading_cart_request"
                                                class="fa fa-refresh fa-spin"></span>
                                            <span ng-if="!loading_cart_request">
                                                Finalizar
                                            </span>
                                            <span ng-if="loading_cart_request">
                                                Loading
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="preparing-cart">
                            <div class="row">
                                <div class="col-12 text-center" style="min-height:250px;">
                                    <div ng-if="loading_cart"
                                        style="padding-top:80px;">
                                        <h3>
                                          <span class="fa fa-refresh text-warning fa-spin"
                                            style="font-size:27px;"></span>
                                          <br/>
                                          Preparando o carinho
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            style="background-color:#f4f4f4;height:500px;"
                            id="reserve-success">
                            <div class="text-center"
                                style="padding-top:20px;">
                                <span class="fa fa-check text-success"
                                    style="font-size:76px;"></span>
                                <h3 style="color:#555;margin:0px;">
                                    Muito obrigado<br/>
                                    A sua compra foi efectuada com sucesso.
                                </h3>
                                <h3 style="color:#666;margin:0px;">
                                    <small>
                                        Um email foi enviado para 
                                        <strong>{{user_email}}.</strong>
                                        <br/>
                                        Verifique tamb&eacute;m que o email
                                        n&atilde;o foi para o <strong>spam.</strong>
                                    </small>
                                </h3>
                                <p class="text-muted"
                                    style="color:#333;"
                                    ng-if="cartReady">
                                    Acompanhe este carrinho
                                    <a href="<%=STATIC_PATH%>/ecommerce-cms/carts/{{cartReady.id}}/watch"
                                            target="__blank">
                                        neste link.
                                    </a>
                                </p>

                                <h2 style="color:#333;margin:0px;"
                                    class="etx-payment-title">
                                    Acerca do Pagamento
                                </h2>
                                <h3 style="color:#555;margin:0px;" 
                                    ng-if="payment_method=='DELIVERY_PAYMENT'">
                                    <small>
                                        O pagamento ser&aacute; efectuado na entrega como
                                        pediu,<br/> tenha o seu cart&atilde;o pronto.
                                    </small>
                                </h3>
                                <h3 style="color:#555;margin:0px;"
                                    ng-if="payment_method=='ONLINE_PAYMENT'">
                                    <small>
                                        Receber&aacute; um link para efectuar o pagamento online.
                                    </small>
                                </h3>
                            </div>

                            <div class="row rs-margin mt-30 mb-30">
                                <div class="col-12 text-center"
                                    ng-if="review_mode=='init'">
                                      <h2 class="avaliation-begin-title">
                                        Como foi a sua experi&ecirc;ncia?
                                      </h2>
                                      <span ng-click="setRating(1)"
                                          ng-mousehover="setRating(1)" 
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                       'text-secondary': reviewObj.rating==0,
                                                       'text-primary': reviewObj.rating>=1}"></span>
                                      <span ng-click="setRating(2)"
                                              ng-hover="setRating(2)"
                                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                       'text-secondary': reviewObj.rating<=1,
                                                       'text-primary': reviewObj.rating>=2}"></span>
                                      <span ng-click="setRating(3)" 
                                          ng-hover="setRating(4)"
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                       'text-secondary': reviewObj.rating<=2,
                                                       'text-primary': reviewObj.rating>=3}"></span>
                                      <span ng-click="setRating(4)"
                                            ng-hover="setRating(4)"
                                            ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                       'text-secondary': reviewObj.rating<=3,
                                                       'text-primary': reviewObj.rating>=4}"></span>
                                      <span ng-click="setRating(5)"
                                          ng-hover="setRating(5)"
                                          ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                       'text-secondary': reviewObj.rating<=4,
                                                       'text-primary': reviewObj.rating>=5}"></span>
                                      <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                          class="rating-text text-secondary">
                                      </h4>

                                      <button class="btn btn-success text-bold btn-round"
                                            ng-click="beginReview()">
                                            <span class="fa fa-check"></span>
                                            Continuar
                                      </button>
                                </div>

                                <div class="col-12"
                                    ng-if="review_mode=='begin'">
                                    <form name="reviewForm" 
                                        ng-submit="makeReview(reviewForm, '<%=compobj.id%>', '<%=compobj.fields[$PCF.webapp_id]%>')">

                                        <div class="alert alert-warning text-center" 
                                            ng-if="loading_review_req">
                                            <i class="fa fa-refresh fa-spin"></i>
                                            Processando
                                        </div>

                                        <div class="alert alert-danger text-center" ng-if="review_error">
                                            <i class="fa fa-times"></i>
                                            <h4>A sua solicitação não pode ser processada.</h4>
                                            Verifique todos os campos.
                                        </div>

                                        <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                            <i class="fa fa-check" style="font-size:50px;" ></i>
                                            <br/>
                                            <h3>
                                                Muito obrigado pela sua avaliação.
                                            </h3>
                                        </div>

                                        <div ng-if="!is_done">
                                            <h3 class="text-center"
                                                class="avaliation-begin">
                                                Nos de o seu feedback
                                            </h3>

                                            <div class="xxmodal-header xb-grad">
                                              <div class="pull-right">
                                                <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                    class="rating-text text-right"
                                                    style="font-size: 16px;color:#333;">
                                                </h4>

                                                <span ng-click="setRating(1)"
                                                    ng-mousehover="setRating(1)" 
                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                 'text-secondary': reviewObj.rating==0,
                                                                 'text-primary': reviewObj.rating>=1}"></span>
                                                <span ng-click="setRating(2)"
                                                        ng-hover="setRating(2)"
                                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                 'text-secondary': reviewObj.rating<=1,
                                                                 'text-primary': reviewObj.rating>=2}"></span>
                                                <span ng-click="setRating(3)" 
                                                    ng-hover="setRating(4)"
                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                 'text-secondary': reviewObj.rating<=2,
                                                                 'text-primary': reviewObj.rating>=3}"></span>
                                                <span ng-click="setRating(4)"
                                                      ng-hover="setRating(4)"
                                                      ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                 'text-secondary': reviewObj.rating<=3,
                                                                 'text-primary': reviewObj.rating>=4}"></span>
                                                <span ng-click="setRating(5)"
                                                    ng-hover="setRating(5)"
                                                    ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                 'text-secondary': reviewObj.rating<=4,
                                                                 'text-primary': reviewObj.rating>=5}"></span>
                                              </div>

                                              <p style="color:#333;font-size:14px;margin:0px;" class="text-left text-strong">
                                                Commentando como
                                              </p>
                                              <h4 style="font-size:17px;margin:0px;" class="text-left">                    
                                                  <span class="fa fa-user text-success"></span>
                                                  <strong>{{reviewObj.user_name}}</strong>
                                                  <span class="text-muted" style="font-size:15px;">
                                                    {{reviewObj.user_email}}
                                                  </span>
                                              </h4>
                                            </div>
                                            <div class="control-group form-group"
                                              style="">
                                                <div class="controls">
                                                    <textarea rows="4" cols="100" class="form-control" 
                                                        required maxlength="200" 
                                                        style="resize:none;border-radius:0px;"
                                                        placeholder="Aa"
                                                        ng-model="reviewObj.user_msg"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" 
                                                class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                                ng-disabled="loading_review_req">
                                                <span class="fa fa-send"></span>
                                                Enviar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4"
                    style="padding-top:20px;margin-bottom:20px;">

                    <div class="" style="">
                        <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                            class="text-center"
                            style="width:40px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                            class="text-center"
                            style="width:52px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                            class="text-center"
                            style="width:61px;margin-right:10px;" 
                        />
                        <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                            class="text-center"
                            style="width:69px;" 
                        />
                    </div>

                    <table class="table">
                        <tr>
                            <td class="text-left">
                                Subtotal
                            </td>
                            <td class="text-right">
                                <span ng-bind="$filter('currency')(0, '')">0.00</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Descontos
                            </td>
                            <td class="text-right">
                                <span ng-bind="$filter('currency')(0, '')">0.00</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <h3 style="margin:0px;">
                                    <span>
                                        Produtos
                                    </span>
                                </h3>
                            </td>
                            <td class="text-right" colspan="2">
                                <h3 style="margin:0px;">
                                    <span class="text-secondary text-bold">
                                        <span ng-bind="$filter('currency')(cartObj.count_products, '')">0.00</span>
                                    </span>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <h3>
                                    Total
                                </h3>
                            </td>
                            <td class="text-right">
                                <h3>
                                    <span class="etx-text-secondary text-bold"
                                        ng-bind="$filter('currency')(cartObj.total, '')">0.00</span>
                                </h3>
                            </td>
                        </tr>
                    </table>

                    <p class="text-muted">
                        Ao comprar na nossa loja,
                        concorda com os nossos
                        <a href="<%=compobj.ecommerce_conf.service_terms_url%>">termos de servi&ccedil;o.</a>
                    </p>

                    <div class="cursor-pointer" style="padding-top:80px;">
                        <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                            Verificado &amp; Protegido por
                        </p>
                        <a href="https://enterstarts.com" 
                            target="__blank">
                            <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                class="text-center"
                                style="width:220px;" 
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%=
    compobj.shopping_cart_html 
%>
