<div class=" ecommerce-item-page"
    ng-controller="x99Ecommerce22"
    style="">

    <div class="row rs-margin"
        ng-init="fetchProduct('<%-compobj.id%>', '<%- $BXF.content_mkd %>', '<%- compobj.fields[$PCF.webapp_id] %>', '<%- compobj.org %>', '<%=compobj.ecommerce_item_conf.enable_recommender%>')"
        style="min-height:500px;display:block;">
        <div class="col-md-12" style="padding:0px;">

            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;">
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-addcart-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        add to cart
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    id="entity-err-<%-compobj.id%>-x">
                    <a href="#entity-err-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Err
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-12" style="padding:0px;">
            <div class="tab-content" 
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center>
                      <div style="padding-top:32px;"
                        ng-if="REQ_STATUS=='LOADING'"
                        class="ecommerce-items-loader">
                          <h2 class="text-warning">
                              <span class="fa fa-refresh fa-spin"
                                    style="font-size:45px;"></span>
                              <br/>
                              <strong class="text-muted" style="font-size: 20px;">
                                Aguarde
                              </strong>
                          </h2>
                      </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >

                    <!-- product data -->
                    <div class="row rs-margin"
                        style="padding-top:10px;margin-top:20px;clear:both;box-shadow:0px 0px 2px rgba(0,0,0,.3);">

                        <!-- product image -->
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 etx-product-image"
                            title="Zoom In"
                            style="min-height:450px;max-width:100%;">
                            <div style="max-height:850px;min-height:450px;"
                                ng-if="view_mode=='MAIN'"
                                data-toggle="lightbox"
                                href="{{product_item.map.image}}"
                                class="text-center cursor-pointer">
                                <img src="{{product_item.map.image}}"
                                    href="{{product_item.map.image}}"
                                    style="max-height:850px;max-width:100%;"
                                />
                            </div>
                            <div style="min-height:450px;max-height:850px;"
                                ng-if="view_mode=='SECONDARY'&&currentMedia"
                                data-toggle="lightbox"
                                href="{{currentMedia.fields.<%-$PME.url%>}}"
                                class="text-center cursor-pointer">
                                <img src="{{currentMedia.fields.<%-$PME.url%>}}"
                                    style="max-height:850px;max-width:100%;" 
                                />
                            </div>
                            <!--
                            <div class="etx-zoom-title text-center">
                                <p class="text-secondary">
                                    <span class="fa fa-search"></span>
                                    Clique para abrir
                                </p>
                            </div>
                            <table class="table table-condensed"
                                style="display:block;overflow:hidden;padding:0px;">
                                <tbody>
                                    <tr>
                                        <td style="padding-left:0px;border:0px solid #000;" class="cursor-pointer"
                                            data-gallery="prod-gallery-{{product_item.id}}"
                                            href="{{product_item.map.image}}"
                                            ng-click="closeMedia()">
                                            <div style="background-image:url('{{product_item.map.image}}');background-size:cover;width:100px;height:100px;">
                                            </div>
                                        </td>
                                        <td style="padding-left:0px;border:0px solid #000;" class="cursor-pointer"
                                            ng-click="openMedia(media)"
                                            data-gallery="prod-gallery-{{product_item.id}}"
                                            href="{{media.fields.<%-$PME.url%>}}"
                                            ng-repeat="media in media_list">
                                            <div style="background-image:url('{{media.fields.<%-$PME.url%>}}');background-size:cover;width:100px;height:100px;">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            -->
                        </div>

                        <!-- product details -->
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 etx-product-details">
                          <p ng-repeat="tag in product_item.category.tags"
                            class="tag-item-{{$index}} tag-item ">
                            {{tag.label}}
                          </p>

                            <h1 class="ecom-product-title">
                                <span ng-bind="product_item.map.title"></span>
                            </h1>

                            <div class="product-price-area"
                                ng-if="!has_children || product_item.map.price>0">
                                <h3 style="margin:0px;display:inline;" 
                                    class="etx-text-danger cursor-pointer product-item-price">
                                    {{product_item.map.price|currency:''}}
                                </h3>
                                <h3 style="margin:0px;display:inline;" 
                                    class="etx-text-danger cursor-pointer product-item-currency">
                                    {{product_item.map.currency}}
                                </h3>
                            </div>

                            <p class="product-item-descr"
                                ng-bind="product_item.map.long_descr"></p>

                            <!-- OLD PRICE -->
                            <h4 class="card-title ecommerce-item-old-price cursor-pointer">
                                <div ng-if="product_item.fields.<%-$INV.old_price%>>0">
                                    <span class="item-old-price" 
                                        ng-bind="product_item.map.old_price|currency:''"></span>
                                        <span class="item-currency" ng-bind="product_item.map.currency">
                                    </span>
                                </div>
                            </h4>

                            <!-- FAMILY -->
                            <table class="table table-condensed"
                                ng-if="product_item"
                                style="display:block;overflow:hidden;padding:0px;"
                                ng-init="loadFamilyOf('<%=compobj.id%>', product_item)">
                                <tbody>
                                    <tr>
                                        <td style="padding-left:0px;border:0px solid #000;" class="cursor-pointer"
                                            ng-repeat="fam in family_data.list"
                                            href="{{fam.fields.image}}">
                                            <div style="background-image:url('{{fam.fields.image}}');background-size:cover;width:100px;height:100px;">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- SIZE, OPTIONS & INVENTORY STATUS -->
                            <div class="row rs-margin purchase-details" 
                                ng-if="product_item.id"
                                ng-init="loadChildrenOf('<%=compobj.id%>', product_item)">

                                <div class="col-12 qtd-options-container" 
                                    style="padding-left:0px;"
                                    ng-if="has_children">
                                    <button ng-repeat="child in children_list"
                                        ng-class="{'btn-item-select-option btn btn-round etx-bg-danger etx-text-white':true, 'active':product_item.id==child.id,'unactive':product_item.id!=child.id}"
                                        ng-click="selectChildren(child)">
                                        {{child.fields.short_descr}}
                                    </button>
                                </div>

                                <div class="col-12" style="padding-left:0px;">
                                    <p ng-if="INVENTORY_STATUS[product_item.id].in_stock>0"
                                        class="product-item-stock-amount">
                                        {{INVENTORY_STATUS[product_item.id].in_stock}}
                                        em stock.
                                    </p>
                                    <p ng-if="INVENTORY_STATUS[product_item.id].in_stock==0"
                                        class="product-item-stock-amount">
                                        Esgotado
                                    </p>
                                    <p ng-if="INVENTORY_STATUS[product_item.id].status=='NOT_FOUND'"
                                        class="product-item-stock-amount">
                                        N&atilde;o disponivel
                                    </p>
                                </div>
                            </div>

                            <!-- QUANTITY & CART -->
                            <div class="row rs-margin"
                                ng-if="INVENTORY_STATUS[product_item.id].in_stock>0">
                                <div class="col-12 qtd-amount-container" 
                                    style="padding-left:0px;">
                                    <label class="qtd-label">Quantidade</label>
                                    <div class="input-group qtd-group">
                                      <span class="input-group-addon decr-control bg-secondary cursor-pointer"
                                        ng-click="decrAmount()">-</span>

                                      <input type="number" class="form-control qtd-amount" 
                                        aria-label="Amount (to the nearest dollar)" 
                                        ng-disabled="true"
                                        ng-model="purchaseItem.amount"
                                      />

                                      <span class="input-group-addon incr-control bg-secondary cursor-pointer" ng-click="incrAmount()">+</span>
                                    </div>
                                </div>

                                <div class="col-12" style="padding-left:0px;">
                                    <button class="btn btn-lg etx-bg-danger etx-text-white text-bold btn-add-cart btn-add-cart-item"
                                        type="button"
                                        ng-disabled="verifing_status||(has_children&&product_item.map.price==0)"
                                        ng-click="verifyAndFinishPurchase()"
                                        >
                                        <span class="fa fa-refresh fa-spin" ng-show="verifing_status"></span>
                                        ADICIONAR AO CARINHO
                                    </button>

                                    <!--
                                    <a class="btn btn-lg etx-bg-danger etx-text-white text-bold btn-add-cart btn-add-cart-item"
                                        ng-show="!verifing_status"
                                        href="account.html">
                                        CHECKOUT
                                    </a>
                                    -->

                                    <div class="alert etx-bg-danger add-to-cart-error" ng-if="errors">
                                        <p ng-repeat="e in errors" 
                                            style="margin:0px;color:#333;">{{e}}</p>
                                    </div>

                                    <div class="alert etx-bg-success add-to-cart-success" 
                                        ng-if="add_success">
                                        <p>Adicionado com sucesso!</p>
                                    </div>
                                </div>
                            </div>

                            <!-- BLOG POST -->
                            <div class="row rs-margin blog-container">
                                <!-- product post (services & review) -->
                                <div class="col-md-12 rs-padding product-post-container"
                                    ng-if="productPost"
                                    style="min-height:500px;margin-top:20px;">

                                    <h3 class="ecommerce-post-title">
                                        {{ productPost.fields.<%- $BXF.title_df %> }}
                                    </h3>

                                    <div class="ecommerce-post-content">
                                        <div id="ecommerce-item-post-<%-compobj.id%>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RECOMENDATIONS -->
                    <div class="row rs-margin more-like-this-header"
                        id="more-like-this-header-<%=compobj.id%>">
                        <!-- product post (services & review) -->
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 more-like-this-info">
                            <h4 class="area-title">
                                Veja estes tamb&eacute;m
                            </h4>

                            <div class="product-more-like-this">
                                <h3 class="" 
                                    style="margin:0px!important;"
                                    ng-if="loading_moreLK">
                                    <span class="fa fa-refresh fa-spin etx-text-secondary"
                                    style="font-size:34px;">
                                    </span>
                                </h3>
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 more-like-this-container">
                            <div class="row rs-margin more-like-this-listing"
                                id="more-like-this-listing-<%=compobj.id%>">
                                <div ng-repeat="item in more_like_this.docs.slice(0,4)"
                                    class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 mlt-item-container"
                                    title="{{item.titleDf}}"
                                    style="padding:0px;vertical-align: middle;background-image:url('{{item.cached_image}}');background-size:contain;background-repeat:no-repeat;">

                                    <div class="card mlt-item" style="padding:10px;border-radius:15px;width:100%;background:transparent;border:0px;">
                                        <div style="padding:0px;padding-top:220px;padding-bottom:15px;height:350px;">
                                        </div>
                                    </div>

                                    <div class="item-details ">
                                        <h4 class="prod-title etx-text-white " style="" 
                                            ng-show="item.titleDf.length<20"
                                            ng-bind="item.titleDf">
                                        </h4>

                                        <h4 class="prod-title etx-text-white " style="" 
                                            ng-show="item.titleDf.length>=20"
                                            ng-bind="item.titleDf.slice(0,20) + '...'">
                                        </h4>

                                        <h4 class="prod-price etx-text-white " >
                                          <span class="item-price" 
                                            ng-bind="item.priceAmount|currency:''"></span>
                                          <span class="item-currency" 
                                            ng-bind="item.currency"></span>
                                        </h4>

                                        <a class="btn-round text-center btn etx-bg-success etx-text-white btn-purchase-mlt-item"
                                            href="ec-product.html?product_id={{item.id}}"
                                            style="padding-left:25px;padding-right:25px">
                                            COMPRAR
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="tab-pane fade "
                    id="entity-addcart-<%-compobj.id%>"
                    style=""
                    role="tabpanel">
                </div>

                <div class="tab-pane fade"
                    id="entity-err-<%-compobj.id%>"
                    role="tabpanel">

                    <center>
                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NOT_FOUND'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary"
                                style="font-size:68px;">
                                404
                            </h2>
                            <h2 class="text-secondary">
                                <small>Este produto n&atilde;o foi encontrado.</small>
                            </h2>
                        </div>

                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NO_CONNECTION'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary">
                                <small>Verify your internet connection</small>
                            </h2>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<%=
    compobj.shopping_cart_html 
%>

