<!--
<h3>
  SearchEngine:
  <%-compobj.ecommerce_conf.search_engine %>
</h3>
-->

<div class=" ecommerce-sx-product-listing"
    ng-init="initCallbacks('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$INV.price%>', '<%-$INV.title%>')"
    ng-controller="x99Ecommerce">
  
  <div class="row rs-margin ecommerce-product-container"
    style="min-height:500px;display:block">

    <div class="col-12" style="padding:0px;">
        <ul class="nav nav-tabs xb-grad" role="tablist"
            ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')"
            style="display:none">
            <li role="presentation" 
                class="nav-item"
                style=""
                id="entity-home-<%-compobj.id%>-x">
                <a href="#entity-home-<%-compobj.id%>" 
                    role="tab" data-toggle="tab"
                    class="nav-link text-bold active">
                    Home
                </a>
            </li>

            <li role="presentation" 
                class="nav-item"
                style=""
                id="entity-list-<%-compobj.id%>-x">
                <a href="#entity-list-<%-compobj.id%>" 
                    role="tab" data-toggle="tab"
                    class="nav-link text-bold">
                    Posts
                </a>
            </li>

        </ul>
    </div>

    <div class="col-12 rs-padding">
        <div class="tab-content"
            ng-init="loadProducts('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>','<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>')"
            id="blogMgr-<%-compobj.id%>">

            <div class="tab-pane fade show active"
                id="entity-home-<%-compobj.id%>"
                role="tabpanel">
                <center>
                    <div style="padding-top:32px;"
                      class="ecommerce-items-loader">
                        <h2 class="text-warning">
                            <span class="fa fa-refresh fa-spin"
                                  style="font-size:45px;"></span>
                            <br/>
                            <strong class="text-muted" style="font-size: 20px;">
                              Aguarde
                            </strong>
                        </h2>
                    </div>
                </center>
            </div>

            <div class="tab-pane fade"
                id="entity-list-<%-compobj.id%>"
                role="tabpanel" >

                <h3>GRID</h3>
                <div class="row rs-margin">

                </div>

                <ul class="card-items">
                    <li ng-repeat="item in item_list.list">
                        <div class="card card-ecommerce-item h-100" style="padding:10px;border-radius:15px;width:100%;background:transparent;border:0px">
                          <div style="background-image:url('{{item.cached_image}}');background-size:contain;background-repeat:no-repeat;width:100%;padding:0px;">
                            <div style="padding:10px;padding-top:220px;padding-bottom:15px;height:350px;">

                                <h4 class="card-title text-white " style="" 
                                    ng-show="item.fields.<%-$INV.title%>.length<20"
                                    ng-bind="item.fields.<%-$INV.title%>">
                                </h4>

                                <h4 class="card-title text-white " style="" 
                                    ng-show="item.fields.<%-$INV.title%>.length>=20"
                                    ng-bind="item.fields.<%-$INV.title%>.slice(0,20) + '...'">
                                </h4>

                                <h4 class=" text-white card-ecommerce-item-price" >
                                  <span class="item-price" ng-bind="item.fields.<%-$INV.price%>|currency:''"></span>
                                  <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
                                </h4>

                                <a class="btn-round text-center btn btn-success text-white "
                                    href="ec-product.html?product_id={{item.id}}"
                                    style="padding-left:25px;padding-right:25px">
                                    COMPRAR
                                </a>
                            </div>
                          </div>        
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade"
                id="blog-newpost-<%-compobj.id%>"
                role="tabpanel">

            </div>
        </div>
    </div>
  </div>

  <div class="row rs-margin feature-ecommerce">
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 feature-delivery">
        <center>
            <div class="feature-item">
                <span class="fa fa-truck fa-service-logo pull-left"></span>
                <div class="x99-service-descr pull-left">
                    <h3 class="h3-feature">Entrega</h3>
                    <span class="h3-text"><%= compobj.fields[$PCF.descr_df] %></span>
                </div>
            </div>
        </center>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center feature-payment">
        <center>
            <div class="feature-item">
                <span class="fa fa-credit-card fa-service-logo pull-left"
                    style="font-size:58px;"></span>
                <div class="x99-service-descr pull-left">
                    <h3 class="h3-feature">Pagamento</h3>
                    <span>
                      <%= compobj.fields[$PCF.title_df] %>
                    </span>
                </div>
            </div>
        </center>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center feature-contact">
        <center>
          <div class="feature-item">
              <span class="fa fa-phone fa-service-logo pull-left">
              </span>
              <div class="x99-service-descr pull-left">
                  <!-- <strong>Contact</strong> -->
                  <h3 class="h3-feature">Contacto</h3>
                  <a href="mailto:<%= compobj.fields[$PCF.email_1] %>"><%= compobj.fields[$PCF.email_1] %></a>
                  <br/>
                  <a href="tel:<%= compobj.fields[$PCF.phone_1] %>"
                      style="color:#333;font-weight:bold;"><%= compobj.fields[$PCF.phone_1] %></a>
              </div>
          </div>
        </center>
      </div>
  </div>

</div>

<%=
    compobj.shopping_cart_html 
%>
