<div class=" ecommerce-item-page"
    ng-controller="x99Ecommerce22"
    style="">

    <div class="row rs-margin"
        ng-init="fetchProductV2('<%-compobj.id%>', '<%- $BXF.content_mkd %>', '<%- compobj.fields[$PCF.webapp_id] %>', '<%- compobj.org %>', '<%=compobj.ecommerce_item_conf.enable_recommender%>')"
        style="min-height:500px;display:block;">
        <div class="col-md-12" style="padding:0px;">

            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;display:none;">
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-addcart-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        add to cart
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    id="entity-err-<%-compobj.id%>-x">
                    <a href="#entity-err-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Err
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-12" style="padding:0px;">
            <div class="tab-content" 
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center>
                      <div style="padding-top:32px;"
                        ng-if="REQ_STATUS=='LOADING'"
                        class="ecommerce-items-loader">
                          <h2 class="text-warning">
                              <span class="fa fa-refresh fa-spin"
                                    style="font-size:45px;"></span>
                              <br/>
                              <strong class="text-muted" style="font-size: 20px;">
                               Hold on
                              </strong>
                          </h2>
                      </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >

                    <!-- product data -->
                    <div class="row rs-margin purchase-item-container"
                        style="padding-top:0px;margin-top:20px;clear:both;">

                        <!-- product image -->
                        <div class="col-md-12 col-lg-7 col-sm-12 col-xs-12 etx-product-cover"
                            title="Zoom In"
                            style="min-height:350px;max-width:100%;height:300px;background-image:url('{{product_item.map.image}}');background-size:cover;background-position: center center;background-repeat:no-repeat;border-radius:0px;">
                        </div>

                        <!-- product details -->
                        <div class="col-md-12 col-lg-5 col-sm-12 col-xs-12 etx-product-details">

                            <div class="product-details-column etx-col-fixed">
                                <p ng-repeat="tag in product_item.category.tags"
                                    class="tag-item-{{$index}} tag-item ">
                                    {{tag.label}}
                                </p>
                                <h1 class="ecom-product-title">
                                    <span ng-bind="product_item.map.title"></span>
                                </h1>

                                <p class="product-item-ref"
                                    ng-bind="'REF. '+product_item.id"></p>

                                <p class="product-item-descr"
                                    ng-bind="product_item.map.long_descr"></p>

                                <div class="product-price-area"
                                    ng-if="!has_children || product_item.map.price>0">
                                    <h3 style="margin:0px;display:inline;" 
                                        class="etx-text-danger cursor-pointer product-item-price">
                                        {{product_item.map.price|currency:''}}
                                    </h3>
                                    <h3 style="margin:0px;display:inline;" 
                                        class="etx-text-danger cursor-pointer product-item-currency">
                                        {{product_item.map.currency}}
                                    </h3>
                                </div>

                                <!-- OLD PRICE -->
                                <h4 class="card-title ecommerce-item-old-price cursor-pointer">
                                    <div ng-if="product_item.fields.<%-$INV.old_price%>>0">
                                        <span class="item-old-price" 
                                            ng-bind="product_item.map.old_price|currency:''"></span>
                                            <span class="item-currency" ng-bind="product_item.map.currency">
                                        </span>
                                    </div>
                                </h4>

                                <!-- FAMILY -->
                                <table class="table table-condensed table-family"
                                    ng-if="product_item"
                                    style="display:block;overflow:hidden;padding:0px;"
                                    ng-init="loadFamilyOf('<%=compobj.id%>', product_item)">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left:0px;border:0px solid #000;" class="cursor-pointer"
                                                ng-click="openFamilyItemV2(fam)"
                                                title="{{fam.fields.title}}"
                                                ng-repeat="fam in family_data.list"
                                                href="{{fam.fields.image}}">
                                                <div style="background-image:url('{{CacheImg(fam.fields.image, 50, 50)}}');background-size:cover;width:50px;height:50px;">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- SIZE, OPTIONS & INVENTORY STATUS -->
                                <div class="row rs-margin purchase-details" 
                                    ng-if="product_item.id"
                                    ng-init="loadChildrenOf('<%=compobj.id%>', product_item)">

                                    <div class="col-12 qtd-options-container" 
                                        style="padding-left:0px;"
                                        ng-if="has_children && children_list.length>1">
                                        <button ng-repeat="child in children_list"
                                            ng-class="{'btn-item-select-option btn btn-round etx-bg-danger etx-text-white':true, 'active':product_item.id==child.id,'unactive':product_item.id!=child.id}"
                                            ng-click="selectChildren(child)">
                                            {{child.fields.short_descr}}
                                        </button>
                                    </div>

                                    <div class="col-6" style="padding-left:0px;">
                                        <p ng-if="INVENTORY_STATUS[product_item.id].in_stock>0"
                                            class="product-item-stock-amount">
                                            {{INVENTORY_STATUS[product_item.id].in_stock}}
                                            in stock!
                                        </p>
                                        <p ng-if="INVENTORY_STATUS[product_item.id].in_stock==0"
                                            class="product-item-no-stock">
                                            Sold Out!
                                        </p>
                                        <p ng-if="INVENTORY_STATUS[product_item.id].status=='NOT_FOUND'"
                                            class="product-item-not-available">
                                            Not available
                                        </p>
                                    </div>

                                    <div class="col-6">
                                        <div class="alert etx-bg-danger add-to-cart-error" ng-if="errors">
                                            <p ng-repeat="e in errors" 
                                                style="margin:0px;color:#333;">{{e}}</p>
                                        </div>
                                        <div class="alert etx-bg-success add-to-cart-success" 
                                            ng-if="add_success">
                                            <p>Added to cart!</p>
                                        </div>
                                        <!--
                                        <a class="btn btn-lg etx-bg-danger etx-text-white text-bold btn-back-cart"
                                            href="marketplace.html">
                                            <span class="fa fa-chevron-left"></span>
                                            VOLTAR
                                        </a>
                                        <a class="btn btn-lg etx-bg-danger etx-text-white text-bold btn-add-cart btn-add-cart-item"
                                            ng-show="!verifing_status"
                                            href="account.html">
                                            CHECKOUT
                                        </a>
                                        -->
                                    </div>
                                </div>

                                <!-- QUANTITY & CART -->
                                <div class="row rs-margin"
                                    ng-if="INVENTORY_STATUS[product_item.id].in_stock>0">
                                    <div class="col-12 qtd-label-container" style="padding-left:10px;">
                                        <label class="qtd-label">Amount</label>
                                    </div>

                                    <div class="col-6 rs-padding qtd-amount-container" 
                                        style="padding-left:0px;">
                                        <div class="input-group qtd-group">
                                          <span class="input-group-addon decr-control bg-secondary cursor-pointer"
                                            ng-click="decrAmount()">-</span>

                                          <input type="number" class="form-control qtd-amount" 
                                            aria-label="Amount (to the nearest dollar)" 
                                            ng-disabled="true"
                                            ng-model="purchaseItem.amount"
                                          />

                                          <span class="input-group-addon incr-control bg-secondary cursor-pointer" ng-click="incrAmount()">+</span>
                                        </div>
                                    </div>

                                    <div class="col-6 add-to-card-container">
                                        <button class="btn btn-block btn-lg etx-text-white text-bold btn-yellow btn-add-cart-item"
                                            type="button"
                                            style="border-radius:0px;"
                                            ng-disabled="verifing_status||(has_children&&product_item.map.price==0)"
                                            ng-click="verifyAndFinishPurchase()"
                                            >
                                            <span class="fa fa-refresh fa-spin" ng-show="verifing_status"></span>
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>

                                <!-- BLOG POST -->
                                <div class="row rs-margin blog-container">
                                    <!-- product post (services & review) -->
                                    <div class="col-md-12 rs-padding product-post-container"
                                        ng-if="productPost"
                                        style="min-height:500px;margin-top:20px;">

                                        <h3 class="ecommerce-post-title">
                                            {{ productPost.fields.<%- $BXF.title_df %> }}
                                        </h3>

                                        <div class="ecommerce-post-content">
                                            <div id="ecommerce-item-post-<%-compobj.id%>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade "
                    id="entity-addcart-<%-compobj.id%>"
                    style=""
                    role="tabpanel">
                </div>

                <div class="tab-pane fade"
                    id="entity-err-<%-compobj.id%>"
                    role="tabpanel">

                    <center>
                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NOT_FOUND'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary"
                                style="font-size:68px;">
                                404
                            </h2>
                            <h2 class="text-secondary">
                                <small>Este produto n&atilde;o foi encontrado.</small>
                            </h2>
                        </div>

                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NO_CONNECTION'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary">
                                <small>Verify your internet connection</small>
                            </h2>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<%=
    compobj.shopping_cart_html 
%>

