<!-- <h3>
  SearchEngine:
  <%-compobj.ecommerce_conf.search_engine %>
  <br/>
  category: <%-compobj.fields[$PCF.category]%>
</h3>
 -->

<div class=" <%-compobj.fields[$PCF.comp_size] %> ecommerce-sx-product-listing"
    ng-controller="x99Ecommerce22">
    
    <div class="row rs-margin ecommerce-product-container"
        style="min-height:500px;display:block">

        <div class="col-12" style="padding:0px;"
            ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')">
            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;display:none">
                <li role="presentation" 
                    class="nav-item"
                    style=""
                    id="entity-home-<%-compobj.id%>-x">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style=""
                    id="entity-list-<%-compobj.id%>-x">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-12 rs-padding">
            <div class="tab-content"
                ng-init="loadProducts('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>','<%-compobj.fields[$PCF.category]%>')"
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center>
                        <div style="padding-top:32px;"
                          class="ecommerce-items-loader">
                            <h2 class="text-warning">
                                <span class="fa fa-refresh fa-spin"
                                      style="font-size:45px;"></span>
                                <br/>
                                <strong class="text-muted" style="font-size: 20px;">
                                  Aguarde
                                </strong>
                            </h2>
                        </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >
                    <h3 style="margin:0px;"
                      class="etx-no-results text-center"
                      ng-if="search_results.response.numFound==0">
                      Nenhum resultado encontrado
                    </h3>
                    <!--
                    <div class="etx-results-paging text-center"
                      ng-if="search_results.response.numFound>0">
                      <h3 style="margin:0px;">
                        {{search_results.response.numFound}} resultados encontrados
                      </h3>
                      <h3 style="margin:0px;font-size:22px;">
                        Mostrando {{search_results.response.docs.length}}
                      </h3>
                    </div>
                    -->

                    <div class="etx-sortby-area">
                        <!-- Single button -->
                        <div class="btn-group">
                          <button type="button" 
                            class="btn etx-bg-danger text-white dropdown-toggle" 
                              data-toggle="dropdown" 
                              ng-disabled="running_sort"
                              aria-expanded="false">
                            Ordenar por (<span class="text-bold" ng-bind="sort_by_label"></span>)
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li class="nav-item">
                              <a href="#" class="nav-link text-primary"
                                ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_RECENT')">Mais recente</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="#"
                                  ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_MOST_EXPENSIVE')">Mais caro</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="#"
                                  ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_CHEAPER')">Mais barato</a>
                            </li>
                            
                            <li class="nav-item divider"></li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="#"
                                  ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_POPULAR')">
                                  <span class="fa fa-star text-warning"></span>Popular
                                </a>
                            </li>
                          </ul>
                        </div>
                    </div>

                    <%= compobj.item_html %>

                </div>

                <div class="tab-pane fade"
                    id="blog-newpost-<%-compobj.id%>"
                    role="tabpanel">
                </div>
            </div>
        </div>
    </div>

    <div class="row rs-margin feature-ecommerce">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 feature-delivery">
          <center>
              <div class="feature-item">
                  <span class="fa fa-truck fa-service-logo pull-left"></span>
                  <div class="x99-service-descr pull-left">
                      <h3 class="h3-feature">Entrega</h3>
                      <span class="h3-text"><%= compobj.fields[$PCF.descr_df] %></span>
                  </div>
              </div>
          </center>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center feature-payment">
          <center>
              <div class="feature-item">
                  <span class="fa fa-credit-card fa-service-logo pull-left"
                      style="font-size:58px;"></span>
                  <div class="x99-service-descr pull-left">
                      <h3 class="h3-feature">Pagamento</h3>
                      <span>
                        <%= compobj.fields[$PCF.title_df] %>
                      </span>
                  </div>
              </div>
          </center>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center feature-contact">
          <center>
            <div class="feature-item">
                <span class="fa fa-phone fa-service-logo pull-left">
                </span>
                <div class="x99-service-descr pull-left">
                    <!-- <strong>Contact</strong> -->
                    <h3 class="h3-feature">Contacto</h3>
                    <a href="mailto:<%= compobj.fields[$PCF.email_1] %>"><%= compobj.fields[$PCF.email_1] %></a>
                    <br/>
                    <a href="tel:<%= compobj.fields[$PCF.phone_1] %>"
                        style="color:#333;font-weight:bold;"><%= compobj.fields[$PCF.phone_1] %></a>
                </div>
            </div>
          </center>
        </div>
    </div>

</div>

<%=
    compobj.shopping_cart_html 
%>
