<div class=" ecommerce-search-page-container"
    ng-controller="x99EcommerceSearch22"
    ng-init="setupSearch('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>')"
    style="padding:0px;margin-top:0px;">

    <!--
    <h3>
      SearchEngine:
      <%-compobj.ecommerce_conf.search_engine %>
    </h3>
    -->

    <div class="row rs-margin">

        <div class="col-12 rs-padding etx-s22-search-container" style="">
            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;display:none">
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-addcart-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        add to cart
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-notfound-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        add to cart
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    id="entity-err-<%-compobj.id%>-x">
                    <a href="#entity-err-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Err
                    </a>
                </li>
            </ul>

            <h3 ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')">
              <a href="index.html"
                  class="btn btn-round etx-bg-secondary etx-text-white text-bold btn-home">
                  <span class="fa fa-home"></span>
                  Home
              </a>
            </h3>

            <form class="form-inline "
                ng-submit="queryProducts('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', {q: qxs})"
                autocomplete="off"
                method="GET">
                <input type="search" 
                    ng-model="qxs"
                    name="qxs"
                    placeholder="Pesquisar aqui" 
                    class="form-control search-input22 search-input ecommerce-navbar-search"
                />
            </form>

            <h3 style="margin:0px;margin-top:0px;"
                class=""
                ng-if="category_label"
                ng-bind="category_label">
            </h3>

            <!--
            <hr style="margin:0px;padding:0px;" 
                class="etx-search-hr" 
            />
            -->
        </div>

        <div class="col-lg-4 d-none d-lg-block rs-padding etx-s22-filter-column"
            >
            <!-- search_cat_list -->
            <div class="etx-s22-col-title">
                <h3>Mostrar</h3>
            </div>

            <ul class="list-group"  
                ng-if="search_cat_list.length>0">
                <li class="xylist-group-item"
                    ng-click="queryProducts('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>')">
                    <label class="cursor-pointer text-bold">
                        TODOS
                    </label>
                </li>

                <li ng-class="{'xylist-group-item':true,
                               'active': cat_filter[cat.id]}"
                    ng-click="filterCats('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', cat.id, cat.label)"
                    ng-repeat="cat in search_cat_list">
                    <label class="cursor-pointer">
                        <span class=""
                            style="font-size:18px;">
                            {{cat.label}}
                        </span>

                        <span class="etx-text-secondary">
                            ({{cat.count}})
                        </span>
                    </label>
                </li>
            </ul>
        </div>


        <div class="col-sm-12 col-xs-12 d-lg-none ">
            <button 
                class="btn btn-sm btn-round etx-bg-light btn-round btn-all-price-filter pull-left"
                ng-click="queryProducts('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>')"
                >
                Todas categorias
            </button>

            <select ng-model="currentCat"
                ng-change="filterCats('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', currentCat.id, currentCat.label)"
                class="form-control">
                <option ng-value="cat"
                    ng-repeat="cat in search_cat_list ">
                    {{cat.label}} ({{cat.count}})
                </option>
            </select>
        </div>

        <div class="col-md-12 col-sm-12 col-lg-8 col-xs-12" 
            style="padding:0px;">
            <div class="tab-content" 
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center ng-if="loading_search">
                        <div style="padding-top:32px;"
                            class="ecommerce-items-loader">
                            <h2 class="text-warning">
                                <span class="fa fa-refresh fa-spin"
                                    style="font-size:45px;"></span>
                                <br/>
                                <strong class="text-muted" style="font-size: 20px;">
                                Aguarde
                                </strong>
                            </h2>
                        </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >
                  <!--
                  <h3>
                    <%= compobj.ecommerce_conf.prod_template %>
                  </h3>
                  -->
                  <%= compobj.item_html %>
                </div>

                <div class="tab-pane fade "
                    id="entity-notfound-<%-compobj.id%>"
                    style="background-color:#fff;"
                    role="tabpanel">

                    <div class="col-12 not-found-search"
                        style="padding:50px;"
                        ng-if="search_results.response.numFound==0">
                        <h2 class="not-found-info text-center"
                            style="color:#666;margin:0px;">
                            Nenhum resultado encontrado para '{{search_q}}'
                        </h2>
                        <h2 class="not-found-info text-center"
                            style="color:#666;margin:0px;">
                            <small>
                                Verifique se escreveu correctamente.
                            </small>
                        </h2>
                    </div>
                </div>

                <div class="tab-pane fade"
                    id="entity-err-<%-compobj.id%>"
                    role="tabpanel">

                    <center>
                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NOT_FOUND'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary"
                                style="font-size:68px;">
                                404
                            </h2>
                            <h2 class="text-secondary">
                                <small>Resource not found</small>
                            </h2>
                        </div>

                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NO_CONNECTION'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary">
                                <small>Verify your internet connection</small>
                            </h2>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<%=
    compobj.shopping_cart_html 
%>
