<div class=" ecommerce-sx-product-listing"
    ng-init="initCallbacks('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$INV.price%>', '<%-$INV.title%>')"
    ng-controller="x99Ecommerce">
  
  <div class="row rs-margin ecommerce-product-container"
    style="min-height:500px;display:block">

    <div class="col-12" style="padding:0px;">
        <ul class="nav nav-tabs xb-grad" role="tablist"
            ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')"
            style="display:none">
            <li role="presentation" 
                class="nav-item"
                style=""
                id="entity-home-<%-compobj.id%>-x">
                <a href="#entity-home-<%-compobj.id%>" 
                    role="tab" data-toggle="tab"
                    class="nav-link text-bold active">
                    Home
                </a>
            </li>

            <li role="presentation" 
                class="nav-item"
                style=""
                id="entity-list-<%-compobj.id%>-x">
                <a href="#entity-list-<%-compobj.id%>" 
                    role="tab" data-toggle="tab"
                    class="nav-link text-bold">
                    Posts
                </a>
            </li>

        </ul>
    </div>

    <div class="col-12 rs-padding">
        <div class="tab-content"
            ng-init="loadProducts('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>','<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>', true)"
            id="blogMgr-<%-compobj.id%>">

            <div class="tab-pane fade show active"
                id="entity-home-<%-compobj.id%>"
                role="tabpanel">
                <center>
                    <div style="padding-top:32px;"
                      class="ecommerce-items-loader">
                        <h2 class="text-warning">
                            <span class="fa fa-refresh fa-spin"
                                  style="font-size:45px;"></span>
                            <br/>
                            <strong class="text-muted" style="font-size: 20px;">
                              Aguarde
                            </strong>
                        </h2>
                    </div>
                </center>
            </div>

            <div class="tab-pane fade"
                id="entity-list-<%-compobj.id%>"
                role="tabpanel" >


                <div class="row rs-margin destaque-list-search">
                    <div class="col-12 destaque-list-search-column">

                        <form class="form-inline search-trigger"
                            autocomplete="off">
                            <input type="search" 
                              name="q"
                              ng-init="initJ1nSearch('#mobile-search-<%=compobj.id%>', '<%=compobj.id%>', 'mobile')"
                              ng-model="etx_search_q"
                              id="mobile-search-<%=compobj.id%>"
                              placeholder="Pesquisar" 
                              style="font-size:16px;background-color:#fff;margin-bottom:15px;box-shadow: 0px 0px 2px rgba(0,0,0,.3);font-size: 17px;font-weight: bold;"
                              class="form-control search-input ecommerce-navbar-search"
                            />
                        </form>

                    </div>
                </div>

                <div class="row rs-margin destaque-list-container">
                    <div class="col-lg-4 col-md-6 mb-30 col-sm-12 col-xs-12 flow-card"
                        ng-repeat="item in item_list.list">
                        <div class="card super-card h-100 "  
                            style="margin-top:15px;background-size:contain;background-image:url('{{item.cached_image}}');margin-top: 15px;background-size: contain;background-repeat: no-repeat;background-color: transparent;">
                            <div class="card-body">
                                <h4 class="card-title" style="color:#5c0f8b!important">
                                    <span class="item-price" ng-bind="item.fields.<%-$INV.price%>|currency:''"></span>
                                    <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
                                </h4>

                                <div class="comp_html">
                                    <p>
                                      {{item.fields.<%-$INV.title%>}}
                                    </p>
                                </div>

                                <a class="btn-round text-center btn etx-bg-primary etx-text-white "
                                    href="ec-product.html?product_id={{item.id}}"
                                    style="padding-left:25px;padding-right:25px">
                                    COMPRAR
                                </a>
                                <!--
                                <a class="btn-round text-center btn etx-bg-primary etx-text-white "
                                    href="ec-product.html?product_id={{item.id}}"
                                    style="padding-left:25px;padding-right:25px">
                                    COMPRAR
                                </a>
                                -->
                            </div>
                        </div>

                    </div>

                    <div class="col-12" style="width:100%;">
                        <div style="padding-top:32px;"
                            ng-if="loading_more"
                            class="ecommerce-items-loader text-center">
                            <h2 class="text-warning">
                                <span class="fa fa-refresh fa-spin"
                                style="font-size:45px;"></span>
                                <br/>
                                <strong class="text-muted" style="font-size: 20px;">
                                Carregando
                                </strong>
                            </h2>
                        </div>

                        <button class="btn btn-primary btn-block load-more-btn"
                            id="loadmorebtn-<%=compobj.id%>"
                            ng-disabled="loading_more"
                            ng-if="item_list.totalCount>item_list.list.length"
                            ng-click="loadMore('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', '#loadmorebtn-<%=compobj.id%>', '<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>', '<%-compobj.ecommerce_conf.item_limit%>')">
                                Ver +
                        </button>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade"
                id="blog-newpost-<%-compobj.id%>"
                role="tabpanel">

            </div>
        </div>
    </div>
  </div>


</div>
