<div class=" ecommerce-item-page"
    ng-controller="x99Ecommerce22"
    style="background-color:#f4f4f4;margin-top:90px;">

    <div class="row rs-margin ecommerce-item-top-page">
        <div class="col-12">
            <h3>
                <a href="index.html"
                    class="btn btn-round etx-bg-secondary btn-home etx-text-white text-bold">
                    <span class="fa fa-home"></span>
                    Home
                </a>
            </h3>
        </div>
    </div>

    <div class="row rs-margin"
        ng-init="fetchProduct('<%-compobj.id%>', '<%- $BXF.content_mkd %>', '<%- compobj.fields[$PCF.webapp_id] %>', '<%- compobj.org %>', false)"
        style="min-height:500px;display:block;">
        <div class="col-md-12" style="padding:0px;">

            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;display:none">
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-addcart-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        add to cart
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    id="entity-err-<%-compobj.id%>-x">
                    <a href="#entity-err-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Err
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-12" style="padding:0px;">
            <div class="tab-content" 
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center>
                      <div style="padding-top:32px;"
                        ng-if="REQ_STATUS=='LOADING'"
                        class="ecommerce-items-loader">
                          <h2 class="text-warning">
                              <span class="fa fa-refresh fa-spin"
                                    style="font-size:45px;"></span>
                              <br/>
                              <strong class="text-muted" style="font-size: 20px;">
                                LOADING
                              </strong>
                          </h2>
                      </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >
                    <div class="row rs-margin"
                        style="padding-top:10px;margin-top:20px;clear:both;box-shadow:0px 0px 2px rgba(0,0,0,.3);background-color:#fff;">

                        <!-- product image -->
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 etx-product-image"
                            title="Zoom In"
                            style="min-height:450px;max-width:100%;">
                            <div style="max-height:850px;min-height:450px;"
                                ng-if="view_mode=='MAIN'"
                                data-toggle="lightbox"
                                href="{{product_item.fields.<%-$INV.image%>}}"
                                class="text-center cursor-pointer">
                                <img src="{{product_item.fields.<%-$INV.image%>}}"
                                    href="{{product_item.fields.<%-$INV.image%>}}"
                                    style="max-height:850px;max-width:100%;"
                                />
                            </div>
                            <div style="min-height:450px;max-height:850px;"
                                ng-if="view_mode=='SECONDARY'&&currentMedia"
                                data-toggle="lightbox"
                                href="{{currentMedia.fields.<%-$PME.url%>}}"
                                class="text-center cursor-pointer">
                                <img src="{{currentMedia.fields.<%-$PME.url%>}}"
                                    style="max-height:850px;max-width:100%;" 
                                />
                            </div>

                            <table class="table table-condensed"
                                style="display:block;overflow:hidden;overflow-x:scroll;padding:0px;">
                                <tbody>
                                    <tr>
                                        <td style="padding-left:0px;border:2px solid #000;" class="cursor-pointer"
                                            data-gallery="prod-gallery-{{product_item.id}}"
                                            href="{{product_item.fields.<%-$INV.image%>}}"
                                            ng-click="closeMedia()">
                                            <div style="background-image:url('{{product_item.fields.<%-$INV.image%>}}');background-size:cover;width:100px;height:100px;">
                                            </div>
                                        </td>
                                        <td style="padding-left:0px;border:2px solid #000;" class="cursor-pointer"
                                            ng-click="openMedia(media)"
                                            data-gallery="prod-gallery-{{product_item.id}}"
                                            href="{{media.fields.<%-$PME.url%>}}"
                                            ng-repeat="media in media_list">
                                            <div style="background-image:url('{{media.fields.<%-$PME.url%>}}');background-size:cover;width:100px;height:100px;">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- product details -->
                        <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 etx-product-details">
                          <p ng-repeat="tag in product_item.category.tags"
                            class="tag-item-{{$index}} tag-item ">
                            {{tag.label}}
                          </p>

                            <h3>
                                <span ng-bind="product_item.fields.<%-$INV.title%>"></span>
                            </h3>

                            <h4 class="card-title ecommerce-item-tags text-muted">
                                <small ng-repeat="cat in product_item.category.list" 
                                    ng-bind="cat.label + ($index<product_item.category.list.length-1?' | ':'')">
                                </small>
                            </h4>

                            <h4 class="card-title ecommerce-item-review"
                                style="bottom-top:15px;">
                              <span class="fa fa-star text-warning" 
                                ng-if="product_item.fields.prod_rev_avg>=1"></span>
                              <span class="fa fa-star text-warning" 
                                ng-if="product_item.fields.prod_rev_avg>=2"></span>
                              <span class="fa fa-star text-warning" 
                                ng-if="product_item.fields.prod_rev_avg>=3"></span>
                              <span class="fa fa-star text-warning" 
                                ng-if="product_item.fields.prod_rev_avg>=4"></span>
                              <span class="fa fa-star text-warning" 
                                ng-if="product_item.fields.prod_rev_avg>=5"></span>

                              <span class="text-muted"
                                ng-if="product_item.fields.prod_rev_count>0"
                                ng-bind="'('+product_item.fields.prod_rev_count+' avaliações)'">
                              </span>

                              <span class="text-muted"
                                ng-if="product_item.fields.prod_rev_count==0">
                                No Reviews Yet.
                              </span>
                            </h4>

                            <table class="table-sharer table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="<%=webapp.fields[$WAF.domain]%>/ec-store.html?product_id={{product_item.id}}"
                                                class="btn btn-sm bg-secondary text-bold text-white">
                                                SHARE LINK
                                            </a>
                                            <a href="mailto:?subject={{product_item.fields.<%=$INV.title%>}}&amp;body={{product_item.fields.<%=$INV.title%>}} \n Veja este produto no <%=webapp.fields[$WAF.title_df]%>. <%=webapp.fields[$WAF.domain]%>/ec-store.html?product_id={{product_item.id}}"
                                                class="btn btn-sm btn-danger text-white"
                                               >
                                               <span class="fa fa-envelope"></span>
                                               EMAIL
                                            </a>
                                        </td>

                                        <td>
                                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
                                                class="twitter-share-button"
                                                data-size="large" 
                                                data-text="{{product_item.fields.<%=$INV.title%>}} via <%=webapp.fields[$WAF.title_df]%>" 
                                                data-url="<%=webapp.fields[$WAF.domain]%>/ec-store.html?product_id={{product_item.id}}?auto_redirect=1&etx_src=TWEET" 
                                                data-hashtags="" 
                                                data-show-count="true">
                                                Tweet
                                            </a>
                                        </td>

                                        <td>
                                            <div class="fb-share-button" 
                                                data-href="<%=webapp.fields[$WAF.domain]%>/ec-store.html?product_id={{product_item.id}}" 
                                                data-layout="button_count"
                                                data-size="large">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div id="fb-root"></div>

                            <ul class="nav nav-tabs xb-tabs" 
                                id="ecomm-itemx-tab-<%-compobj.id%>" 
                                role="tablist" 
                                style="border:0px;margin-top:15px;">

                                <li class="nav-item">
                                    <a class="nav-link active" id="ecomm-home-<%-compobj.id%>-tab" 
                                        data-toggle="tab" 
                                        href="#ecomm-home-<%-compobj.id%>" role="tab" 
                                        aria-controls="#ecomm-home-<%-compobj.id%>" 
                                        aria-selected="false">
                                        Home
                                    </a>
                                </li>
                             </ul>

                            <div class="tab-content" id="ecomm-itemy-content-<%-compobj.id%>"
                                style="border: 1px solid #ccc;min-height:300px;padding:10px;">
                                <div class="tab-pane fade show active" 
                                    id="ecomm-home-<%-compobj.id%>" 
                                    role="tabpanel">

                                    <h3 style="margin:0px;display:inline;" class="etx-text-danger cursor-pointer product-item-price"
                                        ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', product_item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')">
                                        {{product_item.fields.<%-$INV.price%>|currency:''}}
                                    </h3>
                                    <h3 style="margin:0px;display:inline;" class="etx-text-danger cursor-pointer product-item-currency"
                                        ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', product_item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')">
                                        {{product_item.fields.<%-$INV.currency%>}}
                                    </h3>

                                      <h4 class="card-title ecommerce-item-old-price cursor-pointer"
                                        ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', product_item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                                      >
                                        <div ng-if="product_item.fields.<%-$INV.old_price%>>0">
                                          <span class="item-old-price" ng-bind="product_item.fields.<%-$INV.old_price%>|currency:''"></span>
                                          <span class="item-currency" ng-bind="product_item.fields.<%-$INV.currency%>"></span>
                                        </div>
                                      </h4>

                                      <div ng-if="product_item.fields['<%=$INV.state%>']=='PUBLISHED'||product_item.fields['<%=$INV.state%>']=='AVAILABLE'">
                                        <button class="btn btn-lg etx-bg-danger etx-text-white text-bold btn-add-cart btn-add-cart-item"
                                            ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', product_item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                                            >
                                            <span class="fa fa-shopping-cart"></span>
                                            PURCHASE
                                        </button>
                                      </div>
                                </div>

                                <div class="tab-pane fade" 
                                    id="ecomm-item-<%-compobj.id%>" 
                                    role="tabpanel">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row rs-margin"
                        style="box-shadow:0px 0px 2px rgba(0,0,0,.3);margin-top:50px;background-color:#fff;">
                        <!-- product post (services & review) -->
                        <div class="col-md-12"
                            ng-if="productPost"
                            style="min-height:500px;margin-top:20px;">

                            <h3 class="ecommerce-post-title">
                                {{ productPost.fields.<%- $BXF.title_df %> }}
                            </h3>

                            <div class="ecommerce-post-content">
                                <div id="ecommerce-item-post-<%-compobj.id%>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade "
                    id="entity-addcart-<%-compobj.id%>"
                    style="background-color:#fff;"
                    role="tabpanel">
                    <h2 class="text-primary">
                        Add to Cart
                    </h2>

                    <button class="btn bg-success text-white text-bold"
                        ng-click="addToCartDone('<%-compobj.id%>')">
                        Done
                    </button>
                </div>

                <div class="tab-pane fade"
                    id="entity-err-<%-compobj.id%>"
                    role="tabpanel">

                    <center>
                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NOT_FOUND'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary"
                                style="font-size:68px;">
                                404
                            </h2>
                            <h2 class="text-secondary">
                                <small>Resource not found</small>
                            </h2>
                        </div>

                        <div style="padding-top:32px;"
                             ng-if="REQ_STATUS=='NO_CONNECTION'">
                             <span class="fa fa-times text-danger"
                                style="font-size:57px"></span>
                            <h2 class="text-secondary">
                                <small>Verify your internet connection</small>
                            </h2>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>



