<textarea id="recom-<%=compobj.id%>" style="display:none"><%=(compobj.fields[$PCF.category])%></textarea>

<div class=" <%-compobj.fields[$PCF.comp_size] %> ecommerce-sx-product-listing"
    ng-controller="x99Recom">

    <div class="row rs-margin ecommerce-product-container"
        style="min-height:500px;display:block">

        <div class="col-12">
          <div class="etx-sortby-area ">
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" 
                  class="btn etx-bg-danger text-white dropdown-toggle" 
                    data-toggle="dropdown" 
                    ng-disabled="running_sort"
                    aria-expanded="false">
                  <span class="text-bold" ng-bind="sort_by_label"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link text-primary"
                      ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_RECENT')">Mais recente</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link text-primary" href="javascript:void(0)"
                        ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_MOST_EXPENSIVE')">Mais caro</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link text-primary" href="javascript:void(0)"
                        ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_CHEAPER')">Mais barato</a>
                  </li>
                    
                  <!--
                  <li class="nav-item divider"></li>
                  <li class="nav-item">
                      <a class="nav-link text-primary" href="#"
                        ng-click="sortByFilter('<%=compobj.id%>', 'SORT_BY_POPULAR')">
                        <span class="fa fa-star text-warning"></span>Popular
                      </a>
                  </li>
                  -->
                </ul>
              </div>
          </div>
        </div>

        <div class="col-12" style="padding:0px;"
            ng-init="setCOUNT('<%-compobj.ecommerce_conf.item_limit%>')">
            <ul class="nav nav-tabs xb-grad" role="tablist"
                style="background-color:#f4f4f4;display:none">
                <li role="presentation" 
                    class="nav-item"
                    style=""
                    id="entity-home-<%-compobj.id%>-x">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active">
                        Home
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style=""
                    id="entity-list-<%-compobj.id%>-x">
                    <a href="#entity-list-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Posts
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-12 rs-padding">
            <div class="tab-content"
                ng-init="loadProducts('<%-compobj.id%>')"
                id="blogMgr-<%-compobj.id%>">

                <div class="tab-pane fade show active"
                    id="entity-home-<%-compobj.id%>"
                    role="tabpanel">
                    <center>
                        <div style="padding-top:32px;"
                          class="ecommerce-items-loader">
                            <h2 class="text-warning">
                                <span class="fa fa-refresh fa-spin"
                                      style="font-size:45px;"></span>
                                <br/>
                                <strong class="text-muted" style="font-size: 20px;">
                                  Aguarde
                                </strong>
                            </h2>
                        </div>
                    </center>
                </div>

                <div class="tab-pane fade"
                    id="entity-list-<%-compobj.id%>"
                    role="tabpanel" >

                    <h3 style="margin:0px;"
                      class="etx-no-results text-center"
                      ng-if="search_results.response.numFound==0">
                      Nenhum resultado encontrado
                    </h3>

                     <%= compobj.item_html %>

                    <div class="row rs-margin">
                      <!-- CATEGORY LIST -->
                      <div class="col-12 recom-group"
                          id="recom-group-<%=compobj.id%>-{{tag.id}}"
                          ng-repeat="tag in facet_group_list">
                            <h3 class="recom-title">
                              {{tag.label}}
                              <!--
                              <small class="text-secondary">
                                {{tag.count}} items
                              </small>
                              -->
                            </h3>

                            <div class="row rs-margin">
                                <div class="col-12 group-controller-bar rs-padding">
                                    <button class="btn etx-bg-secondary btn-lg pull-left etx-text-white"
                                        ng-disabled="loading_group[tag.id]||cat_groups[tag.id].offset==0"
                                        ng-if="cat_groups[tag.id].offset>0"
                                        ng-click="loadPreviousGroup('<%=compobj.id%>', tag)">
                                        <span class="fa fa-chevron-left"
                                            style="font-size:45px;"></span>
                                    </button>
                                    <button class="btn etx-bg-secondary btn-lg pull-right etx-text-white"
                                        ng-disabled="loading_group[tag.id]"
                                        ng-if="cat_groups[tag.id].offset+4<=cat_groups[tag.id].list.length"
                                        ng-click="loadNextGroup('<%=compobj.id%>', tag)">
                                        <span class="fa fa-chevron-right"
                                            style="font-size:45px;"></span>
                                    </button>
                                </div>

                                <div class="col-12" style="z-index:100;"
                                  ng-if="loading_group[tag.id]">
                                    <h3 class="text-center" style="margin-bottom:-150px;padding-top:70px">
                                      <span class="fa fa-refresh fa-spin etx-text-warning"
                                        style="font-size:75px;z-index:100;"></span>
                                    </h3>
                                </div>

                                <div ng-class="{'col-lg-3 col-md-4 col-sm-4 col-xs-4 cursor-pointer rs-padding':true, 'cat-is-loading': loading_group[tag.id]}"
                                    ng-repeat="item in cat_groups[tag.id].page">
                                    <div class="card ecommerce-item">
                                          <div style="height:220px;background:url('{{item.cached_image}}');background-size:cover;"
                                              class="prod-bg-image"
                                              ng-click="openProduct(item, '<%-compobj.id%>')">
                                          </div>

                                          <div class="card-body">
                                              <h4 class="ecommerce-item-title text-center" 
                                                ng-click="openProduct(item, '<%-compobj.id%>')"
                                                ng-bind="item.titleDf">
                                              </h4>

                                              <h4 class="card-title text-danger ecommerc-item-price text-center"
                                                ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                                >
                                                <span class="item-price" ng-bind="item.priceAmount|currency:''"></span>
                                                <span class="item-currency" ng-bind="item.currency"></span>
                                              </h4>

                                              <h4 class="card-title ecommerce-item-tags-v2 text-muted text-center"> 
                                                <!-- Categories: {{item.categories}} -->
                                                <span ng-if="item.categories.length>0" 
                                                    class="fa fa-tag" style="font-size:11px;"></span>
                                                <small ng-bind="item.categories[item.categories.length-1].split('#')[1]">
                                                </small>
                                              </h4>

                                              <div ng-if="item.state=='PUBLISHED'|| item.state=='AVAILABLE'">
                                                <button class="btn bg-white text-bold btn-block btn-add-cart"
                                                  style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                                                  ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                                  >
                                                  <span class="fa fa-shopping-cart"></span>
                                                  ADICIONAR
                                                  <span style="color:#333;"
                                                    class="item-amount"
                                                    id="itemv2-amount-<%=compobj.id%>-{{item.id}}">
                                                    {{item.cart_amount}}
                                                  </span>
                                                </button>
                                              </div>

                                              <div ng-if="item.state=='NOT_AVAILABLE'">
                                                <button class="btn text-bold btn-block bg-secondary"
                                                  style="margin-top:10px;"
                                                  >
                                                  N&Atilde;O DISPONIVEL
                                                </button>
                                              </div>

                                              <div ng-if="item.state=='NO_STOCK'">
                                                <button class="btn bg-danger text-bold btn-block btn-danger"
                                                  style="margin-top:10px;"
                                                  >
                                                  FORA DE STOCK
                                                </button>
                                              </div>
                                          </div> 
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn etx-bg-secondary etx-text-white"
                                        ng-click="openRecommenderSearch('<%=compobj.id%>', tag)">
                                        Mais acerca de <strong>{{tag.label}}</strong>
                                    </button>
                                </div>
                            </div>
                      </div>

                      <!-- CATEGORY LINK -->
                      <div class="col-12">

                            <div class="row rs-margin">

                                <div class="cursor-pointer rs-padding col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center"
                                    ng-click="openNewCat('<%=compobj.id%>', tag, $index)"
                                    ng-repeat="tag in cat_list_render">

                                    <div class="card etx-cat-item" 
                                        style="width: 100%;height:100%;display:inline-block;border-radius:0px;border:2px solid #ccc;">
                                        <div class="card-body"
                                            style="">

                                            <h3 class="etx-cat-title">
                                                <span class="etx-text-secondary">
                                                    <strong>
                                                      {{tag.count}}
                                                    </strong>
                                                </span>
                                            </h3>
                                            <h3 style="" class="etx-cat-count">
                                                {{tag.label}}
                                            </h3>

                                            <h3 ng-if="loading_group[tag.id]"
                                                style="display:inline">
                                                <span class="fa fa-refresh fa-spin text-warning"></span>
                                                AGUARDE
                                            </h3>

                                            <div ng-if="cat_error[tag.id]">
                                                <p class="text-danger"
                                                    ng-repeat="err in cat_error[tag.id].errors">
                                                    {{err}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                      </div>
                    </div>
                </div>

                <div class="tab-pane fade"
                    id="blog-newpost-<%-compobj.id%>"
                    role="tabpanel">
                </div>
            </div>
        </div>
    </div>

</div>

<%=
    compobj.shopping_cart_html 
%>
