<!-- FAMILY -->
<table class="table table-condensed"
    ng-if="product_item"
    style="display:block;overflow:hidden;padding:0px;">
    <tbody>
        <tr>
            <td style="padding-left:0px;border:0px solid #000;" 
                class="cursor-pointer family-item"
                ng-click="openMainProdTab()"
                href="{{product_item.map.image}}">
                <div style="background-image:url('{{product_item.map.image}}');background-size:cover;width:50px;height:50px;background-position:center center;">
                </div>
            </td>
            <td style="padding-left:0px;border:0px solid #000;" 
                class="cursor-pointer family-item"
                ng-repeat="fam in family_data.list"
                ng-click="openProdTab(fam, $index)"
                href="{{fam.fields.image}}">
                <div style="background-image:url('{{fam.fields.image}}');background-size:cover;width:50px;height:50px;background-position:center center;">
                </div>
            </td>
        </tr>
    </tbody>
</table>