<div class="row rs-margin more-like-this-header"
    id="more-like-this-header-<%=compobj.id%>">
    <!-- product post (services & review) -->
    <div class="col-md-12"
        style="margin-top:20px;">

        <h4 class="ecommerce-post-title">
            Veja tamb&eacute;m<br/>
            <span style="color:#333;">
                {{more_like_this.numFound}}
            </span>
            <span class="text-secondary text-bold">
                resultados
            </span>
        </h4>

        <div class="product-more-like-this">
            <h3 class="" 
                style="margin:0px!important;"
                ng-if="loading_moreLK">
                <span class="fa fa-refresh fa-spin etx-text-secondary"
                style="font-size:34px;">
                </span>
            </h3>
        </div>
    </div>
</div>

<div class="row rs-margin more-like-this-listing"
    id="more-like-this-listing-<%=compobj.id%>">
    <div ng-repeat="item in more_like_this.docs"
        class=" col-lg-3 col-md-4 col-sm-4 col-xs-4"
        title="{{item.titleDf}}"
        style="padding:0px;vertical-align: middle;">
        <div class="row mlx-item" >
            <div class="col-6 rs-padding text-center cursor-pointer"
                ng-click="inlineOpen22('<%=compobj.fields[$PCF.webapp_id]%>', item)">
              <img ng-src="{{item.cached_image}}"
                  style="display:inline;padding-top:10px;"
                  width="90px" 
                 />
            </div>

            <div class="col-6 rs-padding cursor-pointer"
                ng-click="inlineOpen22('<%=compobj.fields[$PCF.webapp_id]%>', item)">
                <h4 class="ecommerce-item-title " 
                  ng-click="openProduct(item, '<%=compobj.id%>')"
                  ng-bind="item.titleDf">
                </h4>

                <h4 class="card-title text-danger ecommerc-item-price "
                  ng-click="inlineOpen22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                  >
                  <span class="item-price" ng-bind="item.priceAmount|currency:''"></span>
                  <span class="item-currency" ng-bind="item.currency"></span>
                </h4>

                <p ng-if="item.cart_amount>0"
                    class="mlt-cart-amount"
                    style="margin:0px;">
                    <span class="etx-text-danger ">
                        <span class="fa fa-shopping-cart"></span>
                    </span>
                    <span class="etx-text-secondary ">
                        <strong>
                            {{item.cart_amount|currency:''}}
                            {{item.unit}}
                        </strong>
                    </span>
                </p>
            </div>

            <div class="col-12 "
              style="width:100%;">
                <div ng-if="item.state=='PUBLISHED'|| item.state=='AVAILABLE'">
                  <button class="btn etx-bg-danger text-bold btn-block btn-add-cart"
                    style="margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                    ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                    >
                    <span class="fa fa-shopping-cart"></span>
                    ADICIONAR
                    <span style="color:#333;"
                      class="item-amount item-amount-{{item.id}}">
                    </span>
                  </button>

                </div>
            </div>
        </div>
    </div>
</div>