                    <!-- RECOMENDATIONS -->
                    <div class="row rs-margin more-like-this-header"
                        id="more-like-this-header-<%=compobj.id%>">
                        <!-- product post (services & review) -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 more-like-this-info">
                            <h4 class="area-title">
                                See these also
                            </h4>

                            <div class="product-more-like-this">
                                <h3 class="" 
                                    style="margin:0px!important;"
                                    ng-if="loading_moreLK">
                                    <span class="fa fa-refresh fa-spin etx-text-secondary"
                                    style="font-size:34px;">
                                    </span>
                                </h3>
                            </div>
                        </div>

                        <div class="col-12 more-like-this-container">
                            <div class="row rs-margin more-like-this-listing"
                                id="more-like-this-listing-<%=compobj.id%>">
                                <div ng-repeat="item in more_like_this.docs.slice(0,4)"
                                    class=" col-lg-6 col-md-6 mb-30 col-sm-12 col-xs-12 flow-card "
                                    title="{{item.titleDf}}"
                                    style="padding:0px;">

                                    <div class="card super-card h-100 "  
                                        style="margin-top:15px;background-size:contain;background-image:url('{{item.cached_image}}');margin-top: 15px;background-size: contain;background-repeat: no-repeat;background-color: transparent !important;">
                                        <div class="card-body" style="">
                                            <!--
                                            <h4 class="card-title" style="color:#5c0f8b!important">
                                                <span class="item-price" ng-bind="item.priceAmount|currency:''"></span>
                                                <span class="item-currency" ng-bind="item.currency"></span>
                                            </h4>
                                            -->
                                            <div class="mlt-item-details">
                                                <p ng-bind="item.titleDf" class="mlt-item-title">
                                                </p>
                                                <a class="btn-round text-center btn etx-bg-primary etx-text-white "
                                                    href="ec-product.html?product_id={{item.id}}"
                                                    style="padding-left:25px;padding-right:25px">
                                                    COMPRAR
                                                </a>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
