<!-- RECOMENDATIONS -->
<div class="row rs-margin more-like-this-header"
    id="more-like-this-header-<%=compobj.id%>">
    <!-- product post (services & review) -->
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 more-like-this-info">
        <h4 class="area-title">
            Veja estes tamb&eacute;m
        </h4>

        <div class="product-more-like-this">
            <h3 class="" 
                style="margin:0px!important;"
                ng-if="loading_moreLK">
                <span class="fa fa-refresh fa-spin etx-text-secondary"
                style="font-size:34px;">
                </span>
            </h3>
        </div>
    </div>

    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 more-like-this-container">
        <div class="row rs-margin more-like-this-listing"
            id="more-like-this-listing-<%=compobj.id%>">
            <div ng-repeat="item in more_like_this.docs.slice(0,4)"
                class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 mlt-item-container"
                title="{{item.titleDf}}"
                style="padding:0px;vertical-align: middle;background-image:url('{{item.cached_image}}');background-size:contain;background-repeat:no-repeat;">

                <div class="card mlt-item" style="padding:10px;border-radius:15px;width:100%;background:transparent;border:0px;">
                    <div style="padding:0px;padding-top:220px;padding-bottom:15px;height:350px;">
                    </div>
                </div>

                <div class="item-details ">
                    <h4 class="prod-title etx-text-white " style="" 
                        ng-show="item.titleDf.length<20"
                        ng-bind="item.titleDf">
                    </h4>

                    <h4 class="prod-title etx-text-white " style="" 
                        ng-show="item.titleDf.length>=20"
                        ng-bind="item.titleDf.slice(0,20) + '...'">
                    </h4>

                    <h4 class="prod-price etx-text-white " >
                      <span class="item-price" 
                        ng-bind="item.priceAmount|currency:''"></span>
                      <span class="item-currency" 
                        ng-bind="item.currency"></span>
                    </h4>

                    <a class="btn-round text-center btn etx-bg-success etx-text-white btn-purchase-mlt-item"
                        href="ec-product.html?product_id={{item.id}}"
                        style="padding-left:25px;padding-right:25px">
                        COMPRAR
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>
