
<div class=""
  ng-controller="x99EcommerceCart"
  ng-init="initCartModals('<%=compobj.fields[$PCF.webapp_id]%>', '<%-$INV.price%>', '<%-$INV.title%>', '<%-$INV.image%>')">
    <!-- cart -->
    <div class="modal fade" id="ecommerce-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;background-color:#1f4788;border-radius:0px;border-bottom: 0px;">
                    <h5 style="color:#fff;margin:0px" class="pull-left">
                        Adicionar ao Carinho
                    </h5>

                    <button type="button" class="close pull-right" 
                        data-dismiss="modal" aria-label="Close" 
                        style="padding-top:1px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body"
                    style="padding-top:0px;padding-bottom:20px;">

                    <div class="row rs-margin">
                      <div class="col-12" style="margin-top:15px;">
                        <div class="cart-item">
                            <div class="product">
                              <img ng-src="{{currentItem.image}}"
                                  width="100px;display:inline"
                                  class="pull-left"
                                 alt="{{currentItem.image}}" />
                              <strong class="title">
                                {{currentItem.label}}
                              </strong>
                              <span>
                                <span data-bind="subtotalLabel">
                                    {{currentItem.price|currency:''}}
                                </span>$
                              </span>
                            </div>
                        </div>
                      </div>

                      <div class="col-8">
                          <p style="margin:0px;padding:5px;background-color:#f4f4f4;font-size:24px;"
                            class="form-control">
                            {{currentItem.amount}}
                            <strong class="pull-right">
                              {{currentItem.unit}}
                            </strong>
                          </p>
                      </div>
                      <div class="col-2 text-center">
                          <button class="btn btn-secondary btn-round"
                              ng-click="incrAmount('<%=compobj.id%>', currentItem)">
                            <span class="fa fa-caret-up text-white"></span>
                          </button>
                      </div>
                      <div class="col-2 text-center">
                          <button class="btn btn-secondary btn-round"
                            ng-disable="myCart.items[currentItem.id].amount<=0"
                            ng-click="decrAmount('<%=compobj.id%>', currentItem)">
                            <span class="fa fa-caret-down text-white"></span>
                          </button>
                      </div>

                      <div class="col-12" style="margin-top:5px;padding-bottom:5px;">
                          <div class="btn-group" role="group" aria-label="..."
                            style="overflow:hidden;overflow-x:scroll;max-width:100%;padding-bottom:5px;"
                            ng-if="currentItem.unit=='KG'||currentItem.unit=='LT'">
                            <button type="button" class="btn btn-primary text-bold btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 1)">1.0{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.9)">0.9{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.8)">0.8{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.7)">0.7{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.6)">0.6{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.5)">0.5{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.4)">0.4{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.3)">0.3{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.2)">0.2{{currentItem.unit}}</button>
                            <button type="button" class="btn btn-primary btn-dec-val"
                              style="margin-right:4px;padding:5px;border-radius:40px;"
                              ng-click="setAmount('<%=compobj.id%>', currentItem, 0.1)">0.1{{currentItem.unit}}</button>
                          </div>
                      </div>

                      <div class="col-12"
                        style="margin-top:16px;margin-bottom:10px;">
                          <h3 class="text-left" style="margin-bottom:10px;">
                            Total<br/>
                            <small ng-if="!currentItem.amount">
                                0.00
                            </small>
                            <small ng-if="currentItem.amount>0">
                                {{currentItem.amount*currentItem.price|currency: ''}} $
                            </small>
                          </h3>

                          <center>

                            <button type="button" class="shop-btn btn bg-success text-white btn-sm" data-dismiss="modal">
                              OK
                            </button>

                            <button class="shop-btn btn bg-danger text-white btn-sm"
                              ng-click="removeFromCart('<%=compobj.id%>', currentItem)">
                              Remover
                            </button>
                          </center>

                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;background-color:#1f4788;border-radius:0px;border-bottom: 0px;">
                    <h5 style="color:#fff;margin:0px" class="pull-left">
                        <span class="fa fa-shopping-cart"></span>
                        Meu Carinho
                    </h5>

                    <button type="button" class="close pull-right" 
                        data-dismiss="modal" aria-label="Close" 
                        style="padding-top:1px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body"
                    style="padding-top:0px;padding-bottom:20px;">

                    <h3 class="text-right" style="margin:0px;">
                        Total
                        <small>
                            {{total_cart|currency:''}}$
                        </small>
                    </h3>

                    <div role="tabpanel">

                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist"
                        style="display:none">
                        <li role="presentation" class="nav-item">
                            <a href="#cart-home-details" aria-controls="cart-home-details" 
                                role="tab" data-toggle="tab"
                                class="nav-link active">
                                Carrinho
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#preparing-cart-<%=compobj.id%>" 
                                aria-controls="preparing-cart-<%=compobj.id%>" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Prepar o carrinho
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#reserve-now-<%=compobj.id%>" aria-controls="reserve-now" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Reservar
                            </a>
                        </li>
                        <li role="presentation"
                            style="display:none;">
                            <a href="#reserve-success-<%=compobj.id%>" 
                                aria-controls="reserve-success-<%=compobj.id%>" 
                                role="tab" data-toggle="tab"
                                class="nav-link">
                                Reserva com sucesso
                            </a>
                        </li>


                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="cart-home-details">
                            <div class="row rs-margin">

                                <div class="col-12" style="max-height:300px;overflow:hidden;overflow-y:scroll">
                                    <div class="cart-item"
                                        ng-repeat="item in item_list">
                                        <div class="product" 
                                            >
                                            <img ng-src="{{item.image}}"
                                                width="100px;display:inline"
                                                class="pull-left"
                                                alt="{{item.image}}"
                                            />
                                            <strong class="title">
                                                {{item.label}}
                                            </strong>
                                            <br/>
                                            <span>
                                                <span >
                                                    {{item.price | currency:''}}
                                                </span>$
                                            </span>
                                            <strong>x</strong>
                                            <input class="form-control" 
                                                style="width:160px"
                                                disabled
                                                ng-model="item.amount" 
                                            />
                                        </div>
                                    </div>

                                </div>

                               <div class="col-12">
                                  <!--
                                  <button class="btn bg-primary text-white btn-lg text-bold">
                                    <span class="fa fa-credit-card"></span>
                                    Checkout
                                  </button>
                                  -->
                                  <button class="btn bg-primary text-white btn-lg text-bold btn-block btn-modal-checkout"
                                    ng-click="goCheckout()"
                                    ng-if="item_list.length>0"
                                    style="color:#fff">
                                    <span class="fa fa-card"></span>
                                    Checkout
                                  </button>
                              </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="preparing-cart-<%=compobj.id%>">
                            <div ng-if="loading_cart">
                                <span class="fa fa-refresh fa-spin"></span>
                                <h3>Preparando o carinho...</h3>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" 
                            id="reserve-success-<%=compobj.id%>">
                            <span class="fa fa-check"></span>
                            <h3>Reserva efectuada com sucesso</h3>
                        </div>

                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

