
<div class=""
  ng-controller="x99EcommerceCart"
  ng-init="initCartModals('<%=compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>')">
    <!-- cart -->
    <div class="modal fade" id="ecommerce-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;border-radius:0px;border-bottom: 0px;">
                    <h5 style="color:#fff;margin:0px" class="pull-left">
                        Adicionar ao Carinho
                    </h5>

                    <button type="button" class="close pull-right" 
                        ng-click="closeAddToCart()"
                        style="padding-top:1px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body rs-padding"
                    style="padding-top:0px;background-color:#f4f4f4;">

                    <div class="row rs-margin"
                      id="scroll-top-<%=compobj.fields[$PCF.webapp_id]%>">
                        
                        <div class="col-12 rs-padding">
                            <div class="alert alert-success alert-in-stock"
                                style="margin:0px"
                                ng-if="currentItemStatus=='IN_STOCK'">
                                <strong>Dispon&iacute;vel em stock </strong>
                            </div>

                            <div class="alert alert-warning alert-no-stock"
                                style="margin:0px"
                                ng-if="currentItemStatus=='NO_STOCK'">
                                <strong>Atenção </strong>
                                este item pode não estar em stock.
                            </div>

                            <div class="alert alert-danger alert-out-stock"
                                style="margin:0px"
                                ng-if="currentItemStatus=='OUT_STOCK'">
                                <strong>
                                    Este item não se encontra disponivel.
                                </strong>
                            </div>
                        </div>

                        <div class="col-12 rs-padding" 
                            style="border-bottom:1px solid #ccc;padding:9px;background-color:#fff;">
                            <img src="{{currentItem.cached_image}}"
                              width="100px;"
                              style="display:inline;margin-right:10px;font-size:12px;"
                              class="pull-left etx-caritem-image"
                              alt="{{currentItem.label}}"
                            />

                            <h3 class="title" style="margin:0px;font-size:19px">
                            {{currentItem.label|uppercase}}
                            <small style="font-size:12px;" class="etx-text-secondary">
                              <strong>({{currentItem.id}})</strong>
                            </small>
                            </h3>

                            <h3 class="etx-text-danger etx-cartitem-price" 
                                style="margin:0px;">
                                <span style="font-size:21px;">
                                  {{currentItem.price|currency:''}}
                                </span>
                                <small class=" text-bold"
                                  style="font-size:18px;color:#333;">
                                  {{currentItem.currency}}
                                </small>  
                                <span class="text-bold etx-text-secondary"
                                  style="font-size:14px;">
                                  por {{currentItem.unit}}
                                </span>
                            </h3>

                            <h3 class="etx-text-secondary etx-cartitem-views" 
                                ng-if="currentItemViews>0"
                                style="margin:0px;font-size:18px;display:inline">
                              <span class="fa fa-eye"></span>
                              {{currentItemViews|currency:''}}
                            </h3>
                        </div>

                        <div class="col-12 rs-padding">
                            <div class="alert alert-danger"
                                style="border-radius:0px;margin:0px;padding: 5px;padding-left: 15px;"
                                ng-if="opStatus=='OP_ERROR'">
                                <h3 class="etx-text-danger" style="font-size:19px;margin:0px;">
                                    Não foi possivel concluir a operação.
                                </h3>
                                <p style="margin:0px;color:#333"
                                    class="text-bold"
                                    ng-repeat="e in opErrors">
                                    {{e|uppercase}}
                                </p>
                            </div>
                            <div class="alert alert-info"
                                style="border-radius:0px;margin:0px;padding: 5px;padding-left: 15px;"
                                ng-if="opStatus=='OP_SUCCESS'">
                                <h3 class="etx-text-success" 
                                    style="font-size:17px;margin:0px;">
                                    {{opMsg}}
                                </h3>
                            </div>

                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist"
                                    style="display:none">
                                    <li role="presentation" class="nav-item ">
                                        <a href="#home-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
                                            role="tab" 
                                            class="nav-link active"
                                            data-toggle="tab">
                                            Home
                                        </a>
                                    </li>

                                    <li role="presentation" class="nav-item">
                                        <a href="#profile-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
                                            class="nav-link "
                                            role="tab" data-toggle="tab">
                                            Add to cart
                                        </a>
                                    </li>

                                    <li role="presentation" class="nav-item">
                                        <a href="#messages-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
                                            class="nav-link "
                                            role="tab" data-toggle="tab">
                                            Messages
                                        </a>
                                    </li>

                                    <li role="presentation" class="nav-item">
                                        <a href="#please-create-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
                                            class="nav-link "
                                            role="tab" data-toggle="tab">
                                            Please Create Your Cart
                                        </a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content" style="margin-bottom:5px;min-height:150px;">

                                    <!-- Please-Create-Your-Cart -->
                                    <div role="tabpanel" class="tab-pane fade" 
                                        id="please-create-cart-<%=compobj.fields[$PCF.webapp_id]%>">
                                        <div class="row rs-margin">
                                            <div class="col-12 text-center"
                                                style="padding:20px">
                                                <h3 class="etx-text-secondary"
                                                    ng-if="!creatingCartErrors&&!creatingCart">
                                                    <span style="color:#333">Humm,</span><br/> 
                                                    <span>
                                                        Não temos aonde colocar isto.
                                                    </span>
                                                </h3>
                                                <h3 class="etx-text-secondary"
                                                    ng-if="creatingCart">
                                                    Aguarde
                                                </h3>
                                                <div class="alert alert-danger"
                                                    style="border-radius:0px;"
                                                    ng-if="creatingCartErrors">
                                                    <h3 class="etx-text-danger">
                                                        Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                                    </h3>
                                                    <p style="margin:0px;color:#333"
                                                        class="text-bold"
                                                        ng-repeat="e in creatingCartErrors">
                                                        {{e|uppercase}}
                                                    </p>
                                                </div>
                                                
                                                <button class="btn btn create-cart-btn etx-bg-success etx-text-white btn-round text-bold"
                                                  ng-click="pleaseCreateCart()"
                                                  ng-disabled="creatingCart">
                                                  CRIAR O MEU CARRINHO
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane active fade show" 
                                        id="home-cart-<%=compobj.fields[$PCF.webapp_id]%>">

                                        <h3 class="text-center" style="margin-top:25px;">
                                            <span class="fa fa-refresh fa-spin etx-text-warning"
                                                style="font-size:25px;">
                                            </span>
                                            <br/>
                                            <span class="etx-text-secondary"
                                                style="font-size:17px;">
                                                AGUARDE
                                            </span>
                                        </h3>

                                    </div>

                                    <div role="tabpanel" class="tab-pane fade " 
                                        id="profile-cart-<%=compobj.fields[$PCF.webapp_id]%>">
                                        <div class="row rs-margin">
                                            <div class="col-8"
                                                style="margin-top:15px;">
                                              <p style="margin:0px;background-color:#fff;font-size:24px;border-radius:0px;"
                                                class="etx-unit-scale">
                                                {{currentItem.amount}}
                                                <strong class="pull-right">
                                                  {{currentItem.unit}}
                                                </strong>
                                              </p>
                                            </div>

                                            <div class="col-2 text-center rs-padding"
                                                style="margin-top:15px;">
                                                <button class="btn btn-secondary btn-round"
                                                    ng-disable="currentItem.amount<=0"
                                                    ng-click="decrAmount('<%=compobj.id%>', currentItem)">
                                                    <span class="fa fa-caret-down text-white"></span>
                                                </button>
                                            </div>

                                            <div class="col-2 text-center rs-padding"
                                                style="margin-top:15px;">
                                                <button class="btn btn-secondary btn-round"
                                                    ng-click="incrAmount('<%=compobj.id%>', currentItem)">
                                                    <span class="fa fa-caret-up text-white"></span>
                                                </button>
                                            </div>

                                            <div class="col-12 etx-dec-unit-spec" 
                                                style="margin-top:5px;padding-bottom:2px;">
                                                <div class="btn-group " role="group" aria-label="..."
                                                    style="overflow:hidden;overflow-x:scroll;max-width:100%;padding-bottom:5px;"
                                                    ng-if="currentItem.unit=='KG'||currentItem.unit=='LT'">
                                                    <button type="button" class="btn btn-primary text-bold btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 1)">1.0{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.9)">0.9{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.8)">0.8{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.7)">0.7{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.6)">0.6{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.5)">0.5{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.4)">0.4{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.3)">0.3{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.2)">0.2{{currentItem.unit}}</button>
                                                    <button type="button" class="btn btn-primary btn-dec-val"
                                                      style="margin-right:4px;padding:5px;border-radius:40px;"
                                                      ng-click="setAmount('<%=compobj.id%>', currentItem, 0.1)">0.1{{currentItem.unit}}</button>
                                                </div>
                                            </div>

                                            <div class="col-12"
                                                style="margin-top:6px;margin-bottom:5px;">
                                                <h3 class="text-center" style="margin-bottom:10px;font-size:20px;">
                                                    <small class="etx-text-secondary">
                                                    TOTAL: 
                                                    </small>
                                                    <span ng-if="currentItem.amount>0"
                                                    class="etx-text-danger item-total">
                                                    {{(currentItem.amount*currentItem.price||0)|currency: ''}}
                                                    </span>
                                                    {{currentItem.currency}}
                                                </h3>

                                                <center>
                                                    <button type="button" 
                                                        class="shop-btn btn bg-success text-white btn-sm"
                                                        ng-disabled="addToCartLoading||removeToCartLoading||currentItem.amount<=0"
                                                        ng-click="j1nAddToCart('<%=compobj.id%>', currentItem)">
                                                        <span ng-if="!addToCartLoading">
                                                          OK
                                                        </span>
                                                        <span class="fa fa-refresh fa-spin"
                                                            ng-if="addToCartLoading"></span>
                                                        <span ng-if="addToCartLoading">
                                                            AGUARDE
                                                        </span>
                                                    </button>

                                                    <button class="shop-btn btn bg-danger text-white btn-sm"
                                                        ng-disabled="addToCartLoading||removeToCartLoading"
                                                        ng-click="j1nRemoveFromCart('<%=compobj.id%>', currentItem)">
                                                        <span ng-if="!removeToCartLoading">
                                                          REMOVER
                                                        </span>
                                                        <span class="fa fa-refresh fa-spin"
                                                            ng-if="removeToCartLoading"></span>
                                                        <span ng-if="removeToCartLoading">
                                                            AGUARDE
                                                        </span>
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade " 
                                        id="messages-cart-<%=compobj.fields[$PCF.webapp_id]%>">
                                    </div>
                                </div>

                                <div class="mlt-plugin">
                                    <div class="mlt-title-area"
                                        style="background-color:#fff;margin:0px;padding:2px;">

                                        <h3 style="padding:3px;padding-bottom:3px;padding-left:15px;font-size: 20px;margin:0px;color:#333" class="text-left etx-text-secondary">
                                          veja tamb&eacute;m
                                            <label style="font-size: 14px;margin:0px;color:#333;padding-top:4px;padding-right:7px;" 
                                                class="pull-right cursor-pointer ">
                                              <input type="checkbox" ng-model="close_on_add"
                                                ng-change="saveConf()" />
                                              Fechar ao adicionar
                                            </label>
                                        </h3>

                                        <h3 class="" 
                                            style="margin:0px!important;"
                                            ng-if="loading_moreLK">
                                            <span class="fa fa-refresh fa-spin etx-text-secondary"
                                            style="font-size:34px;">
                                            </span>
                                        </h3>
                                    </div>

                                    <table class="table table-responsive mlt-item-listing" 
                                        style="background-color:#fff;margin:0px;margin-top:0px;padding-bottom:4px;">
                                        <tbody>
                                            <tr>
                                                <td ng-repeat="item in more_like_this"
                                                    class="cursor-pointer"
                                                    title="{{item.titleDf}}"
                                                    style="padding:0px;vertical-align: middle;">
                                                    <div class="row mlt-item" >
                                                        <div class="col-6 text-center"
                                                            ng-click="inlineOpen22('<%=compobj.fields[$PCF.webapp_id]%>', item)">
                                                          <img ng-src="{{item.cached_image}}"
                                                              style="display:inline;padding-top:10px;"
                                                              width="90px" 
                                                             />
                                                        </div>

                                                        <div class="col-6 "
                                                            ng-click="inlineOpen22('<%=compobj.fields[$PCF.webapp_id]%>', item)">
                                                            <h4 class="ecommerce-item-title " 
                                                              ng-click="openProduct(item, '<%-compobj.id%>')"
                                                              ng-bind="item.titleDf">
                                                            </h4>

                                                            <h4 class="card-title text-danger ecommerc-item-price "
                                                              ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                                              >
                                                              <span class="item-price" ng-bind="item.priceAmount|currency:''"></span>
                                                              <span class="item-currency" ng-bind="item.currency"></span>
                                                            </h4>

                                                            <h4 class="card-title ecommerce-item-old-price "
                                                              ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                                              >
                                                              <div ng-if="item.oldPriceAmount > 0">
                                                                <span class="item-price" ng-bind="item.oldPriceAmount|currency:''"></span>
                                                                <span class="item-currency" ng-bind="item.currency"></span>
                                                              </div>
                                                            </h4>

                                                            <p ng-if="item.cart_amount>0"
                                                                class="mlt-cart-amount"
                                                                style="margin:0px;">
                                                                <span class="etx-text-danger ">
                                                                    <span class="fa fa-shopping-cart"></span>
                                                                </span>
                                                                <span class="etx-text-secondary ">
                                                                    <strong>
                                                                        {{item.cart_amount|currency:''}}
                                                                        {{item.unit}}
                                                                    </strong>
                                                                </span> 
                                                                <!--
                                                                <span style="color:#333;"
                                                                    class="text-bold">
                                                                    no carrinho
                                                                </span>
                                                                -->
                                                            </p>
                                                        </div>

                                                        <div class="col-12 text-center mlt-add-area"
                                                          style="width:100%;">
                                                            <div ng-if="item.state=='PUBLISHED'|| item.state=='AVAILABLE'">
                                                              <button class="btn bg-white text-bold btn-block btn-add-cart"
                                                                style="width:aut!important;margin-top:10px;color:#ffc107;border-radius:0px;border:2px solid #ffc107;"
                                                                ng-click="inlineOpen22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                                                                >
                                                                <span class="fa fa-shopping-cart"></span>
                                                                ADICIONAR
                                                                <span style="color:#333;"
                                                                  class="item-amount"
                                                                  id="item-amount-{{item.id}}">
                                                                </span>
                                                              </button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="my-cart-<%=compobj.fields[$PCF.webapp_id]%>" 
        tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius:0px;margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header" style="display:inline;color:#fff;border-radius:0px;border-bottom: 0px;">
                    <button type="button" class="close pull-right" 
                        data-dismiss="modal" aria-label="Close" 
                        style="padding-top:5px;" title="Fechar Janela">
                        <span style="text-shadow:0px 0px 0px;color:#fff;font-size: 40px;">
                            &times;
                        </span>
                    </button>
                    <h3 class="pull-left" style="margin:0px;margin-top:-7px;font-size: 40px;margin-right:10px;">
                        <span style="" class="fa fa-shopping-cart">
                        </span>
                    </h3>
                    <h3 class="text-left" style="margin:0px;font-size:17px;margin-right:10px;">
                      Meu Carrinho 
                    </h3>
                    <h3 class="text-left" style="margin:0px;font-size:17px;">
                      <small style="font-size:14px;" class="text-underlined">
                        Desde {{cartObj.c_date|date:'dd-MM-yyyy'}} &aacute;s {{cartObj.c_date|date:'HH:mm'}}
                      </small>
                    </h3>
                </div>

                <div class="modal-body"
                    style="padding:0px;padding-top:0px;padding-bottom:10px;">

                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist"
                            style="display:none">
                            <li role="presentation" class="nav-item">
                                <a href="#mycart-home-details" aria-controls="mycart-home-details" 
                                    role="tab" data-toggle="tab"
                                    class="nav-link ">
                                    Carrinho
                                </a>
                            </li>
                            <li role="presentation" >
                                <a href="#preparing-cart-<%=compobj.id%>" 
                                    aria-controls="preparing-cart-<%=compobj.id%>" 
                                    role="tab" data-toggle="tab"
                                    class="nav-link active">
                                    Prepar o carrinho
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#reserve-now-<%=compobj.id%>" aria-controls="reserve-now" 
                                    role="tab" data-toggle="tab"
                                    class="nav-link">
                                    Reservar
                                </a>
                            </li>
                            <li role="presentation"
                                style="display:none;">
                                <a href="#cart-error-<%=compobj.fields[$PCF.webapp_id]%>" 
                                    aria-controls="cart-error-<%=compobj.fields[$PCF.webapp_id]%>" 
                                    role="tab" data-toggle="tab"
                                    class="nav-link">
                                    Erro no carrinho
                                </a>
                            </li>
                            <li role="presentation"
                                style="display:none;">
                                <a href="#cart-create-<%=compobj.fields[$PCF.webapp_id]%>" 
                                    aria-controls="cart-create-<%=compobj.fields[$PCF.webapp_id]%>" 
                                    role="tab" data-toggle="tab"
                                    class="nav-link">
                                    Criar carrinho
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#cart-item-<%=compobj.fields[$PCF.webapp_id]%>" 
                                    aria-controls="cart-item-<%=compobj.fields[$PCF.webapp_id]%>" 
                                    role="tab" data-toggle="tab"
                                    class="nav-link">
                                    View Item
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-- Your-Cart-Details -->
                            <div role="tabpanel" class="tab-pane fade " 
                                id="mycart-home-details">
                                <div class="row rs-margin">
                                    
                                    <div class="col-6 rs-padding text-center cart-total "
                                        style="background-color:#f4f4f4;">
                                        <h3 class="" style="margin:0px;display:inline;margin-top:5px;padding-bottom:7px;">
                                            <small class="etx-text-danger text-bold">
                                            {{cartObj.item_list.length}}
                                            </small>
                                            <span style="font-size:16px;">PRODUTOS</span>    
                                        </h3>
                                    </div>

                                    <div class="col-6 rs-padding text-center cart-total "
                                        style="background-color:#f4f4f4;border-left:2px solid #ccc;padding-bottom:8px;">
                                        <h3 class="" style="margin:0px;display:inline;margin-top:5px;padding-bottom:7px;">
                                            <small class="etx-text-danger text-bold">
                                                {{cartObj.total||0|currency:''}}
                                            </small>

                                            <small class="etx-text-secondary text-bold"
                                                style="color:#333;font-size:16px;">
                                                CVE
                                            </small>
                                        </h3>
                                    </div>

                                    <div class="col-12 rs-padding" style="max-height:300px;overflow:hidden;overflow-y:scroll;padding-left:8px;">
                                        <div class="no-items text-center"
                                            style="min-height:250px;"
                                            ng-if="!cartObj.item_list||cartObj.item_list.length==0">
                                            <h3 class="etx-text-secondary text-bold"
                                                style="padding-top:25px;padding-bottom:25px;font-size:17px;text-transform:uppercase">
                                                Items do seu carrinho v&atilde;o aparecer
                                                aqui
                                                <strong style="font-size:18px;"
                                                    class="etx-text-danger">;)</strong>
                                            </h3>
                                        </div>

                                        <ul class="list-group">
                                            <li class="list-group-item cursor-pointer"
                                                style="border-radius:0px;margin-bottom:5px;border:1px solid #fff;border-bottom:2px solid #ccc;"
                                                ng-repeat="item in cartObj.item_list">
                                                <!--
                                                <span class="fa fa-bank text-primary pull-left"
                                                    style="font-size:55px;"></span>
                                                --> 
                                                <!-- {{prod.image}} -->
                                                <img ng-src="{{item.image}}" 
                                                    class="pull-left"
                                                    style="display:inline"
                                                    width="90px" 
                                                />

                                                <h3 style="margin:0px;font-size:19px;display:inline;padding-left:10px;">
                                                    <a href="ec-store.html?product_id={{item.id}}" class="text-bold">
                                                        {{item.label.slice(0, 20)|uppercase}}
                                                        <span class="text-muted"
                                                            style="font-size:14px;">
                                                            ({{item.id}})
                                                        </span>
                                                    </a>
                                                </h3>
                                                <br/>
                                                <h3 style="margin:0px;display:inline;font-size:19px;padding-left:10px;">
                                                    <span class="text-bold" style="font-size:17px;">
                                                        {{item.amount}}
                                                            {{item.unit}}
                                                            x&nbsp;
                                                    </span> 
                                                    <span class="text-danger">
                                                        {{item.price|currency:''}} {{item.currency}}
                                                    </span>
                                                </h3>
                                                <button class="btn btn-danger btn-sm pull-right text-bold btn-round"
                                                    ng-click="removeFromMyCart(item, $index, '<%=compobj.id%>')">
                                                    <span ng-if="!rm_state[item.id]">
                                                        REMOVER
                                                    </span>
                                                    <span ng-if="rm_state[item.id]=='DONE_ERROR'">
                                                        TENTE NOVAMENTE
                                                    </span>
                                                    <span ng-if="rm_state[item.id]=='LOADING'">
                                                        AGUARDE
                                                    </span>
                                                </button>
                                            </li>
                                        </ul>

                                    </div>

                                   <div class="col-12 ">
                                      <!--
                                      <button class="btn bg-primary text-white btn-lg text-bold">
                                        <span class="fa fa-credit-card"></span>
                                        Checkout
                                      </button>
                                      -->
                                      <button class="btn etx-text-white etx-bg-warning btn-lg text-bold btn-block btn-modal-checkout"
                                        ng-click="goCheckout()"
                                        style="background-color:#f3b90a;color"
                                        ng-disabled="!cartObj.item_list||cartObj.item_list.length==0">
                                        <span class="fa fa-card"></span>
                                        CHECKOUT
                                      </button>
                                  </div>
                                </div>
                            </div>

                            <!-- Loading -->
                            <div role="tabpanel" class="tab-pane fade show active" 
                                id="preparing-cart-<%=compobj.id%>">
                                <div class="row">
                                    <div class="col-12">
                                      <h3 class="text-center" style="margin-top:25px;">
                                          <span class="fa fa-refresh fa-spin etx-text-warning"
                                              style="font-size:25px;">
                                          </span>
                                          <br/>
                                          <span class="etx-text-secondary"
                                              style="font-size:17px;">
                                              AGUARDE
                                          </span>
                                      </h3>
                                    </div>
                                </div>
                            </div>

                            <!-- View-Cart-Item -->
                            <div role="tabpanel" class="tab-pane fade " 
                                id="cart-item-<%=compobj.id%>">
                                <div class="row">
                                    <div class="col-12">
                                      <h3 class="text-center" style="margin-top:25px;">
                                          <span class="etx-text-secondary"
                                              style="font-size:17px;">
                                              VIEW CART ITEM
                                          </span>
                                      </h3>
                                    </div>
                                </div>
                            </div>

                            <!-- Create-Cart-Error -->
                            <div role="tabpanel" class="tab-pane fade" 
                                style="margin-top:20px;"
                                id="cart-error-<%=compobj.fields[$PCF.webapp_id]%>">
                                <div class="alert alert-danger"
                                    style="border-radius:0px;"
                                    ng-if="loadingCartErrors">
                                    <h3 class="etx-text-danger">
                                        Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                    </h3>
                                    <p style="margin:0px;color:#333"
                                        class="text-bold"
                                        ng-repeat="e in loadingCartErrors">
                                        {{e|uppercase}}
                                    </p>
                                </div>
                            </div>

                            <!-- Please-Create-Your-Cart -->
                            <div role="tabpanel" class="tab-pane fade" 
                                id="cart-create-<%=compobj.fields[$PCF.webapp_id]%>">
                                <div class="row rs-margin">
                                    <div class="col-12 text-center"
                                        style="padding:20px">
                                        <h3 class="etx-text-secondary"
                                            ng-if="!creatingCartErrors&&!creatingCart">
                                            Ainda n&atilde;o 
                                            criou o seu carinho.
                                        </h3>
                                        <h3 class="etx-text-secondary"
                                            ng-if="creatingCart">
                                            Aguarde
                                        </h3>
                                        <div class="alert alert-danger"
                                            style="border-radius:0px;"
                                            ng-if="creatingCartErrors">
                                            <h3 class="etx-text-danger">
                                                Nao foi possivel concluir a opera&ccedil;&atilde;o.
                                            </h3>
                                            <p style="margin:0px;color:#333"
                                                class="text-bold"
                                                ng-repeat="e in creatingCartErrors">
                                                {{e|uppercase}}
                                            </p>
                                        </div>
                                        
                                        <button class="btn btn create-cart-btn etx-bg-success etx-text-white btn-round text-bold"
                                          ng-click="createCart(true)"
                                          ng-disabled="creatingCart">
                                          CRIAR O MEU CARRINHO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

