<div class="carousel slide" data-ride="carousel" id="banner-<%=compobj.id%>">
    <ol class="carousel-indicators">
        <li data-target="#carrousel-<%=compobj.id%>" 
            class="active "
            data-slide-to="{{compobj.indexC}}" >
        </li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active banner-item" 
             style="background-image: url('<%-compobj.fields[$PCF.image]%>');">
            <div class=" slide-descr">
                <h1 class="slice-descr-text">
                  <%-compobj.fields[$PCF.descr_df]%>
                </h1>
            </div>
        </div>
    </div>
    <!--
    <a class="carousel-control-prev" 
        href="#carrousel-<%=compobj.id%>" 
        role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" 
        href="#carrousel-<%=compobj.id%>" 
        role="button" 
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    -->
</div>

<div class="carousel slide" data-ride="carousel" id="carrousel-<%=compobj.id%>">
    <ol class="carousel-indicators">
        <%=
            compobj.confObj.items.map(function (C, index){
                var add_klass= ((index==0) ? 'active' : '');
                return `
                    <li data-target="#carrousel-${compobj.id}" 
                        class="${add_klass}"
                        data-slide-to="${index}" >
                    </li>
                `;
            }).join("")
        %>
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <%= 
            compobj.confObj.items.map(function (C, index){
                var add_klass= ((index==0) ? 'active' : '');
                return `
                    <div class="carousel-item ${add_klass}" 
                         style="background-image: url('${C.img}')">
                        <div class=" slide-descr">
                            <h1 class="slice-descr-text">
                                ${C.title}
                            </h1>
                            <!--
                            <p class="slide-descr-subtext"
                                ng-if="'${C.subt}'">
                                ${C.subt}
                            </p>
                            -->
                        </div>
                    </div>
                `;

            }).join("")
        %>
    </div>

    <a class="carousel-control-prev" 
        href="#carrousel-<%=compobj.id%>" 
        role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" 
        href="#carrousel-<%=compobj.id%>" 
        role="button" 
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
