<!-- <h3>Content Markdown</h3> -->
<div class="blog-x">
    <%=
        compobj.confObj.content_mkd
    %>
</div>

<div class="carousel slide banner-car" data-ride="carousel" id="banner-car-<%=compobj.id%>"
    ng-controller="x99BannerCar">
    <ol class="carousel-indicators">
        <%=
            compobj.confObj.items.map(function (C, index){
                var add_klass= ((index==0) ? 'active' : '');
                return `
                    <li data-target="#banner-car-${compobj.id}" 
                        class="${add_klass}"
                        data-slide-to="${index}" >
                    </li>
                `;
            }).join("")
        %>
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <%= 
            compobj.confObj.items.map(function (C, index){
                var add_klass= ((index==0) ? 'active' : '');
                var gotoxx='';
                if (C.n_link) {
                    gotoxx='title="Clique para abrir '+C.title+'" ng-click="openSlide($event, \''+C.n_link+'\',\''+C.title+'\')"';
                }

                return `
                    <div class="carousel-item ${add_klass} cursor-pointer"
                        ${gotoxx}
                        data-rendered-size='${C.r_sz}'
                        data-type="image"
                        data-gallery="f1-gallery-${compobj.id}"
                        data-disable-external-check="true"
                        href="${C.img}" 
                        data-toggle="lightbox"
                        style="background-image: url('${C.img}')">
                        <div class=" slide-descr">
                            <h1 class="slice-descr-text">
                                ${C.title}
                            </h1>
                            <span class="fa fa-spin fa-refresh text-success"
                                style="font-size:35px;"
                                ng-if="loading_url">
                            </span>
                        </div>
                    </div>
                `;

            }).join("")
        %>
    </div>

    <a class="carousel-control-prev" 
        href="#banner-car-<%=compobj.id%>" 
        role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" 
        href="#banner-car-<%=compobj.id%>" 
        role="button" 
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
