<!-- <h3>SLIDER</h3> -->
<textarea id="slider-conf-<%=compobj.id%>" style="display:none;color:#fff;background-color:#fff;">
<%= JSON.stringify(compobj.confObj.items) %>
</textarea>
<div class="carousel slide banner-car" data-ride="carousel" 
    id="banner-car-<%=compobj.id%>"
    ng-controller="x99BannerCar">

    <div class="row rs-margin banner-slider-container"
        ng-init="loadSlider('<%=compobj.id%>')">

        <div class="col-12 rs-padding banner-slider-controller-bar"
            style="">
            <button class="btn etx-bg-secondary btn-lg pull-left etx-text-white left-controller"
                ng-if="img_idx>0"
                ng-click="prevPage('<%=compobj.id%>')">
                <span class="fa fa-chevron-left"
                    style="font-size:45px;"></span>
            </button>
            <button class="btn etx-bg-secondary btn-lg pull-right etx-text-white"
                ng-if="(img_idx+4) < img_db.length"
                ng-click="nextPage('<%=compobj.id%>')">
                <span class="fa fa-chevron-right"
                    style="font-size:45px;"></span>
            </button>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 right-controller rs-padding carousel-img-list-item cursor-pointer" 
            data-type="image"
            data-disable-external-check="true"
            data-gallery="example-gallery-<%=compobj.id%>"
            ng-mouseover="in_zoom=true"
            ng-mouseout="in_zoom=false"
            href="{{item.original_image}}" data-toggle="lightbox"
            ng-repeat="item in img_slice">
            <div class="card slider-bk-item cursor-pointer"
                style="border:0px;padding:0px;">
                  <div style="background:url('{{item.img}}');background-size:cover;"
                      class="slider-bg-img ">
                  </div>
            </div>
            <!--
             <p class="zoom-in-slider-el" ng-show="in_zoom">
                <span class="fa fa-search"></span>
                Zoom In
            </p>
            <h3>
                Original Image: {{item.originalImage}}
            </h3>
            -->
        </div>
    </div>

</div>
