<!-- <h3>SLIDER</h3> -->
<textarea id="slider-conf-<%=compobj.id%>" style="display:none;color:#fff;background-color:#fff;">
<%= JSON.stringify(compobj.confObj.items) %>
</textarea>

<div class="carousel slide banner-car" data-ride="carousel" 
    id="banner-car-<%=compobj.id%>"
    ng-controller="x99BannerCar">

    <div class="row rs-margin banner-slider-container"
        ng-init="loadSlider('<%=compobj.id%>')">

        <div class="col-12 rs-padding banner-slider-controller-bar"
            style="">
            <button class="btn etx-bg-secondary btn-sm pull-left etx-text-white left-controller"
                ng-disabled="curr_slider==0"
                ng-click="prevSlider('<%=compobj.id%>')">
                <span class="fa fa-chevron-left"
                    style="font-size:25px;"></span>
            </button>
            <button class="btn etx-bg-secondary btn-sm pull-right etx-text-white right-controller"
                ng-disabled="curr_slider>=img_db.length"
                ng-click="nextSlider('<%=compobj.id%>')">
                <span class="fa fa-chevron-right"
                    style="font-size:25px;"></span>
            </button>
        </div>

        <div class="col-12 text-center carousel-img-area">
            <div style="min-height:500px;margin:auto;">
                <img ng-src="{{current_slide.panorama}}"
                    class="img-fluid carousel-img-display" 
                />
            </div>
            <h3 class="banner-title" style="color:#fff">
                {{current_slide.title}}
            </h3>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 cursor-pointer right-controller rs-padding carousel-img-list-item"
            ng-click="setSlider(item, $index)"
            ng-repeat="item in img_slice">
            <div class="card ecommerce-item cursor-pointer"
                style="border:0px;padding:0px;">
                  <div style="height:150px;background:url('{{item.cached_img}}');background-size:cover;"
                      class="prod-bg-image cursor-pointer">
                  </div>
            </div>
        </div>

    </div>

</div>
