<div class="row rs-margin"
    style="background-color:#cf2030">
    <div class="col-2 text-center"
        style="padding-top:29px;">
        <span class="fa fa-bullhorn etx-text-white"
            style="font-size:48px;"></span>
    </div>
    <div class="col-10 rs-padding"
        style="padding-left:15px;padding-top:25px;padding-bottom: 25px;">
        <h3 style="margin:0px;"
            class="etx-text-white">
            Atencao
        </h3>
        <h3 style="margin:0px;"
            class="etx-text-white">
            <small style="font-size:17px;">
                O Precos dos legumas e frutas sao atualizados todos os dias as 18H.
            </small>
        </h3>
    </div>
</div>