<div class="row rs-margin xb-grad rs-padding"
    style="padding: 6px;">
    <div class="col-md-6 col-lg-6 col-sm-12">
        <h3>
Clinica +Saudavel
        </h3>

        <p style="margin:0px">
            Nossa loja online com mais de 1000 produtos promete atender as suas exigencias. Fazemos delivery
            <!--
            <small class="text-bold">
                <span class="fa fa-phone"></span>
                2385850606
            </small>
            &nbsp;
            <small class="text-bold">
                <span class="fa fa-envelope"></span>
                vendas.almadatavares@hotmail.com
            </small>
            -->
        </p>

    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 text-left"
        style="padding-top:10px;">
        <h3>
        <span class="fa fa-shopping-cart text-danger pull-left"
            style="font-size:45px;"></span>

        +1000 produtos para si.
        </h3>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-6 text-left"
        style="padding-top:10px;">
        <h3>
        <span class="fa fa-truck text-danger pull-left"
            style="font-size:45px;"></span>
        Fazemos Delivery
        </h3>
    </div>
</div>

