<div class="">
  <div class="cursor-pointer ecommerce-it-container ecommerce-v2-item"
    ng-repeat="item in item_list.list">
      <div class="card ecommerce-item">

        <div style="height:220px;max-width:170px;max-height:170px;background:url('{{item.fields.<%-$INV.image%>}}');background-size:cover;"
            class="prod-bg-image"
            ng-click="openProduct(item, '<%-compobj.id%>')">
        </div>

        <div class="card-body">
            <h4 class="ecommerce-item-title text-center text-bold" 
              ng-click="openProduct(item, '<%-compobj.id%>')"
              ng-bind="item.fields.<%-$INV.title%>">
            </h4>

            <h4 class="card-title text-danger ecommerc-item-price text-center"
              ng-click="openProduct(item, '<%-compobj.id%>')">
              <span class="item-price" ng-bind="item.fields.<%-$INV.price%>|currency:''"></span>
              <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
            </h4>

            <h4 class="card-title ecommerce-item-old-price text-center"
              ng-click="openProduct(item, '<%-compobj.id%>')">
              <div ng-if="item.fields.<%-$INV.old_price%>>0">
                <span class="item-price" ng-bind="item.fields.<%-$INV.old_price%>|currency:''"></span>
                <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
              </div>
            </h4>

            <h4 class="card-title ecommerce-item-tags text-muted text-center"> 
              <span ng-if="item.category.list.length>0" 
                  class="fa fa-tag" style="font-size:11px;"></span>
              <small ng-bind="item.category.list[item.category.list.length-1].label">
              </small>
            </h4>

            <div ng-if="item.fields['<%=$INV.state%>']=='PUBLISHED'">
              <button class="btn bg-white text-bold btn-block btn-add-cart"
                ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                >
                <span class="fa fa-shopping-cart"></span>
                ADICIONAR
                <span style="color:#333;"
                  class="item-amount"
                  id="item-amount-{{item.id}}">
                </span>
              </button>
            </div>

            <div ng-if="item.fields['<%=$INV.state%>']=='NOT_AVAILABLE'">
              <button class="btn text-bold btn-block bg-secondary"
                style="margin-top:10px;"
                >
                N&Atilde;O DISPONIVEL
              </button>
            </div>

            <div ng-if="item.fields['<%=$INV.state%>']=='NO_STOCK'">
              <button class="btn bg-danger text-bold btn-block btn-danger"
                style="margin-top:10px;"
                >
                FORA DE STOCK
              </button>
            </div>
        </div> 
      </div>
  </div>

  <div class="" style="width:100%;">
      <div style="padding-top:32px;"
        ng-if="loading_more"
        class="ecommerce-items-loader text-center">
          <h2 class="text-warning">
              <span class="fa fa-refresh fa-spin"
                    style="font-size:45px;"></span>
              <br/>
              <strong class="text-muted" style="font-size: 20px;">
                Carregando
              </strong>
          </h2>
      </div>

        <button class="btn btn-primary btn-block load-more-btn"
            id="loadmorebtn-<%=compobj.id%>"
            ng-disabled="loading_more"
            ng-if="item_list.totalCount>item_list.list.length"
            ng-click="loadMore('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', '#loadmorebtn-<%=compobj.id%>', '<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>', '<%-compobj.ecommerce_conf.item_limit%>')">
                Carregar mais
        </button>
  </div>
</div>
