
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cursor-pointer ecommerce-it-container"
        ng-repeat="item in item_list.list">
        <div class="card ecommerce-item">
            <div style="height:220px;background:url('{{item.cached_image}}');background-size:cover;"
                class="prod-bg-image"
                ng-click="openProduct(item, '<%-compobj.id%>')">
                <p ng-repeat="tag in item.category.tags"
                  class="tag-item-{{$index}} tag-item ">
                  {{tag.label}}
                </p>
            </div>

            <div class="card-body">
                <h4 class="ecommerce-item-title text-center" 
                  ng-click="openProduct(item, '<%-compobj.id%>')"
                  ng-bind="item.fields.<%-$INV.title%>">
                </h4>

                <h4 class="card-title text-danger ecommerc-item-price text-center"
                  ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                  >
                  <span class="item-price" ng-bind="item.fields.<%-$INV.price%>|currency:''"></span>
                  <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
                </h4>

                <h4 class="card-title ecommerce-item-old-price text-center"
                  ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"

                  >
                  <div ng-if="item.fields.<%-$INV.old_price%>>0">
                    <span class="item-price" ng-bind="item.fields.<%-$INV.old_price%>|currency:''"></span>
                    <span class="item-currency" ng-bind="item.fields.<%-$INV.currency%>"></span>
                  </div>
                </h4>

                <h4 class="card-title ecommerce-item-review text-center"
                  ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                  >
                  <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=1"></span>
                  <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=2"></span>
                  <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=3"></span>
                  <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=4"></span>
                  <span class="fa fa-star text-warning" ng-if="item.fields.prod_rev_avg>=5"></span>

                  <span ng-if="item.fields.prod_rev_count>0"
                      ng-bind="item.fields.prod_rev_count"></span>

                  <span class="text-muted"
                    ng-if="item.fields.prod_rev_count==0 && '<%=compobj.org%>'!='e22c394b31c74063'">
                    Sem Avaliações
                  </span>
                </h4>

                <h4 class="card-title ecommerce-item-tags text-muted text-center"> 
                  <span ng-if="item.category.list.length>0" 
                      class="fa fa-tag" style="font-size:11px;"></span>
                  <small ng-bind="item.category.list[item.category.list.length-1].label">
                  </small>
                </h4>

                <div ng-if="item.fields['<%=$INV.state%>']=='PUBLISHED'||item.fields['<%=$INV.state%>']=='AVAILABLE'">
                  <button class="btn bg-white text-bold btn-block btn-add-cart"
                    ng-click="openCart('<%=compobj.fields[$PCF.webapp_id]%>', item, '<%-$INV.price%>',  '<%-$INV.currency%>', '<%-$INV.title%>', '<%-$INV.image%>', '<%-$INV.unit%>')"
                    >
                    <span class="fa fa-shopping-cart"></span>
                    ADICIONAR
                    <span style="color:#333;"
                      class="item-amount item-amount-{{item.id}}">
                      {{item.cart_amount}}
                    </span>
                  </button>
                </div>

                <div ng-if="item.fields['<%=$INV.state%>']=='NOT_AVAILABLE'">
                  <button class="btn text-bold btn-block bg-secondary"
                    style="margin-top:10px;"
                    >
                    N&Atilde;O DISPONIVEL
                  </button>
                </div>

                <div ng-if="item.fields['<%=$INV.state%>']=='NO_STOCK'">
                  <button class="btn bg-danger text-bold btn-block btn-danger"
                    style="margin-top:10px;"
                    >
                    FORA DE STOCK
                  </button>
                </div>

                <!--
                  <button class="btn bg-primary text-bold btn-block btn-index text-white"
                    style="margin-top:10px;"
                    ng-click="indexP(item.id)"
                    >
                    <span ng-if="!indexed[item.id]">
                      INDEX
                    </span>
                    <span ng-if="indexed[item.id]=='loading'">
                      INDEXING
                    </span>
                    <span ng-if="indexed[item.id]==true">
                      INDEXED
                      <span class="fa fa-check"></span>
                    </span>
                    <span ng-if="indexed[item.id]=='ERROR'">
                      TRY AGAIN
                      <span class="fa fa-times"></span>
                    </span>
                  </button>
                -->
            </div> 
        </div>
    </div>

    <div class="col-12" style="width:100%;">
        <div style="padding-top:32px;"
            ng-if="loading_more"
            class="ecommerce-items-loader text-center">
            <h2 class="text-warning">
                <span class="fa fa-refresh fa-spin"
                style="font-size:45px;"></span>
                <br/>
                <strong class="text-muted" style="font-size: 20px;">
                Carregando
                </strong>
            </h2>
        </div>

        <button class="btn btn-primary btn-block load-more-btn"
            id="loadmorebtn-<%=compobj.id%>"
            ng-disabled="loading_more"
            ng-if="item_list.totalCount>item_list.list.length"
            ng-click="loadMore('<%-compobj.fields[$PCF.org_id]%>', '<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', '#loadmorebtn-<%=compobj.id%>', '<%-compobj.fields[$PCF.category]%>', '<%-compobj.ecommerce_conf.filter_mode %>', '<%-compobj.ecommerce_conf.item_limit%>')">
                Carregar mais
        </button>
    </div>
</div>


