<div class="row rs-margin etx-search-results-container"
  style="padding:5px;">

    <div class="col-12 rs-padding text-center"
      style="margin-bottom:0px;"
      ng-if="search_results.response.docs.length>0"
       >

        <div class="" aria-label="..." style="">

            <button class="btn btn-round etx-bg-light btn-round btn-all-price-filter"
                ng-click="searchProducts('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', {q: qxs, opf:true, fq: q_fq})">
                <span class="filter-all">
                  TODOS 
                </span>
            </button>
            <button class="btn btn-round etx-bg-light btn-round btn-price-filter"
                ng-click="priceBetween('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', 0, search_stats.priceAmount.min)">
                <span class="filter-qualifier">
                ATÉ 
                </span>
                <span class="filter-amount ">{{search_stats.priceAmount.min|currency:''}}</span>
            </button>
            <button class="btn btn-round etx-bg-light btn-round btn-price-filter"
                ng-click="priceBetween('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', 0, search_stats.priceAmount.mean)">
                <span class="filter-qualifier">
                ATÉ 
                </span>
                <span class="filter-amount">{{search_stats.priceAmount.mean|currency:''}}</span>
            </button>
            <button class="btn btn-round etx-bg-light btn-round btn-price-filter"
                ng-click="priceBetween('<%-compobj.fields[$PCF.webapp_id]%>', '<%-compobj.id%>', search_stats.priceAmount.mean, search_stats.priceAmount.max)">
                <span class="filter-qualifier">
                APARTIR DE 
                </span>
                <span class="filter-amount">{{search_stats.priceAmount.mean|currency:''}}</span>
            </button>
        </div>

        <p style="margin:0px;font-size:19px;margin:10px;"
          class="etx-results-descr">
            <!-- {{search_results.response}} -->
            <span class="text-bold etx-results-query">
                {{search_q}}
            </span>
            
            <span class="etx-text-secondary">
            possui
            </span>

            <span class="etx-results-count text-bold">
                {{search_results.response.numFound|currency:''}}  
                artigos
            </span>

            <span ng-if="price_filter" class="price-filter-info">
              <span class="etx-text-secondary price-filter-start">
              com pre&ccedil;o 
              </span>
              <span ng-if="price_filter.pstart!=0" 
                class="text-bold price-filter-range">
                de {{price_filter.pstart|currency:''}} a {{price_filter.pend|currency:''}}
              </span>
              <span ng-if="price_filter.pstart==0" 
                class="text-bold price-filter-end">
                at&eacute; {{price_filter.pend|currency:''}}
              </span>
            </span>
        </p>
    </div>    

    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 cursor-pointer ecommerce-it-container rs-padding"
        ng-repeat="item in search_results.response.docs">
        <div class="card ecommerce-item">
            <div style="height:220px;background:url('{{item.cached_image}}');background-size:cover;"
                class="prod-bg-image"
                ng-click="openProduct(item, '<%-compobj.id%>')">
            </div>

            <div class="card-body">
                <h4 class="ecommerce-item-title text-center" 
                  ng-click="openProduct(item, '<%-compobj.id%>')"
                  ng-bind="item.titleDf">
                </h4>

                <h4 class="card-title text-danger ecommerc-item-price text-center"
                  ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                  >
                  <span class="item-price" ng-bind="item.priceAmount|currency:''"></span>
                  <span class="item-currency" ng-bind="item.currency"></span>
                </h4>

                <h4 class="card-title ecommerce-item-old-price text-center"
                  ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                  >
                  <div ng-if="item.oldPriceAmount > 0">
                    <span class="item-price" ng-bind="item.oldPriceAmount|currency:''"></span>
                    <span class="item-currency" ng-bind="item.currency"></span>
                  </div>
                </h4>

                <h4 class="card-title ecommerce-item-review text-center"
                  ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                  >
                  <span class="fa fa-star text-warning" ng-if="item.prod_rev_avg>=1"></span>
                  <span class="fa fa-star text-warning" ng-if="item.prod_rev_avg>=2"></span>
                  <span class="fa fa-star text-warning" ng-if="item.prod_rev_avg>=3"></span>
                  <span class="fa fa-star text-warning" ng-if="item.prod_rev_avg>=4"></span>
                  <span class="fa fa-star text-warning" ng-if="item.prod_rev_avg>=5"></span>

                  <span ng-if="item.prod_rev_count>0"
                      ng-bind="item.prod_rev_count"></span>

                  <span class="text-muted"
                    ng-if="item.prod_rev_count==0 && '<%=compobj.org%>'!='e22c394b31c74063'">
                    Sem Avaliações
                  </span>
                </h4>

                <h4 class="card-title ecommerce-item-tags-v2 text-muted text-center"> 
                  <!-- Categories: {{item.categories}} -->
                  <span ng-if="item.categories.length>0" 
                      class="fa fa-tag" style="font-size:11px;"></span>
                  <small ng-bind="item.categories[item.categories.length-1].split('#')[1]">
                  </small>
                </h4>

                <div ng-if="item.state=='PUBLISHED'||item.state=='AVAILABLE'">
                  <button class="btn bg-white text-bold btn-block btn-add-cart"
                    ng-click="openCart22('<%=compobj.fields[$PCF.webapp_id]%>', item)"
                    >
                    <span class="fa fa-shopping-cart"></span>
                    ADICIONAR
                    <span style="color:#333;"
                      class="item-amount item-amount-{{item.id}}">
                      {{item.cart_amount}}
                    </span>
                  </button>
                </div>

                <div ng-if="item.state=='NOT_AVAILABLE'">
                  <button class="btn text-bold btn-block bg-secondary"
                    style="margin-top:10px;"
                    >
                    N&Atilde;O DISPONIVEL
                  </button>
                </div>

                <div ng-if="item.state=='NO_STOCK'">
                  <button class="btn bg-danger text-bold btn-block btn-danger"
                    style="margin-top:10px;"
                    >
                    FORA DE STOCK
                  </button>
                </div>

                <!--
                  <button class="btn bg-primary text-bold btn-block btn-index text-white"
                    style="margin-top:10px;"
                    ng-click="indexP(item.id)"
                    >
                    <span ng-if="!indexed[item.id]">
                      INDEX
                    </span>
                    <span ng-if="indexed[item.id]=='loading'">
                      INDEXING
                    </span>
                    <span ng-if="indexed[item.id]==true">
                      INDEXED
                      <span class="fa fa-check"></span>
                    </span>
                    <span ng-if="indexed[item.id]=='ERROR'">
                      TRY AGAIN
                      <span class="fa fa-times"></span>
                    </span>
                  </button>
                -->
            </div> 
        </div>
    </div>

    <div class="col-12" style="width:100%;"
      id="loadmorebtn-<%=compobj.id%>">
        <div style="padding-top:32px;"
            ng-if="loading_more"
            class="ecommerce-items-loader text-center">
            <h2 class="text-warning">
                <span class="fa fa-refresh fa-spin"
                style="font-size:45px;"></span>
                <br/>
                <strong class="text-muted" style="font-size: 20px;">
                Carregando
                </strong>
            </h2>
        </div>

        <button class="btn btn-primary btn-block load-more-btn"
            ng-disabled="loading_more"
            ng-if="search_results.response.docs.length<search_results.response.numFound"
            ng-click="loadMore('<%-compobj.fields[$PCF.webapp_id]%>', 
                               '<%-compobj.id%>', 
                               '#loadmorebtn-<%=compobj.id%>')">
                Carregar mais
        </button>
    </div>
</div>


