<div class="row rs-margin" 
    ng-controller="BlogCtrl">

    <div class="col-12 rs-padding" >
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <div style="padding:10px;"
                        ng-init="fetchBlogPost('<%=compobj.id%>', '<%=compobj.id%>', '<%=$BXF.content_mkd%>', '<%=$BXF.title_df%>')">
                        <h3>
                            <span style="font-size:45px;" class="fa fa-refresh fa-spin text-warning"></span>
                            <span class="text-secondary">
                            Aguarde
                            </span>
                        </h3>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <!-- postObject={{postObject}} -->
                    <div class="row rs-margin blog-container">
                        <div class="col-12 rs-padding">

                            <nav aria-label="breadcrumb" role="navigation"
                                id="breadcrumb-comp-<%=compobj.id%>">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active ng-binding" aria-current="page"
                                    class="blog-page-label"
                                    id="blog-post-title-<%=compobj.id%>">

                                </li>
                              </ol>
                            </nav>

                            <div id="item-post-<%=compobj.id%>"></div>
                        </div>                    
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                </div>
            </div>

        </div>
        
    </div>
    

</div>
