<div class="<%-compobj.fields[$PCF.comp_size] %> account-obj-container"
    id="account-support-container-<%=compobj.id%>"
    style="margin-top:-65px;margin-top:0px;"
    ng-controller="FChainController"
    ng-init="loadUser('<%=compobj.id%>')"
    >
    <div class="row rs-margin"
        style="margin-top:40px;">

        <div class="col-12 text-center"
            style="min-height:150px;">
            <div id="user-account-details" class="hidden">
                <!--
                <h3 style="margin:0px;">
                    <small class="text-white etx-text-white etx-bg-secondary btn btn-sm btn-round text-bold"
                        style="font-size:15px;">{{localUser.email|uppercase}}</small>
                    <small class="text-muted"
                        style="font-size:18px;">{{authUser.id}}</small>
                </h3>
                -->
                <button class="btn btn-warning btn-round text-bold btn-sm"
                    ng-click="logout()"
                    style="color:#333">
                    LOGOUT
                </button>
                <!--
                <button class="btn bg-primary btn-round etx-text-white text-bold btn-sm"
                    ng-click="myAccount()">
                    MINHA CONTA
                </button>
                -->
            </div>

            <!--
            ng-init="loadUser()"
            <h2>
                PromRes: 
                <%=promRes.cart_conf%>
            </h2>
            -->

            <div class="alert alert-info hidden text-left"
                id="user-invitation"
                style="">
                <h4 style="margin:0px;">
                Humm n&atilde;o parece ter uma conta.
                </h4>
                <p>
                    Crie um conta para acompanhar todos os seus carrinhos e tambem 
                    receber nossas ofertas, promo&ccedil;&otilde;es e novidades.<br/>
                    Se j&aacute; possui uma conta clique em <strong>LOGIN</strong>.
                </p>
                <button class="btn bg-success btn-lg text-bold btn-round text-white btn-cart-back "
                    ng-disabled="loading_request"
                    ng-click="openSignupModal()"
                    type="button">
                    <span class="fa fa-user-badge"></span>
                    CRIAR CONTA
                </button>
                <button class="btn bg-primary btn-lg text-bold btn-round text-white btn-cart-back "
                    ng-disabled="loading_request"
                    ng-click="openLoginModal()"
                    type="button">
                    <span class="fa fa-user-badge"></span>
                    LOGIN
                </button>
            </div>
        </div>

        <div class="col-12">
            <ul class="nav nav-tabs account-menu " role="tablist"
                style="">

                <li role="presentation" 
                    class="nav-item"
                    style="display:none">
                    <a href="#entity-loading-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        Loading
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-home-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        style="margin-right: 15px;"
                        class="nav-link text-bold ">
                        <span class="fa fa-user-cog"></span>
                        MY ACCOUNT 
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-update-account-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        UPDATE MY ACCOUNT
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item">
                    <a href="#entity-billings-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold active ">
                        PAYMENTS
                    </a>
                </li>

                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-new-billing-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold ">
                        NEW PAYMENT
                    </a>
                </li>

                <!--
                <li role="presentation" 
                    class="nav-item"
                    style="">
                    <a href="#entity-proforma-<%-compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link text-bold">
                        Proforma
                    </a>
                </li>
                -->
            </ul>

            <div class="tab-content" 
                id="myAccount-<%-compobj.id%>">

                <div class="tab-pane fade tab-loading-req  "
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="entity-loading-<%-compobj.id%>"
                    role="tabpanel">

                    <h3 class="text-center"
                        ng-if="loading_account"
                        style="padding-top:155px;color:#7d7b7b;">
                        <span class="fa fa-refresh fa-spin"></span>
                        Carregando
                    </h3>

                    <h3 class="text-center etx-text-danger"
                        ng-if="save_account_errors"
                        style="padding-top:155px;">
                        <span class="fa fa-times etx-text-white"></span>
                        Nao foi possivel carregar a sua conta.<br/>
                        Tente novamente mais tarde.
                    </h3>

                </div>

                <div class="tab-pane fade tab-update-account "
                    id="entity-update-account-<%-compobj.id%>"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">
                    <h1>Atualizar minha conta</h1>

                    <div class="alert alert-warning"
                        ng-if="saving_account">
                        <h3>Aguarde</h3>
                        <span class="fa fa-refresh fa-spin"></span>
                    </div>
                    <div class="alert alert-danger"
                        ng-if="save_account_errors">
                        <h3>Nao foi possivel concluir a operacao</h3>
                        <span class="fa fa-times"></span>
                        <p ng-repeat="err in save_account_errors"
                            style="margin:0px;">
                            {{err}}
                        </p>

                    </div>
                    <div class="alert alert-success"
                        ng-if="save_account_success">
                        <h3>
                            <span class="fa fa-check"></span>
                            <span style="color:#333">
                                Completada com sucesso.
                            </span>
                        </h3>
                    </div>

                    <form name="accountForm" 
                        ng-submit="saveMyAccount(accountForm)">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                <strong>
                                Email
                                </strong>
                            </label>
                            <input type="email" class="form-control" 
                                required
                                disabled
                                ng-model="accountReq.email"
                            />
                        </div>
                        <div class="form-group">
                            <label >Nome</label>
                            <input type="text" class="form-control" 
                                required
                                ng-model="accountReq.name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefone</label>
                            <input type="text" class="form-control" 
                                required
                                ng-model="accountReq.phone"
                            />
                        </div>
                        <button type="submit" class="btn btn-success text-bold btn-round"
                            ng-disabled="saving_account">
                            <span ng-if="!saving_account">
                                Guardar
                            </span>
                            <span ng-if="saving_account">
                                Aguarde
                            </span>
                        </button>
                    </form>
                </div>

                <div class="tab-pane fade tab-billings show active"
                    id="entity-billings-<%-compobj.id%>"
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group active" role="group">
                        <button type="button" class="btn bg-primary text-white active">Faturas</button>
                      </div>
                      <div class="btn-group" role="group">
                        <button type="button" class="btn bg-primary text-white">Pagamentos</button>
                      </div>
                    </div>

                    <h1>Billings {{billingData.totalCount}}</h1>

                    <button class="btn btn-round etx-bg-success text-bold"
                        ng-click="newBilling('<%-compobj.id%>')"
                        type="button">
                        <span class="fa fa-add"></span>
                        Criar
                    </button>

                    <ul class="list-group">
                      <li class="list-group-item"
                        style="margin-bottom:10px;"
                        ng-repeat="bill in billingData.list"
                        >
                        <h3 class="text-success">
                            {{bill.createdAt}}
                        </h3>
                        <h3 style="margin:0px;font-size:24px;"
                            class="pull-right">
                            <span class="text-muted">
                                {{bill.fields.<%- $BLF.total %>|currency:''}}
                            </span>
                            {{bill.fields.<%- $BLF.currency %>}}
                        </h3>
                        <h3 style="margin:0px;font-size:24px;"
                            class="text-muted">
                            {{bill.fields.<%- $BLF.description %>|uppercase}}
                        </h3>
                        <h3 style="margin:0px;font-size:19px;">
                            <small class="badge bg-secondary text-white">
                                {{bill.id}}
                            </small>
                        </h3>
                      </li>
                    </ul>
                </div>

                <div class="tab-pane fade tab-new-bill "
                    style="padding:10px;min-height:450px;background-color:#fff;border:1px solid #ccc;border-top:0px;"
                    id="entity-new-billing-<%-compobj.id%>"
                    role="tabpanel">

                    <button class="btn bg-secondary text-white btn-round"
                        ng-click="backHome('<%-compobj.id%>')">
                        Voltar
                    </button>

                    <h2 class="text-muted text-center"
                        style="margin:10px;">
                        New bill
                    </h2>

                    <div class="row rs-margin">
                        <div class="col-12">
                            <div class="alert alert-warning"
                                ng-if="saving_bill">
                                <h3>Aguarde</h3>
                                <span class="fa fa-refresh fa-spin"></span>
                            </div>
                            <div class="alert alert-danger"
                                ng-if="save_bill_errors">
                                <h3>Nao foi possivel concluir a operacao</h3>
                                <span class="fa fa-times"></span>
                                <p ng-repeat="err in save_bill_errors"
                                    style="margin:0px;">
                                    {{err}}
                                </p>

                            </div>
                            <div class="alert alert-success"
                                ng-if="save_bill_success">
                                <h3>Completada com sucesso.</h3>
                                <span class="fa fa-check"></span>
                            </div>

                            <form name="billForm" 
                                ng-submit="saveBill(billForm, '<%= compobj.id %>')">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Conta de comerciante</label>
                                    <select name="bill-merchant-account"
                                        class="form-control"
                                        required
                                        ng-model="billObj.merchant_id">
                                        <option value="{{acc.id}}"
                                            ng-repeat="acc in m_account_list">
                                            {{acc.fields[$MCF.name]}}-
                                            {{acc.id}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Descricao</label>
                                    <input type="text" class="form-control" 
                                        required
                                        ng-model="billObj.description"
                                    />
                                </div>
                                <div class="form-group">
                                    <label >Montante</label>
                                    <input type="number" 
                                        required
                                        ng-model="billObj.total"
                                        class="form-control" 
                                        value="1"
                                    />
                                </div>
                                <div class="form-group">
                                    <label >Moeda</label>
                                    <select class="form-control" 
                                        required
                                        ng-model="billObj.currency">
                                        <option value="CVE">CVE (Cape Verdean Escudos)</option>
                                        <option value="AOA">AOA (Angolan Kwanza)</option>
                                        <option value="USD">USD (United States Dollar)</option>
                                        <option value="EUR">EUR (Euro)</option>
                                        <option value="JPY">JPY (Japanese Yen)</option>
                                        <option value="HKD">HKD (Hong Kong Dollar)</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label >Tipo de pagamento</label>
                                    <select class="form-control" 
                                        required
                                        ng-model="billObj.payment_type">
                                        <option value="VINTI4">Vinti4 (Visa &amp; Mastercard)</option>
                                        <option value="PAYPAL">Paypal (W/ Account id)</option>
                                    </select>
                                    <div ng-if="billObj.payment_type=='VINTI4'"
                                        style="padding:10px;">
                                        <img src="<%=STATIC_PATH%>/img/vinti4.png"
                                            class="text-center"
                                            style="width:58px;" 
                                        />
                                        <img src="<%=STATIC_PATH%>/img/Verified-by-Visa.JPG"
                                            class="text-center"
                                            style="width:115px;" 
                                        />
                                        <img src="<%=STATIC_PATH%>/img/logo_mc_id_check.png"
                                            class="text-center"
                                            style="width:179px;" 
                                        />
                                    </div>
                                </div>

                                <h3>Dados do cliente</h3>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nome</label>
                                    <input type="text" class="form-control" 
                                        ng-model="billObj.cust_name"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Sobrenome</label>
                                    <input type="text" class="form-control" 
                                        ng-model="billObj.cust_surname"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="text" class="form-control" 
                                        ng-model="billObj.cust_email"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">NIF</label>
                                    <input type="text" class="form-control" 
                                        ng-model="billObj.cust_nif"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Endereco</label>
                                    <input type="text" class="form-control" 
                                        ng-model="billObj.cust_address"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Telefone</label>
                                    <input type="text" class="form-control" 
                                        ng-model="billObj.cust_phone"
                                    />
                                </div>

                                <button type="submit" class="btn btn-success text-bold btn-round"
                                    ng-disabled="saving_bill">
                                    <span ng-if="!saving_bill">
                                        Guardar
                                    </span>
                                    <span ng-if="saving_bill">
                                        Aguarde
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade tab-cart "
                    id="entity-home-<%-compobj.id%>"
                    style="border:1px solid #ccc;border-top:0px;"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="min-height:450px;background-color:#fff;padding:10px;">
                        <div class="col-12">
                            <h3 class="etx-text-primary">
                                {{localUser.name_fmt|uppercase}}
                            </h3>
                            <h3 style="margin:0px;font-size:19px"
                                class="etx-text-secondary">
                                {{localUser.email|uppercase}}
                            </h3>

                            <h3 class="etx-text-black xb-grad"
                                style="font-size:19px;margin:0px;margin-top: 25px;padding: 10px;">
                                <!--
                                account_url:
                                <a href="<%=compobj.confObj.account_url %>">
                                    <%=compobj.confObj.account_url %>
                                </a>
                                -->
                                Detalhes da sua conta
                            </h3>

                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="text-bold">
                                            ID da conta
                                        </td>
                                        <td class="etx-text-primary text-bold">
                                            {{userAccount.id}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Nome Completo
                                        </td>
                                        <td class="text-bold">
                                            {{userAccount.name|uppercase}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Email
                                        </td>
                                        <td class="text-bold text-success">
                                            {{userAccount.email|uppercase}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Telefone
                                        </td>
                                        <td class="text-bold text-success">
                                            {{userAccount.phone|uppercase}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Tipo de conta
                                        </td>
                                        <td>
                                            <span class="badge etx-bg-secondary etx-text-white">
                                                {{userAccount.type|uppercase}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Estado
                                        </td>
                                        <td>
                                            <span class="badge etx-bg-secondary etx-text-white">
                                                {{userAccount.state|uppercase}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">
                                            Data de cria&ccedil;&atilde;o
                                        </td>
                                        <td class="text-bold text-muted">
                                            {{userAccount.createdAt}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-round etx-bg-success etx-text-white text-bold">
                                Update My Account
                            </button>

                            <div class="pull-right">
                                <p class="text-muted text-center" style="padding:0px;margin:0px;font-size:14px;">
                                    Verificado &amp; Protegido por
                                </p>
                                <a href="https://enterstarts.com" 
                                    target="__blank">
                                    <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                        class="text-center"
                                        style="width:220px;" 
                                    />
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="tab-pane fade tab-req-token-list  "
                    id="entity-token-list-<%-compobj.id%>"
                    role="tabpanel">

                    <div class="row rs-margin"
                        style="background-color:#fff;min-height:450px;box-shadow:0px 0px 2px rgba(0,0,0,.3)">
                        <div class="col-12 text-center" 
                            style="padding:15px;">
                            <h3>
                                <span class="fa fa-user"></span>
                                {{auth.name|uppercase}}<br/>
                                <span class="text-muted"
                                    style="font-size:19px;">
                                    {{auth.email|uppercase}}
                                </span>
                                <br/>
                                <span class="text-primary"
                                    style="font-size:14px;">
                                    ({{auth.id}})
                                </span>
                            </h3>
                        </div>

                        <div class="col-12 text-right cursor-pointer" 
                            style="padding-top:80px;padding-bottom:10px;">
                            <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                                Verificado &amp; Protegido por
                            </p>
                            <a href="https://enterstarts.com" 
                                target="__blank">
                                <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                                    class="text-center"
                                    style="width:220px;" 
                                />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


