<div class="col-12">

    <!-- Modal -->
    <div class="modal fade" id="unlock-<%=compobj.id%>" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">REDIMIR TRANSACAO</h4>
          </div>
          <div class="modal-body">
            <h3>
                USER_ID: <strong>
                {{session.id}}
            </h3>
            <h3>
                ID: <strong>
                {{current_unlock_tx.id}}
            </h3>
            <h3>
                Data: <strong>
                {{current_unlock_tx.date}}
            </h3>
            <h3>
                Amount: <strong>
                {{current_unlock_tx.amount}}
            </h3>
            <h3>
                FROM: <strong>
                {{current_unlock_tx.from}}
            </h3>
            <h3>
                TO: <strong>
                {{current_unlock_tx.to}}
            </h3>

            <div class="" style="margin-top: 20px;">
                <h2>Transferir pontos</h2>
                <div class="alert alert-warning"
                    ng-if="confirming_tx">
                    <h3>Aguarde</h3>
                    <span class="fa fa-refresh fa-spin"></span>
                </div>
                <div class="alert alert-danger"
                    ng-if="confirm_errors">
                    <h3>Nao foi possivel concluir a operacao</h3>
                    <span class="fa fa-times"></span>
                    <p ng-repeat=""></p>
                </div>
                <div class="alert alert-success"
                    ng-if="confirm_success">
                    <h3>Completada com sucesso.</h3>
                    <span class="fa fa-check"></span>
                </div>

                <form name="redeemForm" 
                    ng-submit="redeemTransaction(redeemForm, '<%= compobj.confObj.token_id %>')">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email do destinatario</label>
                        <input type="email" class="form-control" 
                            required
                            ng-model="redeemObj.toEmail"
                            id="redeemEmail" 
                            placeholder="Enter email"
                        />
                    </div>
                    <button type="submit" class="btn btn-success text-bold btn-round"
                        ng-disabled="confirming_tx">
                        <span ng-if="!confirming_tx">
                            Redimir
                        </span>
                        <span ng-if="confirming_tx">
                            Aguarde
                        </span>
                    </button>
                </form>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Close
            </button>
            <button type="button" class="btn btn-primary">
                Save
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
