<div class="col-12">
    <div class="carousel carousel-host-bg slide" 
        data-ride="carousel" 
        id="host2-carrousel-<%=compobj.id%>">
        <ol class="carousel-indicators">
            <li data-target="#carrousel-${compobj.id}" 
                ng-class="{'active':$index==0}"
                ng-repeat="md in object_get.Fields['<%=$HSF.media_list%>']"
                data-slide-to="$index" >
            </li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div ng-class="{'carousel-item carousel-host-item-bg':true, 'active': $index==0}" 
                ng-repeat="md in object_get.Fields['<%=$HSF.media_list%>']"
                 style="background-image: url('{{md.url}}')">
            </div>
        </div>
        <div class="slide-control-bar">
            <a class="carousel-control-prev" 
                href="#host2-carrousel-<%=compobj.id%>" 
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" 
                href="#host2-carrousel-<%=compobj.id%>" 
                role="button" 
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
