<!--
HOSTS
<h3> Schema ID: 
    <%= compobj.fields[$PCF.title_df] %>
</h3>
<h3> LINK TO VIEW
    <%= compobj.fields[$PCF.readmore_link] %>
</h3>
<h3> LINK TO PREVIEW
    <%= compobj.fields[$PCF.comp_descr] %>
</h3>
<h3>zOBJ LISTING</h3>

<h3> CONF: 
    <%= JSON.stringify(compobj.zstorage_conf) %>
</h3>
-->

<div class="row rs-margin" ng-controller="x99Realstate">

    <div class="col-12 rs-padding" >
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <div class="row rs-margin">
                        <div class="col-12 text-center">
                            <div style="padding:10px;"
                                ng-init="filterHosts('<%=compobj.id%>', '<%=compobj.fields[$PCF.title_df]%>')">
                                <h3>
                                    <span style="font-size:20px;" class="fa fa-refresh fa-spin text-warning"></span>
                                    <br/>
                                    <span class="text-secondary">
                                    Aguarde
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <div class="row rs-margin">    
                        <div class="col-12">
                            <h3 ng-if="search_results.TotalCount>0">
                                {{search_results.TotalCount}}
                                resultados
                                para
                                '{{search_results.user_q}}'
                            </h3>
                            <h3 ng-if="search_results.TotalCount==0">
                                Nenhum resultado encontrado
                                para
                                '{{search_results.user_q}}'
                            </h3>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-xs-12 col-md-6 h-100 host-item"
                            id="host-item-{{obj.Id}}"
                            ng-repeat="obj in object_data.List">
                            <div class="card" >
                                <div style="background-image:url('{{obj.Fields.col5}}');height:250px;"
                                    class="card-img-top">
                                    <!--
                                    <div style="opacity:.8;border-radius:4px;background-repeat:no-repeat;height:55px;margin-top:10px;margin-right:10px;width:55px;background-image:url('<%=WS_HOST %>/img/flags/4x3/{{obj.Fields.col13.toLowerCase()}}.svg"
                                        class="pull-right"></div>
                                    <div style="padding:5px">
                                        <span ng-repeat="it in obj.Fields.col11.split(',')"
                                            class="special-tag bg-secondary etx-text-white badge"
                                            style="margin-left:5px;"
                                            ng-if="it">
                                            {{it}}
                                        </span>
                                    </div>
                                      <img class="card-img-top" 
                                        ng-src="{{obj.Fields.col5}}" 
                                        alt="Image de host {{obj.Fields.col5}}">
                                    -->
                                </div>

                              <div class="card-body">
                                <a href="<%= compobj.fields[$PCF.readmore_link] %>objectId={{obj.Id}}&schemaId={{obj.SchemaId}}">
                                <h4 class="card-title">{{obj.Fields.col1}}</h4>
                                </a>

                                <p class="card-text text-secondary">
                                    {{obj.Fields.col12.slice(0, 100)+"..."}}
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                    <h3>Hello there</h3>
                </div>
            </div>

        </div>
        
    </div>
    

</div>
