<div class="row rs-margin" ng-controller="x99Realstate">

    <div class="col-12 rs-padding" >
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <div class="row rs-margin">
                        <div class="col-12 text-center">
                            <div style="padding:10px;"
                                ng-init="getZObject('<%=compobj.id%>')">
                                <h3>
                                    <span style="font-size:20px;" class="fa fa-refresh fa-spin text-warning"></span>
                                    <br/>
                                    <span class="text-secondary">
                                    Aguarde
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <div class="row rs-margin">                        
                        <div class="col-12">
                            <div class="carousel slide ng-scope" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carrousel-664d292c282640d4" class="active " data-slide-to="0">
                                    </li>
                                </ol>

                                <div class="carousel-inner" role="listbox">
                                    <!-- Slide One - Set the background image for this slide in the line below -->
                                    <div class="carousel-item active banner-item" style="background-image: url('{{object_get.Fields.col3}}');">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <nav aria-label="breadcrumb" role="navigation">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="casas.html">Casas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{object_get.Fields.col1}}
                                </li>
                              </ol>
                            </nav>
                        </div>

                        <div class="col-12">
                            <h1>
                                title
                                {{object_get.Fields.col1}}
                            </h1>
                            <p>
                                description
                                {{object_get.Fields.col2}}
                            </p>
                            <p>
                                picture
                                {{object_get.Fields.col4}}
                            </p>
                            <p>
                                location
                                {{object_get.Fields.col5}}
                            </p>
                            <hr/>
                            <p>
                                lat
                                {{object_get.Fields.col6}}
                            </p>
                            <p>
                                lon
                                {{object_get.Fields.col7}}
                            </p>

                            <p>
                                email:
                                {{object_get.Fields.col8}}
                            </p>
                            <p>
                                phone:
                                {{object_get.Fields.col9}}
                            </p>
                            <p>
                                website:
                                {{object_get.Fields.col10}}
                            </p>
                            <p>
                                facebook:
                                {{object_get.Fields.col11}}
                            </p>
                            <p>
                                twitter:
                                {{object_get.Fields.col12}}
                            </p>
                            <p>
                                promo_video:
                                {{object_get.Fields.col13}}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                    <h3>Hello there</h3>
                </div>
            </div>

        </div>
        
    </div>
    

</div>
