<ul class="nav nav-tabs " role="tablist" style="display:none">
    <li role="presentation" class="nav-item">
        <a href="#reserve-home-<%=compobj.id%>" aria-controls="home" 
            role="tab" data-toggle="tab"
            class="nav-link active">
            Home
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a href="#reservation-<%=compobj.id%>-details" aria-controls="messages" 
            role="tab" data-toggle="tab"
            class="nav-link">
            Reservation Details
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a href="#reserve-payment-<%=compobj.id%>" aria-controls="home" 
            role="tab" data-toggle="tab"
            class="nav-link ">
            Payment
        </a>
    </li>
    <li role="presentation" class="nav-item">
        <a href="#reserve-receipt-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
            role="tab" data-toggle="tab"
            class="nav-link"ng>
            RECIBO
        </a>
    </li>
</ul>

<div class="tab-content host-reservation-container">

    <div role="tabpanel" class="tab-pane fade show active" id="reserve-home-<%=compobj.id%>">
        <div class=" host-reservation-plugin " ng-if="experience_obj.id">
            <h3 class="reserve-exp-title">
                {{experience_obj.fields.title}}
            </h3>
            <p class="exp-reserve-description">
                {{experience_obj.fields.description}}
            </p>

            <h3 class="reserve-exp-price">
                <span class="reserve-price-amount">
                    {{experience_obj.fields.price_amount|currency:''}}
                </span>
                <span class="reserve-currency">
                    {{experience_obj.fields.currency}}
                </span>
            </h3>

            <!--
            <h3 style="color:#333;margin:0px;margin-top:10px;">
                Efectue a sua reserva
            </h3>
            <p class="text-secondary" style="margin:0px;padding:0px;">
                Ao efectuar a reserva receber&aacute;o o link de pagamento
                por email.
            </p>
            -->
            <hr/>

            <div class="alert alert-danger" 
                id="error-area2-<%=compobj.id%>"
                style="padding-top:15px;border-radius:0px;"
                ng-if="local_date_is_invalid">
                <!-- <h3 style="color:#333;">Data inv&aacute;lida</h3> -->
                <p style="color:#333;" class="text-bold">
                    
                    <span class='exp-time-interval'>
                        <strong class="exp-time-start">
                            {{moment(experience_obj.fields.start_date).format("LL")}}
                        </strong>
                        a
                        <strong class="exp-time-end">
                            {{moment(experience_obj.fields.end_date).format("LL")}}
                        </strong>
                    </span>
                </p>
            </div>

            <form ng-init="initDatePickerField('#reservation-date-pick-<%=compobj.id%>')">
                <div>
                    <h4 class="date-choose-el">
                        <span class="fa fa-calendar reserve-calendar-icon"></span>
                        <%= TR('Escolha a data da reserva') %>
                    </h4>

                    <p class="text-bold text-secondary rs-margin exp-interval">
                        <span class=''>
                            <strong class="exp-time-start">
                                {{moment(experience_obj.fields.start_date).format("LL")}}
                            </strong>
                            a
                            <strong class="exp-time-end">
                                {{moment(experience_obj.fields.end_date).format("LL")}}
                            </strong>
                        </span>
                    </p>

                    <input type="text" 
                        id="reservation-date-pick-<%=compobj.id%>" 
                        class="form-control" 
                    />
                </div>

                <button class="btn btn-round btn-default text-danger btn-round text-bold btn-lg"
                    style="margin-top:15px;"
                    ng-click="cancelReserveMenu('<%=compobj.id%>')">
                    <%= TR('CANCEL') %>
                </button>

                <button class="btn btn-round etx-bg-success btn-round text-bold btn-lg"
                    style="margin-top:15px;"
                    ng-disabled="!reqObj.fields.start_date"
                    ng-click="openReservationBoard('<%=compobj.id%>')">
                    <%= TR('CONTINUAR') %>
                </button>
            </form>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade " id="reservation-<%=compobj.id%>-details">

        <div class="card-body text-center" style="padding-top:15px;"
            ng-if="saving_res">
            <span class="fa fa-refresh fa-spin text-warning" 
                style="font-size:55px;margin-top:15px;"></span>

            <h4 class="card-title" style="font-weight:bold;">
                <%= TR('Aguarde') %>
            </h4>
        </div>

        <div class="alert alert-danger" 
            id="error-area-<%=compobj.id%>"
            style="padding-top:15px;border-radius:0px;"
            ng-if="error_res">
            <h3 style="color:#333;">
                <%= TR('Não foi possivel concluir a operação.') %>
            </h3>
            <p ng-repeat="e in errors_res">{{e}}</p>
        </div>

        <div class="card-body text-center" style="padding-top:15px;"
            ng-if="success_res">
            <span class="fa fa-check text-success" 
                style="font-size:55px;margin-top:15px;"></span>

            <h4 class="card-title" style="font-weight:bold;">
                <%= TR('Reserva efectuada com sucesso') %>
            </h4>
        </div>

        <div class="row rs-margin" style="background-color:#f4f4f4;padding:20px;padding-bottom:40px;">
            <table class="table">
                <tr>
                    <td class="text-center" colspan="2">
                        <h3 class="reserve-exp-title">
                            {{experience_obj.fields.title}}
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <h3>
                            Data
                        </h3>
                    </td>
                    <td class="text-right">
                        {{reqObj.fields.start_date}}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <h3>
                            Total
                        </h3>
                    </td>
                    <td class="text-right">
                        <h3>
                            {{
                                (parseMoney(reqObj.fields.amount)
                                *
                                parseMoney(experience_obj.fields.price_amount)).toFixed(2) || 0 | currency:''
                            }}
                            <span class="text-danger">
                                {{experience_obj.fields.currency}}
                            </span>
                        </h3>
                    </td>
                </tr>
            </table>

            <div class="col-12 rs-padding "
                style="background-color:#fff;padding:15px;border:1px solid #ccc;border-radius:4px;" 
                ng-if="reservation_screen=='home'">
                <form ng-submit="prepareReservation(prepareReservationForm, '<%=compobj.id%>')"
                    name="prepareReservationForm">

                    <div class="alert alert-warning"
                        style="border-radius:0px">
                        <!--
                        <h3 style="color:#333;font-size:22px;margin:0px;">
                            Preencha o formul&aacute;rio para efetuar a reserva.
                        </h3>
                        -->
                        <h3 style="font-size:16px;margin:0px;">
                            <%= TR('Preencha o formulário para efetuar a reserva.') %>
                        </h3>    
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Email
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="reqObj.fields.email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            <%= TR('Seu nome') %>
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="reqObj.fields.customer_name"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            <%= TR('Sobrenome') %>
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="reqObj.fields.customer_surname"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            <%= TR('Telefone') %>
                        </label>
                        <input type="number" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="reqObj.fields.phone"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            <%= TR('Endereço') %>
                        </label>
                        <input type="text" class="form-control" 
                            placeholder="Aa"
                            required
                            ng-model="reqObj.fields.address"
                        />
                    </div>

                    <div class="form-group">
                        <a href="javascript:void(0)"
                            ng-show="no_corporate"
                            ng-click="fillInCorporateCode('<%=compobj.id%>')">
                            <%= TR('Deseja utilizar o seu código corporate') %>?
                            <span class="fa fa-refresh fa-spin"
                                ng-show="loading_corporate_account"></span>
                        </a>
                        <p class="text-info text-bold"
                            ng-show="corporate_not_found">
                            <%= TR('Não parece ter uma conta corporate') %>
                            <a href="prototipo_corporate" target="__blank">
                                <%= TR('Requisite aqui') %>
                            </a>
                        </p>

                        <label for="exampleInputEmail1"
                            ng-show="!no_corporate">
                            <strong><%- TR('Código CORPORATE') %></strong>:
                            <span class="text-secondary text-bold">{{corporate_account.id.slice(0,6)}}</span>
                            <!-- <span class="fa fa-check text-success"></span> -->
                            <!-- <br/> -->
                            <span class="text-danger text-bold" 
                                ng-click="removeCorporateCode()">
                                <span class="fa fa-times"></span>
                                (Remover)
                            </span>
                        </label>
                        <input type="hidden" class="form-control" 
                            placeholder="Aa"
                            ng-model="reqObj.fields.corporate_id"
                        />
                    </div>

                    <button type="button" class="btn btn-secondary text-white btn-round text-bold btn-back "
                        ng-click="goHostHome('<%=compobj.id%>')">
                        <%= TR('VOLTAR') %>
                    </button>

                    <button type="submit" class="btn btn-success text-white btn-round text-bold btn-lg"
                        ng-disabled="saving_res||price_error">
                        <%= TR('CONTINUAR') %>
                        <span class="fa fa-arrow-right"></span>
                    </button>
                </form>
            </div>
            
            <div class="col-12 "
                ng-if="reservation_screen=='part-details'">
                
                <div style="border-radius:4px;">
                    <div class="row rs-margin">
                        <div class="col-12">
                            <h3 class="text-secondary">
                                <%= TR('Participantes') %>
                            </h3>
                            <p class="text-secondary" style="margin:0px;"
                                ng-if="experience_obj.fields.min_part>0">
                                Minimo:
                                {{experience_obj.fields.min_part}}
                                pessoas
                            </p>
                            <p class="text-secondary" style="margin:0px;"
                                ng-if="experience_obj.fields.max_part>0">
                                Maximo:
                                {{experience_obj.fields.max_part}}
                                pessoas
                            </p>
                        </div>
                        <div class="col-12">
                            <table class="table table-stripped">
                                <thead>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in personDB">
                                        <td>
                                            <p class="text-bold">
                                            {{p.customer_name}}
                                            {{p.customer_surname}}
                                            </p>
                                        </td>
                                        <td>
                                            {{p.email}}
                                            <span class="fa fa-archive text-danger cursor-pointer"
                                                ng-click="removePart(p, $index)">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <%= TR('Nome') %>
                                </label>
                                <input type="text" class="form-control" 
                                    placeholder="Aa"
                                    ng-model="part.customer_name"
                                />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Email
                                </label>
                                <input type="email" class="form-control" 
                                    placeholder="Aa"
                                    ng-model="part.email"
                                />
                            </div>
                            <button type="button" class="btn bg-primary btn-round text-bold text-white btn-sm"
                                ng-click="addPerson()">
                                <%= TR('ADICIONAR') %>
                            </button>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <%= TR('Sobrenome') %>
                                </label>
                                <input type="text" class="form-control" 
                                    placeholder="Aa"
                                    ng-model="part.customer_surname"
                                />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <%= TR('Telefone') %>
                                </label>
                                <input type="number" class="form-control" 
                                    placeholder="Aa"
                                    ng-model="part.phone"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                
                <form ng-submit="makeReservation(makeReservationForm, '<%=compobj.id%>')"
                    name="makeReservationForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            <%= TR('Quantidade') %>
                        </label>
                        <input type="number" class="form-control" 
                            placeholder=""
                            required
                            ng-model="reqObj.fields.amount"
                        />
                        <br/>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            <%= TR('Observação') %>
                        </label>
                        <textarea type="text" class="form-control" 
                            id="expDescr" 
                            placeholder=""
                            ng-model="reqObj.fields.description"
                        ></textarea>
                    </div>

                    <button type="button" 
                        ng-click="reservationScreen('home')"
                        class="btn btn-secondary btn-round text-bold text-white">
                        <%= TR('VOLTAR') %>
                    </button>
                    <button type="submit" class="btn btn-success btn-round text-bold btn-lg text-white"
                        ng-disabled="saving_res||price_error">
                        <%= TR('FINALIZAR') %>
                        <span class="fa fa-check"></span>
                    </button>
                </form>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 hidden "
                style="background-color:#f4f4f4;">
                <div class="" style="margin-bottom:10px;">
                    <img src="<%=WS_HOST%>/img/payment-img/vinti4.png"
                        class="text-center"
                        style="width:40px;margin-right:10px;" 
                    />
                    <img src="<%=WS_HOST%>/img/payment-img/visacard.png"
                        class="text-center"
                        style="width:52px;margin-right:10px;" 
                    />
                    <img src="<%=WS_HOST%>/img/payment-img/verifiedvisa.png"
                        class="text-center"
                        style="width:61px;margin-right:10px;" 
                    />
                    <img src="<%=WS_HOST%>/img/payment-img/mastercard.png"
                        class="text-center"
                        style="width:69px;" 
                    />
                </div>

                <table class="table">
                    <tr>
                        <td class="text-left">
                            Subtotal
                        </td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            Descontos
                        </td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            <h3>
                                Total
                            </h3>
                        </td>
                        <td class="text-right">
                            <h3>
                                {{
                                    (parseMoney(reqObj.fields.amount)
                                    *
                                    parseMoney(experience_obj.fields.price_amount)).toFixed(2) || 0 | currency:''
                                }}
                                <span class="text-danger">
                                    {{experience_obj.fields.currency}}
                                </span>
                            </h3>
                        </td>
                    </tr>
                </table>

                <p class="text-muted">
                    <%= TR('Ao comprar na nossa loja, concorda com os nossos') %>
                    <a href="">
                        <%= TR('termos de serviço.') %>
                    </a>
                </p>

                <div class="cursor-pointer" 
                    style="padding-top:80px;padding-bottom:10px;">
                    <p class="text-muted" style="padding:0px;margin:0px;font-size:14px;">
                        POWERED BY
                    </p>
                    <a href="https://enterstarts.com" 
                        target="__blank">
                        <img src="<%=STATIC_PATH%>/img/etx-logo-solo.png"
                            class="text-center"
                            style="width:220px;" 
                        />
                    </a>
                </div>
            </div>

            <div class="col-md-12" >
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade  " id="reserve-payment-<%=compobj.id%>">

        <div class="row rs-margin"  >
            <div class="col-12 rs-padding">
                <div class="alert alert-success text-center" style="margin-bottom:0px;"
                    >
                    <!-- <h3 style="margin:0px">Fatura {{currentBillingtx.id}}</h3> -->
                    <!-- <h3 style="margin:0px">Carrinho {{currentBillingtx.contextId}}</h3> -->
                    <!-- <p>Embeed Link {{currentBillingtx.embeed_payment_link}}</p> -->
                    <h3 style="color:#333;margin:0px;">
                        <span class="text-success fa fa-check"
                            style="font-size:55px;"></span>
                        <br/>
                        <%= TR('Muito Obrigado') %>
                    </h3>
                    <h3 style="color:#333;margin:0px;">
                        <%= TR('A Sua Reserva foi efectuada com sucesso.') %>
                    </h3>
                    <h4 style="margin:0px;" ng-if="!billingObj">
                        <span class="fa fa-refresh fa-spin" ng-if="updating_pstatus"></span>
                        <span style="color:#333">
                        <%= TR('Aguardando pagamento') %>
                        </span>
                    </h4>
                    <p style="margin:0px" ng-if="billingObj">
                        <%= TR('Se não abrir uma janela abaixo') %>,
                        <br/>
                        <a href="{{viewLink}}">
                            <%= TR('clique aqui para efetuar o pagamento') %>
                        </a>
                    </p>
                </div>
            </div>
            <!-- src="http://127.0.0.1:9000/billings/764d99d80c49468d/for-client-embeed" -->
            <!-- ng-src="currentBillingtx.embeed_payment_link" -->
            <!--
            <div class="col-12 rs-padding" id="iframe_payment_index" >
            <iframe 
                id="iframe_payment"
                style="border:0px;"
                height="800px" width="100%"></iframe>
            </div>
            -->
            <div class="col-12 text-center">
                <div class="alert alert-warning"
                    style="padding:30px;background:transparent;border-radius:0px;"
                    ng-if="frame_is_loading">
                    <h3 style="color:#333;">
                        <span class="text-warning fa fa-refresh fa-spin"></span>
                        <%= TR('CARREGANDO A PÁGINA DE PAGAMENTOS') %>
                    </h3>
                </div>
            </div>
            <div class="col-12 rs-padding" id="iframe_payment_index" 
                ng-show="!frame_is_loading">
                <!--
                <iframe 
                    id="iframe_payment"
                    style="border:0px;"
                    height="800px" width="100%"></iframe>
                -->
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade " id="reserve-receipt-<%=compobj.id%>">
        <span class="text-success fa fa-check"
            style="font-size:35px;"></span>
        <h3 style="color:#333;margin:0px;">
            <%= TR('Reserva efectuada e paga com sucesso') %>
        </h3>

        <a href="{{billingObj.view_link}}"
            class="btn bg-success btn-round text-bold text-white"
            target="__blank">
            <span class="fa fa-credit-card"></span>
            <%= TR('VER RECIBO') %>
        </a>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="reserve-success-<%=compobj.id%>">
        <span class="text-success fa fa-check"
            style="font-size:35px;"></span>
        <h3 style="color:#333;margin:0px;">
            <%= TR('Reserva efectuada com sucesso') %>
        </h3>
        <h3 style="color:#333;margin:0px;">
            <small>
            <%= TR('Enviamos para o seu email a confirmação desta reserva.') %>
            </small>
        </h3>

        <a href="{{APP_HOST}}/ephp/v1/reservation/{{reservation_conf.id}}/public"
            target="__blank">
            <%= TR('Clique aqui para ver a sua reserva.') %>
        </a>
    </div>

</div>
