<div class="row rs-margin" ng-controller="x99Realstate">

    <div class="col-12 rs-padding" >
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <div class="row rs-margin">
                        <div class="col-12 text-center">
                            <div style="padding:10px;"
                                ng-init="getZObject('<%=compobj.id%>', 'HOST')">
                                <h3>
                                    <span style="font-size:20px;" class="fa fa-refresh fa-spin text-warning"></span>
                                    <br/>
                                    <span class="text-secondary">
                                    Aguarde
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <div class="row rs-margin">                        
                        <div class="col-12 rs-padding">
                            <div class="carousel slide ng-scope" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carrousel-664d292c282640d4" class="active " data-slide-to="0">
                                    </li>
                                </ol>

                                <div class="carousel-inner" role="listbox">
                                    <!-- Slide One - Set the background image for this slide in the line below -->
                                    <div class="carousel-item active banner-item" style="background-image: url('{{object_get.Fields.col6}}');">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12  rs-padding">
                            <nav aria-label="breadcrumb" role="navigation">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="hosts.html">Anfitri&otilde;es</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{object_get.Fields['<%=$HSF.title%>']}}
                                </li>
                              </ol>
                            </nav>
                        </div>

                        <div class="col-6 ">
                            <h1>
                                {{object_get.Fields['<%=$HSF.title%>']|uppercase}}
                            </h1>

                            <p class="text-secondary text-host-description">
                                {{object_get.Fields['<%=$HSF.description%>']}}
                            </p>

                            <h3 class="text-secondary">MENU</h3>

                            <ul class="list-group">
                                <li class="list-group-item"
                                    ng-repeat="it in exp_list.list">
                                    <h3>{{it.fields.picture}}</h3>
                                    <h3>{{it.fields.title}}</h3>
                                    <h4>
                                        <span class="text-danger">
                                            {{it.fields.price_amount|currency:''}}
                                        </span>
                                        <strong>{{it.fields.currency}}</strong>
                                    </h4>

                                    <button class="btn btn-round bg-success text-white text-bold btn-lg" ng-click="reserveMenu('<%=compobj.id%>', it)">
                                        RESERVAR
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-6">
                            __reservationPlugin__
                        </div>

                        <div class="col-4 alert alert-info">
                            <h3>
                                <img ng-src="{{object_get.Fields.col6}}"
                                    width="65px"
                                    height="65px"
                                    style="border-radius:45px;margin-right:10px;"
                                    class="pull-left"
                                />
                                <!-- name surname -->
                                <strong style="color:#333;">{{object_get.Fields.col3}}</strong>
                                <span>
                                    {{object_get.Fields.col2}}
                                </span>
                            </h3>
                            <p class="text-secondary">
                                <strong>
                                DESDE {{moment(object_get.createdAt).format("DD-MM-YYYY")}}
                                </strong>
                            </p>
                            <p>
                                <img ng-src="<%=WS_HOST %>/img/flags/4x3/{{object_get.Fields.col13.toLowerCase()}}.svg"
                                    alt="Logo do pais {{object_get.Fields.col13}}"
                                    width="30px"
                                />
                                <strong>
                                {{object_get.Fields.col4}}
                                </strong>
                            </p>

                            <p>
                                <span class="fa fa-envelope"></span>
                                <strong>
                                <a href="mailto:{{object_get.Fields.col8}}">
                                    {{object_get.Fields.col8}}
                                </a>
                                </strong>
                            </p>
                            <p>
                                <span class="fa fa-phone"></span>

                                <strong>
                                <a href="mailto:{{object_get.Fields.col9}}">
                                    {{object_get.Fields.col9}}
                                </a>
                                </strong>
                            </h4>
                            <!--
                                <p>
                                    endereco:
                                    {{object_get.Fields.col10}}
                                </p>
                                <p>
                                    tags:
                                    {{object_get.Fields.col11}}
                                </p>
                            -->
                            <div style="padding:5px">
                                <span ng-repeat="it in object_get.Fields.col11.split(',')"
                                    class="special-tag bg-secondary etx-text-white badge"
                                    style="margin-left:5px;"
                                    ng-if="it">
                                    {{it}}
                                </span>
                            </div>
                            <!--
                            <button class="btn btn-round bg-success text-white text-bold btn-lg">
                                RESERVAR
                            </button>
                            -->
                        </div>

                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                    
                </div>
            </div>

        </div>
        
    </div>
    

</div>
