<div class="row rs-margin" ng-controller="x99Realstate">

    <div class="col-12 rs-padding" >
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display:none">
                <li role="presentation" class="nav-item">
                    <a href="#home-<%=compobj.id%>" aria-controls="home" 
                        role="tab" data-toggle="tab"
                        class="nav-link active">
                        Home
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#list-<%=compobj.id%>" aria-controls="list-<%=compobj.id%>" 
                        role="tab" data-toggle="tab"
                        class="nav-link"ng>
                        List
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a href="#error-<%=compobj.id%>" aria-controls="messages" 
                        role="tab" data-toggle="tab"
                        class="nav-link">
                        Messages
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home-<%=compobj.id%>">
                    <div class="row rs-margin">
                        <div class="col-12 text-center">
                            <div style="padding:10px;"
                                ng-init="getZObject('<%=compobj.id%>', 'HOST')">
                                <h3>
                                    <span style="font-size:20px;" 
                                        class="fa fa-refresh fa-spin text-warning"></span>
                                    <br/>
                                    <span class="text-secondary">
                                    <%= TR('Aguarde') %>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="list-<%=compobj.id%>">
                    <div class="">
                        <div class="row rs-margin">

                            <div class="col-12 rs-padding">
                                <nav aria-label="breadcrumb" role="navigation">
                                  <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><%= TR('Home') %></a></li>
                                    <li class="breadcrumb-item">
                                        <a href="hosts.html">
                                            <%= TR('Anfitriões') %>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        {{object_get.Fields['<%=$HSF.title%>']}}
                                    </li>
                                  </ol>
                                </nav>
                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="host-details-container">
                                    <div class=" host-image-container">
                                        <img ng-src="{{object_get.Fields['<%=$HSF.picture%>']}}"
                                            style="margin-right:10px;"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                <div class="carousel carousel-host slide" 
                                    data-ride="carousel" 
                                    id="host-carrousel-<%=compobj.id%>">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carrousel-${compobj.id}" 
                                            ng-class="{'active':$index==0}"
                                            ng-repeat="md in object_get.Fields['<%=$HSF.media_list%>']"
                                            data-slide-to="$index" >
                                        </li>
                                    </ol>

                                    <div class="carousel-inner" role="listbox">
                                        <div ng-class="{'carousel-item carousel-host-item':true, 'active': $index==0}" 
                                            ng-repeat="md in object_get.Fields['<%=$HSF.media_list%>']"
                                             style="background-image: url('{{md.url}}')">
                                        </div>
                                    </div>
                                    <div class="slide-control-bar">
                                        <a class="carousel-control-prev" 
                                            href="#host-carrousel-<%=compobj.id%>" 
                                            role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" 
                                            href="#host-carrousel-<%=compobj.id%>" 
                                            role="button" 
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="host-short-descr">
                                    <h2 class="text-success text-host-name">
                                        {{object_get.Fields['<%=$HSF.title%>']}}
                                        <!-- {{object_get.Fields['<%=$HSF.name%>']}} -->
                                        <!-- {{object_get.Fields['<%=$HSF.surname%>']}} -->
                                    </h2>

                                    <p class="text-secondary text-host-location">
                                        {{object_get.Fields['<%=$HSF.location%>']}}
                                    </p>
                                </div>

                                <p class="text-secondary text-host-description">
                                    {{object_get.Fields['<%=$HSF.description%>']}}
                                </p>
                            </div>

                            <div class="col-12 reservation-menu-list">
                                <h2 class="etx-menu-title">MENU</h2>

                                <div id="reservation-plugin-index-<%=compobj.id%>"></div>

                                <div class="etx-reservation-menu-plugin"
                                    ng-show="experience_obj">
                                    __reservationPlugin__
                                </div>

                                <div class="row rs-margin" ng-show="!experience_obj">
                                    <div class="col-12 host-exp-list-item " 
                                        ng-repeat="it in exp_list.list">
                                        <h3 class="exp-title">{{it.fields.title}}</h3>
                                        <p class="exp-description" ng-bind="it.fields.description"></p>
                                        <h3 class="exp-price ">
                                            <span class="exp-price-amount ">
                                                {{it.fields.price_amount|currency:''}}
                                            </span>
                                            <strong class="exp-price-currency">
                                                {{it.fields.currency}}
                                            </strong>
                                        </h3>
                                        <h3 class="exp-time-interval">
                                            De 
                                            <span class="time-interval-start">
                                            {{moment(it.fields.start_date).format("LL")}}
                                            </span>
                                            a 
                                            <span class="time-interval-end">
                                                {{moment(it.fields.end_date).format("LL")}}
                                            </span>
                                        </h3>
                                        <!-- <p class="exp-descr">{{it.fields.description}}</p> -->
                                        
                                        <div class="exp-blog-descr"
                                            id="exp-complete-descr-<%=compobj.id%>-{{it.id}}">
                                        </div>

                                        <button class="btn btn-round bg-success text-white text-bold btn-lg" ng-click="reserveMenu('<%=compobj.id%>', it)">
                                            <%= TR('RESERVAR') %>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 host-review-list">
                                <h2 class="etx-menu-title"
                                    ng-show="review_list.totalCount>0">
                                    AVALIA&Ccedil;&Otilde;ES
                                    <!--
                                    <span>
                                        {{review_list.totalCount}}
                                    </span>
                                    -->
                                </h2>

                                <!-- {{review_list}} -->

                                <ul class="list-group">
                                  <li class="list-group-item host-review-item"
                                        ng-repeat="rv in review_list.list">
                                        <h4 class="reviewer-timestamp pull-right">
                                            {{moment(rv.createdAt).format("LLL")}}
                                        </h4>
                                        <h4 class="reviewer-name">
                                            {{rv.fields['<%=$RVF.user_name%>']}}
                                        </h4>
                                        <p class="review-stars">
                                          <span class="fa fa-star cursor-pointer host-rating-star"
                                            ng-show="rv.fields['<%=$RVF.rating%>']>=1">
                                          </span>
                                          <span class="fa fa-star cursor-pointer host-rating-star"
                                            ng-show="rv.fields['<%=$RVF.rating%>']>=2">
                                          </span>
                                          <span class="fa fa-star cursor-pointer host-rating-star"
                                            ng-show="rv.fields['<%=$RVF.rating%>']>=3">
                                          </span>
                                          <span class="fa fa-star cursor-pointer host-rating-star"
                                            ng-show="rv.fields['<%=$RVF.rating%>']>=4">
                                          </span>
                                          <span class="fa fa-star cursor-pointer host-rating-star"
                                            ng-show="rv.fields['<%=$RVF.rating%>']>=5">
                                          </span>
                                        </p>
                                        <p class="review-description">
                                            {{rv.fields['<%=$RVF.description%>']}}
                                        </p>
                                    </li>
                                </ul>

                                <div class="text-center no-reviews-container"
                                    ng-if="review_list.length==0&&!loading_reviews&&!loading_request">
                                    <h3 class="no-reviews-found">
                                        Sem avalia&ccedil;&otilde;es.
                                        <br/>
                                        <strong>
                                            Seja o primeiro.
                                        </strong>
                                    </h3>
                                </div>

                                <div class="row mt-30 mb-30 review-g-container" 
                                    ng-if="!experience_obj">
                                    <div class="col-12 text-center review-call"
                                        ng-if="review_mode=='init'">
                                          <h2 class="avaliation-begin-title">
                                            <%= TR('Avalie') %> {{object_get.Fields['<%=$HSF.title%>']}}
                                          </h2>
                                          <span ng-click="setRating(1)"
                                              ng-mousehover="setRating(1)" 
                                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                           'text-secondary': reviewObj.rating==0,
                                                           'text-primary': reviewObj.rating>=1}">
                                          </span>
                                          <span ng-click="setRating(2)"
                                                  ng-hover="setRating(2)"
                                                  ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                           'text-secondary': reviewObj.rating<=1,
                                                           'text-primary': reviewObj.rating>=2}">
                                          </span>
                                          <span ng-click="setRating(3)" 
                                              ng-hover="setRating(4)"
                                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                           'text-secondary': reviewObj.rating<=2,
                                                           'text-primary': reviewObj.rating>=3}">
                                          </span>
                                          <span ng-click="setRating(4)"
                                                ng-hover="setRating(4)"
                                                ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                           'text-secondary': reviewObj.rating<=3,
                                                           'text-primary': reviewObj.rating>=4}">
                                          </span>
                                          <span ng-click="setRating(5)"
                                              ng-hover="setRating(5)"
                                              ng-class="{'fa fa-star cursor-pointer rating-star': true,
                                                           'text-secondary': reviewObj.rating<=4,
                                                           'text-primary': reviewObj.rating>=5}">
                                          </span>
                                          <!--
                                          <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                              class="rating-text text-secondary">
                                          </h4>
                                          -->
                                          <h4></h4>
                                          <button class="btn btn-success text-bold btn-round"
                                                ng-click="beginReview()">
                                                <span class="fa fa-check"></span>
                                                <%= TR('Continuar') %>
                                          </button>
                                    </div>

                                    <div class="col-12 review-form"
                                        ng-if="review_mode=='begin'">
                                        <form name="reviewForm" 
                                            ng-submit="makeReview(reviewForm, '<%=compobj.id%>', object_get.Id)">

                                            <div class="alert alert-warning text-center" 
                                                ng-if="loading_review_req">
                                                <i class="fa fa-refresh fa-spin"></i>
                                                <%= TR('Aguarde') %>
                                            </div>

                                            <div class="alert alert-danger text-center" 
                                                ng-if="review_error">
                                                <i class="fa fa-times"></i>
                                                <h4>
                                                    <%= TR('A sua solicitação não pode ser processada.') %>
                                                </h4>
                                                <%= TR('Verifique todos os campos.') %>
                                            </div>

                                            <div class="alert alert-success text-center avaliation-success" ng-if="review_success">
                                                <i class="fa fa-check" style="font-size:50px;" ></i>
                                                <br/>
                                                <h3>
                                                    <%= TR('Muito obrigado pela sua avaliação.') %>
                                                </h3>
                                            </div>

                                            <div ng-if="!is_done">
                                                <h3 class=""
                                                    class="avaliation-begin">
                                                    <%= TR('Avalie') %>
                                                    {{object_get.Fields['<%=$HSF.title%>']}}
                                                </h3>

                                                <div class="form-group">
                                                    <label><%= TR('Seu Nome') %></label>
                                                    <input class="form-control" type="text" ng-model="reviewObj.user_name"  required />
                                                </div>

                                                <div class="form-group">
                                                    <label><%= TR('Seu Email') %></label>
                                                    <input class="form-control" type="email" ng-model="reviewObj.user_email" required />
                                                </div>

                                                <div class="xxmodal-header xb-grad">
                                                  <div class="">
                                                    <h4 ng-bind="ratingMsgs[reviewObj.rating].msg"
                                                        class="rating-text "
                                                        style="font-size: 16px;color:#333;">
                                                    </h4>

                                                    <span ng-click="setRating(1)"
                                                        ng-mousehover="setRating(1)" 
                                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                     'text-secondary': reviewObj.rating==0,
                                                                     'text-primary': reviewObj.rating>=1}"></span>
                                                    <span ng-click="setRating(2)"
                                                            ng-hover="setRating(2)"
                                                            ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                     'text-secondary': reviewObj.rating<=1,
                                                                     'text-primary': reviewObj.rating>=2}"></span>
                                                    <span ng-click="setRating(3)" 
                                                        ng-hover="setRating(4)"
                                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                     'text-secondary': reviewObj.rating<=2,
                                                                     'text-primary': reviewObj.rating>=3}"></span>
                                                    <span ng-click="setRating(4)"
                                                          ng-hover="setRating(4)"
                                                          ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                     'text-secondary': reviewObj.rating<=3,
                                                                     'text-primary': reviewObj.rating>=4}"></span>
                                                    <span ng-click="setRating(5)"
                                                        ng-hover="setRating(5)"
                                                        ng-class="{'fa fa-star fa-rev-star cursor-pointer rating-star': true,
                                                                     'text-secondary': reviewObj.rating<=4,
                                                                     'text-primary': reviewObj.rating>=5}"></span>
                                                  </div>
                                                </div>

                                                <div class="control-group form-group"
                                                  style="">
                                                    <div class="controls">
                                                        <textarea rows="4" cols="100" class="form-control" 
                                                            required maxlength="200" 
                                                            style="resize:none;border-radius:0px;"
                                                            placeholder="Aa"
                                                            ng-model="reviewObj.user_msg"></textarea>
                                                    </div>
                                                </div>
                                                <button type="submit" 
                                                    class="btn btn-success btn-round btn-lg btn-round text-bold pull-left"
                                                    ng-disabled="loading_review_req">
                                                    <span class="fa fa-send"></span>
                                                    <%= TR('Enviar') %>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>

                            <!--
                            <div class="col-4 alert alert-info">
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="error-<%=compobj.id%>">
                    
                </div>
            </div>

        </div>
        
    </div>
    

</div>
