
<div class="card "
    id="scard-<%-compobj.id%>"
    ng-controller="x99BannerCar"
    style="margin-top:15px;background-color: #fff"
    data-image-source="${compobj.fields[$PCF.image]}"
    ng-init='conf_<%-compobj.id%>=<%-compobj.fields[$PCF.conf_obj]%>'>

    <a href="<%=compobj.fields[$PCF.readmore_link]%>">
        <%= 
            compobj.OPTM && compobj.OPTM.gen ?
            `
                <img class="card-img-top" 
                    src="${compobj.OPTM.gen}" 
                    alt="" 
                />
            ` :
            `
                <img class="card-img-top" 
                    src="${compobj.fields[$PCF.image]}" 
                    alt="" 
                />
            `
        %>
    </a>

    <div class="card-body">
        <h4 class="card-title">
            <a href="<%-compobj.fields[$PCF.readmore_link]%>">
                <%-compobj.fields[$PCF.title_df]%>
            </a>
        </h4>
        <p class="card-text">
            <%-compobj.fields[$PCF.descr_df]%>
        </p>

        <p ng-if="conf_<%-compobj.id%>.tags.length>0"
            ng-bind="'Includes'"
            class="text-bold card-includes">
        </p>
        <ul class="list-group card-tag-list"
            style="display:none"
            ng-if="conf_<%-compobj.id%>.tags.length>0">
            <li class="list-group-item" 
                ng-repeat="c in conf_<%-compobj.id%>.tags">
                <span ng-bind="c.label"></span>
            </li>
        </ul>
    </div>

    <div class="card-footer "
        style="background-color: #fff;border-top:0px;"
        id="learn-more-<%-compobj.id%>"
    </div>
</div>
