<section class="showcase card-s1 card-group <%-compobj.fields[$PCF.comp_size]%>" 
    ng-controller="x99BannerCar">
  <div class="container-fluid"
    ng-init="loadCardImage('<%=compobj.id%>', '<%=compobj.fields[$PCF.image]||'/img/bgray.png'%>' )">
    <div class="row no-gutters bg-light">

      <div class="col-lg-6 text-white showcase-img order-lg-1"
        style="margin-top:15px;background-image:url('<%=compobj.fields[$PCF.image]%>')">

      </div>

      <div class="col-lg-6 my-auto showcase-text order-lg-2">
        <h2>
            <%-compobj.fields[$PCF.title_df]%>
        </h2>
        <p class="xlead lead mb-0">
            <%-compobj.fields[$PCF.descr_df]%>
        </p>
        
        <a href="<%=compobj.fields[$PCF.readmore_link]%>" class="btn btn-primary btn-learnmore-card btn-block" ng-show="'<%-compobj.fields[$PCF.readmore_link]%>'" >
            Saber Mais
        </a>
      </div>
    </div>
  </div>
</section>

