<section class="showcase">
    <div class="container-fluid">
        <div class="row bg-light ">

            <div class="col-12 agenda-container">
                <h2 class="agenda-title">
                    <%- compobj.fields[$PCF.title_df] %>
                </h2>
                
                <p class="agenda-description">
                    <strong class="agenda-descr-label">Descrição</strong>
                    <%= compobj.fields[$PCF.descr_df] %>
                </p>

                <table class="table agenda-items">
                    <tbody>
                        <tr ng-if="'<%=compobj.agenda_conf.mentor%>'" style="border:0px;">
                            <td>
                                <%- compobj.agenda_conf.mentor_label||'Mentor'%>
                            </td>
                            <td>
                                <%- compobj.agenda_conf.mentor%>
                            </td>
                        </tr>

                        <tr ng-if="'<%=compobj.agenda_conf.duration%>'" style="border:0px;">
                            <td>
                                Duração
                            </td>
                            <td>
                                <%- compobj.agenda_conf.duration%>
                            </td>
                        </tr>

                        <tr ng-if="<%=compobj.agenda_conf.price%>" style="border:0px;">
                            <td>
                                Preço
                            </td>
                            <td>
                                <%- compobj.agenda_conf.price%>
                            </td>
                        </tr>

                        <tr ng-if="'<%=compobj.agenda_conf.material%>'" style="border:0px;">
                            <td>
                                Material
                            </td>
                            <td>
                                <%- compobj.agenda_conf.material%>
                            </td>
                        </tr>

                        <tr ng-if="'<%=compobj.agenda_conf.location%>'" style="border:0px;">
                            <td>
                                Localização
                            </td>
                            <td>
                                <%- compobj.agenda_conf.location%>
                            </td>
                        </tr>

                        <tr ng-if="'<%=compobj.agenda_conf.minimal_age%>'" style="border:0px;">
                            <td>
                                Idade Minima
                            </td>
                            <td>
                                <%- compobj.agenda_conf.minimal_age%>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a class="btn etx-bg-primary text-white btn-agenda-subscribe"
                    ng-if="'<%-compobj.agenda_conf.link_sub%>'"
                    target="__blank"
                    href="<%-compobj.agenda_conf.link_sub%>">
                    INSCREVER
                </a>

            </div>
        </div>
    </div>
</section>
